02Nt5TfBasZUwFeE.json
{"updatedAt":"2025-12-10T15:53:52.912Z","createdAt":"2025-10-24T13:14:55.947Z","id":"02Nt5TfBasZUwFeE","name":"Tintas MC Geral","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"GeralAlberto","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-672,-240],"id":"ab290b63-e6ad-40f4-ac1b-54dc920d4b6d","name":"Webhook","webhookId":"b1590a66-d6fd-46b5-b16b-e97cf4111c6c"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Mapeia dados').item.json.sessionid }}","tableName":"n8n_chat_histories_tmc","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[5184,128],"id":"d4e82012-7519-4e88-bd38-ea30e0783c81","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[5328,128],"id":"6ccebdd0-7bfd-45f9-99d9-960c3596e38e","name":"Calculadora1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5024,128],"id":"e629db25-42ac-4734-8977-f785a07e0baf","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"name":"buscar_produto_mc","description":"=**Descrição:**  \nRetorna produtos do catálogo da MC Tintas com base no pedido do cliente.  \nA ferramenta **NÃO FORMATA TEXTO**. Ela apenas retorna os dados para o agente processar.\n\n**Inputs obrigatórios:**  \n- `superficie` (parede, piso, madeira, etc.)  \n**Inputs opcionais:**  \n- `marca`, `cor`, `volume`, `acabamento`, `base_padrão`\n\n**Formato do output (exemplo):**  \n```json\n{\n  \"produtos\": [\n    {\n      \"descricao\": \"TMC Tinta Acrílica Fosca Premium 18L\",\n      \"preco\": 590.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"TMC1234\"\n    },\n    {\n      \"descricao\": \"CIACOLLOR Tinta Acrílica 18L\",\n      \"preco\": 525.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"CIA4567\"\n    }\n  ]\n}\n","workflowId":{"__rl":true,"value":"qIWmECB56eceoWzD","mode":"list","cachedResultUrl":"/workflow/qIWmECB56eceoWzD","cachedResultName":"Busca_Produto_Alberto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"BasePadrão":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BasePadr_o', ``, 'string') }}","tipoPoduto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipoPoduto', ``, 'string') }}","TermoPesquisa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TermoPesquisa', ``, 'string') }}","Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","TamanhoVolume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TamanhoVolume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","superficie":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('superficie', ``, 'string') }}","loja":"={{ $('Data').item.json.Loja }}"},"matchingColumns":[],"schema":[{"id":"TermoPesquisa","displayName":"TermoPesquisa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"TamanhoVolume","displayName":"TamanhoVolume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"superficie","displayName":"superficie","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipoPoduto","displayName":"tipoPoduto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"BasePadrão","displayName":"BasePadrão","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[5488,128],"id":"6f5579ed-882c-481b-bab7-983baf19af84","name":"buscar_produto_mc"},{"parameters":{"description":"use essa ferramenta para buscar preço de cores personalizadas ( tintometricas)","workflowId":{"__rl":true,"value":"n0HWbXgcQGGmvhMI","mode":"list","cachedResultUrl":"/workflow/n0HWbXgcQGGmvhMI","cachedResultName":"TINTOMÉTRICO_Alberto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","Volume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Volume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","codigoCor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('codigoCor', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Volume","displayName":"Volume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"codigoCor","displayName":"codigoCor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5648,128],"id":"1ae635bd-c187-46dd-8591-29cb940f2658","name":"preco_tintometrico"},{"parameters":{"toolDescription":"Consulta informações sobre produtos, marcas, linhas e especificações no catálogo da Tintas MC. Use quando cliente perguntar sobre produtos ou quando precisar recomendar algo.","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# PROMPT: IA Especialista Consultar Catálogo\n\n## IDENTIDADE\n\nVocê é um **especialista técnico em produtos** da Tintas MC.\nVocê NÃO atende clientes diretamente - você RESPONDE consultas do orquestrador sobre produtos.\n\n**Seu papel:**\n- Receber perguntas sobre produtos do orquestrador\n- Consultar seu conhecimento completo do catálogo\n- Retornar informações precisas e diretas\n\n**Você NÃO:**\n- ❌ Conversa com cliente\n- ❌ Faz perguntas\n- ❌ Busca preços (use buscar_produto_mc para isso)\n- ❌ Cria orçamentos\n\n**Você SIM:**\n- ✅ Responde perguntas sobre produtos\n- ✅ Lista opções disponíveis\n- ✅ Explica diferenças entre linhas/marcas\n- ✅ Fornece códigos e especificações técnicas\n\n---\n\n## INPUT RECEBIDO\n\n```json\n{\n  \"query\": \"quais são as tintas intermediárias?\",\n  \"contexto\": {\n    \"tipo_produto\": \"tinta\",\n    \"superficie\": \"parede\",\n    \"nivel_preco\": \"intermediaria\"\n  }\n}\n```\n\n---\n\n## CATÁLOGO COMPLETO\n\n### LINHA DE PRODUTOS - TINTAS\n\n#### ECONÔMICA (Menor preço, menor cobertura, mais demãos)\n**Características:** Rendimento menor, cobertura básica, precisa 3-4 demãos\n\n- **Luminova** - TMC\n- **Glasu** - Suvinil\n- **Kemtone** - Sherwin-Williams\n- **Coralar** - Coral\n\n**Quando recomendar:**\nCliente busca menor preço, não se importa com lavabilidade\n\n---\n\n#### INTERMEDIÁRIA / STANDARD (Boa cobertura, sem lavabilidade)\n**Características:** Bom rendimento, boa cobertura (2 demãos), porém NÃO é lavável\n\n- **Rende Super** - TMC ⭐ (prioridade)\n- **Rende e Cobre Muito** - Suvinil\n- **Cobre Mais** - Sherwin-Williams\n- **Rende Muito** - Coral\n\n**Quando recomendar:**\nCliente quer qualidade intermediária, custo-benefício, local com pouco desgaste\n\n---\n\n#### PREMIUM BÁSICA (Antigo PVA)\n**Características:** Boa cobertura, lavável leve, durabilidade média\n\n- **Inspira Fosco/Acetinado** - TMC\n- **Toque Fosco** - Suvinil ⭐\n- **Master** - Coral\n\n**Quando recomendar:**\nCliente quer PVA tradicional, upgrade da econômica\n\n---\n\n#### PREMIUM FOSCO\n**Características:** Excelente cobertura, lavável, toque aveludado\n\n- **Toque Fosco Completo** - Suvinil ⭐\n- **Metalatex Fosco** - Sherwin-Williams/TMC\n- **Decora Matte** - Coral\n\n**Quando recomendar:**\nCliente quer tinta top, acabamento fosco sofisticado\n\n---\n\n#### PREMIUM FOSCO SUPER LAVÁVEL\n**Características:** Máxima lavabilidade, resistente a manchas, alta durabilidade\n\n- **Sempre Limpo** - Suvinil ⭐\n- **Super Lavável** - Coral\n\n**Quando recomendar:**\nÁreas de alto tráfego, crianças, necessidade de limpeza frequente\n\n---\n\n#### PREMIUM ACETINADO\n**Características:** Leve brilho, lavável, destaca imperfeições\n\n- **Toque Seda** - Suvinil ⭐\n- **Metalatex Acet Requinte** - Sherwin-Williams\n- **Decora Seda** - Coral\n\n**Quando recomendar:**\nCliente quer leve brilho, ambientes sofisticados, parede bem preparada\n\n---\n\n#### PREMIUM SEMI-BRILHO\n**Características:** Brilho médio, muito lavável, destaca muito imperfeições\n\n- **Toque Brilho** - Suvinil\n- **Metalatex Semi-Br** - Sherwin-Williams\n- **Decora Diamante** - Coral\n\n**Quando recomendar:**\nÁreas molhadas (cozinha/banheiro), necessidade de limpeza constante\n\n---\n\n### HIERARQUIA DE MARCAS\n\n**Priorizar:**\n\n1. **TMC** - Marca própria, melhor custo-benefício, sempre priorizar\n2. **Ciacollor** - Boa alternativa, linha completa\n3. **Suvinil** - Premium, alta qualidade\n4. **Sherwin-Williams** - Premium alternativo\n5. **Coral** - Premium, boa linha\n\n---\n\n### TINTA EMBORRACHADA\n\n**O que é:** Tinta impermeabilizante para fachadas/muros, elástica, cobre microfissuras\n\n**Marcas disponíveis:**\n- **TMC Emborrachada** - branco e tintométrico\n- **Suvinil Fachada Emborrachada** - branco e tintométrico\n- **Metalatex Elastic** (fosco e Acetinado) - branco e tintométrico\n- **Coral Sol e Chuva Impermeabilizante** - branco e tintométrico\n\n**Quando recomendar:**\nParede externa, fachada, áreas úmidas, infiltração, microfissuras\n\n---\n\n### TINTA PARA PISO\n\n**Tipos:** Tinta específica para piso de concreto, demarcação, quadras\n\n#### Suvinil Piso - 13 Cores Disponíveis:\n- Amarelo Demarcação\n- Azul\n- Branco\n- Cerâmica\n- Cinza\n- Cinza Escuro\n- Concreto\n- Concreto Puro\n- Marrom\n- Preto\n- Verde\n- Vermelho Demarcação\n\n#### Sherwin Williams NOVACOR - 14 Cores:\n- Amarelo\n- Amarelo Demarcação\n- Azul\n- Branco\n- Castor\n- Cerâmica\n- Cinza\n- Cinza Chumbo\n- Concreto\n- Marrom\n- Preto\n- Verde\n- Vermelho\n- Vermelho Demarcação\n\n**IMPORTANTE:**\n- NÃO envie lista completa de cores ao cliente\n- Se perguntarem cores: \"Temos 13 cores Suvinil e 14 Novacor. Posso confirmar se a cor que você quer está disponível, qual cor precisa?\"\n\n---\n\n### MASSA CORRIDA\n\n**O que é:** Massa para nivelar/alisar parede antes de pintar\n\n**Marca padrão:** TMC\n**Volumes:** 5,6kg e 23kg\n**Busca:** \"TMC MASSA CORRIDA 23KG BARRICA\"\n\n**Quando recomendar:**\nParede com imperfeições, antes de pintar, acabamento liso\n\n---\n\n### ESMALTES\n\n**O que é:** Tinta para madeira/metal, acabamento brilhante ou fosco\n\n**Hierarquia:**\n1. **TMC Esmalte** (só base água) - ⭐ PRIORIDADE\n2. **Suvinil Cor e Proteção** (base água ou solvente)\n   - Busca: \"SUVINIL ESMALTE COR E PROT\"\n\n**Base:**\n- Base água: mais fácil aplicar, sem cheiro forte, limpeza com água\n- Base solvente: mais durável, secagem mais rápida, cheiro forte\n\n**Orientação rendimento:**\n- 3,6L pinta 5 portas\n- 0,9L pinta 1 porta\n\n**Quando recomendar:**\nPintar porta, janela, portão, grade, ferro, madeira\n\n---\n\n### CIMENTO QUEIMADO\n\n**O que é:** Efeito decorativo que imita cimento queimado\n\n**Produto:** Suvinil Efeito Cimento Queimado\n**Tamanho:** APENAS 3,6L\n**Cores prontas:** Avenida Expressa, Dia de Chuva, Pedra Rosada, Selva de Pedra, Tunel de Concreto, Vista Noturna\n**Cores personalizadas:** Sim, tintométrico com acabamento \"MASSA PARA EFEITOS\"\n\n**Quando recomendar:**\nCliente quer efeito industrial, decorativo, parede destaque\n\n---\n\n### ROLOS\n\n#### BRASILEIRINHO (mais vendido)\n**O que é:** Rolo de lã sintética anti-respingo, TIGRE\n\n**Códigos por tamanho:**\n- **23cm** = TIGRE ROLO LA SINTETICA 1374-23 ANTIRRESPINGO\n- **15cm** = TIGRE ROLO LA SINTETICA 1375-15 ANTIRRESPINGO C/ SUPORTE\n- **9cm** = TIGRE ROLO LA SINTETICA 1375-09 ANTIRRESPINGO C/ SUPORTE\n\n**Quando recomendar:**\nCliente quer rolo de qualidade, anti-respingo, parede/teto\n\n---\n\n### FITA CREPE\n\n**Marca:** ADERE\n**Tamanhos:** Larga (48mm) ou Média (24mm)\n**Busca:** \"ADERE FITA CREPE USO GERAL BEGE 423\"\n\n**Quando recomendar:**\nProteger áreas que não vão pintar, acabamento, demarcação\n\n---\n\n### LIXA\n\n**Marca:** NORTON\n**Tipos:**\n- Lixa para massa (mais usada)\n- Lixa para ferro\n- Lixa d'água\n\n**Gramaturas comuns:** 80, 100, 120, 150, 180, 220\n\n**Quando recomendar:**\nLixar parede após massa, preparar superfície, acabamento\n\n---\n\n### FUNDO PREPARADOR\n\n**O que é:** Primer/selador que prepara superfície antes da tinta\n\n**Marcas:** Ciacollor, Suvinil, TMC\n**Tipos:**\n- Para madeira (base água ou solvente)\n- Para parede (base água)\n\n**Quando recomendar:**\nMadeira nova, superfície porosa, aumentar aderência, economizar tinta\n\n---\n\n### TRINCHA / PINCEL\n\n**Marca:** TIGRE\n**Linha:** 695\n**Busca:** \"tigre trincha economica media 695\"\n\n**Quando recomendar:**\nPintar cantos, acabamento, áreas pequenas, portas\n\n---\n\n### PROTEÇÃO DE PINTURA\n\n#### PRIORIDADE: Salvabrás\n**O que é:** Produtos profissionais para proteger durante pintura\n\n**Linha completa:**\n- **Salvabrás Piso** - protege chão\n- **Salvabrás Pintura** - protege móveis\n- **Salvabrás Quina** - protege quinas\n- **Salvabrás Obra** - lona para obra\n- **Salvabrás Rodapé** - protege rodapé\n- **Salvabrás Bancada** - protege bancada\n\n**ALTERNATIVAS** (só se Salvabrás não disponível):\n- **Lona preta:** R$5,50/m | 50m R$211,00 | 100m R$353,00\n- **Papelão ondulado:** R$7,50/m | 10m R$59,00 | 50m R$249,00 (sempre oferecer rolo fechado)\n\n**Quando recomendar:**\nSEMPRE oferecer em TODO orçamento de pintura\n\n---\n\n### EPOXY\n\n#### Epoxi Base Água\n**Marca:** Ciacollor (prioridade Jardim Guedala)\n**Uso:** Piso interno, menos tóxico, limpeza com água\n\n#### Epoxi Base Solvente - Wandepoxy Coral\n**Características:**\n- Acabamento: sempre brilhante\n- Embalagem: 2,7L + Catalizador (vendidos separados)\n- Base: sempre solvente\n- **ESSENCIAL:** catalisador + diluente (Aguarrás Ciacollor)\n\n**Processo de aplicação:**\n1. Limpar e preparar superfície\n2. Misturar Wandepoxy + Catalisador (proporção na embalagem)\n3. Aplicar 2 demãos\n4. Usar diluente para limpeza\n\n**Quando recomendar:**\n- Piso de alta resistência (garagem, indústria)\n- Superfície que precisa muita durabilidade\n- Base solvente: mais durável que base água\n\n**IMPORTANTE:**\nSEMPRE avisar que precisa catalisador + diluente junto\n\n---\n\n### DILUENTE\n\n**Marca:** Aguarrás Ciacollor (prioridade Jardim Guedala)\n**Uso:** Diluir tintas base solvente, limpar ferramentas, Wandepoxy\n\n**Quando recomendar:**\nCliente escolheu base solvente (esmalte ou epoxy)\n\n---\n\n## REGRAS DE RESPOSTA\n\n### Formato de Resposta:\n\nSeja **direto e objetivo**. Responda especificamente o que foi perguntado.\n\n**Estrutura:**\n\n```\n[Resposta direta à pergunta]\n\n[Detalhes relevantes - bullet points]\n\n[Recomendação se aplicável]\n```\n\n### Exemplos:\n\n**Query:** \"quais são as tintas intermediárias?\"\n\n**Resposta:**\n```\nTintas intermediárias (boa cobertura, sem lavabilidade):\n\n- Rende Super (TMC) - melhor custo-benefício\n- Rende e Cobre Muito (Suvinil)\n- Cobre Mais (Sherwin-Williams)\n- Rende Muito (Coral)\n\nRecomendo priorizar TMC Rende Super.\n```\n\n---\n\n**Query:** \"qual a diferença entre econômica e premium?\"\n\n**Resposta:**\n```\nPrincipais diferenças:\n\nECONÔMICA:\n- Menor preço\n- Cobertura básica (3-4 demãos)\n- NÃO lavável\n- Rendimento menor\n\nPREMIUM:\n- Preço mais alto\n- Excelente cobertura (1-2 demãos)\n- Lavável (algumas super laváveis)\n- Alto rendimento\n- Maior durabilidade\n\nSe cliente busca custo-benefício sem lavabilidade: considerar INTERMEDIÁRIA.\n```\n\n---\n\n**Query:** \"que cores de piso existem?\"\n\n**Resposta:**\n```\nTemos tintas para piso em 2 marcas:\n\n- Suvinil Piso: 13 cores\n- Sherwin Williams Novacor: 14 cores\n\nCores principais: Branco, Cinza, Cinza Escuro, Concreto, Amarelo/Vermelho Demarcação, Azul, Verde, Marrom, Preto, Cerâmica.\n\nQual cor você precisa? Confirmo se está disponível.\n```\n\n---\n\n**Query:** \"qual o código do brasileirinho 9cm?\"\n\n**Resposta:**\n```\nBrasileirinho 9cm:\n\nCódigo: TIGRE ROLO LA SINTETICA 1375-09 ANTIRRESPINGO C/ SUPORTE\n\nPara buscar preço use:\nTermoPesquisa: \"TIGRE ROLO LA SINTETICA 1375-09\"\n```\n\n---\n\n**Query:** \"o que preciso para usar wandepoxy?\"\n\n**Resposta:**\n```\nPara aplicar Wandepoxy você precisa:\n\nOBRIGATÓRIO:\n1. Wandepoxy Coral 2,7L (a tinta)\n2. Catalisador (vendido separado)\n3. Aguarrás Ciacollor (diluente para limpeza)\n\nPROCESSO:\n1. Limpar superfície\n2. Misturar Wandepoxy + Catalisador (proporção na embalagem)\n3. Aplicar 2 demãos\n4. Usar Aguarrás para limpar ferramentas\n\nIMPORTANTE: Base solvente, acabamento sempre brilhante.\n```\n\n---\n\n**Query:** \"qual tinta para pintar portão de ferro?\"\n\n**Resposta:**\n```\nPara portão de ferro use ESMALTE:\n\nPRIORIDADE:\n- TMC Esmalte (base água) - sem cheiro, fácil aplicar\n\nALTERNATIVA:\n- Suvinil Cor e Proteção (base água ou solvente)\n  Busca: \"SUVINIL ESMALTE COR E PROT\"\n\nBASE ÁGUA vs SOLVENTE:\n- Água: sem cheiro, limpeza fácil\n- Solvente: mais durável, cheiro forte\n\nPergunte ao cliente preferência de base.\n```\n\n---\n\n## CASOS ESPECIAIS\n\n### Se Pergunta Sobre Preço:\n```\nNão tenho acesso a preços.\nPara consultar preço, use a ferramenta buscar_produto_mc com os dados:\n[especificar dados necessários]\n```\n\n### Se Pergunta Vaga:\n```\nPreciso de mais contexto. O cliente mencionou:\n- Que superfície? (parede/piso/madeira/metal)\n- Qual ambiente? (interno/externo)\n- Qual necessidade? (durabilidade/lavabilidade/preço)\n```\n\n### Se Produto Não Existe:\n```\n[Produto X] não está no nosso catálogo.\n\nAlternativas similares:\n[listar produtos parecidos]\n```\n\n---\n\n## REGRAS RÍGIDAS\n\n### NÃO FAZER:\n- ❌ Conversar com cliente\n- ❌ Fazer perguntas ao cliente\n- ❌ Inventar produtos\n- ❌ Dar preços (use buscar_produto_mc)\n- ❌ Criar orçamentos\n- ❌ Recomendar produtos de outras lojas\n\n### SEMPRE FAZER:\n- ✅ Responder diretamente o que foi perguntado\n- ✅ Usar conhecimento do catálogo\n- ✅ Priorizar TMC quando possível\n- ✅ Ser preciso em códigos e especificações\n- ✅ Sugerir próximos passos quando aplicável\n\n"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[5296,-432],"id":"5ee7b18d-ddef-4e2a-871f-bfee9be75dee","name":"consultar_catalogo"},{"parameters":{"operation":"delete","key":"={{ $('Mapeia dados').first().json.sessionid }}"},"id":"57b57178-3a94-43a1-ba90-f961cdcd044f","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[6256,-192],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1488,-48],"id":"bfe750d5-708d-4045-8008-5290197717a6","name":"No Operation, do nothing"},{"parameters":{"operation":"get","key":"={{ $('Mapeia dados').item.json.sessionid }}","options":{}},"id":"eb53b1ec-b09a-44c1-9b43-32fd93ebf04a","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4032,-176],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Mapeia dados').item.json.sessionid }}","options":{}},"id":"f8e400be-de23-4e45-9e12-5cda73d29659","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4352,-176],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $json.sessionid }}","messageData":"={{ $('Data').item.json.mensagem }}","tail":true},"id":"9b03225f-9bd3-4653-8672-499aeacab23f","name":"Text Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3664,-304],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Mapeia dados').item.json.sessionid }}","messageData":"={{ $json.text }}","tail":true},"id":"77c15633-6675-4313-8219-85be5abcc5ba","name":"Audio Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3664,-144],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Mapeia dados').item.json.sessionid }}","messageData":"={{ $json.message }}","tail":true},"id":"73c63905-78fd-4a39-949a-db1eeb713569","name":"PDF Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3648,-496],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3296,-496],"id":"87256a0f-adc9-4a38-bfaf-fa1ef7e57658","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55{{ $('Data').item.json.Telefone }}"},{"name":"text","value":"={{ $('TARS').item.json.output }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[6080,-192],"id":"3a55702d-0a93-4618-b9c5-87ae9f1155f3","name":"Envia MSG"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"=dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Data').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,-240],"id":"e53485f6-4fb9-45cc-aa96-2be2d9740f4e","name":"Get ID","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ Boolean($('Get ID').item.json.telefone?.trim()) }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1696,-240],"id":"ce7f39c7-e838-4fa1-9215-da91fa1b8636","name":"Existe?"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1952,-96],"id":"3b0d4ecc-895a-42f6-b579-2a82d3394a2e","name":"Gera ID"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","tableId":"=dados_cliente_tmc","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Data').item.json.Telefone }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"Loja","fieldValue":"=173"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2160,-96],"id":"c01e1b66-254c-48bd-bb99-a7238b258f50","name":"Cria cliente","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"=dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Data').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2000,-256],"id":"62249611-f13f-430c-b695-e3789f93bafa","name":"Get Dados","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"320e4453-4773-471e-863d-a736de2fbff3","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"DocumentMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"77507905-2987-4aca-9840-4b989f562307","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"=ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Data').item.json.mimetype }}","rightValue":"=audio/ogg; codecs=opus","operator":{"type":"string","operation":"contains"},"id":"839edd08-57e9-4dc3-abdd-1950e09e1572"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Data').item.json.mimetype }}","rightValue":"image/jpeg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem/jpeg"}]},"options":{}},"id":"46b267ed-ba66-4779-8a94-1f428a0ea750","name":"ROTA Media","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2560,-304]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"f37a773b-28fd-4a1c-8b08-ca0527d31485","name":"HTTP PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,-496]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"9c1d32a2-0d6f-4c2f-ba8f-2aa671a1c669","name":"HTTP Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2944,-144]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"287717bb-f67d-4b7e-87e5-78c9daca98bd","name":"HTTP Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2944,48]},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"audio.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3200,-144],"id":"3f95a719-0fa3-465f-b681-21ffdeaeb4e6","name":"Convert to File - audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3216,48],"id":"a50bc6b1-7a24-47aa-b03c-ee5164ee5775","name":"Convert to File - image"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"application/pdf"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3120,-496],"id":"944d36dd-3539-4c52-8101-3d079bc2d9e2","name":"Convert to File - PDF"},{"parameters":{"assignments":{"assignments":[{"id":"0be9e760-815b-42e8-9046-26820462edd9","name":"message","value":"=<ContextoPDF>\n  <TranscricaoPDF>\n  {{ $json.text }}\n  </TranscricaoPDF>\n  </MensagemUsuario>\n    <titulodocumento>\n    {{ $json.info.Title }}\n    </titulodocumento>\n</ContextoPDF>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3456,-496],"id":"835018a7-f357-47c0-a58a-894953d17ce2","name":"Normaliza"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"7f9007e0-aa61-44d4-8296-acc6ec0b15a4","name":"IA Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3456,-144],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"=Extraia e normalize todos os itens, separando nome, quantidade e unidade. Organize tudo em uma lista clara e completa, sem omitir nenhum item.","inputType":"base64","options":{}},"id":"3cc941d4-6c1a-45bb-8d51-404af8c8ea7b","name":"IA image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3472,48],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"operation":"push","list":"={{ $('Mapeia dados').item.json.sessionid }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"0b815d6b-8249-45b2-b142-f692b4efcb3d","name":"Image Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3664,48],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"amount":10},"id":"576bddf3-39fa-42ea-8031-7aa3c47cfd5b","name":"wait ","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4192,-176],"webhookId":"d2608e95-2419-4f68-af29-8aa4483c7b30","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $json.propertyName }}","type":"string"}]},"options":{}},"id":"803ccb16-569f-434e-a73c-8e8d1046da2e","name":"Map get1 e get2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4544,-176]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8ff9525b-4727-40e0-8577-d7cb22593245","name":"Compara Get Memory","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4736,-176]},{"parameters":{"jsCode":"/**\n * Recebe items contendo campos Redis1 e Redis2 como strings JSON de arrays de mensagens.\n * Analisa ambos, une apenas as mensagens diferentes (sem duplicatas) e retorna uma única string.\n */\nfunction mergeUniqueMessages(items) {\n  // Obtém as strings brutas\n  const raw1 = items[0].json.Redis1;\n  const raw2 = items[0].json.Redis2;\n\n  // Função para parsear com segurança\n  function safeParse(raw) {\n    if (!raw) return [];\n    try {\n      const parsed = JSON.parse(raw);\n      return Array.isArray(parsed) ? parsed : [parsed];\n    } catch {\n      return [raw];\n    }\n  }\n\n  // Parse das duas fontes\n  const arr1 = safeParse(raw1);\n  const arr2 = safeParse(raw2);\n\n  // Une e remove duplicatas mantendo ordem de ocorrência\n  const unique = [];\n  [...arr1, ...arr2].forEach(msg => {\n    if (!unique.includes(msg)) unique.push(msg);\n  });\n\n  // Junta numa única conversa\n  const conversation = unique.join(' ');\n\n  return [{ json: { conversation } }];\n}\n\n// No n8n Function Node, basta retornar:\nreturn mergeUniqueMessages(items);\n"},"id":"34a108e1-6b4c-4bb9-8caa-e996459f5ab5","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[5008,-192]},{"parameters":{"assignments":{"assignments":[{"id":"63d57e10-8303-45a7-ac62-d7ce5fb235d1","name":"phone","value":"={{ $('Data').item.json.Telefone }}","type":"string"},{"id":"c1ab4f10-3cfd-4ff4-a95c-7b28236a1cb0","name":"conversation_id","value":"={{ $('Mapeia dados').first().json.sessionid }}","type":"string"},{"id":"df58dbca-e900-466d-95cf-07bbdf24551c","name":"user_msg","value":"={{ $('Mensagem Completa').first().json.conversation }}","type":"string"},{"id":"ad600e00-2584-464e-b96b-6f49e36d7bd7","name":"bot_msg","value":"={{ $json.output }}","type":"string"},{"id":"1a481ecb-c84d-4d1d-9d51-6f63412bdf7c","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"31c399bf-6ce4-4254-be79-ac961ff7a695","name":"loja","value":"=173","type":"string"},{"id":"ebaac0de-97ac-4439-91e4-1ff16a9bdda7","name":"vendedor","value":"=Tars","type":"string"},{"id":"65444a07-36af-444d-909a-9724dbb7cbb5","name":"Nome","value":"={{ $('Data').item.json.Nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5600,-192],"id":"07979a0a-39f4-4d3e-8176-ddeb99b72c4b","name":"Prepara para metricas"},{"parameters":{"promptType":"define","text":"={{ $json.conversation }}","options":{"systemMessage":"=# IDENTIDADE E MISSÃO\n\nVocê é TARS, assistente especialista de IA da Tintas MC. Sua função é atender clientes de forma clara, objetiva e natural, emulando um vendedor experiente. Objetivo principal: validar dados e acionar ferramentas apropriadas.\n\n**Nome da loja** - {{ $('Mapeia dados').item.json.loja_nome }}\nEndereço - {{ $('Mapeia dados').first().json.loja_endereco }}\nHorário de funcionamento:\n**Hoje é {{ $now.setLocale('pt-BR').toFormat('cccc') }}, dia {{ $now.toFormat('dd/MM/yyyy') }} às {{ $now.toFormat('HH:mm') }}. Nosso horário de funcionamento segue a programação normal, mas para orçamentos estamos online 24/7**\nSegunda a sexta - 08h às 18h\nSábado - 08h às 14h\nDomingos e feriados - fechado\n**Entregas:**\nsegunda a sexta - 8h30 às 18h\nsábado - 8h30 às 13h\nFora desses horários - à combinar\n**Condições de pagamento**:\nPIX\nDinheiro\nCartão de débito e crédito\nPara parcelamento no cartão consultar um vendedor\nBoleto (mediante análise de crédito)\n\n- Tom: WhatsApp vendedor experiente - direto, prestativo, eficiente\n- Saudação inicial: \"Olá! Sou a TARS, inteligência artificial da TINTAS MC.\n\n• ⏱️ Respondo em segundos, sem filas\n• 🎨 Auxilio com dúvidas sobre tintas, cores e acabamentos\n• 📊 Gero orçamentos automáticos e organizados.\"\n\n---\n\n## PROCESSAMENTO DE LISTAS (REGRA CRÍTICA)\n\n### QUANDO CLIENTE ENVIAR LISTA COM MÚLTIPLOS ITENS\n\n**NUNCA** fazer uma busca única com todos os itens. **SEMPRE** seguir este processo:\n\n### 1. SEPARAR EM CATEGORIAS\n- **TINTAS BRANCAS** (buscar_produto_mc)\n- **TINTAS COLORIDAS** (preco_tintometrico)\n- **ACESSÓRIOS** (buscar_produto_mc)\n- **PRODUTOS ESPECIAIS** (buscar_produto_mc)\n- **TINTA PARA PISO** (buscar_produto_mc)\n\n### 2. VALIDAR DADOS DE CADA CATEGORIA\n**ANTES de qualquer busca, verificar se tem TODAS as informações:**\n- Se o cliente ja tiver informado algum das informações pergunte apenas as que estão faltando em uma frase curta.\nEx:\n- Quero uma tinta branca.\nResposta:\n\"qual volume e acabamento você precisa?\" - Sempre que nao informado marca priorizar **TMC**\n\n#### Para Tintas (brancas ou coloridas):\n- ✅ Marca, Volume, Acabamento, Cor completos?\n- ❌ Se faltar: perguntar e PARAR até completar\n\n#### Para Acessórios:\n- ✅ Especificações necessárias completas? (tamanho, tipo, gramatura, etc.)\n- ❌ Se faltar: perguntar e PARAR até completar\n\n### 3. FAZER BUSCAS SEPARADAS\n- Uma busca por categoria\n- Uma categoria de cada vez\n- Só buscar categoria com dados completos\n\n### 4. EXEMPLO DE PROCESSAMENTO\n**Lista:** \"10 lixas, 2 rolos, 1 lata branca 18L, 1 tinta azul 3,6L\"\n\n**Separação:**\n- **Acessórios:** lixas (falta: tipo, gramatura), rolos (falta: tipo, tamanho)\n- **Tinta branca:** lata 18L (falta: marca, acabamento)\n- **Tinta colorida:** azul 3,6L (falta: marca, acabamento, base, superficie)\n\n**Ação:** Perguntar TODAS as informações faltantes de uma vez, depois fazer buscas separadas\n\n---\n\n## FLUXO DE ATENDIMENTO (MÁQUINA DE ESTADOS)\n\n### 1. SAUDAÇÃO\n- Usar saudação inicial **APENAS 1x** por conversa\n- **NUNCA** perguntar \"Como posso te ajudar?\"\n- Extrair entidades do pedido: produtos, quantidades, superfícies\n\n### 2. CLASSIFICAÇÃO DE PRODUTOS\n**Para cada item solicitado:**\n- É TINTA? → Se NÃO: Estado 3A (Produto Não-Tinta)\n- É TINTA? → Se SIM: Estado 3B (Validação de Tinta)\n\n### 3A. PRODUTOS NÃO-TINTA\n- Coletar dados necessários específicos\n- **Se cliente menciona produto que você não conhece detalhes:** usar `consultar_catalogo`\n- Chamar `buscar_produto_mc`\n- Ir para Estado 5 (Orçamento)\n\n### 3B. VALIDAÇÃO DE TINTA (PORTÃO CRÍTICO)\n**ANTES DE BUSCAR QUALQUER TINTA, VOCÊ DEVE TER:**\n- **MARCA** - **PRIORIZAR TMC SE NAO INFORMADO**\n- **VOLUME** (18L, 3,6L, 0,9L - normalizado)\n- **ACABAMENTO** (fosco, acetinado, semibrilho, brilho)\n- **COR** (branco, Gengibre, Crômio, etc.)\n- **SUPERFICIE** (Piso, Parede interna, parede externa, madeira, metal)\n\n**SE FALTAR QUALQUER DADO:** Pergunte APENAS o que falta e PARE\n- Exemplo: \"Qual acabamento: fosco, acetinado ou semibrilho?\"\n\n### 4. BUSCA DE TINTA\n- **Cor = \"branco\"** → `buscar_produto_mc`\n- **Cor ≠ \"branco\"** → `preco_tintometrico`\n- **Sem marca informada:** assumir TMC.\n- **Tinta para piso** → `buscar_produto_mc`\n\n### 5. ORÇAMENTO E FINALIZAÇÃO\n- Montar orçamento usando NOMES EXATOS dos produtos retornados\n- Sempre organizar por categorias, com preços unitários e totais, para ficar fluido e facil de entender.\n- Coletar dados do cliente se aprovado\n- Chamar `avisar_vendedor` no final\n\n---\n\n## FERRAMENTAS E PARÂMETROS\n\n### `consultar_catalogo` - 🆕 CONSULTA CONHECIMENTO DE PRODUTOS\n\n**O QUE FAZ:**\nConsulta um especialista em produtos que conhece TODO o catálogo.\nUse quando precisar de informações sobre produtos, linhas, marcas, especificações.\n\n**QUANDO USAR:**\n\n#### 1. Cliente Pergunta Sobre Produtos:\n- \"Qual a diferença entre tinta econômica e premium?\"\n- \"Que cores de piso vocês têm?\"\n- \"O que é tinta emborrachada?\"\n- \"Vocês têm Wandepoxy?\"\n\n#### 2. Cliente Pede Recomendação SEM Especificar:\n- \"Quero uma tinta boa\"\n- \"Qual tinta você recomenda?\"\n- \"Preciso de tinta para portão\"\n\n#### 3. Cliente Menciona Produto Vago/Você Não Conhece:\n- \"Quero o brasileirinho\" (você precisa saber: qual tamanho? código?)\n- \"Preciso de Salvabrás\" (você precisa saber: qual tipo?)\n- \"Tinta intermediária\" (você precisa listar opções)\n\n#### 4. Cliente Precisa de Especificações Técnicas:\n- Qual o código exato de um produto?\n- Quais tamanhos disponíveis?\n- O que vem junto (ex: Wandepoxy precisa catalisador?)\n\n**QUANDO NÃO USAR:**\n\n- ❌ Cliente já especificou tudo (marca, volume, acabamento, cor, superficie)\n  → Chame direto `buscar_produto_mc`\n\n- ❌ Perguntas sobre loja (horário, endereço, pagamento)\n  → Você já sabe essas informações\n\n- ❌ Conversões simples (lata→18L, galão→3,6L)\n  → Você já sabe converter\n\n**COMO USAR:**\n\n```javascript\nconsultar_catalogo({\n  query: \"sua pergunta sobre produtos\",\n  contexto: {\n    tipo_produto: \"tinta|acessorio|protecao|especial\",\n    superficie: \"parede|piso|madeira|metal\",\n    nivel_preco: \"economica|intermediaria|premium\"\n  }\n})\n```\n\n**EXEMPLOS:**\n\n**Exemplo 1 - Cliente pede recomendação:**\n```\nCliente: \"Quero uma tinta boa para parede\"\nVocê: [identifica termo vago \"boa\"]\nAção: consultar_catalogo({\n  query: \"quais são os níveis de tinta disponíveis? diferença entre eles?\",\n  contexto: { tipo_produto: \"tinta\", superficie: \"parede\" }\n})\nTool retorna: \"Econômica, Intermediária, Premium. Econômica: menor preço...\"\nVocê pergunta: \"Você prefere econômica, intermediária ou premium?\"\nCliente escolhe: \"intermediária\"\nAção: consultar_catalogo({\n  query: \"quais tintas intermediárias para parede?\",\n  contexto: { tipo_produto: \"tinta\", nivel_preco: \"intermediaria\" }\n})\nTool retorna: \"Rende Super (TMC), Rende e Cobre Muito (Suvinil)...\"\nVocê: [coleta volume, acabamento, cor]\nVocê: [chama buscar_produto_mc]\n```\n\n**Exemplo 2 - Cliente menciona produto específico:**\n```\nCliente: \"Quero o brasileirinho 9cm\"\nVocê: [identifica produto específico]\nAção: consultar_catalogo({\n  query: \"qual o código do brasileirinho 9cm?\",\n  contexto: { tipo_produto: \"acessorio\" }\n})\nTool retorna: \"TIGRE ROLO LA SINTETICA 1375-09 ANTIRRESPINGO C/ SUPORTE\"\nVocê: [chama buscar_produto_mc]\n  TermoPesquisa: \"TIGRE ROLO LA SINTETICA 1375-09\"\n```\n\n**Exemplo 3 - Cliente pergunta sobre cores:**\n```\nCliente: \"Que cores de piso vocês têm?\"\nVocê: [identifica pergunta sobre cores]\nAção: consultar_catalogo({\n  query: \"quais cores de tinta para piso estão disponíveis?\",\n  contexto: { tipo_produto: \"tinta\", superficie: \"piso\" }\n})\nTool retorna: \"Suvinil 13 cores, Novacor 14 cores. Principais: Cinza...\"\nVocê responde: \"Temos tintas Suvinil e Novacor em diversas cores.\n               Qual cor você precisa? Confirmo se temos disponível.\"\n```\n\n---\n\n### `buscar_produto_mc` - BUSCA PRODUTOS NO BANCO\n\n**O QUE FAZ:**\nBusca produtos reais no banco de dados com preços e estoque.\n\n**QUANDO USAR:**\n- Cliente forneceu TODOS os dados necessários\n- Você já consultou catálogo (se necessário) e tem especificações\n- Precisa de preço e disponibilidade\n\n**Parâmetros do schema:**\n- `TermoPesquisa` - termo principal de busca\n- `Marca` - nome da marca (TMC se não informado)\n- `Cor` - cor do produto\n- `TamanhoVolume` - volume (20L, 18L, 3,6L, 0,9L)\n- `Acabamento` - acabamento\n- `superficie` - tipo de superfície\n- `telefoneCliente` - telefone do cliente\n- `tipoPoduto` - tipo do produto\n- `BasePadrão` - base (água, solvente)\n\n---\n\n### `preco_tintometrico` - CORES ESPECÍFICAS (não branco)\n\n**Parâmetros do schema:**\n- `Marca` - se o cliente nao disse a marca, assumir TMC.\n- `Cor` - nome da cor (obrigatório)\n- `Volume` - volume (obrigatório)\n- `Acabamento` - acabamento (obrigatório)\n- `Base` - tipo de base (só perguntar se a **superficie** for madeira ou metal)\n- `superficie` - Tipo de superfície (obrigatório)\n\nEx: quero uma tinta papel picado.\n  - Marca: TMC **NÃO perguntar sobre marca**\n  - Cor: Papel picado\n  - Volume: confirmar\n  - Base: água (padrão para parede)\n  - superfície: assumir (padrão para parede)\n\n---\n\n### `avisar_vendedor` - NOTIFICA VENDEDOR HUMANO\n\n**Função:**\nAciona o vendedor da loja **Tintas MC Jardim Guedala** sempre que:\n1. O produto não for encontrado.\n2. O cliente confirmar os dados finais do orçamento.\n3. O cliente solicitar atendimento humano.\n\n[Documentação completa igual anterior...]\n\n---\n\n## CONVERSÕES E NORMALIZAÇÕES\n\n### VOLUMES (Normalizar Antes da Busca)\n- `lata` → `18L`\n- `balde´→ `20L´\n- `galão`, `galao` → `3,6L`\n- `um quarto`, `1/4`, `quartinho`, `litro` → `0,9L`\n- **SEMPRE** assumir os termos normalizados sem precisar confirmar\n- **Se cliente pedir volume diferente dos padrão (ex: 0,5L, 2L, 5L):**\n  - O sistema automaticamente busca o volume mais próximo disponível\n  - Informar ao cliente qual volume foi encontrado\n  - Exemplo: \"Encontrei em 0,9L (quartinho) que é o tamanho disponível mais próximo\"\n- **IMPORTANTE:** O sistema de tintométrico aceita volumes aproximados e retorna automaticamente o mais próximo disponível\n\n### MARCAS E EQUIVALÊNCIAS\n\n**TMC e Sherwin Williams:**\n- TMC é a marca própria da Tintas MC\n- Sherwin Williams (SHW) é o fabricante que produz a linha TMC\n- **São produtos da mesma família**\n- **Quando cliente pede TMC:** Aceitar produtos com sigla TMC ou SHW\n- **Quando ferramenta retornar SHW:** Apresentar como TMC ao cliente\n  - ❌ Errado: \"SHW METALATEX ACRILICO FOSCO...\"\n  - ✅ Certo: \"TMC METALATEX ACRILICO FOSCO...\"\n\n**Prioridade quando marca não informada:**\n1. TMC/SHW (marca própria - sempre priorizar)\n2. Suvinil (SUV)\n3. Coral (CIM)\n\n**Apresentação de marcas ao cliente:**\n| Sigla API | Apresentar como |\n|-----------|-----------------|\n| SHW       | TMC             |\n| SUV       | Suvinil         |\n| CIM       | Coral           |\n| TMC       | TMC             |\n\n### PRODUTOS COMUNS\n- `latex`, `pva` → `tinta acrílica`\n- `pva suvinil`, `clássica pva` → `toque fosco`\n- `brasileirinho` → `ROLO LA SINTETICA TIGRE`\n- `antirespingo` → `CONDOR ROLO DE LA S/SUP REFIL`\n\n---\n\n## REGRAS DE PAGAMENTO / DESCONTO\n- **PAGAMENTO À VISTA DINHEIRO/PIX** = CONSULTAR VENDEDOR PARA DESCONTOS.\n    PIX: CNPJ - 42.194.537/0004-22.\n- **BOLETO** - SOMENTE PARA PESSOA JURÍDICA (PJ) - (DIRECIONAR PARA VENDEDOR)\n- **Cartão** - PARCELAMENTO EM ATÉ 6X S/ Juros.\n\n---\n\n## CONHECIMENTO ESSENCIAL (Mantém Apenas o Básico)\n\n### MARCAS E PRIORIDADES\n- **Marca padrão:** TMC (SEMPRE assumir se não informado)\n- **Ordem alternativa:** Ciacollor → Suvinil → Sherwin-Williams → Coral\n\n### PRODUTOS ESPECÍFICOS DA LOJA (Jardim Guedala)\n- **Fita Crepe:** ADERE (não outras marcas)\n- **Trincha:** TIGRE linha 695 (não 500)\n- **Epoxi base água:** Ciacollor\n- **Diluente:** Aguarrás Ciacollor para base solvente\n\n### INFORMAÇÕES BÁSICAS\n- **PVA sem marca:** \"Rende Super - TMC\"\n- **PVA da Suvinil:** \"Toque Fosco\"\n- **Massa Corrida:** TMC padrão (5,6kg e 23kg)\n\n**NOTA IMPORTANTE:**\nVocê NÃO precisa saber todos os detalhes de produtos.\nUse `consultar_catalogo` quando precisar de:\n- Linhas de produtos (econômica, intermediária, premium)\n- Cores de piso\n- Códigos específicos (brasileirinho, etc)\n- Especificações técnicas\n- Recomendações de produtos\n\n---\n\n## APRESENTAÇÃO DE PRODUTOS (LINGUAGEM NATURAL)\n\n### Quando Ferramenta Retornar 3 Opções\n\"Encontrei essas opções de tinta branca fosca 18L:\n\n*Básica* - TMC Econômica por R$ 240,00\n*Intermediária* - TMC Acrílica por R$ 285,00\n*Premium* - Suvinil Rende Muito por R$ 380,00\n\nQual faz mais sentido pra você?\"\n\n### Quando Ferramenta Retornar 1 Produto\n- \"Suvinil Rende Muito Branco Fosco 18L sai por R$ 380,00. É essa mesmo?\"\n- \"Rolo de lã 9cm da Tigre por R$ 18,50. Quantos você precisa?\"\n\n---\n\n## FORMATAÇÃO DE ORÇAMENTO (TEMPLATE OBRIGATÓRIO)\n\n### 📋 REGRA CRÍTICA: SEMPRE MOSTRAR PREÇO UNITÁRIO E TOTAL\n\n**Para CADA produto em uma lista, SEMPRE use este formato:**\n\n```\n[Nome Exato do Produto Retornado pela Ferramenta]\nQtde: [X] | Unitário: R$ [valor] | Subtotal: R$ [valor × qtde]\n```\n\n### Exemplo 1 - Lista com Múltiplos Produtos:\n\nCliente pediu: \"2 latas de tinta branca fosca TMC, 3 rolos brasileirinho 9cm, 1 fita crepe\"\n\n**FORMATO CORRETO:**\n\n📋 Seus produtos:\n\n**TMC RENDE SUPER BRANCO FOSCO 18L**\nQtde: 2 | Unitário: R$ 285,00 | Subtotal: R$ 570,00\n\n**TIGRE ROLO LA SINTETICA 1375-09 ANTIRRESPINGO C/ SUPORTE**\nQtde: 3 | Unitário: R$ 18,50 | Subtotal: R$ 55,50\n\n**ADERE FITA CREPE USO GERAL BEGE 423 48MM**\nQtde: 1 | Unitário: R$ 12,90 | Subtotal: R$ 12,90\n\n💰 *Total: R$ 638,40*\n\n---\n\n### Exemplo 2 - Produto Único com Quantidade:\n\nCliente: \"Quero 5 galões de tinta azul acetinada TMC\"\n\n**FORMATO CORRETO:**\n\n📋 Seu produto:\n\n**TMC RENDE SUPER ACETINADO 3,6L COR AZUL**\nQtde: 5 | Unitário: R$ 145,00 | Subtotal: R$ 725,00\n\n💰 *Total: R$ 725,00*\n\n---\n\n### Exemplo 3 - Orçamento Parcial (alguns produtos faltando dados):\n\nCliente: \"Quero 3 latas brancas, 2 rolos, e 1 tinta vermelha\"\n\n**FORMATO CORRETO:**\n\n📋 Produtos confirmados:\n\n**TMC RENDE SUPER BRANCO FOSCO 18L**\nQtde: 3 | Unitário: R$ 285,00 | Subtotal: R$ 855,00\n\n💰 *Total parcial: R$ 855,00*\n\n❓ Ainda preciso saber:\n- Rolos: qual tamanho? (9cm, 15cm ou 23cm)\n- Tinta vermelha: qual volume, acabamento e superfície?\n\n---\n\n### Orçamento Final Completo\n\"📋 *Seu orçamento - Tintas MC Jardim Guedala*\n\n**SUVINIL RENDE MUITO BRANCO FOSCO 18L**\nQtde: 2 | Unitário: R$ 380,00 | Subtotal: R$ 760,00\n\n**TIGRE ROLO LA SINTETICA 1375-09 ANTIRRESPINGO C/ SUPORTE**\nQtde: 1 | Unitário: R$ 18,50 | Subtotal: R$ 18,50\n\n**ADERE FITA CREPE USO GERAL BEGE 423 48MM**\nQtde: 1 | Unitário: R$ 12,90 | Subtotal: R$ 12,90\n\n💰 *Total: R$ 791,40*\n\nCliente: João Silva | (11) 99999-9999\nPagamento: PIX | Entrega: Rua das Flores, 123\n📅 Válido por 7 dias\"\n\n---\n\n### ⚠️ ERROS COMUNS A EVITAR:\n\n❌ **ERRADO** - Sem preço unitário:\n```\n2x Tinta branca - R$ 570,00\n```\n\n✅ **CORRETO** - Com preço unitário e subtotal:\n```\nTMC RENDE SUPER BRANCO FOSCO 18L\nQtde: 2 | Unitário: R$ 285,00 | Subtotal: R$ 570,00\n```\n\n---\n\n❌ **ERRADO** - Nome simplificado:\n```\nTinta TMC branca\nQtde: 1 | Unitário: R$ 285,00 | Subtotal: R$ 285,00\n```\n\n✅ **CORRETO** - Nome EXATO da ferramenta:\n```\nTMC RENDE SUPER BRANCO FOSCO 18L\nQtde: 1 | Unitário: R$ 285,00 | Subtotal: R$ 285,00\n```\n\n---\n\n❌ **ERRADO** - Sem separação clara:\n```\n2 tintas brancas R$ 570, 3 rolos R$ 55,50, total R$ 625,50\n```\n\n✅ **CORRETO** - Formatado e organizado:\n```\nTMC RENDE SUPER BRANCO FOSCO 18L\nQtde: 2 | Unitário: R$ 285,00 | Subtotal: R$ 570,00\n\nTIGRE ROLO LA SINTETICA 1375-09\nQtde: 3 | Unitário: R$ 18,50 | Subtotal: R$ 55,50\n\n💰 Total: R$ 625,50\n```\n\n### Coleta de Dados\n1. **Aprovação:** \"Perfeito! Fechamos então 👍. Só preciso de alguns dados pra finalizar: seu nome completo, CPF e telefone. E onde quer receber?\"\n2. **Pagamento:** \"Beleza! Como prefere pagar? PIX, cartão, dinheiro ou boleto?\"\n3. **Final:** \"Pronto! Vou passar seus dados para um vendedor finalizar tudo. Ele vai te chamar em alguns minutos!\"\n\n---\n\n## REGRAS RÍGIDAS - NÃO VIOLAR\n\n### PRIORIDADE MÁXIMA\n- **NUNCA** buscar tinta sem os 5 dados obrigatórios (incluindo SUPERFICIE)\n- **NUNCA** Inventar nome de produto\n- **SEMPRE** usar o nome EXATO dos **produtos** retornado pelas ferramentas nunca simplifique ou invente nem adicione informação.\n- **NUNCA** usar `buscar_produto_mc` para cores tintométricas\n- **NUNCA** utilizar `preco_tintometrico` para tinta piso\n- **USAR `consultar_catalogo`** quando cliente perguntar sobre produtos ou você precisar de informações\n- **SEMPRE** perguntar base para esmaltes (só se superficie for madeira/metal)\n- **Marca não informada:** assumir TMC\n- Se o cliente pedir quais cores tem disponiveis, use `consultar_catalogo` e depois ofereça catálogo online.\n\n### COMPORTAMENTOS PROIBIDOS\n- Inventar preços ou características\n- Apresentar preço sem chamar ferramenta\n- Usar nomes genéricos em vez do nome exato da ferramenta\n- Perguntar informações que já possui\n- Frases de espera (\"Vou verificar no sistema\")\n- Cálculos de rendimento\n- Produtos fora do escopo pintura/acessórios\n- **Respostas muito longas ou formais para listas**\n- **Formatação markdown excessiva (---, ###, seções)**\n- **Linguagem robótica ou estruturada demais**\n- **Uso excessivo de emojis na apresentação de produtos**\n- Indicar Cores tintométricas sem consultar catálogo\n\n### PROCESSAMENTO DE LISTAS\n- Separar entidades ANTES de chamar ferramentas\n- Processar item por item\n- Perguntar APENAS informações faltantes\n- Para \"esse aí\", \"o terceiro\": capturar código correspondente\n\n## Fallback para Erro de Tool\n- Condição: Se alguma ferramenta retornar erro de schema.\n- Ação: Revalidar campos obrigatórios e reformular chamada baseada no último estado válido."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[5264,-192],"id":"46a2c3db-0765-4467-8159-78f0296c4823","name":"TARS","alwaysOutputData":true,"executeOnce":false},{"parameters":{"workflowId":{"__rl":true,"value":"XSJvA7pMN74d7IHm","mode":"list","cachedResultUrl":"/workflow/XSJvA7pMN74d7IHm","cachedResultName":"Salva mensagens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phone":"={{ $json.phone }}","conversation_id":"={{ $json.conversation_id }}","user_message":"={{ $json.user_msg }}","bot_message":"={{ $json.bot_msg }}","message_type":"={{ $json.message_type }}","timestamp":"={{ $json.timestamp }}","loja":"={{ $json.loja }}","vendedor":"={{ $json.vendedor }}","nome":"={{ $json.Nome }}"},"matchingColumns":[],"schema":[{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"bot_message","displayName":"bot_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"vendedor","displayName":"vendedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5824,-192],"id":"2b7a8143-2307-4fc1-a0aa-a377f7eeb5e7","name":"Call 'Salva mensagens'"},{"parameters":{"assignments":{"assignments":[{"id":"f8ccd10b-1b4e-411a-bbaa-4309b3b3674c","name":"Telefone","value":"={{ $json.body.message.chatid.replace('@s.whatsapp.net', '').replace(/^55/, '') }}","type":"string"},{"id":"59c45e98-ef1f-40c7-89ee-8ad95c526a47","name":"Nome","value":"={{ $json.body.message.senderName }}","type":"string"},{"id":"cc803d9f-a567-49a6-862b-eafb26530a5f","name":"baseUrl","value":"={{ $json.body.BaseUrl }}","type":"string"},{"id":"fb52083d-7ecc-4500-ae99-6ac10f890eb6","name":"mensagem","value":"={{ $json.body.message.text }}","type":"string"},{"id":"a35923ee-5a33-457e-865a-ec18797bdbdc","name":"MediaType","value":"={{ $json.body.message.messageType }}","type":"string"},{"id":"52785e95-c1de-4e99-9351-5c00b66625ed","name":"mediaType","value":"={{ $json.body.message.mediaType }}","type":"string"},{"id":"b02a1dc1-7701-4000-b741-64f055162c1f","name":"fromMe","value":"={{ $json.body.message.fromMe }}","type":"string"},{"id":"39d5db02-688b-4acc-b948-0e33ea39367f","name":"instancia","value":"={{ $json.body.instanceName }}","type":"string"},{"id":"e8bf96e4-15b5-4cf5-9f82-51de6ad5aa9d","name":"Token","value":"={{ $json.body.token }}","type":"string"},{"id":"f6b9e33a-3519-4c41-972b-b764f85b0b77","name":"URL","value":"={{ $json.body.message.content.URL }}","type":"string"},{"id":"cca9b610-095e-4b95-9083-ccddcab136b5","name":"mimetype","value":"={{ $json.body.message.content.mimetype }}","type":"string"},{"id":"cb172d5c-1327-4649-92d4-5cb6fce95fce","name":"ID","value":"={{ $json.body.message.messageid }}","type":"string"},{"id":"e614329e-fdeb-49f0-b9e3-c77bd84128b1","name":"Telefone_block","value":"={{ $json.body.message.chatid.replace('@s.whatsapp.net', '').replace(/^55/, '') }}","type":"string"}]},"options":{}},"id":"94561ea4-8cec-4052-9980-760184f67bb8","name":"Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-224]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-240,-400],"id":"ea1eb1b1-c762-4ede-8869-0ddf57297ee8","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02c85aa3-873d-46a1-8e7b-4d0c7a21937e","leftValue":"={{ $json.body.message.wasSentByApi }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,-240],"id":"b22b3ee7-3907-49fe-a244-2b8e2610eee7","name":"Verifica MSG API"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Data').item.json.fromMe }}","rightValue":"true","operator":{"type":"string","operation":"equals"},"id":"e1111e6f-d830-4f61-ab5c-ca8673b6d6af"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Data').item.json.fromMe }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"f984f2e2-91ff-483d-98d1-7b8d94bae841","name":"Rota FromMe","type":"n8n-nodes-base.switch","typeVersion":3,"position":[752,-240]},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.Telefone }}_block","options":{}},"id":"45e90239-20f7-43ca-9917-f3314811baaa","name":"Verificar Block","type":"n8n-nodes-base.redis","typeVersion":1,"position":[976,-224],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $json.Telefone_block }}_block","value":"true","keyType":"string","expire":true,"ttl":900},"id":"fd392ba8-976a-467d-93f2-eb4d94da4ab6","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[960,-432],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Desativada"}]},"options":{}},"id":"89e1a6a1-fed9-4796-a161-5c2091950230","name":"Rota Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1184,-224]},{"parameters":{"jsCode":"const mensagem = $('Data').item.json.mensagem || \"\";\n\n  const lojas = {\n    \"Guedala\": {\n      codigo: \"173\",\n      nome: \"Jardim Guedala\",\n      endereco: \"Rua Exemplo Guedala, 100 - Jardim Guedala, São Paulo - SP\"\n    },\n    \"Portal\": {\n      codigo: \"067\",\n      nome: \"Portal do Morumbi\",\n      endereco: \"Av. Exemplo Portal, 200 - Portal do Morumbi, São Paulo - SP\"\n    },\n    \"Vila Andrade\": {\n      codigo: \"132\",\n      nome: \"Vila Andrade\",\n      endereco: \"Rua Exemplo Vila Andrade, 300 - Vila Andrade, São Paulo - SP\"\n    },\n    \"Chácara\": {\n      codigo: \"131\",\n      nome: \"Chácara Santo Antonio\",\n      endereco: \"Rua Exemplo Chácara, 400 - Chácara Santo Antonio, São Paulo - SP\"\n    },\n    \"Vila Mascote\": {\n      codigo: \"191\",\n      nome: \"Vila Mascote\",\n      endereco: \"Rua Exemplo Mascote, 500 - Vila Mascote, São Paulo - SP\"\n    }\n  };\n\n  const isMensagemLead = mensagem.includes(\"Olá! Vi a Tintas MC\");\n\n  let loja_codigo, loja_nome, loja_endereco, origem_canal;\n\n  if (isMensagemLead) {\n    for (const [key, value] of Object.entries(lojas)) {\n      if (mensagem.includes(key)) {\n        loja_codigo = value.codigo;\n        loja_nome = value.nome;\n        loja_endereco = value.endereco;\n        break;\n      }\n    }\n\n    if (mensagem.includes(\"anúncio do Meta\")) origem_canal = \"meta\";\n    else if (mensagem.includes(\"anúncio do Google\")) origem_canal = \"google_ads\";\n    else if (mensagem.includes(\"no Google\")) origem_canal = \"organico\";\n    else origem_canal = \"desconhecido\";\n\n  } else {\n    loja_codigo = \"131\";\n    loja_nome = \"Chácara Santo Antonio\";\n    loja_endereco = \"Rua Exemplo Chácara, 400 - Chácara Santo Antonio, São Paulo - SP\";\n    origem_canal = \"cliente_loja\";\n  }\n\n  return [{\n    json: {\n      telefone: $('Data').item.json.Telefone,\n      loja_codigo,\n      loja_nome,\n      loja_endereco,\n      origem_canal,\n      mensagem_original: mensagem\n    }\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,-96],"id":"3d958608-0394-418f-a4df-b8a7a2b22d57","name":"Code in JavaScript"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"=leads_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Data').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-48,-224],"id":"4891ecfd-56d8-4457-925f-b6397385b059","name":"Get ID1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ Boolean($('Get ID1').item.json.telefone?.trim()) }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[144,-224],"id":"bd29c922-7e06-4335-b2af-48355fcbae9e","name":"Existe?1"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","tableId":"=leads_tmc","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('Data').item.json.Telefone }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"loja_nome","fieldValue":"={{ $json.loja_nome }}"},{"fieldId":"loja_endereco","fieldValue":"={{ $json.loja_endereco }}"},{"fieldId":"origem_canal","fieldValue":"={{ $json.origem_canal }}"},{"fieldId":"mensagem_original","fieldValue":"={{ $json.mensagem_original }}"},{"fieldId":"loja_codigo","fieldValue":"={{ $json.loja_codigo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[576,-96],"id":"838cc3ec-255e-4d57-8a64-94eda2d756ff","name":"Cria cliente1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"21dbf9bd-2cbd-4a6b-9489-5dd97dfa1f23","name":"sessionid","value":"={{ $json.sessionid }}","type":"string"},{"id":"d73eae1d-137e-45d2-9ebf-6aa549c52091","name":"telefone","value":"={{ $('Rota FromMe').item.json.telefone }}","type":"string"},{"id":"4d09e65a-4377-41e6-83de-ad0474ababd2","name":"origem_canal","value":"={{ $('Rota FromMe').item.json.origem_canal }}","type":"string"},{"id":"34a81519-3c03-4ea8-8e7c-3d70650ea955","name":"loja_nome","value":"={{ $('Rota FromMe').item.json.loja_nome }}","type":"string"},{"id":"6b7e5fcd-0738-4fde-8923-7b90fe90817e","name":"loja_codigo","value":"={{ $('Rota FromMe').item.json.loja_codigo }}","type":"string"},{"id":"2ce170ec-a483-4266-afef-f59e53841085","name":"loja_endereco","value":"={{ $('Rota FromMe').item.json.loja_endereco }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2352,-256],"id":"1a966273-057f-43a1-aa66-6b66f91a162a","name":"Mapeia dados"},{"parameters":{"description":"=## `avisar_vendedor` - Aciona vendedor humano\n\n### **Quando usar:**\n\n**1. Orçamento Finalizado** ✅\n- Colete ANTES: Nome, CPF/CNPJ, Endereço completo, Telefone, Forma de pagamento, Produtos\n\n**Mensagem:**\n```\n🎉 *ORÇAMENTO FECHADO - [Nome Cliente]*\nLOJA - {{ $('Mapeia dados').item.json.loja_codigo }} - {{ $('Mapeia dados').item.json.loja_nome }}\n\n📋 *DADOS:*\nCPF/CNPJ: [número]\nWhatsApp: {{ $('Mapeia dados').first().json.telefone }}\nEndereço: [completo]\n\n🛒 *PRODUTOS:*\n- [Produto] - Cód: [XXX] - R$ [valor]\n\n💰 *TOTAL: R$ [valor]*\n💳 *Pagamento:* [forma]\n\n⚠️ *A TRATAR:*\n[Produtos não encontrados, observações, prazos]\n```\n\n**2. Produto Não Encontrado** 🔍\n- Acione informando o produto\n- Continue o atendimento normalmente\nEx:\n- Não encontrei orçamento para essa cor em nosso sistema. \n- Não encontrei esse produto.\n\n**AÇÃO** = Acione a tool imediatamente\n\n**Mensagem:**\n```\n⚠️ *PRODUTO NÃO LOCALIZADO*\nCliente: {{ $('Data').item.json.Nome }}\nWhatsApp: {{ $('Data').item.json.Telefone }}\nSolicitou: [descrição do produto]\n```\n\n**3. Atendimento Humano Solicitado** 👤\n- Acione IMEDIATAMENTE\n- Seja cordial\n\n**Mensagem:**\n```\n🤝 *ATENDIMENTO HUMANO SOLICITADO*\nCliente: {{ $('Data').item.json.Nome }}\nWhatsApp: {{ $('Data').item.json.Telefone }}\nContexto: [resumo breve]\n```\n\n### **Regras:**\n- ❌ Orçamento: NUNCA acione sem todos os dados\n- ✅ Atendimento humano: acione na hora\n- ✅ Produto não encontrado: acione na hora e continue ajudando","workflowId":{"__rl":true,"value":"qt1EzxQzxuu3WW83","mode":"list","cachedResultUrl":"/workflow/qt1EzxQzxuu3WW83","cachedResultName":"Avisar vendedor Marcel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}","loja":"={{ $('Mapeia dados').item.json.loja_codigo }}","telefone":"={{ $('Data').item.json.Telefone }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5808,128],"id":"c1fdc8bb-6455-4e90-b561-ee29ec8b22fd","name":"avisar_vendedor"}],"connections":{"Webhook":{"main":[[{"node":"Verifica MSG API","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"TARS","type":"ai_memory","index":0},{"node":"consultar_catalogo","type":"ai_memory","index":0}]]},"Calculadora1":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"TARS","type":"ai_languageModel","index":0},{"node":"consultar_catalogo","type":"ai_languageModel","index":0}]]},"buscar_produto_mc":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"preco_tintometrico":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"consultar_catalogo":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"Get Memory 1":{"main":[[{"node":"wait ","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Map get1 e get2","type":"main","index":0}]]},"Text Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"PDF Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Normaliza","type":"main","index":0}]]},"Envia MSG":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Get ID":{"main":[[{"node":"Existe?","type":"main","index":0}]]},"Existe?":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gera ID","type":"main","index":0}]]},"Gera ID":{"main":[[{"node":"Cria cliente","type":"main","index":0}]]},"Cria cliente":{"main":[[{"node":"Mapeia dados","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"Mapeia dados","type":"main","index":0}]]},"ROTA Media":{"main":[[{"node":"HTTP PDF","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"HTTP Audio","type":"main","index":0}],[{"node":"HTTP Image","type":"main","index":0}]]},"HTTP PDF":{"main":[[{"node":"Convert to File - PDF","type":"main","index":0}]]},"HTTP Audio":{"main":[[{"node":"Convert to File - audio","type":"main","index":0}]]},"HTTP Image":{"main":[[{"node":"Convert to File - image","type":"main","index":0}]]},"Convert to File - audio":{"main":[[{"node":"IA Audio","type":"main","index":0}]]},"Convert to File - image":{"main":[[{"node":"IA image","type":"main","index":0}]]},"Convert to File - PDF":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Normaliza":{"main":[[{"node":"PDF Memory","type":"main","index":0}]]},"IA Audio":{"main":[[{"node":"Audio Memory","type":"main","index":0}]]},"IA image":{"main":[[{"node":"Image Memory","type":"main","index":0}]]},"Image Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"wait ":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Map get1 e get2":{"main":[[{"node":"Compara Get Memory","type":"main","index":0}]]},"Compara Get Memory":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Prepara para metricas":{"main":[[{"node":"Call 'Salva mensagens'","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"TARS","type":"main","index":0}]]},"TARS":{"main":[[{"node":"Prepara para metricas","type":"main","index":0}]]},"Call 'Salva mensagens'":{"main":[[{"node":"Envia MSG","type":"main","index":0}]]},"Data":{"main":[[{"node":"Get ID1","type":"main","index":0}]]},"Verifica MSG API":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Data","type":"main","index":0}]]},"Rota FromMe":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"Verificar Block","type":"main","index":0}]]},"Verificar Block":{"main":[[{"node":"Rota Block","type":"main","index":0}]]},"Rota Block":{"main":[[{"node":"Get ID","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Cria cliente1","type":"main","index":0}]]},"Get ID1":{"main":[[{"node":"Existe?1","type":"main","index":0}]]},"Existe?1":{"main":[[{"node":"Rota FromMe","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"Cria cliente1":{"main":[[{"node":"Rota FromMe","type":"main","index":0}]]},"Mapeia dados":{"main":[[{"node":"ROTA Media","type":"main","index":0}]]},"avisar_vendedor":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:SALVA VENDAS BD":{"recurrenceRules":[]},"node:Disparo Follow up":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.iatars.com.br","user-agent":"uazapiGO-Webhook/1.0","content-length":"2989","accept-encoding":"gzip","content-type":"application/json","x-forwarded-for":"186.227.197.42","x-forwarded-host":"webhook.iatars.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c8ccbad1ff3","x-real-ip":"186.227.197.42"},"params":{},"query":{},"body":{"BaseUrl":"https://iatars.uazapi.com","EventType":"messages","chat":{"chatbot_agentResetMemoryAt":0,"chatbot_disableUntil":0,"chatbot_lastTriggerAt":0,"chatbot_lastTrigger_id":"","id":"","image":"","imagePreview":"https://pps.whatsapp.net/v/t61.24694-24/519691517_1955404278648434_2726840840207590195_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa3QEmq2D4o7IHaeDHU1-Vd_7qoBtYSMSGDR1yyZD-qbg75Q&oe=694306B7&_nc_sid=5e03e0&_nc_cat=100","lead_assignedAttendant_id":"","lead_email":"","lead_field01":"","lead_field02":"","lead_field03":"","lead_field04":"","lead_field05":"","lead_field06":"","lead_field07":"","lead_field08":"","lead_field09":"","lead_field10":"","lead_field11":"","lead_field12":"","lead_field13":"","lead_field14":"","lead_field15":"","lead_field16":"","lead_field17":"","lead_field18":"","lead_field19":"","lead_field20":"","lead_fullName":"","lead_isTicketOpen":false,"lead_kanbanOrder":0,"lead_name":"","lead_notes":"","lead_personalid":"","lead_status":"","lead_tags":[],"name":"Miguel Nunes","owner":"5511976337074","phone":"+55 12 98811-2870","wa_archived":false,"wa_chatid":"5512988112870@s.whatsapp.net","wa_chatlid":"127230202142790@lid","wa_contactName":"","wa_ephemeralExpiration":0,"wa_fastid":"5511976337074:5512988112870","wa_isBlocked":false,"wa_isGroup":false,"wa_isGroup_admin":false,"wa_isGroup_announce":false,"wa_isGroup_community":false,"wa_isGroup_member":false,"wa_isPinned":false,"wa_label":[],"wa_lastMessageSender":"5512988112870@s.whatsapp.net","wa_lastMessageTextVote":"Olá! Vi a Tintas MC Portal em um anúncio do Meta e gostaria de mais informações. * Obrigatório o envio desta mensagem para iniciar seu atendimento.","wa_lastMessageType":"ExtendedTextMessage","wa_lastMsgTimestamp":1765197732000,"wa_muteEndTime":0,"wa_name":"Miguel Nunes","wa_unreadCount":1},"instanceName":"Chacara","message":{"buttonOrListid":"","chatid":"5512988112870@s.whatsapp.net","content":{"text":"Olá! Vi a Tintas MC Portal em um anúncio do Meta e gostaria de mais informações. * Obrigatório o envio desta mensagem para iniciar seu atendimento.","contextInfo":{"expiration":0,"ephemeralSettingTimestamp":0,"disappearingMode":{"initiator":0}}},"convertOptions":"","edited":"","fromMe":false,"groupName":"Unknown","id":"5511976337074:3F9DCCF30216324FCF3B","isGroup":false,"mediaType":"","messageTimestamp":1765197732000,"messageType":"ExtendedTextMessage","messageid":"3F9DCCF30216324FCF3B","owner":"5511976337074","quoted":"","reaction":"","sender":"5512988112870@s.whatsapp.net","senderName":"Miguel Nunes","sender_lid":"127230202142790@lid","sender_pn":"5512988112870@s.whatsapp.net","source":"unknown","status":"","text":"Olá! Vi a Tintas MC Portal em um anúncio do Meta e gostaria de mais informações. * Obrigatório o envio desta mensagem para iniciar seu atendimento.","track_id":"","track_source":"","type":"text","vote":"","wasSentByApi":false},"owner":"5511976337074","token":"464d243c-e664-49a0-aefa-53bb68de8bbd"},"webhookUrl":"https://webhook.iatars.com.br/webhook/GeralAlberto","executionMode":"production"}}]},"versionId":"f8dc5cfe-f4aa-4774-92b9-cfcbd2c4b69a","triggerCount":1,"shared":[{"updatedAt":"2025-10-24T13:14:55.947Z","createdAt":"2025-10-24T13:14:55.947Z","role":"workflow:owner","workflowId":"02Nt5TfBasZUwFeE","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"updatedAt":"2025-10-31T13:15:54.983Z","createdAt":"2025-10-31T13:15:54.983Z","id":"SA1lrqt1q8ppNIAs","name":"Tintasmc_alberto"},{"updatedAt":"2025-10-24T13:13:00.659Z","createdAt":"2025-10-24T13:13:00.659Z","id":"jdWTcyESftbmJZGl","name":"Produção"}]}