02Nt5TfBasZUwFeE.json
{"createdAt":"2025-10-24T13:14:55.947Z","updatedAt":"2025-10-31T20:09:24.323Z","id":"02Nt5TfBasZUwFeE","name":"Tintas MC Loja 173 Jardim Guedala","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c7e2a2d6-a962-4cab-8e35-916c31377fa8","name":"Compara Get Memory","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4656,416]},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $json.propertyName }}","type":"string"}]},"options":{}},"id":"cf185e0a-07ff-4697-afdb-10039d9f6af4","name":"Edit Fields11","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4464,416]},{"parameters":{"jsCode":"/**\n * Recebe items contendo campos Redis1 e Redis2 como strings JSON de arrays de mensagens.\n * Analisa ambos, une apenas as mensagens diferentes (sem duplicatas) e retorna uma única string.\n */\nfunction mergeUniqueMessages(items) {\n  // Obtém as strings brutas\n  const raw1 = items[0].json.Redis1;\n  const raw2 = items[0].json.Redis2;\n\n  // Função para parsear com segurança\n  function safeParse(raw) {\n    if (!raw) return [];\n    try {\n      const parsed = JSON.parse(raw);\n      return Array.isArray(parsed) ? parsed : [parsed];\n    } catch {\n      return [raw];\n    }\n  }\n\n  // Parse das duas fontes\n  const arr1 = safeParse(raw1);\n  const arr2 = safeParse(raw2);\n\n  // Une e remove duplicatas mantendo ordem de ocorrência\n  const unique = [];\n  [...arr1, ...arr2].forEach(msg => {\n    if (!unique.includes(msg)) unique.push(msg);\n  });\n\n  // Junta numa única conversa\n  const conversation = unique.join(' ');\n\n  return [{ json: { conversation } }];\n}\n\n// No n8n Function Node, basta retornar:\nreturn mergeUniqueMessages(items);\n"},"id":"f21ca4d2-fd2a-4d5a-b798-f5e229e2d17d","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[4912,400]},{"parameters":{"promptType":"define","text":"={{ $json.conversation }}","options":{"systemMessage":"=## IDENTIDADE E MISSÃO\n\nVocê é TARS, assistente especialista de IA da Tintas MC. Sua função é atender clientes de forma clara, objetiva e natural, emulando um vendedor experiente. Objetivo principal: encontrar produtos usando as ferramentas disponíveis.\n\n**Nome da loja** - Tintas MC Jardim Guedala\nEndereço - Rua José Jannarelli, 687 - Vila Progredior, São Paulo - SP, 05615-001.\nHorário de funcionamento:\nSegunda a sexta - 08h às 18h\nSábado - 08h às 14h\nDomingos e feriados - fechado\n**Entregas:**\nsegunda a sexta - 8h30 às 18h\nsábado - 8h30 às 13h\nFora desses horários - à combinar\n**Condições de pagamento**:\nPIX\nDinheiro\nCartão de débito e crédito\nPara parcelamento no cartão consultar um vendedor\nBoleto (mediante análise de crédito)\n\n- Tom: WhatsApp vendedor experiente - direto, prestativo, eficiente\n- Saudação inicial: \"Olá! Sou Tars, Inteligencia Artificial da TINTAS MC.\"\n\n---\n\n## PROCESSAMENTO DE LISTAS (REGRA CRÍTICA)\n\n### QUANDO CLIENTE ENVIAR LISTA COM MÚLTIPLOS ITENS\n\n**NUNCA** fazer uma busca única com todos os itens. **SEMPRE** seguir este processo:\n\n### 1. SEPARAR EM CATEGORIAS\n\n- **TINTAS BRANCAS** (buscar_produto_mc)\n- **TINTAS COLORIDAS** (preco_tintometrico)\n- **ACESSÓRIOS** (buscar_produto_mc)\n- **PRODUTOS ESPECIAIS** (buscar_produto_mc)\n\n### 2. VALIDAR DADOS DE CADA CATEGORIA\n\n**ANTES de qualquer busca, verificar se tem TODAS as informações:**\n\n### Para Tintas (brancas ou coloridas):\n\n- ✅ Marca, Volume, Acabamento, Cor completos?\n- ❌ Se faltar: perguntar e PARAR até completar\n\n### Para Acessórios:\n\n- ✅ Especificações necessárias completas? (tamanho, tipo, gramatura, etc.)\n- ❌ Se faltar: perguntar e PARAR até completar\n\n### 3. FAZER BUSCAS SEPARADAS\n\n- Uma busca por categoria\n- Uma categoria de cada vez\n- Só buscar categoria com dados completos\n\n### 4. EXEMPLO DE PROCESSAMENTO\n\n**Lista:** \"10 lixas, 2 rolos, 1 lata branca 18L, 1 tinta azul 3,6L\"\n\n**Separação:**\n\n- **Acessórios:** lixas (falta: tipo, gramatura), rolos (falta: tipo, tamanho)\n- **Tinta branca:** lata 18L (falta: marca, acabamento)\n- **Tinta colorida:** azul 3,6L (falta: marca, acabamento, base)\n\n**Ação:** Perguntar TODAS as informações faltantes de uma vez, depois fazer buscas separadas\n\n---\n\n## FLUXO DE ATENDIMENTO (MÁQUINA DE ESTADOS)\n\n### 1. SAUDAÇÃO\n\n- Usar saudação inicial **APENAS 1x** por conversa\n- **NUNCA** perguntar \"Como posso te ajudar?\"\n- Extrair entidades do pedido: produtos, quantidades, superfícies\n\n### 2. CLASSIFICAÇÃO DE PRODUTOS\n\n**Para cada item solicitado:**\n\n- É TINTA? → Se NÃO: Estado 3A (Produto Não-Tinta)\n- É TINTA? → Se SIM: Estado 3B (Validação de Tinta)\n\n### 3A. PRODUTOS NÃO-TINTA\n\n- Coletar dados necessários específicos\n- Chamar `buscar_produto_mc`\n- Ir para Estado 5 (Orçamento)\n\n### 3B. VALIDAÇÃO DE TINTA (PORTÃO CRÍTICO)\n\n**ANTES DE BUSCAR QUALQUER TINTA, VOCÊ DEVE TER:**\n\n- ✅ **MARCA** (TMC, Ciacollor, Suvinil, Coral, etc.)\n- ✅ **VOLUME** (20L,18L, 3,6L, 0,9L - normalizado)\n- ✅ **ACABAMENTO** (fosco, acetinado, semibrilho)\n- ✅ **COR** (branco, Gengibre, Crômio, etc.)\n\n**SE FALTAR QUALQUER DADO:** Pergunte APENAS o que falta e PARE\n\n- Exemplo: \"Qual acabamento: fosco, acetinado ou semibrilho?\"\n\n### 4. BUSCA DE TINTA\n\n- **Cor = \"branco\"** → `buscar_produto_mc`\n- **Cor ≠ \"branco\"** → `preco_tintometrico`\n- **Sem marca informada:** perguntar preferência → sugerir TMC → buscar 3 níveis\n\n### 5. ORÇAMENTO E FINALIZAÇÃO\n\n- Montar orçamento usando NOMES EXATOS dos produtos retornados\n- Sempre organizar por categorias, com preços unitários e totais, para ficar fluido e facil de entender.\n- Coletar dados do cliente se aprovado\n- Chamar `avisar_vendedor` no final\n\n---\n\n## FERRAMENTAS E PARÂMETROS\n\n### `buscar_produto_mc` - Para produtos não-tinta e tintas brancas\n\n**Parâmetros do schema:**\n\n- `TermoPesquisa` - termo principal de busca\n- `Marca` - nome da marca\n- `Cor` - cor do produto\n- `TamanhoVolume` - volume (20L,18L, 3,6L, 0,9L)\n- `Acabamento` - acabamento\n- `superficie` - tipo de superfície\n- `telefoneCliente` - telefone do cliente\n- `tipoPoduto` - tipo do produto\n- `BasePadrão` - base (água, solvente)\n\n### `preco_tintometrico` - Para cores específicas (não branco)\n\n**Parâmetros do schema:**\n\n- `Marca` - nome da marca (obrigatório)\n- `Cor` - nome da cor (obrigatório)\n- `Volume` - volume (obrigatório)\n- `Acabamento` - acabamento (obrigatório)\n- `Base` - tipo de base (obrigatório)\n\n---\n\n## CONVERSÕES E NORMALIZAÇÕES\n\n### VOLUMES (Normalizar Antes da Busca)\n\n- `lata` → `18L`\n- `galão`, `galao` → `3,6L`\n- `um quarto`, `1/4`, `quartinho` → `0,9L`\n- `balde´→ 20L\n- **SEMPRE** assuma os termos sem precisar perguntar para confirmar.\n\n### PRODUTOS COMUNS\n\n- `latex`, `pva` → `tinta acrílica`\n- `pva suvinil`, `clássica pva` → `toque fosco`\n- `brasileirinho` → `ROLO LA SINTETICA TIGRE`\n- `antirespingo` → `CONDOR ROLO DE LA S/SUP REFIL`\n\n---\n\n## CONHECIMENTO DE PRODUTOS\n\n## TINTAS\n\n- **Custo-benefício:** TMC (Tintas MC)\n- **Ordem alternativa:** Ciacollor → Suvinil → Sherwin-Williams → Coral\n- **PVA sem marca:** linha Inspira da TMC\n- **PVA da Suvinil:** \"Toque Fosco\"\n\n### MASSA CORRIDA\n\n- **Marca padrão:** TMC\n- **Busca:** \"TMC MASSA CORRIDA 23KG BARRICA\"\n- **Volumes:** 5,6kg e 23kg\n\n### ESMALTES\n\n- **Pergunta obrigatória:** \"Base água ou solvente?\"\n- Seca rápido e sempre base água\n- **Orientação:** 3,6L pinta 5 portas | 0,9L pinta 1 porta\n\n### CIMENTO QUEIMADO\n\n- **Produto:** Suvinil Efeito Cimento Queimado 5KG\n- **Cores prontas:** Avenida Expressa, Dia de Chuva, Pedra Rosada, Selva de Pedra, Tunel de Concreto, Vista Noturna\n- **Tamanho:** APENAS 3,6L\n- **Cores personalizadas:** `preco_tintometrico` com `acabamento: \"MASSA PARA EFEITOS\"`\n\n### ROLOS\n\n- **Espuma:** Perguntar tamanho (5cm, 9cm, 15cm)\n- **\"10 polegadas\"** = 9cm\n\n### Epoxi\n- **Epoxi base água:**  Ciacollor\n- **Epoxi base solvente:** Wandepoxy Coral (tintométrico)\n\n\n### Diluente\n- Se o cliente escolher base solvente, ofereça Aguarrás Ciacollor.\n\n## ACESSÓRIOS\n\n### Fita Crepe\n\n- **Marca:** ADERE\n- **Pergunta:** Larga (48mm) ou média (24mm)?\n- **Busca:** \"\"ADERE FITA CREPE USO GERAL BEGE 423 \"\"\n\n### Lixa\n\n- **Marca:** NORTON\n- **Perguntas:** Tipo (massa/ferro/água), gramatura, quantidade\n- **Padrão:** lixa massa\n\n### Fundo Preparador\n\n- **Perguntas:** Madeira ou parede? Base água ou solvente?\n- **Marcas:** Ciacollor Suvinil e TMC\n\n### Trincha/Pincel\n\n- **Padrão:** TIGRE linha 695\n- **Busca:** `tigre trincha economica media 695`\n\n### Lona preta\n- Especificações: Largura: Todas 4 m;\n- Preço Metro: R$ 3,50;\n- Preço Rolo 100m: R$ 2,50/metro (total R$ 250,00);\n- Rolos Disponíveis: [\"10 m\",\"20 m\",\"50 m\",\"100 m\"];\n- Tipo Transparente: Mesmo preço da preta.\n\n### Papelão\n- Nome: PAPELÃO ONDULADO 1,20 X 1 METRO (VENDA P/ METRO).\n- Largura: Todos 1.2m.\n- Preço Metro: R$ 5,00.\n- Rolo: PAPELÃO ONDULADO 1,20 X 30M ROLO FECHADO.\n- Preço Rolo: R$ 219,90.\n\n---\n\n## APRESENTAÇÃO DE PRODUTOS (LINGUAGEM NATURAL)\n\n### 3 Opções de Tinta\n\n\"Encontrei essas opções de tinta branca fosca 18L:\n\n*Básica* - TMC Econômica por R$ 240,00\n*Intermediária* - TMC Acrílica por R$ 285,00\n*Premium* - Suvinil Rende Muito por R$ 380,00\n\nQual faz mais sentido pra você?\"\n\n### Item Único\n\n- \"Suvinil Rende Muito Branco Fosco 18L sai por R$ 380,00. É essa mesmo?\"\n- \"Rolo de lã 9cm da Tigre por R$ 18,50. Quantos você precisa?\"\n\n### 📋 Orçamento Parcial\n\n### Tintas\n\n- Suvinil branca fosca 18L\n    \n    Qtde: 1 | Unitário: R$ 380,00 | Subtotal: **R$ 380,00**\n    \n- Esmalte azul\n    \n    ❓ Qual base: água ou solvente?\n    \n\n### Acessórios\n\n- Rolos\n    \n    ❓ Quantos você precisa?\n    \n\n**💰 Total Parcial:** **R$ 380,00**\n\n---\n\n### 📋 Orçamento Final\n\n### 🎨 Tintas\n\n- **Suvinil Rende Muito Branco Fosco 18L**\n    \n    Qtde: 2 | Unitário: R$ 380,00 | Subtotal: **R$ 760,00**\n    \n\n### 🛠️ Acessórios\n\n- **Rolo lã sintética 9cm Tigre**\n    \n    Qtde: 1 | Unitário: R$ 18,50 | Subtotal: **R$ 18,50**\n    \n- **Fita crepe larga Adelbras**\n    \n    Qtde: 1 | Unitário: R$ 12,90 | Subtotal: **R$ 12,90**\n    \n\n**💰 Total Geral:** **R$ 791,40**\n\n---\n\n**Cliente:** João Silva\n\n**Telefone:** (11) 99999-9999\n\n**Pagamento:** PIX\n\n**Entrega:** Rua das Flores, 123\n\n📅 *Orçamento válido por 7 dias*\n\n### Coleta de Dados\n\n1. **Aprovação:** \"Perfeito! Fechamos então 👍. Só preciso de alguns dados pra finalizar: seu nome completo, CPF e telefone. E onde quer receber?\"\n2. **Pagamento:** \"Beleza! Como prefere pagar? PIX, cartão, dinheiro ou boleto?\"\n3. **Final:** \"Pronto! Vou passar seus dados para um vendedor finalizar tudo. Ele vai te chamar em alguns minutos!\"\n\n---\n\n## REGRAS RÍGIDAS - NÃO VIOLAR\n\n### PRIORIDADE MÁXIMA\n\n- **NUNCA** buscar tinta sem os 4 dados obrigatórios\n- **SEMPRE** usar o nome EXATO retornado pelas ferramentas - nunca simplifique ou invente\n- **NUNCA** usar `buscar_produto_mc` para cores tintométricas\n- **SEMPRE** perguntar base para esmaltes\n- **Marca não informada:** perguntar e oferecer 3 níveis TMC\n- Se o cliente pedir quais cores tem disponiveis, deve oferecer o catalogo online das marcas e nao sugerir nenhuma cor e aguardar o cliente escolher.\n**SUVINIL**: https://www.suvinil.com.br/cores**CORAL**: https://www.coral.com.br/pt/paletas-de-cor#tabId=paletas-de-cores**sherwin williams:** https://sherwin.com.br/cores/\n\n### COMPORTAMENTOS PROIBIDOS\n\n- Inventar preços ou características\n- Apresentar preço sem chamar ferramenta\n- Usar nomes genéricos em vez do nome exato da ferramenta\n- Perguntar informações que já possui\n- Frases de espera (\"Vou verificar no sistema\")\n- Cálculos de rendimento\n- Produtos fora do escopo pintura/acessórios\n- **Respostas muito longas ou formais para listas**\n- **Formatação markdown excessiva (---, ###, seções)**\n- **Linguagem robótica ou estruturada demais**\n- **Uso excessivo de emojis na apresentação de produtos**\n- **Separar produtos por seções com emojis (🎨, 🛠, etc.)**\n- Indicar Cores tintométricas, se o cliente nao souber, enviar o catálogo.\n\n### PROCESSAMENTO DE LISTAS\n\n- Separar entidades ANTES de chamar ferramentas\n- Processar item por item\n- Perguntar APENAS informações faltantes\n- Para \"esse aí\", \"o terceiro\": capturar código correspondente\n\n## Fallback para Erro de Tool\n- Condição: Se alguma ferramenta retornar erro de schema.\n- Ação: Revalidar campos obrigatórios e reformular chamada baseada no último estado válido."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[5120,400],"id":"7e339009-628e-40b5-a9bc-89bff700f54a","name":"AI Agent","alwaysOutputData":true,"executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ Boolean($('Supabase4').item.json.telefone?.trim()) }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,384],"id":"51973eac-bb99-4e40-92b2-f32914434680","name":"If3"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1904,512],"id":"a871529f-ba25-469e-a2ef-3eb01a1cf5a8","name":"Gerar sessionID2"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"=dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('dados_para_atendimento_humano').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2048,336],"id":"eb8aba34-c1e3-426d-9808-705109d30043","name":"Get Dados2","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"=dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('dados_para_atendimento_humano').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1456,384],"id":"6fa81029-c692-4390-b666-7e9be12dfc7c","name":"Supabase4","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[5120,608],"id":"eb4945e5-9c77-4c62-960c-d549487678a0","name":"Calculadora"},{"parameters":{"name":"buscar_produto_mc","description":"=**Descrição:**  \nRetorna produtos do catálogo da MC Tintas com base no pedido do cliente.  \nA ferramenta **NÃO FORMATA TEXTO**. Ela apenas retorna os dados para o agente processar.\n\n**Inputs obrigatórios:**  \n- `superficie` (parede, piso, madeira, etc.)  \n**Inputs opcionais:**  \n- `marca`, `cor`, `volume`, `acabamento`, `base_padrão`\n\n**Formato do output (exemplo):**  \n```json\n{\n  \"produtos\": [\n    {\n      \"descricao\": \"TMC Tinta Acrílica Fosca Premium 18L\",\n      \"preco\": 590.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"TMC1234\"\n    },\n    {\n      \"descricao\": \"CIACOLLOR Tinta Acrílica 18L\",\n      \"preco\": 525.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"CIA4567\"\n    }\n  ]\n}\n","workflowId":{"__rl":true,"value":"qIWmECB56eceoWzD","mode":"list","cachedResultUrl":"/workflow/qIWmECB56eceoWzD","cachedResultName":"Busca_Produto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"TermoPesquisa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TermoPesquisa', ``, 'string') }}","Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","TamanhoVolume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TamanhoVolume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","superficie":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('superficie', ``, 'string') }}","telefoneCliente":"={{ $('dados_para_atendimento_humano').item.json.number }}","tipoPoduto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipoPoduto', ``, 'string') }}","BasePadrão":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BasePadr_o', ``, 'string') }}"},"matchingColumns":["termo_pesquisa"],"schema":[{"id":"TermoPesquisa","displayName":"TermoPesquisa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"TamanhoVolume","displayName":"TamanhoVolume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"superficie","displayName":"superficie","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefoneCliente","displayName":"telefoneCliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipoPoduto","displayName":"tipoPoduto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"BasePadrão","displayName":"BasePadrão","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[5296,608],"id":"83de84d8-fa00-4986-b0c2-46a5de7629d5","name":"buscar_produto_mc"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields3').first().json.sessionid }}","tableName":"n8n_chat_histories_tmc","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4928,608],"id":"0e014479-8751-4333-98af-681df6604641","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"Postgres account"}}},{"parameters":{"description":"use essa ferramenta para buscar preço de cores personalizadas ( tintometricas)","workflowId":{"__rl":true,"value":"n0HWbXgcQGGmvhMI","mode":"list","cachedResultUrl":"/workflow/n0HWbXgcQGGmvhMI","cachedResultName":"TINTOMÉTRICO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","Volume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Volume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","codigoCor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('codigoCor', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Volume","displayName":"Volume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"codigoCor","displayName":"codigoCor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5488,608],"id":"84d04454-57f5-4e6c-8946-b7c30c26338d","name":"preco_tintometrico"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4720,608],"id":"9529cfe9-80a3-4b31-995f-b767c9223567","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"name":"avisar_vendedor","description":"=informe aqui ao vendedor após o atendimento iniciado finalizado.\n\nQUANDO O CLIENTE CHEGAR e informar o nome (AVISE AO VENDEDOR COM O NOME E NUMERO) e sempre deixe a mensagem um pouco personalizada OBS: SOMENTE A DE AVISO QUE ESTÁ ATENDENDO UM CLIENTE ex:\n\"Acabou de chegar mais um cliente aqui, o {{nome}}! Estou Atendendo 👩‍💼 Se precisar de mais detalhes, dá uma olhada no WhatsApp dele: {{ $json.telefone }}.*\"\n\no vendedor além do nome do produto e o codigo do produto precisa do: NOME DO CLIENTE, FORMA DE PAGAMENTO, ENDEREÇO COMPLETO, CPF OU CNPJ,CLASSIFICAÇÃO SE É PINTOR, ARQUITETO, ETC... E DO NUMERO DE TELEFONE INFORMADO AQUI {{ $json.telefone }}\n\nentregue de forma bonita e organizada ex:\n\n*acabei de fechar o orçameto do (nome), e ele está solicitando um vendedor✅*\n\nCPF OU CNPJ INFORMADO:\nCLASSIFICAÇÃO:\nWHATSAPP:\nENDEREÇO COMPLETO:\n\npedidos com o codigo: (coloque aqui todos produtos que o cliente pediu + os codigos + preço individual)\n•PRODUTO 1 (CODIGO) (PREÇO)\n•PRODUTO 2 (CODIGO) (PREÇO)\n\n*preço total: R$*\n\n*A TRATAR COM O VENDEDOR:* (coloque aqui produtos que foi solicitado e não estão no banco de dados, como tintas e etc) e de um resumo do que o vendedor tem que verificar/fazer","workflowId":{"__rl":true,"value":"DgC0V41tfAPy5YSP","mode":"list","cachedResultUrl":"/workflow/DgC0V41tfAPy5YSP","cachedResultName":"avisar vendedor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[5664,608],"id":"2c7768bf-01ac-4bf9-81ab-e9354a05300d","name":"avisar_vendedor"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","tableId":"=dados_cliente_tmc","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('dados_para_atendimento_humano').item.json.Telefone }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"Loja","fieldValue":"=173"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2192,512],"id":"a5062fac-a048-4ac3-95d2-d98cec6461b6","name":"Create a row","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 9 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[4288,1328],"id":"d38ec23b-d106-4675-8559-8e4d49d8d07e","name":"Disparo programado","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA","mode":"list","cachedResultName":"Leads Tintas MC Jardim Guedala","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Disparo Diversos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ENVIADO"}]},"options":{}},"id":"36f071fe-d668-4bf0-b81e-d26b29eb9c1f","name":"Get row(s) in sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4496,1328],"executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3UnmgZHxudzIzIkI","name":"IATARS - SHEETS"}}},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","tableId":"dados_cliente_tmc","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Wait').item.json.TELEFONE }}"},{"fieldId":"Loja","fieldValue":"173"},{"fieldId":"created_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6192,1552],"id":"ba4e1c3d-1c64-4aa5-9d5e-615c32226fca","name":"Create a row1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"amount":20},"id":"daa435e4-053e-413b-8756-e7e5d3d068de","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5200,1344],"webhookId":"a70b623a-3c73-4e71-b77b-917fa39ebb20"},{"parameters":{"content":"# CAPTAÇÃO DE CLIENTES","height":80,"width":551.2183277924504,"color":5},"id":"1f5a0886-4a67-405d-ae15-4f79ba41d4a2","name":"Sticky Note32","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4224,880]},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Get row(s) in sheet').item.json.PHONE }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5392,1344],"id":"412405da-72ea-454a-82d5-58c19f71323c","name":"Supabase","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5568,1344],"id":"0eee6c0a-4e7c-4970-b8ed-1e3a280a694d","name":"If10"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[5920,1552],"id":"58898932-5d9b-47c7-a75d-6dd561efa449","name":"Gerar sessionID"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Get row(s) in sheet').item.json.PHONE }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6032,1328],"id":"3d3b8538-5af5-48e4-b27c-a88efe406000","name":"Get Dados","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"maxItems":50},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[4672,1328],"id":"59de165f-2a59-49f7-a4f0-8316f01bea3d","name":"Limit2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4896,1328],"id":"888d05bb-c6c6-4f58-81d6-c9437df6647f","name":"Loop Over Items4"},{"parameters":{"amount":40},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5168,1600],"id":"978e3560-9fe8-4561-b64b-28b10f08d9ba","name":"Wait6","webhookId":"15c92725-42da-4abd-a2f6-9684fa783e2b"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA","mode":"list","cachedResultName":"Leads Tintas MC Jardim Guedala","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Disparo Diversos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Wait').item.json.row_number }}","ENVIADO":"❌"},"matchingColumns":["row_number"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENVIADO","displayName":"ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"5d664152-7f15-4189-8ba9-ed2d86fcf49f","name":"ERRO1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[6752,1120],"credentials":{"googleSheetsOAuth2Api":{"id":"3UnmgZHxudzIzIkI","name":"IATARS - SHEETS"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA","mode":"list","cachedResultName":"Leads Tintas MC Jardim Guedala","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Disparo Diversos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Wait').item.json.row_number }}","ENVIADO":"✅"},"matchingColumns":["row_number"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENVIADO","displayName":"ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"d56eb215-4738-4bd5-bada-1aea097b9a49","name":"SUCESS1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[6752,1600],"credentials":{"googleSheetsOAuth2Api":{"id":"3UnmgZHxudzIzIkI","name":"IATARS - SHEETS"}}},{"parameters":{"options":{}},"id":"6e08d903-9a4e-4584-aa72-b29773c780af","name":"Loop Over Items5","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[6112,400]},{"parameters":{"amount":1},"id":"b23e4c1d-f3d2-409f-a416-960ff05663a1","name":"1 segundo1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6592,416],"webhookId":"dd50f2b3-f3fd-46c6-9f64-66141a69fdaf"},{"parameters":{"jsCode":"// Variável de entrada, idealmente verificada\nconst inputText = $json.output;\nlet messages = [];\n\n// 1. VERIFICAÇÃO DA ENTRADA\nif (typeof inputText !== 'string') {\n  // Opção: retornar um erro ou um resultado padrão.\n  // Exemplo: retornar mensagens vazias com um erro.\n  return [{ json: { messages: [], error: \"Input text ($json.output) is not a string or is missing.\" } }];\n  // Se preferir que o script continue com uma string vazia:\n  // inputText = \"\";\n}\n\nfunction isBudget(text) {\n  // A verificação de 'text' como string já foi feita no início.\n  const orçamentoPalavras = ['orçamento', 'escolher', 'escolhas', 'fechar', 'total geral'];\n  const linhas = text.split('\\n');\n  let blocosDeProduto = 0;\n\n  for (const linha of linhas) {\n    if (linha.includes('por R$')) blocosDeProduto++;\n  }\n\n  // Compara as palavras chave em minúsculas para robustez\n  const contemPalavraChave = orçamentoPalavras.some(p => text.toLowerCase().includes(p.toLowerCase()));\n  // Verifica se \"Qual dessas você prefere?\" aparece pelo menos 2 vezes.\n  const contemPerguntaPreferenciaMultipla = (text.split('Qual dessas você prefere?').length -1) >= 2;\n\n\n  return (\n    blocosDeProduto >= 3 ||\n    contemPalavraChave ||\n    contemPerguntaPreferenciaMultipla\n  );\n}\n\nfunction dividirMensagemNatural(texto, limite = 200) {\n  // A verificação de 'texto' como string já foi feita.\n  // Se o texto estiver vazio após trim, retorna array vazio.\n  if (texto.trim().length === 0) {\n    return [];\n  }\n\n  // Divide o texto em sentenças (partes)\n  const partes = texto\n    .split(/(?<=[.!?])\\s+/g) // Divide após pontuação seguida de espaço\n    .map(p => p.trim()) // Remove espaços extras de cada parte\n    .filter(p => p.length > 0); // Remove partes vazias\n\n  const mensagensFinais = [];\n  let bufferAtual = '';\n\n  for (const parte of partes) {\n    // CASO 1: A 'parte' (sentença) sozinha já excede o limite.\n    if (parte.length > limite) {\n      // Se havia algo no buffer, adiciona-o primeiro às mensagens.\n      if (bufferAtual.length > 0) {\n        mensagensFinais.push(bufferAtual);\n        bufferAtual = ''; // Limpa o buffer\n      }\n\n      // Agora, quebra a 'parte' longa.\n      // Estratégia: quebrar por palavras.\n      let palavrasDaParte = parte.split(/\\s+/g).filter(p => p.length > 0);\n      let subParteBuffer = '';\n      for (const palavra of palavrasDaParte) {\n        // Se uma única palavra já excede o limite (e o sub-buffer está vazio)\n        if (palavra.length > limite && subParteBuffer.length === 0) {\n          mensagensFinais.push(palavra); // Adiciona a palavra longa (pode-se truncar se necessário)\n          // subParteBuffer continua vazio para a próxima palavra\n        }\n        // Tenta adicionar a palavra ao sub-buffer atual\n        else if ((subParteBuffer + (subParteBuffer ? ' ' : '') + palavra).length <= limite) {\n          subParteBuffer = (subParteBuffer + (subParteBuffer ? ' ' : '') + palavra);\n        }\n        // Não coube, então descarrega o sub-buffer e inicia um novo com a palavra atual.\n        else {\n          if (subParteBuffer.length > 0) {\n            mensagensFinais.push(subParteBuffer);\n          }\n          subParteBuffer = palavra; // Esta palavra pode ser > limite, será tratada na próxima iteração ou no push final\n        }\n      }\n      // Adiciona o que sobrou no subParteBuffer da sentença longa\n      if (subParteBuffer.length > 0) {\n        mensagensFinais.push(subParteBuffer);\n      }\n      // O buffer principal deve estar vazio aqui, pois a 'parte' longa foi totalmente processada.\n      bufferAtual = '';\n    }\n    // CASO 2: A 'parte' (sentença) NÃO excede o limite por si só.\n    else {\n      const tentativaComBuffer = (bufferAtual + (bufferAtual ? ' ' : '') + parte);\n      if (tentativaComBuffer.length <= limite) {\n        // Cabe no buffer atual ou com o buffer atual.\n        bufferAtual = tentativaComBuffer;\n      } else {\n        // Não cabe com o buffer atual. Descarrega o buffer.\n        if (bufferAtual.length > 0) {\n          mensagensFinais.push(bufferAtual);\n        }\n        // A 'parte' atual (que sabemos ser <= limite) se torna o novo buffer.\n        bufferAtual = parte;\n      }\n    }\n  }\n\n  // Adiciona o que restou no buffer no final de todas as partes.\n  if (bufferAtual.length > 0) {\n    mensagensFinais.push(bufferAtual);\n  }\n\n  return mensagensFinais;\n}\n\n// LÓGICA PRINCIPAL\nif (isBudget(inputText)) {\n  // Se for orçamento, junta tudo numa mensagem, trocando quebras de linha por espaço.\n  messages.push(inputText.replace(/\\n+/g, ' ').trim());\n} else {\n  // Senão, divide a mensagem.\n  messages = dividirMensagemNatural(inputText, 200); // Limite pode ser passado aqui se diferente do default\n}\n\nreturn [{ json: { messages } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5904,400],"id":"06d5b0c0-8042-4cfb-a917-518da85dfc2d","name":"Code7"},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields3').first().json.sessionid }}"},"id":"2d31889c-1879-42a9-8f9e-60f3ae12e549","name":"Delete Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[6400,176],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"63d57e10-8303-45a7-ac62-d7ce5fb235d1","name":"phone","value":"={{ $('dados_para_atendimento_humano').first().json.Telefone }}","type":"string"},{"id":"c1ab4f10-3cfd-4ff4-a95c-7b28236a1cb0","name":"conversation_id","value":"={{ $('Edit Fields3').first().json.sessionid }}","type":"string"},{"id":"df58dbca-e900-466d-95cf-07bbdf24551c","name":"user_msg","value":"={{ $('Mensagem Completa').item.json.conversation }}","type":"string"},{"id":"ad600e00-2584-464e-b96b-6f49e36d7bd7","name":"bot_msg","value":"={{ $json.output }}","type":"string"},{"id":"16e366f0-7dd0-43ef-b28a-a35b0576c55a","name":"message_type","value":"={{ $('dados_para_atendimento_humano').item.json.MediaType }}","type":"string"},{"id":"1a481ecb-c84d-4d1d-9d51-6f63412bdf7c","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"31c399bf-6ce4-4254-be79-ac961ff7a695","name":"loja","value":"={{ $('dados_para_atendimento_humano').item.json.Loja }}","type":"string"},{"id":"ebaac0de-97ac-4439-91e4-1ff16a9bdda7","name":"vendedor","value":"=Wellington","type":"string"},{"id":"65444a07-36af-444d-909a-9724dbb7cbb5","name":"Nome","value":"={{ $('dados_para_atendimento_humano').item.json.Nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5472,400],"id":"645eeeb6-bba8-4595-a7f3-70048383d8cb","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[4208,2384],"id":"6019d3b0-cb06-4eeb-8829-ef84ac576141","name":"Disparo programado1","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA","mode":"list","cachedResultName":"Leads Tintas MC Jardim Guedala","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1923408679,"mode":"list","cachedResultName":"Indicações","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA/edit#gid=1923408679"},"filtersUI":{"values":[{"lookupColumn":"ENVIADO"}]},"options":{}},"id":"9e9487c8-ebbc-46b6-b3bd-3515025b4290","name":"Get row(s) in sheet1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4416,2384],"executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3UnmgZHxudzIzIkI","name":"IATARS - SHEETS"}}},{"parameters":{"amount":20},"id":"8af3e08c-76c7-4e43-85cc-38036b54a12f","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5184,2400],"webhookId":"a70b623a-3c73-4e71-b77b-917fa39ebb20"},{"parameters":{"content":"# CLIENTES INDICAÇÃO","height":80,"width":551.2183277924504,"color":5},"id":"97a2df58-5349-49bc-a9cc-50595da50831","name":"Sticky Note33","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4336,2128]},{"parameters":{"maxItems":3},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[4592,2384],"id":"a1621b46-8f96-42f7-87c2-aecd5e935ae7","name":"Limit3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4816,2384],"id":"e13d1194-eef6-4ab3-98ea-dddb7e8a37b9","name":"Loop Over Items"},{"parameters":{"amount":40},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5184,2576],"id":"f74fb663-80ed-4e4a-aa2c-35f6cde5a29f","name":"Wait7","webhookId":"15c92725-42da-4abd-a2f6-9684fa783e2b"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA","mode":"list","cachedResultName":"Leads Tintas MC Jardim Guedala","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1923408679,"mode":"list","cachedResultName":"Indicações","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA/edit#gid=1923408679"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Wait1').item.json.row_number }}","ENVIADO":"❌"},"matchingColumns":["row_number"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VENDEDOR","displayName":"VENDEDOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENVIADO","displayName":"ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"beb6a8cc-8dd6-4421-8c58-cd522477bf0b","name":"ERRO","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[6592,2176],"credentials":{"googleSheetsOAuth2Api":{"id":"3UnmgZHxudzIzIkI","name":"IATARS - SHEETS"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA","mode":"list","cachedResultName":"Leads Tintas MC Jardim Guedala","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1923408679,"mode":"list","cachedResultName":"Indicações","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lf3UQfcDJvVnguQJW6fT8FbGOPxASr_qLeS1wyVX7PA/edit#gid=1923408679"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Wait1').item.json.row_number }}","ENVIADO":"✅"},"matchingColumns":["row_number"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VENDEDOR","displayName":"VENDEDOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENVIADO","displayName":"ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"befcc155-3c60-4bdc-9a29-5a7cea9ff57a","name":"SUCESS","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[6592,2576],"credentials":{"googleSheetsOAuth2Api":{"id":"3UnmgZHxudzIzIkI","name":"IATARS - SHEETS"}}},{"parameters":{"url":"http://159.112.189.1:25049/consultapedidovenda","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"173"},{"name":"data-hora","value":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}"},{"name":"ja-faturado","value":"true"},{"name":"size","value":"500"},{"name":"especieDocumento","value":"PD"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,1424],"id":"9b718193-50a1-475b-b043-f908b04bb8a7","name":"Get API ","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"Unnamed credential"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: items[0].json com o JSON da API\n// Saída: array de { json: {...} }\n\nfunction limparTexto(s) {\n  return String(s || \"\").replace(/\\s+/g, \" \").replace(/[;]+$/g, \"\").trim();\n}\nfunction splitEmails(s) {\n  if (!s) return [];\n  return String(s).split(/[;,]/).map(x => x.trim()).filter(Boolean);\n}\nfunction limparEmail(s) {\n  const e = String(s || \"\").trim().replace(/[;]+$/g, \"\");\n  if (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e)) return \"\";\n  return e.toLowerCase();\n}\nfunction normalizePhone(s) {\n  if (!s) return \"\";\n  const digits = String(s).replace(/\\D/g, \"\");\n  if (digits.length === 10 || digits.length === 11) return digits;\n  if (digits.length === 12 || digits.length === 13) {\n    const semDDI = digits.replace(/^55/, \"\");\n    if (semDDI.length === 10 || semDDI.length === 11) return semDDI;\n  }\n  return \"\";\n}\nfunction dedup(arr) { return Array.from(new Set(arr.filter(Boolean))); }\nfunction normalizaData(s) {\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  const n = Number(s);\n  if (Number.isFinite(n)) {\n    const d = new Date(n);\n    if (!isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  return null;\n}\nfunction toNumber(v) { const n = Number(v); return Number.isFinite(n) ? n : null; }\n\nfunction formataCEP(s) {\n  const d = String(s || \"\").replace(/\\D/g, \"\");\n  if (d.length === 8) return d.slice(0,5) + \"-\" + d.slice(5);\n  return d || null;\n}\n\nfunction montarEnderecoCliente(pedido) {\n  const c = pedido?.cliente;\n  if (c) {\n    const cidadeUF = c?.cidade ? [c.cidade.nomeCidade, c.cidade.siglaEstado].filter(Boolean).join(\" \") : \"\";\n    const partes = [\n      limparTexto([c.endereco, c.numero].filter(Boolean).join(\", \")),\n      limparTexto(c.complemento),\n      limparTexto(c.bairro),\n      limparTexto(cidadeUF),\n      formataCEP(c.cep),\n    ].filter(Boolean);\n    const joined = partes.join(\", \").replace(/\\s+,/g, \",\").trim();\n    if (joined) return joined;\n  }\n  return null;\n}\n\nfunction extrairContatoSimples(pedido) {\n  const fones = dedup([\n    normalizePhone(pedido?.cliente?.telefone1),\n    normalizePhone(pedido?.cliente?.telefone2),\n    normalizePhone(pedido?.telefoneConsumidor),\n    normalizePhone(pedido?.cliente?.telefoneCelular),\n    normalizePhone(pedido?.enderecoEntrega?.telefone),\n  ]);\n  const emails = dedup([\n    ...splitEmails(pedido?.cliente?.email || \"\"),\n    ...splitEmails(pedido?.cliente?.emailNfe || \"\"),\n    ...splitEmails(pedido?.emailConsumidor || \"\"),\n  ].map(limparEmail));\n\n  return { telefone: fones[0] || null, email: emails[0] || null };\n}\n\nfunction extrairPedidos(pages) {\n  const out = [];\n  for (const pagina of pages || []) {\n    for (const pedido of (pagina?.content || [])) {\n      const { telefone, email } = extrairContatoSimples(pedido);\n      const nomeCliente = limparTexto(\n        pedido?.nomeConsumidorOuCliente ||\n        pedido?.cliente?.nome ||\n        pedido?.nomeConsumidor ||\n        pedido?.cliente?.fantasiaSobrenome ||\n        \"CONSUMIDOR\"\n      );\n      \n      // *** ADICIONADO: Captura do código do cliente ***\n      const codigoCliente = pedido?.cliente?.codigoCliente || null;\n      \n      const vendedor = limparTexto(pedido?.nomeVendedor || \"\");\n      const codigoVendedor = pedido?.codigoVendedor || null;\n      const enderecoCliente = montarEnderecoCliente(pedido);\n\n      const dataPedido =\n        normalizaData(pedido?.dataUltimaAlteracao) ||\n        normalizaData(pedido?.dataEntrega) ||\n        normalizaData(pedido?.dataEntrada) ||\n        normalizaData(pedido?.dataPrevisaoEntrega) ||\n        normalizaData(pedido?.dataOrigem) ||\n        null;\n\n      for (const item of (pedido?.itens || [])) {\n        const produto = limparTexto(item?.descricaoCompleta || item?.descricaoProduto || \"\");\n        const quantidade = toNumber(item?.quantidade) ?? 1;\n        const preco = toNumber(item?.totalItem) ?? 0;\n\n        const dataItem =\n          normalizaData(item?.dataFaturamento) ||\n          normalizaData(item?.dataEntrada) ||\n          dataPedido;\n\n        out.push({\n          numeroDocumento: String(pedido?.numeroDocumento || \"\"),\n          codigoCliente, // *** ADICIONADO aqui ***\n          nomeCliente,\n          enderecoCliente,\n          vendedor,\n          codigoVendedor,\n          produto,\n          quantidade,\n          preco,\n          data: dataItem,\n          telefone,\n          email,\n          codigoAtividade: pedido?.cliente?.codigoAtividade || null,\n          nomeVendedor: vendedor || null\n        });\n      }\n    }\n  }\n  return out;\n}\n\n// -------- entrada e retorno --------\nlet payload = items[0]?.json;\nif (payload && payload.body) payload = payload.body;\nif (payload && payload.data) payload = payload.data;\n\nconst pages = Array.isArray(payload) ? payload : [payload];\nconst rows = extrairPedidos(pages);\n\nreturn rows && rows.length ? rows.map(r => ({ json: r })) : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,1424],"id":"00e43cdc-14a3-4e79-b847-fc5c1a016f9f","name":"Clean Data"},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: rows do Code7\n// Saída: objeto agrupado por pedido com produtos e total\nconst pedidos = {};\nfor (const item of items) {\n  const doc = item.json.numeroDocumento;\n  if (!doc) continue;\n  if (!pedidos[doc]) {\n    pedidos[doc] = {\n      numeroDocumento: doc,\n      codigoCliente: item.json.codigoCliente, // *** ADICIONADO ***\n      nomeCliente: item.json.nomeCliente,\n      enderecoCliente: item.json.enderecoCliente,\n      vendedor: item.json.vendedor,\n      codigoVendedor: item.json.codigoVendedor,\n      nomeVendedor: item.json.nomeVendedor,\n      numeroLoja: \"173\",\n      telefone: item.json.telefone,\n      email: item.json.email,\n      data: item.json.data,\n      codigoAtividade: item.json.codigoAtividade,\n      produtos: [],\n      totalPedido: 0\n    };\n  }\n  pedidos[doc].produtos.push({\n    produto: item.json.produto,\n    quantidade: item.json.quantidade,\n    preco: item.json.preco\n  });\n  pedidos[doc].totalPedido += item.json.preco;\n}\n// saída formatada\nreturn Object.values(pedidos).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,1424],"id":"4db0e7fe-98b0-48ed-b8b7-2e6f9896a680","name":"Group Orders"},{"parameters":{"jsCode":"// Função para validar o telefone\nfunction telefoneValido(fone) {\n  if (!fone) return false;\n  const digits = String(fone).replace(/\\D/g, \"\");\n  // deve ter 10 ou 11 dígitos\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n  // ignora se todos os dígitos forem iguais (ex: 1111111111)\n  if (/^(\\d)\\1+$/.test(digits)) return false;\n  // ignora se número principal (sem DDD) for só de 9s (ex: 99999999 ou 999999999)\n  const numeroPrincipal = digits.length === 11 ? digits.slice(2) : digits.slice(2);\n  if (/^9{8,9}$/.test(numeroPrincipal)) return false;\n  return true;\n}\n\n// Mapeamento de código do vendedor → telefone\nconst mapaVendedores = {\n  \"011\": \"11984536811\", // Edielson Lima\n  \"010\": \"11939358619\", // Daniel\n  \"039\": \"11915058579\", // Kawan\n  \"003\": \"11939358619\"  // Renato\n};\n\nconst out = [];\n\nfor (const item of items) {\n  const p = item.json;\n  \n    // filtro 2: ignora CONSUMIDOR\n  if (!p.nomeCliente || p.nomeCliente.toUpperCase() === \"CONSUMIDOR\") continue;\n  \n  // filtro 3: ignora telefone inválido\n  if (!telefoneValido(p.telefone)) continue;\n  \n  // adiciona telefone do vendedor, se houver\n  p.telefoneVendedor = mapaVendedores[p.codigoVendedor] || null;\n  \n  // adiciona ao output\n  out.push({ json: p });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,1200],"id":"d0e53464-59a8-4e20-9611-11757771d70b","name":"Filter Orders"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"TMC_Alberto\".pedidos\n(numero_documento, codigo_cliente, nome_cliente, endereco_cliente, vendedor, codigo_vendedor, telefone_vendedor, telefone, email, data, codigo_atividade, total_pedido, produtos, numero_loja)\nVALUES\n(\n  '{{$json.numeroDocumento}}',\n  '{{ $json.codigoCliente }}',\n  '{{$json.nomeCliente}}',\n  '{{$json.enderecoCliente}}',\n  '{{$json.vendedor}}',\n  '{{$json.codigoVendedor}}',\n  '{{$json.telefoneVendedor}}',\n  '{{$json.telefone}}',\n  '{{$json.email}}',\n  '{{$json.data}}',\n  '{{$json.codigoAtividade}}',\n  {{$json.totalPedido}},\n  '{{JSON.stringify($json.produtos)}}'::jsonb,\n  {{$json.numeroLoja}}\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1600,1200],"id":"7ff7257b-055c-4b67-a425-c1a11f732c44","name":"Save DB","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"Postgres account"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: itens contendo pedidos como você já tem usado\n// Saída: analise SOMENTE do dia anterior (America/Sao_Paulo)\n// Se \"ontem\" não existir nos dados, usa a data mais recente disponível\n\nfunction to2(n) { return Math.round((n + Number.EPSILON) * 100) / 100; }\n\nfunction ensureArrayFromItems(items) {\n  if (!items?.length) return [];\n  const j0 = items[0].json;\n  if (Array.isArray(j0)) return j0; // primeiro item é o array completo\n  return items.map(i => i.json);    // caso comum: um pedido por item\n}\n\nfunction totalPedido(p) {\n  return to2((p.produtos || []).reduce((acc, it) => acc + Number(it.preco || 0), 0));\n}\n\nfunction qtdItens(p) {\n  return (p.produtos || []).reduce((acc, it) => acc + Number(it.quantidade || 0), 0);\n}\n\nfunction acum(map, key, valor) {\n  if (!map[key]) map[key] = 0;\n  map[key] += valor;\n}\n\nfunction topN(dict, n, by = 'valor') {\n  const arr = Object.entries(dict).map(([k, v]) => {\n    if (typeof v === 'number') return { nome: k, valor: v };\n    return { nome: k, valor: v.valor ?? 0, qtd: v.qtd ?? 0 };\n  });\n  arr.sort((a, b) => (b[by] ?? 0) - (a[by] ?? 0));\n  return arr.slice(0, n).map(x => ({ ...x, valor: to2(x.valor) }));\n}\n\nfunction ymdInTZ(date) {\n  // retorna YYYY-MM-DD em America/Sao_Paulo\n  const s = date.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }); // dd/mm/aaaa\n  const [dd, mm, yyyy] = s.split('/');\n  return `${yyyy}-${mm.padStart(2,'0')}-${dd.padStart(2,'0')}`;\n}\n\nconst pedidosRaw = ensureArrayFromItems(items);\n\n// normaliza pedidos\nconst pedidosOut = pedidosRaw.map(p => ({\n  numeroDocumento: p.numeroDocumento,\n  data: p.data, // já está em YYYY-MM-DD\n  vendedor: p.vendedor || null,\n  nomeCliente: p.nomeCliente,\n  telefone: p.telefone || null,\n  email: p.email || null,\n  enderecoCliente: p.enderecoCliente || null,\n  qtdProdutos: p.produtos?.length || 0,\n  qtdItens: qtdItens(p),\n  totalPedido: totalPedido(p),\n  produtos: p.produtos || []\n}));\n\n// Captura o número da loja (assumindo que todos os pedidos são da mesma loja)\nconst numeroLoja = pedidosRaw[0]?.numeroLoja || null;\n\n// determina \"ontem\" em São Paulo\nconst hojeSP = new Date();\nconst ontemSP = new Date(hojeSP.getTime() - 24*60*60*1000);\nconst dataOntem = ymdInTZ(ontemSP);\n\n// define data alvo\nconst datasDisponiveis = [...new Set(pedidosOut.map(p => p.data))].filter(Boolean).sort();\nlet dataAlvo = dataOntem;\nlet usouDataMaisRecente = false;\n\nlet pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n\n// se não há pedidos no \"ontem\", usa a última data disponível\nif (pedidosDia.length === 0 && datasDisponiveis.length > 0) {\n  dataAlvo = datasDisponiveis[datasDisponiveis.length - 1];\n  pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n  usouDataMaisRecente = true;\n}\n\n// métricas do dia\nconst faturamentoTotal = to2(pedidosDia.reduce((a, p) => a + p.totalPedido, 0));\nconst totalPedidos = pedidosDia.length;\nconst totalItens = pedidosDia.reduce((a, p) => a + p.qtdItens, 0);\nconst clientesUnicos = new Set(pedidosDia.map(p => p.nomeCliente || 'SEM NOME')).size;\nconst ticketMedio = totalPedidos ? to2(faturamentoTotal / totalPedidos) : 0;\n\n// por vendedor (dia)\nconst porVendValor = {};\nconst porVendQtd = {};\nfor (const p of pedidosDia) {\n  const vend = p.vendedor || 'SEM VENDEDOR';\n  acum(porVendValor, vend, p.totalPedido);\n  acum(porVendQtd, vend, 1);\n}\nconst porVendedor = Object.keys(porVendValor).map(v => ({\n  vendedor: v,\n  pedidos: porVendQtd[v] || 0,\n  total: to2(porVendValor[v] || 0),\n  ticketMedio: porVendQtd[v] ? to2(porVendValor[v] / porVendQtd[v]) : 0\n})).sort((a, b) => b.total - a.total);\n\n// por dia — só a data analisada\nconst porDia = [{ data: dataAlvo, total: faturamentoTotal }];\n\n// top clientes do dia\nconst clientesDict = {};\nfor (const p of pedidosDia) acum(clientesDict, p.nomeCliente || 'SEM NOME', p.totalPedido);\nconst topClientes = topN(clientesDict, 10, 'valor');\n\n// top produtos do dia\nconst prodDict = {};\nfor (const p of pedidosDia) {\n  for (const it of (p.produtos || [])) {\n    const nome = it.produto || 'SEM PRODUTO';\n    if (!prodDict[nome]) prodDict[nome] = { qtd: 0, valor: 0 };\n    prodDict[nome].qtd += Number(it.quantidade || 0);\n    prodDict[nome].valor += Number(it.preco || 0);\n  }\n}\nconst topProdutosQtd = topN(prodDict, 10, 'qtd');\nconst topProdutosValor = topN(prodDict, 10, 'valor');\n\n// pedidos atípicos no dia: > 2 x ticket médio do dia\nconst pedidosAtipicos = ticketMedio > 0\n  ? pedidosDia.filter(p => p.totalPedido > 2 * ticketMedio).map(p => p.numeroDocumento)\n  : [];\n\nconst resumo = {\n  numeroLoja,\n  dataAlvo,\n  usouDataMaisRecente,\n  faturamentoTotal,\n  totalPedidos,\n  totalItens,\n  clientesUnicos,\n  ticketMedio,\n  pedidosAtipicos\n};\n\nreturn [\n  {\n    json: {\n      analise: {\n        resumo,\n        porVendedor,\n        porDia,\n        topClientes,\n        topProdutosQtd,\n        topProdutosValor,\n        pedidos: pedidosDia\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,1424],"id":"5a719fb8-2865-42b5-9fbe-1af74805c4b0","name":"Analyze Day"},{"parameters":{"promptType":"define","text":"={{ $json.analise }}","messages":{"messageValues":[{"message":"=Você é um analista de vendas. Sua saída é um relatório diário curto (até 1.200 caracteres), pronto para WhatsApp. Use apenas texto simples, títulos em negrito com *asteriscos* e bullets normais (-). Não use # nem formatação markdown. Moeda no formato R$ 1.234,56.\n\nDados de entrada: {{ $json.analise }}\n\nRegras:\n1) Identifique a data de ontem em \"porDia\". Se não houver dados de ontem, use a data mais recente e avise no início.  \n2) Considere apenas pedidos cuja data seja a do dia analisado.  \n3) Calcule: faturamento total, nº de pedidos, nº de itens, ticket médio, nº de clientes únicos.  \n\nEstrutura da saída:\n*Resumo diário – DD/MM/AAAA* Loja \"\" \nFaturamento R$ X em Y pedidos, ticket médio R$ Z, N clientes únicos.  \n\n*Vendedores*  \n- Nome: R$ total | pedidos | % participação | ticket médio R$ X  \n\n*Produtos*  \n1 frase sobre mix e concentração.  \n- Produto: qtd un – R$ total  \n(liste até 3, pegando dos tops por valor e por quantidade, sem repetir)  \n\n*Clientes*  \n1 frase com os clientes mais relevantes do dia (até 2 ou 3 nomes).  \n\n*Conclusão*  \n1 frase curta interpretando o desempenho geral (ex: concentração em vendedores, dependência de produtos, ou oportunidade).\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1264,1424],"id":"c6d89efc-5e19-47db-9f48-69cfa6afa7f4","name":"Format Report"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1232,1616],"id":"73383663-4bde-45b1-aa07-d87d8826d23d","name":"LLM Model","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,2544],"id":"3b7c4c0f-2fde-4a0f-aa3a-61f05c47a3da","name":"If"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","tableId":"dados_cliente_tmc","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Loop Over Items6').item.json.telefone }}"},{"fieldId":"Loja","fieldValue":"067"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1664,2720],"id":"b9530232-4f77-48c5-93b8-8345da74c84f","name":"Create a row2","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1952,2752],"id":"885bbc33-8739-47c2-a143-ed0c1cc3046a","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"promptType":"define","text":"=Gere uma mensagem personalizada de follow-up.\n\nDados do cliente:  \n- Nome ou Empresa:  {{ $json.Nome_Cliente }} \n- Valor do pedido: R$ {{ $json.Valor_Pedido }} \n- Produtos:  {{ $json.Produtos }}\n- Etapa: {{ $json.Etapa }} (24h, 7d, 15d, 30d, etc.)\n\nRegras:  \n- Se for empresa, trate como equipe. Se for pessoa, no singular. \n-Se apresente como {{ $json.vendedor }}\n- Cite de forma leve o tipo de compra, sem listar tudo.  \n- Use gatilho mental conforme a etapa (urgência, confiança, conveniência).  \n- Finalize com CTA.\n","options":{"systemMessage":"=Você é TARS, um assistente comercial especializado em gerar mensagens de follow-up inteligentes e naturais para WhatsApp.  \nSeu papel é reengajar clientes que já compraram em lojas de tintas e materiais, aumentando a chance de novas vendas sem soar robótico.  \n\nRegras principais:  \n- Sempre usar tom consultivo, amigável e direto.  \n- Personalize a abordagem conforme os dados recebidos (nome/empresa, valor do pedido, tipo de produtos, etapa do follow-up).  \n- Se for pessoa física → trate no singular (“você”).  \n- Se for empresa → trate no coletivo (“vocês/equipe”).  \n- Use ganchos de abertura (“Oi, tudo bem?”, “Bom dia, equipe!”).  \n- Cite de forma leve o que foi comprado (sem listar todos os itens, só dar a sensação de lembrança).  \n- Adapte o gatilho mental de acordo com a etapa:  \n  • 24h → urgência / não deixar faltar nada.  \n  • 7d → confiança / satisfação com o resultado.  \n  • 15d → conveniência / complementos úteis.  \n  • 30d → novidade / promoções e oportunidades.  \n  • 45d → benefício / facilidades de entrega ou condição especial.  \n  • 60d → relacionamento / convite aberto para próxima compra.  \n- Sempre finalize com um CTA simples que convide resposta.\n- Mensagens curtas, máximo 5 linhas.  \n- Linguagem humana, nunca robótica.  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2064,2528],"id":"d8cc1a75-5875-41bc-9838-7bc136fa1f15","name":"AI Agent1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields2').first().json.sessionid }}","tableName":"n8n_chat_histories_tmc"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2096,2752],"id":"d5af6c1b-dca1-42fe-984a-ef81f11cc25b","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b0cf651d-9949-4f7f-a51b-c6dd56464f31","name":"Nome_Cliente","value":"={{ $('Loop Over Items6').item.json.nome_cliente }}","type":"string"},{"id":"4523601c-a9ed-419e-881b-4dfd533f4dcd","name":"Valor_Pedido","value":"={{ $('Loop Over Items6').item.json.total_pedido }}","type":"string"},{"id":"8ca03ac5-5d7b-467f-9571-b7276be9a627","name":"Produtos","value":"={{ JSON.stringify($('Loop Over Items6').item.json.produtos) }}","type":"string"},{"id":"546f2dfb-6e6e-4aa7-aafa-863006f9b1cb","name":"Etapa","value":"={{ $('Loop Over Items6').item.json.etapa }}","type":"string"},{"id":"3a4af637-c9f0-4feb-b070-34f259763f5f","name":"Telefone_Cliente","value":"={{ $('Loop Over Items6').item.json.telefone }}","type":"string"},{"id":"71609d23-7bd3-4de4-bdc6-41be1fcfb3b2","name":"vendedor","value":"={{ $('Loop Over Items6').item.json.vendedor.split(\" \")[0] }}","type":"string"},{"id":"194afb7b-9a81-4718-b0bc-b2fb2ad4ce37","name":"sessionid","value":"={{ $json.sessionid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1904,2528],"id":"6fcc4de8-e99c-4c40-b9ec-3ff883240188","name":"Edit Fields2"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[896,2544],"id":"b1799984-08b4-4b02-b1f3-f5ca0c43a27f","name":"Supabase1","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1456,2720],"id":"61708b0c-4d1a-4e25-8254-d7b15cab35d3","name":"Gerar sessionID1"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Loop Over Items6').item.json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1552,2528],"id":"03282d3f-14cb-4a41-97ad-ec764d7edc3c","name":"Get Dados1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,2528],"id":"1fce427c-ca34-4d22-bc23-5b0abe2eaa54","name":"Loop Over Items6"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"TMC_Alberto\".disparos\n(\n  telefone_cliente,\n  codigo_vendedor,\n  telefone_vendedor,\n  etapa,\n  nome_cliente,\n  numero_loja,\n  codigo_cliente,  -- ← ADICIONADO\n  data_disparo\n)\nVALUES\n(\n  '{{ $json.Telefone }}',\n  '{{ $json[\"codigo vendedor\"] }}',\n  '{{ $json[\"telefone vendedor\"] }}',\n  '{{ $json.Etapa }}',\n  '{{ $json[\"Nome cliente\"] }}',\n  '{{ $json[\"numero loja\"] }}',\n  '{{ $json[\"codigo cliente\"] }}',  -- ← ADICIONADO\n  NOW()\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3408,2528],"id":"1d636944-2c2e-49b8-8ded-748446d3e12f","name":"Save Disparo1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"06a3f128-16c7-49dc-8433-527da6f96a0b","name":"Telefone","value":"={{ $('Check DB').item.json.telefone }}","type":"string"},{"id":"c30766bf-6eba-4a42-9182-e4e7f98cef5a","name":"codigo vendedor","value":"={{ $('Check DB').item.json.codigo_vendedor }}","type":"string"},{"id":"49d04c63-b3b8-47de-be23-95bc827d7f2f","name":"telefone vendedor","value":"={{ $('Check DB').item.json.telefone_vendedor }}","type":"string"},{"id":"10435019-f3d0-43e3-8b08-e70d8fb964b6","name":"Etapa","value":"={{ $('Check DB').item.json.etapa }}","type":"string"},{"id":"7fffda7d-e35d-42d6-9730-b27c9ed16172","name":"Nome cliente","value":"={{ $('Check DB').item.json.nome_cliente }}","type":"string"},{"id":"c8493207-54ee-4614-841c-c4ff1a78c7b1","name":"numero loja","value":"={{ $('Check DB').item.json.numero_loja }}","type":"string"},{"id":"1085935d-696f-4a1c-b5c4-36b097819c6b","name":"codigo cliente","value":"={{ $('Check DB').item.json.codigo_cliente }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3216,2528],"id":"0b5564ce-a6f7-4d06-b947-e07ae5b1d282","name":"Prep Save"},{"parameters":{"assignments":{"assignments":[{"id":"21dbf9bd-2cbd-4a6b-9489-5dd97dfa1f23","name":"sessionid","value":"={{ $json.sessionid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2336,336],"id":"d8c5fe9b-3f41-4092-b6f9-b327415af7ef","name":"Edit Fields3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1344,640],"id":"b82ef58c-b8ff-4611-a861-bc544ebb60e1","name":"No Operation, do nothing"},{"parameters":{"operation":"push","list":"={{ $json.sessionid }}","messageData":"={{ $('dados_para_atendimento_humano').item.json.mensagem }}","tail":true},"id":"870fd354-103a-44c1-acf4-2db6afd5ae37","name":"Text Memory2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3584,288],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"=data","destinationKey":"=data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3040,416],"id":"4b825a02-672f-494f-bb3b-11dc1425751d","name":"Extract from File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"b4ac0df6-ea3f-417b-850d-e6c2a22ee21a","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3376,416],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3216,416],"id":"53b81fae-c661-4a91-88df-347ec5592aa5","name":"Convert to File3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"320e4453-4773-471e-863d-a736de2fbff3","leftValue":"={{ $('dados_para_atendimento_humano').item.json.MediaType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"77507905-2987-4aca-9840-4b989f562307","leftValue":"={{ $('dados_para_atendimento_humano').first().json.MediaType }}","rightValue":"=text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('dados_para_atendimento_humano').item.json.MediaType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ddfba14a-79ca-4698-b0a1-ad0e60dcb4ec","leftValue":"={{ $('dados_para_atendimento_humano').item.json.MediaType }}","rightValue":"ephemeralMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.audio.mimeType }}","rightValue":"=audio/ogg; codecs=opus","operator":{"type":"string","operation":"contains"},"id":"839edd08-57e9-4dc3-abdd-1950e09e1572"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook').item.json.body.image.mimeType }}","rightValue":"image/jpeg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem/jpeg"}]},"options":{}},"id":"f8f4e4ba-3ce4-40de-9979-365f71b887c2","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2480,272]},{"parameters":{"url":"={{ $('Webhook').item.json.body.audio.audioUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F14b565a1ea3a4889a790ee3b13069c4bS"}]},"options":{}},"id":"c288a084-8c30-4789-a957-df91b3d1fd19","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,416]},{"parameters":{"amount":10},"id":"d2c72441-6027-498c-b146-8971717be3e3","name":"Wait9","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4112,416],"webhookId":"d2608e95-2419-4f68-af29-8aa4483c7b30"},{"parameters":{"operation":"get","key":"={{ $json.sessionid }}","options":{}},"id":"6480b949-05d6-4324-9639-2fecf0744918","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3952,416],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Edit Fields3').item.json.sessionId }}","messageData":"={{ $json.text }}","tail":true},"id":"b87d3d36-4fe1-4e2d-81fa-abdb9fb14238","name":"Audio Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3584,416],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Edit Fields3').item.json.sessionId }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"70497b35-8fee-402c-90a5-54a6717afaf4","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3584,576],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"=Extraia e normalize todos os itens, separando nome, quantidade e unidade. Organize tudo em uma lista clara e completa, sem omitir nenhum item.","inputType":"base64","options":{}},"id":"e5ff7409-6bac-4206-ba4f-93a4759fe1fe","name":"OpenAI7","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3376,576],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"url":"={{ $('Webhook').item.json.body.image.imageUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F14b565a1ea3a4889a790ee3b13069c4bS"}]},"options":{}},"id":"63bc7e1e-fcf0-4f5d-8905-17aa5544d81e","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,576]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d09cde30-d498-4d1f-ab37-ef1f169415e3","leftValue":"={{ $json.body.fromApi }}","rightValue":"false","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,368],"id":"2ddf4750-0a07-4c4d-b346-672a261cbd6c","name":"If5"},{"parameters":{"assignments":{"assignments":[{"id":"f8ccd10b-1b4e-411a-bbaa-4309b3b3674c","name":"Telefone","value":"={{ $json.body.data.key.remoteJid.replace(/@.*$/, '').replace(/^55/, '').trim() }}","type":"string"},{"id":"59c45e98-ef1f-40c7-89ee-8ad95c526a47","name":"Nome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"c549ede8-9aaa-4967-a4aa-6161b8359c88","name":"status","value":"={{ $json.body.data.status }}","type":"string"},{"id":"cc803d9f-a567-49a6-862b-eafb26530a5f","name":"baseUrl","value":"={{ $json.body.ticket.whatsapp.baseUrl }}","type":"string"},{"id":"fb52083d-7ecc-4500-ae99-6ac10f890eb6","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"a35923ee-5a33-457e-865a-ec18797bdbdc","name":"MediaType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"3dc8b5fc-1dd8-4ed7-9148-1c61361667e6","name":"Loja","value":"=173","type":"string"},{"id":"52785e95-c1de-4e99-9351-5c00b66625ed","name":"APIKey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"ce712495-0c1b-4204-b906-eedeb6adaf6c","name":"fromMe","value":false,"type":"boolean"},{"id":"b02a1dc1-7701-4000-b741-64f055162c1f","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"string"},{"id":"39d5db02-688b-4acc-b948-0e33ea39367f","name":"instancia","value":"={{ $json.body.instance }}","type":"string"}]},"options":{}},"id":"513479da-afd7-45ae-a7fd-69de72a2464d","name":"dados_para_atendimento_humano","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,384]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Desativada"}]},"options":{}},"id":"38a3f6d7-2e0a-401f-a6cc-cea2bda3d388","name":"Switch Block1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1120,400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.fromMe }}","rightValue":"true","operator":{"type":"string","operation":"equals"},"id":"e1111e6f-d830-4f61-ab5c-ca8673b6d6af"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $json.fromMe }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"b628b306-767f-40e4-8efb-53b269ed35fd","name":"Switch7","type":"n8n-nodes-base.switch","typeVersion":3,"position":[672,384]},{"parameters":{"operation":"set","key":"={{ $json.Telefone }}_block","value":"true","keyType":"string","expire":true,"ttl":900},"id":"76d63111-4fb3-4fd9-8221-b17f47b63be4","name":"PARA IA1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[928,192],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.Telefone }}_block","options":{}},"id":"fa64e2b4-4bf4-491a-8759-a76605477997","name":"Verificar Atendimento1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[912,400],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,208],"id":"6dd46d25-6f9f-4355-833d-4fe8c052b2c5","name":"No Operation, do nothing2"},{"parameters":{"httpMethod":"POST","path":"jardimguedala","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[32,368],"id":"ab290b63-e6ad-40f4-ac1b-54dc920d4b6d","name":"Webhook","webhookId":"b1590a66-d6fd-46b5-b16b-e97cf4111c6c"},{"parameters":{"operation":"get","key":"={{ $('Text Memory2').item.json.sessionid }}","options":{}},"id":"c9f8dbc4-f4d6-411f-a983-b35961a2b635","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4272,416],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"resource":"messages-api","instanceName":"=IA GUEDALA","remoteJid":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","messageText":"={{ $('AI Agent').item.json.output }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6368,416],"id":"e268abd2-b073-491d-864c-62e2b23e0398","name":"Enviar texto","credentials":{"evolutionApi":{"id":"hpBplmDvzRfsxlOa","name":"IA GUEDALA"}}},{"parameters":{"content":"# DISPARO PARA CLIENTE \n\n\n","height":976,"width":4048,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-32,2128],"typeVersion":1,"id":"bd30fe96-5e18-4866-ab89-a1b3f6274b51","name":"Sticky Note4"},{"parameters":{"content":"","height":980,"width":2803,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4128,2128],"typeVersion":1,"id":"28d81c00-2a47-4232-990f-b08287c008f3","name":"Sticky Note16"},{"parameters":{"content":"","height":1076,"width":2803,"color":6},"type":"n8n-nodes-base.stickyNote","position":[4144,864],"typeVersion":1,"id":"5b97133c-e0b7-43c4-89cb-2aa56bcd9c60","name":"Sticky Note15"},{"parameters":{"content":"# TESTE DE CONEXÃO CRM\n## INSERIR BEARER","height":800,"width":1616},"type":"n8n-nodes-base.stickyNote","position":[2272,1040],"typeVersion":1,"id":"f88b4ed3-67b6-45b5-9d70-16d8fab3546b","name":"Sticky Note2"},{"parameters":{"content":"# REGISTRA VENDAS PARA DISPARO\n\n","height":1056,"width":2080,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-32,864],"typeVersion":1,"id":"56852242-1e75-4318-91e2-b818edcc6f1c","name":"Sticky Note1"},{"parameters":{"resource":"messages-api","instanceName":"=Miguel teste","remoteJid":"=5511940662846@s.whatsapp.net","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1600,1424],"id":"1c036477-a913-4c65-91b7-d1f4927e04b0","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}}},{"parameters":{"assignments":{"assignments":[{"id":"63e56ec3-61c9-45ac-a204-029a204048e3","name":"Vendedor","value":"={{ $('Edit Fields2').first().json.vendedor }}","type":"string"},{"id":"74408f42-21c7-4e44-a816-515a64e8ff07","name":"nome","value":"={{ $('Edit Fields2').first().json.Nome_Cliente }}","type":"string"},{"id":"af085947-8e2d-4671-adf7-aab4a4a1d321","name":"telefone","value":"={{ $('Edit Fields2').item.json.Telefone_Cliente }}","type":"string"},{"id":"32b15209-f22a-46af-ae22-0f0d7430ba63","name":"Mensagem","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2352,2528],"id":"a376f95b-4de1-497d-b535-c00408fb9557","name":"Verifica vendedor1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9255168d-fe72-4972-9476-b87cbc602363","leftValue":"={{ $json.Vendedor }}","rightValue":"DANIEL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Daniel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Vendedor }}","rightValue":"=RENATO","operator":{"type":"string","operation":"equals"},"id":"a8a464de-8d40-41b5-ade1-24a9594c6203"}],"combinator":"and"},"renameOutput":true,"outputKey":"Renato"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6f1f3d60-e433-459c-a828-bf709a8e3994","leftValue":"={{ $json.Vendedor }}","rightValue":"KAWAN","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Kawan"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98becda3-c797-40ca-a2b2-77fb384dad49","leftValue":"={{ $json.Vendedor }}","rightValue":"EDIELSON","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"EDIELSON"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[2528,2496],"id":"1d964583-a2f0-4b6c-8b3d-d54d194ff210","name":"Switch1"},{"parameters":{"resource":"messages-api","instanceName":"=TMC Guedala - KAWAN SOUZA CONCEICAO","remoteJid":"5512988112870@s.whatsapp.net","messageText":"teste","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3056,1456],"id":"0190f7f4-d62c-4a7c-ab0d-98bd9db200b4","name":"KAWAN1","credentials":{"evolutionApi":{"id":"oJCe1LYhBX1o9iEY","name":"KAWAN"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"=IA GUEDALA","remoteJid":"5512988112870@s.whatsapp.net","messageText":"=TESTE","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3056,1280],"id":"094d6c5f-d53c-4b9f-98f4-cbe9b6f7ea70","name":"DANIEL/RENATO1","credentials":{"evolutionApi":{"id":"hpBplmDvzRfsxlOa","name":"IA GUEDALA"}},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Vendedor }}","rightValue":"=39","operator":{"type":"string","operation":"equals"},"id":"a8a464de-8d40-41b5-ade1-24a9594c6203"}],"combinator":"and"},"renameOutput":true,"outputKey":"Daniel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6f1f3d60-e433-459c-a828-bf709a8e3994","leftValue":"={{ $json.Vendedor }}","rightValue":"10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Kawan"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[5776,2400],"id":"c246bff2-d55a-4ce2-9605-5b4754a9e12d","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"63e56ec3-61c9-45ac-a204-029a204048e3","name":"Vendedor","value":"={{ $json.VENDEDOR }}","type":"string"},{"id":"74408f42-21c7-4e44-a816-515a64e8ff07","name":"nome","value":"={{$json.NOME}}","type":"string"},{"id":"af085947-8e2d-4671-adf7-aab4a4a1d321","name":"telefone","value":"={{ $json.TELEFONE }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5520,2400],"id":"deff93bb-3977-4e15-afab-61dc5a8afff3","name":"Verifica vendedor2"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"TMC Guedala","remoteJid":"={{ $('Wait').first().json.TELEFONE }}@s.whatsapp.net","media":"https://iili.io/FvEJ3ru.jpg","caption":"📢 Hoje tem Promoção na Tintas MC!  Além de aproveitar grandes marcas em promoção, você tem muito mais: ✅ Orçamento em apenas 20 segundos – rápido e sem complicação. ✅ Entrega ágil para você não perder tempo na sua obra. ✅ Atendimento especializado – tiramos todas as suas dúvidas técnicas.  👉 Envie sua lista agora e receba seu orçamento na hora!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6400,1328],"id":"d39064a2-c358-49c7-bdba-85cc63ea01de","name":"Enviar imagem","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"=IA GUEDALA","remoteJid":"=55{{ $json.telefone }}@s.whatsapp.net","messageText":"={{ $('AI Agent1').first().json.output }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2928,2288],"id":"6c56d46a-9127-431c-8454-ee42eda7f0ae","name":"DANIEL","credentials":{"evolutionApi":{"id":"hpBplmDvzRfsxlOa","name":"IA GUEDALA"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT ON (p.telefone, p.numero_loja)\n  p.*,\n  CASE\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '1 day' THEN '24h'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '7 day' THEN '7d'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '15 day' THEN '15d'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '30 day' THEN '30d'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '45 day' THEN '45d'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '60 day' THEN '60d'\n  END as etapa\nFROM \"TMC_Alberto\".pedidos p\nWHERE p.data::date IN (\n  CURRENT_DATE - INTERVAL '1 day',\n  CURRENT_DATE - INTERVAL '7 day',\n  CURRENT_DATE - INTERVAL '15 day',\n  CURRENT_DATE - INTERVAL '30 day',\n  CURRENT_DATE - INTERVAL '45 day',\n  CURRENT_DATE - INTERVAL '60 day'\n)\nAND p.numero_loja = '173'  -- ← FILTRO POR LOJA ESPECÍFICA\nAND NOT EXISTS (\n  SELECT 1\n  FROM \"TMC_Alberto\".pedidos p2\n  WHERE p2.telefone = p.telefone\n    AND p2.numero_loja = p.numero_loja\n    AND p2.data > p.data\n)\nAND NOT EXISTS (\n  SELECT 1\n  FROM \"TMC_Alberto\".disparos d\n  WHERE d.telefone_cliente = p.telefone\n  AND d.numero_loja = p.numero_loja\n  AND d.etapa = CASE\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '1 day' THEN '24h'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '7 day' THEN '7d'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '15 day' THEN '15d'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '30 day' THEN '30d'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '45 day' THEN '45d'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '60 day' THEN '60d'\n    END\n)\nORDER BY p.telefone, p.numero_loja, p.data DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[336,2528],"id":"5c4fdfac-6134-4af7-a875-5020a90043a0","name":"Check DB","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[256,1424],"id":"8ab0b508-198f-4249-b57b-d92ea3620ffe","name":"SALVA VENDAS BD"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[128,2528],"id":"99aa3494-f1de-476e-a748-b4d8a1873d75","name":"Disparo Follow up"},{"parameters":{"resource":"messages-api","instanceName":"=TMC Guedala","remoteJid":"={{ $json.telefone }}@s.whatsapp.net","messageText":"=Olá {{ $json.nome }}, tudo bem? 😊\nVocê foi recomendado por um cliente que comprou em nossas lojas Tintas MC, e gostaríamos de te convidar para se tornar parceiro da nossa rede.\n\n👉 Como parceiro, você terá:\n\n- Acesso a treinamentos exclusivos para aprimorar seu trabalho.\n\n- Participação no nosso programa de fidelidade.\n\n- Indicação para novos clientes finais que procuram profissionais de confiança.\n\n\nSe tiver interesse, me avise por aqui que já te passo todos os detalhes. Será um prazer contar com você em nossa equipe de parceiros!","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6256,2208],"id":"2f8983e4-a465-4f4b-9b9f-a0de478e8c8b","name":"DANIEL - CAPTAÇÃO","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"=TMC Guedala - KAWAN SOUZA CONCEICAO","remoteJid":"={{ $json.telefone }}@s.whatsapp.net","messageText":"=Olá {{ $json.nome }}, tudo bem? 😊\nVocê foi recomendado por um cliente que comprou em nossas lojas Tintas MC, e gostaríamos de te convidar para se tornar parceiro da nossa rede.\n\n👉 Como parceiro, você terá:\n\n- Acesso a treinamentos exclusivos para aprimorar seu trabalho.\n\n- Participação no nosso programa de fidelidade.\n\n- Indicação para novos clientes finais que procuram profissionais de confiança.\n\n\nSe tiver interesse, me avise por aqui que já te passo todos os detalhes. Será um prazer contar com você em nossa equipe de parceiros!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6272,2592],"id":"a41ab4fb-64ea-498d-95c6-14e3e7d3f3d3","name":"KAWAN - CAPTAÇÃO","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"=TMC Guedala - KAWAN SOUZA CONCEICAO","remoteJid":"=55{{ $json.telefone }}@s.whatsapp.net","messageText":"={{ $('AI Agent1').first().json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2928,2528],"id":"aacf9595-ed08-4c39-8d49-3eeef0de518c","name":"KAWAN/RENATO","credentials":{"evolutionApi":{"id":"oJCe1LYhBX1o9iEY","name":"KAWAN"}},"onError":"continueErrorOutput"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3728,2528],"id":"759b36e3-79ec-457f-8874-47c18439fc71","name":"Wait4","webhookId":"8e067373-46f9-4c3d-8a0b-d70a422674fa"},{"parameters":{"assignments":{"assignments":[{"id":"06a3f128-16c7-49dc-8433-527da6f96a0b","name":"Telefone","value":"={{ $('Check DB').item.json.telefone }}","type":"string"},{"id":"c30766bf-6eba-4a42-9182-e4e7f98cef5a","name":"codigo vendedor","value":"={{ $('Check DB').item.json.codigo_vendedor }}","type":"string"},{"id":"49d04c63-b3b8-47de-be23-95bc827d7f2f","name":"telefone vendedor","value":"={{ $('Check DB').item.json.telefone_vendedor }}","type":"string"},{"id":"10435019-f3d0-43e3-8b08-e70d8fb964b6","name":"Etapa","value":"={{ $('Check DB').item.json.etapa }}","type":"string"},{"id":"7fffda7d-e35d-42d6-9730-b27c9ed16172","name":"Nome cliente","value":"={{ $('Check DB').item.json.nome_cliente }}","type":"string"},{"id":"c8493207-54ee-4614-841c-c4ff1a78c7b1","name":"numero loja","value":"={{ $('Check DB').item.json.numero_loja }}","type":"string"},{"id":"1acc01db-e84d-4dab-beab-ac17bbd41503","name":"=Concluido","value":"={{ $json.success }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3568,2528],"id":"e00dc3f4-255d-4ed4-83fa-0f3680d1306b","name":"Envia dados"},{"parameters":{"jsCode":"// Input vindo do \"done\" do Loop Over no n8n\nconst input = items.map(i => i.json);\n\n// Loja fixa\nconst numeroLoja = 173;\n\n// Pegar data atual formatada (ex: 22/10/2025)\nconst hoje = new Date();\nconst dataHoje = hoje.toLocaleDateString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" });\n\n// Inicialização\nlet total = 0;\nlet sucesso = 0;\nlet erro = 0;\nlet etapas = {};\nlet clientesAtrasados = [];\nlet listaErros = [];\n\n// Função para extrair número de erro\nfunction extrairNumeroErro(errorData) {\n  try {\n    const errorObj = typeof errorData === 'string' ? JSON.parse(errorData) : errorData;\n    const details = errorObj?.details || \"\";\n    const match = details.match(/\"number\":\"(\\d+)@/);\n    return match ? match[1] : null;\n  } catch {\n    return null;\n  }\n}\n\n// Processar registros\nfor (const registro of input) {\n  total++;\n  \n  const temErro = registro.error || \n                  registro.success === false || \n                  registro.sucess === false ||\n                  registro.sucess === \"false\" ||\n                  registro.success === \"false\";\n  \n  const temSucesso = registro.Concluido === \"true\" || \n                     registro.concluido === true ||\n                     registro.success === true ||\n                     registro.sucess === true ||\n                     (!temErro && (registro.Telefone || registro.telefone));\n  \n  if (temErro) {\n    erro++;\n    const numeroErro = extrairNumeroErro(registro.error);\n    \n    const codigoCliente = registro[\"codigo cliente\"] || registro.codigo_cliente || null;\n    const nomeCliente = registro[\"Nome cliente\"] || registro.nome_cliente || null;\n    const telefone = registro.Telefone || registro.telefone || null;\n    \n    listaErros.push({\n      codigoCliente: codigoCliente,\n      nomeCliente: nomeCliente,\n      numero: numeroErro || telefone || \"Número não identificado\"\n    });\n  } else if (temSucesso) {\n    sucesso++;\n  }\n  \n  const etapa = registro.Etapa || registro.etapa;\n  if (etapa) {\n    etapas[etapa] = (etapas[etapa] || 0) + 1;\n    \n    const dias = parseInt(etapa.replace(\"d\", \"\").replace(\"h\", \"\")) || 0;\n    if (dias > 30) {\n      const clienteNome = registro[\"Nome cliente\"] || registro.nome_cliente || \"Não identificado\";\n      clientesAtrasados.push({\n        cliente: clienteNome,\n        etapa\n      });\n    }\n  }\n}\n\nconst pctSucesso = total > 0 ? ((sucesso / total) * 100).toFixed(2) : \"0.00\";\nconst pctErro = total > 0 ? ((erro / total) * 100).toFixed(2) : \"0.00\";\n\nlet msg = `📊 *Relatório de Disparos* – Loja ${numeroLoja}\\n`;\nmsg += `🗓 Data: ${dataHoje}\\n\\n`;\nmsg += `✅ Sucessos: *${sucesso}* (${pctSucesso}%)\\n`;\nmsg += `❌ Erros: *${erro}* (${pctErro}%)\\n`;\nmsg += `📨 Total de disparos: *${total}*\\n\\n`;\nmsg += `📌 *Distribuição por etapas:*\\n`;\n\nfor (const [etapa, qtd] of Object.entries(etapas)) {\n  msg += `• ${etapa}: ${qtd}\\n`;\n}\nmsg += `\\n`;\n\nif (clientesAtrasados.length > 0) {\n  msg += `⚠️ *Clientes acima de 30 dias (já receberam todos follow-ups):*\\n`;\n  clientesAtrasados.forEach(c => {\n    msg += `- ${c.cliente} (${c.etapa})\\n`;\n  });\n  msg += `\\n`;\n}\n\nif (listaErros.length > 0) {\n  msg += `🚫 *Números com erro:* \\n`;\n  listaErros.forEach(e => {\n    let identificacao;\n    \n    if (e.codigoCliente && e.nomeCliente) {\n      identificacao = `${e.nomeCliente} (Cód: ${e.codigoCliente})`;\n    } else if (e.codigoCliente) {\n      identificacao = `Cód: ${e.codigoCliente}`;\n    } else if (e.nomeCliente) {\n      identificacao = e.nomeCliente;\n    } else {\n      identificacao = \"Cliente não identificado\";\n    }\n    \n    msg += `- ${identificacao}: ${e.numero}\\n`;\n  });\n}\n\nreturn [{ json: { mensagem: msg } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,2352],"id":"c36c4178-8253-40cd-b95e-f401b77caeca","name":"Code in JavaScript"},{"parameters":{"resource":"messages-api","instanceName":"=Miguel teste","remoteJid":"=5511940662846@s.whatsapp.net","messageText":"={{$json.mensagem}}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1168,2352],"id":"db397061-a0f0-42d1-b940-1908532d9338","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}}},{"parameters":{"content":"# Fluxo Principal","height":816,"width":6944,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"63ce7cbc-5b39-40c0-99f4-379aa442541c","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"XSJvA7pMN74d7IHm","mode":"list","cachedResultUrl":"/workflow/XSJvA7pMN74d7IHm","cachedResultName":"Salva mensagens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phone":"={{ $json.phone }}","conversation_id":"={{ $json.conversation_id }}","user_message":"={{ $json.user_msg }}","bot_message":"={{ $json.bot_msg }}","message_type":"={{ $json.message_type }}","timestamp":"={{ $json.timestamp }}","loja":"={{ $json.loja }}","vendedor":"={{ $json.vendedor }}","nome":"={{ $json.Nome }}"},"matchingColumns":[],"schema":[{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"bot_message","displayName":"bot_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"vendedor","displayName":"vendedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5680,400],"id":"131e9c1e-04e5-447a-8980-d2967babaafc","name":"Call 'Salva mensagens'"},{"parameters":{"assignments":{"assignments":[{"id":"a4dbb6a8-6bc2-4c72-ad0d-b6e29dbbdde2","name":"Telefone","value":"={{ $('Check DB').item.json.telefone }}","type":"string"},{"id":"50fd4e28-3a57-4bbe-bb65-7492054bb8dc","name":"codigo vendedor","value":"={{ $('Check DB').item.json.codigo_vendedor }}","type":"string"},{"id":"b0097210-e3ed-4dbc-a993-e0f14da86cc2","name":"telefone vendedor","value":"={{ $('Check DB').item.json.telefone_vendedor }}","type":"string"},{"id":"fe0b3548-3874-4079-93c0-def014c35eac","name":"Etapa","value":"={{ $('Check DB').item.json.etapa }}","type":"string"},{"id":"b9012f92-8642-4038-8a67-d81c873b1062","name":"Nome cliente","value":"={{ $('Check DB').item.json.nome_cliente }}","type":"string"},{"id":"00bb6a14-2843-4264-b900-1aac20da10a5","name":"numero loja","value":"={{ $('Check DB').item.json.numero_loja }}","type":"string"},{"id":"4f8b6804-53dd-4060-a961-2d50677038bd","name":"codigo cliente","value":"={{ $('Check DB').item.json.codigo_cliente }}","type":"string"},{"id":"560e0e4f-b545-4566-aa86-7a231955933e","name":"error","value":"={{ $json.error }}","type":"string"},{"id":"91d6d74c-49a3-4b48-bb69-ba9119b2b051","name":"=sucess","value":"={{ $json.success }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2928,2880],"id":"6fdc5085-b8e0-4cd7-ac87-f0262db5c1ea","name":"Prep Error Data1"},{"parameters":{"resource":"messages-api","instanceName":"=TMC GUEDALA - EDIELSON","remoteJid":"=55{{ $json.telefone }}@s.whatsapp.net","messageText":"={{ $('AI Agent1').first().json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2928,2736],"id":"39026ac2-a061-4a2f-bbbf-471366abfa2c","name":"EDIELSON","credentials":{"evolutionApi":{"id":"xqwAM6Guzrfd6eGh","name":"Edielson"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"=TMC GUEDALA - EDIELSON","remoteJid":"=5512988112870@s.whatsapp.net","messageText":"=teste ","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3056,1632],"id":"55effbd6-9b9b-44b2-8372-89721f34df4c","name":"EDIELSON1","credentials":{"evolutionApi":{"id":"xqwAM6Guzrfd6eGh","name":"Edielson"}},"onError":"continueErrorOutput"}],"connections":{"Compara Get Memory":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Compara Get Memory","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If3":{"main":[[{"node":"Get Dados2","type":"main","index":0}],[{"node":"Gerar sessionID2","type":"main","index":0}]]},"Gerar sessionID2":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Get Dados2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Supabase4":{"main":[[{"node":"If3","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Calculadora":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_produto_mc":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"preco_tintometrico":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"avisar_vendedor":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create a row":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Disparo programado":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Create a row1":{"main":[[{"node":"Enviar imagem","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If10","type":"main","index":0}]]},"If10":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gerar sessionID","type":"main","index":0}]]},"Gerar sessionID":{"main":[[{"node":"Create a row1","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"Enviar imagem","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"ERRO1":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"SUCESS1":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Loop Over Items5":{"main":[[{"node":"Delete Memory1","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"1 segundo1":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Call 'Salva mensagens'","type":"main","index":0}]]},"Disparo programado1":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Limit3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Verifica vendedor2","type":"main","index":0}]]},"Limit3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait1","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ERRO":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"SUCESS":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get API ":{"main":[[{"node":"Clean Data","type":"main","index":0}]]},"Clean Data":{"main":[[{"node":"Group Orders","type":"main","index":0}]]},"Group Orders":{"main":[[{"node":"Analyze Day","type":"main","index":0},{"node":"Filter Orders","type":"main","index":0}]]},"Filter Orders":{"main":[[{"node":"Save DB","type":"main","index":0}]]},"Analyze Day":{"main":[[{"node":"Format Report","type":"main","index":0}]]},"Format Report":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"LLM Model":{"ai_languageModel":[[{"node":"Format Report","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Get Dados1","type":"main","index":0}],[{"node":"Gerar sessionID1","type":"main","index":0}]]},"Create a row2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Verifica vendedor1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"If","type":"main","index":0}]]},"Gerar sessionID1":{"main":[[{"node":"Create a row2","type":"main","index":0}]]},"Get Dados1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Loop Over Items6":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Supabase1","type":"main","index":0}]]},"Prep Save":{"main":[[{"node":"Save Disparo1","type":"main","index":0}]]},"Save Disparo1":{"main":[[{"node":"Envia dados","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Text Memory2":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Audio Memory1","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Switch2":{"main":[[],[{"node":"Text Memory2","type":"main","index":0}],[{"node":"Text Memory2","type":"main","index":0}],[{"node":"Text Memory2","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"Audio Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"OpenAI7":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"OpenAI7","type":"main","index":0}]]},"If5":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"dados_para_atendimento_humano","type":"main","index":0}]]},"dados_para_atendimento_humano":{"main":[[{"node":"Switch7","type":"main","index":0}]]},"Switch7":{"main":[[{"node":"PARA IA1","type":"main","index":0}],[{"node":"Verificar Atendimento1","type":"main","index":0}]]},"Verificar Atendimento1":{"main":[[{"node":"Switch Block1","type":"main","index":0}]]},"Switch Block1":{"main":[[{"node":"Supabase4","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If5","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"1 segundo1","type":"main","index":0}]]},"Verifica vendedor1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"DANIEL","type":"main","index":0}],[{"node":"KAWAN/RENATO","type":"main","index":0}],[{"node":"KAWAN/RENATO","type":"main","index":0}],[{"node":"EDIELSON","type":"main","index":0}]]},"Switch":{"main":[[{"node":"DANIEL - CAPTAÇÃO","type":"main","index":0}],[{"node":"KAWAN - CAPTAÇÃO","type":"main","index":0}]]},"Verifica vendedor2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Enviar imagem":{"main":[[{"node":"SUCESS1","type":"main","index":0}],[{"node":"ERRO1","type":"main","index":0}]]},"DANIEL":{"main":[[{"node":"Prep Save","type":"main","index":0}],[{"node":"Prep Error Data1","type":"main","index":0}]]},"Check DB":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"SALVA VENDAS BD":{"main":[[{"node":"Get API ","type":"main","index":0}]]},"Disparo Follow up":{"main":[[{"node":"Check DB","type":"main","index":0}]]},"DANIEL - CAPTAÇÃO":{"main":[[{"node":"SUCESS","type":"main","index":0}],[{"node":"ERRO","type":"main","index":0}]]},"KAWAN - CAPTAÇÃO":{"main":[[{"node":"SUCESS","type":"main","index":0}],[{"node":"ERRO","type":"main","index":0}]]},"KAWAN/RENATO":{"main":[[{"node":"Prep Save","type":"main","index":0}],[{"node":"Prep Error Data1","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Envia dados":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Call 'Salva mensagens'":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Prep Error Data1":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"EDIELSON":{"main":[[{"node":"Prep Save","type":"main","index":0}],[{"node":"Prep Error Data1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:SALVA VENDAS BD":{"recurrenceRules":[]},"node:Disparo Follow up":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"alberto-n8n-webhook.grupoinfinityoficial.com.br","user-agent":"axios/1.12.2","content-length":"1198","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"alberto-n8n-webhook.grupoinfinityoficial.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"760382de84e5","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Jardim Guedala","data":{"key":{"remoteJid":"5512988112870@s.whatsapp.net","remoteJidAlt":"127230202142790:56@lid","fromMe":false,"id":"3F61BEF4E65A7FA65F67"},"pushName":"Miguel Nunes","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":37,"1":26,"2":174,"3":239,"4":151,"5":32,"6":164,"7":41,"8":17,"9":87},"senderTimestamp":1760292152,"recipientKeyHash":{"0":217,"1":148,"2":26,"3":29,"4":207,"5":152,"6":233,"7":188,"8":31,"9":142},"recipientTimestamp":1760367234},"deviceListMetadataVersion":2},"conversation":"ola"},"contextInfo":{"mentionedJid":[],"groupMentions":[],"expiration":0,"ephemeralSettingTimestamp":0,"disappearingMode":{"initiator":0}},"messageType":"conversation","messageTimestamp":1760817991,"instanceId":"cd74b545-4b60-4eb5-a033-adecbdd4608e","source":"desktop"},"destination":"https://alberto-n8n-webhook.grupoinfinityoficial.com.br/webhook/guedala","date_time":"2025-10-18T17:06:31.868Z","sender":"5511939358619@s.whatsapp.net","server_url":"https://alberto-evoapi.grupoinfinityoficial.com.br","apikey":"A2C1E562C9D5-428E-8FE2-AC7D5135CD48"},"webhookUrl":"https://alberto-n8n-webhook.grupoinfinityoficial.com.br/webhook/guedala","executionMode":"production"}}]},"versionId":"5b4fa6b6-ed67-4b21-8dcf-8cd696a22eb1","triggerCount":3,"shared":[{"createdAt":"2025-10-24T13:14:55.947Z","updatedAt":"2025-10-24T13:14:55.947Z","role":"workflow:owner","workflowId":"02Nt5TfBasZUwFeE","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"createdAt":"2025-10-31T13:15:54.983Z","updatedAt":"2025-10-31T13:15:54.983Z","id":"SA1lrqt1q8ppNIAs","name":"Tintasmc_alberto"},{"createdAt":"2025-10-24T13:13:00.659Z","updatedAt":"2025-10-24T13:13:00.659Z","id":"jdWTcyESftbmJZGl","name":"Produção"}]}