02Nt5TfBasZUwFeE.json
{"updatedAt":"2026-01-08T14:00:53.333Z","createdAt":"2025-10-24T13:14:55.947Z","id":"02Nt5TfBasZUwFeE","name":"Tintas MC Geral","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"GeralAlberto","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-672,-240],"id":"ab290b63-e6ad-40f4-ac1b-54dc920d4b6d","name":"Webhook","webhookId":"b1590a66-d6fd-46b5-b16b-e97cf4111c6c"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Mapeia dados').first().json.sessionid }}","tableName":"n8n_chat_histories_tmc","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[5184,128],"id":"d4e82012-7519-4e88-bd38-ea30e0783c81","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[5328,128],"id":"6ccebdd0-7bfd-45f9-99d9-960c3596e38e","name":"Calculadora1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5024,128],"id":"e629db25-42ac-4734-8977-f785a07e0baf","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"name":"buscar_produto_mc","description":"=**Descrição:**  \nRetorna produtos do catálogo da MC Tintas com base no pedido do cliente.  \nA ferramenta **NÃO FORMATA TEXTO**. Ela apenas retorna os dados para o agente processar.\n\n**Inputs obrigatórios:**  \n- `superficie` (parede, piso, madeira, etc.)  \n**Inputs opcionais:**  \n- `marca`, `cor`, `volume`, `acabamento`, `base_padrão`\n\n**Formato do output (exemplo):**  \n```json\n{\n  \"produtos\": [\n    {\n      \"descricao\": \"TMC Tinta Acrílica Fosca Premium 18L\",\n      \"preco\": 590.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"TMC1234\"\n    },\n    {\n      \"descricao\": \"CIACOLLOR Tinta Acrílica 18L\",\n      \"preco\": 525.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"CIA4567\"\n    }\n  ]\n}\n","workflowId":{"__rl":true,"value":"qIWmECB56eceoWzD","mode":"list","cachedResultUrl":"/workflow/qIWmECB56eceoWzD","cachedResultName":"Busca_Produto_Alberto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"TermoPesquisa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TermoPesquisa', ``, 'string') }}","Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","TamanhoVolume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TamanhoVolume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","superficie":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('superficie', ``, 'string') }}","tipoPoduto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipoPoduto', ``, 'string') }}","BasePadrão":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BasePadr_o', ``, 'string') }}","telefone_cliente":"={{ $('Mapeia dados').first().json.telefone }}","loja":"={{ $('Mapeia dados').first().json.loja_codigo }}"},"matchingColumns":[],"schema":[{"id":"TermoPesquisa","displayName":"TermoPesquisa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"TamanhoVolume","displayName":"TamanhoVolume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"superficie","displayName":"superficie","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipoPoduto","displayName":"tipoPoduto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"BasePadrão","displayName":"BasePadrão","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone_cliente","displayName":"telefone_cliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[5664,128],"id":"6f5579ed-882c-481b-bab7-983baf19af84","name":"buscar_produto_mc"},{"parameters":{"description":"use essa ferramenta para buscar preço de cores personalizadas ( tintometricas)","workflowId":{"__rl":true,"value":"n0HWbXgcQGGmvhMI","mode":"list","cachedResultUrl":"/workflow/n0HWbXgcQGGmvhMI","cachedResultName":"TINTOMÉTRICO_Alberto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","Volume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Volume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","codigoCor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('codigoCor', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Volume","displayName":"Volume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"codigoCor","displayName":"codigoCor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5824,128],"id":"1ae635bd-c187-46dd-8591-29cb940f2658","name":"preco_tintometrico"},{"parameters":{"operation":"delete","key":"={{ $('Mapeia dados').first().json.sessionid }}"},"id":"57b57178-3a94-43a1-ba90-f961cdcd044f","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[6256,-192],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1488,-48],"id":"bfe750d5-708d-4045-8008-5290197717a6","name":"No Operation, do nothing"},{"parameters":{"operation":"get","key":"={{ $('Mapeia dados').item.json.sessionid }}","options":{}},"id":"eb53b1ec-b09a-44c1-9b43-32fd93ebf04a","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4032,-176],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Mapeia dados').item.json.sessionid }}","options":{}},"id":"f8e400be-de23-4e45-9e12-5cda73d29659","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4352,-176],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $json.sessionid }}","messageData":"={{ $('Data').item.json.mensagem }}","tail":true},"id":"9b03225f-9bd3-4653-8672-499aeacab23f","name":"Text Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3664,-304],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Mapeia dados').item.json.sessionid }}","messageData":"={{ $json.text }}","tail":true},"id":"77c15633-6675-4313-8219-85be5abcc5ba","name":"Audio Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3664,-144],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Mapeia dados').item.json.sessionid }}","messageData":"={{ $json.message }}","tail":true},"id":"73c63905-78fd-4a39-949a-db1eeb713569","name":"PDF Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3648,-496],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3296,-496],"id":"87256a0f-adc9-4a38-bfaf-fa1ef7e57658","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').first().json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55{{ $('Data').first().json.Telefone }}"},{"name":"text","value":"={{ $('TARS').item.json.output }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[6080,-192],"id":"3a55702d-0a93-4618-b9c5-87ae9f1155f3","name":"Envia MSG"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"=dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Data').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,-240],"id":"e53485f6-4fb9-45cc-aa96-2be2d9740f4e","name":"Get ID","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ Boolean($('Get ID').item.json.telefone?.trim()) }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1696,-240],"id":"ce7f39c7-e838-4fa1-9215-da91fa1b8636","name":"Existe?"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1952,-96],"id":"3b0d4ecc-895a-42f6-b579-2a82d3394a2e","name":"Gera ID"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","tableId":"=dados_cliente_tmc","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Data').item.json.Telefone }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"Loja","fieldValue":"={{ $('Rota FromMe').item.json.loja_codigo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2160,-96],"id":"c01e1b66-254c-48bd-bb99-a7238b258f50","name":"Cria cliente","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"=dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Data').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2000,-256],"id":"62249611-f13f-430c-b695-e3789f93bafa","name":"Get Dados","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"320e4453-4773-471e-863d-a736de2fbff3","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"DocumentMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"77507905-2987-4aca-9840-4b989f562307","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"=ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Data').item.json.mimetype }}","rightValue":"=audio/ogg; codecs=opus","operator":{"type":"string","operation":"contains"},"id":"839edd08-57e9-4dc3-abdd-1950e09e1572"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Data').item.json.mimetype }}","rightValue":"image/jpeg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem/jpeg"}]},"options":{}},"id":"46b267ed-ba66-4779-8a94-1f428a0ea750","name":"ROTA Media","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2560,-304]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"f37a773b-28fd-4a1c-8b08-ca0527d31485","name":"HTTP PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,-496]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"9c1d32a2-0d6f-4c2f-ba8f-2aa671a1c669","name":"HTTP Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2944,-144]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"287717bb-f67d-4b7e-87e5-78c9daca98bd","name":"HTTP Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2944,48]},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"audio.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3200,-144],"id":"3f95a719-0fa3-465f-b681-21ffdeaeb4e6","name":"Convert to File - audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3216,48],"id":"a50bc6b1-7a24-47aa-b03c-ee5164ee5775","name":"Convert to File - image"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"application/pdf"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3120,-496],"id":"944d36dd-3539-4c52-8101-3d079bc2d9e2","name":"Convert to File - PDF"},{"parameters":{"assignments":{"assignments":[{"id":"0be9e760-815b-42e8-9046-26820462edd9","name":"message","value":"=<ContextoPDF>\n  <TranscricaoPDF>\n  {{ $json.text }}\n  </TranscricaoPDF>\n  </MensagemUsuario>\n    <titulodocumento>\n    {{ $json.info.Title }}\n    </titulodocumento>\n</ContextoPDF>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3456,-496],"id":"835018a7-f357-47c0-a58a-894953d17ce2","name":"Normaliza"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"7f9007e0-aa61-44d4-8296-acc6ec0b15a4","name":"IA Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3456,-144],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"=Extraia e normalize todos os itens, separando nome, quantidade e unidade. Organize tudo em uma lista clara e completa, sem omitir nenhum item.","inputType":"base64","options":{}},"id":"3cc941d4-6c1a-45bb-8d51-404af8c8ea7b","name":"IA image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3472,48],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"operation":"push","list":"={{ $('Mapeia dados').item.json.sessionid }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"0b815d6b-8249-45b2-b142-f692b4efcb3d","name":"Image Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3664,48],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"amount":10},"id":"576bddf3-39fa-42ea-8031-7aa3c47cfd5b","name":"wait ","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4192,-176],"webhookId":"d2608e95-2419-4f68-af29-8aa4483c7b30","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $json.propertyName }}","type":"string"}]},"options":{}},"id":"803ccb16-569f-434e-a73c-8e8d1046da2e","name":"Map get1 e get2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4544,-176]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8ff9525b-4727-40e0-8577-d7cb22593245","name":"Compara Get Memory","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4736,-176]},{"parameters":{"jsCode":"/**\n * Recebe items contendo campos Redis1 e Redis2 como strings JSON de arrays de mensagens.\n * Analisa ambos, une apenas as mensagens diferentes (sem duplicatas) e retorna uma única string.\n */\nfunction mergeUniqueMessages(items) {\n  // Obtém as strings brutas\n  const raw1 = items[0].json.Redis1;\n  const raw2 = items[0].json.Redis2;\n\n  // Função para parsear com segurança\n  function safeParse(raw) {\n    if (!raw) return [];\n    try {\n      const parsed = JSON.parse(raw);\n      return Array.isArray(parsed) ? parsed : [parsed];\n    } catch {\n      return [raw];\n    }\n  }\n\n  // Parse das duas fontes\n  const arr1 = safeParse(raw1);\n  const arr2 = safeParse(raw2);\n\n  // Une e remove duplicatas mantendo ordem de ocorrência\n  const unique = [];\n  [...arr1, ...arr2].forEach(msg => {\n    if (!unique.includes(msg)) unique.push(msg);\n  });\n\n  // Junta numa única conversa\n  const conversation = unique.join(' ');\n\n  return [{ json: { conversation } }];\n}\n\n// No n8n Function Node, basta retornar:\nreturn mergeUniqueMessages(items);\n"},"id":"34a108e1-6b4c-4bb9-8caa-e996459f5ab5","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[5008,-192]},{"parameters":{"assignments":{"assignments":[{"id":"63d57e10-8303-45a7-ac62-d7ce5fb235d1","name":"phone","value":"={{ $('Data').first().json.Telefone }}","type":"string"},{"id":"c1ab4f10-3cfd-4ff4-a95c-7b28236a1cb0","name":"conversation_id","value":"={{ $('Mapeia dados').first().json.sessionid }}","type":"string"},{"id":"df58dbca-e900-466d-95cf-07bbdf24551c","name":"user_msg","value":"={{ $('Mensagem Completa').first().json.conversation }}","type":"string"},{"id":"ad600e00-2584-464e-b96b-6f49e36d7bd7","name":"bot_msg","value":"={{ $json.output }}","type":"string"},{"id":"1a481ecb-c84d-4d1d-9d51-6f63412bdf7c","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"31c399bf-6ce4-4254-be79-ac961ff7a695","name":"loja","value":"={{ $('Mapeia dados').first().json.loja_codigo }}","type":"string"},{"id":"ebaac0de-97ac-4439-91e4-1ff16a9bdda7","name":"vendedor","value":"=Tars","type":"string"},{"id":"65444a07-36af-444d-909a-9724dbb7cbb5","name":"Nome","value":"={{ $('Data').first().json.Nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5600,-192],"id":"07979a0a-39f4-4d3e-8176-ddeb99b72c4b","name":"Prepara para metricas"},{"parameters":{"promptType":"define","text":"={{ $json.conversation }}","options":{"systemMessage":"=# TARS - Tintas MC {{ $('Mapeia dados').first().json.loja_nome }} (v3 Optimized + Product Line Enforcement)\n\nYou are TARS, an AI sales assistant for the paint store Tintas MC.  \nYou must ALWAYS answer in Brazilian Portuguese, in a clear, WhatsApp-friendly tone.\n\n## STORE INFO\n\n- **address:** {{ $('Mapeia dados').item.json.loja_endereco }}\n- **Hours:** Mon-Fri 08h-18h | Sat 08h-13h | Sun/Holidays: closed\n- **Delivery:** Mon-Fri 8h30-18h | Sat 8h30-14h\n- **Payment:** PIX (CNPJ {{ $('Mapeia dados').item.json.Pix_Loja }}), Cash, Debit/Credi, Boleto (PJ only)\n- **Today:** {{ $now.setLocale('pt-BR').toFormat('cccc') }}, {{ $now.toFormat('dd/MM/yyyy') }} às {{ $now.toFormat('HH:mm') }}\n\n## GREETING (send only ONCE per conversation)\n\n> \"Olá! Sou a TARS, inteligência artificial da TINTAS MC.\n> • ⏱️ Respondo em segundos, sem filas\n> • 🎨 Auxilio com dúvidas sobre tintas, cores e acabamentos\n> • 📊 Gero orçamentos automáticos e organizados.\"\n\n---\n\n## CONVERSATIONAL STYLE — HUMAN MODE (MANDATORY)\n\nYou must speak like a real store attendant chatting on WhatsApp, not like a system or report.\n\n**Language rules:**\n\n- React instead of announcing actions\n- NEVER narrate internal states or process (\"found\", \"order confirmed\", \"your order is\")\n- Avoid report-like, procedural, or system language\n- Use short, natural sentences\n- Assume the customer is following the conversation context\n\nIf a sentence sounds like a system log or report, rewrite it as a casual WhatsApp reply.\n\n---\n\n## MANDATORY RULE #1 — PRICE CHECK REQUIRED\n\nYou MUST call **buscar_produto_mc** or **preco_tintometrico** to obtain prices for EVERY product, no exceptions.\n\n- Never say you \"don't have access to prices\"\n- Never skip price lookup before asking customer data\n- Never forward to a seller without trying the price tools\n- Do NOT invent prices or product names\n\n**Flow:** Customer request → Collect required data → CALL tool → Show price → Only then collect customer data\n\n---\n\n## MANDATORY RULE #2 — TOOL SELECTION\n\n| Product Type                          | Tool                   |\n| ------------------------------------- | ---------------------- |\n| **White paint** (branco/branca) | `buscar_produto_mc`  |\n| **Colored paint**               | `preco_tintometrico` |\n\n**Do NOT use `preco_tintometrico` for:**\n\n- White colors\n- Floor paint\n- Accessories\n- Epoxy/special products\n\n---\n\n## MANDATORY RULE #3 — ACCESSORIES REQUIRE CATALOG LOOKUP\n\nFor these products, you MUST call `consultar_catalogo` FIRST to get the correct search term:\n\n| Product                                 | Why catalog is required                         |\n| --------------------------------------- | ----------------------------------------------- |\n| **Fita crepe / fita de pintura**  | Specific code: BEGE 423 (not blue/other colors) |\n| **Rolo / brasileirinho**          | Specific TIGRE codes by size                    |\n| **Trincha / pincel**              | Specific TIGRE line 695                         |\n| **Lixa**                          | NORTON brand + correct grit                     |\n| **Massa corrida**                 | TMC specific code                               |\n| **Selador**      | Brand                                           |\n| **Proteção (lona, Salvabrás)** | Specific product lines                          |\n\n**Flow for accessories:**\n\n1. Customer asks for accessory\n2. CALL `consultar_catalogo` → returns exact search term\n3. Use exact term in `buscar_produto_mc`\n\n**Example - Fita Larga:**\n\n❌ WRONG: `buscar_produto_mc(\"fita larga\")` → returns random fita\n\n✅ RIGHT: `consultar_catalogo(\"fita crepe larga\")` → returns \"ADERE FITA CREPE USO GERAL BEGE 423\"\nthen `buscar_produto_mc(\"ADERE FITA CREPE USO GERAL BEGE 423\")`\n\n---\n\n## ROUTING LOGIC\n\n### PRE-NORMALIZATION (MANDATORY BEFORE ANY TOOL CALL)\n\nBefore calling ANY tool, you MUST silently normalize customer language to canonical values.\nThis happens internally and MUST NOT be exposed to the customer.\n\n**Normalize variations such as:**\n\n| Customer Says            | Normalize To |\n| ------------------------ | ------------ |\n| fosca / fosco / fosco(a) | fosco        |\n| acetinada / acetinado    | acetinado    |\n| branca / branco          | branco       |\n| semibrilho / semi-brilho | semibrilho   |\n\n- Never ask the customer to correct gender or wording\n- Never fail a search due to linguistic variation\n\n---\n\n### Step 1: Check for complete data\n\nBefore calling any tool, confirm you have:\n\n- **Paint:** Brand + Line (if mentioned) + Volume + Finish + Color + Surface\n- **Enamel:** All above + Base (water or solvent)\n- **Accessories:** Type + Size/Specs\n\nIf anything is missing → ask ONLY for what's missing.\n\n---\n\n### Step 2: Is the product vague, unknown, or requires technical knowledge?\n\nSome requests require catalog context BEFORE pricing.\nWhen any case below applies, you MUST act as instructed.\n\n**If the request mentions:**\n\n- Epoxy, wandepoxy, industrial floor paint\n- Products with catalisador or special base\n- Diluente / thinner\n- Esmalte without base\n- Special effects (cimento queimado, efeito decorativo)\n- Tinta emborrachada\n- Impermeabilizante comum de parede\n\n→ CALL `consultar_catalogo` FIRST\n→ Do NOT explain the product\n→ Do NOT ask technical questions unless safety requires it\n\n**Special rule for tinta emborrachada / impermeabilizante:**\n\n- Assume surface = parede externa\n- Use the SAME flow as normal wall paint\n- Ask only compact clarification (marca, volume, cor)\n\n**After `consultar_catalogo`:**\n→ Proceed to the correct pricing tool:\n\n- White paint → `buscar_produto_mc`\n- Colored paint → `preco_tintometrico`\n\nIf none apply → go to Step 3\n\n---\n\n### Step 3: Is it an accessory from the MANDATORY RULE #3 list?\n\nCheck if customer is asking for: fita, rolo, trincha, lixa, massa, fundo, proteção\n\n- **If YES** → call `consultar_catalogo` to get exact search term → then `buscar_produto_mc`\n- **If NO** → go to Step 4\n\n---\n\n### Step 4: Route by product type\n\n| Product Type  | Tool                   |\n| ------------- | ---------------------- |\n| White paint   | `buscar_produto_mc`  |\n| Colored paint | `preco_tintometrico` |\n| Floor / Epoxy | `buscar_produto_mc`  |\n\n---\n\n## REQUIRED DATA — WALL PAINTS\n\n| Field                                                               | Required                                  | Default                         |\n| ------------------------------------------------------------------- | ----------------------------------------- | ------------------------------- |\n| **Brand**                                                     | Yes                                       | Default to TMC if not mentioned |\n| **Product Line** (e.g., Sempre Limpo, Toque de Seda, Classic) | **If mentioned, must be preserved** | No default                      |\n| **Volume**                                                    | Yes                                       | Ask if missing                  |\n| **Finish**                                                    | Yes                                       | Ask if missing                  |\n| **Color**                                                     | Yes                                       | Ask if missing                  |\n| **Surface**                                                   | Yes                                       | Default to \"parede interna\"     |\n\n### 🚨 PRODUCT LINE ENFORCEMENT RULE\n\nIf the customer mentions a Product Line (e.g., **\"Suvinil Sempre Limpo\"**):\n\n- You MUST use the exact same line in the tool query\n- You MUST NOT replace the line with a different one, even from the same brand\n- If the tool returns a different line, you must NOT present it as an exact match\n- Before showing a price for a different line, you must notify differences and request approval\n\n---\n\n## VALIDATION AFTER TOOL RESPONSE (MANDATORY)\n\nAfter receiving tool results, you MUST compare:\n\n- Brand\n- **Product Line**\n- Volume\n- Finish\n- Color\n- Base\n- Surface\n\n### If EVERYTHING matches\n\n→ Present quote normally.\n\n### If ANY difference exists (brand, line, volume, finish, color)\n\n→ You MUST:\n\n1. Notify the customer about the specific difference found\n2. Present the found option with its price\n3. Ask if they accept this option or want to search another\n\n**Never present mismatched products as the same product.**\n\n### If tool returns STOCK WARNING but includes product + price\n\n(Messages containing \"⚠️ Atenção\" or \"não foi encontrado no estoque\" WITH price)\n\n→ This is NOT a product mismatch. PROCEED NORMALLY:\n\n1. Present the quote with the returned price\n2. Add at the END of the quote: \"⚠️ Disponibilidade será confirmada pelo vendedor ao finalizar.\"\n3. DO NOT offer alternatives\n4. DO NOT interrupt the sales flow\n\n---\n\n## UPSELL & COMPLEMENTS (MANDATORY SOFT SELL)\n\nAfter presenting ANY paint quote, you MUST attempt a **single soft upsell**.\n\n**Rules:**\n\n- Offer ONLY 1–2 highly relevant complements\n- Keep it in the SAME message as the price\n- Phrase as helpful suggestion, not a push\n- NEVER list more than 2 items\n- NEVER explain why in detail\n\n**Allowed complements by category:**\n\n| Product     | Complements                                |\n| ----------- | ------------------------------------------ |\n| Wall paint  | fita crepe, rolo, lona/proteção, trincha |\n| Floor paint | rolo específico, fita, proteção         |\n| Enamel      | trincha, lixa, diluente correto            |\n\n**Examples (correct):**\n\n- \"Quer acrescentar fita crepe ou rolo?\"\n- \"Precisa de rolo ou lona de proteção?\"\n\n**Forbidden:**\n\n- Long explanations\n- Listing many accessories\n- Asking multiple follow-up questions\n\n---\n\n## FINAL ORDER CONFIRMATION (MANDATORY — HARD GATE)\n\nWhen the customer answers YES to the confirmation question (e.g., \"sim\", \"confere\", \"pode\", \"pode fechar\", \"ok\"):\n\nYou MUST immediately enter **CLOSING MODE**.\n\n**In CLOSING MODE:**\n\n- You MUST collect customer data BEFORE any other action\n- You MUST NOT forward to seller\n- You MUST NOT ask about delivery\n- You MUST NOT end the conversation\n- You MUST NOT say the order was sent or confirmed\n\n**Required data (collect in ONE message):**\n\n- Nome completo\n- CPF\n- Telefone\n- Forma de pagamento\n\n**Only AFTER collecting ALL required data:**\n→ ask about delivery or pickup\n→ then call `avisar_vendedor`\n\nAny response that skips data collection after confirmation is WRONG.\n\n---\n\n## QUESTION RULE — COMPACT FIRST, THEN ONE BLOCKER (MANDATORY)\n\nAt the START of a request, if multiple simple and obvious fields are missing (e.g. brand, volume, finish), you MUST ask them in ONE compact, natural question.\n\n- Use a single short sentence\n- Sound conversational, not like a form\n- Do NOT split into multiple turns at the beginning\n- Once answered, NEVER re-ask those fields\n\n**Allowed (at the start only):**\n\n- \"Pode ser qual marca, volume e acabamento?\"\n- \"Me diz a marca, o volume e se é fosca ou acetinada.\"\n\n**After the first clarification turn:**\n→ Return to STRICT one-blocker mode.\n\nFrom that point on:\n\n- Ask ONLY the single missing field that blocks the next tool call\n- NEVER group questions again\n- NEVER reopen fields already answered\n\n---\n\n## DEFAULT-FIRST BEHAVIOR\n\n- You are AUTHORIZED to assume safe defaults to proceed with a search\n- Defaults may be refined AFTER showing a price\n- Prefer correction over delay\n\n---\n\n## SEARCH OVER CONVERSATION\n\n- Price, availability, product or recommendation → **SEARCH FIRST**\n- NEVER explain what you are searching\n- NEVER narrate reasoning or decision logic\n\n---\n\n## WHEN ASKING FOR DATA\n\n- ONE direct question\n- No context\n- No explanation\n\n❌ \"Para eu conseguir te ajudar melhor, você poderia me informar o volume e o acabamento desejado?\"\n\n✅ \"Qual o volume?\"\n\n---\n\n## STRICTLY FORBIDDEN\n\n- Enumerating questions\n- Long messages\n- Educational explanations\n- Defensive clarification text\n- Acting like a form\n- **Recommending or mentioning other stores** — You are the AI for THIS store ONLY ({{ $('Mapeia dados').first().json.loja_nome }}). Never suggest the customer visit another branch, never mention other locations have stock, never redirect to other stores. If asked about other stores, pivot to selling: \"Aqui na {{ $('Mapeia dados').first().json.loja_nome }} consigo te atender agora! Me conta o que você precisa que já verifico pra você 😊\"\n\n---\n\n## SUCCESS CRITERIA\n\nIf the chat feels like a **natural WhatsApp exchange between two humans**, behavior is correct.\n\nIf it feels like a checklist or form, behavior is wrong.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[5264,-192],"id":"46a2c3db-0765-4467-8159-78f0296c4823","name":"TARS","alwaysOutputData":true,"executeOnce":false},{"parameters":{"workflowId":{"__rl":true,"value":"XSJvA7pMN74d7IHm","mode":"list","cachedResultUrl":"/workflow/XSJvA7pMN74d7IHm","cachedResultName":"Salva mensagens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phone":"={{ $json.phone }}","conversation_id":"={{ $json.conversation_id }}","user_message":"={{ $json.user_msg }}","bot_message":"={{ $json.bot_msg }}","message_type":"={{ $json.message_type }}","timestamp":"={{ $json.timestamp }}","loja":"={{ $json.loja }}","vendedor":"={{ $json.vendedor }}","nome":"={{ $json.Nome }}"},"matchingColumns":[],"schema":[{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"bot_message","displayName":"bot_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"vendedor","displayName":"vendedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5824,-192],"id":"2b7a8143-2307-4fc1-a0aa-a377f7eeb5e7","name":"Call 'Salva mensagens'"},{"parameters":{"assignments":{"assignments":[{"id":"f8ccd10b-1b4e-411a-bbaa-4309b3b3674c","name":"Telefone","value":"={{ $json.body.message.chatid.replace('@s.whatsapp.net', '').replace(/^55/, '') }}","type":"string"},{"id":"59c45e98-ef1f-40c7-89ee-8ad95c526a47","name":"Nome","value":"={{ $json.body.message.senderName }}","type":"string"},{"id":"cc803d9f-a567-49a6-862b-eafb26530a5f","name":"baseUrl","value":"={{ $json.body.BaseUrl }}","type":"string"},{"id":"fb52083d-7ecc-4500-ae99-6ac10f890eb6","name":"mensagem","value":"={{ $json.body.message.text }}","type":"string"},{"id":"a35923ee-5a33-457e-865a-ec18797bdbdc","name":"MediaType","value":"={{ $json.body.message.messageType }}","type":"string"},{"id":"52785e95-c1de-4e99-9351-5c00b66625ed","name":"mediaType","value":"={{ $json.body.message.mediaType }}","type":"string"},{"id":"b02a1dc1-7701-4000-b741-64f055162c1f","name":"fromMe","value":"={{ $json.body.message.fromMe }}","type":"string"},{"id":"39d5db02-688b-4acc-b948-0e33ea39367f","name":"instancia","value":"={{ $json.body.instanceName }}","type":"string"},{"id":"e8bf96e4-15b5-4cf5-9f82-51de6ad5aa9d","name":"Token","value":"={{ $json.body.token }}","type":"string"},{"id":"f6b9e33a-3519-4c41-972b-b764f85b0b77","name":"URL","value":"={{ $json.body.message.content.URL }}","type":"string"},{"id":"cca9b610-095e-4b95-9083-ccddcab136b5","name":"mimetype","value":"={{ $json.body.message.content.mimetype }}","type":"string"},{"id":"cb172d5c-1327-4649-92d4-5cb6fce95fce","name":"ID","value":"={{ $json.body.message.messageid }}","type":"string"},{"id":"e614329e-fdeb-49f0-b9e3-c77bd84128b1","name":"Telefone_block","value":"={{ $json.body.message.chatid.replace('@s.whatsapp.net', '').replace(/^55/, '') }}","type":"string"}]},"options":{}},"id":"94561ea4-8cec-4052-9980-760184f67bb8","name":"Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-224]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-240,-400],"id":"ea1eb1b1-c762-4ede-8869-0ddf57297ee8","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02c85aa3-873d-46a1-8e7b-4d0c7a21937e","leftValue":"={{ $json.body.message.wasSentByApi }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,-240],"id":"b22b3ee7-3907-49fe-a244-2b8e2610eee7","name":"Verifica MSG API"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Data').item.json.fromMe }}","rightValue":"true","operator":{"type":"string","operation":"equals"},"id":"e1111e6f-d830-4f61-ab5c-ca8673b6d6af"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Data').item.json.fromMe }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"f984f2e2-91ff-483d-98d1-7b8d94bae841","name":"Rota FromMe","type":"n8n-nodes-base.switch","typeVersion":3,"position":[752,-240]},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.telefone }}_block","options":{}},"id":"45e90239-20f7-43ca-9917-f3314811baaa","name":"Verificar Block","type":"n8n-nodes-base.redis","typeVersion":1,"position":[976,-224],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Data').item.json.Telefone_block }}_block","value":"true","keyType":"string","expire":true,"ttl":900},"id":"fd392ba8-976a-467d-93f2-eb4d94da4ab6","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[960,-432],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Desativada"}]},"options":{}},"id":"89e1a6a1-fed9-4796-a161-5c2091950230","name":"Rota Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1184,-224]},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"=leads_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Data').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-48,-224],"id":"4891ecfd-56d8-4457-925f-b6397385b059","name":"Get ID1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ Boolean($('Get ID1').item.json.telefone?.trim()) }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[144,-224],"id":"bd29c922-7e06-4335-b2af-48355fcbae9e","name":"Existe?1"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","tableId":"=leads_tmc","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('Data').item.json.Telefone }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"loja_nome","fieldValue":"={{ $json.loja_nome }}"},{"fieldId":"loja_endereco","fieldValue":"={{ $json.loja_endereco }}"},{"fieldId":"origem_canal","fieldValue":"={{ $json.origem_canal }}"},{"fieldId":"mensagem_original","fieldValue":"={{ $json.mensagem_original }}"},{"fieldId":"loja_codigo","fieldValue":"={{ $json.loja_codigo }}"},{"fieldId":"loja_pix","fieldValue":"={{ $json.loja_pix }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[576,-96],"id":"838cc3ec-255e-4d57-8a64-94eda2d756ff","name":"Cria cliente1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"21dbf9bd-2cbd-4a6b-9489-5dd97dfa1f23","name":"sessionid","value":"={{ $json.sessionid }}","type":"string"},{"id":"d73eae1d-137e-45d2-9ebf-6aa549c52091","name":"telefone","value":"={{ $('Rota FromMe').item.json.telefone }}","type":"string"},{"id":"4d09e65a-4377-41e6-83de-ad0474ababd2","name":"origem_canal","value":"={{ $('Rota FromMe').item.json.origem_canal }}","type":"string"},{"id":"34a81519-3c03-4ea8-8e7c-3d70650ea955","name":"loja_nome","value":"={{ $('Rota FromMe').item.json.loja_nome }}","type":"string"},{"id":"6b7e5fcd-0738-4fde-8923-7b90fe90817e","name":"loja_codigo","value":"={{ $('Rota FromMe').item.json.loja_codigo }}","type":"string"},{"id":"2ce170ec-a483-4266-afef-f59e53841085","name":"loja_endereco","value":"={{ $('Rota FromMe').item.json.loja_endereco }}","type":"string"},{"id":"c15bb22c-89e2-4689-8711-1c1326853605","name":"Pix_Loja","value":"={{ $('Rota FromMe').item.json.loja_pix }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2352,-256],"id":"1a966273-057f-43a1-aa66-6b66f91a162a","name":"Mapeia dados"},{"parameters":{"description":"=## `avisar_vendedor` - Aciona vendedor humano\n\n### **Quando usar:**\n\n**1. Orçamento Finalizado** ✅\n- Colete ANTES: Nome, CPF/CNPJ, Endereço completo, Telefone, Forma de pagamento, Produtos\n\n**Mensagem:**\n```\n🎉 *ORÇAMENTO FECHADO - [Nome Cliente]*\nLOJA - {{ $('Mapeia dados').item.json.loja_codigo }} - {{ $('Mapeia dados').item.json.loja_nome }}\n\n📋 *DADOS:*\nCPF/CNPJ: [número]\nWhatsApp: {{ $('Mapeia dados').first().json.telefone }}\nEndereço: [completo]\n\n🛒 *PRODUTOS:*\n- [Produto] - Cód: [XXX] - R$ [valor]\n\n💰 *TOTAL: R$ [valor]*\n💳 *Pagamento:* [forma]\n\n⚠️ *A TRATAR:*\n[Produtos não encontrados, observações, prazos]\n```\n\n**2. Produto Não Encontrado** 🔍\n- Acione informando o produto\n- Continue o atendimento normalmente\nEx:\n- Não encontrei orçamento para essa cor em nosso sistema. \n- Não encontrei esse produto.\n\n**AÇÃO** = Acione a tool imediatamente\n\n**Mensagem:**\n```\n⚠️ *PRODUTO NÃO LOCALIZADO*\nCliente: {{ $('Data').item.json.Nome }}\nWhatsApp: {{ $('Data').item.json.Telefone }}\nSolicitou: [descrição do produto]\n```\n\n**3. Atendimento Humano Solicitado** 👤\n- Acione IMEDIATAMENTE\n- Seja cordial\n\n**Mensagem:**\n```\n🤝 *ATENDIMENTO HUMANO SOLICITADO*\nCliente: {{ $('Data').item.json.Nome }}\nWhatsApp: {{ $('Data').item.json.Telefone }}\nContexto: [resumo breve]\n```\n\n### **Regras:**\n- ❌ Orçamento: NUNCA acione sem todos os dados\n- ✅ Atendimento humano: acione na hora\n- ✅ Produto não encontrado: acione na hora e continue ajudando","workflowId":{"__rl":true,"value":"s4mRHAUYNLO4Ayng","mode":"list","cachedResultUrl":"/workflow/s4mRHAUYNLO4Ayng","cachedResultName":"avisar vendedor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}","loja":"={{ $('Mapeia dados').first().json.loja_nome }}","telefone":"={{ $('Mapeia dados').first().json.telefone }}","Loja_Codigo":"={{ $('Mapeia dados').first().json.loja_codigo }}","Origem_Canal":"={{ $('Mapeia dados').first().json.origem_canal }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Loja_Codigo","displayName":"Loja_Codigo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Origem_Canal","displayName":"Origem_Canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5984,128],"id":"c1fdc8bb-6455-4e90-b561-ee29ec8b22fd","name":"avisar_vendedor"},{"parameters":{"workflowId":{"__rl":true,"value":"bTsiOTOg6BAZnRwK","mode":"list","cachedResultUrl":"/workflow/bTsiOTOg6BAZnRwK","cachedResultName":"CONTROLE VENDEDORES"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-448,-80],"id":"19f15911-4a38-474e-a135-2c368db679f0","name":"Controle de mensagens"},{"parameters":{"jsCode":"const mensagem = $('Data').item.json.mensagem || \"\";\nconst mensagemLower = mensagem.toLowerCase();\n\nconst lojas = {\n  \"vila andrade\": {\n    codigo: \"132\",\n    nome: \"Vila Andrade\",\n    endereco: \"Rua Nelson Gama de Oliveira, 274 - Vila Andrade, São Paulo - SP, 05734-150\",\n    pix: \"42.194.537/0003-41\"\n  },\n  \"portal do morumbi\": {\n    codigo: \"067\",\n    nome: \"Portal do Morumbi\",\n    endereco: \"Av. Mal. Juarez Távora, 22 - Morumbi, São Paulo - SP, 05750-000\",\n    pix: \"42.194.537/0001-80\"\n  },\n  \"chácara santo antônio\": {\n    codigo: \"131\",\n    nome: \"Chácara Santo Antônio\",\n    endereco: \"Rua Américo Brasiliense, 1178 - Chácara Santo Antônio, São Paulo - SP, 04715-002\",\n    pix: \"42.194.537/0002-60\"\n  },\n  \"jardim guedala\": {\n    codigo: \"173\",\n    nome: \"Jardim Guedala\",\n    endereco: \"Rua José Jannarelli, 687 - Vila Progredior, São Paulo - SP, 05615-001\",\n    pix: \"42.194.537/0004-22\"\n  },\n  \"vila mascote\": {\n    codigo: \"191\",\n    nome: \"Vila Mascote\",\n    endereco: \"Av. Santa Catarina, 670 - Vila Alexandria, São Paulo - SP, 04635-001\",\n    pix: \"42.194.537/0005-03\"\n  }\n};\n\nconst isMensagemLead = mensagemLower.includes(\"olá! vi a tintas mc\");\n\nlet loja_codigo, loja_nome, loja_endereco, loja_pix, origem_canal;\n\nif (isMensagemLead) {\n  for (const [key, value] of Object.entries(lojas)) {\n    if (mensagemLower.includes(key)) {\n      loja_codigo = value.codigo;\n      loja_nome = value.nome;\n      loja_endereco = value.endereco;\n      loja_pix = value.pix;\n      break;\n    }\n  }\n\n  if (mensagemLower.includes(\"anúncio do meta\")) {\n    origem_canal = \"meta_ads\";\n  } else if (mensagemLower.includes(\"no instagram\")) {\n    origem_canal = \"instagram\";\n  } else if (mensagemLower.includes(\"em um anúncio\")) {\n    origem_canal = \"google_ads\";\n  } else {\n    origem_canal = \"desconhecido\";\n  }\n\n} else {\n  // Loja padrão: Chácara Santo Antônio\n  loja_codigo = \"131\";\n  loja_nome = \"Chácara Santo Antônio\";\n  loja_endereco = \"Rua Américo Brasiliense, 1178 - Chácara Santo Antônio, São Paulo - SP, 04715-002\";\n  loja_pix = \"42.194.537/0002-60\";\n  origem_canal = \"cliente_loja\";\n}\n\nreturn [{\n  json: {\n    telefone: $('Data').item.json.Telefone,\n    loja_codigo,\n    loja_nome,\n    loja_endereco,\n    loja_pix,\n    origem_canal,\n    mensagem_original: mensagem\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,-96],"id":"3d958608-0394-418f-a4df-b8a7a2b22d57","name":"Mapemento de loja"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[6112,128],"id":"3ac7cc6d-0d14-4328-b846-972dea89d449","name":"Think"},{"parameters":{"description":"Consulta informações sobre produtos, marcas, linhas e especificações no catálogo da Tintas MC. Use quando cliente perguntar sobre produtos ou quando precisar recomendar algo","workflowId":{"__rl":true,"value":"e05kkAwvY9vk8VTK","mode":"list","cachedResultUrl":"/workflow/e05kkAwvY9vk8VTK","cachedResultName":"consultar_catalogo_alberto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5488,128],"id":"6b6584a8-8e49-4a81-ab8e-a093078ad65d","name":"consultar_catalogo"}],"connections":{"Webhook":{"main":[[{"node":"Verifica MSG API","type":"main","index":0},{"node":"Controle de mensagens","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"TARS","type":"ai_memory","index":0}]]},"Calculadora1":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"TARS","type":"ai_languageModel","index":0}]]},"buscar_produto_mc":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"preco_tintometrico":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"Get Memory 1":{"main":[[{"node":"wait ","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Map get1 e get2","type":"main","index":0}]]},"Text Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"PDF Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Normaliza","type":"main","index":0}]]},"Envia MSG":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Get ID":{"main":[[{"node":"Existe?","type":"main","index":0}]]},"Existe?":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gera ID","type":"main","index":0}]]},"Gera ID":{"main":[[{"node":"Cria cliente","type":"main","index":0}]]},"Cria cliente":{"main":[[{"node":"Mapeia dados","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"Mapeia dados","type":"main","index":0}]]},"ROTA Media":{"main":[[{"node":"HTTP PDF","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"HTTP Audio","type":"main","index":0}],[{"node":"HTTP Image","type":"main","index":0}]]},"HTTP PDF":{"main":[[{"node":"Convert to File - PDF","type":"main","index":0}]]},"HTTP Audio":{"main":[[{"node":"Convert to File - audio","type":"main","index":0}]]},"HTTP Image":{"main":[[{"node":"Convert to File - image","type":"main","index":0}]]},"Convert to File - audio":{"main":[[{"node":"IA Audio","type":"main","index":0}]]},"Convert to File - image":{"main":[[{"node":"IA image","type":"main","index":0}]]},"Convert to File - PDF":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Normaliza":{"main":[[{"node":"PDF Memory","type":"main","index":0}]]},"IA Audio":{"main":[[{"node":"Audio Memory","type":"main","index":0}]]},"IA image":{"main":[[{"node":"Image Memory","type":"main","index":0}]]},"Image Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"wait ":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Map get1 e get2":{"main":[[{"node":"Compara Get Memory","type":"main","index":0}]]},"Compara Get Memory":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Prepara para metricas":{"main":[[{"node":"Call 'Salva mensagens'","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"TARS","type":"main","index":0}]]},"TARS":{"main":[[{"node":"Prepara para metricas","type":"main","index":0}]]},"Call 'Salva mensagens'":{"main":[[{"node":"Envia MSG","type":"main","index":0}]]},"Data":{"main":[[{"node":"Get ID1","type":"main","index":0}]]},"Verifica MSG API":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Data","type":"main","index":0}]]},"Rota FromMe":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"Verificar Block","type":"main","index":0}]]},"Verificar Block":{"main":[[{"node":"Rota Block","type":"main","index":0}]]},"Rota Block":{"main":[[{"node":"Get ID","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get ID1":{"main":[[{"node":"Existe?1","type":"main","index":0}]]},"Existe?1":{"main":[[{"node":"Rota FromMe","type":"main","index":0}],[{"node":"Mapemento de loja","type":"main","index":0}]]},"Cria cliente1":{"main":[[{"node":"Rota FromMe","type":"main","index":0}]]},"Mapeia dados":{"main":[[{"node":"ROTA Media","type":"main","index":0}]]},"avisar_vendedor":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"Mapemento de loja":{"main":[[{"node":"Cria cliente1","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"consultar_catalogo":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:SALVA VENDAS BD":{"recurrenceRules":[]},"node:Disparo Follow up":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.iatars.com.br","user-agent":"uazapiGO-Webhook/1.0","content-length":"2442","accept-encoding":"gzip","content-type":"application/json","x-forwarded-for":"177.234.159.170","x-forwarded-host":"webhook.iatars.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c8ccbad1ff3","x-real-ip":"177.234.159.170"},"params":{},"query":{},"body":{"BaseUrl":"https://iatars.uazapi.com","EventType":"messages","chat":{"chatbot_agentResetMemoryAt":0,"chatbot_disableUntil":0,"chatbot_lastTriggerAt":0,"chatbot_lastTrigger_id":"","id":"rcc306a15c5b5a8","image":"","imagePreview":"https://pps.whatsapp.net/v/t61.24694-24/534426082_1173411148249079_1303765667473818350_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa3QGno14VW-TmVV6-OU4WCQrL8lrs4ZqCXwSRo8vdMCtM8w&oe=6968BB9F&_nc_sid=5e03e0&_nc_cat=104","lead_assignedAttendant_id":"","lead_email":"","lead_field01":"","lead_field02":"","lead_field03":"","lead_field04":"","lead_field05":"","lead_field06":"","lead_field07":"","lead_field08":"","lead_field09":"","lead_field10":"","lead_field11":"","lead_field12":"","lead_field13":"","lead_field14":"","lead_field15":"","lead_field16":"","lead_field17":"","lead_field18":"","lead_field19":"","lead_field20":"","lead_fullName":"","lead_isTicketOpen":false,"lead_kanbanOrder":0,"lead_name":"","lead_notes":"","lead_personalid":"","lead_status":"","lead_tags":[],"name":"Miguel Nunes","owner":"5511976337074","phone":"+55 12 98811-2870","wa_archived":false,"wa_chatid":"5512988112870@s.whatsapp.net","wa_chatlid":"127230202142790@lid","wa_contactName":"Miguel Nunes","wa_ephemeralExpiration":0,"wa_fastid":"5511976337074:5512988112870","wa_isBlocked":false,"wa_isGroup":false,"wa_isGroup_admin":false,"wa_isGroup_announce":false,"wa_isGroup_community":false,"wa_isGroup_member":false,"wa_isPinned":false,"wa_label":[],"wa_lastMessageSender":"7598468296711@lid","wa_lastMessageTextVote":"oi","wa_lastMessageType":"Conversation","wa_lastMsgTimestamp":1767707837000,"wa_muteEndTime":0,"wa_name":"Miguel Nunes","wa_unreadCount":3},"chatSource":"updated","instanceName":"Chacara","message":{"buttonOrListid":"","chatid":"5512988112870@s.whatsapp.net","content":"oi","convertOptions":"","edited":"","fromMe":true,"groupName":"Unknown","id":"5511976337074:3EB09B6D6E7C9668970A97","isGroup":false,"mediaType":"","messageTimestamp":1767707837000,"messageType":"Conversation","messageid":"3EB09B6D6E7C9668970A97","owner":"5511976337074","quoted":"","reaction":"","sender":"7598468296711@lid","senderName":"Tintas Mc","sender_lid":"7598468296711@lid","sender_pn":"5512988112870@s.whatsapp.net","source":"web","status":"","text":"oi","track_id":"","track_source":"","type":"text","vote":"","wasSentByApi":false},"owner":"5511976337074","token":"464d243c-e664-49a0-aefa-53bb68de8bbd"},"webhookUrl":"https://webhook.iatars.com.br/webhook/GeralAlberto","executionMode":"production"}}]},"versionId":"4103edf7-2943-48e1-aad4-f47ae3af7e5f","activeVersionId":"4103edf7-2943-48e1-aad4-f47ae3af7e5f","triggerCount":1,"shared":[{"updatedAt":"2025-10-24T13:14:55.947Z","createdAt":"2025-10-24T13:14:55.947Z","role":"workflow:owner","workflowId":"02Nt5TfBasZUwFeE","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2026-01-08T14:00:58.770Z","createdAt":"2026-01-08T14:00:53.337Z","versionId":"4103edf7-2943-48e1-aad4-f47ae3af7e5f","workflowId":"02Nt5TfBasZUwFeE","nodes":[{"parameters":{"httpMethod":"POST","path":"GeralAlberto","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-672,-240],"id":"ab290b63-e6ad-40f4-ac1b-54dc920d4b6d","name":"Webhook","webhookId":"b1590a66-d6fd-46b5-b16b-e97cf4111c6c"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Mapeia dados').first().json.sessionid }}","tableName":"n8n_chat_histories_tmc","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[5184,128],"id":"d4e82012-7519-4e88-bd38-ea30e0783c81","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[5328,128],"id":"6ccebdd0-7bfd-45f9-99d9-960c3596e38e","name":"Calculadora1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5024,128],"id":"e629db25-42ac-4734-8977-f785a07e0baf","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"name":"buscar_produto_mc","description":"=**Descrição:**  \nRetorna produtos do catálogo da MC Tintas com base no pedido do cliente.  \nA ferramenta **NÃO FORMATA TEXTO**. Ela apenas retorna os dados para o agente processar.\n\n**Inputs obrigatórios:**  \n- `superficie` (parede, piso, madeira, etc.)  \n**Inputs opcionais:**  \n- `marca`, `cor`, `volume`, `acabamento`, `base_padrão`\n\n**Formato do output (exemplo):**  \n```json\n{\n  \"produtos\": [\n    {\n      \"descricao\": \"TMC Tinta Acrílica Fosca Premium 18L\",\n      \"preco\": 590.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"TMC1234\"\n    },\n    {\n      \"descricao\": \"CIACOLLOR Tinta Acrílica 18L\",\n      \"preco\": 525.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"CIA4567\"\n    }\n  ]\n}\n","workflowId":{"__rl":true,"value":"qIWmECB56eceoWzD","mode":"list","cachedResultUrl":"/workflow/qIWmECB56eceoWzD","cachedResultName":"Busca_Produto_Alberto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"TermoPesquisa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TermoPesquisa', ``, 'string') }}","Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","TamanhoVolume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TamanhoVolume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","superficie":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('superficie', ``, 'string') }}","tipoPoduto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipoPoduto', ``, 'string') }}","BasePadrão":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BasePadr_o', ``, 'string') }}","telefone_cliente":"={{ $('Mapeia dados').first().json.telefone }}","loja":"={{ $('Mapeia dados').first().json.loja_codigo }}"},"matchingColumns":[],"schema":[{"id":"TermoPesquisa","displayName":"TermoPesquisa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"TamanhoVolume","displayName":"TamanhoVolume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"superficie","displayName":"superficie","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipoPoduto","displayName":"tipoPoduto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"BasePadrão","displayName":"BasePadrão","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone_cliente","displayName":"telefone_cliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[5664,128],"id":"6f5579ed-882c-481b-bab7-983baf19af84","name":"buscar_produto_mc"},{"parameters":{"description":"use essa ferramenta para buscar preço de cores personalizadas ( tintometricas)","workflowId":{"__rl":true,"value":"n0HWbXgcQGGmvhMI","mode":"list","cachedResultUrl":"/workflow/n0HWbXgcQGGmvhMI","cachedResultName":"TINTOMÉTRICO_Alberto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","Volume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Volume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","codigoCor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('codigoCor', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Volume","displayName":"Volume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"codigoCor","displayName":"codigoCor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5824,128],"id":"1ae635bd-c187-46dd-8591-29cb940f2658","name":"preco_tintometrico"},{"parameters":{"operation":"delete","key":"={{ $('Mapeia dados').first().json.sessionid }}"},"id":"57b57178-3a94-43a1-ba90-f961cdcd044f","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[6256,-192],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1488,-48],"id":"bfe750d5-708d-4045-8008-5290197717a6","name":"No Operation, do nothing"},{"parameters":{"operation":"get","key":"={{ $('Mapeia dados').item.json.sessionid }}","options":{}},"id":"eb53b1ec-b09a-44c1-9b43-32fd93ebf04a","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4032,-176],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Mapeia dados').item.json.sessionid }}","options":{}},"id":"f8e400be-de23-4e45-9e12-5cda73d29659","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4352,-176],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $json.sessionid }}","messageData":"={{ $('Data').item.json.mensagem }}","tail":true},"id":"9b03225f-9bd3-4653-8672-499aeacab23f","name":"Text Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3664,-304],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Mapeia dados').item.json.sessionid }}","messageData":"={{ $json.text }}","tail":true},"id":"77c15633-6675-4313-8219-85be5abcc5ba","name":"Audio Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3664,-144],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Mapeia dados').item.json.sessionid }}","messageData":"={{ $json.message }}","tail":true},"id":"73c63905-78fd-4a39-949a-db1eeb713569","name":"PDF Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3648,-496],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3296,-496],"id":"87256a0f-adc9-4a38-bfaf-fa1ef7e57658","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').first().json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55{{ $('Data').first().json.Telefone }}"},{"name":"text","value":"={{ $('TARS').item.json.output }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[6080,-192],"id":"3a55702d-0a93-4618-b9c5-87ae9f1155f3","name":"Envia MSG"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"=dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Data').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,-240],"id":"e53485f6-4fb9-45cc-aa96-2be2d9740f4e","name":"Get ID","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ Boolean($('Get ID').item.json.telefone?.trim()) }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1696,-240],"id":"ce7f39c7-e838-4fa1-9215-da91fa1b8636","name":"Existe?"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1952,-96],"id":"3b0d4ecc-895a-42f6-b579-2a82d3394a2e","name":"Gera ID"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","tableId":"=dados_cliente_tmc","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Data').item.json.Telefone }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"Loja","fieldValue":"={{ $('Rota FromMe').item.json.loja_codigo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2160,-96],"id":"c01e1b66-254c-48bd-bb99-a7238b258f50","name":"Cria cliente","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"=dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Data').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2000,-256],"id":"62249611-f13f-430c-b695-e3789f93bafa","name":"Get Dados","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"320e4453-4773-471e-863d-a736de2fbff3","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"DocumentMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"77507905-2987-4aca-9840-4b989f562307","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"=ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Data').item.json.mimetype }}","rightValue":"=audio/ogg; codecs=opus","operator":{"type":"string","operation":"contains"},"id":"839edd08-57e9-4dc3-abdd-1950e09e1572"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Data').item.json.mimetype }}","rightValue":"image/jpeg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem/jpeg"}]},"options":{}},"id":"46b267ed-ba66-4779-8a94-1f428a0ea750","name":"ROTA Media","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2560,-304]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"f37a773b-28fd-4a1c-8b08-ca0527d31485","name":"HTTP PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,-496]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"9c1d32a2-0d6f-4c2f-ba8f-2aa671a1c669","name":"HTTP Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2944,-144]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"287717bb-f67d-4b7e-87e5-78c9daca98bd","name":"HTTP Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2944,48]},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"audio.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3200,-144],"id":"3f95a719-0fa3-465f-b681-21ffdeaeb4e6","name":"Convert to File - audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3216,48],"id":"a50bc6b1-7a24-47aa-b03c-ee5164ee5775","name":"Convert to File - image"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"application/pdf"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3120,-496],"id":"944d36dd-3539-4c52-8101-3d079bc2d9e2","name":"Convert to File - PDF"},{"parameters":{"assignments":{"assignments":[{"id":"0be9e760-815b-42e8-9046-26820462edd9","name":"message","value":"=<ContextoPDF>\n  <TranscricaoPDF>\n  {{ $json.text }}\n  </TranscricaoPDF>\n  </MensagemUsuario>\n    <titulodocumento>\n    {{ $json.info.Title }}\n    </titulodocumento>\n</ContextoPDF>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3456,-496],"id":"835018a7-f357-47c0-a58a-894953d17ce2","name":"Normaliza"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"7f9007e0-aa61-44d4-8296-acc6ec0b15a4","name":"IA Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3456,-144],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"=Extraia e normalize todos os itens, separando nome, quantidade e unidade. Organize tudo em uma lista clara e completa, sem omitir nenhum item.","inputType":"base64","options":{}},"id":"3cc941d4-6c1a-45bb-8d51-404af8c8ea7b","name":"IA image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3472,48],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"operation":"push","list":"={{ $('Mapeia dados').item.json.sessionid }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"0b815d6b-8249-45b2-b142-f692b4efcb3d","name":"Image Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3664,48],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"amount":10},"id":"576bddf3-39fa-42ea-8031-7aa3c47cfd5b","name":"wait ","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4192,-176],"webhookId":"d2608e95-2419-4f68-af29-8aa4483c7b30","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $json.propertyName }}","type":"string"}]},"options":{}},"id":"803ccb16-569f-434e-a73c-8e8d1046da2e","name":"Map get1 e get2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4544,-176]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8ff9525b-4727-40e0-8577-d7cb22593245","name":"Compara Get Memory","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4736,-176]},{"parameters":{"jsCode":"/**\n * Recebe items contendo campos Redis1 e Redis2 como strings JSON de arrays de mensagens.\n * Analisa ambos, une apenas as mensagens diferentes (sem duplicatas) e retorna uma única string.\n */\nfunction mergeUniqueMessages(items) {\n  // Obtém as strings brutas\n  const raw1 = items[0].json.Redis1;\n  const raw2 = items[0].json.Redis2;\n\n  // Função para parsear com segurança\n  function safeParse(raw) {\n    if (!raw) return [];\n    try {\n      const parsed = JSON.parse(raw);\n      return Array.isArray(parsed) ? parsed : [parsed];\n    } catch {\n      return [raw];\n    }\n  }\n\n  // Parse das duas fontes\n  const arr1 = safeParse(raw1);\n  const arr2 = safeParse(raw2);\n\n  // Une e remove duplicatas mantendo ordem de ocorrência\n  const unique = [];\n  [...arr1, ...arr2].forEach(msg => {\n    if (!unique.includes(msg)) unique.push(msg);\n  });\n\n  // Junta numa única conversa\n  const conversation = unique.join(' ');\n\n  return [{ json: { conversation } }];\n}\n\n// No n8n Function Node, basta retornar:\nreturn mergeUniqueMessages(items);\n"},"id":"34a108e1-6b4c-4bb9-8caa-e996459f5ab5","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[5008,-192]},{"parameters":{"assignments":{"assignments":[{"id":"63d57e10-8303-45a7-ac62-d7ce5fb235d1","name":"phone","value":"={{ $('Data').first().json.Telefone }}","type":"string"},{"id":"c1ab4f10-3cfd-4ff4-a95c-7b28236a1cb0","name":"conversation_id","value":"={{ $('Mapeia dados').first().json.sessionid }}","type":"string"},{"id":"df58dbca-e900-466d-95cf-07bbdf24551c","name":"user_msg","value":"={{ $('Mensagem Completa').first().json.conversation }}","type":"string"},{"id":"ad600e00-2584-464e-b96b-6f49e36d7bd7","name":"bot_msg","value":"={{ $json.output }}","type":"string"},{"id":"1a481ecb-c84d-4d1d-9d51-6f63412bdf7c","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"31c399bf-6ce4-4254-be79-ac961ff7a695","name":"loja","value":"={{ $('Mapeia dados').first().json.loja_codigo }}","type":"string"},{"id":"ebaac0de-97ac-4439-91e4-1ff16a9bdda7","name":"vendedor","value":"=Tars","type":"string"},{"id":"65444a07-36af-444d-909a-9724dbb7cbb5","name":"Nome","value":"={{ $('Data').first().json.Nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5600,-192],"id":"07979a0a-39f4-4d3e-8176-ddeb99b72c4b","name":"Prepara para metricas"},{"parameters":{"promptType":"define","text":"={{ $json.conversation }}","options":{"systemMessage":"=# TARS - Tintas MC {{ $('Mapeia dados').first().json.loja_nome }} (v3 Optimized + Product Line Enforcement)\n\nYou are TARS, an AI sales assistant for the paint store Tintas MC.  \nYou must ALWAYS answer in Brazilian Portuguese, in a clear, WhatsApp-friendly tone.\n\n## STORE INFO\n\n- **address:** {{ $('Mapeia dados').item.json.loja_endereco }}\n- **Hours:** Mon-Fri 08h-18h | Sat 08h-13h | Sun/Holidays: closed\n- **Delivery:** Mon-Fri 8h30-18h | Sat 8h30-14h\n- **Payment:** PIX (CNPJ {{ $('Mapeia dados').item.json.Pix_Loja }}), Cash, Debit/Credi, Boleto (PJ only)\n- **Today:** {{ $now.setLocale('pt-BR').toFormat('cccc') }}, {{ $now.toFormat('dd/MM/yyyy') }} às {{ $now.toFormat('HH:mm') }}\n\n## GREETING (send only ONCE per conversation)\n\n> \"Olá! Sou a TARS, inteligência artificial da TINTAS MC.\n> • ⏱️ Respondo em segundos, sem filas\n> • 🎨 Auxilio com dúvidas sobre tintas, cores e acabamentos\n> • 📊 Gero orçamentos automáticos e organizados.\"\n\n---\n\n## CONVERSATIONAL STYLE — HUMAN MODE (MANDATORY)\n\nYou must speak like a real store attendant chatting on WhatsApp, not like a system or report.\n\n**Language rules:**\n\n- React instead of announcing actions\n- NEVER narrate internal states or process (\"found\", \"order confirmed\", \"your order is\")\n- Avoid report-like, procedural, or system language\n- Use short, natural sentences\n- Assume the customer is following the conversation context\n\nIf a sentence sounds like a system log or report, rewrite it as a casual WhatsApp reply.\n\n---\n\n## MANDATORY RULE #1 — PRICE CHECK REQUIRED\n\nYou MUST call **buscar_produto_mc** or **preco_tintometrico** to obtain prices for EVERY product, no exceptions.\n\n- Never say you \"don't have access to prices\"\n- Never skip price lookup before asking customer data\n- Never forward to a seller without trying the price tools\n- Do NOT invent prices or product names\n\n**Flow:** Customer request → Collect required data → CALL tool → Show price → Only then collect customer data\n\n---\n\n## MANDATORY RULE #2 — TOOL SELECTION\n\n| Product Type                          | Tool                   |\n| ------------------------------------- | ---------------------- |\n| **White paint** (branco/branca) | `buscar_produto_mc`  |\n| **Colored paint**               | `preco_tintometrico` |\n\n**Do NOT use `preco_tintometrico` for:**\n\n- White colors\n- Floor paint\n- Accessories\n- Epoxy/special products\n\n---\n\n## MANDATORY RULE #3 — ACCESSORIES REQUIRE CATALOG LOOKUP\n\nFor these products, you MUST call `consultar_catalogo` FIRST to get the correct search term:\n\n| Product                                 | Why catalog is required                         |\n| --------------------------------------- | ----------------------------------------------- |\n| **Fita crepe / fita de pintura**  | Specific code: BEGE 423 (not blue/other colors) |\n| **Rolo / brasileirinho**          | Specific TIGRE codes by size                    |\n| **Trincha / pincel**              | Specific TIGRE line 695                         |\n| **Lixa**                          | NORTON brand + correct grit                     |\n| **Massa corrida**                 | TMC specific code                               |\n| **Selador**      | Brand                                           |\n| **Proteção (lona, Salvabrás)** | Specific product lines                          |\n\n**Flow for accessories:**\n\n1. Customer asks for accessory\n2. CALL `consultar_catalogo` → returns exact search term\n3. Use exact term in `buscar_produto_mc`\n\n**Example - Fita Larga:**\n\n❌ WRONG: `buscar_produto_mc(\"fita larga\")` → returns random fita\n\n✅ RIGHT: `consultar_catalogo(\"fita crepe larga\")` → returns \"ADERE FITA CREPE USO GERAL BEGE 423\"\nthen `buscar_produto_mc(\"ADERE FITA CREPE USO GERAL BEGE 423\")`\n\n---\n\n## ROUTING LOGIC\n\n### PRE-NORMALIZATION (MANDATORY BEFORE ANY TOOL CALL)\n\nBefore calling ANY tool, you MUST silently normalize customer language to canonical values.\nThis happens internally and MUST NOT be exposed to the customer.\n\n**Normalize variations such as:**\n\n| Customer Says            | Normalize To |\n| ------------------------ | ------------ |\n| fosca / fosco / fosco(a) | fosco        |\n| acetinada / acetinado    | acetinado    |\n| branca / branco          | branco       |\n| semibrilho / semi-brilho | semibrilho   |\n\n- Never ask the customer to correct gender or wording\n- Never fail a search due to linguistic variation\n\n---\n\n### Step 1: Check for complete data\n\nBefore calling any tool, confirm you have:\n\n- **Paint:** Brand + Line (if mentioned) + Volume + Finish + Color + Surface\n- **Enamel:** All above + Base (water or solvent)\n- **Accessories:** Type + Size/Specs\n\nIf anything is missing → ask ONLY for what's missing.\n\n---\n\n### Step 2: Is the product vague, unknown, or requires technical knowledge?\n\nSome requests require catalog context BEFORE pricing.\nWhen any case below applies, you MUST act as instructed.\n\n**If the request mentions:**\n\n- Epoxy, wandepoxy, industrial floor paint\n- Products with catalisador or special base\n- Diluente / thinner\n- Esmalte without base\n- Special effects (cimento queimado, efeito decorativo)\n- Tinta emborrachada\n- Impermeabilizante comum de parede\n\n→ CALL `consultar_catalogo` FIRST\n→ Do NOT explain the product\n→ Do NOT ask technical questions unless safety requires it\n\n**Special rule for tinta emborrachada / impermeabilizante:**\n\n- Assume surface = parede externa\n- Use the SAME flow as normal wall paint\n- Ask only compact clarification (marca, volume, cor)\n\n**After `consultar_catalogo`:**\n→ Proceed to the correct pricing tool:\n\n- White paint → `buscar_produto_mc`\n- Colored paint → `preco_tintometrico`\n\nIf none apply → go to Step 3\n\n---\n\n### Step 3: Is it an accessory from the MANDATORY RULE #3 list?\n\nCheck if customer is asking for: fita, rolo, trincha, lixa, massa, fundo, proteção\n\n- **If YES** → call `consultar_catalogo` to get exact search term → then `buscar_produto_mc`\n- **If NO** → go to Step 4\n\n---\n\n### Step 4: Route by product type\n\n| Product Type  | Tool                   |\n| ------------- | ---------------------- |\n| White paint   | `buscar_produto_mc`  |\n| Colored paint | `preco_tintometrico` |\n| Floor / Epoxy | `buscar_produto_mc`  |\n\n---\n\n## REQUIRED DATA — WALL PAINTS\n\n| Field                                                               | Required                                  | Default                         |\n| ------------------------------------------------------------------- | ----------------------------------------- | ------------------------------- |\n| **Brand**                                                     | Yes                                       | Default to TMC if not mentioned |\n| **Product Line** (e.g., Sempre Limpo, Toque de Seda, Classic) | **If mentioned, must be preserved** | No default                      |\n| **Volume**                                                    | Yes                                       | Ask if missing                  |\n| **Finish**                                                    | Yes                                       | Ask if missing                  |\n| **Color**                                                     | Yes                                       | Ask if missing                  |\n| **Surface**                                                   | Yes                                       | Default to \"parede interna\"     |\n\n### 🚨 PRODUCT LINE ENFORCEMENT RULE\n\nIf the customer mentions a Product Line (e.g., **\"Suvinil Sempre Limpo\"**):\n\n- You MUST use the exact same line in the tool query\n- You MUST NOT replace the line with a different one, even from the same brand\n- If the tool returns a different line, you must NOT present it as an exact match\n- Before showing a price for a different line, you must notify differences and request approval\n\n---\n\n## VALIDATION AFTER TOOL RESPONSE (MANDATORY)\n\nAfter receiving tool results, you MUST compare:\n\n- Brand\n- **Product Line**\n- Volume\n- Finish\n- Color\n- Base\n- Surface\n\n### If EVERYTHING matches\n\n→ Present quote normally.\n\n### If ANY difference exists (brand, line, volume, finish, color)\n\n→ You MUST:\n\n1. Notify the customer about the specific difference found\n2. Present the found option with its price\n3. Ask if they accept this option or want to search another\n\n**Never present mismatched products as the same product.**\n\n### If tool returns STOCK WARNING but includes product + price\n\n(Messages containing \"⚠️ Atenção\" or \"não foi encontrado no estoque\" WITH price)\n\n→ This is NOT a product mismatch. PROCEED NORMALLY:\n\n1. Present the quote with the returned price\n2. Add at the END of the quote: \"⚠️ Disponibilidade será confirmada pelo vendedor ao finalizar.\"\n3. DO NOT offer alternatives\n4. DO NOT interrupt the sales flow\n\n---\n\n## UPSELL & COMPLEMENTS (MANDATORY SOFT SELL)\n\nAfter presenting ANY paint quote, you MUST attempt a **single soft upsell**.\n\n**Rules:**\n\n- Offer ONLY 1–2 highly relevant complements\n- Keep it in the SAME message as the price\n- Phrase as helpful suggestion, not a push\n- NEVER list more than 2 items\n- NEVER explain why in detail\n\n**Allowed complements by category:**\n\n| Product     | Complements                                |\n| ----------- | ------------------------------------------ |\n| Wall paint  | fita crepe, rolo, lona/proteção, trincha |\n| Floor paint | rolo específico, fita, proteção         |\n| Enamel      | trincha, lixa, diluente correto            |\n\n**Examples (correct):**\n\n- \"Quer acrescentar fita crepe ou rolo?\"\n- \"Precisa de rolo ou lona de proteção?\"\n\n**Forbidden:**\n\n- Long explanations\n- Listing many accessories\n- Asking multiple follow-up questions\n\n---\n\n## FINAL ORDER CONFIRMATION (MANDATORY — HARD GATE)\n\nWhen the customer answers YES to the confirmation question (e.g., \"sim\", \"confere\", \"pode\", \"pode fechar\", \"ok\"):\n\nYou MUST immediately enter **CLOSING MODE**.\n\n**In CLOSING MODE:**\n\n- You MUST collect customer data BEFORE any other action\n- You MUST NOT forward to seller\n- You MUST NOT ask about delivery\n- You MUST NOT end the conversation\n- You MUST NOT say the order was sent or confirmed\n\n**Required data (collect in ONE message):**\n\n- Nome completo\n- CPF\n- Telefone\n- Forma de pagamento\n\n**Only AFTER collecting ALL required data:**\n→ ask about delivery or pickup\n→ then call `avisar_vendedor`\n\nAny response that skips data collection after confirmation is WRONG.\n\n---\n\n## QUESTION RULE — COMPACT FIRST, THEN ONE BLOCKER (MANDATORY)\n\nAt the START of a request, if multiple simple and obvious fields are missing (e.g. brand, volume, finish), you MUST ask them in ONE compact, natural question.\n\n- Use a single short sentence\n- Sound conversational, not like a form\n- Do NOT split into multiple turns at the beginning\n- Once answered, NEVER re-ask those fields\n\n**Allowed (at the start only):**\n\n- \"Pode ser qual marca, volume e acabamento?\"\n- \"Me diz a marca, o volume e se é fosca ou acetinada.\"\n\n**After the first clarification turn:**\n→ Return to STRICT one-blocker mode.\n\nFrom that point on:\n\n- Ask ONLY the single missing field that blocks the next tool call\n- NEVER group questions again\n- NEVER reopen fields already answered\n\n---\n\n## DEFAULT-FIRST BEHAVIOR\n\n- You are AUTHORIZED to assume safe defaults to proceed with a search\n- Defaults may be refined AFTER showing a price\n- Prefer correction over delay\n\n---\n\n## SEARCH OVER CONVERSATION\n\n- Price, availability, product or recommendation → **SEARCH FIRST**\n- NEVER explain what you are searching\n- NEVER narrate reasoning or decision logic\n\n---\n\n## WHEN ASKING FOR DATA\n\n- ONE direct question\n- No context\n- No explanation\n\n❌ \"Para eu conseguir te ajudar melhor, você poderia me informar o volume e o acabamento desejado?\"\n\n✅ \"Qual o volume?\"\n\n---\n\n## STRICTLY FORBIDDEN\n\n- Enumerating questions\n- Long messages\n- Educational explanations\n- Defensive clarification text\n- Acting like a form\n- **Recommending or mentioning other stores** — You are the AI for THIS store ONLY ({{ $('Mapeia dados').first().json.loja_nome }}). Never suggest the customer visit another branch, never mention other locations have stock, never redirect to other stores. If asked about other stores, pivot to selling: \"Aqui na {{ $('Mapeia dados').first().json.loja_nome }} consigo te atender agora! Me conta o que você precisa que já verifico pra você 😊\"\n\n---\n\n## SUCCESS CRITERIA\n\nIf the chat feels like a **natural WhatsApp exchange between two humans**, behavior is correct.\n\nIf it feels like a checklist or form, behavior is wrong.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[5264,-192],"id":"46a2c3db-0765-4467-8159-78f0296c4823","name":"TARS","alwaysOutputData":true,"executeOnce":false},{"parameters":{"workflowId":{"__rl":true,"value":"XSJvA7pMN74d7IHm","mode":"list","cachedResultUrl":"/workflow/XSJvA7pMN74d7IHm","cachedResultName":"Salva mensagens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phone":"={{ $json.phone }}","conversation_id":"={{ $json.conversation_id }}","user_message":"={{ $json.user_msg }}","bot_message":"={{ $json.bot_msg }}","message_type":"={{ $json.message_type }}","timestamp":"={{ $json.timestamp }}","loja":"={{ $json.loja }}","vendedor":"={{ $json.vendedor }}","nome":"={{ $json.Nome }}"},"matchingColumns":[],"schema":[{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"bot_message","displayName":"bot_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"vendedor","displayName":"vendedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5824,-192],"id":"2b7a8143-2307-4fc1-a0aa-a377f7eeb5e7","name":"Call 'Salva mensagens'"},{"parameters":{"assignments":{"assignments":[{"id":"f8ccd10b-1b4e-411a-bbaa-4309b3b3674c","name":"Telefone","value":"={{ $json.body.message.chatid.replace('@s.whatsapp.net', '').replace(/^55/, '') }}","type":"string"},{"id":"59c45e98-ef1f-40c7-89ee-8ad95c526a47","name":"Nome","value":"={{ $json.body.message.senderName }}","type":"string"},{"id":"cc803d9f-a567-49a6-862b-eafb26530a5f","name":"baseUrl","value":"={{ $json.body.BaseUrl }}","type":"string"},{"id":"fb52083d-7ecc-4500-ae99-6ac10f890eb6","name":"mensagem","value":"={{ $json.body.message.text }}","type":"string"},{"id":"a35923ee-5a33-457e-865a-ec18797bdbdc","name":"MediaType","value":"={{ $json.body.message.messageType }}","type":"string"},{"id":"52785e95-c1de-4e99-9351-5c00b66625ed","name":"mediaType","value":"={{ $json.body.message.mediaType }}","type":"string"},{"id":"b02a1dc1-7701-4000-b741-64f055162c1f","name":"fromMe","value":"={{ $json.body.message.fromMe }}","type":"string"},{"id":"39d5db02-688b-4acc-b948-0e33ea39367f","name":"instancia","value":"={{ $json.body.instanceName }}","type":"string"},{"id":"e8bf96e4-15b5-4cf5-9f82-51de6ad5aa9d","name":"Token","value":"={{ $json.body.token }}","type":"string"},{"id":"f6b9e33a-3519-4c41-972b-b764f85b0b77","name":"URL","value":"={{ $json.body.message.content.URL }}","type":"string"},{"id":"cca9b610-095e-4b95-9083-ccddcab136b5","name":"mimetype","value":"={{ $json.body.message.content.mimetype }}","type":"string"},{"id":"cb172d5c-1327-4649-92d4-5cb6fce95fce","name":"ID","value":"={{ $json.body.message.messageid }}","type":"string"},{"id":"e614329e-fdeb-49f0-b9e3-c77bd84128b1","name":"Telefone_block","value":"={{ $json.body.message.chatid.replace('@s.whatsapp.net', '').replace(/^55/, '') }}","type":"string"}]},"options":{}},"id":"94561ea4-8cec-4052-9980-760184f67bb8","name":"Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-224]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-240,-400],"id":"ea1eb1b1-c762-4ede-8869-0ddf57297ee8","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02c85aa3-873d-46a1-8e7b-4d0c7a21937e","leftValue":"={{ $json.body.message.wasSentByApi }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,-240],"id":"b22b3ee7-3907-49fe-a244-2b8e2610eee7","name":"Verifica MSG API"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Data').item.json.fromMe }}","rightValue":"true","operator":{"type":"string","operation":"equals"},"id":"e1111e6f-d830-4f61-ab5c-ca8673b6d6af"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Data').item.json.fromMe }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"f984f2e2-91ff-483d-98d1-7b8d94bae841","name":"Rota FromMe","type":"n8n-nodes-base.switch","typeVersion":3,"position":[752,-240]},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.telefone }}_block","options":{}},"id":"45e90239-20f7-43ca-9917-f3314811baaa","name":"Verificar Block","type":"n8n-nodes-base.redis","typeVersion":1,"position":[976,-224],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Data').item.json.Telefone_block }}_block","value":"true","keyType":"string","expire":true,"ttl":900},"id":"fd392ba8-976a-467d-93f2-eb4d94da4ab6","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[960,-432],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Desativada"}]},"options":{}},"id":"89e1a6a1-fed9-4796-a161-5c2091950230","name":"Rota Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1184,-224]},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"=leads_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Data').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-48,-224],"id":"4891ecfd-56d8-4457-925f-b6397385b059","name":"Get ID1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ Boolean($('Get ID1').item.json.telefone?.trim()) }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[144,-224],"id":"bd29c922-7e06-4335-b2af-48355fcbae9e","name":"Existe?1"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","tableId":"=leads_tmc","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('Data').item.json.Telefone }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"loja_nome","fieldValue":"={{ $json.loja_nome }}"},{"fieldId":"loja_endereco","fieldValue":"={{ $json.loja_endereco }}"},{"fieldId":"origem_canal","fieldValue":"={{ $json.origem_canal }}"},{"fieldId":"mensagem_original","fieldValue":"={{ $json.mensagem_original }}"},{"fieldId":"loja_codigo","fieldValue":"={{ $json.loja_codigo }}"},{"fieldId":"loja_pix","fieldValue":"={{ $json.loja_pix }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[576,-96],"id":"838cc3ec-255e-4d57-8a64-94eda2d756ff","name":"Cria cliente1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"21dbf9bd-2cbd-4a6b-9489-5dd97dfa1f23","name":"sessionid","value":"={{ $json.sessionid }}","type":"string"},{"id":"d73eae1d-137e-45d2-9ebf-6aa549c52091","name":"telefone","value":"={{ $('Rota FromMe').item.json.telefone }}","type":"string"},{"id":"4d09e65a-4377-41e6-83de-ad0474ababd2","name":"origem_canal","value":"={{ $('Rota FromMe').item.json.origem_canal }}","type":"string"},{"id":"34a81519-3c03-4ea8-8e7c-3d70650ea955","name":"loja_nome","value":"={{ $('Rota FromMe').item.json.loja_nome }}","type":"string"},{"id":"6b7e5fcd-0738-4fde-8923-7b90fe90817e","name":"loja_codigo","value":"={{ $('Rota FromMe').item.json.loja_codigo }}","type":"string"},{"id":"2ce170ec-a483-4266-afef-f59e53841085","name":"loja_endereco","value":"={{ $('Rota FromMe').item.json.loja_endereco }}","type":"string"},{"id":"c15bb22c-89e2-4689-8711-1c1326853605","name":"Pix_Loja","value":"={{ $('Rota FromMe').item.json.loja_pix }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2352,-256],"id":"1a966273-057f-43a1-aa66-6b66f91a162a","name":"Mapeia dados"},{"parameters":{"description":"=## `avisar_vendedor` - Aciona vendedor humano\n\n### **Quando usar:**\n\n**1. Orçamento Finalizado** ✅\n- Colete ANTES: Nome, CPF/CNPJ, Endereço completo, Telefone, Forma de pagamento, Produtos\n\n**Mensagem:**\n```\n🎉 *ORÇAMENTO FECHADO - [Nome Cliente]*\nLOJA - {{ $('Mapeia dados').item.json.loja_codigo }} - {{ $('Mapeia dados').item.json.loja_nome }}\n\n📋 *DADOS:*\nCPF/CNPJ: [número]\nWhatsApp: {{ $('Mapeia dados').first().json.telefone }}\nEndereço: [completo]\n\n🛒 *PRODUTOS:*\n- [Produto] - Cód: [XXX] - R$ [valor]\n\n💰 *TOTAL: R$ [valor]*\n💳 *Pagamento:* [forma]\n\n⚠️ *A TRATAR:*\n[Produtos não encontrados, observações, prazos]\n```\n\n**2. Produto Não Encontrado** 🔍\n- Acione informando o produto\n- Continue o atendimento normalmente\nEx:\n- Não encontrei orçamento para essa cor em nosso sistema. \n- Não encontrei esse produto.\n\n**AÇÃO** = Acione a tool imediatamente\n\n**Mensagem:**\n```\n⚠️ *PRODUTO NÃO LOCALIZADO*\nCliente: {{ $('Data').item.json.Nome }}\nWhatsApp: {{ $('Data').item.json.Telefone }}\nSolicitou: [descrição do produto]\n```\n\n**3. Atendimento Humano Solicitado** 👤\n- Acione IMEDIATAMENTE\n- Seja cordial\n\n**Mensagem:**\n```\n🤝 *ATENDIMENTO HUMANO SOLICITADO*\nCliente: {{ $('Data').item.json.Nome }}\nWhatsApp: {{ $('Data').item.json.Telefone }}\nContexto: [resumo breve]\n```\n\n### **Regras:**\n- ❌ Orçamento: NUNCA acione sem todos os dados\n- ✅ Atendimento humano: acione na hora\n- ✅ Produto não encontrado: acione na hora e continue ajudando","workflowId":{"__rl":true,"value":"s4mRHAUYNLO4Ayng","mode":"list","cachedResultUrl":"/workflow/s4mRHAUYNLO4Ayng","cachedResultName":"avisar vendedor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}","loja":"={{ $('Mapeia dados').first().json.loja_nome }}","telefone":"={{ $('Mapeia dados').first().json.telefone }}","Loja_Codigo":"={{ $('Mapeia dados').first().json.loja_codigo }}","Origem_Canal":"={{ $('Mapeia dados').first().json.origem_canal }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Loja_Codigo","displayName":"Loja_Codigo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Origem_Canal","displayName":"Origem_Canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5984,128],"id":"c1fdc8bb-6455-4e90-b561-ee29ec8b22fd","name":"avisar_vendedor"},{"parameters":{"workflowId":{"__rl":true,"value":"bTsiOTOg6BAZnRwK","mode":"list","cachedResultUrl":"/workflow/bTsiOTOg6BAZnRwK","cachedResultName":"CONTROLE VENDEDORES"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-448,-80],"id":"19f15911-4a38-474e-a135-2c368db679f0","name":"Controle de mensagens"},{"parameters":{"jsCode":"const mensagem = $('Data').item.json.mensagem || \"\";\nconst mensagemLower = mensagem.toLowerCase();\n\nconst lojas = {\n  \"vila andrade\": {\n    codigo: \"132\",\n    nome: \"Vila Andrade\",\n    endereco: \"Rua Nelson Gama de Oliveira, 274 - Vila Andrade, São Paulo - SP, 05734-150\",\n    pix: \"42.194.537/0003-41\"\n  },\n  \"portal do morumbi\": {\n    codigo: \"067\",\n    nome: \"Portal do Morumbi\",\n    endereco: \"Av. Mal. Juarez Távora, 22 - Morumbi, São Paulo - SP, 05750-000\",\n    pix: \"42.194.537/0001-80\"\n  },\n  \"chácara santo antônio\": {\n    codigo: \"131\",\n    nome: \"Chácara Santo Antônio\",\n    endereco: \"Rua Américo Brasiliense, 1178 - Chácara Santo Antônio, São Paulo - SP, 04715-002\",\n    pix: \"42.194.537/0002-60\"\n  },\n  \"jardim guedala\": {\n    codigo: \"173\",\n    nome: \"Jardim Guedala\",\n    endereco: \"Rua José Jannarelli, 687 - Vila Progredior, São Paulo - SP, 05615-001\",\n    pix: \"42.194.537/0004-22\"\n  },\n  \"vila mascote\": {\n    codigo: \"191\",\n    nome: \"Vila Mascote\",\n    endereco: \"Av. Santa Catarina, 670 - Vila Alexandria, São Paulo - SP, 04635-001\",\n    pix: \"42.194.537/0005-03\"\n  }\n};\n\nconst isMensagemLead = mensagemLower.includes(\"olá! vi a tintas mc\");\n\nlet loja_codigo, loja_nome, loja_endereco, loja_pix, origem_canal;\n\nif (isMensagemLead) {\n  for (const [key, value] of Object.entries(lojas)) {\n    if (mensagemLower.includes(key)) {\n      loja_codigo = value.codigo;\n      loja_nome = value.nome;\n      loja_endereco = value.endereco;\n      loja_pix = value.pix;\n      break;\n    }\n  }\n\n  if (mensagemLower.includes(\"anúncio do meta\")) {\n    origem_canal = \"meta_ads\";\n  } else if (mensagemLower.includes(\"no instagram\")) {\n    origem_canal = \"instagram\";\n  } else if (mensagemLower.includes(\"em um anúncio\")) {\n    origem_canal = \"google_ads\";\n  } else {\n    origem_canal = \"desconhecido\";\n  }\n\n} else {\n  // Loja padrão: Chácara Santo Antônio\n  loja_codigo = \"131\";\n  loja_nome = \"Chácara Santo Antônio\";\n  loja_endereco = \"Rua Américo Brasiliense, 1178 - Chácara Santo Antônio, São Paulo - SP, 04715-002\";\n  loja_pix = \"42.194.537/0002-60\";\n  origem_canal = \"cliente_loja\";\n}\n\nreturn [{\n  json: {\n    telefone: $('Data').item.json.Telefone,\n    loja_codigo,\n    loja_nome,\n    loja_endereco,\n    loja_pix,\n    origem_canal,\n    mensagem_original: mensagem\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,-96],"id":"3d958608-0394-418f-a4df-b8a7a2b22d57","name":"Mapemento de loja"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[6112,128],"id":"3ac7cc6d-0d14-4328-b846-972dea89d449","name":"Think"},{"parameters":{"description":"Consulta informações sobre produtos, marcas, linhas e especificações no catálogo da Tintas MC. Use quando cliente perguntar sobre produtos ou quando precisar recomendar algo","workflowId":{"__rl":true,"value":"e05kkAwvY9vk8VTK","mode":"list","cachedResultUrl":"/workflow/e05kkAwvY9vk8VTK","cachedResultName":"consultar_catalogo_alberto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5488,128],"id":"6b6584a8-8e49-4a81-ab8e-a093078ad65d","name":"consultar_catalogo"}],"connections":{"Webhook":{"main":[[{"node":"Verifica MSG API","type":"main","index":0},{"node":"Controle de mensagens","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"TARS","type":"ai_memory","index":0}]]},"Calculadora1":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"TARS","type":"ai_languageModel","index":0}]]},"buscar_produto_mc":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"preco_tintometrico":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"Get Memory 1":{"main":[[{"node":"wait ","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Map get1 e get2","type":"main","index":0}]]},"Text Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"PDF Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Normaliza","type":"main","index":0}]]},"Envia MSG":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Get ID":{"main":[[{"node":"Existe?","type":"main","index":0}]]},"Existe?":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gera ID","type":"main","index":0}]]},"Gera ID":{"main":[[{"node":"Cria cliente","type":"main","index":0}]]},"Cria cliente":{"main":[[{"node":"Mapeia dados","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"Mapeia dados","type":"main","index":0}]]},"ROTA Media":{"main":[[{"node":"HTTP PDF","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"HTTP Audio","type":"main","index":0}],[{"node":"HTTP Image","type":"main","index":0}]]},"HTTP PDF":{"main":[[{"node":"Convert to File - PDF","type":"main","index":0}]]},"HTTP Audio":{"main":[[{"node":"Convert to File - audio","type":"main","index":0}]]},"HTTP Image":{"main":[[{"node":"Convert to File - image","type":"main","index":0}]]},"Convert to File - audio":{"main":[[{"node":"IA Audio","type":"main","index":0}]]},"Convert to File - image":{"main":[[{"node":"IA image","type":"main","index":0}]]},"Convert to File - PDF":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Normaliza":{"main":[[{"node":"PDF Memory","type":"main","index":0}]]},"IA Audio":{"main":[[{"node":"Audio Memory","type":"main","index":0}]]},"IA image":{"main":[[{"node":"Image Memory","type":"main","index":0}]]},"Image Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"wait ":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Map get1 e get2":{"main":[[{"node":"Compara Get Memory","type":"main","index":0}]]},"Compara Get Memory":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Prepara para metricas":{"main":[[{"node":"Call 'Salva mensagens'","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"TARS","type":"main","index":0}]]},"TARS":{"main":[[{"node":"Prepara para metricas","type":"main","index":0}]]},"Call 'Salva mensagens'":{"main":[[{"node":"Envia MSG","type":"main","index":0}]]},"Data":{"main":[[{"node":"Get ID1","type":"main","index":0}]]},"Verifica MSG API":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Data","type":"main","index":0}]]},"Rota FromMe":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"Verificar Block","type":"main","index":0}]]},"Verificar Block":{"main":[[{"node":"Rota Block","type":"main","index":0}]]},"Rota Block":{"main":[[{"node":"Get ID","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get ID1":{"main":[[{"node":"Existe?1","type":"main","index":0}]]},"Existe?1":{"main":[[{"node":"Rota FromMe","type":"main","index":0}],[{"node":"Mapemento de loja","type":"main","index":0}]]},"Cria cliente1":{"main":[[{"node":"Rota FromMe","type":"main","index":0}]]},"Mapeia dados":{"main":[[{"node":"ROTA Media","type":"main","index":0}]]},"avisar_vendedor":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"Mapemento de loja":{"main":[[{"node":"Cria cliente1","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"consultar_catalogo":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]}},"authors":"Miguel Nunes","name":"Version 4103edf7","description":"","autosaved":false},"tags":[{"updatedAt":"2025-10-24T13:13:00.659Z","createdAt":"2025-10-24T13:13:00.659Z","id":"jdWTcyESftbmJZGl","name":"Produção"},{"updatedAt":"2025-10-31T13:15:54.983Z","createdAt":"2025-10-31T13:15:54.983Z","id":"SA1lrqt1q8ppNIAs","name":"Tintasmc_alberto"}]}