04XEt61aJMM4wpz3.json
{"updatedAt":"2026-03-10T22:57:44.235Z","createdAt":"2026-01-23T18:12:43.834Z","id":"04XEt61aJMM4wpz3","name":"RECONCILIACAO FATURAMENTO 72H","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT * FROM \"Controle_TMC\".v_configuracoes_com_lojas WHERE ativo = true","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,400],"id":"busca-clientes","name":"Busca Clientes Ativos","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Primeiro apaga todos os dados do dia\n// Depois extrai TODOS os clientes e suas lojas em uma lista plana\nconst items = [];\n\nfor (const cliente of $input.all()) {\n  const lojas = cliente.json.lojas || [];\n  \n  // Se lojas vier como string (JSON), parsear\n  const lojasArray = typeof lojas === 'string' ? JSON.parse(lojas) : lojas;\n  \n  for (const loja of lojasArray) {\n    items.push({\n      json: {\n        // Dados do cliente\n        empresa_id: cliente.json.empresa_id,\n        nome_cliente: cliente.json.nome_cliente,\n        api_url: cliente.json.api_url,\n        \n        // Dados da loja\n        loja_id: loja.loja_id,\n        codigo_loja: loja.codigo,\n        nome_loja: loja.nome\n      }\n    });\n  }\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,400],"id":"extrai-lojas","name":"Extrai Todas as Lojas"},{"parameters":{"operation":"executeQuery","query":"-- Apaga TODOS os dados das ultimas 72h antes de iniciar o loop\n-- Isso permite capturar NFs canceladas ou alteradas\nDELETE FROM \"Controle_TMC\".faturamentos_fiscais\nWHERE data_faturamento >= CURRENT_DATE - INTERVAL '3 days';\n\nDELETE FROM \"Controle_TMC\".itens_faturados\nWHERE data_faturamento >= CURRENT_DATE - INTERVAL '3 days';\n\n-- Retorna dummy para nao quebrar o fluxo\nSELECT 1 as ok;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[832,208],"id":"apaga-tudo-dia","name":"Apaga Ultimas 72h","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[992,400],"id":"loop-lojas","name":"Loop Lojas"},{"parameters":{"url":"={{ $('Loop Lojas').item.json.api_url }}/pedido-movimento/faturamento","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Loop Lojas').item.json.codigo_loja }}"},{"name":"data-hora","value":"={{ (() => {\n  const d = new Date();\n  d.setDate(d.getDate() - 3);\n  d.setHours(0,0,0,0);\n  return d.toISOString();\n})() }}"},{"name":"ja-faturado","value":"true"},{"name":"page","value":"0"},{"name":"size","value":"500"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,416],"id":"busca-faturamentos","name":"Busca Faturamentos API (72h)","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 21 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[368,400],"id":"5315d03f-c9e7-401b-946e-a8fee2755902","name":"Schedule (18h BRT Seg-Sab)"},{"parameters":{"content":"## COLETA FATURAMENTO FISCAL\n\n**Fluxo CORRIGIDO**:\n1. Schedule/Manual → Busca Clientes\n2. Em PARALELO: Apaga Tudo do Dia + Extrai Lojas\n3. Extrai Lojas → Loop Lojas → Busca API → Processa → Insere BD\n\n**Correção**: URL da API usa `$('Loop Lojas').item.json` para pegar loja atual\n\n**v3**: Match leads → vendas (NF) no Done do Loop","height":772,"width":3268},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,64],"id":"sticky-note-info","name":"Sticky Note Info"},{"parameters":{"operation":"executeQuery","query":"-- ===========================================\n-- MATCH LEADS → FATURAMENTOS (NF/IF/FF)\n-- Executa após processar todas as lojas\n-- ===========================================\n\n-- 1. INSERT todas as NF que dão match com leads na tabela leads_vendas\nINSERT INTO \"Controle_TMC\".leads_vendas (\n  lead_id,\n  telefone_match,\n  empresa_id,\n  loja_id,\n  codigo_loja,\n  numero_documento,\n  especie_documento,\n  data_venda,\n  valor,\n  codigo_cliente,\n  nome_cliente,\n  codigo_vendedor,\n  nome_vendedor\n)\nSELECT DISTINCT ON (l.id, f.codigo_loja, f.especie_faturamento, f.numero_faturamento)\n  l.id as lead_id,\n  CASE \n    WHEN l.telefone = f.telefone1 THEN f.telefone1\n    WHEN l.telefone = f.telefone2 THEN f.telefone2\n    WHEN l.telefone = f.telefone_celular THEN f.telefone_celular\n  END as telefone_match,\n  f.empresa_id,\n  f.loja_id,\n  f.codigo_loja,\n  f.numero_faturamento as numero_documento,\n  f.especie_faturamento as especie_documento,\n  (f.data_faturamento::timestamp AT TIME ZONE 'America/Sao_Paulo') as data_venda,\n  f.valor_contabil as valor,\n  f.codigo_cliente,\n  f.nome_cliente,\n  f.codigo_vendedor,\n  f.nome_vendedor\nFROM \"Controle_TMC\".leads_origem l\nJOIN \"Controle_TMC\".faturamentos_fiscais f ON (\n  l.empresa_id = f.empresa_id\n  AND l.loja_id = f.loja_id  \n  AND l.telefone IN (f.telefone1, f.telefone2, f.telefone_celular)\n)\nWHERE f.especie_faturamento IN ('NF', 'IF', 'FF')\n  AND l.telefone IS NOT NULL\n  AND l.telefone != ''\nON CONFLICT (lead_id, codigo_loja, especie_documento, numero_documento) DO NOTHING;\n\n-- 2. UPDATE leads_origem com PRIMEIRA conversão (NF) apenas se ainda não convertido\nWITH primeira_nf AS (\n  SELECT DISTINCT ON (l.id)\n    l.id as lead_id,\n    f.data_faturamento,\n    f.numero_faturamento,\n    f.valor_contabil,\n    f.codigo_cliente,\n    f.codigo_vendedor,\n    f.nome_vendedor\n  FROM \"Controle_TMC\".leads_origem l\n  JOIN \"Controle_TMC\".faturamentos_fiscais f ON (\n    l.empresa_id = f.empresa_id\n    AND l.loja_id = f.loja_id\n    AND l.telefone IN (f.telefone1, f.telefone2, f.telefone_celular)\n  )\n  WHERE l.convertido = FALSE\n    AND f.especie_faturamento IN ('NF', 'IF', 'FF')\n    AND l.telefone IS NOT NULL\n    AND l.telefone != ''\n  ORDER BY l.id, f.data_faturamento ASC\n)\nUPDATE \"Controle_TMC\".leads_origem l\nSET \n  convertido = TRUE,\n  data_conversao = pn.data_faturamento,\n  valor_primeira_venda = pn.valor_contabil,\n  numero_nota_fiscal = pn.numero_faturamento,\n  codigo_cliente_erp = pn.codigo_cliente,\n  codigo_vendedor = pn.codigo_vendedor,\n  nome_vendedor = pn.nome_vendedor,\n  updated_at = NOW()\nFROM primeira_nf pn\nWHERE l.id = pn.lead_id;\n\n-- Retorna contagem de matches\nSELECT \n  'Match NF concluído' as status,\n  (SELECT COUNT(*) FROM \"Controle_TMC\".leads_vendas WHERE especie_documento IN ('NF', 'IF', 'FF')) as total_nf_vinculadas,\n  (SELECT COUNT(*) FROM \"Controle_TMC\".leads_origem WHERE convertido = TRUE) as leads_convertidos;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1184,208],"id":"match-leads-nf","name":"Match Leads Vendas NF","executeOnce":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"-- Atualiza PDs/ORs que já foram faturados mas estão com ja_faturado=false\n-- Cruza vendas_detalhadas com faturamentos_fiscais pelo numero_documento_origem\nUPDATE \"Controle_TMC\".vendas_detalhadas vd\nSET ja_faturado = true\nFROM \"Controle_TMC\".faturamentos_fiscais f\nWHERE vd.empresa_id = f.empresa_id\n  AND vd.numero_documento = f.numero_documento_origem\n  AND vd.especie_documento = f.especie_documento_origem\n  AND vd.ja_faturado = false\n  AND f.especie_faturamento IN ('NF', 'IF', 'FF');\n\n-- Retorna quantos foram atualizados\nSELECT \n  'Sincronização concluída' as status,\n  (SELECT COUNT(DISTINCT numero_documento) FROM \"Controle_TMC\".vendas_detalhadas WHERE especie_documento = 'PD' AND ja_faturado = false) as pds_pendentes,\n  (SELECT COUNT(DISTINCT numero_documento) FROM \"Controle_TMC\".vendas_detalhadas WHERE especie_documento = 'OR' AND ja_faturado = false) as ors_pendentes;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,208],"id":"6a802446-9690-4629-b725-0c9cc3a1dc31","name":"Atualiza PDs Faturados","executeOnce":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[368,592],"id":"manual-trigger-recon","name":"Execucao Manual"},{"parameters":{"operation":"executeQuery","query":"SELECT NUMERODOCUMENTO, ESPECIEDOCUMENTO, NUMEROFATURAMENTO, ESPECIEFATURAMENTO, DATAFATURAMENTO, CODIGOEMPRESA, CODIGOVENDEDOR, NOMEOPERADOR, CODIGOCLIENTE, NOMECLIENTE, VALORCONTABIL, VALORFRETE, VALORTOTAL, ITENS, TIPOOPERACAO, CFOP, CHAVEACESSO, NFORIGINALNUMERO, NFORIGINALCHAVE, MOTIVOCANCELAMENTO, SITUACAONF FROM VW_DOCUMENTOS_VENDA WHERE DATAFATURAMENTO >= DATE_FORMAT(CURDATE(), '%Y-%m-01') AND DATAFATURAMENTO < DATE_ADD(DATE_FORMAT(CURDATE(), '%Y-%m-01'), INTERVAL 1 MONTH)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1616,208],"id":"a72978ea-0d69-4945-8e1f-f292361ed6e2","name":"Query Marcel","credentials":{"mySql":{"id":"WljQvEiE7LunaRuf","name":"Citel MySQL - Marcel"}}},{"parameters":{"jsCode":"const esc = (v) => v ? String(v).replace(/'/g, \"''\") : null;\n\nconst items = [];\nfor (const item of $input.all()) {\n  const d = item.json;\n  items.push({\n    json: {\n      numero_documento: esc(d.NUMERODOCUMENTO),\n      especie_documento: esc(d.ESPECIEDOCUMENTO),\n      numero_faturamento: esc(d.NUMEROFATURAMENTO),\n      especie_faturamento: esc(d.ESPECIEFATURAMENTO),\n      data_faturamento: d.DATAFATURAMENTO || null,\n      codigo_empresa: d.CODIGOEMPRESA || null,\n      codigo_vendedor: esc(d.CODIGOVENDEDOR),\n      nome_operador: esc(d.NOMEOPERADOR),\n      codigo_cliente: esc(d.CODIGOCLIENTE),\n      nome_cliente: esc(d.NOMECLIENTE),\n      valor_contabil: parseFloat(d.VALORCONTABIL) || 0,\n      valor_frete: parseFloat(d.VALORFRETE) || 0,\n      itens: esc(d.ITENS),\n      tipo_operacao: esc(d.TIPOOPERACAO),\n      cfop: esc(d.CFOP),\n      chave_acesso: esc(d.CHAVEACESSO),\n      nf_original_numero: esc(d.NFORIGINALNUMERO),\n      nf_original_chave: esc(d.NFORIGINALCHAVE),\n      motivo_cancelamento: esc(d.MOTIVOCANCELAMENTO),\n      situacao_nf: esc(d.SITUACAONF),\n      cliente: 'Marcel'\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,208],"id":"ffcc472a-0b44-424e-9639-c8ee457b1bb2","name":"Transform Marcel"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".citel_documentos_venda (\n  numero_documento, especie_documento, numero_faturamento, especie_faturamento,\n  data_faturamento, codigo_empresa, codigo_vendedor, nome_operador,\n  codigo_cliente, nome_cliente, valor_contabil, valor_frete, itens,\n  tipo_operacao, cfop, chave_acesso, nf_original_numero,\n  nf_original_chave, motivo_cancelamento, situacao_nf, cliente, synced_at\n) VALUES (\n  {{ $json.numero_documento ? \"'\" + $json.numero_documento + \"'\" : 'NULL' }},\n  {{ $json.especie_documento ? \"'\" + $json.especie_documento + \"'\" : 'NULL' }},\n  '{{ $json.numero_faturamento }}',\n  '{{ $json.especie_faturamento }}',\n  {{ $json.data_faturamento ? \"'\" + $json.data_faturamento + \"'\" : 'NULL' }},\n  {{ $json.codigo_empresa || 'NULL' }},\n  {{ $json.codigo_vendedor ? \"'\" + $json.codigo_vendedor + \"'\" : 'NULL' }},\n  {{ $json.nome_operador ? \"'\" + $json.nome_operador + \"'\" : 'NULL' }},\n  {{ $json.codigo_cliente ? \"'\" + $json.codigo_cliente + \"'\" : 'NULL' }},\n  {{ $json.nome_cliente ? \"'\" + $json.nome_cliente + \"'\" : 'NULL' }},\n  {{ $json.valor_contabil }},\n  {{ $json.valor_frete }},\n  {{ $json.itens ? \"'\" + $json.itens + \"'\" : 'NULL' }},\n  {{ $json.tipo_operacao ? \"'\" + $json.tipo_operacao + \"'\" : 'NULL' }},\n  {{ $json.cfop ? \"'\" + $json.cfop + \"'\" : 'NULL' }},\n  {{ $json.chave_acesso ? \"'\" + $json.chave_acesso + \"'\" : 'NULL' }},\n  {{ $json.nf_original_numero ? \"'\" + $json.nf_original_numero + \"'\" : 'NULL' }},\n  {{ $json.nf_original_chave ? \"'\" + $json.nf_original_chave + \"'\" : 'NULL' }},\n  {{ $json.motivo_cancelamento ? \"'\" + $json.motivo_cancelamento + \"'\" : 'NULL' }},\n  {{ $json.situacao_nf ? \"'\" + $json.situacao_nf + \"'\" : 'NULL' }},\n  '{{ $json.cliente }}',\n  NOW()\n)\nON CONFLICT (numero_faturamento, especie_faturamento, codigo_empresa, cliente)\nDO UPDATE SET\n  numero_documento = EXCLUDED.numero_documento,\n  especie_documento = EXCLUDED.especie_documento,\n  data_faturamento = EXCLUDED.data_faturamento,\n  codigo_vendedor = EXCLUDED.codigo_vendedor,\n  nome_operador = EXCLUDED.nome_operador,\n  codigo_cliente = EXCLUDED.codigo_cliente,\n  nome_cliente = EXCLUDED.nome_cliente,\n  valor_contabil = EXCLUDED.valor_contabil,\n  valor_frete = EXCLUDED.valor_frete,\n  itens = EXCLUDED.itens,\n  tipo_operacao = EXCLUDED.tipo_operacao,\n  cfop = EXCLUDED.cfop,\n  chave_acesso = EXCLUDED.chave_acesso,\n  nf_original_numero = EXCLUDED.nf_original_numero,\n  nf_original_chave = EXCLUDED.nf_original_chave,\n  motivo_cancelamento = EXCLUDED.motivo_cancelamento,\n  situacao_nf = EXCLUDED.situacao_nf,\n  synced_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2096,208],"id":"ccf2e72e-2ce7-493a-9ed4-6de09ac55d7e","name":"Upsert Marcel","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT NUMERODOCUMENTO, ESPECIEDOCUMENTO, NUMEROFATURAMENTO, ESPECIEFATURAMENTO, DATAFATURAMENTO, CODIGOEMPRESA, CODIGOVENDEDOR, NOMEOPERADOR, CODIGOCLIENTE, NOMECLIENTE, VALORCONTABIL, VALORFRETE, VALORTOTAL, ITENS, TIPOOPERACAO, CFOP, CHAVEACESSO, NFORIGINALNUMERO, NFORIGINALCHAVE, MOTIVOCANCELAMENTO, SITUACAONF FROM VW_DOCUMENTOS_VENDA WHERE DATAFATURAMENTO >= DATE_FORMAT(CURDATE(), '%Y-%m-01') AND DATAFATURAMENTO < DATE_ADD(DATE_FORMAT(CURDATE(), '%Y-%m-01'), INTERVAL 1 MONTH)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2336,208],"id":"293896bf-f98f-4132-a1a6-4638f56595f5","name":"Query Alberto","credentials":{"mySql":{"id":"H0qhbbVek0dmWaVj","name":"Citel MySQL - Alberto"}}},{"parameters":{"jsCode":"const esc = (v) => v ? String(v).replace(/'/g, \"''\") : null;\n\nconst items = [];\nfor (const item of $input.all()) {\n  const d = item.json;\n  items.push({\n    json: {\n      numero_documento: esc(d.NUMERODOCUMENTO),\n      especie_documento: esc(d.ESPECIEDOCUMENTO),\n      numero_faturamento: esc(d.NUMEROFATURAMENTO),\n      especie_faturamento: esc(d.ESPECIEFATURAMENTO),\n      data_faturamento: d.DATAFATURAMENTO || null,\n      codigo_empresa: d.CODIGOEMPRESA || null,\n      codigo_vendedor: esc(d.CODIGOVENDEDOR),\n      nome_operador: esc(d.NOMEOPERADOR),\n      codigo_cliente: esc(d.CODIGOCLIENTE),\n      nome_cliente: esc(d.NOMECLIENTE),\n      valor_contabil: parseFloat(d.VALORCONTABIL) || 0,\n      valor_frete: parseFloat(d.VALORFRETE) || 0,\n      itens: esc(d.ITENS),\n      tipo_operacao: esc(d.TIPOOPERACAO),\n      cfop: esc(d.CFOP),\n      chave_acesso: esc(d.CHAVEACESSO),\n      nf_original_numero: esc(d.NFORIGINALNUMERO),\n      nf_original_chave: esc(d.NFORIGINALCHAVE),\n      motivo_cancelamento: esc(d.MOTIVOCANCELAMENTO),\n      situacao_nf: esc(d.SITUACAONF),\n      cliente: 'Alberto'\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,208],"id":"e3c369d5-d7e7-4f06-b94b-45cf1be8ac8d","name":"Transform Alberto"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".citel_documentos_venda (\n  numero_documento, especie_documento, numero_faturamento, especie_faturamento,\n  data_faturamento, codigo_empresa, codigo_vendedor, nome_operador,\n  codigo_cliente, nome_cliente, valor_contabil, valor_frete, itens,\n  tipo_operacao, cfop, chave_acesso, nf_original_numero,\n  nf_original_chave, motivo_cancelamento, situacao_nf, cliente, synced_at\n) VALUES (\n  {{ $json.numero_documento ? \"'\" + $json.numero_documento + \"'\" : 'NULL' }},\n  {{ $json.especie_documento ? \"'\" + $json.especie_documento + \"'\" : 'NULL' }},\n  '{{ $json.numero_faturamento }}',\n  '{{ $json.especie_faturamento }}',\n  {{ $json.data_faturamento ? \"'\" + $json.data_faturamento + \"'\" : 'NULL' }},\n  {{ $json.codigo_empresa || 'NULL' }},\n  {{ $json.codigo_vendedor ? \"'\" + $json.codigo_vendedor + \"'\" : 'NULL' }},\n  {{ $json.nome_operador ? \"'\" + $json.nome_operador + \"'\" : 'NULL' }},\n  {{ $json.codigo_cliente ? \"'\" + $json.codigo_cliente + \"'\" : 'NULL' }},\n  {{ $json.nome_cliente ? \"'\" + $json.nome_cliente + \"'\" : 'NULL' }},\n  {{ $json.valor_contabil }},\n  {{ $json.valor_frete }},\n  {{ $json.itens ? \"'\" + $json.itens + \"'\" : 'NULL' }},\n  {{ $json.tipo_operacao ? \"'\" + $json.tipo_operacao + \"'\" : 'NULL' }},\n  {{ $json.cfop ? \"'\" + $json.cfop + \"'\" : 'NULL' }},\n  {{ $json.chave_acesso ? \"'\" + $json.chave_acesso + \"'\" : 'NULL' }},\n  {{ $json.nf_original_numero ? \"'\" + $json.nf_original_numero + \"'\" : 'NULL' }},\n  {{ $json.nf_original_chave ? \"'\" + $json.nf_original_chave + \"'\" : 'NULL' }},\n  {{ $json.motivo_cancelamento ? \"'\" + $json.motivo_cancelamento + \"'\" : 'NULL' }},\n  {{ $json.situacao_nf ? \"'\" + $json.situacao_nf + \"'\" : 'NULL' }},\n  '{{ $json.cliente }}',\n  NOW()\n)\nON CONFLICT (numero_faturamento, especie_faturamento, codigo_empresa, cliente)\nDO UPDATE SET\n  numero_documento = EXCLUDED.numero_documento,\n  especie_documento = EXCLUDED.especie_documento,\n  data_faturamento = EXCLUDED.data_faturamento,\n  codigo_vendedor = EXCLUDED.codigo_vendedor,\n  nome_operador = EXCLUDED.nome_operador,\n  codigo_cliente = EXCLUDED.codigo_cliente,\n  nome_cliente = EXCLUDED.nome_cliente,\n  valor_contabil = EXCLUDED.valor_contabil,\n  valor_frete = EXCLUDED.valor_frete,\n  itens = EXCLUDED.itens,\n  tipo_operacao = EXCLUDED.tipo_operacao,\n  cfop = EXCLUDED.cfop,\n  chave_acesso = EXCLUDED.chave_acesso,\n  nf_original_numero = EXCLUDED.nf_original_numero,\n  nf_original_chave = EXCLUDED.nf_original_chave,\n  motivo_cancelamento = EXCLUDED.motivo_cancelamento,\n  situacao_nf = EXCLUDED.situacao_nf,\n  synced_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2816,208],"id":"c6807afa-e374-42cd-83e8-ccaf81c1131f","name":"Upsert Alberto","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".faturamentos_fiscais (\n  empresa_id, loja_id, codigo_loja, codigo_empresa_expedicao,\n  numero_faturamento, especie_faturamento, data_faturamento,\n  codigo_vendedor, codigo_cliente, nome_cliente,\n  valor_contabil, valor_frete, tipo_operacao, nf_original_numero\n)\nSELECT\n  l.empresa_id,\n  l.id as loja_id,\n  LPAD(cdv.codigo_empresa::TEXT, 3, '0') as codigo_loja,\n  LPAD(cdv.codigo_empresa::TEXT, 3, '0') as codigo_empresa_expedicao,\n  cdv.numero_faturamento,\n  'NF' as especie_faturamento,\n  cdv.data_faturamento,\n  cdv.codigo_vendedor,\n  cdv.codigo_cliente,\n  cdv.nome_cliente,\n  cdv.valor_contabil - COALESCE(cdv.valor_frete, 0) as valor_contabil,\n  COALESCE(cdv.valor_frete, 0) as valor_frete,\n  'DEVOLUCAO' as tipo_operacao,\n  cdv.nf_original_numero\nFROM \"Controle_TMC\".citel_documentos_venda cdv\nJOIN \"Controle_TMC\".lojas l\n  ON l.codigo = LPAD(cdv.codigo_empresa::TEXT, 3, '0')\nJOIN \"Controle_TMC\".configuracoes_cliente cc\n  ON cc.empresa_id = l.empresa_id\n  AND cc.slug = LOWER(cdv.cliente)\nWHERE cdv.tipo_operacao = 'DEVOLUCAO'\n  AND cdv.situacao_nf = 'AUTORIZADA'\n  AND cdv.data_faturamento >= DATE_TRUNC('month', CURRENT_DATE)\n  AND cdv.data_faturamento < DATE_TRUNC('month', CURRENT_DATE) + INTERVAL '1 month'\nON CONFLICT (codigo_loja, especie_faturamento, numero_faturamento, codigo_empresa_expedicao)\nDO UPDATE SET\n  valor_contabil = EXCLUDED.valor_contabil,\n  valor_frete = EXCLUDED.valor_frete,\n  tipo_operacao = EXCLUDED.tipo_operacao,\n  nf_original_numero = EXCLUDED.nf_original_numero,\n  codigo_cliente = EXCLUDED.codigo_cliente,\n  nome_cliente = EXCLUDED.nome_cliente,\n  codigo_vendedor = EXCLUDED.codigo_vendedor,\n  updated_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3056,208],"id":"ceb637e0-747a-4161-b230-22caf77ea5e2","name":"Inject Devoluções","executeOnce":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT cliente, tipo_operacao, situacao_nf, COUNT(*) as docs, ROUND(SUM(valor_contabil)::numeric, 2) as total FROM \"Controle_TMC\".citel_documentos_venda WHERE data_faturamento >= CURRENT_DATE - INTERVAL '60 days' GROUP BY cliente, tipo_operacao, situacao_nf ORDER BY cliente, tipo_operacao, situacao_nf;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3296,208],"id":"5bddd2c5-cb09-422d-ba8b-32a247b683e9","name":"Resumo Final","executeOnce":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"\n// Pega contexto da loja atual\nconst lojaContext = $('Loop Lojas').item.json;\nconst EMPRESA_ID = lojaContext.empresa_id;\nconst LOJA_ID = lojaContext.loja_id;\nconst CODIGO_LOJA = lojaContext.codigo_loja;\n\nconst content = $input.first().json.content;\n\nif (!content || !Array.isArray(content)) {\n  return [{ json: { query: 'SELECT 0 as faturamentos, 0 as itens;' } }];\n}\n\nconst ESPECIES_FISCAIS = ['NF', 'IF', 'FF'];\n\n// ============ HELPER ============\nfunction esc(val) {\n  if (val === null || val === undefined || val === '') return 'NULL';\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction num(val) {\n  const n = Number(val);\n  return isNaN(n) ? 0 : n;\n}\n\n// ============ PROCESSA FATURAMENTOS ============\nconst faturamentos = new Map();\n\nfor (const doc of content) {\n  if (!doc.jaFaturado) continue;\n\n  const codigoEmpresaExpedicao = String(doc.codigoEmpresaExpedicao || doc.codigoEmpresa || CODIGO_LOJA).padStart(3, '0');\n  const itens = doc.itens || [];\n\n  for (const item of itens) {\n    const numeroFaturamento = item.numeroFaturamento?.replace(/^0+/, '');\n    const especieFaturamento = item.especieFaturamento;\n    const dataFaturamento = item.dataFaturamento;\n\n    if (!numeroFaturamento || !especieFaturamento) continue;\n    if (!ESPECIES_FISCAIS.includes(especieFaturamento)) continue;\n    if (!dataFaturamento) continue;\n\n    const key = CODIGO_LOJA + '-' + especieFaturamento + '-' + numeroFaturamento + '-' + codigoEmpresaExpedicao;\n\n    if (!faturamentos.has(key)) {\n      const valorContabil = doc.valorContabil || 0;\n\n      faturamentos.set(key, {\n        empresa_id: EMPRESA_ID,\n        loja_id: LOJA_ID,\n        codigo_loja: CODIGO_LOJA,\n        codigo_empresa_expedicao: codigoEmpresaExpedicao,\n        numero_faturamento: numeroFaturamento,\n        especie_faturamento: especieFaturamento,\n        data_faturamento: dataFaturamento,\n        numero_documento_origem: doc.numeroDocumento?.replace(/^0+/, '') || null,\n        especie_documento_origem: doc.especieDocumento || null,\n        data_entrada_origem: doc.dataEntrada || null,\n        codigo_vendedor: doc.codigoVendedor || null,\n        nome_vendedor: doc.nomeVendedor || null,\n        codigo_cliente: doc.cliente?.codigoCliente?.replace(/^0+/, '') || null,\n        nome_cliente: doc.cliente?.nome || doc.nomeConsumidorOuCliente || null,\n        telefone1: doc.cliente?.telefone1?.replace(/\\D/g, '') || null,\n        telefone2: doc.cliente?.telefone2?.replace(/\\D/g, '') || null,\n        telefone_celular: doc.cliente?.telefoneCelular?.replace(/\\D/g, '') || null,\n        valor_contabil: valorContabil,\n        valor_total_itens: 0,\n        valor_frete: 0,\n        quantidade_itens: 0,\n        total_st: doc.totalST || 0,\n        total_ipi: doc.totalIPI || 0,\n        desconto_especial: doc.descontoEspecial || 0,\n        total_desconto_itens: 0\n      });\n    }\n\n    const fat = faturamentos.get(key);\n    fat.valor_total_itens += item.totalItem || 0;\n    fat.valor_frete += item.totalFrete || 0;\n    fat.quantidade_itens += 1;\n\n    const precoOrig = item.precoOriginal || 0;\n    const precoUnit = item.precoUnitario || 0;\n    const qtd = item.quantidade || 1;\n    const descItem = precoOrig - precoUnit;\n    if (descItem > 0 && descItem < precoUnit * 2) {\n      fat.total_desconto_itens += descItem * qtd;\n    }\n  }\n}\n\n// ============ PROCESSA ITENS ============\nconst itensArray = [];\n\nfor (const doc of content) {\n  if (!doc.jaFaturado) continue;\n  const docItens = doc.itens || [];\n\n  for (const item of docItens) {\n    const numeroFaturamento = item.numeroFaturamento?.replace(/^0+/, '');\n    const especieFaturamento = item.especieFaturamento;\n    const dataFaturamento = item.dataFaturamento;\n\n    if (!numeroFaturamento || !especieFaturamento) continue;\n    if (!ESPECIES_FISCAIS.includes(especieFaturamento)) continue;\n    if (!dataFaturamento) continue;\n\n    const precoDigitado = item.precoDigitado || item.precoUnitario || 0;\n    const totalCusto = item.totalCusto || 0;\n    const quantidade = item.quantidade || 1;\n    const custoUnitario = quantidade > 0 ? totalCusto / quantidade : 0;\n    const margem = precoDigitado > 0\n      ? Number(((precoDigitado - custoUnitario) / precoDigitado * 100).toFixed(2))\n      : 0;\n\n    const descricaoCompleta = item.descricaoCompleta || item.descricaoProduto || '';\n    let medidaMatch = descricaoCompleta.match(/(\\d+(?:[.,]\\d+)?)\\s*(L|KG|ML|G)\\b/i);\n    if (!medidaMatch) {\n      medidaMatch = descricaoCompleta.match(/(\\d+(?:[.,]\\d+)?)\\s*BD\\b/i);\n    }\n\n    let unidade_medida = null;\n    if (medidaMatch) {\n      let valor = parseFloat(medidaMatch[1].replace(',', '.'));\n      const unidade = (medidaMatch[2] || 'L').toUpperCase();\n      if (unidade === 'ML') { valor = valor / 1000; unidade_medida = valor + 'L'; }\n      else if (unidade === 'G' && valor >= 100) { valor = valor / 1000; unidade_medida = valor + 'KG'; }\n      else if (unidade === 'BD' || unidade === 'L') { unidade_medida = valor + 'L'; }\n      else { unidade_medida = valor + unidade; }\n    }\n\n    const precoOriginal = item.precoOriginal || 0;\n    const precoUnitario = item.precoUnitario || 0;\n    const descontoValor = precoOriginal > precoUnitario ? Number((precoOriginal - precoUnitario).toFixed(2)) : 0;\n    const descontoPercentual = precoOriginal > 0 && descontoValor > 0 ? Number((descontoValor / precoOriginal * 100).toFixed(2)) : 0;\n\n    itensArray.push({\n      empresa_id: EMPRESA_ID,\n      loja_id: LOJA_ID,\n      codigo_loja: CODIGO_LOJA,\n      numero_faturamento: numeroFaturamento,\n      especie_faturamento: especieFaturamento,\n      data_faturamento: dataFaturamento,\n      codigo_vendedor: doc.codigoVendedor || null,\n      nome_vendedor: doc.nomeVendedor || null,\n      codigo_cliente: doc.cliente?.codigoCliente?.replace(/^0+/, '') || null,\n      nome_cliente: doc.cliente?.nome || doc.nomeConsumidorOuCliente || null,\n      codigo_produto: item.codigoProduto || '',\n      descricao_produto: item.descricaoProduto || '',\n      codigo_marca: item.codigoMarca || '',\n      unidade_medida: unidade_medida,\n      quantidade: quantidade,\n      preco_unitario: precoUnitario,\n      preco_original: precoOriginal,\n      desconto_valor: descontoValor,\n      desconto_percentual: descontoPercentual,\n      margem_percentual: margem,\n      total_item: item.totalItem || 0,\n      total_frete: item.totalFrete || 0,\n      total_st: item.totalST || 0\n    });\n  }\n}\n\n// Sequencial para itens com mesmo codigo_produto\nconst seqMap = new Map();\nfor (const it of itensArray) {\n  const key = it.codigo_loja + '-' + it.especie_faturamento + '-' + it.numero_faturamento + '-' + it.codigo_produto;\n  const seq = (seqMap.get(key) || 0) + 1;\n  seqMap.set(key, seq);\n  it.item_seq = seq;\n}\n\n// ============ MONTA SQL ============\nconst queries = [];\n\n// SQL Faturamentos\nconst fats = Array.from(faturamentos.values());\nif (fats.length > 0) {\n  const values = fats.map(f => {\n    return '(' + [\n      esc(f.empresa_id), esc(f.loja_id), esc(f.codigo_loja), esc(f.codigo_empresa_expedicao),\n      esc(f.numero_faturamento), esc(f.especie_faturamento), esc(f.data_faturamento),\n      esc(f.numero_documento_origem), esc(f.especie_documento_origem), esc(f.data_entrada_origem),\n      esc(f.codigo_vendedor), esc(f.nome_vendedor), esc(f.codigo_cliente), esc(f.nome_cliente),\n      esc(f.telefone1), esc(f.telefone2), esc(f.telefone_celular),\n      num(f.valor_contabil).toFixed(2), num(f.valor_total_itens).toFixed(2), num(f.valor_frete).toFixed(2),\n      num(f.quantidade_itens), num(f.total_st), num(f.total_ipi),\n      num(f.desconto_especial), num(f.total_desconto_itens + f.desconto_especial).toFixed(2)\n    ].join(', ') + ')';\n  }).join(',\\n');\n\n  queries.push(`INSERT INTO \"Controle_TMC\".faturamentos_fiscais (\n  empresa_id, loja_id, codigo_loja, codigo_empresa_expedicao,\n  numero_faturamento, especie_faturamento, data_faturamento,\n  numero_documento_origem, especie_documento_origem, data_entrada_origem,\n  codigo_vendedor, nome_vendedor, codigo_cliente, nome_cliente,\n  telefone1, telefone2, telefone_celular,\n  valor_contabil, valor_total_itens, valor_frete,\n  quantidade_itens, total_st, total_ipi,\n  desconto_especial, total_desconto_itens\n) VALUES\n${values}\nON CONFLICT (codigo_loja, especie_faturamento, numero_faturamento, codigo_empresa_expedicao)\nDO UPDATE SET\n  valor_contabil = EXCLUDED.valor_contabil,\n  valor_total_itens = EXCLUDED.valor_total_itens,\n  valor_frete = EXCLUDED.valor_frete,\n  quantidade_itens = EXCLUDED.quantidade_itens,\n  codigo_vendedor = EXCLUDED.codigo_vendedor,\n  nome_vendedor = EXCLUDED.nome_vendedor,\n  codigo_cliente = EXCLUDED.codigo_cliente,\n  nome_cliente = EXCLUDED.nome_cliente,\n  telefone1 = EXCLUDED.telefone1,\n  telefone2 = EXCLUDED.telefone2,\n  telefone_celular = EXCLUDED.telefone_celular,\n  total_st = EXCLUDED.total_st,\n  total_ipi = EXCLUDED.total_ipi,\n  desconto_especial = EXCLUDED.desconto_especial,\n  total_desconto_itens = EXCLUDED.total_desconto_itens,\n  updated_at = NOW();`);\n}\n\n// SQL Itens\nif (itensArray.length > 0) {\n  const values = itensArray.map(i => {\n    return '(' + [\n      esc(i.empresa_id), esc(i.loja_id), esc(i.codigo_loja),\n      esc(i.numero_faturamento), esc(i.especie_faturamento), esc(i.data_faturamento),\n      esc(i.codigo_vendedor), esc(i.nome_vendedor), esc(i.codigo_cliente), esc(i.nome_cliente),\n      esc(i.codigo_produto), esc(i.descricao_produto), esc(i.codigo_marca), esc(i.unidade_medida),\n      num(i.quantidade), num(i.preco_unitario), num(i.preco_original),\n      num(i.total_item), num(i.total_frete), num(i.margem_percentual),\n      num(i.desconto_valor), num(i.desconto_percentual), num(i.item_seq), num(i.total_st)\n    ].join(', ') + ')';\n  }).join(',\\n');\n\n  queries.push(`INSERT INTO \"Controle_TMC\".itens_faturados (\n  empresa_id, loja_id, codigo_loja,\n  numero_faturamento, especie_faturamento, data_faturamento,\n  codigo_vendedor, nome_vendedor, codigo_cliente, nome_cliente,\n  codigo_produto, descricao_produto, codigo_marca, unidade_medida,\n  quantidade, preco_unitario, preco_original,\n  total_item, total_frete, margem_percentual,\n  desconto_valor, desconto_percentual, item_seq, total_st\n) VALUES\n${values}\nON CONFLICT (codigo_loja, especie_faturamento, numero_faturamento, codigo_produto, item_seq)\nDO UPDATE SET\n  quantidade = EXCLUDED.quantidade,\n  preco_unitario = EXCLUDED.preco_unitario,\n  preco_original = EXCLUDED.preco_original,\n  total_item = EXCLUDED.total_item,\n  total_frete = EXCLUDED.total_frete,\n  margem_percentual = EXCLUDED.margem_percentual,\n  desconto_valor = EXCLUDED.desconto_valor,\n  desconto_percentual = EXCLUDED.desconto_percentual,\n  total_st = EXCLUDED.total_st,\n  updated_at = NOW();`);\n}\n\n// Sempre rodar acompanhamento (mesmo sem faturamentos novos, pode ter de dias anteriores)\nqueries.push('SELECT * FROM \"Controle_TMC\".process_acompanhamento(' + esc(EMPRESA_ID) + '::uuid, ' + esc(CODIGO_LOJA) + ');');\n\n// Contagem final\nqueries.push('SELECT ' + fats.length + ' as faturamentos, ' + itensArray.length + ' as itens;');\n\nreturn [{ json: { query: queries.join('\\n\\n'), _stats: { faturamentos: fats.length, itens: itensArray.length } } }];\n"},"id":"code-unificado-001","name":"Processa Faturamentos e Itens","type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,416]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"pg-upsert-unificado-001","name":"Upsert Faturamentos e Itens","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1632,416],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}}],"connections":{"Busca Clientes Ativos":{"main":[[{"node":"Extrai Todas as Lojas","type":"main","index":0},{"node":"Apaga Ultimas 72h","type":"main","index":0}]]},"Extrai Todas as Lojas":{"main":[[{"node":"Loop Lojas","type":"main","index":0}]]},"Apaga Ultimas 72h":{"main":[[]]},"Loop Lojas":{"main":[[{"node":"Match Leads Vendas NF","type":"main","index":0}],[{"node":"Busca Faturamentos API (72h)","type":"main","index":0}]]},"Busca Faturamentos API (72h)":{"main":[[{"node":"Processa Faturamentos e Itens","type":"main","index":0}]]},"Match Leads Vendas NF":{"main":[[{"node":"Atualiza PDs Faturados","type":"main","index":0}]]},"Atualiza PDs Faturados":{"main":[[{"node":"Query Marcel","type":"main","index":0}]]},"Schedule (18h BRT Seg-Sab)":{"main":[[{"node":"Busca Clientes Ativos","type":"main","index":0}]]},"Execucao Manual":{"main":[[{"node":"Busca Clientes Ativos","type":"main","index":0}]]},"Query Marcel":{"main":[[{"node":"Transform Marcel","type":"main","index":0}]]},"Transform Marcel":{"main":[[{"node":"Upsert Marcel","type":"main","index":0}]]},"Upsert Marcel":{"main":[[{"node":"Query Alberto","type":"main","index":0}]]},"Query Alberto":{"main":[[{"node":"Transform Alberto","type":"main","index":0}]]},"Transform Alberto":{"main":[[{"node":"Upsert Alberto","type":"main","index":0}]]},"Upsert Alberto":{"main":[[{"node":"Inject Devoluções","type":"main","index":0}]]},"Inject Devoluções":{"main":[[{"node":"Resumo Final","type":"main","index":0}]]},"Processa Faturamentos e Itens":{"main":[[{"node":"Upsert Faturamentos e Itens","type":"main","index":0}]]},"Upsert Faturamentos e Itens":{"main":[[{"node":"Loop Lojas","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","timezone":"UTC","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1"},"staticData":{"node:Schedule Trigger (21h)":{"recurrenceRules":[]},"node:Schedule (18h BRT Seg-Sab)":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"cdc926f4-04fd-4533-955c-182d00db3feb","activeVersionId":"cdc926f4-04fd-4533-955c-182d00db3feb","triggerCount":1,"shared":[{"updatedAt":"2026-01-23T18:12:43.834Z","createdAt":"2026-01-23T18:12:43.834Z","role":"workflow:owner","workflowId":"04XEt61aJMM4wpz3","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2026-03-10T22:57:44.238Z","createdAt":"2026-03-10T22:57:44.238Z","versionId":"cdc926f4-04fd-4533-955c-182d00db3feb","workflowId":"04XEt61aJMM4wpz3","nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT * FROM \"Controle_TMC\".v_configuracoes_com_lojas WHERE ativo = true","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,400],"id":"busca-clientes","name":"Busca Clientes Ativos","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Primeiro apaga todos os dados do dia\n// Depois extrai TODOS os clientes e suas lojas em uma lista plana\nconst items = [];\n\nfor (const cliente of $input.all()) {\n  const lojas = cliente.json.lojas || [];\n  \n  // Se lojas vier como string (JSON), parsear\n  const lojasArray = typeof lojas === 'string' ? JSON.parse(lojas) : lojas;\n  \n  for (const loja of lojasArray) {\n    items.push({\n      json: {\n        // Dados do cliente\n        empresa_id: cliente.json.empresa_id,\n        nome_cliente: cliente.json.nome_cliente,\n        api_url: cliente.json.api_url,\n        \n        // Dados da loja\n        loja_id: loja.loja_id,\n        codigo_loja: loja.codigo,\n        nome_loja: loja.nome\n      }\n    });\n  }\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,400],"id":"extrai-lojas","name":"Extrai Todas as Lojas"},{"parameters":{"operation":"executeQuery","query":"-- Apaga TODOS os dados das ultimas 72h antes de iniciar o loop\n-- Isso permite capturar NFs canceladas ou alteradas\nDELETE FROM \"Controle_TMC\".faturamentos_fiscais\nWHERE data_faturamento >= CURRENT_DATE - INTERVAL '3 days';\n\nDELETE FROM \"Controle_TMC\".itens_faturados\nWHERE data_faturamento >= CURRENT_DATE - INTERVAL '3 days';\n\n-- Retorna dummy para nao quebrar o fluxo\nSELECT 1 as ok;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[832,208],"id":"apaga-tudo-dia","name":"Apaga Ultimas 72h","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[992,400],"id":"loop-lojas","name":"Loop Lojas"},{"parameters":{"url":"={{ $('Loop Lojas').item.json.api_url }}/pedido-movimento/faturamento","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Loop Lojas').item.json.codigo_loja }}"},{"name":"data-hora","value":"={{ (() => {\n  const d = new Date();\n  d.setDate(d.getDate() - 3);\n  d.setHours(0,0,0,0);\n  return d.toISOString();\n})() }}"},{"name":"ja-faturado","value":"true"},{"name":"page","value":"0"},{"name":"size","value":"500"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,416],"id":"busca-faturamentos","name":"Busca Faturamentos API (72h)","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 21 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[368,400],"id":"5315d03f-c9e7-401b-946e-a8fee2755902","name":"Schedule (18h BRT Seg-Sab)"},{"parameters":{"content":"## COLETA FATURAMENTO FISCAL\n\n**Fluxo CORRIGIDO**:\n1. Schedule/Manual → Busca Clientes\n2. Em PARALELO: Apaga Tudo do Dia + Extrai Lojas\n3. Extrai Lojas → Loop Lojas → Busca API → Processa → Insere BD\n\n**Correção**: URL da API usa `$('Loop Lojas').item.json` para pegar loja atual\n\n**v3**: Match leads → vendas (NF) no Done do Loop","height":772,"width":3268},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,64],"id":"sticky-note-info","name":"Sticky Note Info"},{"parameters":{"operation":"executeQuery","query":"-- ===========================================\n-- MATCH LEADS → FATURAMENTOS (NF/IF/FF)\n-- Executa após processar todas as lojas\n-- ===========================================\n\n-- 1. INSERT todas as NF que dão match com leads na tabela leads_vendas\nINSERT INTO \"Controle_TMC\".leads_vendas (\n  lead_id,\n  telefone_match,\n  empresa_id,\n  loja_id,\n  codigo_loja,\n  numero_documento,\n  especie_documento,\n  data_venda,\n  valor,\n  codigo_cliente,\n  nome_cliente,\n  codigo_vendedor,\n  nome_vendedor\n)\nSELECT DISTINCT ON (l.id, f.codigo_loja, f.especie_faturamento, f.numero_faturamento)\n  l.id as lead_id,\n  CASE \n    WHEN l.telefone = f.telefone1 THEN f.telefone1\n    WHEN l.telefone = f.telefone2 THEN f.telefone2\n    WHEN l.telefone = f.telefone_celular THEN f.telefone_celular\n  END as telefone_match,\n  f.empresa_id,\n  f.loja_id,\n  f.codigo_loja,\n  f.numero_faturamento as numero_documento,\n  f.especie_faturamento as especie_documento,\n  (f.data_faturamento::timestamp AT TIME ZONE 'America/Sao_Paulo') as data_venda,\n  f.valor_contabil as valor,\n  f.codigo_cliente,\n  f.nome_cliente,\n  f.codigo_vendedor,\n  f.nome_vendedor\nFROM \"Controle_TMC\".leads_origem l\nJOIN \"Controle_TMC\".faturamentos_fiscais f ON (\n  l.empresa_id = f.empresa_id\n  AND l.loja_id = f.loja_id  \n  AND l.telefone IN (f.telefone1, f.telefone2, f.telefone_celular)\n)\nWHERE f.especie_faturamento IN ('NF', 'IF', 'FF')\n  AND l.telefone IS NOT NULL\n  AND l.telefone != ''\nON CONFLICT (lead_id, codigo_loja, especie_documento, numero_documento) DO NOTHING;\n\n-- 2. UPDATE leads_origem com PRIMEIRA conversão (NF) apenas se ainda não convertido\nWITH primeira_nf AS (\n  SELECT DISTINCT ON (l.id)\n    l.id as lead_id,\n    f.data_faturamento,\n    f.numero_faturamento,\n    f.valor_contabil,\n    f.codigo_cliente,\n    f.codigo_vendedor,\n    f.nome_vendedor\n  FROM \"Controle_TMC\".leads_origem l\n  JOIN \"Controle_TMC\".faturamentos_fiscais f ON (\n    l.empresa_id = f.empresa_id\n    AND l.loja_id = f.loja_id\n    AND l.telefone IN (f.telefone1, f.telefone2, f.telefone_celular)\n  )\n  WHERE l.convertido = FALSE\n    AND f.especie_faturamento IN ('NF', 'IF', 'FF')\n    AND l.telefone IS NOT NULL\n    AND l.telefone != ''\n  ORDER BY l.id, f.data_faturamento ASC\n)\nUPDATE \"Controle_TMC\".leads_origem l\nSET \n  convertido = TRUE,\n  data_conversao = pn.data_faturamento,\n  valor_primeira_venda = pn.valor_contabil,\n  numero_nota_fiscal = pn.numero_faturamento,\n  codigo_cliente_erp = pn.codigo_cliente,\n  codigo_vendedor = pn.codigo_vendedor,\n  nome_vendedor = pn.nome_vendedor,\n  updated_at = NOW()\nFROM primeira_nf pn\nWHERE l.id = pn.lead_id;\n\n-- Retorna contagem de matches\nSELECT \n  'Match NF concluído' as status,\n  (SELECT COUNT(*) FROM \"Controle_TMC\".leads_vendas WHERE especie_documento IN ('NF', 'IF', 'FF')) as total_nf_vinculadas,\n  (SELECT COUNT(*) FROM \"Controle_TMC\".leads_origem WHERE convertido = TRUE) as leads_convertidos;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1184,208],"id":"match-leads-nf","name":"Match Leads Vendas NF","executeOnce":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"-- Atualiza PDs/ORs que já foram faturados mas estão com ja_faturado=false\n-- Cruza vendas_detalhadas com faturamentos_fiscais pelo numero_documento_origem\nUPDATE \"Controle_TMC\".vendas_detalhadas vd\nSET ja_faturado = true\nFROM \"Controle_TMC\".faturamentos_fiscais f\nWHERE vd.empresa_id = f.empresa_id\n  AND vd.numero_documento = f.numero_documento_origem\n  AND vd.especie_documento = f.especie_documento_origem\n  AND vd.ja_faturado = false\n  AND f.especie_faturamento IN ('NF', 'IF', 'FF');\n\n-- Retorna quantos foram atualizados\nSELECT \n  'Sincronização concluída' as status,\n  (SELECT COUNT(DISTINCT numero_documento) FROM \"Controle_TMC\".vendas_detalhadas WHERE especie_documento = 'PD' AND ja_faturado = false) as pds_pendentes,\n  (SELECT COUNT(DISTINCT numero_documento) FROM \"Controle_TMC\".vendas_detalhadas WHERE especie_documento = 'OR' AND ja_faturado = false) as ors_pendentes;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1408,208],"id":"6a802446-9690-4629-b725-0c9cc3a1dc31","name":"Atualiza PDs Faturados","executeOnce":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[368,592],"id":"manual-trigger-recon","name":"Execucao Manual"},{"parameters":{"operation":"executeQuery","query":"SELECT NUMERODOCUMENTO, ESPECIEDOCUMENTO, NUMEROFATURAMENTO, ESPECIEFATURAMENTO, DATAFATURAMENTO, CODIGOEMPRESA, CODIGOVENDEDOR, NOMEOPERADOR, CODIGOCLIENTE, NOMECLIENTE, VALORCONTABIL, VALORFRETE, VALORTOTAL, ITENS, TIPOOPERACAO, CFOP, CHAVEACESSO, NFORIGINALNUMERO, NFORIGINALCHAVE, MOTIVOCANCELAMENTO, SITUACAONF FROM VW_DOCUMENTOS_VENDA WHERE DATAFATURAMENTO >= DATE_FORMAT(CURDATE(), '%Y-%m-01') AND DATAFATURAMENTO < DATE_ADD(DATE_FORMAT(CURDATE(), '%Y-%m-01'), INTERVAL 1 MONTH)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1616,208],"id":"a72978ea-0d69-4945-8e1f-f292361ed6e2","name":"Query Marcel","credentials":{"mySql":{"id":"WljQvEiE7LunaRuf","name":"Citel MySQL - Marcel"}}},{"parameters":{"jsCode":"const esc = (v) => v ? String(v).replace(/'/g, \"''\") : null;\n\nconst items = [];\nfor (const item of $input.all()) {\n  const d = item.json;\n  items.push({\n    json: {\n      numero_documento: esc(d.NUMERODOCUMENTO),\n      especie_documento: esc(d.ESPECIEDOCUMENTO),\n      numero_faturamento: esc(d.NUMEROFATURAMENTO),\n      especie_faturamento: esc(d.ESPECIEFATURAMENTO),\n      data_faturamento: d.DATAFATURAMENTO || null,\n      codigo_empresa: d.CODIGOEMPRESA || null,\n      codigo_vendedor: esc(d.CODIGOVENDEDOR),\n      nome_operador: esc(d.NOMEOPERADOR),\n      codigo_cliente: esc(d.CODIGOCLIENTE),\n      nome_cliente: esc(d.NOMECLIENTE),\n      valor_contabil: parseFloat(d.VALORCONTABIL) || 0,\n      valor_frete: parseFloat(d.VALORFRETE) || 0,\n      itens: esc(d.ITENS),\n      tipo_operacao: esc(d.TIPOOPERACAO),\n      cfop: esc(d.CFOP),\n      chave_acesso: esc(d.CHAVEACESSO),\n      nf_original_numero: esc(d.NFORIGINALNUMERO),\n      nf_original_chave: esc(d.NFORIGINALCHAVE),\n      motivo_cancelamento: esc(d.MOTIVOCANCELAMENTO),\n      situacao_nf: esc(d.SITUACAONF),\n      cliente: 'Marcel'\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,208],"id":"ffcc472a-0b44-424e-9639-c8ee457b1bb2","name":"Transform Marcel"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".citel_documentos_venda (\n  numero_documento, especie_documento, numero_faturamento, especie_faturamento,\n  data_faturamento, codigo_empresa, codigo_vendedor, nome_operador,\n  codigo_cliente, nome_cliente, valor_contabil, valor_frete, itens,\n  tipo_operacao, cfop, chave_acesso, nf_original_numero,\n  nf_original_chave, motivo_cancelamento, situacao_nf, cliente, synced_at\n) VALUES (\n  {{ $json.numero_documento ? \"'\" + $json.numero_documento + \"'\" : 'NULL' }},\n  {{ $json.especie_documento ? \"'\" + $json.especie_documento + \"'\" : 'NULL' }},\n  '{{ $json.numero_faturamento }}',\n  '{{ $json.especie_faturamento }}',\n  {{ $json.data_faturamento ? \"'\" + $json.data_faturamento + \"'\" : 'NULL' }},\n  {{ $json.codigo_empresa || 'NULL' }},\n  {{ $json.codigo_vendedor ? \"'\" + $json.codigo_vendedor + \"'\" : 'NULL' }},\n  {{ $json.nome_operador ? \"'\" + $json.nome_operador + \"'\" : 'NULL' }},\n  {{ $json.codigo_cliente ? \"'\" + $json.codigo_cliente + \"'\" : 'NULL' }},\n  {{ $json.nome_cliente ? \"'\" + $json.nome_cliente + \"'\" : 'NULL' }},\n  {{ $json.valor_contabil }},\n  {{ $json.valor_frete }},\n  {{ $json.itens ? \"'\" + $json.itens + \"'\" : 'NULL' }},\n  {{ $json.tipo_operacao ? \"'\" + $json.tipo_operacao + \"'\" : 'NULL' }},\n  {{ $json.cfop ? \"'\" + $json.cfop + \"'\" : 'NULL' }},\n  {{ $json.chave_acesso ? \"'\" + $json.chave_acesso + \"'\" : 'NULL' }},\n  {{ $json.nf_original_numero ? \"'\" + $json.nf_original_numero + \"'\" : 'NULL' }},\n  {{ $json.nf_original_chave ? \"'\" + $json.nf_original_chave + \"'\" : 'NULL' }},\n  {{ $json.motivo_cancelamento ? \"'\" + $json.motivo_cancelamento + \"'\" : 'NULL' }},\n  {{ $json.situacao_nf ? \"'\" + $json.situacao_nf + \"'\" : 'NULL' }},\n  '{{ $json.cliente }}',\n  NOW()\n)\nON CONFLICT (numero_faturamento, especie_faturamento, codigo_empresa, cliente)\nDO UPDATE SET\n  numero_documento = EXCLUDED.numero_documento,\n  especie_documento = EXCLUDED.especie_documento,\n  data_faturamento = EXCLUDED.data_faturamento,\n  codigo_vendedor = EXCLUDED.codigo_vendedor,\n  nome_operador = EXCLUDED.nome_operador,\n  codigo_cliente = EXCLUDED.codigo_cliente,\n  nome_cliente = EXCLUDED.nome_cliente,\n  valor_contabil = EXCLUDED.valor_contabil,\n  valor_frete = EXCLUDED.valor_frete,\n  itens = EXCLUDED.itens,\n  tipo_operacao = EXCLUDED.tipo_operacao,\n  cfop = EXCLUDED.cfop,\n  chave_acesso = EXCLUDED.chave_acesso,\n  nf_original_numero = EXCLUDED.nf_original_numero,\n  nf_original_chave = EXCLUDED.nf_original_chave,\n  motivo_cancelamento = EXCLUDED.motivo_cancelamento,\n  situacao_nf = EXCLUDED.situacao_nf,\n  synced_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2096,208],"id":"ccf2e72e-2ce7-493a-9ed4-6de09ac55d7e","name":"Upsert Marcel","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT NUMERODOCUMENTO, ESPECIEDOCUMENTO, NUMEROFATURAMENTO, ESPECIEFATURAMENTO, DATAFATURAMENTO, CODIGOEMPRESA, CODIGOVENDEDOR, NOMEOPERADOR, CODIGOCLIENTE, NOMECLIENTE, VALORCONTABIL, VALORFRETE, VALORTOTAL, ITENS, TIPOOPERACAO, CFOP, CHAVEACESSO, NFORIGINALNUMERO, NFORIGINALCHAVE, MOTIVOCANCELAMENTO, SITUACAONF FROM VW_DOCUMENTOS_VENDA WHERE DATAFATURAMENTO >= DATE_FORMAT(CURDATE(), '%Y-%m-01') AND DATAFATURAMENTO < DATE_ADD(DATE_FORMAT(CURDATE(), '%Y-%m-01'), INTERVAL 1 MONTH)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2336,208],"id":"293896bf-f98f-4132-a1a6-4638f56595f5","name":"Query Alberto","credentials":{"mySql":{"id":"H0qhbbVek0dmWaVj","name":"Citel MySQL - Alberto"}}},{"parameters":{"jsCode":"const esc = (v) => v ? String(v).replace(/'/g, \"''\") : null;\n\nconst items = [];\nfor (const item of $input.all()) {\n  const d = item.json;\n  items.push({\n    json: {\n      numero_documento: esc(d.NUMERODOCUMENTO),\n      especie_documento: esc(d.ESPECIEDOCUMENTO),\n      numero_faturamento: esc(d.NUMEROFATURAMENTO),\n      especie_faturamento: esc(d.ESPECIEFATURAMENTO),\n      data_faturamento: d.DATAFATURAMENTO || null,\n      codigo_empresa: d.CODIGOEMPRESA || null,\n      codigo_vendedor: esc(d.CODIGOVENDEDOR),\n      nome_operador: esc(d.NOMEOPERADOR),\n      codigo_cliente: esc(d.CODIGOCLIENTE),\n      nome_cliente: esc(d.NOMECLIENTE),\n      valor_contabil: parseFloat(d.VALORCONTABIL) || 0,\n      valor_frete: parseFloat(d.VALORFRETE) || 0,\n      itens: esc(d.ITENS),\n      tipo_operacao: esc(d.TIPOOPERACAO),\n      cfop: esc(d.CFOP),\n      chave_acesso: esc(d.CHAVEACESSO),\n      nf_original_numero: esc(d.NFORIGINALNUMERO),\n      nf_original_chave: esc(d.NFORIGINALCHAVE),\n      motivo_cancelamento: esc(d.MOTIVOCANCELAMENTO),\n      situacao_nf: esc(d.SITUACAONF),\n      cliente: 'Alberto'\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,208],"id":"e3c369d5-d7e7-4f06-b94b-45cf1be8ac8d","name":"Transform Alberto"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".citel_documentos_venda (\n  numero_documento, especie_documento, numero_faturamento, especie_faturamento,\n  data_faturamento, codigo_empresa, codigo_vendedor, nome_operador,\n  codigo_cliente, nome_cliente, valor_contabil, valor_frete, itens,\n  tipo_operacao, cfop, chave_acesso, nf_original_numero,\n  nf_original_chave, motivo_cancelamento, situacao_nf, cliente, synced_at\n) VALUES (\n  {{ $json.numero_documento ? \"'\" + $json.numero_documento + \"'\" : 'NULL' }},\n  {{ $json.especie_documento ? \"'\" + $json.especie_documento + \"'\" : 'NULL' }},\n  '{{ $json.numero_faturamento }}',\n  '{{ $json.especie_faturamento }}',\n  {{ $json.data_faturamento ? \"'\" + $json.data_faturamento + \"'\" : 'NULL' }},\n  {{ $json.codigo_empresa || 'NULL' }},\n  {{ $json.codigo_vendedor ? \"'\" + $json.codigo_vendedor + \"'\" : 'NULL' }},\n  {{ $json.nome_operador ? \"'\" + $json.nome_operador + \"'\" : 'NULL' }},\n  {{ $json.codigo_cliente ? \"'\" + $json.codigo_cliente + \"'\" : 'NULL' }},\n  {{ $json.nome_cliente ? \"'\" + $json.nome_cliente + \"'\" : 'NULL' }},\n  {{ $json.valor_contabil }},\n  {{ $json.valor_frete }},\n  {{ $json.itens ? \"'\" + $json.itens + \"'\" : 'NULL' }},\n  {{ $json.tipo_operacao ? \"'\" + $json.tipo_operacao + \"'\" : 'NULL' }},\n  {{ $json.cfop ? \"'\" + $json.cfop + \"'\" : 'NULL' }},\n  {{ $json.chave_acesso ? \"'\" + $json.chave_acesso + \"'\" : 'NULL' }},\n  {{ $json.nf_original_numero ? \"'\" + $json.nf_original_numero + \"'\" : 'NULL' }},\n  {{ $json.nf_original_chave ? \"'\" + $json.nf_original_chave + \"'\" : 'NULL' }},\n  {{ $json.motivo_cancelamento ? \"'\" + $json.motivo_cancelamento + \"'\" : 'NULL' }},\n  {{ $json.situacao_nf ? \"'\" + $json.situacao_nf + \"'\" : 'NULL' }},\n  '{{ $json.cliente }}',\n  NOW()\n)\nON CONFLICT (numero_faturamento, especie_faturamento, codigo_empresa, cliente)\nDO UPDATE SET\n  numero_documento = EXCLUDED.numero_documento,\n  especie_documento = EXCLUDED.especie_documento,\n  data_faturamento = EXCLUDED.data_faturamento,\n  codigo_vendedor = EXCLUDED.codigo_vendedor,\n  nome_operador = EXCLUDED.nome_operador,\n  codigo_cliente = EXCLUDED.codigo_cliente,\n  nome_cliente = EXCLUDED.nome_cliente,\n  valor_contabil = EXCLUDED.valor_contabil,\n  valor_frete = EXCLUDED.valor_frete,\n  itens = EXCLUDED.itens,\n  tipo_operacao = EXCLUDED.tipo_operacao,\n  cfop = EXCLUDED.cfop,\n  chave_acesso = EXCLUDED.chave_acesso,\n  nf_original_numero = EXCLUDED.nf_original_numero,\n  nf_original_chave = EXCLUDED.nf_original_chave,\n  motivo_cancelamento = EXCLUDED.motivo_cancelamento,\n  situacao_nf = EXCLUDED.situacao_nf,\n  synced_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2816,208],"id":"c6807afa-e374-42cd-83e8-ccaf81c1131f","name":"Upsert Alberto","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".faturamentos_fiscais (\n  empresa_id, loja_id, codigo_loja, codigo_empresa_expedicao,\n  numero_faturamento, especie_faturamento, data_faturamento,\n  codigo_vendedor, codigo_cliente, nome_cliente,\n  valor_contabil, valor_frete, tipo_operacao, nf_original_numero\n)\nSELECT\n  l.empresa_id,\n  l.id as loja_id,\n  LPAD(cdv.codigo_empresa::TEXT, 3, '0') as codigo_loja,\n  LPAD(cdv.codigo_empresa::TEXT, 3, '0') as codigo_empresa_expedicao,\n  cdv.numero_faturamento,\n  'NF' as especie_faturamento,\n  cdv.data_faturamento,\n  cdv.codigo_vendedor,\n  cdv.codigo_cliente,\n  cdv.nome_cliente,\n  cdv.valor_contabil - COALESCE(cdv.valor_frete, 0) as valor_contabil,\n  COALESCE(cdv.valor_frete, 0) as valor_frete,\n  'DEVOLUCAO' as tipo_operacao,\n  cdv.nf_original_numero\nFROM \"Controle_TMC\".citel_documentos_venda cdv\nJOIN \"Controle_TMC\".lojas l\n  ON l.codigo = LPAD(cdv.codigo_empresa::TEXT, 3, '0')\nJOIN \"Controle_TMC\".configuracoes_cliente cc\n  ON cc.empresa_id = l.empresa_id\n  AND cc.slug = LOWER(cdv.cliente)\nWHERE cdv.tipo_operacao = 'DEVOLUCAO'\n  AND cdv.situacao_nf = 'AUTORIZADA'\n  AND cdv.data_faturamento >= DATE_TRUNC('month', CURRENT_DATE)\n  AND cdv.data_faturamento < DATE_TRUNC('month', CURRENT_DATE) + INTERVAL '1 month'\nON CONFLICT (codigo_loja, especie_faturamento, numero_faturamento, codigo_empresa_expedicao)\nDO UPDATE SET\n  valor_contabil = EXCLUDED.valor_contabil,\n  valor_frete = EXCLUDED.valor_frete,\n  tipo_operacao = EXCLUDED.tipo_operacao,\n  nf_original_numero = EXCLUDED.nf_original_numero,\n  codigo_cliente = EXCLUDED.codigo_cliente,\n  nome_cliente = EXCLUDED.nome_cliente,\n  codigo_vendedor = EXCLUDED.codigo_vendedor,\n  updated_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3056,208],"id":"ceb637e0-747a-4161-b230-22caf77ea5e2","name":"Inject Devoluções","executeOnce":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT cliente, tipo_operacao, situacao_nf, COUNT(*) as docs, ROUND(SUM(valor_contabil)::numeric, 2) as total FROM \"Controle_TMC\".citel_documentos_venda WHERE data_faturamento >= CURRENT_DATE - INTERVAL '60 days' GROUP BY cliente, tipo_operacao, situacao_nf ORDER BY cliente, tipo_operacao, situacao_nf;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3296,208],"id":"5bddd2c5-cb09-422d-ba8b-32a247b683e9","name":"Resumo Final","executeOnce":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"\n// Pega contexto da loja atual\nconst lojaContext = $('Loop Lojas').item.json;\nconst EMPRESA_ID = lojaContext.empresa_id;\nconst LOJA_ID = lojaContext.loja_id;\nconst CODIGO_LOJA = lojaContext.codigo_loja;\n\nconst content = $input.first().json.content;\n\nif (!content || !Array.isArray(content)) {\n  return [{ json: { query: 'SELECT 0 as faturamentos, 0 as itens;' } }];\n}\n\nconst ESPECIES_FISCAIS = ['NF', 'IF', 'FF'];\n\n// ============ HELPER ============\nfunction esc(val) {\n  if (val === null || val === undefined || val === '') return 'NULL';\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction num(val) {\n  const n = Number(val);\n  return isNaN(n) ? 0 : n;\n}\n\n// ============ PROCESSA FATURAMENTOS ============\nconst faturamentos = new Map();\n\nfor (const doc of content) {\n  if (!doc.jaFaturado) continue;\n\n  const codigoEmpresaExpedicao = String(doc.codigoEmpresaExpedicao || doc.codigoEmpresa || CODIGO_LOJA).padStart(3, '0');\n  const itens = doc.itens || [];\n\n  for (const item of itens) {\n    const numeroFaturamento = item.numeroFaturamento?.replace(/^0+/, '');\n    const especieFaturamento = item.especieFaturamento;\n    const dataFaturamento = item.dataFaturamento;\n\n    if (!numeroFaturamento || !especieFaturamento) continue;\n    if (!ESPECIES_FISCAIS.includes(especieFaturamento)) continue;\n    if (!dataFaturamento) continue;\n\n    const key = CODIGO_LOJA + '-' + especieFaturamento + '-' + numeroFaturamento + '-' + codigoEmpresaExpedicao;\n\n    if (!faturamentos.has(key)) {\n      const valorContabil = doc.valorContabil || 0;\n\n      faturamentos.set(key, {\n        empresa_id: EMPRESA_ID,\n        loja_id: LOJA_ID,\n        codigo_loja: CODIGO_LOJA,\n        codigo_empresa_expedicao: codigoEmpresaExpedicao,\n        numero_faturamento: numeroFaturamento,\n        especie_faturamento: especieFaturamento,\n        data_faturamento: dataFaturamento,\n        numero_documento_origem: doc.numeroDocumento?.replace(/^0+/, '') || null,\n        especie_documento_origem: doc.especieDocumento || null,\n        data_entrada_origem: doc.dataEntrada || null,\n        codigo_vendedor: doc.codigoVendedor || null,\n        nome_vendedor: doc.nomeVendedor || null,\n        codigo_cliente: doc.cliente?.codigoCliente?.replace(/^0+/, '') || null,\n        nome_cliente: doc.cliente?.nome || doc.nomeConsumidorOuCliente || null,\n        telefone1: doc.cliente?.telefone1?.replace(/\\D/g, '') || null,\n        telefone2: doc.cliente?.telefone2?.replace(/\\D/g, '') || null,\n        telefone_celular: doc.cliente?.telefoneCelular?.replace(/\\D/g, '') || null,\n        valor_contabil: valorContabil,\n        valor_total_itens: 0,\n        valor_frete: 0,\n        quantidade_itens: 0,\n        total_st: doc.totalST || 0,\n        total_ipi: doc.totalIPI || 0,\n        desconto_especial: doc.descontoEspecial || 0,\n        total_desconto_itens: 0\n      });\n    }\n\n    const fat = faturamentos.get(key);\n    fat.valor_total_itens += item.totalItem || 0;\n    fat.valor_frete += item.totalFrete || 0;\n    fat.quantidade_itens += 1;\n\n    const precoOrig = item.precoOriginal || 0;\n    const precoUnit = item.precoUnitario || 0;\n    const qtd = item.quantidade || 1;\n    const descItem = precoOrig - precoUnit;\n    if (descItem > 0 && descItem < precoUnit * 2) {\n      fat.total_desconto_itens += descItem * qtd;\n    }\n  }\n}\n\n// ============ PROCESSA ITENS ============\nconst itensArray = [];\n\nfor (const doc of content) {\n  if (!doc.jaFaturado) continue;\n  const docItens = doc.itens || [];\n\n  for (const item of docItens) {\n    const numeroFaturamento = item.numeroFaturamento?.replace(/^0+/, '');\n    const especieFaturamento = item.especieFaturamento;\n    const dataFaturamento = item.dataFaturamento;\n\n    if (!numeroFaturamento || !especieFaturamento) continue;\n    if (!ESPECIES_FISCAIS.includes(especieFaturamento)) continue;\n    if (!dataFaturamento) continue;\n\n    const precoDigitado = item.precoDigitado || item.precoUnitario || 0;\n    const totalCusto = item.totalCusto || 0;\n    const quantidade = item.quantidade || 1;\n    const custoUnitario = quantidade > 0 ? totalCusto / quantidade : 0;\n    const margem = precoDigitado > 0\n      ? Number(((precoDigitado - custoUnitario) / precoDigitado * 100).toFixed(2))\n      : 0;\n\n    const descricaoCompleta = item.descricaoCompleta || item.descricaoProduto || '';\n    let medidaMatch = descricaoCompleta.match(/(\\d+(?:[.,]\\d+)?)\\s*(L|KG|ML|G)\\b/i);\n    if (!medidaMatch) {\n      medidaMatch = descricaoCompleta.match(/(\\d+(?:[.,]\\d+)?)\\s*BD\\b/i);\n    }\n\n    let unidade_medida = null;\n    if (medidaMatch) {\n      let valor = parseFloat(medidaMatch[1].replace(',', '.'));\n      const unidade = (medidaMatch[2] || 'L').toUpperCase();\n      if (unidade === 'ML') { valor = valor / 1000; unidade_medida = valor + 'L'; }\n      else if (unidade === 'G' && valor >= 100) { valor = valor / 1000; unidade_medida = valor + 'KG'; }\n      else if (unidade === 'BD' || unidade === 'L') { unidade_medida = valor + 'L'; }\n      else { unidade_medida = valor + unidade; }\n    }\n\n    const precoOriginal = item.precoOriginal || 0;\n    const precoUnitario = item.precoUnitario || 0;\n    const descontoValor = precoOriginal > precoUnitario ? Number((precoOriginal - precoUnitario).toFixed(2)) : 0;\n    const descontoPercentual = precoOriginal > 0 && descontoValor > 0 ? Number((descontoValor / precoOriginal * 100).toFixed(2)) : 0;\n\n    itensArray.push({\n      empresa_id: EMPRESA_ID,\n      loja_id: LOJA_ID,\n      codigo_loja: CODIGO_LOJA,\n      numero_faturamento: numeroFaturamento,\n      especie_faturamento: especieFaturamento,\n      data_faturamento: dataFaturamento,\n      codigo_vendedor: doc.codigoVendedor || null,\n      nome_vendedor: doc.nomeVendedor || null,\n      codigo_cliente: doc.cliente?.codigoCliente?.replace(/^0+/, '') || null,\n      nome_cliente: doc.cliente?.nome || doc.nomeConsumidorOuCliente || null,\n      codigo_produto: item.codigoProduto || '',\n      descricao_produto: item.descricaoProduto || '',\n      codigo_marca: item.codigoMarca || '',\n      unidade_medida: unidade_medida,\n      quantidade: quantidade,\n      preco_unitario: precoUnitario,\n      preco_original: precoOriginal,\n      desconto_valor: descontoValor,\n      desconto_percentual: descontoPercentual,\n      margem_percentual: margem,\n      total_item: item.totalItem || 0,\n      total_frete: item.totalFrete || 0,\n      total_st: item.totalST || 0\n    });\n  }\n}\n\n// Sequencial para itens com mesmo codigo_produto\nconst seqMap = new Map();\nfor (const it of itensArray) {\n  const key = it.codigo_loja + '-' + it.especie_faturamento + '-' + it.numero_faturamento + '-' + it.codigo_produto;\n  const seq = (seqMap.get(key) || 0) + 1;\n  seqMap.set(key, seq);\n  it.item_seq = seq;\n}\n\n// ============ MONTA SQL ============\nconst queries = [];\n\n// SQL Faturamentos\nconst fats = Array.from(faturamentos.values());\nif (fats.length > 0) {\n  const values = fats.map(f => {\n    return '(' + [\n      esc(f.empresa_id), esc(f.loja_id), esc(f.codigo_loja), esc(f.codigo_empresa_expedicao),\n      esc(f.numero_faturamento), esc(f.especie_faturamento), esc(f.data_faturamento),\n      esc(f.numero_documento_origem), esc(f.especie_documento_origem), esc(f.data_entrada_origem),\n      esc(f.codigo_vendedor), esc(f.nome_vendedor), esc(f.codigo_cliente), esc(f.nome_cliente),\n      esc(f.telefone1), esc(f.telefone2), esc(f.telefone_celular),\n      num(f.valor_contabil).toFixed(2), num(f.valor_total_itens).toFixed(2), num(f.valor_frete).toFixed(2),\n      num(f.quantidade_itens), num(f.total_st), num(f.total_ipi),\n      num(f.desconto_especial), num(f.total_desconto_itens + f.desconto_especial).toFixed(2)\n    ].join(', ') + ')';\n  }).join(',\\n');\n\n  queries.push(`INSERT INTO \"Controle_TMC\".faturamentos_fiscais (\n  empresa_id, loja_id, codigo_loja, codigo_empresa_expedicao,\n  numero_faturamento, especie_faturamento, data_faturamento,\n  numero_documento_origem, especie_documento_origem, data_entrada_origem,\n  codigo_vendedor, nome_vendedor, codigo_cliente, nome_cliente,\n  telefone1, telefone2, telefone_celular,\n  valor_contabil, valor_total_itens, valor_frete,\n  quantidade_itens, total_st, total_ipi,\n  desconto_especial, total_desconto_itens\n) VALUES\n${values}\nON CONFLICT (codigo_loja, especie_faturamento, numero_faturamento, codigo_empresa_expedicao)\nDO UPDATE SET\n  valor_contabil = EXCLUDED.valor_contabil,\n  valor_total_itens = EXCLUDED.valor_total_itens,\n  valor_frete = EXCLUDED.valor_frete,\n  quantidade_itens = EXCLUDED.quantidade_itens,\n  codigo_vendedor = EXCLUDED.codigo_vendedor,\n  nome_vendedor = EXCLUDED.nome_vendedor,\n  codigo_cliente = EXCLUDED.codigo_cliente,\n  nome_cliente = EXCLUDED.nome_cliente,\n  telefone1 = EXCLUDED.telefone1,\n  telefone2 = EXCLUDED.telefone2,\n  telefone_celular = EXCLUDED.telefone_celular,\n  total_st = EXCLUDED.total_st,\n  total_ipi = EXCLUDED.total_ipi,\n  desconto_especial = EXCLUDED.desconto_especial,\n  total_desconto_itens = EXCLUDED.total_desconto_itens,\n  updated_at = NOW();`);\n}\n\n// SQL Itens\nif (itensArray.length > 0) {\n  const values = itensArray.map(i => {\n    return '(' + [\n      esc(i.empresa_id), esc(i.loja_id), esc(i.codigo_loja),\n      esc(i.numero_faturamento), esc(i.especie_faturamento), esc(i.data_faturamento),\n      esc(i.codigo_vendedor), esc(i.nome_vendedor), esc(i.codigo_cliente), esc(i.nome_cliente),\n      esc(i.codigo_produto), esc(i.descricao_produto), esc(i.codigo_marca), esc(i.unidade_medida),\n      num(i.quantidade), num(i.preco_unitario), num(i.preco_original),\n      num(i.total_item), num(i.total_frete), num(i.margem_percentual),\n      num(i.desconto_valor), num(i.desconto_percentual), num(i.item_seq), num(i.total_st)\n    ].join(', ') + ')';\n  }).join(',\\n');\n\n  queries.push(`INSERT INTO \"Controle_TMC\".itens_faturados (\n  empresa_id, loja_id, codigo_loja,\n  numero_faturamento, especie_faturamento, data_faturamento,\n  codigo_vendedor, nome_vendedor, codigo_cliente, nome_cliente,\n  codigo_produto, descricao_produto, codigo_marca, unidade_medida,\n  quantidade, preco_unitario, preco_original,\n  total_item, total_frete, margem_percentual,\n  desconto_valor, desconto_percentual, item_seq, total_st\n) VALUES\n${values}\nON CONFLICT (codigo_loja, especie_faturamento, numero_faturamento, codigo_produto, item_seq)\nDO UPDATE SET\n  quantidade = EXCLUDED.quantidade,\n  preco_unitario = EXCLUDED.preco_unitario,\n  preco_original = EXCLUDED.preco_original,\n  total_item = EXCLUDED.total_item,\n  total_frete = EXCLUDED.total_frete,\n  margem_percentual = EXCLUDED.margem_percentual,\n  desconto_valor = EXCLUDED.desconto_valor,\n  desconto_percentual = EXCLUDED.desconto_percentual,\n  total_st = EXCLUDED.total_st,\n  updated_at = NOW();`);\n}\n\n// Sempre rodar acompanhamento (mesmo sem faturamentos novos, pode ter de dias anteriores)\nqueries.push('SELECT * FROM \"Controle_TMC\".process_acompanhamento(' + esc(EMPRESA_ID) + '::uuid, ' + esc(CODIGO_LOJA) + ');');\n\n// Contagem final\nqueries.push('SELECT ' + fats.length + ' as faturamentos, ' + itensArray.length + ' as itens;');\n\nreturn [{ json: { query: queries.join('\\n\\n'), _stats: { faturamentos: fats.length, itens: itensArray.length } } }];\n"},"id":"code-unificado-001","name":"Processa Faturamentos e Itens","type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,416]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"pg-upsert-unificado-001","name":"Upsert Faturamentos e Itens","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1632,416],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}}],"connections":{"Busca Clientes Ativos":{"main":[[{"node":"Extrai Todas as Lojas","type":"main","index":0},{"node":"Apaga Ultimas 72h","type":"main","index":0}]]},"Extrai Todas as Lojas":{"main":[[{"node":"Loop Lojas","type":"main","index":0}]]},"Apaga Ultimas 72h":{"main":[[]]},"Loop Lojas":{"main":[[{"node":"Match Leads Vendas NF","type":"main","index":0}],[{"node":"Busca Faturamentos API (72h)","type":"main","index":0}]]},"Busca Faturamentos API (72h)":{"main":[[{"node":"Processa Faturamentos e Itens","type":"main","index":0}]]},"Match Leads Vendas NF":{"main":[[{"node":"Atualiza PDs Faturados","type":"main","index":0}]]},"Atualiza PDs Faturados":{"main":[[{"node":"Query Marcel","type":"main","index":0}]]},"Schedule (18h BRT Seg-Sab)":{"main":[[{"node":"Busca Clientes Ativos","type":"main","index":0}]]},"Execucao Manual":{"main":[[{"node":"Busca Clientes Ativos","type":"main","index":0}]]},"Query Marcel":{"main":[[{"node":"Transform Marcel","type":"main","index":0}]]},"Transform Marcel":{"main":[[{"node":"Upsert Marcel","type":"main","index":0}]]},"Upsert Marcel":{"main":[[{"node":"Query Alberto","type":"main","index":0}]]},"Query Alberto":{"main":[[{"node":"Transform Alberto","type":"main","index":0}]]},"Transform Alberto":{"main":[[{"node":"Upsert Alberto","type":"main","index":0}]]},"Upsert Alberto":{"main":[[{"node":"Inject Devoluções","type":"main","index":0}]]},"Inject Devoluções":{"main":[[{"node":"Resumo Final","type":"main","index":0}]]},"Processa Faturamentos e Itens":{"main":[[{"node":"Upsert Faturamentos e Itens","type":"main","index":0}]]},"Upsert Faturamentos e Itens":{"main":[[{"node":"Loop Lojas","type":"main","index":0}]]}},"authors":"Miguel Nunes","name":null,"description":null,"autosaved":false},"tags":[]}