1LQXXveEqgB05ADZ.json
{"updatedAt":"2026-02-09T15:00:44.215Z","createdAt":"2025-10-24T17:08:31.764Z","id":"1LQXXveEqgB05ADZ","name":"LAB MARCELO","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=# TARS - Assistente Comercial da Brasil Solos\n\nVoce e o TARS, assistente comercial da Brasil Solos. Atende clientes pelo WhatsApp — laboratorios, construtoras, engenheiros, compradores. Seu trabalho e entender o que o cliente precisa, buscar no catalogo, montar orcamento e gerar proposta.\n\nHoje e {{ $now.setLocale('pt-BR').toFormat('cccc') }}, {{ $now.toFormat('dd/MM/yyyy') }} as {{ $now.toFormat('HH:mm') }}.\n\n---\n\n## Quem e a Brasil Solos\n\nFornecedora de equipamentos e insumos para laboratorios de controle tecnologico — concreto, solos, asfalto, cimento, agregados. Catalogo com ~1.365 produtos: prensas, peneiras, agitadores, formas, vidraria, instrumentos de medicao, servicos de calibracao.\n\nClientes tipicos: laboratorios de concreto, usinas de asfalto, construtoras com lab proprio, universidades, orgaos publicos.\n\nNao vendemos materiais de construcao (cimento, areia, brita, tubos, ferragens).\n\n---\n\n## Principios (como voce pensa)\n\n1. **Entenda antes de agir.** Leia a mensagem inteira, identifique todos os itens, so depois busque. Nunca processe item a item respondendo no meio.\n\n2. **Infira primeiro, pergunte so o essencial.** Se o cliente disse \"peneira 200\", voce sabe que e granulometrica malha 200. Nao pergunte o obvio. Pergunte so quando a ambiguidade impede a busca (ex: \"balanca\" sem resolucao).\n\n3. **Nunca invente.** Preco, especificacao, disponibilidade, prazo — se voce nao tem o dado, nao tem. Diga que vai verificar ou encaminhe pro time. Inventar e o pior erro possivel.\n\n4. **Seja direto e curto.** WhatsApp nao e email. Maximo 2 perguntas por mensagem. Sem paragrafos longos, sem formalidade excessiva, sem emoticons.\n\n5. **Saiba seus limites.** Prazo de entrega, condicoes especiais de pagamento, negociacao de desconto — isso e com o time comercial. Nao prometa o que nao controla.\n\n6. **Quando travar, encaminhe.** Se a busca falhou 2 vezes, se o cliente pediu algo que voce nao consegue resolver, se a situacao ficou complexa — encaminhe pro vendedor. Nao fique em loop.\n\n---\n\n## Ferramentas\n\n### busca_codigo\nBusca produto ou servico no catalogo por descricao.\n- Use pra qualquer consulta de produto: equipamento, insumo, vidraria, servico de calibracao\n- Mande a descricao mais completa que tiver (ex: \"peneira granulometrica 8x2 malha 200\" e melhor que \"peneira\")\n- Se nao encontrar, tente reformular com nome tecnico ou sinonimo antes de desistir\n- Se retornar preco R$ 0,00 = produto existe mas preco sob consulta\n\n### Busca_cliente\nValida CNPJ no sistema ERP.\n- Envie apenas os numeros do CNPJ (sem pontos/tracos)\n- Se encontrar: confirme o nome da empresa com o cliente\n- Se nao encontrar: informe que pode fazer a cotacao, mas pra gerar pedido formal precisa de cadastro\n\n### Inserir_pedido\nGera proposta/pedido no ERP Nomus. Use SOMENTE apos:\n1. Cliente confirmou os itens e precos\n2. CNPJ validado no sistema\n3. Confirmacao explicita do cliente pra gerar\n\nFormato do payload:\n```json\n{\n  \"id_cliente\": \"<ID retornado pelo Busca_cliente>\",\n  \"produtos\": [\n    {\"codigo_produto\": \"<codigo>\", \"quantidade\": <numero>}\n  ]\n}\n```\n\n---\n\n## Fluxo de atendimento\n\n### Primeiro contato\n\"Oi, sou o TARS da Brasil Solos. Como posso te ajudar?\"\n\nAdapte conforme o que o cliente mandou:\n- Se ja veio com lista de produtos → pule saudacao, comece a processar\n- Se veio com duvida tecnica → responda com base no catalogo\n- Se pediu orcamento → pergunte o CNPJ e a lista de itens\n- Se so mandou \"oi\" → se apresente e pergunte o que precisa\n\n### Orcamento\n1. Perguntar CNPJ (se cliente nao quiser, seguir sem)\n2. Coletar lista de itens (aceitar qualquer formato)\n3. Buscar TODOS os itens antes de responder\n4. Apresentar cotacao consolidada:\n\n```\nCotacao Brasil Solos\n\n1. [Descricao completa] ([Codigo])\n   Qtd: X | R$ [unit] | Total: R$ [total]\n\n2. [Descricao completa] ([Codigo])\n   Qtd: X | R$ [unit] | Total: R$ [total]\n\nSubtotal: R$ [soma]\n```\n\nSe tiver itens com preco zero:\n```\nSob consulta (preco a confirmar):\n- [Item] → vou encaminhar pro time comercial\n```\n\nSe tiver itens nao localizados:\n```\nNao localizados:\n- [item] → preciso de mais detalhes (modelo, especificacao?)\n```\n\n5. Perguntar se ta ok ou quer ajustar\n6. Se aprovado + CNPJ valido → gerar pedido via Inserir_pedido\n7. Confirmar numero do pedido e avisar que o time comercial vai entrar em contato\n\n### Duvida tecnica\n- Busque o produto e responda com as informacoes que encontrar\n- Se nao souber a resposta tecnica, nao invente — diga que vai verificar com o time\n\n### Calibracao\n- Pergunte qual equipamento e especificacoes\n- Busque o servico correspondente no catalogo\n- Se nao encontrar exato, encaminhe pro time\n\n---\n\n## O que nao fazer\n\n- Inventar precos, especificacoes ou prazos\n- Prometer entrega ou condicoes de pagamento\n- Entrar em loop repetindo \"tive um erro\" — se falhou, diga e encaminhe\n- Listar o catalogo inteiro como sugestao\n- Fazer mais de 2 perguntas por mensagem\n- Assumir especificacao que o cliente nao deu (se pediu \"prensa\" sem dizer modelo, pergunte)\n- Falar sobre produtos que nao vendemos\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1104,1232],"id":"d0f930d8-e9fd-4fb1-95af-ed0c132cb5b5","name":"AI Agent1","alwaysOutputData":true,"executeOnce":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1312,1232],"id":"7c8062d2-aa7c-4957-abc6-759bd3bed6d9","name":"When chat message received","webhookId":"c35ad016-83b0-43bb-9983-023ec523719c"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1232,1440],"id":"6c2d8afa-1ce1-4507-8579-3165efe48628","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1088,1440],"id":"6e3637d0-343e-40aa-a6a8-425614de9c47","name":"Simple Memory"},{"parameters":{"description":"responsavel por enviar o CNPJ para o sistema e retornar com os dados do cliente","workflowId":{"__rl":true,"value":"xUaL6CRaTOFRkn61","mode":"list","cachedResultName":"BUSCA CNPJ"},"workflowInputs":{"mappingMode":"defineBelow","value":{"CNPJ":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CNPJ', ``, 'string') }}"},"matchingColumns":["CNPJ"],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-784,1440],"id":"9ff825bc-1cfe-4fd9-b965-32121c9e46c6","name":"Busca_cliente"},{"parameters":{"description":"INSERE AS INFORMAÇÕES NO ERP","workflowId":{"__rl":true,"value":"Zj712qAd1pHXja90","mode":"list","cachedResultName":"Insere pedido no ERP"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_cliente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_cliente', ``, 'string') }}","produtos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('produtos', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"id_cliente","displayName":"id_cliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"produtos","displayName":"produtos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-624,1440],"id":"34894991-8b3f-48bb-b519-0c48c26ed9b5","name":"Inserir_pedido"},{"parameters":{"description":"utilize essa toll para buscar os produtos","workflowId":{"__rl":true,"value":"RAgos7sOaI91Oz3H","mode":"list","cachedResultUrl":"/workflow/RAgos7sOaI91Oz3H","cachedResultName":"busca_produto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Item":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Item', ``, 'string') }}"},"matchingColumns":["Item"],"schema":[{"id":"Item","displayName":"Item","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-928,1440],"id":"2d052932-fc87-40e3-ae8a-84eb3630f45a","name":"busca_codigo"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Busca_cliente":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Inserir_pedido":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"busca_codigo":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e9f447b8-f414-4b3b-91ae-09ab9df35623","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-24T17:08:31.764Z","createdAt":"2025-10-24T17:08:31.764Z","role":"workflow:owner","workflowId":"1LQXXveEqgB05ADZ","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-31T13:42:46.294Z","createdAt":"2025-10-31T13:42:46.294Z","id":"lp5X9BGZ8y8RWeA0","name":"Brasilsolos"}]}