6cp22CTYoPvGAY8z.json
{"updatedAt":"2025-12-30T20:23:15.771Z","createdAt":"2025-12-30T13:26:29.260Z","id":"6cp22CTYoPvGAY8z","name":"Mercado Pago - Controle Financeiro","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 * * * *"}]}},"id":"schedule","name":"A cada hora","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,304]},{"parameters":{"url":"https://api.mercadopago.com/v1/payments/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"date_created"},{"name":"criteria","value":"desc"},{"name":"range","value":"date_created"},{"name":"begin_date","value":"={{ $now.setZone('America/Sao_Paulo').startOf('day').toISO() }}"},{"name":"end_date","value":"={{ $now.setZone('America/Sao_Paulo').toISO() }}"},{"name":"limit","value":"100"}]},"options":{}},"id":"buscar-dia-anterior","name":"Buscar Dia Atual","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,304],"credentials":{"httpHeaderAuth":{"id":"pwDHZPE1gWxRI8Td","name":"Header Auth account"}}},{"parameters":{"jsCode":"const results = $input.item.json.results || [];\nconst meuUserId = 356970934;\nconst output = [];\n\nfor (const item of results) {\n  // IGNORAR transferências internas CDI/Potes\n  if (item.operation_type === 'partition_transfer') {\n    continue;\n  }\n  \n  // Identificar entrada ou saída\n  const collectorId = item.collector_id || item.collector?.id;\n  const payerId = item.payer_id;\n  let tipo = '';\n  let destinatario = '';\n  \n  if (collectorId === meuUserId && payerId !== meuUserId) {\n    // ENTRADA: Você recebeu\n    tipo = 'entrada';\n    destinatario = item.payer?.identification?.long_name || \n                   item.point_of_interaction?.transaction_data?.commerce?.name ||\n                   'Não identificado';\n  } else if (payerId === meuUserId && collectorId !== meuUserId) {\n    // SAÍDA: Você pagou\n    tipo = 'saida';\n    destinatario = item.point_of_interaction?.transaction_data?.commerce?.name || 'Não identificado';\n  } else {\n    // Ignorar resto (transações internas)\n    continue;\n  }\n  \n  // Limpar destinatário\n  destinatario = destinatario\n    .trim()\n    .replace(/^MP\\*/i, '')\n    .replace(/\\s+/g, ' ');\n  \n  // Forma de pagamento\n  let formaPagamento = '';\n  const subUnit = item.point_of_interaction?.business_info?.sub_unit;\n  const paymentMethodId = item.payment_method_id;\n  \n  if (paymentMethodId === 'pix') {\n    formaPagamento = 'PIX';\n  } else if (subUnit === 'debit_card') {\n    formaPagamento = 'Débito';\n  } else if (subUnit === 'credit_card') {\n    formaPagamento = 'Crédito';\n  } else if (paymentMethodId === 'account_money') {\n    formaPagamento = 'Saldo MP';\n  } else {\n    formaPagamento = paymentMethodId || 'Outro';\n  }\n  \n  // Timezone São Paulo\n  const date = new Date(item.date_created);\n  const dataSP = new Date(date.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\n  const day = String(dataSP.getDate()).padStart(2, '0');\n  const month = String(dataSP.getMonth() + 1).padStart(2, '0');\n  const year = dataSP.getFullYear();\n  const hours = String(dataSP.getHours()).padStart(2, '0');\n  const minutes = String(dataSP.getMinutes()).padStart(2, '0');\n  const dataFormatada = `${day}/${month}/${year} ${hours}:${minutes}`;\n  \n  output.push({\n    json: {\n      payment_id: item.id,\n      tipo: tipo,\n      status: item.status,\n      transaction_amount: item.transaction_amount,\n      payment_method_id: formaPagamento,\n      destinatario: destinatario,\n      date_created: dataFormatada\n    }\n  });\n}\n\nreturn output;"},"id":"processar-classificar","name":"Processar e Classificar","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Financeiro\".pagamentos_mercadopago (\n  payment_id, tipo, status, transaction_amount, payment_method_id, destinatario, date_created\n) VALUES (\n  {{ $json.payment_id }},\n  '{{ $json.tipo }}',\n  '{{ $json.status }}',\n  {{ $json.transaction_amount }},\n  '{{ $json.payment_method_id.replace(/'/g, \"''\") }}',\n  '{{ $json.destinatario.replace(/'/g, \"''\") }}',\n  '{{ $json.date_created }}'\n)\nON CONFLICT (payment_id) DO NOTHING;","options":{}},"id":"salvar-supabase","name":"Salvar no Supabase","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,304],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}}],"connections":{"A cada hora":{"main":[[{"node":"Buscar Dia Atual","type":"main","index":0}]]},"Buscar Dia Atual":{"main":[[{"node":"Processar e Classificar","type":"main","index":0}]]},"Processar e Classificar":{"main":[[{"node":"Salvar no Supabase","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","timezone":"UTC","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:A cada 30min":{"recurrenceRules":[]},"node:Todo dia 00:00":{"recurrenceRules":[]},"node:Todo dia 03:00":{"recurrenceRules":[]},"node:A cada hora":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook MP":[{"json":{"headers":{"host":"n8n.iatars.com.br","user-agent":"restclient-node/4.17.2","content-length":"177","accept":"*/*","accept-encoding":"*","content-type":"application/json","newrelic":"eyJ2IjpbMCwxXSwiZCI6eyJ0eSI6IkFwcCIsImFjIjoiOTg5NTg2IiwiYXAiOiI5NjA2MzYwOTQiLCJ0eCI6IjExZTJhYTkxMWZjYjMwNzEiLCJ0ciI6ImVkYjE1MTY5ODY0NGVkZmVjMTdkNjg3NzU0MDZlZmEzIiwicHIiOjEuMjk1OTY4LCJzYSI6dHJ1ZSwidGkiOjE3NjcxMDE2MDE3NTcsImlkIjoiMzJiNjBlMTgxN2YzYzVlZCIsInRrIjoiMTcwOTcwNyJ9fQ==","traceparent":"00-edb151698644edfec17d68775406efa3-32b60e1817f3c5ed-01","tracestate":"1709707@nr=0-0-989586-960636094-32b60e1817f3c5ed-11e2aa911fcb3071-1-1.295968-1767101601756","x-forwarded-for":"35.245.20.104","x-forwarded-host":"n8n.iatars.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c8ccbad1ff3","x-real-ip":"35.245.20.104","x-request-id":"4cac924f-973f-497d-a1f3-859cd8796182","x-rest-pool-name":"/services/webhooks.js","x-retry":"0","x-signature":"ts=1767101601755,v1=ee3b6981bd7ecbdc80307c7c5a55e0e6dca7ab5296900f10998a86e19439252d","x-socket-timeout":"22000"},"params":{},"query":{"data.id":"123456","type":"payment"},"body":{"action":"payment.updated","api_version":"v1","data":{"id":"123456"},"date_created":"2021-11-01T02:02:02Z","id":"123456","live_mode":false,"type":"payment","user_id":356970934},"webhookUrl":"https://webhook.iatars.com.br/webhook/mercadopago-webhook","executionMode":"production"}}]},"versionId":"2bf3a694-0514-48ef-bf3f-d4abf6efdecd","activeVersionId":"2bf3a694-0514-48ef-bf3f-d4abf6efdecd","triggerCount":1,"shared":[{"updatedAt":"2025-12-30T13:26:29.260Z","createdAt":"2025-12-30T13:26:29.260Z","role":"workflow:owner","workflowId":"6cp22CTYoPvGAY8z","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2025-12-30T20:23:15.776Z","createdAt":"2025-12-30T20:23:15.776Z","versionId":"2bf3a694-0514-48ef-bf3f-d4abf6efdecd","workflowId":"6cp22CTYoPvGAY8z","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 * * * *"}]}},"id":"schedule","name":"A cada hora","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,304]},{"parameters":{"url":"https://api.mercadopago.com/v1/payments/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"date_created"},{"name":"criteria","value":"desc"},{"name":"range","value":"date_created"},{"name":"begin_date","value":"={{ $now.setZone('America/Sao_Paulo').startOf('day').toISO() }}"},{"name":"end_date","value":"={{ $now.setZone('America/Sao_Paulo').toISO() }}"},{"name":"limit","value":"100"}]},"options":{}},"id":"buscar-dia-anterior","name":"Buscar Dia Atual","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,304],"credentials":{"httpHeaderAuth":{"id":"pwDHZPE1gWxRI8Td","name":"Header Auth account"}}},{"parameters":{"jsCode":"const results = $input.item.json.results || [];\nconst meuUserId = 356970934;\nconst output = [];\n\nfor (const item of results) {\n  // IGNORAR transferências internas CDI/Potes\n  if (item.operation_type === 'partition_transfer') {\n    continue;\n  }\n  \n  // Identificar entrada ou saída\n  const collectorId = item.collector_id || item.collector?.id;\n  const payerId = item.payer_id;\n  let tipo = '';\n  let destinatario = '';\n  \n  if (collectorId === meuUserId && payerId !== meuUserId) {\n    // ENTRADA: Você recebeu\n    tipo = 'entrada';\n    destinatario = item.payer?.identification?.long_name || \n                   item.point_of_interaction?.transaction_data?.commerce?.name ||\n                   'Não identificado';\n  } else if (payerId === meuUserId && collectorId !== meuUserId) {\n    // SAÍDA: Você pagou\n    tipo = 'saida';\n    destinatario = item.point_of_interaction?.transaction_data?.commerce?.name || 'Não identificado';\n  } else {\n    // Ignorar resto (transações internas)\n    continue;\n  }\n  \n  // Limpar destinatário\n  destinatario = destinatario\n    .trim()\n    .replace(/^MP\\*/i, '')\n    .replace(/\\s+/g, ' ');\n  \n  // Forma de pagamento\n  let formaPagamento = '';\n  const subUnit = item.point_of_interaction?.business_info?.sub_unit;\n  const paymentMethodId = item.payment_method_id;\n  \n  if (paymentMethodId === 'pix') {\n    formaPagamento = 'PIX';\n  } else if (subUnit === 'debit_card') {\n    formaPagamento = 'Débito';\n  } else if (subUnit === 'credit_card') {\n    formaPagamento = 'Crédito';\n  } else if (paymentMethodId === 'account_money') {\n    formaPagamento = 'Saldo MP';\n  } else {\n    formaPagamento = paymentMethodId || 'Outro';\n  }\n  \n  // Timezone São Paulo\n  const date = new Date(item.date_created);\n  const dataSP = new Date(date.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\n  const day = String(dataSP.getDate()).padStart(2, '0');\n  const month = String(dataSP.getMonth() + 1).padStart(2, '0');\n  const year = dataSP.getFullYear();\n  const hours = String(dataSP.getHours()).padStart(2, '0');\n  const minutes = String(dataSP.getMinutes()).padStart(2, '0');\n  const dataFormatada = `${day}/${month}/${year} ${hours}:${minutes}`;\n  \n  output.push({\n    json: {\n      payment_id: item.id,\n      tipo: tipo,\n      status: item.status,\n      transaction_amount: item.transaction_amount,\n      payment_method_id: formaPagamento,\n      destinatario: destinatario,\n      date_created: dataFormatada\n    }\n  });\n}\n\nreturn output;"},"id":"processar-classificar","name":"Processar e Classificar","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Financeiro\".pagamentos_mercadopago (\n  payment_id, tipo, status, transaction_amount, payment_method_id, destinatario, date_created\n) VALUES (\n  {{ $json.payment_id }},\n  '{{ $json.tipo }}',\n  '{{ $json.status }}',\n  {{ $json.transaction_amount }},\n  '{{ $json.payment_method_id.replace(/'/g, \"''\") }}',\n  '{{ $json.destinatario.replace(/'/g, \"''\") }}',\n  '{{ $json.date_created }}'\n)\nON CONFLICT (payment_id) DO NOTHING;","options":{}},"id":"salvar-supabase","name":"Salvar no Supabase","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,304],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}}],"connections":{"A cada hora":{"main":[[{"node":"Buscar Dia Atual","type":"main","index":0}]]},"Buscar Dia Atual":{"main":[[{"node":"Processar e Classificar","type":"main","index":0}]]},"Processar e Classificar":{"main":[[{"node":"Salvar no Supabase","type":"main","index":0}]]}},"authors":"Miguel Nunes","name":null,"description":null,"autosaved":false},"tags":[]}