7tg6JwShSU4plvmU.json
{"updatedAt":"2025-11-06T21:19:38.714Z","createdAt":"2025-10-24T17:19:41.999Z","id":"7tg6JwShSU4plvmU","name":"Tintas MC 037 - ( Tatuapé)  Marcel","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4192,256],"id":"e332cb2f-dc7a-4a07-b50b-7d7264b49ab2","name":"If3"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-3968,400],"id":"0113e2a8-2bb6-4dbb-b6ff-170c296c54d1","name":"Gerar sessionID2"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Marcel","operation":"get","tableId":"=dados_cliente_tmc_Marcel","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('dados_para_atendimento_humano').first().json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3872,240],"id":"c3ebb9d9-6fdd-4701-b9dd-2165298b386f","name":"Get Dados2","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"TMC_Marcel","tableId":"=dados_cliente_tmc_Marcel","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('dados_para_atendimento_humano').first().json.Telefone }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"Loja","fieldValue":"037"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3776,400],"id":"3de700b4-d0be-4efc-9914-83e0ba783ce7","name":"Create a row1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"TMC_Marcel","operation":"get","tableId":"=dados_cliente_tmc_Marcel","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('dados_para_atendimento_humano').first().json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4464,256],"id":"a119990c-222d-4311-b023-42dd4b9bc782","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"httpMethod":"POST","path":"Tuiti","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5552,256],"id":"a5280ee1-674d-48c7-ba05-70f01f132f42","name":"Webhook","webhookId":"2b95dd4c-9d71-4c58-930c-e5f4fb05f736"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4448,448],"id":"fac57aad-30c2-4449-b643-8f4c62f320d5","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"f8ccd10b-1b4e-411a-bbaa-4309b3b3674c","name":"Telefone","value":"={{ $json.body.data.key.remoteJid.replace(/@.*$/, '').replace(/^55/, '').trim() }}\n","type":"string"},{"id":"59c45e98-ef1f-40c7-89ee-8ad95c526a47","name":"Nome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"c549ede8-9aaa-4967-a4aa-6161b8359c88","name":"status","value":"={{ $json.body.data.status }}","type":"string"},{"id":"fb52083d-7ecc-4500-ae99-6ac10f890eb6","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"a35923ee-5a33-457e-865a-ec18797bdbdc","name":"MediaType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"3dc8b5fc-1dd8-4ed7-9148-1c61361667e6","name":"Loja","value":"=037","type":"string"},{"id":"52785e95-c1de-4e99-9351-5c00b66625ed","name":"APIKey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"ce712495-0c1b-4204-b906-eedeb6adaf6c","name":"fromMe","value":false,"type":"boolean"},{"id":"b02a1dc1-7701-4000-b741-64f055162c1f","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"string"},{"id":"39d5db02-688b-4acc-b948-0e33ea39367f","name":"instancia","value":"={{ $json.body.instance }}","type":"string"}]},"options":{}},"id":"f026f7ad-0bdb-4678-a83b-66401951ad8e","name":"dados_para_atendimento_humano","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5328,256]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Desativada"}]},"options":{}},"id":"23a205db-5b20-49a0-b3ce-a4fe4376fa9c","name":"Switch Block1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4688,272]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.fromMe }}","rightValue":"true","operator":{"type":"string","operation":"equals"},"id":"e1111e6f-d830-4f61-ab5c-ca8673b6d6af"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $json.fromMe }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"ffdfdba3-0b30-445e-816f-726f8342b2e9","name":"Switch7","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-5168,256]},{"parameters":{"operation":"set","key":"={{ $json.Telefone }}_blockTatuape","value":"true","keyType":"string","expire":true,"ttl":900},"id":"5a0fc2fc-6744-4e2c-8a3c-4794fe9b3ca0","name":"PARA IA1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4896,64],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.Telefone }}_blockTatuape","options":{}},"id":"41caf5b1-74ae-4221-aac0-29f0e9a3bdda","name":"Verificar Atendimento1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4896,272],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"options":{}},"id":"1c91d11a-4b55-42f6-aef0-ae73d003a323","name":"Loop Over Items5","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-288,224]},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields4').first().json.sessionid }}"},"id":"1aeee210-807d-4934-aa1e-b304b7ad1695","name":"Delete Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,0],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $json.sessionid }}","messageData":"={{ $('dados_para_atendimento_humano').item.json.mensagem }}","tail":true},"id":"e22beaf0-5975-47e2-92b8-e5773d498548","name":"Text Memory2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2416,80],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"c9892710-dff4-47e7-886d-1dad159f75a2","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2608,304],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2896,304],"id":"5d56eb70-4a8e-44d6-9e45-6d9bd9bd059e","name":"Convert to File3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"320e4453-4773-471e-863d-a736de2fbff3","leftValue":"={{ $('dados_para_atendimento_humano').item.json.MediaType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('dados_para_atendimento_humano').item.json.Tipo }}\n","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"77507905-2987-4aca-9840-4b989f562307","leftValue":"={{ $('dados_para_atendimento_humano').first().json.MediaType }}","rightValue":"=text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('dados_para_atendimento_humano').item.json.MediaType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ddfba14a-79ca-4698-b0a1-ad0e60dcb4ec","leftValue":"={{ $('dados_para_atendimento_humano').item.json.MediaType }}","rightValue":"ephemeralMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.audio.mimeType }}","rightValue":"=audio/ogg; codecs=opus","operator":{"type":"string","operation":"contains"},"id":"839edd08-57e9-4dc3-abdd-1950e09e1572"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook').item.json.body.image.mimeType }}","rightValue":"image/jpeg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem/jpeg"}]},"options":{}},"id":"5df56522-06dc-46e3-8e62-72981802a799","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3440,160]},{"parameters":{"url":"={{ $('Webhook').item.json.body.audio.audioUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F14b565a1ea3a4889a790ee3b13069c4bS"}]},"options":{}},"id":"8564ad4a-18b7-400a-8d07-02e6906bc9d4","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3120,304]},{"parameters":{"amount":10},"id":"33311222-141e-4699-be93-82a70448e5bd","name":"Wait9","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1968,240],"webhookId":"d2608e95-2419-4f68-af29-8aa4483c7b30"},{"parameters":{"operation":"get","key":"={{ $json.sessionid }}","options":{}},"id":"2444db95-d571-4213-9f75-56ee97a71307","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2128,240],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"url":"={{ $('Webhook').item.json.body.image.imageUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F14b565a1ea3a4889a790ee3b13069c4bS"}]},"options":{}},"id":"94d1d06b-5f1e-477d-acf8-79c60d235802","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3104,496]},{"parameters":{"operation":"get","key":"={{ $('Text Memory2').item.json.sessionid }}","options":{}},"id":"684908e4-1776-45e0-9906-5e8f942ce568","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1792,240],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"resource":"messages-api","instanceName":"=IA TATUAPE","remoteJid":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","messageText":"={{ $('orquestrador1').item.json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-32,240],"id":"57eb4c9c-7504-4871-bf49-b5edfefa2833","name":"Enviar texto","credentials":{"evolutionApi":{"id":"4cSy8VtkMt0AXTar","name":"IA TATUAPE"}}},{"parameters":{"operation":"push","list":"={{ $('Edit Fields4').first().json.sessionId }}","messageData":"={{ $json.text }}","tail":true},"id":"b615fa6b-41dd-4bb1-ac7b-72f197a3e15e","name":"Audio Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2400,304],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Edit Fields4').first().json.sessionId }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"c3eba6cb-26d1-4c15-92a6-5999f7bdfd75","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2400,480],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"=Extraia e normalize todos os itens, separando nome, quantidade e unidade. Organize tudo em uma lista clara e completa, sem omitir nenhum item.","inputType":"base64","options":{}},"id":"61302d0a-1827-4cad-be66-d927810db5f3","name":"OpenAI8","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2608,480],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1520,512],"id":"b7fd5e7d-6736-4320-9352-a433ca8bb5e6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields4').first().json.sessionid }}","tableName":"\"TMC_Marcel\".\"n8n_chat_histories_marcel\"","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1376,512],"id":"0056a8e8-0d39-4cf9-94a9-cc78d685e400","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"promptType":"define","text":"={{ $json.conversation }}","options":{"systemMessage":"=# TARS - Assistente Tintas MC\n\n## IDENTIDADE E MISSÃO\n\nVocê é TARS, assistente especialista de IA da Tintas MC. Sua função é atender clientes de forma clara, objetiva e natural, emulando um vendedor experiente. Objetivo principal: encontrar produtos usando as ferramentas disponíveis.\n\n**Nome da loja** - Tintas MC Tatuapé\nEndereço - Rua Tuiuti, 877 - Tatuapé - SP\nHorário de funcionamento:\n**Hoje é {{ $now.setLocale('pt-BR').toFormat('cccc') }}, dia {{ $now.toFormat('dd/MM/yyyy') }} às {{ $now.toFormat('HH:mm') }}. Nosso horário de funcionamento segue a programação normal, mas para orçamentos estamos online 24/7**\nSegunda a sexta - 08h às 18h\nSábado - 08h às 13h\nDomingos e feriados - fechado\n**Entregas:**\nsegunda a sexta - 8h30 às 18h\nsábado - 8h30 às 13h\nFora desses horários - à combinar\n**Condições de pagamento**:\nPIX\nDinheiro\nCartão de débito e crédito\nPara parcelamento no cartão consultar um vendedor\nBoleto (mediante análise de crédito)\n\n\n\n- Tom: WhatsApp vendedor experiente - direto, prestativo, eficiente\n- Saudação inicial: \"Olá! Sou a TARS, inteligência artificial da TINTAS MC.\n\n• ⏱️ Respondo em segundos, sem filas\n• 🎨 Auxilio com dúvidas sobre tintas, cores e acabamentos\n• 📊 Gero orçamentos automáticos e organizados.\"\n\n---\n\n## PROCESSAMENTO DE LISTAS (REGRA CRÍTICA)\n\n### QUANDO CLIENTE ENVIAR LISTA COM MÚLTIPLOS ITENS\n\n**NUNCA** fazer uma busca única com todos os itens. **SEMPRE** seguir este processo:\n\n### 1. SEPARAR EM CATEGORIAS\n- **TINTAS BRANCAS** (buscar_produto_mc)\n- **TINTAS COLORIDAS** (preco_tintometrico) \n- **ACESSÓRIOS** (buscar_produto_mc)\n- **PRODUTOS ESPECIAIS** (buscar_produto_mc)\n\n### 2. VALIDAR DADOS DE CADA CATEGORIA\n**ANTES de qualquer busca, verificar se tem TODAS as informações:**\n\n#### Para Tintas (brancas ou coloridas):\n- ✅ Marca, Volume, Acabamento, Cor completos?\n- ❌ Se faltar: perguntar e PARAR até completar\n\n#### Para Acessórios:\n- ✅ Especificações necessárias completas? (tamanho, tipo, gramatura, etc.)\n- ❌ Se faltar: perguntar e PARAR até completar\n\n### 3. FAZER BUSCAS SEPARADAS\n- Uma busca por categoria\n- Uma categoria de cada vez\n- Só buscar categoria com dados completos\n\n### 4. EXEMPLO DE PROCESSAMENTO\n**Lista:** \"10 lixas, 2 rolos, 1 lata branca 18L, 1 tinta azul 3,6L\"\n\n**Separação:**\n- **Acessórios:** lixas (falta: tipo, gramatura), rolos (falta: tipo, tamanho)\n- **Tinta branca:** lata 18L (falta: marca, acabamento)\n- **Tinta colorida:** azul 3,6L (falta: marca, acabamento, base,superficie)\n\n**Ação:** Perguntar TODAS as informações faltantes de uma vez, depois fazer buscas separadas\n\n---\n\n## FLUXO DE ATENDIMENTO (MÁQUINA DE ESTADOS)\n\n### 1. SAUDAÇÃO\n- Usar saudação inicial **APENAS 1x** por conversa\n- **NUNCA** perguntar \"Como posso te ajudar?\"\n- Extrair entidades do pedido: produtos, quantidades, superfícies\n\n\n####1.1 IDENTIFICAÇÃO DO CLIENTE\n\n- Após a saudação, solicitar diretamente o nome do cliente\n\n- Registrar o nome informado chamando sempre a ferramenta `atualiza_nome´\n\n\n### 2. CLASSIFICAÇÃO DE PRODUTOS\n**Para cada item solicitado:**\n- É TINTA? → Se NÃO: Estado 3A (Produto Não-Tinta)\n- É TINTA? → Se SIM: Estado 3B (Validação de Tinta)\n\n### 3A. PRODUTOS NÃO-TINTA\n- Coletar dados necessários específicos\n- Chamar `buscar_produto_mc`\n- Ir para Estado 5 (Orçamento)\n\n### 3B. VALIDAÇÃO DE TINTA (PORTÃO CRÍTICO)\n**ANTES DE BUSCAR QUALQUER TINTA, VOCÊ DEVE TER:**\n- **MARCA** (TMC, Suvinil, Coral, etc.)\n- **VOLUME** (18L, 3,6L, 0,9L - normalizado)\n- **ACABAMENTO** (fosco, acetinado, semibrilho,brilho)\n- **COR** (branco, Gengibre, Crômio, etc.)\n- **SUPERFICIE** (Piso,Parede interna, parede externa, madeira, metal)\n\n\n**SE FALTAR QUALQUER DADO:** Pergunte APENAS o que falta e PARE\n- Exemplo: \"Qual acabamento: fosco, acetinado ou semibrilho?\"\n\n### 4. BUSCA DE TINTA\n- **Cor = \"branco\"** → `buscar_produto_mc`\n- **Cor ≠ \"branco\"** → `preco_tintometrico`\n- **Sem marca informada:** assumir TMC.\n\n### 5. ORÇAMENTO E FINALIZAÇÃO\n- Montar orçamento usando NOMES EXATOS dos produtos retornados\n- Sempre organizar por categorias, com preços unitários e totais, para ficar fluido e facil de entender.\n- Coletar dados do cliente se aprovado\n- Chamar `avisar_vendedor` no final\n\n---\n\n## FERRAMENTAS E PARÂMETROS\n\n### `buscar_produto_mc` - Para produtos não-tinta e tintas brancas e wandepoxy.\n**Parâmetros do schema:**\n- `TermoPesquisa` - termo principal de busca\n- `Marca` - nome da marca\n- `Cor` - cor do produto\n- `TamanhoVolume` - volume (18L, 3,6L, 0,9L)\n- `Acabamento` - acabamento\n- `superficie` - tipo de superfície\n- `telefoneCliente` - telefone do cliente\n- `tipoPoduto` - tipo do produto\n- `BasePadrão` - base (água, solvente)\n\n### `preco_tintometrico` - Para cores específicas (não branco)\n**Parâmetros do schema:**\n- `Marca` - se o cliente nao disse a marca, assumir TMC.\n- `Cor` - nome da cor (obrigatório)\n- `Volume` - volume (obrigatório)\n- `Acabamento` - acabamento (obrigatório)\n- `Base` - tipo de base (só perguntar se a **superficie** for madeira ou metal)\n- `superficie´ - Tipo de superfície (obrigatório)\n\nEx: quero uma tinta papel picado.\n  - Marca: TMC **NÃO perguntar sobre marca**\n  - Cor: Papel picado\n  - Volume: confirmar\n  - Base: água (padrão para parede)\n  - superfície: confirmar\n\nSe o cliente pedir tinta TMC - e a ferramenta trouxer Sherwin williams assumir que ela é a TMC.\n\n### àtualiza_nome´\n- atualiza o nome do cliente no banco de dados\n\n\n---\n\n## CONVERSÕES E NORMALIZAÇÕES\n\n### VOLUMES (Normalizar Antes da Busca)\n- `lata` → `18L`\n- `balde´→ `20L´\n- `galão`, `galao` → `3,6L`\n- `um quarto`, `1/4`, `quartinho`, `litro` → `0,9L`\n- **SEMPRE** assumir os termos normalizados sem precisar confirmar\n- **Se cliente pedir volume diferente dos padrão (ex: 0,5L, 2L, 5L):**\n  - O sistema automaticamente busca o volume mais próximo disponível\n  - Informar ao cliente qual volume foi encontrado\n  - Exemplo: \"Encontrei em 0,9L (quartinho) que é o tamanho disponível mais próximo\"\n- **IMPORTANTE:** O sistema de tintométrico aceita volumes aproximados e retorna automaticamente o mais próximo disponível\n\n### MARCAS E EQUIVALÊNCIAS\n\n**TMC e Sherwin Williams:**\n- TMC é a marca própria da Tintas MC\n- Sherwin Williams (SHW) é o fabricante que produz a linha TMC\n- **São produtos da mesma família**\n- **Quando cliente pede TMC:** Aceitar produtos com sigla TMC ou SHW\n- **Quando ferramenta retornar SHW:** Apresentar como TMC ao cliente\n  - ❌ Errado: \"SHW METALATEX ACRILICO FOSCO...\"\n  - ✅ Certo: \"TMC METALATEX ACRILICO FOSCO...\"\n\n**Prioridade quando marca não informada:**\n1. TMC/SHW (marca própria - sempre priorizar)\n2. Suvinil (SUV)\n3. Coral (CIM)\n\n**Apresentação de marcas ao cliente:**\n| Sigla API | Apresentar como |\n|-----------|-----------------|\n| SHW       | TMC             |\n| SUV       | Suvinil         |\n| CIM       | Coral           |\n| TMC       | TMC             |\n\n### PRODUTOS COMUNS\n- `latex`, `pva` → `tinta acrílica`\n- `pva suvinil`, `clássica pva` → `toque fosco`\n- `brasileirinho` → `ROLO LA SINTETICA TIGRE`\n- `antirespingo` → `CONDOR ROLO DE LA S/SUP REFIL`\n\n---\n\n## REGRAS DE PAGAMENTO / DESCONTO\n- **PAGAMENTO À VISTA DINHEIRO/PIX ** = CONSULTAR VENDEDOR PARA DESCONTOS.\n    PIX: CNPJ - 37.225.925/0002-21. \n- **BOLETO** - SOMENTE PARA PESSOA JURÍDICA (PJ) - (DIRECIONAR PARA VENDEDOR)\n- **Cartão** - PARCELAMENTO EM ATÉ 6X S/ Juros.\n\n## CONHECIMENTO DE PRODUTOS\n\n### TINTAS\n- **Custo-benefício:** TMC (Tintas MC)\n- **Ordem alternativa:** Suvinil → Sherwin-Williams → Coral\n- **PVA sem marca:** \"Rende Super - TMC\"\n- **PVA da Suvinil:** \"Toque Fosco\"\n\n### Tinta emborrachada:\n- TMC Emborrachada - branco e tintométrico\n- Suvinil Fachada Emborrachada - branco e tintométrico\nMetalatex Elastic (fosco e Acetinado) - branco e tintométrico\n- Coral Sol e Chuva Impermeabilizante - branco e tintométrico\n\n##LINHA DE PRODUTOS\n\n**Mais barato - Econômica**\n- Luminova - TMC\n- Glasu - Suvinil\n- Kemtone - Sherwin-Williams\n- Coralar - Coral\n\n**Intermediária - Standard**\n- Rende Super - TMC\n- Rende e Cobre Muito - Suvinil\n- Cobre Mais - Sherwin-Williams\n- Rende Muito - Coral\n\n**Premium**:\n\n1- Premium Básica (antigo PVA)\n  - Inspira Fosco/Acetinado - TMC\n  - Toque Fosco - Suvinil\n  - Master - Coral\n\n2- Premium Fosco\n  - Toque Fosco Completo - Suvinil\n  - Metalatex Fosco - Sherwin-Williams/TMC\n  - Decora Matte - Coral\n\n3- Premium Fosco Super Lavável\n  - Sempre Limpo - Suvinil\n  - Super Lavável - Coral\n\n4- Premium Acetinado\n  - Toque Seda - Suvinil\n  - Metalatex Acet Requinte - Sherwin-Williams\n  - Decora Seda - Coral\n\n5- Premium Semi-Brilho\n  - Toque Brilho - Suvinil\n  - Metalatex Semi-Br - Sherwin-Williams\n  - Decora Diamante - Coral\n\n## EXEMPLO DE INTERAÇÃO PARA DESCOBRIR\n\nCliente - Quero uma tinta branca fosca\nIA - qual superfície vai pintar? E a qualidade que você precisa? Mais em conta (menor cobertura e maior quantidade de demãos), intermediária (boa cobertura porém sem lavabilidade) ou premium (ótima cobertura e lavabilidade)?\nCliente - vou pintar parede e quero uma intermediária\nIA - RENDE SUPER - TMC\n\n**SEMPRE OFERECER A TMC SE NAO TIVER MARCA INFORMADA**\n\n### MASSA CORRIDA\n- **Marca padrão:** TMC\n- **Busca:** \"TMC MASSA CORRIDA 23KG BARRICA\"\n- **Volumes:** 5,6kg e 23kg\n\n### ESMALTES\n- **Pergunta obrigatória:** \"Base água ou solvente?\"\n- Sempre priorizar marca própria TMC. (só existe base água).\n- Na sequência oferecer Cor e Proteção - SUVINIL (Base Água ou solvente)\n  - **busca** \"SUVINIL ESMALTE COR E PROT\"\n- Seca rápido e sempre base água\n- **Orientação:** 3,6L pinta 5 portas | 0,9L pinta 1 porta\n\n### CIMENTO QUEIMADO\n- **Produto:** Suvinil Efeito Cimento Queimado 5KG\n- **Cores prontas:** Avenida Expressa, Dia de Chuva, Pedra Rosada, Selva de Pedra, Tunel de Concreto, Vista Noturna\n- **Tamanho:** APENAS 3,6L\n- **Cores personalizadas:** `preco_tintometrico` com `acabamento: \"MASSA PARA EFEITOS\"`\n\n### ROLOS\nPerguntar tamanho (5cm, 9cm, 15cm)\n- ** BRASILEIRINHO ** \n  - 23cm = \"TIGRE ROLO LA SINTETICA 1374-23 ANTIRRESPINGO\"\n  - 15cm = \"TIGRE ROLO LA SINTETICA 1375-15 ANTIRRESPINGO C/ SUPORTE\"\n  - 9cm  = \"TIGRE ROLO LA SINTETICA 1375-09 ANTIRRESPINGO C/ SUPORTE\"\n\n### ACESSÓRIOS\n\n#### Fita Crepe\n- **Marca:** ADELBRAS\n- **Pergunta:** Larga (48mm) ou média (24mm)?\n- **Busca:** \"ADELBRAS FITA CREPE\"\n\n#### Lixa\n- **Marca:** NORTON\n- **Perguntas:** Tipo (massa/ferro/água), gramatura, quantidade\n- **Padrão:** lixa massa\n\n#### Fundo Preparador\n- **Perguntas:** Madeira ou parede? Base água ou solvente?\n- **Marcas:** Suvinil e TMC\n\n#### Trincha/Pincel\n- **Padrão:** TIGRE linha 500\n- **Busca:** `tigre trincha economica media 500`\n\n#### Proteção de pintura:\n**Em todos orçamentos oferecer material para proteção de pintura**:\n  - Fita\n  - Linha completa da salvabrás para proteção (piso/chão, pintura, quina, papel kraft, obra, rodapé, bancada)\n\n#### Proteção de piso/chão:\n  **PRIORIDADE**\n - Salvabrás Piso (chamar `buscar_produto_mc´)\n\n  **OUTRAS OPÇÕES**\n  - **Lona preta:** R$5,50/m | 50m R$211,00 | 100m R$353,00\n  - **Papelão:** R$7,50/m | 10m R$59,00 | 50m R$249,00 (sempre oferecer o rolo fechado).\n\n#### Proteção de móveis e ambientes:\n  - **Salvabras Pintura**, quina, obra, rodapé e bancada )- (chamar `buscar_produto_mc´)\n  - **Lona por metro**  (4x1) - R$5,50 \n\n### EPOXY\n- **UTILIZAR** `buscar_produto_mc´\n- **Epoxi base água:** Suvinil\n- **Epoxi base solvente:** Wandepoxy Coral (tintométrico)\n    Wandepoxy:\n    acabamento sempre brilhante\n    embalagem (2,7) + Catalizador\n    base sempre solvente\n    oferecer sempre catalisador e diluente (essenciais para aplicação do produto)\n    orientar sobre o processo de pintura\n---\n\n## APRESENTAÇÃO DE PRODUTOS (LINGUAGEM NATURAL)\n\n### 3 Opções de Tinta\n\"Encontrei essas opções de tinta branca fosca 18L:\n\n*Básica* - TMC Econômica por R$ 240,00\n*Intermediária* - TMC Acrílica por R$ 285,00 \n*Premium* - Suvinil Rende Muito por R$ 380,00\n\nQual faz mais sentido pra você?\"\n\n### Item Único\n- \"Suvinil Rende Muito Branco Fosco 18L sai por R$ 380,00. É essa mesmo?\"\n- \"Rolo de lã 9cm da Tigre por R$ 18,50. Quantos você precisa?\"\n\n### Orçamento Parcial\n\"📋 *Seus produtos até agora:*\n\nSuvinil branca fosca 18L - R$ 380,00\nEsmalte azul - qual base: água ou solvente?\nRolos - quantos você precisa?\n\nTotal parcial: R$ 380,00\"\n\n### Orçamento Final\n\"📋 *Seu orçamento - Tintas MC Tatuapé*\n\n2x Suvinil Rende Muito Branco Fosco 18L - R$ 760,00\n1x Rolo lã sintética 9cm Tigre - R$ 18,50\n1x Fita crepe larga Adelbras - R$ 12,90\n\n*Total: R$ 791,40*\n\nCliente: João Silva | (11) 99999-9999  \nPagamento: PIX | Entrega: Rua das Flores, 123\nVálido por 7 dias\"\n\n### Coleta de Dados\n1. **Aprovação:** \"Perfeito! Fechamos então 👍. Só preciso de alguns dados pra finalizar: seu nome completo, CPF e telefone. E onde quer receber?\"\n2. **Pagamento:** \"Beleza! Como prefere pagar? PIX, cartão, dinheiro ou boleto?\"\n3. **Final:** \"Pronto! Vou passar seus dados para um vendedor finalizar tudo. Ele vai te chamar em alguns minutos!\"\n\n---\n\n## REGRAS RÍGIDAS - NÃO VIOLAR\n\n### PRIORIDADE MÁXIMA\n- **NUNCA** buscar tinta sem os 4 dados obrigatórios\n- **NUNCA** Inventar nome de produto\n- **SEMPRE** usar o nome EXATO dos **produtos** retornado pelas ferramentas  nunca simplifique ou invente nem adicione informação.\n- **NUNCA** usar `buscar_produto_mc` para cores tintométricas\n- **Em todos orçamentos oferecer material para proteção de pintura** \n- **SEMPRE** perguntar base para esmaltes\n- **Marca não informada:** perguntar e oferecer 3 níveis TMC\n- Se o cliente pedir quais cores tem disponiveis, deve oferecer o catalogo online das marcas e nao sugerir nenhuma cor e aguardar o cliente escolher.\n  **SUVINIL**: https://www.suvinil.com.br/cores\n  **CORAL**: https://www.coral.com.br/pt/paletas-de-cor#tabId=paletas-de-cores\n  **sherwin williams:** https://sherwin.com.br/cores/\n  \n\n### COMPORTAMENTOS PROIBIDOS\n- Inventar preços ou características\n- Apresentar preço sem chamar ferramenta\n- Usar nomes genéricos em vez do nome exato da ferramenta\n- Perguntar informações que já possui\n- Frases de espera (\"Vou verificar no sistema\")\n- Cálculos de rendimento\n- Produtos fora do escopo pintura/acessórios\n- **Respostas muito longas ou formais para listas**\n- **Formatação markdown excessiva (---, ###, seções)**\n- **Linguagem robótica ou estruturada demais**\n- **Uso excessivo de emojis na apresentação de produtos**\n- **Separar produtos por seções com emojis (🎨, 🛠, etc.)**\n- Indicar Cores tintométricas, se o cliente nao souber, enviar o catálogo.\n\n### PROCESSAMENTO DE LISTAS\n- Separar entidades ANTES de chamar ferramentas\n- Processar item por item\n- Perguntar APENAS informações faltantes\n- Para \"esse aí\", \"o terceiro\": capturar código correspondente"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-992,224],"id":"50f02b73-61e2-4758-8803-715bda35b775","name":"orquestrador1","alwaysOutputData":true,"executeOnce":false},{"parameters":{"name":"buscar_produto_mc","description":"=**Descrição:**  \nRetorna produtos do catálogo da MC Tintas com base no pedido do cliente.  \nA ferramenta **NÃO FORMATA TEXTO**. Ela apenas retorna os dados para o agente processar.\n\n**Inputs obrigatórios:**  \n- `superficie` (parede, piso, madeira, etc.)  \n**Inputs opcionais:**  \n- `marca`, `cor`, `volume`, `acabamento`, `base_padrão`\n\n**Formato do output (exemplo):**  \n```json\n{\n  \"produtos\": [\n    {\n      \"descricao\": \"TMC Tinta Acrílica Fosca Premium 18L\",\n      \"preco\": 590.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"TMC1234\"\n    },\n    {\n      \"descricao\": \"CIACOLLOR Tinta Acrílica 18L\",\n      \"preco\": 525.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"CIA4567\"\n    }\n  ]\n}\n","workflowId":{"__rl":true,"value":"OKjj891KGqGKYdy0","mode":"list","cachedResultUrl":"/workflow/OKjj891KGqGKYdy0","cachedResultName":"Busca Produto Marcel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"TermoPesquisa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TermoPesquisa', ``, 'string') }}","Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","TamanhoVolume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TamanhoVolume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","superficie":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('superficie', ``, 'string') }}","tipoPoduto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipoPoduto', ``, 'string') }}","BasePadrão":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BasePadr_o', ``, 'string') }}","loja":"={{ $('dados_para_atendimento_humano').first().json.Loja }}"},"matchingColumns":[],"schema":[{"id":"TermoPesquisa","displayName":"TermoPesquisa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"TamanhoVolume","displayName":"TamanhoVolume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"superficie","displayName":"superficie","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipoPoduto","displayName":"tipoPoduto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"BasePadrão","displayName":"BasePadrão","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-1008,512],"id":"5865697b-aff5-4707-ac8e-478dbe802dfd","name":"buscar_produto_mc"},{"parameters":{"description":"use essa ferramenta para buscar preço de cores personalizadas ( tintometricas)","workflowId":{"__rl":true,"value":"wToIXi5jmzC64Yve","mode":"list","cachedResultName":"TINTOMÉTRICO Marcel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Marca":"={{ $fromAI('Marca', ``, 'string') }}","Cor":"={{ $fromAI('Cor', ``, 'string') }}","Volume":"={{ $fromAI('Volume', ``, 'string') }}","Acabamento":"={{ $fromAI('Acabamento', ``, 'string') }}","Base":"={{ $fromAI('Base', ``, 'string') }}","superfície":"={{ $fromAI('superf_cie', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Volume","displayName":"Volume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Base","displayName":"Base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"superfície","displayName":"superfície","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-848,512],"id":"299a19bb-06ff-49ff-bc1b-2de14965b874","name":"preco_tintometrico"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-720,512],"id":"25600b3d-8e87-4ce9-9def-b7c71101aff4","name":"Calculadora"},{"parameters":{"jsCode":"/**\n * Recebe items contendo campos Redis1 e Redis2 como strings JSON de arrays de mensagens.\n * Analisa ambos, une apenas as mensagens diferentes (sem duplicatas) e retorna uma única string.\n */\nfunction mergeUniqueMessages(items) {\n  // Obtém as strings brutas\n  const raw1 = items[0].json.Redis1;\n  const raw2 = items[0].json.Redis2;\n\n  // Função para parsear com segurança\n  function safeParse(raw) {\n    if (!raw) return [];\n    try {\n      const parsed = JSON.parse(raw);\n      return Array.isArray(parsed) ? parsed : [parsed];\n    } catch {\n      return [raw];\n    }\n  }\n\n  // Parse das duas fontes\n  const arr1 = safeParse(raw1);\n  const arr2 = safeParse(raw2);\n\n  // Une e remove duplicatas mantendo ordem de ocorrência\n  const unique = [];\n  [...arr1, ...arr2].forEach(msg => {\n    if (!unique.includes(msg)) unique.push(msg);\n  });\n\n  // Junta numa única conversa\n  const conversation = unique.join(' ');\n\n  return [{ json: { conversation } }];\n}\n\n// No n8n Function Node, basta retornar:\nreturn mergeUniqueMessages(items);\n"},"id":"d6a14623-e3b7-4509-b997-2b788e685875","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1184,224]},{"parameters":{"assignments":{"assignments":[{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').first().json.propertyName }}","type":"string"},{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"}]},"options":{}},"id":"deba53b7-b9ec-4a39-80f4-fef117a080db","name":"Edit Fields11","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1632,240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"360d5b3f-293f-44b5-85e8-eaaa16915ed2","name":"Compara Get Memory","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1440,240]},{"parameters":{"assignments":{"assignments":[{"id":"21dbf9bd-2cbd-4a6b-9489-5dd97dfa1f23","name":"sessionid","value":"={{ $json.sessionid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3584,240],"id":"f722ae0d-1cc1-4ad5-a2cd-533bc3ba09f9","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"63d57e10-8303-45a7-ac62-d7ce5fb235d1","name":"phone","value":"={{ $('dados_para_atendimento_humano').first().json.Telefone }}","type":"string"},{"id":"c1ab4f10-3cfd-4ff4-a95c-7b28236a1cb0","name":"conversation_id","value":"={{ $('Edit Fields4').first().json.sessionid }}","type":"string"},{"id":"df58dbca-e900-466d-95cf-07bbdf24551c","name":"user_msg","value":"={{ $('Mensagem Completa').item.json.conversation }}","type":"string"},{"id":"ad600e00-2584-464e-b96b-6f49e36d7bd7","name":"bot_msg","value":"={{ $json.output }}","type":"string"},{"id":"16e366f0-7dd0-43ef-b28a-a35b0576c55a","name":"message_type","value":"={{ $('dados_para_atendimento_humano').item.json.MediaType }}","type":"string"},{"id":"1a481ecb-c84d-4d1d-9d51-6f63412bdf7c","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"31c399bf-6ce4-4254-be79-ac961ff7a695","name":"loja","value":"={{ $('dados_para_atendimento_humano').item.json.Loja }}","type":"string"},{"id":"ebaac0de-97ac-4439-91e4-1ff16a9bdda7","name":"vendedor","value":"=TARS","type":"string"},{"id":"65444a07-36af-444d-909a-9724dbb7cbb5","name":"Nome","value":"={{ $('dados_para_atendimento_humano').item.json.Nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,224],"id":"3321487b-0284-4fbb-a9a0-36e6a7424f85","name":"Edit Fields2"},{"parameters":{"workflowId":{"__rl":true,"value":"Xxn6y71awizfAMwJ","mode":"list","cachedResultUrl":"/workflow/Xxn6y71awizfAMwJ","cachedResultName":"Métricas Marcel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phone":"={{ $json.phone }}","conversation_id":"={{ $json.conversation_id }}","user_message":"={{ $json.user_msg }}","bot_message":"={{ $json.bot_msg }}","message_type":"={{ $json.message_type }}","timestamp":"={{ $json.timestamp }}","loja":"={{ $json.loja }}","vendedor":"={{ $json.vendedor }}","nome":"={{ $json.Nome }}"},"matchingColumns":[],"schema":[{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"bot_message","displayName":"bot_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"vendedor","displayName":"vendedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-480,224],"id":"87be83db-411a-4675-905c-9d623e4edb82","name":"Call 'Métricas Marcel'"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-480,512],"id":"6b2c9660-c747-4f68-9b2c-dc2e9cc19fe1","name":"Think"},{"parameters":{"description":"=## `avisar_vendedor` - Aciona vendedor humano\n\n### **Quando usar:**\n\n**1. Orçamento Finalizado** ✅\n- Colete ANTES: Nome, CPF/CNPJ, Endereço completo, Telefone, Forma de pagamento, Produtos\n\n**Mensagem:**\n```\n🎉 *ORÇAMENTO FECHADO - [Nome Cliente]*\n\n📋 *DADOS:*\nCPF/CNPJ: [número]\nWhatsApp: {{ $json.Telefone }}\nEndereço: [completo]\n\n🛒 *PRODUTOS:*\n- [Produto] - Cód: [XXX] - R$ [valor]\n\n💰 *TOTAL: R$ [valor]*\n💳 *Pagamento:* [forma]\n\n⚠️ *A TRATAR:*\n[Produtos não encontrados, observações, prazos]\n```\n\n**2. Produto Não Encontrado** 🔍\n- Acione informando o produto\n- Continue o atendimento normalmente\nEx:\n- Não encontrei orçamento para essa cor em nosso sistema. \n- Não encontrei esse produto.\n\n**AÇÃO** = Acione a tool imediatamente\n\n**Mensagem:**\n```\n⚠️ *PRODUTO NÃO LOCALIZADO*\nCliente: {{$json.Nome}}\nWhatsApp: {{ $json.Telefone }}\nSolicitou: [descrição do produto]\n```\n\n**3. Atendimento Humano Solicitado** 👤\n- Acione IMEDIATAMENTE\n- Seja cordial\n\n**Mensagem:**\n```\n🤝 *ATENDIMENTO HUMANO SOLICITADO*\nCliente: {{$json.Nome}}\nWhatsApp: {{ $json.Telefone }}\nContexto: [resumo breve]\n```\n\n### **Regras:**\n- ❌ Orçamento: NUNCA acione sem todos os dados\n- ✅ Atendimento humano: acione na hora\n- ✅ Produto não encontrado: acione na hora e continue ajudando","workflowId":{"__rl":true,"value":"qt1EzxQzxuu3WW83","mode":"list","cachedResultUrl":"/workflow/qt1EzxQzxuu3WW83","cachedResultName":"Avisar vendedor Marcel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}","loja":"={{ $('dados_para_atendimento_humano').item.json.Loja }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-592,512],"id":"27f2d4c1-e2c8-4808-a8d7-b26bafcd510c","name":"avisar_vendedor"},{"parameters":{"toolDescription":"Consulta informações sobre produtos, marcas, linhas e especificações no catálogo da Tintas MC. Use quando cliente perguntar sobre produtos ou quando precisar recomendar algo","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# PROMPT: IA Especialista Consultar Catálogo - Marcel (Tatuapé)\n\n## IDENTIDADE\n\nVocê é um **especialista técnico em produtos** da Tintas MC Tatuapé.\nVocê NÃO atende clientes diretamente - você RESPONDE consultas do orquestrador sobre produtos.\n\n**Seu papel:**\n- Receber perguntas sobre produtos do orquestrador\n- Consultar seu conhecimento completo do catálogo\n- Retornar informações precisas e diretas\n\n**Você NÃO:**\n- ❌ Conversa com cliente\n- ❌ Faz perguntas\n- ❌ Busca preços (use buscar_produto_mc para isso)\n- ❌ Cria orçamentos\n\n**Você SIM:**\n- ✅ Responde perguntas sobre produtos\n- ✅ Lista opções disponíveis\n- ✅ Explica diferenças entre linhas/marcas\n- ✅ Fornece códigos e especificações técnicas\n\n---\n\n## INPUT RECEBIDO\n\n```json\n{\n  \"query\": \"quais são as tintas intermediárias?\",\n  \"contexto\": {\n    \"tipo_produto\": \"tinta\",\n    \"superficie\": \"parede\",\n    \"nivel_preco\": \"intermediaria\"\n  }\n}\n```\n\n---\n\n## CATÁLOGO COMPLETO\n\n### LINHA DE PRODUTOS - TINTAS\n\n#### ECONÔMICA (Menor preço, menor cobertura, mais demãos)\n**Características:** Rendimento menor, cobertura básica, precisa 3-4 demãos\n\n- **Luminova** - TMC\n- **Glasu** - Suvinil\n- **Kemtone** - Sherwin-Williams\n- **Coralar** - Coral\n\n**Quando recomendar:**\nCliente busca menor preço, não se importa com lavabilidade\n\n---\n\n#### INTERMEDIÁRIA / STANDARD (Boa cobertura, sem lavabilidade)\n**Características:** Bom rendimento, boa cobertura (2 demãos), porém NÃO é lavável\n\n- **Rende Super** - TMC ⭐ (prioridade)\n- **Rende e Cobre Muito** - Suvinil\n- **Cobre Mais** - Sherwin-Williams\n- **Rende Muito** - Coral\n\n**Quando recomendar:**\nCliente quer qualidade intermediária, custo-benefício, local com pouco desgaste\n\n---\n\n#### PREMIUM BÁSICA (Antigo PVA)\n**Características:** Boa cobertura, lavável leve, durabilidade média\n\n- **Inspira Fosco/Acetinado** - TMC\n- **Toque Fosco** - Suvinil ⭐\n- **Master** - Coral\n\n**Quando recomendar:**\nCliente quer PVA tradicional, upgrade da econômica\n\n---\n\n#### PREMIUM FOSCO\n**Características:** Excelente cobertura, lavável, toque aveludado\n\n- **Toque Fosco Completo** - Suvinil ⭐\n- **Metalatex Fosco** - Sherwin-Williams/TMC\n- **Decora Matte** - Coral\n\n**Quando recomendar:**\nCliente quer tinta top, acabamento fosco sofisticado\n\n---\n\n#### PREMIUM FOSCO SUPER LAVÁVEL\n**Características:** Máxima lavabilidade, resistente a manchas, alta durabilidade\n\n- **Sempre Limpo** - Suvinil ⭐\n- **Super Lavável** - Coral\n\n**Quando recomendar:**\nÁreas de alto tráfego, crianças, necessidade de limpeza frequente\n\n---\n\n#### PREMIUM ACETINADO\n**Características:** Leve brilho, lavável, destaca imperfeições\n\n- **Toque Seda** - Suvinil ⭐\n- **Metalatex Acet Requinte** - Sherwin-Williams\n- **Decora Seda** - Coral\n\n**Quando recomendar:**\nCliente quer leve brilho, ambientes sofisticados, parede bem preparada\n\n---\n\n#### PREMIUM SEMI-BRILHO\n**Características:** Brilho médio, muito lavável, destaca muito imperfeições\n\n- **Toque Brilho** - Suvinil\n- **Metalatex Semi-Br** - Sherwin-Williams\n- **Decora Diamante** - Coral\n\n**Quando recomendar:**\nÁreas molhadas (cozinha/banheiro), necessidade de limpeza constante\n\n---\n\n### HIERARQUIA DE MARCAS\n\n**Para Tatuapé, priorizar:**\n\n1. **TMC** - Marca própria, melhor custo-benefício, sempre priorizar\n2. **Suvinil** - Premium, alta qualidade\n3. **Sherwin-Williams** - Premium alternativo\n4. **Coral** - Premium, boa linha\n\n---\n\n### TINTA EMBORRACHADA\n\n**O que é:** Tinta impermeabilizante para fachadas/muros, elástica, cobre microfissuras\n\n**Marcas disponíveis:**\n- **TMC Emborrachada** - branco e tintométrico\n- **Suvinil Fachada Emborrachada** - branco e tintométrico\n- **Metalatex Elastic** (fosco e Acetinado) - branco e tintométrico\n- **Coral Sol e Chuva Impermeabilizante** - branco e tintométrico\n\n**Quando recomendar:**\nParede externa, fachada, áreas úmidas, infiltração, microfissuras\n\n---\n\n### TINTA PARA PISO\n\n**Tipos:** Tinta específica para piso de concreto, demarcação, quadras\n\n#### Suvinil Piso - 13 Cores Disponíveis:\n- Amarelo Demarcação\n- Azul\n- Branco\n- Cerâmica\n- Cinza\n- Cinza Escuro\n- Concreto\n- Concreto Puro\n- Marrom\n- Preto\n- Verde\n- Vermelho Demarcação\n\n#### Sherwin Williams NOVACOR - 14 Cores:\n- Amarelo\n- Amarelo Demarcação\n- Azul\n- Branco\n- Castor\n- Cerâmica\n- Cinza\n- Cinza Chumbo\n- Concreto\n- Marrom\n- Preto\n- Verde\n- Vermelho\n- Vermelho Demarcação\n\n**IMPORTANTE:**\n- NÃO envie lista completa de cores ao cliente\n- Se perguntarem cores: \"Temos 13 cores Suvinil e 14 Novacor. Posso confirmar se a cor que você quer está disponível, qual cor precisa?\"\n\n---\n\n### MASSA CORRIDA\n\n**O que é:** Massa para nivelar/alisar parede antes de pintar\n\n**Marca padrão:** TMC\n**Volumes:** 5,6kg e 23kg\n**Busca:** \"TMC MASSA CORRIDA 23KG BARRICA\"\n\n**Quando recomendar:**\nParede com imperfeições, antes de pintar, acabamento liso\n\n---\n\n### ESMALTES\n\n**O que é:** Tinta para madeira/metal, acabamento brilhante ou fosco\n\n**Hierarquia:**\n1. **TMC Esmalte** (só base água) - ⭐ PRIORIDADE\n2. **Suvinil Cor e Proteção** (base água ou solvente)\n   - Busca: \"SUVINIL ESMALTE COR E PROT\"\n\n**Base:**\n- Base água: mais fácil aplicar, sem cheiro forte, limpeza com água\n- Base solvente: mais durável, secagem mais rápida, cheiro forte\n\n**Orientação rendimento:**\n- 3,6L pinta 5 portas\n- 0,9L pinta 1 porta\n\n**Quando recomendar:**\nPintar porta, janela, portão, grade, ferro, madeira\n\n---\n\n### CIMENTO QUEIMADO\n\n**O que é:** Efeito decorativo que imita cimento queimado\n\n**Produto:** Suvinil Efeito Cimento Queimado\n**Tamanho:** APENAS 3,6L\n**Cores prontas:** Avenida Expressa, Dia de Chuva, Pedra Rosada, Selva de Pedra, Tunel de Concreto, Vista Noturna\n**Cores personalizadas:** Sim, tintométrico com acabamento \"MASSA PARA EFEITOS\"\n\n**Quando recomendar:**\nCliente quer efeito industrial, decorativo, parede destaque\n\n---\n\n### ROLOS\n\n#### BRASILEIRINHO (mais vendido)\n**O que é:** Rolo de lã sintética anti-respingo, TIGRE\n\n**Códigos por tamanho:**\n- **23cm** = TIGRE ROLO LA SINTETICA 1374-23 ANTIRRESPINGO\n- **15cm** = TIGRE ROLO LA SINTETICA 1375-15 ANTIRRESPINGO C/ SUPORTE\n- **9cm** = TIGRE ROLO LA SINTETICA 1375-09 ANTIRRESPINGO C/ SUPORTE\n\n**Quando recomendar:**\nCliente quer rolo de qualidade, anti-respingo, parede/teto\n\n---\n\n### FITA CREPE\n\n**Marca:** ADELBRAS\n**Tamanhos:** Larga (48mm) ou Média (24mm)\n**Busca:** \"ADELBRAS FITA CREPE\"\n\n**Quando recomendar:**\nProteger áreas que não vão pintar, acabamento, demarcação\n\n---\n\n### LIXA\n\n**Marca:** NORTON\n**Tipos:**\n- Lixa para massa (mais usada)\n- Lixa para ferro\n- Lixa d'água\n\n**Gramaturas comuns:** 80, 100, 120, 150, 180, 220\n\n**Quando recomendar:**\nLixar parede após massa, preparar superfície, acabamento\n\n---\n\n### FUNDO PREPARADOR\n\n**O que é:** Primer/selador que prepara superfície antes da tinta\n\n**Marcas:** Suvinil, TMC\n**Tipos:**\n- Para madeira (base água ou solvente)\n- Para parede (base água)\n\n**Quando recomendar:**\nMadeira nova, superfície porosa, aumentar aderência, economizar tinta\n\n---\n\n### TRINCHA / PINCEL\n\n**Marca:** TIGRE\n**Linha:** 500\n**Busca:** \"tigre trincha economica media 500\"\n\n**Quando recomendar:**\nPintar cantos, acabamento, áreas pequenas, portas\n\n---\n\n### PROTEÇÃO DE PINTURA\n\n#### PRIORIDADE: Salvabrás\n**O que é:** Produtos profissionais para proteger durante pintura\n\n**Linha completa:**\n- **Salvabrás Piso** - protege chão\n- **Salvabrás Pintura** - protege móveis\n- **Salvabrás Quina** - protege quinas\n- **Salvabrás Papel Kraft** - papel de proteção\n- **Salvabrás Obra** - lona para obra\n- **Salvabrás Rodapé** - protege rodapé\n- **Salvabrás Bancada** - protege bancada\n\n**ALTERNATIVAS** (só se Salvabrás não disponível):\n- **Lona preta:** R$5,50/m | 50m R$211,00 | 100m R$353,00\n- **Papelão ondulado:** R$7,50/m | 10m R$59,00 | 50m R$249,00 (sempre oferecer rolo fechado)\n\n**Quando recomendar:**\nSEMPRE oferecer em TODO orçamento de pintura\n\n---\n\n### EPOXY\n\n#### Epoxi Base Água\n**Marca:** Suvinil\n**Uso:** Piso interno, menos tóxico, limpeza com água\n\n#### Epoxi Base Solvente - Wandepoxy Coral\n**Características:**\n- Acabamento: sempre brilhante\n- Embalagem: 2,7L + Catalizador (vendidos separados)\n- Base: sempre solvente\n- **ESSENCIAL:** catalisador + diluente\n\n**Processo de aplicação:**\n1. Limpar e preparar superfície\n2. Misturar Wandepoxy + Catalisador (proporção na embalagem)\n3. Aplicar 2 demãos\n4. Usar diluente para limpeza\n\n**Quando recomendar:**\n- Piso de alta resistência (garagem, indústria)\n- Superfície que precisa muita durabilidade\n- Base solvente: mais durável que base água\n\n**IMPORTANTE:**\nSEMPRE avisar que precisa catalisador + diluente junto\n\n---\n\n## REGRAS DE RESPOSTA\n\n### Formato de Resposta:\n\nSeja **direto e objetivo**. Responda especificamente o que foi perguntado.\n\n**Estrutura:**\n\n```\n[Resposta direta à pergunta]\n\n[Detalhes relevantes - bullet points]\n\n[Recomendação se aplicável]\n```\n\n### Exemplos:\n\n**Query:** \"quais são as tintas intermediárias?\"\n\n**Resposta:**\n```\nTintas intermediárias (boa cobertura, sem lavabilidade):\n\n- Rende Super (TMC) - melhor custo-benefício\n- Rende e Cobre Muito (Suvinil)\n- Cobre Mais (Sherwin-Williams)\n- Rende Muito (Coral)\n\nRecomendo priorizar TMC Rende Super.\n```\n\n---\n\n**Query:** \"qual a diferença entre econômica e premium?\"\n\n**Resposta:**\n```\nPrincipais diferenças:\n\nECONÔMICA:\n- Menor preço\n- Cobertura básica (3-4 demãos)\n- NÃO lavável\n- Rendimento menor\n\nPREMIUM:\n- Preço mais alto\n- Excelente cobertura (1-2 demãos)\n- Lavável (algumas super laváveis)\n- Alto rendimento\n- Maior durabilidade\n\nSe cliente busca custo-benefício sem lavabilidade: considerar INTERMEDIÁRIA.\n```\n\n---\n\n**Query:** \"que cores de piso existem?\"\n\n**Resposta:**\n```\nTemos tintas para piso em 2 marcas:\n\n- Suvinil Piso: 13 cores\n- Sherwin Williams Novacor: 14 cores\n\nCores principais: Branco, Cinza, Cinza Escuro, Concreto, Amarelo/Vermelho Demarcação, Azul, Verde, Marrom, Preto, Cerâmica.\n\nQual cor você precisa? Confirmo se está disponível.\n```\n\n---\n\n**Query:** \"qual o código do brasileirinho 9cm?\"\n\n**Resposta:**\n```\nBrasileirinho 9cm:\n\nCódigo: TIGRE ROLO LA SINTETICA 1375-09 ANTIRRESPINGO C/ SUPORTE\n\nPara buscar preço use:\nTermoPesquisa: \"TIGRE ROLO LA SINTETICA 1375-09\"\n```\n\n---\n\n**Query:** \"o que preciso para usar wandepoxy?\"\n\n**Resposta:**\n```\nPara aplicar Wandepoxy você precisa:\n\nOBRIGATÓRIO:\n1. Wandepoxy Coral 2,7L (a tinta)\n2. Catalisador (vendido separado)\n3. Diluente (para limpeza)\n\nPROCESSO:\n1. Limpar superfície\n2. Misturar Wandepoxy + Catalisador (proporção na embalagem)\n3. Aplicar 2 demãos\n4. Usar diluente para limpar ferramentas\n\nIMPORTANTE: Base solvente, acabamento sempre brilhante.\n```\n\n---\n\n**Query:** \"qual tinta para pintar portão de ferro?\"\n\n**Resposta:**\n```\nPara portão de ferro use ESMALTE:\n\nPRIORIDADE:\n- TMC Esmalte (base água) - sem cheiro, fácil aplicar\n\nALTERNATIVA:\n- Suvinil Cor e Proteção (base água ou solvente)\n  Busca: \"SUVINIL ESMALTE COR E PROT\"\n\nBASE ÁGUA vs SOLVENTE:\n- Água: sem cheiro, limpeza fácil\n- Solvente: mais durável, cheiro forte\n\nPergunte ao cliente preferência de base.\n```\n\n---\n\n## CASOS ESPECIAIS\n\n### Se Pergunta Sobre Preço:\n```\nNão tenho acesso a preços.\nPara consultar preço, use a ferramenta buscar_produto_mc com os dados:\n[especificar dados necessários]\n```\n\n### Se Pergunta Vaga:\n```\nPreciso de mais contexto. O cliente mencionou:\n- Que superfície? (parede/piso/madeira/metal)\n- Qual ambiente? (interno/externo)\n- Qual necessidade? (durabilidade/lavabilidade/preço)\n```\n\n### Se Produto Não Existe:\n```\n[Produto X] não está no nosso catálogo.\n\nAlternativas similares:\n[listar produtos parecidos]\n```\n\n---\n\n## REGRAS RÍGIDAS\n\n### NÃO FAZER:\n- ❌ Conversar com cliente\n- ❌ Fazer perguntas ao cliente\n- ❌ Inventar produtos\n- ❌ Dar preços (use buscar_produto_mc)\n- ❌ Criar orçamentos\n- ❌ Recomendar produtos de outras lojas\n\n### SEMPRE FAZER:\n- ✅ Responder diretamente o que foi perguntado\n- ✅ Usar conhecimento do catálogo\n- ✅ Priorizar TMC quando possível\n- ✅ Ser preciso em códigos e especificações\n- ✅ Sugerir próximos passos quando aplicável\n\n---\n\n**FIM DO PROMPT**\n"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-1264,512],"id":"d4166076-b5a4-4d09-9fbf-085d20f6344f","name":"consultar_catalogo"}],"connections":{"If3":{"main":[[{"node":"Get Dados2","type":"main","index":0}],[{"node":"Gerar sessionID2","type":"main","index":0}]]},"Gerar sessionID2":{"main":[[{"node":"Create a row1","type":"main","index":0}]]},"Get Dados2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Create a row1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"If3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"dados_para_atendimento_humano","type":"main","index":0}]]},"dados_para_atendimento_humano":{"main":[[{"node":"Switch7","type":"main","index":0}]]},"Switch Block1":{"main":[[{"node":"Get a row","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Switch7":{"main":[[{"node":"PARA IA1","type":"main","index":0}],[{"node":"Verificar Atendimento1","type":"main","index":0}]]},"Verificar Atendimento1":{"main":[[{"node":"Switch Block1","type":"main","index":0}]]},"Loop Over Items5":{"main":[[{"node":"Delete Memory1","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"Text Memory2":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Audio Memory","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Switch2":{"main":[[],[{"node":"Text Memory2","type":"main","index":0}],[{"node":"Text Memory2","type":"main","index":0}],[{"node":"Text Memory2","type":"main","index":0}],[{"node":"Text Memory2","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"OpenAI8","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"OpenAI8":{"main":[[{"node":"Redis","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"orquestrador1","type":"ai_languageModel","index":0},{"node":"consultar_catalogo","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"orquestrador1","type":"ai_memory","index":0},{"node":"consultar_catalogo","type":"ai_memory","index":0}]]},"buscar_produto_mc":{"ai_tool":[[{"node":"orquestrador1","type":"ai_tool","index":0}]]},"preco_tintometrico":{"ai_tool":[[{"node":"orquestrador1","type":"ai_tool","index":0}]]},"Calculadora":{"ai_tool":[[{"node":"orquestrador1","type":"ai_tool","index":0}]]},"orquestrador1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"orquestrador1","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Compara Get Memory","type":"main","index":0}]]},"Compara Get Memory":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Call 'Métricas Marcel'","type":"main","index":0}]]},"Call 'Métricas Marcel'":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"avisar_vendedor":{"ai_tool":[[{"node":"orquestrador1","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"orquestrador1","type":"ai_tool","index":0}]]},"consultar_catalogo":{"ai_tool":[[{"node":"orquestrador1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Disparo programado":{"recurrenceRules":[]},"node:Cron":{"recurrenceRules":[]},"node:Cron1":{"recurrenceRules":[]},"node:Disparo Follow up":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"alberto-n8n-webhook.grupoinfinityoficial.com.br","user-agent":"axios/1.12.2","content-length":"1191","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"alberto-n8n-webhook.grupoinfinityoficial.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"760382de84e5","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Tatuapé","data":{"key":{"remoteJid":"5512988112870@s.whatsapp.net","remoteJidAlt":"127230202142790:56@lid","fromMe":false,"id":"3F720D36031E8E091A7A"},"pushName":"Miguel Nunes","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":37,"1":26,"2":174,"3":239,"4":151,"5":32,"6":164,"7":41,"8":17,"9":87},"senderTimestamp":1760292152,"recipientKeyHash":{"0":247,"1":5,"2":233,"3":17,"4":40,"5":197,"6":80,"7":173,"8":231,"9":128},"recipientTimestamp":1760452316},"deviceListMetadataVersion":2},"conversation":"ola"},"contextInfo":{"mentionedJid":[],"groupMentions":[],"expiration":0,"ephemeralSettingTimestamp":0,"disappearingMode":{"initiator":0}},"messageType":"conversation","messageTimestamp":1760452378,"instanceId":"d451d460-7d38-40f1-b92c-8b6532b9f101","source":"desktop"},"destination":"https://alberto-n8n-webhook.grupoinfinityoficial.com.br/webhook/Tatuapé","date_time":"2025-10-14T11:32:58.811Z","sender":"5511972727458@s.whatsapp.net","server_url":"https://alberto-evoapi.grupoinfinityoficial.com.br","apikey":"A005E3754A96-4CEB-967D-6B353349AA29"},"webhookUrl":"https://alberto-n8n-webhook.grupoinfinityoficial.com.br/webhook/Tatuapé","executionMode":"production"}}]},"versionId":"895cfd8f-528a-4f0f-bcca-07302e7a53ee","triggerCount":1,"shared":[{"updatedAt":"2025-10-24T17:19:41.999Z","createdAt":"2025-10-24T17:19:41.999Z","role":"workflow:owner","workflowId":"7tg6JwShSU4plvmU","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"updatedAt":"2025-10-31T13:40:20.241Z","createdAt":"2025-10-31T13:40:20.241Z","id":"uMxn0uWfEQ1aHbl6","name":"Tintasmc_Marcel"},{"updatedAt":"2025-10-24T13:13:00.659Z","createdAt":"2025-10-24T13:13:00.659Z","id":"jdWTcyESftbmJZGl","name":"Produção"}]}