7YNTflMbuhLGVtWr.json
{"updatedAt":"2025-12-22T17:02:59.744Z","createdAt":"2025-12-22T12:07:12.571Z","id":"7YNTflMbuhLGVtWr","name":"Workflow farmacia","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"8d7601ef-a842-4b68-859d-8d74bf5a648c","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  Codigo_Prd      AS codigo,\n  Desc_Prd        AS descricao,\n  PrcVenda_Prd    AS preco,\n  Laboratorio_Prd AS laboratorio,\n  Desc_Fam,\n  Desc_Dep,\n  Generico_Prd,\n  Controlado_Prd,\n  Antibiotico_Prd,\n\n  (\n    0\n    {{ $json.score_sql }}\n\n    -- 🔹 reforço se for medicamento\n    + CASE\n        WHEN '{{ $json.dominio_sugerido }}' = 'medicamento'\n         AND (\n           Desc_Fam IN (\n             'OTC','OTC LIBERADO','ANTICONCEPCIONAL','ANTIINFLAMATORIOS',\n             'ANTIBIOTICOS','ANTIVIRAIS','EXPECTORANTES',\n             'DOR DE CABECA E FEBRE','HIPERTENSAO','DIABETICOS',\n             'INSULINAS','BRONCODILATADOR','ANTIALERGICOS','ANTIFUNGICOS',\n             'XAROPES','SORO FISIOLOGICO','GENERICOS','SIMILAR CONTINUO'\n           )\n           OR Desc_Dep LIKE '%REFERENCIA%'\n           OR Desc_Dep LIKE '%GENERICO%'\n           OR Desc_Dep LIKE '%SIMILAR%'\n         )\n        THEN 0.8\n        ELSE 0\n      END\n\n    -- 🔹 reforço se for perfumaria\n    + CASE\n        WHEN '{{ $json.dominio_sugerido }}' = 'perfumaria'\n         AND Desc_Dep LIKE '%PERF%'\n        THEN 0.6\n        ELSE 0\n      END\n  ) AS score_total\n\nFROM produtos_kyz237jc\nWHERE Ativo_Prd = 'S'\n  AND PrcVenda_Prd > 0\n\nORDER BY score_total DESC\nLIMIT 10;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[336,0],"id":"b0346925-8012-42f0-a6ca-2e66aab9c497","name":"Execute a SQL query","credentials":{"mySql":{"id":"JlgW4ZiRRXy06WvG","name":"MySQL account"}}},{"parameters":{"jsCode":"return items.map(item => {\n\n  /* ---------- 1. Termo ---------- */\n  const termoOriginal = (item.json.TermoPesquisa || '').toString().trim();\n\n  const termo = termoOriginal\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase();\n\n  /* ---------- 2. Extrações farmacêuticas ---------- */\n\n  // dosagem: 500mg, 20ml, 1g\n  const matchDose = termo.match(/([0-9]+(?:[.,][0-9]+)?\\s*(mg|ml|g))/i);\n  const dosagem = matchDose ? matchDose[1] : '';\n\n  // quantidade: 30 comprimidos / 30cpr\n  const matchQtd = termo.match(/(\\d+)\\s*(cpr|cp|comprimidos?|capsulas?)/i);\n  const quantidade = matchQtd ? matchQtd[1] : '';\n\n  // forma farmacêutica\n  const forma =\n    termo.includes('comprimid') || termo.includes('cpr') ? 'comprimido' :\n    termo.includes('capsul') ? 'capsula' :\n    termo.includes('xarope') ? 'xarope' :\n    termo.includes('gel') ? 'gel' :\n    termo.includes('spray') ? 'spray' :\n    '';\n\n  // princípio ativo (heurística simples baseada no texto)\n  const palavras = termo\n    .split(/\\s+/)\n    .filter(p => p.length > 3 && !p.match(/[0-9]/));\n\n  const principio_ativo = palavras.length ? palavras[0] : '';\n\n  /* ---------- 3. Domínio sugerido (APENAS para score, não para filtro) ---------- */\n  let dominio_sugerido = 'indefinido';\n\n  if (termo.match(/(mg|\\d+mg|\\d+ml|cpr|comprimid|capsul|xarope|dipirona|acetamol|ibuprofeno|amoxicilina)/)) {\n    dominio_sugerido = 'medicamento';\n  } else if (termo.match(/(shampoo|condicionador|hidratante|sabonete|creme|perfume|desodorante)/)) {\n    dominio_sugerido = 'perfumaria';\n  }\n\n  /* ---------- 4. Score SQL (ranking, não bloqueio) ---------- */\n  let score_sql = '';\n\n  if (principio_ativo) {\n    score_sql += ` + (CASE WHEN LOWER(Desc_Prd) LIKE '%${principio_ativo}%' THEN 1.0 ELSE 0 END)`;\n  }\n\n  if (dosagem) {\n    score_sql += ` + (CASE WHEN LOWER(Desc_Prd) LIKE '%${dosagem}%' THEN 0.8 ELSE 0 END)`;\n  }\n\n  if (forma === 'comprimido') {\n    score_sql += ` + (CASE WHEN Desc_Prd REGEXP 'CPR|CP ' THEN 0.4 ELSE 0 END)`;\n  }\n\n  if (quantidade) {\n    score_sql += ` + (CASE WHEN Desc_Prd REGEXP '${quantidade}CPR|${quantidade} CPR' THEN 0.6 ELSE 0 END)`;\n  }\n\n  // penaliza combinações (ex: dipirona + cafeína)\n  score_sql += ` - (CASE WHEN Desc_Prd LIKE '%+%' THEN 0.4 ELSE 0 END)`;\n\n  /* ---------- 5. Saída ---------- */\n  return {\n    json: {\n      termo: termoOriginal,\n      principio_ativo,\n      dosagem,\n      quantidade,\n      forma,\n      dominio_sugerido,\n      score_sql\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,0],"id":"6ada61d7-5d44-4ba6-adbb-4d45b5122d2b","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM ped_empresasconfig LIMIT 5;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[256,-176],"id":"9c914209-004e-47d8-8fee-847a00c4ad8e","name":"Execute a SQL query1","credentials":{"mySql":{"id":"JlgW4ZiRRXy06WvG","name":"MySQL account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Execute a SQL query":{"main":[[]]},"Code in JavaScript":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{"TermoPesquisa":"dipirona 500mg 30 comprimidos"}}]},"versionId":"3845bb0c-1240-4787-9e64-69bc461fb6c4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-22T12:07:12.571Z","createdAt":"2025-12-22T12:07:12.571Z","role":"workflow:owner","workflowId":"7YNTflMbuhLGVtWr","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":null,"tags":[]}