aSIYHUz6uOXPKs0p.json
{"updatedAt":"2025-11-03T17:26:06.080Z","createdAt":"2025-11-03T17:23:52.524Z","id":"aSIYHUz6uOXPKs0p","name":"Followup Alberto","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,-480],"id":"63494bf0-30e3-482b-ba55-8878c253a72b","name":"If"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","tableId":"dados_cliente_tmc","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Loop Over Items6').item.json.telefone }}"},{"fieldId":"Loja","fieldValue":"067"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-352,-304],"id":"93a2a2cd-7dd5-40c5-97eb-f796b8a18559","name":"Create a row2","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-64,-272],"id":"bb81b895-8827-42b3-a9e2-82af13c6caec","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"promptType":"define","text":"=Gere uma mensagem personalizada de follow-up.\n\nDados do cliente:  \n- Nome ou Empresa:  {{ $json.Nome_Cliente }} \n- Valor do pedido: R$ {{ $json.Valor_Pedido }} \n- Produtos:  {{ $json.Produtos }}\n- Etapa: {{ $json.Etapa }} (24h, 7d, 15d, 30d, etc.)\n\nRegras:  \n- Se for empresa, trate como equipe. Se for pessoa, no singular. \n-Se apresente como {{ $json.vendedor }}\n- Cite de forma leve o tipo de compra, sem listar tudo.  \n- Use gatilho mental conforme a etapa (urgência, confiança, conveniência).  \n- Finalize com CTA.\n","options":{"systemMessage":"=Você é TARS, um assistente comercial especializado em gerar mensagens de follow-up inteligentes e naturais para WhatsApp.  \nSeu papel é reengajar clientes que já compraram em lojas de tintas e materiais, aumentando a chance de novas vendas sem soar robótico.  \n\nRegras principais:  \n- Sempre usar tom consultivo, amigável e direto.  \n- Personalize a abordagem conforme os dados recebidos (nome/empresa, valor do pedido, tipo de produtos, etapa do follow-up).  \n- Se for pessoa física → trate no singular (“você”).  \n- Se for empresa → trate no coletivo (“vocês/equipe”).  \n- Use ganchos de abertura (“Oi, tudo bem?”, “Bom dia, equipe!”).  \n- Cite de forma leve o que foi comprado (sem listar todos os itens, só dar a sensação de lembrança).  \n- Adapte o gatilho mental de acordo com a etapa:  \n  • 24h → urgência / não deixar faltar nada.  \n  • 7d → confiança / satisfação com o resultado.  \n  • 15d → conveniência / complementos úteis.  \n  • 30d → novidade / promoções e oportunidades.  \n  • 45d → benefício / facilidades de entrega ou condição especial.  \n  • 60d → relacionamento / convite aberto para próxima compra.  \n- Sempre finalize com um CTA simples que convide resposta.\n- Mensagens curtas, máximo 5 linhas.  \n- Linguagem humana, nunca robótica.  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[48,-496],"id":"b1697a87-7469-4f0c-8431-af07dbd8db67","name":"AI Agent1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields2').first().json.sessionid }}","tableName":"n8n_chat_histories_tmc"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[80,-272],"id":"c7dfae7c-363f-49d5-98dd-2858cd99d293","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"b0cf651d-9949-4f7f-a51b-c6dd56464f31","name":"Nome_Cliente","value":"={{ $('Loop Over Items6').item.json.nome_cliente }}","type":"string"},{"id":"4523601c-a9ed-419e-881b-4dfd533f4dcd","name":"Valor_Pedido","value":"={{ $('Loop Over Items6').item.json.total_pedido }}","type":"string"},{"id":"8ca03ac5-5d7b-467f-9571-b7276be9a627","name":"Produtos","value":"={{ JSON.stringify($('Loop Over Items6').item.json.produtos) }}","type":"string"},{"id":"546f2dfb-6e6e-4aa7-aafa-863006f9b1cb","name":"Etapa","value":"={{ $('Loop Over Items6').item.json.etapa }}","type":"string"},{"id":"3a4af637-c9f0-4feb-b070-34f259763f5f","name":"Telefone_Cliente","value":"={{ $('Loop Over Items6').item.json.telefone }}","type":"string"},{"id":"71609d23-7bd3-4de4-bdc6-41be1fcfb3b2","name":"vendedor","value":"={{ $('Loop Over Items6').item.json.vendedor.split(\" \")[0] }}","type":"string"},{"id":"194afb7b-9a81-4718-b0bc-b2fb2ad4ce37","name":"sessionid","value":"={{ $json.sessionid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,-496],"id":"5ae0640f-5342-4a5f-afc8-438e9e655ee6","name":"Edit Fields2"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1120,-480],"id":"2213f722-f8b5-4f5f-a92d-c7ab38d9149f","name":"Supabase1","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-560,-304],"id":"68901682-6425-42ca-bb66-49bedc5e7a66","name":"Gerar sessionID1"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Loop Over Items6').item.json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-464,-496],"id":"51d30daa-fd6f-4564-8955-551e9b40e834","name":"Get Dados1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1440,-496],"id":"fe75357b-df00-4176-a6e6-92db42a56708","name":"Loop Over Items6"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"TMC_Alberto\".disparos\n(\n  telefone_cliente,\n  codigo_vendedor,\n  telefone_vendedor,\n  etapa,\n  nome_cliente,\n  numero_loja,\n  codigo_cliente,  -- ← ADICIONADO\n  data_disparo\n)\nVALUES\n(\n  '{{ $json.Telefone }}',\n  '{{ $json[\"codigo vendedor\"] }}',\n  '{{ $json[\"telefone vendedor\"] }}',\n  '{{ $json.Etapa }}',\n  '{{ $json[\"Nome cliente\"] }}',\n  '{{ $json[\"numero loja\"] }}',\n  '{{ $json[\"codigo cliente\"] }}',  -- ← ADICIONADO\n  NOW()\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1392,-496],"id":"5805c32e-838a-48aa-9cae-e43a76fe3292","name":"Save Disparo1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"06a3f128-16c7-49dc-8433-527da6f96a0b","name":"Telefone","value":"={{ $('Check DB').item.json.telefone }}","type":"string"},{"id":"c30766bf-6eba-4a42-9182-e4e7f98cef5a","name":"codigo vendedor","value":"={{ $('Check DB').item.json.codigo_vendedor }}","type":"string"},{"id":"49d04c63-b3b8-47de-be23-95bc827d7f2f","name":"telefone vendedor","value":"={{ $('Check DB').item.json.telefone_vendedor }}","type":"string"},{"id":"10435019-f3d0-43e3-8b08-e70d8fb964b6","name":"Etapa","value":"={{ $('Check DB').item.json.etapa }}","type":"string"},{"id":"7fffda7d-e35d-42d6-9730-b27c9ed16172","name":"Nome cliente","value":"={{ $('Check DB').item.json.nome_cliente }}","type":"string"},{"id":"c8493207-54ee-4614-841c-c4ff1a78c7b1","name":"numero loja","value":"={{ $('Check DB').item.json.numero_loja }}","type":"string"},{"id":"1085935d-696f-4a1c-b5c4-36b097819c6b","name":"codigo cliente","value":"={{ $('Check DB').item.json.codigo_cliente }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,-496],"id":"9478dc3d-18c1-43cb-9a5e-77830297485b","name":"Prep Save"},{"parameters":{"content":"# JARDIM GUEDALA\n\n\n","height":976,"width":3968,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-2000,-880],"typeVersion":1,"id":"eed247d7-6fe7-4a43-922e-dbad4924265f","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"63e56ec3-61c9-45ac-a204-029a204048e3","name":"Vendedor","value":"={{ $('Edit Fields2').first().json.vendedor }}","type":"string"},{"id":"74408f42-21c7-4e44-a816-515a64e8ff07","name":"nome","value":"={{ $('Edit Fields2').first().json.Nome_Cliente }}","type":"string"},{"id":"af085947-8e2d-4671-adf7-aab4a4a1d321","name":"telefone","value":"={{ $('Edit Fields2').item.json.Telefone_Cliente }}","type":"string"},{"id":"32b15209-f22a-46af-ae22-0f0d7430ba63","name":"Mensagem","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,-496],"id":"d10bcee3-b7a0-48cb-96db-40e0cabc370c","name":"Verifica vendedor1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9255168d-fe72-4972-9476-b87cbc602363","leftValue":"={{ $json.Vendedor }}","rightValue":"DANIEL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Daniel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Vendedor }}","rightValue":"=RENATO","operator":{"type":"string","operation":"equals"},"id":"a8a464de-8d40-41b5-ade1-24a9594c6203"}],"combinator":"and"},"renameOutput":true,"outputKey":"Renato"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6f1f3d60-e433-459c-a828-bf709a8e3994","leftValue":"={{ $json.Vendedor }}","rightValue":"KAWAN","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Kawan"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98becda3-c797-40ca-a2b2-77fb384dad49","leftValue":"={{ $json.Vendedor }}","rightValue":"EDIELSON","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"EDIELSON"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[512,-528],"id":"ffe005e3-c20e-4d88-a9ca-56a519eeb3fc","name":"Switch1"},{"parameters":{"resource":"messages-api","instanceName":"=IA GUEDALA","remoteJid":"=55{{ $json.telefone }}@s.whatsapp.net","messageText":"={{ $('AI Agent1').first().json.output }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[912,-736],"id":"614f56c3-39ec-4b61-b43f-5a67c921c4f5","name":"DANIEL","credentials":{"evolutionApi":{"id":"hpBplmDvzRfsxlOa","name":"IA GUEDALA"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT ON (p.telefone, p.numero_loja)\n  p.*,\n  CASE\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '1 day' THEN '24h'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '7 day' THEN '7d'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '15 day' THEN '15d'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '30 day' THEN '30d'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '45 day' THEN '45d'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '60 day' THEN '60d'\n  END as etapa\nFROM \"TMC_Alberto\".pedidos p\nWHERE p.data::date IN (\n  CURRENT_DATE - INTERVAL '1 day',\n  CURRENT_DATE - INTERVAL '7 day',\n  CURRENT_DATE - INTERVAL '15 day',\n  CURRENT_DATE - INTERVAL '30 day',\n  CURRENT_DATE - INTERVAL '45 day',\n  CURRENT_DATE - INTERVAL '60 day'\n)\nAND p.numero_loja = '173'  -- ← FILTRO POR LOJA ESPECÍFICA\nAND NOT EXISTS (\n  SELECT 1\n  FROM \"TMC_Alberto\".pedidos p2\n  WHERE p2.telefone = p.telefone\n    AND p2.numero_loja = p.numero_loja\n    AND p2.data > p.data\n)\nAND NOT EXISTS (\n  SELECT 1\n  FROM \"TMC_Alberto\".disparos d\n  WHERE d.telefone_cliente = p.telefone\n  AND d.numero_loja = p.numero_loja\n  AND d.etapa = CASE\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '1 day' THEN '24h'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '7 day' THEN '7d'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '15 day' THEN '15d'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '30 day' THEN '30d'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '45 day' THEN '45d'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '60 day' THEN '60d'\n    END\n)\nORDER BY p.telefone, p.numero_loja, p.data DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1680,-496],"id":"f48ffcf2-11cd-4505-8168-fdaf653e0533","name":"Check DB","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1888,-496],"id":"57935b4d-8f9b-4b8b-8075-ff17e325b7d5","name":"Disparo Follow up"},{"parameters":{"resource":"messages-api","instanceName":"=TMC Guedala - KAWAN SOUZA CONCEICAO","remoteJid":"=55{{ $json.telefone }}@s.whatsapp.net","messageText":"={{ $('AI Agent1').first().json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[912,-496],"id":"ffa10d38-8c71-4625-8ef9-0232ab597e2d","name":"KAWAN/RENATO","credentials":{"evolutionApi":{"id":"oJCe1LYhBX1o9iEY","name":"KAWAN"}},"onError":"continueErrorOutput"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1712,-496],"id":"a334d9b4-ab9f-455f-b484-87c631424857","name":"Wait4","webhookId":"8e067373-46f9-4c3d-8a0b-d70a422674fa"},{"parameters":{"assignments":{"assignments":[{"id":"06a3f128-16c7-49dc-8433-527da6f96a0b","name":"Telefone","value":"={{ $('Check DB').item.json.telefone }}","type":"string"},{"id":"c30766bf-6eba-4a42-9182-e4e7f98cef5a","name":"codigo vendedor","value":"={{ $('Check DB').item.json.codigo_vendedor }}","type":"string"},{"id":"49d04c63-b3b8-47de-be23-95bc827d7f2f","name":"telefone vendedor","value":"={{ $('Check DB').item.json.telefone_vendedor }}","type":"string"},{"id":"10435019-f3d0-43e3-8b08-e70d8fb964b6","name":"Etapa","value":"={{ $('Check DB').item.json.etapa }}","type":"string"},{"id":"7fffda7d-e35d-42d6-9730-b27c9ed16172","name":"Nome cliente","value":"={{ $('Check DB').item.json.nome_cliente }}","type":"string"},{"id":"c8493207-54ee-4614-841c-c4ff1a78c7b1","name":"numero loja","value":"={{ $('Check DB').item.json.numero_loja }}","type":"string"},{"id":"1acc01db-e84d-4dab-beab-ac17bbd41503","name":"=Concluido","value":"={{ $json.success }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,-496],"id":"7fbb460a-55b9-4d79-b7e1-bcd0414b21df","name":"Envia dados"},{"parameters":{"jsCode":"// Input vindo do \"done\" do Loop Over no n8n\nconst input = items.map(i => i.json);\n\n// Loja fixa\nconst numeroLoja = 173;\n\n// Pegar data atual formatada (ex: 22/10/2025)\nconst hoje = new Date();\nconst dataHoje = hoje.toLocaleDateString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" });\n\n// Inicialização\nlet total = 0;\nlet sucesso = 0;\nlet erro = 0;\nlet etapas = {};\nlet clientesAtrasados = [];\nlet listaErros = [];\n\n// Função para extrair número de erro\nfunction extrairNumeroErro(errorData) {\n  try {\n    const errorObj = typeof errorData === 'string' ? JSON.parse(errorData) : errorData;\n    const details = errorObj?.details || \"\";\n    const match = details.match(/\"number\":\"(\\d+)@/);\n    return match ? match[1] : null;\n  } catch {\n    return null;\n  }\n}\n\n// Processar registros\nfor (const registro of input) {\n  total++;\n  \n  const temErro = registro.error || \n                  registro.success === false || \n                  registro.sucess === false ||\n                  registro.sucess === \"false\" ||\n                  registro.success === \"false\";\n  \n  const temSucesso = registro.Concluido === \"true\" || \n                     registro.concluido === true ||\n                     registro.success === true ||\n                     registro.sucess === true ||\n                     (!temErro && (registro.Telefone || registro.telefone));\n  \n  if (temErro) {\n    erro++;\n    const numeroErro = extrairNumeroErro(registro.error);\n    \n    const codigoCliente = registro[\"codigo cliente\"] || registro.codigo_cliente || null;\n    const nomeCliente = registro[\"Nome cliente\"] || registro.nome_cliente || null;\n    const telefone = registro.Telefone || registro.telefone || null;\n    \n    listaErros.push({\n      codigoCliente: codigoCliente,\n      nomeCliente: nomeCliente,\n      numero: numeroErro || telefone || \"Número não identificado\"\n    });\n  } else if (temSucesso) {\n    sucesso++;\n  }\n  \n  const etapa = registro.Etapa || registro.etapa;\n  if (etapa) {\n    etapas[etapa] = (etapas[etapa] || 0) + 1;\n    \n    const dias = parseInt(etapa.replace(\"d\", \"\").replace(\"h\", \"\")) || 0;\n    if (dias > 30) {\n      const clienteNome = registro[\"Nome cliente\"] || registro.nome_cliente || \"Não identificado\";\n      clientesAtrasados.push({\n        cliente: clienteNome,\n        etapa\n      });\n    }\n  }\n}\n\nconst pctSucesso = total > 0 ? ((sucesso / total) * 100).toFixed(2) : \"0.00\";\nconst pctErro = total > 0 ? ((erro / total) * 100).toFixed(2) : \"0.00\";\n\nlet msg = `📊 *Relatório de Disparos* – Loja ${numeroLoja}\\n`;\nmsg += `🗓 Data: ${dataHoje}\\n\\n`;\nmsg += `✅ Sucessos: *${sucesso}* (${pctSucesso}%)\\n`;\nmsg += `❌ Erros: *${erro}* (${pctErro}%)\\n`;\nmsg += `📨 Total de disparos: *${total}*\\n\\n`;\nmsg += `📌 *Distribuição por etapas:*\\n`;\n\nfor (const [etapa, qtd] of Object.entries(etapas)) {\n  msg += `• ${etapa}: ${qtd}\\n`;\n}\nmsg += `\\n`;\n\nif (clientesAtrasados.length > 0) {\n  msg += `⚠️ *Clientes acima de 30 dias (já receberam todos follow-ups):*\\n`;\n  clientesAtrasados.forEach(c => {\n    msg += `- ${c.cliente} (${c.etapa})\\n`;\n  });\n  msg += `\\n`;\n}\n\nif (listaErros.length > 0) {\n  msg += `🚫 *Números com erro:* \\n`;\n  listaErros.forEach(e => {\n    let identificacao;\n    \n    if (e.codigoCliente && e.nomeCliente) {\n      identificacao = `${e.nomeCliente} (Cód: ${e.codigoCliente})`;\n    } else if (e.codigoCliente) {\n      identificacao = `Cód: ${e.codigoCliente}`;\n    } else if (e.nomeCliente) {\n      identificacao = e.nomeCliente;\n    } else {\n      identificacao = \"Cliente não identificado\";\n    }\n    \n    msg += `- ${identificacao}: ${e.numero}\\n`;\n  });\n}\n\nreturn [{ json: { mensagem: msg } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,-672],"id":"878a335e-df75-4d5b-a31a-36483d92dad5","name":"Code in JavaScript"},{"parameters":{"resource":"messages-api","instanceName":"=Miguel teste","remoteJid":"=5511940662846@s.whatsapp.net","messageText":"={{$json.mensagem}}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-848,-672],"id":"de28d3d7-72cf-41e7-b198-fe2776be5e3b","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}}},{"parameters":{"assignments":{"assignments":[{"id":"a4dbb6a8-6bc2-4c72-ad0d-b6e29dbbdde2","name":"Telefone","value":"={{ $('Check DB').item.json.telefone }}","type":"string"},{"id":"50fd4e28-3a57-4bbe-bb65-7492054bb8dc","name":"codigo vendedor","value":"={{ $('Check DB').item.json.codigo_vendedor }}","type":"string"},{"id":"b0097210-e3ed-4dbc-a993-e0f14da86cc2","name":"telefone vendedor","value":"={{ $('Check DB').item.json.telefone_vendedor }}","type":"string"},{"id":"fe0b3548-3874-4079-93c0-def014c35eac","name":"Etapa","value":"={{ $('Check DB').item.json.etapa }}","type":"string"},{"id":"b9012f92-8642-4038-8a67-d81c873b1062","name":"Nome cliente","value":"={{ $('Check DB').item.json.nome_cliente }}","type":"string"},{"id":"00bb6a14-2843-4264-b900-1aac20da10a5","name":"numero loja","value":"={{ $('Check DB').item.json.numero_loja }}","type":"string"},{"id":"4f8b6804-53dd-4060-a961-2d50677038bd","name":"codigo cliente","value":"={{ $('Check DB').item.json.codigo_cliente }}","type":"string"},{"id":"560e0e4f-b545-4566-aa86-7a231955933e","name":"error","value":"={{ $json.error }}","type":"string"},{"id":"91d6d74c-49a3-4b48-bb69-ba9119b2b051","name":"=sucess","value":"={{ $json.success }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,-144],"id":"0801fb8a-0dc7-4784-a25d-abed68ba0a64","name":"Prep Error Data1"},{"parameters":{"resource":"messages-api","instanceName":"=TMC GUEDALA - EDIELSON","remoteJid":"=55{{ $json.telefone }}@s.whatsapp.net","messageText":"={{ $('AI Agent1').first().json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[912,-288],"id":"11108516-8140-4fce-9324-d3f8dbaee24e","name":"EDIELSON","credentials":{"evolutionApi":{"id":"xqwAM6Guzrfd6eGh","name":"Edielson"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"06a3f128-16c7-49dc-8433-527da6f96a0b","name":"Telefone","value":"={{ $('Check DB1').item.json.telefone }}","type":"string"},{"id":"c30766bf-6eba-4a42-9182-e4e7f98cef5a","name":"codigo vendedor","value":"={{ $('Check DB1').item.json.codigo_vendedor }}","type":"string"},{"id":"49d04c63-b3b8-47de-be23-95bc827d7f2f","name":"telefone vendedor","value":"={{ $('Check DB1').item.json.telefone_vendedor }}","type":"string"},{"id":"10435019-f3d0-43e3-8b08-e70d8fb964b6","name":"Etapa","value":"={{ $('Check DB1').item.json.etapa }}","type":"string"},{"id":"7fffda7d-e35d-42d6-9730-b27c9ed16172","name":"Nome cliente","value":"={{ $('Check DB1').item.json.nome_cliente }}","type":"string"},{"id":"c8493207-54ee-4614-841c-c4ff1a78c7b1","name":"numero loja","value":"={{ $('Check DB1').item.json.numero_loja }}","type":"string"},{"id":"f105183f-f148-42a4-91a3-3cae1b1b2c89","name":"=codigo cliente","value":"={{ $('Check DB1').item.json.codigo_cliente }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,672],"id":"0eec94cb-7de9-4179-a5da-9ff6f5c3c104","name":"Prep Save1"},{"parameters":{"assignments":{"assignments":[{"id":"c5a3a81a-5036-40c9-ba86-f41effd1c789","name":"Vendedor","value":"={{ $('Edit Fields').first().json.vendedor }}","type":"string"},{"id":"5451a0bf-0fd8-402e-a7e5-454f3a551ec8","name":"nome","value":"={{ $('Edit Fields').first().json.Nome_Cliente }}","type":"string"},{"id":"ef387423-23b8-4a9d-9116-d178590cfd8c","name":"telefone","value":"={{ $('Edit Fields').first().json.Telefone_Cliente }}","type":"string"},{"id":"b4ed1d47-2f53-416d-b736-d574765ab405","name":"mensagem ","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,672],"id":"21d50c2d-376e-46a1-879e-739e5e357f38","name":"Verifica Vendedor1"},{"parameters":{"resource":"messages-api","instanceName":"=TMC Mascote - LUCAS MANIERE DE SOUSA ALMEIDA","remoteJid":"=55{{$json.telefone}}@s.whatsapp.net","messageText":"={{ $('AI Agent').first().json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,432],"id":"4b3741ab-b7f7-4cdf-9e6a-85adb2fcde18","name":"LUCAS","credentials":{"evolutionApi":{"id":"9f3ai3PnQoGzMz9E","name":"LUCAS"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"=IA VILA MASCOTE","remoteJid":"=55{{ $json.telefone }}@s.whatsapp.net","messageText":"={{ $('AI Agent').first().json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,688],"id":"c2075928-1b4f-413a-a546-b2c5ca21c7d2","name":"GUSTAVO","credentials":{"evolutionApi":{"id":"LlHCXpvXJgNYaO2K","name":"IA VILA MASCOTE"}},"onError":"continueErrorOutput"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1872,672],"id":"f4b662a8-aec1-491c-83b6-4a88b8ee1a4f","name":"Wait11","webhookId":"8e067373-46f9-4c3d-8a0b-d70a422674fa"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT ON (p.telefone, p.numero_loja)\n  p.*,\n  CASE\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '1 day' THEN '24h'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '7 day' THEN '7d'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '15 day' THEN '15d'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '30 day' THEN '30d'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '45 day' THEN '45d'\n    WHEN p.data::date = CURRENT_DATE - INTERVAL '60 day' THEN '60d'\n  END as etapa\nFROM \"TMC_Alberto\".pedidos p\nWHERE p.data::date IN (\n  CURRENT_DATE - INTERVAL '1 day',\n  CURRENT_DATE - INTERVAL '7 day',\n  CURRENT_DATE - INTERVAL '15 day',\n  CURRENT_DATE - INTERVAL '30 day',\n  CURRENT_DATE - INTERVAL '45 day',\n  CURRENT_DATE - INTERVAL '60 day'\n)\nAND p.numero_loja = '191'  -- ← FILTRO POR LOJA ESPECÍFICA\nAND NOT EXISTS (\n  SELECT 1\n  FROM \"TMC_Alberto\".pedidos p2\n  WHERE p2.telefone = p.telefone\n    AND p2.numero_loja = p.numero_loja\n    AND p2.data > p.data\n)\nAND NOT EXISTS (\n  SELECT 1\n  FROM \"TMC_Alberto\".disparos d\n  WHERE d.telefone_cliente = p.telefone\n  AND d.numero_loja = p.numero_loja\n  AND d.etapa = CASE\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '1 day' THEN '24h'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '7 day' THEN '7d'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '15 day' THEN '15d'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '30 day' THEN '30d'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '45 day' THEN '45d'\n      WHEN p.data::date = CURRENT_DATE - INTERVAL '60 day' THEN '60d'\n    END\n)\nORDER BY p.telefone, p.numero_loja, p.data DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1680,672],"id":"87decbc1-39b1-47d4-b294-2137e049d406","name":"Check DB1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,688],"id":"454d2ef6-c4e2-4e04-8bd6-f64e2337dca0","name":"If1"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","tableId":"dados_cliente_tmc","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Loop Over Items').item.json.telefone }}"},{"fieldId":"Loja","fieldValue":"067"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-480,896],"id":"279588a2-1f58-42ff-8663-e0d629ee7df1","name":"Create a row","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,896],"id":"ba377113-d1be-44a2-a406-660b3a59016d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"promptType":"define","text":"=Gere uma mensagem personalizada de follow-up.\n\nDados do cliente:  \n- Nome ou Empresa:  {{ $json.Nome_Cliente }} \n- Valor do pedido: R$ {{ $json.Valor_Pedido }} \n- Produtos:  {{ $json.Produtos }}\n- Etapa: {{ $json.Etapa }} (24h, 7d, 15d, 30d, etc.)\n\nRegras:  \n- Se for empresa, trate como equipe. Se for pessoa, no singular. \n-Se apresente como {{ $json.vendedor }}\n- Cite de forma leve o tipo de compra, sem listar tudo.  \n- Use gatilho mental conforme a etapa (urgência, confiança, conveniência).  \n- Finalize com CTA.\n","options":{"systemMessage":"=Você é TARS, um assistente comercial especializado em gerar mensagens de follow-up inteligentes e naturais para WhatsApp.  \nSeu papel é reengajar clientes que já compraram em lojas de tintas e materiais, aumentando a chance de novas vendas sem soar robótico.  \n\nRegras principais:  \n- Sempre usar tom consultivo, amigável e direto.  \n- Personalize a abordagem conforme os dados recebidos (nome/empresa, valor do pedido, tipo de produtos, etapa do follow-up).  \n- Se for pessoa física → trate no singular (“você”).  \n- Se for empresa → trate no coletivo (“vocês/equipe”).  \n- Use ganchos de abertura (“Oi, tudo bem?”, “Bom dia, equipe!”).  \n- Cite de forma leve o que foi comprado (sem listar todos os itens, só dar a sensação de lembrança).  \n- Adapte o gatilho mental de acordo com a etapa:  \n  • 24h → urgência / não deixar faltar nada.  \n  • 7d → confiança / satisfação com o resultado.  \n  • 15d → conveniência / complementos úteis.  \n  • 30d → novidade / promoções e oportunidades.  \n  • 45d → benefício / facilidades de entrega ou condição especial.  \n  • 60d → relacionamento / convite aberto para próxima compra.  \n- Sempre finalize com um CTA simples que convide resposta.\n- Mensagens curtas, máximo 5 linhas.  \n- Linguagem humana, nunca robótica.  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[80,672],"id":"f02b0e1c-b148-4ab3-b0df-6faf1d89f848","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').first().json.sessionid }}","tableName":"n8n_chat_histories_tmc"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[224,896],"id":"b5eecd50-ee42-493b-9e67-ca667cd4a95a","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"b0cf651d-9949-4f7f-a51b-c6dd56464f31","name":"Nome_Cliente","value":"={{ $('Loop Over Items').item.json.nome_cliente }}","type":"string"},{"id":"4523601c-a9ed-419e-881b-4dfd533f4dcd","name":"Valor_Pedido","value":"={{ $('Loop Over Items').item.json.total_pedido }}","type":"string"},{"id":"8ca03ac5-5d7b-467f-9571-b7276be9a627","name":"Produtos","value":"={{ JSON.stringify($('Loop Over Items').item.json.produtos) }}","type":"string"},{"id":"546f2dfb-6e6e-4aa7-aafa-863006f9b1cb","name":"Etapa","value":"={{ $('Loop Over Items').item.json.etapa }}","type":"string"},{"id":"3a4af637-c9f0-4feb-b070-34f259763f5f","name":"Telefone_Cliente","value":"={{ $('Loop Over Items').item.json.telefone }}","type":"string"},{"id":"71609d23-7bd3-4de4-bdc6-41be1fcfb3b2","name":"vendedor","value":"={{ $('Loop Over Items').item.json.vendedor.split(\" \")[0] }}","type":"string"},{"id":"4eae7af1-ea84-4d8d-9c1d-80786a8549f9","name":"sessionid","value":"={{ $json.sessionid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,672],"id":"f77aa6c9-da5a-47f1-ae9d-2fed447f7de5","name":"Edit Fields"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1024,688],"id":"cb294cd8-516c-471d-93ae-eedae982caeb","name":"Supabase","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-624,896],"id":"e3260a5d-acd6-4f3c-91e9-dc399653f1b1","name":"Gerar sessionID"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"dados_cliente_tmc","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Loop Over Items').item.json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-544,672],"id":"1776ab74-96e8-4344-bd30-2ad41c7a5469","name":"Get Dados","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1248,672],"id":"41f18b2f-d356-4633-911d-7dd1fe8008f9","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"TMC_Alberto\".disparos\n(\n  telefone_cliente,\n  codigo_vendedor,\n  telefone_vendedor,\n  etapa,\n  nome_cliente,\n  numero_loja,\n  codigo_cliente,  -- ← ADICIONADO\n  data_disparo\n)\nVALUES\n(\n  '{{ $json.Telefone }}',\n  '{{ $json[\"codigo vendedor\"] }}',\n  '{{ $json[\"telefone vendedor\"] }}',\n  '{{ $json.Etapa }}',\n  '{{ $json[\"Nome cliente\"] }}',\n  '{{ $json[\"numero loja\"] }}',\n  '{{ $json[\"codigo cliente\"] }}',  -- ← ADICIONADO\n  NOW()\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1520,672],"id":"7ae61c79-f74c-4c26-9e3c-b98558b2cfb2","name":"Save Disparo","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"content":"# VILA MASCOTE\n\n","height":976,"width":4032,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2000,288],"typeVersion":1,"id":"f888cb16-d5e3-49ab-a317-4636f3697174","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Vendedor }}","rightValue":"LUCAS","operator":{"type":"string","operation":"equals"},"id":"f248a230-231d-4f1d-abd9-07c436b9a988"}],"combinator":"and"},"renameOutput":true,"outputKey":"LUCAS MANIERI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ede1c39-1bc1-467f-8752-b3f66d97b701","leftValue":"={{ $json.Vendedor }}","rightValue":"GUSTAVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GUSTAVO CAMILO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[736,672],"id":"1a8ca9e9-9c8f-4443-b387-4648581b8c21","name":"Switch"},{"parameters":{"jsCode":"// Input vindo do \"done\" do Loop Over no n8n\nconst input = items.map(i => i.json);\n\n// Loja fixa\nconst numeroLoja = 191;\n\n// Pegar data atual formatada (ex: 22/10/2025)\nconst hoje = new Date();\nconst dataHoje = hoje.toLocaleDateString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" });\n\n// Inicialização\nlet total = 0;\nlet sucesso = 0;\nlet erro = 0;\nlet etapas = {};\nlet clientesAtrasados = [];\nlet listaErros = [];\n\n// Função para extrair número de erro\nfunction extrairNumeroErro(errorData) {\n  try {\n    const errorObj = typeof errorData === 'string' ? JSON.parse(errorData) : errorData;\n    const details = errorObj?.details || \"\";\n    const match = details.match(/\"number\":\"(\\d+)@/);\n    return match ? match[1] : null;\n  } catch {\n    return null;\n  }\n}\n\n// Processar registros\nfor (const registro of input) {\n  total++;\n  \n  const temErro = registro.error || \n                  registro.success === false || \n                  registro.sucess === false ||\n                  registro.sucess === \"false\" ||\n                  registro.success === \"false\";\n  \n  const temSucesso = registro.Concluido === \"true\" || \n                     registro.concluido === true ||\n                     registro.success === true ||\n                     registro.sucess === true ||\n                     (!temErro && (registro.Telefone || registro.telefone));\n  \n  if (temErro) {\n    erro++;\n    const numeroErro = extrairNumeroErro(registro.error);\n    \n    const codigoCliente = registro[\"codigo cliente\"] || registro.codigo_cliente || null;\n    const nomeCliente = registro[\"Nome cliente\"] || registro.nome_cliente || null;\n    const telefone = registro.Telefone || registro.telefone || null;\n    \n    listaErros.push({\n      codigoCliente: codigoCliente,\n      nomeCliente: nomeCliente,\n      numero: numeroErro || telefone || \"Número não identificado\"\n    });\n  } else if (temSucesso) {\n    sucesso++;\n  }\n  \n  const etapa = registro.Etapa || registro.etapa;\n  if (etapa) {\n    etapas[etapa] = (etapas[etapa] || 0) + 1;\n    \n    const dias = parseInt(etapa.replace(\"d\", \"\").replace(\"h\", \"\")) || 0;\n    if (dias > 30) {\n      const clienteNome = registro[\"Nome cliente\"] || registro.nome_cliente || \"Não identificado\";\n      clientesAtrasados.push({\n        cliente: clienteNome,\n        etapa\n      });\n    }\n  }\n}\n\nconst pctSucesso = total > 0 ? ((sucesso / total) * 100).toFixed(2) : \"0.00\";\nconst pctErro = total > 0 ? ((erro / total) * 100).toFixed(2) : \"0.00\";\n\nlet msg = `📊 *Relatório de Disparos* – Loja ${numeroLoja}\\n`;\nmsg += `🗓 Data: ${dataHoje}\\n\\n`;\nmsg += `✅ Sucessos: *${sucesso}* (${pctSucesso}%)\\n`;\nmsg += `❌ Erros: *${erro}* (${pctErro}%)\\n`;\nmsg += `📨 Total de disparos: *${total}*\\n\\n`;\nmsg += `📌 *Distribuição por etapas:*\\n`;\n\nfor (const [etapa, qtd] of Object.entries(etapas)) {\n  msg += `• ${etapa}: ${qtd}\\n`;\n}\nmsg += `\\n`;\n\nif (clientesAtrasados.length > 0) {\n  msg += `⚠️ *Clientes acima de 30 dias (já receberam todos follow-ups):*\\n`;\n  clientesAtrasados.forEach(c => {\n    msg += `- ${c.cliente} (${c.etapa})\\n`;\n  });\n  msg += `\\n`;\n}\n\nif (listaErros.length > 0) {\n  msg += `🚫 *Números com erro:* \\n`;\n  listaErros.forEach(e => {\n    let identificacao;\n    \n    if (e.codigoCliente && e.nomeCliente) {\n      identificacao = `${e.nomeCliente} (Cód: ${e.codigoCliente})`;\n    } else if (e.codigoCliente) {\n      identificacao = `Cód: ${e.codigoCliente}`;\n    } else if (e.nomeCliente) {\n      identificacao = e.nomeCliente;\n    } else {\n      identificacao = \"Cliente não identificado\";\n    }\n    \n    msg += `- ${identificacao}: ${e.numero}\\n`;\n  });\n}\n\nreturn [{ json: { mensagem: msg } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,416],"id":"8a800189-886d-4d92-8261-d5734c0cd320","name":"Code in JavaScript1"},{"parameters":{"resource":"messages-api","instanceName":"=Miguel teste","remoteJid":"5511940662846@s.whatsapp.net","messageText":"={{$json.mensagem}}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-768,416],"id":"7c98b69d-0463-45f1-b7bb-6cd9f18c98a4","name":"Enviar texto","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}}},{"parameters":{"assignments":{"assignments":[{"id":"06a3f128-16c7-49dc-8433-527da6f96a0b","name":"Telefone","value":"={{ $('Check DB1').item.json.telefone }}","type":"string"},{"id":"c30766bf-6eba-4a42-9182-e4e7f98cef5a","name":"codigo vendedor","value":"={{ $('Check DB1').item.json.codigo_vendedor }}","type":"string"},{"id":"49d04c63-b3b8-47de-be23-95bc827d7f2f","name":"telefone vendedor","value":"={{ $('Check DB1').item.json.telefone_vendedor }}","type":"string"},{"id":"10435019-f3d0-43e3-8b08-e70d8fb964b6","name":"Etapa","value":"={{ $('Check DB1').item.json.etapa }}","type":"string"},{"id":"7fffda7d-e35d-42d6-9730-b27c9ed16172","name":"Nome cliente","value":"={{ $('Check DB1').item.json.nome_cliente }}","type":"string"},{"id":"c8493207-54ee-4614-841c-c4ff1a78c7b1","name":"numero loja","value":"={{ $('Check DB1').item.json.numero_loja }}","type":"string"},{"id":"623b25a4-fbc8-42c1-85ee-728ad37e716b","name":"=Concluido","value":"={{ $json.success }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1712,672],"id":"266c79b7-bedd-4d9e-b5a6-4e18f8dfe4f9","name":"Envia dados1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1920,672],"id":"7cb9d93a-800c-463d-a475-e91b017258fe","name":"Disparo Follow up1"},{"parameters":{"assignments":{"assignments":[{"id":"a4dbb6a8-6bc2-4c72-ad0d-b6e29dbbdde2","name":"Telefone","value":"={{ $('Check DB1').item.json.telefone }}","type":"string"},{"id":"50fd4e28-3a57-4bbe-bb65-7492054bb8dc","name":"codigo vendedor","value":"={{ $('Check DB1').item.json.codigo_vendedor }}","type":"string"},{"id":"b0097210-e3ed-4dbc-a993-e0f14da86cc2","name":"telefone vendedor","value":"={{ $('Check DB1').item.json.telefone_vendedor }}","type":"string"},{"id":"fe0b3548-3874-4079-93c0-def014c35eac","name":"Etapa","value":"={{ $('Check DB1').item.json.etapa }}","type":"string"},{"id":"b9012f92-8642-4038-8a67-d81c873b1062","name":"Nome cliente","value":"={{ $('Check DB1').item.json.nome_cliente }}","type":"string"},{"id":"00bb6a14-2843-4264-b900-1aac20da10a5","name":"numero loja","value":"={{ $('Check DB1').item.json.numero_loja }}","type":"string"},{"id":"4f8b6804-53dd-4060-a961-2d50677038bd","name":"codigo cliente","value":"={{ $('Check DB1').item.json.codigo_cliente }}","type":"string"},{"id":"560e0e4f-b545-4566-aa86-7a231955933e","name":"error","value":"={{ $json.error }}","type":"string"},{"id":"91d6d74c-49a3-4b48-bb69-ba9119b2b051","name":"=sucess","value":"={{ $json.success }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,944],"id":"9d2ea5af-47b3-44e6-9a22-8ea71f277a05","name":"Prep Error Data"}],"connections":{"If":{"main":[[{"node":"Get Dados1","type":"main","index":0}],[{"node":"Gerar sessionID1","type":"main","index":0}]]},"Create a row2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Verifica vendedor1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"If","type":"main","index":0}]]},"Gerar sessionID1":{"main":[[{"node":"Create a row2","type":"main","index":0}]]},"Get Dados1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Loop Over Items6":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Supabase1","type":"main","index":0}]]},"Save Disparo1":{"main":[[{"node":"Envia dados","type":"main","index":0}]]},"Prep Save":{"main":[[{"node":"Save Disparo1","type":"main","index":0}]]},"Verifica vendedor1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"DANIEL","type":"main","index":0}],[{"node":"KAWAN/RENATO","type":"main","index":0}],[{"node":"KAWAN/RENATO","type":"main","index":0}],[{"node":"EDIELSON","type":"main","index":0}]]},"DANIEL":{"main":[[{"node":"Prep Save","type":"main","index":0}],[{"node":"Prep Error Data1","type":"main","index":0}]]},"Check DB":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Disparo Follow up":{"main":[[{"node":"Check DB","type":"main","index":0}]]},"KAWAN/RENATO":{"main":[[{"node":"Prep Save","type":"main","index":0}],[{"node":"Prep Error Data1","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Envia dados":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Prep Error Data1":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"EDIELSON":{"main":[[{"node":"Prep Save","type":"main","index":0}],[{"node":"Prep Error Data1","type":"main","index":0}]]},"Prep Save1":{"main":[[{"node":"Save Disparo","type":"main","index":0}]]},"Verifica Vendedor1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"LUCAS":{"main":[[{"node":"Prep Save1","type":"main","index":0}],[{"node":"Prep Error Data","type":"main","index":0}]]},"GUSTAVO":{"main":[[{"node":"Prep Save1","type":"main","index":0}],[{"node":"Prep Error Data","type":"main","index":0}]]},"Wait11":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Check DB1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gerar sessionID","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Verifica Vendedor1","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If1","type":"main","index":0}]]},"Gerar sessionID":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Save Disparo":{"main":[[{"node":"Envia dados1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"LUCAS","type":"main","index":0}],[{"node":"GUSTAVO","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Envia dados1":{"main":[[{"node":"Wait11","type":"main","index":0}]]},"Disparo Follow up1":{"main":[[{"node":"Check DB1","type":"main","index":0}]]},"Prep Error Data":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"76c93bd4-c7a2-4af7-ae14-e02f773feae5","triggerCount":0,"shared":[{"updatedAt":"2025-11-03T17:23:52.524Z","createdAt":"2025-11-03T17:23:52.524Z","role":"workflow:owner","workflowId":"aSIYHUz6uOXPKs0p","projectId":"W24N0g2dDZJdiV78"}],"tags":[]}