bTsiOTOg6BAZnRwK.json
{"createdAt":"2025-10-30T19:25:21.721Z","updatedAt":"2025-10-31T12:21:27.984Z","id":"bTsiOTOg6BAZnRwK","name":"CONTROLE VENDEDORES","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"vendedores","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1712,48],"id":"7b921261-ec61-4275-8415-c7a36852a10f","name":"webhook Kawan","webhookId":"b1590a66-d6fd-46b5-b16b-e97cf4111c6c"},{"parameters":{"assignments":{"assignments":[{"id":"f8ccd10b-1b4e-411a-bbaa-4309b3b3674c","name":"Telefone","value":"={{ $json.body.data.key.remoteJid.replace(/@.*$/, '').replace(/^55/, '').trim() }}","type":"string"},{"id":"a35923ee-5a33-457e-865a-ec18797bdbdc","name":"MediaType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"3dc8b5fc-1dd8-4ed7-9148-1c61361667e6","name":"Loja","value":"=173","type":"string"},{"id":"b02a1dc1-7701-4000-b741-64f055162c1f","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"string"},{"id":"042a6568-9e1d-4fe7-90c2-a28ca22aa292","name":"vendedor","value":"={{ $json.body.instance }}","type":"string"}]},"options":{}},"id":"2d9134de-a578-408d-acfe-c7bf1ec481ea","name":"captura de informações","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1536,48]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a88db603-1502-4b16-8d6a-65282e1b6ccb","leftValue":"={{ $json.fromMe }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,48],"id":"b89b8991-4cab-4767-acfb-2fcf7fefc3c6","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $('captura de informações').item.json.Telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,32],"id":"c18a4c9c-62c2-4c0d-a990-5eb88035418d","name":"If2"},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","tableId":"clientes","fieldsUi":{"fieldValues":[{"fieldId":"telefone_cliente","fieldValue":"={{ $('captura de informações').first().json.Telefone }}"},{"fieldId":"loja","fieldValue":"173"},{"fieldId":"vendedor","fieldValue":"={{ $('captura de informações').item.json.vendedor }}"},{"fieldId":"created_at","fieldValue":"={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-176,112],"id":"447daca7-2d9c-4118-becf-9af872a13846","name":"Create a row3","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"TMC_Alberto","operation":"get","tableId":"clientes","filters":{"conditions":[{"keyName":"telefone_cliente","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-800,32],"id":"d51f4433-6ba6-4936-8321-248488133030","name":"Supabase2","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE \"TMC_Alberto\".\"clientes\" (\n    id BIGSERIAL PRIMARY KEY,\n    telefone_cliente VARCHAR(20) NOT NULL,\n    nome_cliente VARCHAR(255) NOT NULL,\n    loja VARCHAR(255),\n    vendedor VARCHAR(255),\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\n-- Criar índice no telefone para buscas mais rápidas\nCREATE INDEX idx_telefone_cliente ON \"TMC_Alberto\".\"clientes\"(telefone_cliente);\n\n-- Comentários para documentação\nCOMMENT ON TABLE \"TMC_Alberto\".\"clientes\" IS 'Tabela de clientes por loja e vendedor';\nCOMMENT ON COLUMN \"TMC_Alberto\".\"clientes\".telefone_cliente IS 'Telefone do cliente';\nCOMMENT ON COLUMN \"TMC_Alberto\".\"clientes\".nome_cliente IS 'Nome completo do cliente';\nCOMMENT ON COLUMN \"TMC_Alberto\".\"clientes\".loja IS 'Loja onde foi realizado o atendimento';\nCOMMENT ON COLUMN \"TMC_Alberto\".\"clientes\".vendedor IS 'Vendedor responsável';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1408,480],"id":"a6e4fb9d-e2f3-4028-80db-97c54c294538","name":"Execute a SQL query","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-176,-64],"id":"04906e77-ac75-4643-8aa1-9bea6275478e","name":"No Operation, do nothing"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.vendedor }}","rightValue":"TMC Guedala - KAWAN SOUZA CONCEICAO","operator":{"type":"string","operation":"equals"},"id":"0c425aa9-abc5-411c-8932-2f44c35e3639"}],"combinator":"and"},"renameOutput":true,"outputKey":"Jardim Guedala"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdb114ef-e259-4c88-ba01-473e8f8d9998","leftValue":"={{ $json.Loja }}","rightValue":"067","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1280,48],"id":"79ec6ff2-be6d-4af4-be05-937c238ee151","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8258ad5b-0d43-4f11-bce6-f35d3cb91f69","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1840,-272],"id":"92a827a4-7f6b-4830-bef2-0a05409b5400","name":"Filter"}],"connections":{"webhook Kawan":{"main":[[{"node":"captura de informações","type":"main","index":0}]]},"captura de informações":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Create a row3","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"If2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Supabase2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"webhook Kawan":[{"json":{"headers":{"host":"webhook.iatars.com.br","user-agent":"axios/1.12.2","content-length":"712","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.iatars.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"af5f5215f88e","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"TMC Guedala - KAWAN SOUZA CONCEICAO","data":{"key":{"remoteJid":"5512988112870@s.whatsapp.net","remoteJidAlt":"127230202142790@lid","fromMe":true,"id":"A554EE14A4EA1751160DCA16E5412AAF","participant":"","addressingMode":"pn"},"pushName":"Renato Tintas Mc","status":"SERVER_ACK","message":{"conversation":"Oi"},"messageType":"conversation","messageTimestamp":1761853173,"instanceId":"80ca75a9-e67c-44ae-a1a4-11b5a1f44ace","source":"android"},"destination":"https://webhook.iatars.com.br/webhook/vendedores","date_time":"2025-10-30T16:39:33.161Z","sender":"5511939358619@s.whatsapp.net","server_url":"https://evo.iatars.com.br","apikey":"02DF3241DE19-4EED-9011-671932A406FF"},"webhookUrl":"https://webhook.iatars.com.br/webhook/vendedores","executionMode":"production"}}]},"versionId":"4e3b9599-21d8-47b8-aa98-b25b87fd1b3f","triggerCount":1,"shared":[{"createdAt":"2025-10-30T19:25:21.721Z","updatedAt":"2025-10-30T19:25:21.721Z","role":"workflow:owner","workflowId":"bTsiOTOg6BAZnRwK","projectId":"W24N0g2dDZJdiV78"}],"tags":[]}