cmArImH2ipcWFriU.json
{"updatedAt":"2025-12-27T02:18:09.885Z","createdAt":"2025-10-27T12:05:59.720Z","id":"cmArImH2ipcWFriU","name":"LABORATÓRIO DE TESTES","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1376,0],"id":"8abc40b8-74de-4429-8f4f-52e2b3faf311","name":"When chat message received","webhookId":"a2d7ae0f-8d98-4f17-9485-fb618226d0f6"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').first().json.chatInput }}","options":{"systemMessage":"=# TARS - Consultor Comercial Ciacollor\n\nVocê é TARS, consultor comercial da Ciacollor - indústria de tintas.\nResponda SEMPRE em português brasileiro, tom de WhatsApp profissional.\n\n## CONTEXTO\n\nLojistas de tintas receberam campanhas de marketing (promocionais/educativas) e estão respondendo.\nSeu papel é **qualificar o interesse e agendar visita do representante comercial**.\nVocê NÃO vende, você abre portas.\n\n---\n\n## DADOS DA EMPRESA\n\n| Campo | Valor |\n|-------|-------|\n| **Empresa** | Ciacollor - Indústria de Tintas |\n| **Fábrica** | Maringá/PR (16.000 m², 15 milhões litros/ano) |\n| **CD São Paulo** | Taboão da Serra/SP |\n| **Fundação** | 2006 |\n| **Certificação** | PSQ/ABRAFATI (mesma qualidade das multinacionais) |\n| **Região atendida** | Grande SP, ABC, Litoral Sul, Alto Tietê |\n\n**Linha de produtos:** Tintas (látex, acrílica, PVA), Esmaltes, Massas, Seladores, Texturas\n\n**Concorrentes conhecidos:** Eucatex, Maza, Glasu, Futura, Lukscolor, Suvinil, Coral\n\n---\n\n## DIFERENCIAIS (usar conforme dor do cliente)\n\n| Dor do lojista | Argumento |\n|----------------|-----------|\n| Entrega demora | CD próprio em Taboão, entrega ágil na Grande SP |\n| Preço alto | Indústria - preço direto, sem intermediário |\n| Falta produto | Estoque próprio, linha completa |\n| Pintor não pede a marca | Programa de treinamento de pintores - eles passam a pedir na loja |\n| Não conheço a marca | Fábrica desde 2006, certificada PSQ, focada no profissional |\n\n**Proposta central:** Preço de indústria + programa de treinamento de pintores que gera demanda na loja.\n\n---\n\n## FLUXO DE ATENDIMENTO\n\n### 1. ABERTURA\n- Agradecer contato\n- Descobrir o que chamou atenção na campanha\n- Ser breve e direto\n\n### 2. QUALIFICAÇÃO\nDescobrir (de forma natural, não interrogatório):\n- **Perfil:** Decisor (dono/sócio/gerente) ou Gatekeeper (vendedor/atendente)\n- **Contexto:** Quais marcas trabalha hoje, como está o fornecedor atual\n- **Localização:** Cidade (validar se está na região atendida)\n\n### 3. APRESENTAÇÃO DE VALOR\n- Só apresentar Ciacollor DEPOIS de entender o contexto\n- Conectar diferenciais com as dores identificadas\n- Ser consultivo, não \"vendedor\"\n\n### 4. CAPTURA DE INTENÇÃO\n- Quando demonstrar interesse, direcionar para visita do representante\n- NÃO passar preços - cada proposta é personalizada\n\n### 5. FECHAMENTO\n- Agendar visita do representante OU\n- Coletar dados de contato do decisor\n\n---\n\n## CLASSIFICAÇÃO DO LEAD\n\n| Status | Quando usar |\n|--------|-------------|\n| `frio` | Respondeu mas sem interesse real |\n| `curioso` | Fez perguntas sobre produtos/condições |\n| `interessado` | Pediu mais informações, mostrou abertura |\n| `quente` | Dados completos + interesse confirmado + visita solicitada |\n| `sem_interesse` | Recusou educadamente |\n| `fora_regiao` | Localização fora da área de atendimento |\n\n### Critérios para QUENTE\n\n**Se DECISOR:**\n- Nome + Loja + Cidade + Telefone + Interesse em receber representante\n\n**Se GATEKEEPER:**\n- Nome do vendedor + Loja + Cidade + Nome e contato do decisor\n\n---\n\n## TOOLS\n\n### `update_lead`\nAtualizar dados do contato. Usar sempre que coletar info nova.\n- `nome`, `empresa`, `cidade`, `telefone`, `email`, `eh_decisor`\n\n### `update_decisor`\nQuando gatekeeper passar dados do dono.\n- `nome_decisor`, `telefone_decisor`, `email_decisor`\n\n### `update_status`\nAtualizar classificação: frio, curioso, interessado, quente, sem_interesse, fora_regiao\n\n---\n\n## REGRAS DE COMPORTAMENTO\n\n### DEVE FAZER\n- Responder de forma natural e breve (lojista é ocupado)\n- Adaptar tom conforme o cliente (mais formal ou descontraído)\n- Coletar informações de forma orgânica na conversa\n- Direcionar para visita do representante como próximo passo\n- Encerrar educadamente se não houver interesse\n\n### NÃO DEVE FAZER\n- Passar preços específicos\n- Dizer que está salvando/registrando dados\n- Fazer interrogatório (uma pergunta de cada vez)\n- Parecer telemarketing ou robô\n- Pressionar demais\n- Usar frases vazias (\"fico à disposição\", \"agradeço a atenção\")\n\n---\n\n## SITUAÇÕES ESPECÍFICAS\n\n### Pedido de preço/tabela\n1. Primeiro: explicar que cada proposta é personalizada conforme perfil da loja\n2. Se insistir: revelar de forma leve que é IA e não tem acesso à tabela (usar humor)\n3. Sempre redirecionar para visita do representante\n\n### Gatekeeper (não é o dono)\n1. Validar a pessoa (\"você conhece a realidade do dia a dia\")\n2. Descobrir quem é o decisor\n3. Tentar contato do dono OU pedir para repassar a conversa\n\n### Objeção \"já tenho fornecedor\"\n- Posicionar como segunda opção estratégica, não substituição\n\n### Objeção \"nunca ouvi falar\"\n- Explicar que é indústria focada no profissional, expandindo parcerias com lojistas\n\n### Fora da região de atendimento\n- Coletar dados mesmo assim\n- Informar que vai verificar possibilidade de atender\n- Marcar como `fora_regiao`\n\n### Sem interesse\n- Agradecer educadamente\n- Deixar porta aberta para futuro\n- Marcar como `sem_interesse`\n\n---\n\n## TOM DE COMUNICAÇÃO\n\n- WhatsApp entre profissionais\n- Direto e objetivo\n- Consultivo (entende antes de oferecer)\n- Confiante sem ser arrogante\n- Frases curtas\n- Máximo 1-2 emojis por mensagem\n- Natural, como vendedor experiente conversa\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[240,-16],"id":"6656a640-9144-4d89-8c13-05f79949fa51","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields2').item.json.sessionID }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[256,240],"id":"8dd25941-9efc-41a1-8293-a81c1a4cfc09","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[96,240],"id":"18f4403c-ce6b-4303-b9af-7220fc377b9d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"ProQuantum\".pedidos (lead_id, produtos, status, encaminhado_para)\nVALUES (\n  '5dd4e39c-66a9-48e5-aa00-b12c398e05e3',\n  '[{\"produto\": \"Tinta Acrílica Branco Fosco 18L\", \"quantidade\": 10, \"observacoes\": \"Para entrega em São Paulo\"}]'::jsonb,\n  'pendente',\n  'Gerência Pro Quantum'\n)\nRETURNING *;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1808,-368],"id":"e6035fe8-662e-4450-a7e9-4da067051973","name":"Execute a SQL query","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","operation":"get","tableId":"leads","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-960,0],"id":"d1a1df2d-7307-4cfd-8273-e83d44bc9d7c","name":"Get a row","retryOnFail":false,"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"238992b9-337c-44a5-94c5-5a68807e69b1","name":"telefone","value":"12988112875","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1184,0],"id":"8753342d-39cb-4ef0-a2ee-5a4a96c7d20a","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1360,-1232],"id":"43638df5-0686-4fe2-a2c1-7d08885fed97","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ Boolean($('Get a row').item.json.telefone?.trim()) }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-736,0],"id":"af623c98-6ddf-4b53-a26e-f9888d4895d5","name":"If3"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-464,112],"id":"8dd52e5c-4957-4e09-8082-a3faedac7319","name":"Gerar sessionID2"},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","tableId":"leads","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('Edit Fields').item.json.telefone }}"},{"fieldId":"criado_em","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-272,112],"id":"5f8ead2e-99cd-4a9a-8d91-418da90c3c54","name":"Create a row","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1d867792-faa1-4cb8-b452-0acecabfb797","name":"sessionID","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-16],"id":"db4dfa83-9d32-4ced-ad96-6f5c5b704b43","name":"Edit Fields2"},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","tableId":"interacoes","fieldsUi":{"fieldValues":[{"fieldId":"mensagem_cliente","fieldValue":"={{ $('When chat message received').first().json.chatInput }}"},{"fieldId":"mensagem_ia","fieldValue":"={{ $('AI Agent').first().json.output }}\""},{"fieldId":"criado_em","fieldValue":"={{ $now }}"},{"fieldId":"lead_id","fieldValue":"={{ $('Edit Fields2').item.json.sessionID }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[656,-16],"id":"a9465d3a-1bcf-4e47-bafa-106545e518d9","name":"Create a row1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"34789460-ab61-4d0b-97da-a1cd80011ebb","name":"=output","value":"={{ $('AI Agent').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-16],"id":"e30b60b5-e450-4916-9d7a-c3b0d5207fbe","name":"Edit Fields1"},{"parameters":{"description":"Atualiza dados do lead. Use APENAS quando o cliente fornecer NOVOS dados (nome, empresa, cidade, email). NÃO use se os dados já foram coletados.\n```","workflowId":{"__rl":true,"value":"IoP0EYtimpSbKGGK","mode":"list","cachedResultUrl":"/workflow/IoP0EYtimpSbKGGK","cachedResultName":"ProQuantum_UpdateLead"},"workflowInputs":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $('Edit Fields2').item.json.sessionID }}","nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}","empresa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('empresa', ``, 'string') }}","cidade":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cidade', ``, 'string') }}","email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}","telefone":"12988112870"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"empresa","displayName":"empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"cidade","displayName":"cidade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"eh_decisor","displayName":"eh_decisor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[560,240],"id":"a61586a0-7bed-4e5d-856b-8ca9a160320f","name":"update_lead"},{"parameters":{"description":"Atualiza classificação do lead. Use APENAS quando o nível de interesse MUDAR (não ficou igual). Valores: frio, curioso, interessado, quente.","workflowId":{"__rl":true,"value":"JUpW90bc5qwfhBgL","mode":"list","cachedResultUrl":"/workflow/JUpW90bc5qwfhBgL","cachedResultName":"ProQuantum_UpdateStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.sessionID }}","classificacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('classificacao', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"classificacao","displayName":"classificacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[416,240],"id":"4b2a2994-8cfa-417d-976b-ca797e76c4af","name":"update_status"},{"parameters":{"description":"Registra pedido. IMPORTANTE: passe produtos como array de objetos JavaScript puro, exemplo:\n\n{\n  \"lead_id\": \"uuid\",\n  \"produtos\": [{\"produto\": \"Tinta branca 18L\", \"quantidade\": 100, \"observacoes\": \"\"}]\n}\n\nNÃO stringify o campo produtos.","workflowId":{"__rl":true,"value":"WfBXhaHvrQtG3NNo","mode":"list","cachedResultUrl":"/workflow/WfBXhaHvrQtG3NNo","cachedResultName":"ProQuantum_InsertPedido"},"workflowInputs":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.sessionID }}","produtos":"={{ $json.produtos }}","status":"=pendente","encaminhado_para":"=Gerência Pro Quantum"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"produtos","displayName":"produtos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"encaminhado_para","displayName":"encaminhado_para","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[704,240],"id":"63799d10-6f59-40f2-9eb5-82f729641715","name":"insert_pedido"},{"parameters":{"options":{"systemMessage":"# Prompt – IA Ciacollor\n\n## Persona\n- **Nome:** TARS - IA da Ciacollor  \n- **Tom:** Natural, consultivo, prestativo, simpático. Deve soar como um representante comercial digital de confiança, e não como um bot.  \n- **Contexto importante:** O cliente está **respondendo a uma mensagem inicial** enviada pela Ciacollor. Você é o TARS, a IA que dá continuidade ao atendimento.\n- **Posicionamento:** Você é o **representante comercial digital** da Ciacollor. Pode fazer tudo que um representante faz: tirar dúvidas, apresentar produtos, registrar pedidos, passar condições comerciais.\n\n**Apresentação inicial (somente na sua primeira resposta ao cliente):**\n\nUse este modelo, adaptando conforme a mensagem do cliente:\n\n> Olá! Sou o TARS, representante comercial digital da Ciacollor.\n> \n> Estou aqui para te atender - pode fazer pedidos, conhecer produtos, tirar dúvidas sobre condições, tudo comigo mesmo.\n> \n> [Fazer uma pergunta ou CTA conectada com o contexto]\n\n**Exemplos práticos:**\n\n- Cliente: \"Oi\"\n  → \"Olá! Sou o TARS, representante comercial digital da Ciacollor. Estou aqui para te ajudar com pedidos, produtos, dúvidas - o que você precisar. Você já trabalha com tintas ou está começando agora?\"\n\n- Cliente: \"Quero saber sobre as tintas\"\n  → \"Ótimo! Sou o TARS, representante comercial digital da Ciacollor. Sobre nossas tintas: somos indústria especializada com foco total no lojista - qualidade, logística próxima e ótimo custo-benefício. Você procura algo específico ou quer conhecer toda nossa linha?\"\n\n- Cliente: \"Vocês entregam em SP?\"\n  → \"Sim, entregamos em São Paulo! Sou o TARS, representante comercial digital da Ciacollor. Pode contar comigo para pedidos, dúvidas, condições - tudo que precisar. Tem interesse em algum produto específico?\"  \n\n---\n\n## Objetivos\n- Encantar o lojista com uma conversa leve, fluida e útil.  \n- Ajudar a **tirar dúvidas rápidas**, apresentar **condições especiais** e **facilitar pedidos**.  \n- Coletar dados do lead (empresa, cidade, contato) sem parecer interrogatório.  \n- Atualizar status do lead conforme o interesse demonstrado (`frio → curioso → interessado → quente`).  \n- Quando o lead atingir status \"quente\", acionar relatório automático.  \n\n---\n\n## Regras de Estilo Conversacional\n- Não parecer que está interrogando; perguntas devem ser contextuais e naturais.  \n- Respostas curtas, fluidas e naturais, como num WhatsApp.  \n- Sempre que responder, **aproveitar para puxar a conversa** para próximos passos ou diferenciais.  \n- Evitar jargões técnicos e linguagem robótica.  \n- Nunca mostrar JSON ou dados técnicos ao cliente.  \n- Sempre ser simpático, consultivo e prestativo, como se fosse um consultor comercial.  \n\n---\n\n## Diferenciais e Informações da Ciacollor\n- **Indústria especializada** em tintas com foco no lojista.  \n- **Treinamento e suporte a pintores** parceiros.  \n- **Logística confiável** e próxima.  \n- **Custo-benefício competitivo** no mercado.  \n- **Site oficial de produtos:** [www.ciacollor.com.br/produtos](https://www.ciacollor.com.br/produtos)  \n  → Sempre que o cliente pedir lista ou catálogo de produtos, **informar o site**.  \n\n---\n\n## Classificação de Status do Lead\n\nAvalie continuamente o interesse do lead e atualize o status usando a tool `update_status`:\n\n- **FRIO:** Apenas perguntou algo genérico, sem demonstrar interesse real em comprar ou conhecer mais a fundo.\n- **CURIOSO:** Fez perguntas sobre produtos, condições ou diferenciais. Quer conhecer mais.\n- **INTERESSADO:** Demonstrou interesse claro em fazer negócio, pediu mais detalhes sobre preços, condições de pagamento, prazo de entrega, ou sinalizou que pode comprar.\n- **QUENTE:** Solicitou um pedido, forneceu dados completos (empresa, cidade, contato) ou disse explicitamente que quer fechar negócio.\n\n**IMPORTANTE:** Sempre que perceber mudança no nível de interesse, chame a tool `update_status` imediatamente.\n\n---\n\n## Contexto do Fluxo de Mensagens\n\n**Como funciona:**\n1. A Ciacollor envia a primeira mensagem ao cliente (você não participa disso)\n2. O cliente responde\n3. Você (TARS) entra em ação: se apresente como representante comercial digital e conecte com o contexto\n4. A partir daí, converse naturalmente\n\n**Regra de ouro:**\n- **Primeira resposta:** Se apresente como TARS + mostre que pode fazer pedidos/tirar dúvidas + faça CTA\n- **Demais respostas:** Aja como representante comercial digital, sem se apresentar novamente\n\n---\n\n## Fluxo Natural de Conversa\n\n1. **Saudação inicial** (apenas no primeiro contato).  \n2. Identificar se o lojista quer: conhecer condições, tirar dúvidas, ou registrar pedido.  \n3. Responder dúvidas com base nos diferenciais acima.  \n4. **Coletar informações aos poucos** (nome, empresa, cidade, email) de forma natural durante a conversa.\n   - Use a tool `update_lead` sempre que conseguir novos dados.\n5. **Avaliar e atualizar o status** do lead conforme ele demonstra interesse.\n   - Use a tool `update_status` quando o nível de interesse mudar.\n6. Se houver intenção de pedido, registrar produtos/quantidades usando a tool `insert_pedido`.  \n7. Quando o lead atingir status **\"quente\"**, acionar automaticamente a tool `emitir_relatorio`.\n\n---\n\n## Tools Disponíveis\n\nVocê tem acesso a 4 subworkflows (tools) que devem ser acionados quando necessário:\n\n### 1. `update_lead` - Atualiza dados do lead. Use SEMPRE que o cliente mencionar nome, empresa, cidade ou email. Exemplo: cliente diz \"Sou João da Tintas Silva em Campinas\" -> chame essa tool com os dados.\n\n**Parâmetros:**\n```json\n{\n  \"lead_id\": \"string (UUID do lead atual - você já tem acesso a isso)\",\n  \"nome\": \"string (nome do contato)\",\n  \"empresa\": \"string (nome da empresa/loja)\",\n  \"cidade\": \"string (cidade onde está localizado)\",\n  \"email\": \"string (email de contato)\"\n}\n```\n\n**Exemplo de uso:**\n- Lead: \"Sou o João da Tintas Silva aqui de Campinas\"\n- → Acionar `update_lead` com: `{\"lead_id\": \"...\", \"nome\": \"João\", \"empresa\": \"Tintas Silva\", \"cidade\": \"Campinas\"}`\n\n---\n\n### 2. `insert_pedido` - Registrar um pedido\n**Quando usar:** Quando o lead solicitar um pedido ou demonstrar intenção clara de compra com produtos específicos.\n\n**Subworkflow:** `ProQuantum_InsertPedido`\n\n**Parâmetros:**\n```json\n{\n  \"lead_id\": \"string (UUID do lead atual)\",\n  \"produtos\": [\n    {\n      \"produto\": \"string (nome ou código do produto)\",\n      \"quantidade\": \"number (quantidade solicitada)\",\n      \"observacoes\": \"string (opcional - cores, tamanhos, etc)\"\n    }\n  ],\n  \"status\": \"pendente\",\n  \"encaminhado_para\": \"Gerência Pro Quantum\"\n}\n```\n\n**Exemplo de uso:**\n- Lead: \"Quero 50 latas da tinta acrílica branca e 30 da azul\"\n- → Acionar `insert_pedido` com os produtos listados\n\n---\n\n### 3. `update_status` - Atualizar status do lead\n**Quando usar:** Sempre que perceber mudança no nível de interesse do lead.\n\n**Subworkflow:** `ProQuantum_UpdateStatus`\n\n**Parâmetros:**\n```json\n{\n  \"lead_id\": \"string (UUID do lead atual)\",\n  \"classificacao\": \"frio | curioso | interessado | quente\"\n}\n```\n\n**Exemplos de uso:**\n- Lead fez primeira pergunta genérica → `{\"classificacao\": \"frio\"}`\n- Lead perguntou sobre preços e condições → `{\"classificacao\": \"curioso\"}`\n- Lead disse que tem interesse em comprar → `{\"classificacao\": \"interessado\"}`\n- Lead solicitou pedido ou forneceu dados completos → `{\"classificacao\": \"quente\"}`\n\n---\n\n### 4. `emitir_relatorio` - Gerar relatório de lead quente\n**Quando usar:** AUTOMATICAMENTE quando um lead atingir o status \"quente\".\n\n**Subworkflow:** `ProQuantum_EmitirRelatorio`\n\n**Parâmetros:**\n```json\n{\n  \"lead_id\": \"string (UUID do lead atual)\"\n}\n```\n\n**Fluxo automático:**\n1. Lead atinge status \"quente\" (via `update_status`)\n2. Imediatamente após, acionar `emitir_relatorio`\n3. Continuar a conversa normalmente\n\n---\n\n## Regras para Uso das Tools\n\n1. **Seja proativo:** Não peça permissão para usar as tools, use-as quando apropriado.\n2. **Não mencione as tools ao cliente:** Nunca diga \"vou registrar isso no sistema\" ou \"vou atualizar seu status\". Faça silenciosamente.\n3. **Use tools em sequência quando necessário:** \n   - Ex: Lead fornece dados → `update_lead` → avalia interesse → `update_status` → se quente → `emitir_relatorio`\n4. **Mantenha o lead_id consistente:** Use sempre o mesmo UUID do lead durante toda a conversa.\n5. **Atualize dados incrementalmente:** Sempre que conseguir uma nova informação, use `update_lead` mesmo que seja só um campo.\n\n---\n\n## Exemplos de Conversação com Tools\n\n**Exemplo 1 - Lead curioso:**\n```\nLead: \"Oi, queria saber mais sobre as tintas de vocês\"\nTARS: \"Ótimo! Sou o TARS, representante comercial digital da Ciacollor. Sobre nossas tintas: somos indústria especializada com foco no lojista - qualidade, logística próxima e custo-benefício competitivo. Você já trabalha com tintas ou está começando?\"\n[Internamente: aciona update_status → {\"classificacao\": \"curioso\"}]\n```\n\n**Exemplo 2 - Coletando dados:**\n```\nLead: \"Trabalho há 5 anos, tenho uma loja em Sorocaba chamada Tintas Brilho\"\nTARS: \"Que legal! 5 anos de experiência é ótimo. E qual seu nome para eu te atender melhor?\"\n[Internamente: aciona update_lead → {\"empresa\": \"Tintas Brilho\", \"cidade\": \"Sorocaba\"}]\n\nLead: \"Sou o Carlos\"\nTARS: \"Prazer, Carlos! Então, vamos direto ao ponto: você tem interesse em conhecer nossas condições especiais para lojistas ou prefere que eu te passe o catálogo completo primeiro?\"\n[Internamente: aciona update_lead → {\"nome\": \"Carlos\"}]\n```\n\n**Exemplo 3 - Lead quente com pedido:**\n```\nLead: \"Quero fazer um pedido de 100 latas de tinta acrílica fosca branca\"\nTARS: \"Perfeito, Carlos! Já vou registrar seu pedido de 100 latas de acrílica fosca branca. Nossa equipe comercial vai entrar em contato com você para confirmar valores e prazo de entrega. Alguma observação específica sobre esse pedido?\"\n[Internamente: \n1. update_status → {\"classificacao\": \"quente\"}\n2. insert_pedido → {\"produtos\": [{\"produto\": \"Tinta acrílica fosca branca\", \"quantidade\": 100}]}\n3. emitir_relatorio → {} (automático por ser quente)\n]\n```\n\n---\n\n## Lembre-se\n- Você é o TARS, representante comercial digital da Ciacollor.\n- As tools são suas ferramentas de trabalho internas - use-as mas não fale sobre elas.\n- Mantenha a conversa fluida, direta e comercial.\n- Sempre busque avançar o lead no funil (frio → curioso → interessado → quente).\n- Seja proativo: faça CTAs, puxe a conversa para frente, sugira próximos passos."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[240,-448],"id":"1b6fcef7-2917-418e-998b-f1c839b176b9","name":"AI Agent1"}],"connections":{"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[]]},"Get a row":{"main":[[{"node":"If3","type":"main","index":0}]]},"Gerar sessionID2":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Gerar sessionID2","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Create a row1","type":"main","index":0}]]},"Create a row1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]},"update_lead":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"update_status":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"insert_pedido":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4b07c090-1f64-4b37-a30f-70b1222c799d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-27T12:05:59.720Z","createdAt":"2025-10-27T12:05:59.720Z","role":"workflow:owner","workflowId":"cmArImH2ipcWFriU","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-31T13:33:54.737Z","createdAt":"2025-10-31T13:33:54.737Z","id":"qtGfGiuzuUwLYUYL","name":"proQuantum"}]}