DRv6KdZ3TFgdbXGm.json
{"updatedAt":"2026-02-25T13:48:48.522Z","createdAt":"2026-02-25T13:40:45.154Z","id":"DRv6KdZ3TFgdbXGm","name":"[BS] Detectar Respostas Email","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 30 9 * * 1-5"}]}},"id":"node-trigger","name":"Cron Diario 9h30","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[208,16]},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT c.email, c.id as contato_id, c.empresa\nFROM brasil_solos.contatos c\nJOIN brasil_solos.disparos_email d ON d.contato_id = c.id\nWHERE d.status = 'enviado'\n  AND c.ativo = true\n  AND c.email_valido = true\n  AND NOT EXISTS (\n    SELECT 1 FROM brasil_solos.disparos_email d2\n    WHERE d2.contato_id = c.id AND d2.status = 'respondeu'\n  )\nORDER BY c.email","options":{}},"id":"node-buscar-contatos","name":"Buscar Contatos Ativos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[464,16],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-email","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"node-if","name":"Tem contatos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[704,16]},{"parameters":{"options":{}},"id":"node-loop","name":"Loop Contatos","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[960,0]},{"parameters":{"operation":"getAll","limit":1,"filters":{"receivedAfter":"={{ $now.minus(30, \"day\").toISO() }}","sender":"={{ $json.email }}"}},"id":"node-gmail-buscar","name":"Buscar Resposta Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1200,16],"webhookId":"bd60bf5d-e616-4558-9151-e2534c286e54","credentials":{"gmailOAuth2":{"id":"rJOvSJUAFmiVisS7","name":"Gmail Bstech"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-resp","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"node-if2","name":"Respondeu?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1456,16]},{"parameters":{"operation":"executeQuery","query":"UPDATE brasil_solos.disparos_email\nSET status = 'respondeu', respondeu_em = now()\nWHERE contato_id = $1::uuid\n  AND status = 'enviado'\n  AND etapa = (\n    SELECT MAX(etapa) FROM brasil_solos.disparos_email\n    WHERE contato_id = $1::uuid AND status = 'enviado'\n  )","options":{"queryReplacement":"={{ [$json.contato_id] }}"}},"id":"node-registrar","name":"Registrar Resposta","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1728,0],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"amount":1},"id":"node-wait","name":"Wait 1s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1952,0],"webhookId":"36d08a6c-3b84-405f-b1fa-0a9d7de20be7"},{"parameters":{"content":"## Detectar Respostas Email\n\n**Cron**: seg-sex 9h30\n**Fonte**: Gmail inbox\n\n**Logica**:\n1. Busca contatos que receberam email e nao responderam\n2. Para cada contato, verifica inbox Gmail por email daquele remetente\n3. Se achou resposta → UPDATE status = respondeu\n4. Contato sai da cadencia automaticamente (query do motor ja filtra respondeu)\n\n**Wait 1s**: Rate limit Gmail API (nao estourar cota)","height":250,"width":400},"id":"node-sticky","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,-256]}],"connections":{"Cron Diario 9h30":{"main":[[{"node":"Buscar Contatos Ativos","type":"main","index":0}]]},"Buscar Contatos Ativos":{"main":[[{"node":"Tem contatos?","type":"main","index":0}]]},"Tem contatos?":{"main":[[{"node":"Loop Contatos","type":"main","index":0}],[]]},"Loop Contatos":{"main":[[],[{"node":"Buscar Resposta Gmail","type":"main","index":0}]]},"Buscar Resposta Gmail":{"main":[[{"node":"Respondeu?","type":"main","index":0}]]},"Respondeu?":{"main":[[{"node":"Registrar Resposta","type":"main","index":0}],[{"node":"Wait 1s","type":"main","index":0}]]},"Registrar Resposta":{"main":[[{"node":"Wait 1s","type":"main","index":0}]]},"Wait 1s":{"main":[[{"node":"Loop Contatos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Cron Diario 9h30":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8462019d-9cc5-4f2c-be77-298e77e2f1bc","activeVersionId":"8462019d-9cc5-4f2c-be77-298e77e2f1bc","triggerCount":1,"shared":[{"updatedAt":"2026-02-25T13:40:45.154Z","createdAt":"2026-02-25T13:40:45.154Z","role":"workflow:owner","workflowId":"DRv6KdZ3TFgdbXGm","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2026-02-25T13:48:51.766Z","createdAt":"2026-02-25T13:48:48.524Z","versionId":"8462019d-9cc5-4f2c-be77-298e77e2f1bc","workflowId":"DRv6KdZ3TFgdbXGm","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 30 9 * * 1-5"}]}},"id":"node-trigger","name":"Cron Diario 9h30","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[208,16]},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT c.email, c.id as contato_id, c.empresa\nFROM brasil_solos.contatos c\nJOIN brasil_solos.disparos_email d ON d.contato_id = c.id\nWHERE d.status = 'enviado'\n  AND c.ativo = true\n  AND c.email_valido = true\n  AND NOT EXISTS (\n    SELECT 1 FROM brasil_solos.disparos_email d2\n    WHERE d2.contato_id = c.id AND d2.status = 'respondeu'\n  )\nORDER BY c.email","options":{}},"id":"node-buscar-contatos","name":"Buscar Contatos Ativos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[464,16],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-email","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"node-if","name":"Tem contatos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[704,16]},{"parameters":{"options":{}},"id":"node-loop","name":"Loop Contatos","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[960,0]},{"parameters":{"operation":"getAll","limit":1,"filters":{"receivedAfter":"={{ $now.minus(30, \"day\").toISO() }}","sender":"={{ $json.email }}"}},"id":"node-gmail-buscar","name":"Buscar Resposta Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1200,16],"webhookId":"bd60bf5d-e616-4558-9151-e2534c286e54","credentials":{"gmailOAuth2":{"id":"rJOvSJUAFmiVisS7","name":"Gmail Bstech"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-resp","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"node-if2","name":"Respondeu?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1456,16]},{"parameters":{"operation":"executeQuery","query":"UPDATE brasil_solos.disparos_email\nSET status = 'respondeu', respondeu_em = now()\nWHERE contato_id = $1::uuid\n  AND status = 'enviado'\n  AND etapa = (\n    SELECT MAX(etapa) FROM brasil_solos.disparos_email\n    WHERE contato_id = $1::uuid AND status = 'enviado'\n  )","options":{"queryReplacement":"={{ [$json.contato_id] }}"}},"id":"node-registrar","name":"Registrar Resposta","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1728,0],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"amount":1},"id":"node-wait","name":"Wait 1s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1952,0],"webhookId":"36d08a6c-3b84-405f-b1fa-0a9d7de20be7"},{"parameters":{"content":"## Detectar Respostas Email\n\n**Cron**: seg-sex 9h30\n**Fonte**: Gmail inbox\n\n**Logica**:\n1. Busca contatos que receberam email e nao responderam\n2. Para cada contato, verifica inbox Gmail por email daquele remetente\n3. Se achou resposta → UPDATE status = respondeu\n4. Contato sai da cadencia automaticamente (query do motor ja filtra respondeu)\n\n**Wait 1s**: Rate limit Gmail API (nao estourar cota)","height":250,"width":400},"id":"node-sticky","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,-256]}],"connections":{"Cron Diario 9h30":{"main":[[{"node":"Buscar Contatos Ativos","type":"main","index":0}]]},"Buscar Contatos Ativos":{"main":[[{"node":"Tem contatos?","type":"main","index":0}]]},"Tem contatos?":{"main":[[{"node":"Loop Contatos","type":"main","index":0}],[]]},"Loop Contatos":{"main":[[],[{"node":"Buscar Resposta Gmail","type":"main","index":0}]]},"Buscar Resposta Gmail":{"main":[[{"node":"Respondeu?","type":"main","index":0}]]},"Respondeu?":{"main":[[{"node":"Registrar Resposta","type":"main","index":0}],[{"node":"Wait 1s","type":"main","index":0}]]},"Registrar Resposta":{"main":[[{"node":"Wait 1s","type":"main","index":0}]]},"Wait 1s":{"main":[[{"node":"Loop Contatos","type":"main","index":0}]]}},"authors":"Miguel Nunes","name":"Version 8462019d","description":"","autosaved":true},"tags":[]}