EgxchOEihpHr3F2v.json
{"updatedAt":"2025-12-23T14:26:30.347Z","createdAt":"2025-10-24T17:19:25.562Z","id":"EgxchOEihpHr3F2v","name":"TINTOMÉTRICO Marcel","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Marca"},{"name":"Cor"},{"name":"Volume"},{"name":"Acabamento"},{"name":"Base"},{"name":"superfície"},{"name":"linha"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[368,1424],"id":"cc335ee2-4d89-4c88-9db4-5a950221955a","name":"Início: Receber Pedido do Cliente"},{"parameters":{"url":"=http://159.112.189.1:25189/V2/tintas/cores/{{ $json.sigla }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"cor","value":"={{ $json.cor }}"},{"name":"corComRgb","value":"false"},{"name":"page","value":"0"},{"name":"size","value":"500"},{"name":"codigoEmpresa","value":"={{ $json.codigoEmpresa }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,1408],"id":"34fe6a62-d264-4c0f-9a7a-df1c9164f17a","name":"API: Buscar Variações da Cor1","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2560,1408],"id":"12028353-7c6a-4e9a-a26a-f2a1d1e95b43","name":"Agrupar Dados de Embalagem e Cor1"},{"parameters":{"jsCode":"// Função para converter volume em número (litros)\nfunction volumeParaNumero(volume) {\n  const v = (volume || '').toLowerCase().replace(/\\s+/g, '').replace(',', '.');\n  \n  // Remove 'l' ou 'ml' e converte para número em litros\n  let num = parseFloat(v.replace(/[a-z]/g, ''));\n  \n  if (v.includes('ml')) {\n    num = num / 1000; // converte ml para litros\n  }\n  \n  return isNaN(num) ? 0 : num;\n}\n\n// Função para mapear volume numérico para embalagem\nfunction numeroParaEmbalagem(volumeLitros) {\n  // Define os volumes padrão e suas embalagens\n  const padroes = [\n    { volume: 0.9, embalagem: 'LITRO' },\n    { volume: 3.6, embalagem: 'GALÃO' },\n    { volume: 18, embalagem: 'LATA' },\n    { volume: 16, embalagem: 'LATA' }\n  ];\n  \n  // Encontra o volume mais próximo\n  let maisProximo = padroes[0];\n  let menorDiferenca = Math.abs(volumeLitros - padroes[0].volume);\n  \n  for (const padrao of padroes) {\n    const diferenca = Math.abs(volumeLitros - padrao.volume);\n    if (diferenca < menorDiferenca) {\n      menorDiferenca = diferenca;\n      maisProximo = padrao;\n    }\n  }\n  \n  return maisProximo.embalagem;\n}\n\n// Pega o volume e acabamento que o cliente pediu\nconst volumePedido = items[0].json.volume;\nconst acabamentoEsperado = (items[0].json.acabamento || '').toLowerCase().trim();\n\n// Converte o volume pedido para número e encontra a embalagem mais próxima\nconst volumeNumerico = volumeParaNumero(volumePedido);\nconst embalagemEsperada = numeroParaEmbalagem(volumeNumerico);\n\n// Filtra a lista de produtos\nconst resultado = items.filter(item => {\n  // A embalagem do item da API deve ser igual à embalagem mais próxima\n  const matchEmbalagem = item.json.embalagemSimplificada === embalagemEsperada;\n\n  // A lógica de acabamento continua a mesma\n  const matchAcabamento = acabamentoEsperado\n    ? (item.json.acabamento || '').toLowerCase().includes(acabamentoEsperado)\n    : true;\n\n  return matchEmbalagem && matchAcabamento;\n});\n\n// Se, após os filtros, a lista ficar vazia, retorna um erro.\nif (resultado.length === 0) {\n  throw new Error(`Nenhum produto encontrado para esse acabamento/embalagem. Volume pedido: ${volumePedido} (${volumeNumerico}L) → Embalagem sugerida: ${embalagemEsperada}`);\n}\n\n// Prepara os dados limpos para o próximo nó do fluxo\nconst dadosCliente = resultado.map(item => ({\n  json: {\n    codigoEmpresa: item.json.codigoEmpresa,\n    sigla: item.json.sigla,\n    cor: item.json.cor,\n    volume: item.json.volume,\n    rgb: item.json.rgb,\n    codigoCor: item.json.codigoCor,\n    acabamento: item.json.acabamento,\n    embalagem: item.json.embalagemSimplificada,\n    ordemEmbalagem: item.json.ordemEmbalagemSimplificada,\n    Linha: item.json.Linha || '', // ✅ ADICIONADO: preserva a Linha\n  }\n}));\n\nreturn dadosCliente;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,1408],"id":"36b71b14-a0cb-4fc8-9e62-805b03f41049","name":"Filtrar Produtos por Volume e Acabamento1"},{"parameters":{"url":"=http://159.112.189.1:25189/V2/tintas/acabamentos/{{ $json.sigla }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoCor","value":"={{ $json.codigoCor }}"},{"name":"codigoRgb","value":"={{ $json.rgb }}"},{"name":"cor","value":"={{ $json.cor }}"},{"name":"embalagem","value":"={{ $json.embalagem }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3072,1280],"id":"92c0b494-93d7-4e41-8245-280b6f2c7d48","name":"API: Buscar Detalhes de Acabamento1","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3328,1424],"id":"36e0e99a-eef4-4d4e-a658-7ea92bdbb37b","name":"Agrupar Todos os Detalhes do Produto1"},{"parameters":{"jsCode":"// === 1) Referência e normalização ===\nconst ref = items[0]?.json || {};\nconst acabamentoCliente = ref.acabamento || '';\nconst linhaCliente = ref.Linha || ''; // ✅ ADICIONADO: captura a Linha\n\nfunction normaliza(txt) {\n  return (txt || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n}\n\n// Equivalências (bidirecional simples)\nconst equivalencias = {\n  // acetinado / sedoso\n  acetinado: ['acetinado', 'acetinada', 'seda', 'sedoso'],\n  acetinada: ['acetinado', 'acetinada', 'seda', 'sedoso'],\n  seda:      ['acetinado', 'acetinada', 'seda', 'sedoso'],\n  sedoso:    ['acetinado', 'acetinada', 'seda', 'sedoso'],\n\n  // fosco\n  fosco: ['fosco', 'matte'],\n  matte: ['fosco', 'matte'],\n\n  // brilhante\n  brilhante: ['brilho', 'brilhante'],\n  brilho:    ['brilho', 'brilhante'],\n  semibrilho: ['diamante'],\n\n  // clássica\n  classica:    ['classica', 'tradicional'],\n  tradicional: ['classica', 'tradicional'],\n};\n\nconst acbClienteNorm = normaliza(acabamentoCliente);\nconst palavrasAceitas = acbClienteNorm\n  ? (equivalencias[acbClienteNorm] || [acbClienteNorm])\n  : null; // null => não filtra por acabamento quando cliente não informou\n\n// === 2) Filtra itens válidos (descarta item 0 e quem não tem chaveCitel) ===\nlet candidatos = items.slice(1).filter(i => !!i?.json?.chaveCitel);\n\n// === 3) Aplica filtro por acabamento (somente se cliente informou algo) ===\nif (palavrasAceitas) {\n  candidatos = candidatos.filter(i => {\n    const acbItem = normaliza(i.json.acabamento);\n    if (!acbItem) return false;\n    return palavrasAceitas.some(word =>\n      acbItem.includes(word) || word.includes(acbItem)\n    );\n  });\n}\n\n// ✅ ADICIONADO: Se não encontrou nada pelo acabamento, tenta pela Linha\nif (candidatos.length === 0 && linhaCliente) {\n  const linhaNorm = normaliza(linhaCliente);\n  candidatos = items.slice(1).filter(i => {\n    if (!i?.json?.chaveCitel) return false;\n    const acbItem = normaliza(i.json.acabamento);\n    // Verifica se o acabamento contém a linha\n    return acbItem.includes(linhaNorm);\n  });\n}\n\n// === 4) Deduplica por chaveCitel (evita POST duplicado) ===\nconst vistos = new Set();\ncandidatos = candidatos.filter(i => {\n  const k = String(i.json.chaveCitel);\n  if (vistos.has(k)) return false;\n  vistos.add(k);\n  return true;\n});\n\n// === 5) Monta saída padronizada (hashesMd5 sempre preenchido) ===\nreturn candidatos.map(i => ({\n  json: {\n    codigoCliente: \"000001\",\n    codigoEmpresa: ref.codigoEmpresa,\n    sigla: ref.sigla,\n    idPro: ref.sigla,\n    rgb: i.json.rgb,\n    hashesMd5: [String(i.json.chaveCitel)],\n    cor: i.json.cor,\n    acabamento: i.json.acabamento,\n    embalagem: i.json.embalagem,\n    codigoCor: i.json.codigoCor ?? '',\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3728,1424],"id":"50846c7c-fbf5-4466-8c31-62800fe4ef48","name":" Preparar Candidatos Finais (Filtrar e Deduplicar)1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"http://159.112.189.1:25189/V2/tintas/carregar/dados","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigoCliente\": \"00000001\",\n  \"codigoEmpresa\": \"{{ $json.codigoEmpresa }}\",\n  \"hashesMd5\":{{ JSON.stringify($json.hashesMd5) }},\n  \"idPro\": \"{{ $json.sigla }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4016,1280],"id":"426b5729-d619-4ed8-a721-d08d342e38c6","name":"API: Buscar Preços dos Candidatos1","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}},"onError":"continueErrorOutput"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[4240,1440],"id":"fcd16564-785a-46cc-a189-b5f6dabedb9c","name":"Agrupar Produtos com Seus Preços1"},{"parameters":{"jsCode":"// saída: [{ json: { mensagem } }]\n\n// === UTILS (funções auxiliares) ===\nconst up = s => String(s || '')\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .toUpperCase().trim();\n\nfunction volumeByEmbalagem(e = '') {\n  const v = up(e);\n  if (v.includes('LATA')) return '18 L';\n  if (v.includes('GALAO')) return '3,6 L';\n  if (v.includes('LITRO') || v === 'L') return '0,9 L';\n  return '';\n}\n\nfunction embalagemEsperada(volume) {\n  const v = String(volume || '').replace(',', '.').replace(/\\s+/g,'').toUpperCase();\n  if (v.startsWith('18') || v.startsWith('16'))  return 'LATA';\n  if (v.startsWith('3.6')) return 'GALAO';\n  if (v.startsWith('0.9') || v.startsWith('0.5') || v.includes('900ML')) return 'LITRO';\n  return '';\n}\n\nfunction formatarMensagemProduto(produto, volRaw, aviso = '') {\n  const volStr = volumeByEmbalagem(produto.embalagem) || produto.volume || volRaw || '';\n  const desc = `${produto.sigla} ${produto.cor} ${produto.acabamento} ${produto.embalagem} ${volStr}`.replace(/\\s+/g,' ').trim();\n  const precoBRL = produto.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n  const disponibilidade = produto.estoque > 0 ? '✅ Disponível em estoque' : '⚠️ Sob consulta';\n  let mensagem = `• ${desc}\\n💰 Preço: ${precoBRL}\\n📦 ${disponibilidade}`;\n  if (aviso) mensagem += `\\n\\n${aviso}`;\n  else mensagem += `\\n\\nPosso seguir com esse item?`;\n  return mensagem;\n}\n// === FIM UTILS ===\n\n\n// 1) Pega metadados (último item do array)\nconst meta = items[items.length - 1]?.json || {};\nconst SIGLA  = up(meta.sigla);\nconst SUPERF = up(meta.superficie || meta['superfície']);\nconst ACABPD = up(meta.acabamento || meta.acabamentoPedido);\nconst VOLRAW = meta.volume || '';\nconst CODCOR = meta.codigoCor || '';\n\n// 💥 CAPTURA DE LINHA (com limpeza completa)\nlet LINHA = up(\n  meta.linha ||\n  meta.Linha ||\n  meta.linhaProduto ||\n  meta['linha produto'] ||\n  ''\n);\n\n// remove ruídos que NÃO são linha de produto\nLINHA = LINHA\n  .replace(/(SUVINIL|TINTA|ACRILICO|ACRILICA|PAREDE|INTERNA|EXTERNA|PREMIUM)/g, ' ')\n  .replace(/\\s\\s+/g, ' ')\n  .trim();\n\nif (!LINHA || LINHA.length < 3) LINHA = '';\n\n\n// 2) Junta descrições + preços\nconst descs  = items.filter(i => Array.isArray(i.json?.hashesMd5)).map(i => i.json);\nconst prices = items.filter(i => typeof i.json?.hashMd5 === 'string').map(i => i.json);\nconst priceByHash = Object.fromEntries(prices.map(p => [p.hashMd5, p]));\n\nlet produtos = descs.map(d => {\n  const h = d.hashesMd5?.[0];\n  const p = priceByHash[h];\n  if (!p) return null;\n  return {\n    sigla: d.sigla,\n    cor: d.cor,\n    acabamento: d.acabamento,\n    embalagem: d.embalagem,\n    volume: d.volume,\n    preco: Number(p.preco1 || 0),\n    estoque: Number(p.estoqueDisponivel || 0),\n    hash: h,\n  };\n}).filter(Boolean);\n\n\n// 3) Filtra por embalagem coerente\nconst embOK = embalagemEsperada(VOLRAW);\nif (embOK) produtos = produtos.filter(p => up(p.embalagem) === embOK);\n\n\n// 💥 4) SE TEM LINHA ESPECÍFICA, PRIORIZA ELA ACIMA DE TUDO\nif (LINHA) {\n  const produtosLinha = produtos.filter(p => {\n    const acab = up(p.acabamento);\n    // verifica se contém a linha inteira OU todas as palavras da linha\n    const words = LINHA.split(' ').filter(Boolean);\n    return acab.includes(LINHA) || (words.length > 1 && words.every(w => acab.includes(w)));\n  });\n\n  if (produtosLinha.length > 0) {\n    // tem produtos na linha pedida — escolhe o melhor (com preço e estoque)\n    const comPreco = produtosLinha.filter(p => p.preco > 0);\n    \n    if (comPreco.length > 0) {\n      // ordena por estoque (maior primeiro), depois preço (menor)\n      comPreco.sort((a, b) => {\n        if (b.estoque !== a.estoque) return b.estoque - a.estoque;\n        return a.preco - b.preco;\n      });\n      \n      const escolhido = comPreco[0];\n      return [{ json: { mensagem: formatarMensagemProduto(escolhido, VOLRAW) } }];\n    } else {\n      // linha existe mas sem preço disponível\n      return [{\n        json: { mensagem: `Encontrei a linha **${meta.Linha || meta.linha}** mas está sem preço disponível no momento.\\nDeseja que um vendedor verifique?` }\n      }];\n    }\n  } else {\n    // não encontrou nenhum produto na linha pedida\n    return [{\n      json: { mensagem: `Não encontrei exatamente a linha **${meta.Linha || meta.linha}** nesta cor e volume.\\nDeseja que um vendedor verifique opções nesta mesma linha?` }\n    }];\n  }\n}\n\n\n// === A PARTIR DAQUI, SÓ EXECUTA SE NÃO TEM LINHA ESPECÍFICA ===\n\n// 5) Categoria (baseado no acabamento pedido)\nfunction catKey(acabPed) {\n  if (acabPed.includes('FOSCO') && acabPed.includes('LAV')) return 'premium_fosco_lavavel';\n  if (acabPed.includes('FOSCO')) return 'premium_fosco';\n  if (acabPed.includes('ACET')) return 'premium_acetinado';\n  if (acabPed.includes('SEMI') || acabPed.includes('BRILHO')) return 'premium_semibrilho';\n  return 'premium_fosco';\n}\nconst CAT = catKey(ACABPD);\n\n\n// 6) Prioriza TMC Inspira (se aplicável)\nconst tmcInspira = produtos.find(p => {\n  const acab = up(p.acabamento);\n  return acab.includes('TMC INSPIRA') && p.preco > 0;\n});\nif (tmcInspira) {\n  return [{ json: { mensagem: formatarMensagemProduto(tmcInspira, VOLRAW) } }];\n}\n\n\n// 7) Regras de prioridade por sigla/categoria\nconst regras = {\n  premium_fosco: {\n    SUV: ['TOQUE FOSCO COMPLETO'], \n    SHW: ['METALATEX ACRILICO FOSCO', 'NOVO METALATEX ACRILICO FOSCO'],\n    CIM: ['DECORA MATTE FO', '3 EM 1 FOSCO', 'CORAL MASTER FOSCO'],\n    TMC: ['INSPIRA FOSCO', 'TMC INSPIRA FOSCO'],\n  },\n  premium_fosco_lavavel: {\n    SUV: ['SEMPRE LIMPO'],\n    CIM: ['SUPER LAVAVEL'],\n  },\n  premium_acetinado: {\n    SUV: ['TOQUE DE SEDA', 'TOQUE SEDA'],\n    SHW: ['METALATEX ELASTIC SEMIACETINADO'],\n    CIM: ['DECORA SEDA'],\n  },\n  premium_semibrilho: {\n    SUV: ['TOQUE BRILHO'],\n    SHW: ['METALATEX ACRILICO SEMIBRILHO'],\n    CIM: ['DECORA DIAMANTE'],\n  },\n};\n\nfunction pickByPriority(sigla, cat, listaProdutos) {\n  const arr = (regras[cat] || {})[sigla] || [];\n  if (!arr.length) return null;\n\n  for (const alvo of arr) {\n    const A = up(alvo);\n    const found = listaProdutos.find(p => up(p.acabamento).includes(A) && p.preco > 0);\n    if (found) return found;\n  }\n  return null;\n}\n\nconst escolhidoPrioridade = pickByPriority(SIGLA, CAT, produtos);\nif (escolhidoPrioridade) {\n  return [{ json: { mensagem: formatarMensagemProduto(escolhidoPrioridade, VOLRAW) } }];\n}\n\n\n// 8) FALLBACK — melhor disponível\nprodutos = produtos.filter(p => p.preco > 0);\n\nif (produtos.length === 0) {\n  return [{\n    json: { mensagem: `Não encontrei produtos disponíveis com preço para este volume. Deseja verificar com um vendedor?` }\n  }];\n}\n\nfunction scoreAcabamentoFallback(acabamento) {\n  const acab = up(acabamento);\n  if (ACABPD.includes('ACET') && acab.includes('ACET')) return 500;\n  if (ACABPD.includes('FOSCO') && acab.includes('FOSCO')) return 500;\n  if (ACABPD.includes('BRILHO') && acab.includes('BRILHO')) return 500;\n  if (ACABPD.includes('SEMI') && acab.includes('SEMI')) return 500;\n  return 100;\n}\n\nprodutos.sort((a, b) => {\n  const scoreA = scoreAcabamentoFallback(a.acabamento);\n  const scoreB = scoreAcabamentoFallback(b.acabamento);\n  if (scoreB !== scoreA) return scoreB - scoreA;\n  if (b.estoque !== a.estoque) return b.estoque - a.estoque;\n  return a.preco - b.preco;\n});\n\nconst escolhidoFallback = produtos[0];\nconst aviso = '⚠️ Produto sugerido baseado em disponibilidade e melhor preço.';\nreturn [{ json: { mensagem: formatarMensagemProduto(escolhidoFallback, VOLRAW, aviso) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4464,1456],"id":"4557de13-a3bc-41dc-a6db-3ab7c7ab7c01","name":"Selecionar Melhor Preço e Montar Resposta Final1"},{"parameters":{"operation":"get","key":"api_citel_lock2","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[752,1424],"id":"b2ee8bb0-67a8-49ed-bf82-f29bc244ef8b","name":"Redis3","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e78f8c59-bf45-4169-a0aa-e8dfcf9f9bcc","leftValue":"={{ $json.propertyName }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,1424],"id":"75ac228f-6d73-46bb-9edd-623b82576ce1","name":"If1"},{"parameters":{"operation":"set","key":"api_citel_lock2","value":"={{ $execution.id }}","expire":true,"ttl":120},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1184,1408],"id":"9c6c0f0a-9fb0-4dc5-b9af-89ac6c8152ce","name":"Redis4","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1152,1616],"id":"26adcafc-beb7-4aa2-98a3-fc591a062c2a","name":"Wait1","webhookId":"c4cce23b-b575-4f19-90a5-ec79ff694139"},{"parameters":{"jsCode":"// Delay aleatório para dessincronizar\nconst delay = Math.random() * 2000;\nawait new Promise(resolve => setTimeout(resolve, delay));\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,1424],"id":"ecefa8b9-8a44-45d6-b8e7-e846a8006957","name":"Code1"},{"parameters":{"jsCode":"// 🔥 CORREÇÃO: Pega dados do trigger original, não do Redis\nconst payload = $('Início: Receber Pedido do Cliente').first().json;\n\n// 🔗 mapeamento fixo de marcas\nconst marcas = [\n  { codigoEmpresa: '179', sigla: 'CIM', nome: 'CORAL' },\n  { codigoEmpresa: '179', sigla: 'SHW', nome: 'SHERWIN WILLIAMS' },\n  { codigoEmpresa: '179', sigla: 'SUV', nome: 'SUVINIL' },\n];\n\n// 📌 aliases de marcas (apelidos → nome oficial)\nconst aliases = {\n  'tmc': 'sherwin williams',\n  'tintas mc': 'sherwin williams',\n  'sw': 'sherwin williams',\n  'sherwin': 'sherwin williams',\n  'sherwin-williams':'sherwin williams',\n  'cim': 'coral',\n  'suv': 'suvinil',\n};\n\n// 🔄 trata entrada de marca ou sigla\nlet marcaEntrada = (payload.Marca || '').toLowerCase().trim();\nif (aliases[marcaEntrada]) {\n  marcaEntrada = aliases[marcaEntrada];\n}\nconst marca = marcas.find(m =>\n  m.nome.toLowerCase() === marcaEntrada || m.sigla.toLowerCase() === marcaEntrada\n);\nif (!marca) throw new Error(`Marca '${payload.Marca}' não mapeada`);\n\n// ==========================================================\n// Normalização da cor → remove acentos, artigos e cores genéricas\n// ==========================================================\nconst normalizaCor = cor => {\n  const stop = [\n    'o ', 'a ', 'os ', 'as ', 'um ', 'uma ', 'de ', 'do ', 'da ', 'dos ', 'das ',\n    'cinza ', 'branco ', 'preto ', 'amarelo ', 'azul ', 'verde ', 'vermelho ',\n    'rosa ', 'marrom ', 'bege ', 'violeta ', 'roxo '\n  ];\n  let s = String(cor ?? '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/\\p{Diacritic}/gu, '')\n    .trim();\n  const w = stop.find(p => s.startsWith(p));\n  if (w) s = s.slice(w.length).trim();\n  return s;\n};\n\n// ==========================================================\n// Aliases de categoria → premium | standard | economica\n// ==========================================================\nconst norm = s => String(s || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/\\p{Diacritic}/gu, '')\n  .trim();\n\nconst categoriaAliases = {\n  premium: [\n    'premium', 'super premium', 'prime', 'top', 'topo', 'linha premium',\n    'superior', 'gold', 'platina', 'platinum', 'diamante'\n  ],\n  standard: [\n    'standard', 'standart', 'intermediaria', 'intermediario', 'intermediário',\n    'intermediária', 'medio', 'médio', 'media', 'média', 'padrao', 'padrão',\n    'tradicional', 'regular', 'comum', 'linha media', 'linha média'\n  ],\n  economica: [\n    'economica', 'economico', 'econômica', 'econômico', 'economy',\n    'entrada', 'basica', 'básica', 'popular', 'barata', 'mais barata',\n    'essencial', 'value', 'promo', 'oferta', 'iniciante', 'starter'\n  ],\n};\n\nfunction mapCategoria(catBruta) {\n  const c = norm(catBruta);\n\n  if (!c) return 'standard'; // default seguro\n\n  // checa por prioridade: premium → standard → economica\n  for (const alvo of categoriaAliases.premium)   if (c.includes(alvo))   return 'premium';\n  for (const alvo of categoriaAliases.standard)  if (c.includes(alvo))   return 'standard';\n  for (const alvo of categoriaAliases.economica) if (c.includes(alvo))   return 'economica';\n\n  // heurísticas simples\n  if (/(prem|top|superior)/.test(c)) return 'premium';\n  if (/(inter|medio|m[eé]dio|padr[aã]o|trad)/.test(c)) return 'standard';\n  if (/(econ|barat|b[aá]sic|popular|value|promo|oferta)/.test(c)) return 'economica';\n\n  return 'standard';\n}\n\n// ==========================================================\n// Função para converter KG para Litros (L)\n// ==========================================================\nconst converteVolumeKgParaL = (volumeInput) => {\n  if (!volumeInput) return '';\n\n  const v = String(volumeInput).toLowerCase().replace(/\\s+/g, '').replace(',', '.');\n\n  if (v.includes('kg')) {\n    if (v.startsWith('25') || v.startsWith('28')) {\n      return '18L';\n    }\n    if (v.startsWith('3.6') || v.startsWith('5') || v.startsWith('5.6')) {\n      return '3.6L';\n    }\n    if (v.startsWith('1.2') || v.startsWith('1.4') || v.startsWith('1.5')) {\n      return '0.9L';\n    }\n  }\n\n  return payload.Volume;\n};\n\n// Chama a nova função para tratar o volume\nconst volumeProcessado = converteVolumeKgParaL(payload.Volume);\n\n// Normaliza categoria com aliases\nconst categoriaProcessada = mapCategoria(payload.categoria);\n\n// ==========================================================\n// Saída final para próximo HTTP\n// ==========================================================\nreturn [\n  {\n    json: {\n      codigoEmpresa: marca.codigoEmpresa,\n      sigla: marca.sigla,\n      cor: normalizaCor(payload.Cor),\n      volume: volumeProcessado,\n      acabamento: payload.Acabamento,\n      superficie: payload['superfície'] ?? payload.superficie ?? '',\n      telefoneCliente: payload.telefoneCliente,\n      categoria: categoriaProcessada,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,1408],"id":"96813442-0418-4839-873c-aaca53da781b","name":"Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3536,1424],"id":"16efb94a-410d-41b2-9c94-4586845e061d","name":"Wait","webhookId":"dc5b86c9-93be-4219-b7e0-127e7f0fd9d7"},{"parameters":{"operation":"delete","key":"api_citel_lock2"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1888,1584],"id":"5546b76d-2bc4-4f28-b227-2698860ba889","name":"Redis","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"api_citel_lock2"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3440,1296],"id":"4b24d506-2d8b-4bb0-8bf0-73b725cc8123","name":"Redis1","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"api_citel_lock2"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4672,1296],"id":"0c752905-3aea-4591-9508-e19df5d01895","name":"Redis2","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"jsCode":"// Pega a cor que o cliente pediu (normalizada)\nconst corPedida = $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').first().json.cor;\n\n// Pega o array content da resposta da API\nconst content = items[0].json.content || [];\n\n// Função para normalizar texto\nfunction normaliza(texto) {\n  return String(texto || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n}\n\n// Função para calcular score de similaridade\nfunction calcularScore(corItem, corBusca) {\n  const itemNorm = normaliza(corItem);\n  const buscaNorm = normaliza(corBusca);\n  \n  if (itemNorm === buscaNorm) return 1000;\n  if (itemNorm.startsWith(buscaNorm + ' ') || itemNorm.startsWith(buscaNorm + '-')) return 900;\n  if (itemNorm.startsWith(buscaNorm)) return 850;\n  if (itemNorm.endsWith(' ' + buscaNorm)) return 800;\n  \n  const regex = new RegExp(`\\\\b${buscaNorm}\\\\b`);\n  if (regex.test(itemNorm)) return 700;\n  \n  if (itemNorm.includes(buscaNorm)) return 500;\n  \n  return 0;\n}\n\n// Processa e ranqueia as cores\nconst coresComScore = content.map(cor => ({\n  cor: cor.cor,\n  rgb: cor.rgb,\n  codigoCor: cor.codigoCor,\n  score: calcularScore(cor.cor, corPedida)\n}));\n\n// Filtra relevantes, ordena por score, limita a 5\nconst top5 = coresComScore\n  .filter(x => x.score > 0)\n  .sort((a, b) => {\n    if (b.score !== a.score) return b.score - a.score;\n    return a.cor.length - b.cor.length;\n  })\n  .slice(0, 5);\n\nif (top5.length === 0) {\n  throw new Error(`Nenhuma cor encontrada para \"${corPedida}\"`);\n}\n\n// IMPORTANTE: Retorna cada cor como item separado (faz o split aqui)\nreturn top5.map(cor => ({ \n  json: {\n    cor: cor.cor,\n    rgb: cor.rgb,\n    codigoCor: cor.codigoCor\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,1392],"id":"e9c836d8-6e6b-476f-941e-afe46e04a366","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"da78f47b-e1c3-438b-9a02-25b7c220f7c0","name":"codigoEmpresa","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').item.json.codigoEmpresa }}","type":"string"},{"id":"1c2cbb9e-60c1-44e2-a5cf-207fb6383d6a","name":"sigla","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').item.json.sigla }}","type":"string"},{"id":"10279454-5a60-4380-8912-2c617260b8e3","name":"cor","value":"={{ $json.cor }}","type":"string"},{"id":"7a24d52f-514e-47e4-8a3b-fbb2aa61bf03","name":"volume","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').item.json.volume }}","type":"string"},{"id":"cf085037-1bd5-4593-9da6-9f117dc85619","name":"rgb","value":"={{ $json.rgb }}","type":"string"},{"id":"6672543a-ae97-479a-939f-e461aadd6cec","name":"codigoCor","value":"={{ $json.codigoCor }}","type":"string"},{"id":"367c3974-7310-4250-8a8a-7a3742dc90ab","name":"acabamento","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').item.json.acabamento }}","type":"string"},{"id":"c703b25e-0031-4583-9b89-38f9d43a7166","name":"superficie","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').item.json.superficie }}","type":"string"},{"id":"e4116858-1d9f-4e3d-961d-f240341540af","name":"Linha","value":"={{ $('Code1').first().json.linha }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2304,1600],"id":"e65214ce-93f4-4661-ad3d-2faa0646d7bf","name":"Unir Dados do Pedido com Dados da Cor1"},{"parameters":{"url":"=http://159.112.189.1:25189/V2/tintas/embalagem/{{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').item.json.sigla }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoCor","value":"={{ $json.codigoCor }}"},{"name":"codigoRgb","value":"={{ $json.rgb }}"},{"name":"cor","value":"={{ $json.cor }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,1392],"id":"3f03b17b-11c2-49d0-893d-d542b9cf2ff6","name":"API: Buscar Embalagens por Cor1","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}}],"connections":{"Início: Receber Pedido do Cliente":{"main":[[{"node":"Code1","type":"main","index":0}]]},"API: Buscar Variações da Cor1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Redis","type":"main","index":0}]]},"Agrupar Dados de Embalagem e Cor1":{"main":[[{"node":"Filtrar Produtos por Volume e Acabamento1","type":"main","index":0}]]},"Filtrar Produtos por Volume e Acabamento1":{"main":[[{"node":"API: Buscar Detalhes de Acabamento1","type":"main","index":0},{"node":"Agrupar Todos os Detalhes do Produto1","type":"main","index":0}]]},"API: Buscar Detalhes de Acabamento1":{"main":[[{"node":"Agrupar Todos os Detalhes do Produto1","type":"main","index":1}],[{"node":"Redis1","type":"main","index":0}]]},"Agrupar Todos os Detalhes do Produto1":{"main":[[{"node":"Wait","type":"main","index":0}]]}," Preparar Candidatos Finais (Filtrar e Deduplicar)1":{"main":[[{"node":"API: Buscar Preços dos Candidatos1","type":"main","index":0},{"node":"Agrupar Produtos com Seus Preços1","type":"main","index":0}]]},"API: Buscar Preços dos Candidatos1":{"main":[[{"node":"Agrupar Produtos com Seus Preços1","type":"main","index":1}],[{"node":"Redis2","type":"main","index":0}]]},"Agrupar Produtos com Seus Preços1":{"main":[[{"node":"Selecionar Melhor Preço e Montar Resposta Final1","type":"main","index":0}]]},"Selecionar Melhor Preço e Montar Resposta Final1":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis4","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1":{"main":[[{"node":"API: Buscar Variações da Cor1","type":"main","index":0}]]},"Wait":{"main":[[{"node":" Preparar Candidatos Finais (Filtrar e Deduplicar)1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"API: Buscar Embalagens por Cor1","type":"main","index":0},{"node":"Unir Dados do Pedido com Dados da Cor1","type":"main","index":0}]]},"Unir Dados do Pedido com Dados da Cor1":{"main":[[{"node":"Agrupar Produtos com Seus Preços1","type":"main","index":2},{"node":"Agrupar Dados de Embalagem e Cor1","type":"main","index":1}]]},"API: Buscar Embalagens por Cor1":{"main":[[{"node":"Agrupar Dados de Embalagem e Cor1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Início: Receber Pedido do Cliente":[{"json":{"Marca":"Coral","Cor":"Cacau da Bahia","Volume":"3.6L","Acabamento":"fosco","Base":"acrílica","superfície":"parede interna","linha":"Super Lavável"}}]},"versionId":"69015291-d540-43d5-b0c1-d4c5f565179b","activeVersionId":"69015291-d540-43d5-b0c1-d4c5f565179b","triggerCount":0,"shared":[{"updatedAt":"2025-10-24T17:19:25.562Z","createdAt":"2025-10-24T17:19:25.562Z","role":"workflow:owner","workflowId":"EgxchOEihpHr3F2v","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2025-12-23T14:25:58.301Z","createdAt":"2025-12-23T14:25:56.715Z","versionId":"69015291-d540-43d5-b0c1-d4c5f565179b","workflowId":"EgxchOEihpHr3F2v","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Marca"},{"name":"Cor"},{"name":"Volume"},{"name":"Acabamento"},{"name":"Base"},{"name":"superfície"},{"name":"linha"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[368,1424],"id":"cc335ee2-4d89-4c88-9db4-5a950221955a","name":"Início: Receber Pedido do Cliente"},{"parameters":{"url":"=http://159.112.189.1:25189/V2/tintas/cores/{{ $json.sigla }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"cor","value":"={{ $json.cor }}"},{"name":"corComRgb","value":"false"},{"name":"page","value":"0"},{"name":"size","value":"500"},{"name":"codigoEmpresa","value":"={{ $json.codigoEmpresa }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,1408],"id":"34fe6a62-d264-4c0f-9a7a-df1c9164f17a","name":"API: Buscar Variações da Cor1","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2560,1408],"id":"12028353-7c6a-4e9a-a26a-f2a1d1e95b43","name":"Agrupar Dados de Embalagem e Cor1"},{"parameters":{"jsCode":"// Função para converter volume em número (litros)\nfunction volumeParaNumero(volume) {\n  const v = (volume || '').toLowerCase().replace(/\\s+/g, '').replace(',', '.');\n  \n  // Remove 'l' ou 'ml' e converte para número em litros\n  let num = parseFloat(v.replace(/[a-z]/g, ''));\n  \n  if (v.includes('ml')) {\n    num = num / 1000; // converte ml para litros\n  }\n  \n  return isNaN(num) ? 0 : num;\n}\n\n// Função para mapear volume numérico para embalagem\nfunction numeroParaEmbalagem(volumeLitros) {\n  // Define os volumes padrão e suas embalagens\n  const padroes = [\n    { volume: 0.9, embalagem: 'LITRO' },\n    { volume: 3.6, embalagem: 'GALÃO' },\n    { volume: 18, embalagem: 'LATA' },\n    { volume: 16, embalagem: 'LATA' }\n  ];\n  \n  // Encontra o volume mais próximo\n  let maisProximo = padroes[0];\n  let menorDiferenca = Math.abs(volumeLitros - padroes[0].volume);\n  \n  for (const padrao of padroes) {\n    const diferenca = Math.abs(volumeLitros - padrao.volume);\n    if (diferenca < menorDiferenca) {\n      menorDiferenca = diferenca;\n      maisProximo = padrao;\n    }\n  }\n  \n  return maisProximo.embalagem;\n}\n\n// Pega o volume e acabamento que o cliente pediu\nconst volumePedido = items[0].json.volume;\nconst acabamentoEsperado = (items[0].json.acabamento || '').toLowerCase().trim();\n\n// Converte o volume pedido para número e encontra a embalagem mais próxima\nconst volumeNumerico = volumeParaNumero(volumePedido);\nconst embalagemEsperada = numeroParaEmbalagem(volumeNumerico);\n\n// Filtra a lista de produtos\nconst resultado = items.filter(item => {\n  // A embalagem do item da API deve ser igual à embalagem mais próxima\n  const matchEmbalagem = item.json.embalagemSimplificada === embalagemEsperada;\n\n  // A lógica de acabamento continua a mesma\n  const matchAcabamento = acabamentoEsperado\n    ? (item.json.acabamento || '').toLowerCase().includes(acabamentoEsperado)\n    : true;\n\n  return matchEmbalagem && matchAcabamento;\n});\n\n// Se, após os filtros, a lista ficar vazia, retorna um erro.\nif (resultado.length === 0) {\n  throw new Error(`Nenhum produto encontrado para esse acabamento/embalagem. Volume pedido: ${volumePedido} (${volumeNumerico}L) → Embalagem sugerida: ${embalagemEsperada}`);\n}\n\n// Prepara os dados limpos para o próximo nó do fluxo\nconst dadosCliente = resultado.map(item => ({\n  json: {\n    codigoEmpresa: item.json.codigoEmpresa,\n    sigla: item.json.sigla,\n    cor: item.json.cor,\n    volume: item.json.volume,\n    rgb: item.json.rgb,\n    codigoCor: item.json.codigoCor,\n    acabamento: item.json.acabamento,\n    embalagem: item.json.embalagemSimplificada,\n    ordemEmbalagem: item.json.ordemEmbalagemSimplificada,\n    Linha: item.json.Linha || '', // ✅ ADICIONADO: preserva a Linha\n  }\n}));\n\nreturn dadosCliente;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,1408],"id":"36b71b14-a0cb-4fc8-9e62-805b03f41049","name":"Filtrar Produtos por Volume e Acabamento1"},{"parameters":{"url":"=http://159.112.189.1:25189/V2/tintas/acabamentos/{{ $json.sigla }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoCor","value":"={{ $json.codigoCor }}"},{"name":"codigoRgb","value":"={{ $json.rgb }}"},{"name":"cor","value":"={{ $json.cor }}"},{"name":"embalagem","value":"={{ $json.embalagem }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3072,1280],"id":"92c0b494-93d7-4e41-8245-280b6f2c7d48","name":"API: Buscar Detalhes de Acabamento1","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3328,1424],"id":"36e0e99a-eef4-4d4e-a658-7ea92bdbb37b","name":"Agrupar Todos os Detalhes do Produto1"},{"parameters":{"jsCode":"// === 1) Referência e normalização ===\nconst ref = items[0]?.json || {};\nconst acabamentoCliente = ref.acabamento || '';\nconst linhaCliente = ref.Linha || ''; // ✅ ADICIONADO: captura a Linha\n\nfunction normaliza(txt) {\n  return (txt || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n}\n\n// Equivalências (bidirecional simples)\nconst equivalencias = {\n  // acetinado / sedoso\n  acetinado: ['acetinado', 'acetinada', 'seda', 'sedoso'],\n  acetinada: ['acetinado', 'acetinada', 'seda', 'sedoso'],\n  seda:      ['acetinado', 'acetinada', 'seda', 'sedoso'],\n  sedoso:    ['acetinado', 'acetinada', 'seda', 'sedoso'],\n\n  // fosco\n  fosco: ['fosco', 'matte'],\n  matte: ['fosco', 'matte'],\n\n  // brilhante\n  brilhante: ['brilho', 'brilhante'],\n  brilho:    ['brilho', 'brilhante'],\n  semibrilho: ['diamante'],\n\n  // clássica\n  classica:    ['classica', 'tradicional'],\n  tradicional: ['classica', 'tradicional'],\n};\n\nconst acbClienteNorm = normaliza(acabamentoCliente);\nconst palavrasAceitas = acbClienteNorm\n  ? (equivalencias[acbClienteNorm] || [acbClienteNorm])\n  : null; // null => não filtra por acabamento quando cliente não informou\n\n// === 2) Filtra itens válidos (descarta item 0 e quem não tem chaveCitel) ===\nlet candidatos = items.slice(1).filter(i => !!i?.json?.chaveCitel);\n\n// === 3) Aplica filtro por acabamento (somente se cliente informou algo) ===\nif (palavrasAceitas) {\n  candidatos = candidatos.filter(i => {\n    const acbItem = normaliza(i.json.acabamento);\n    if (!acbItem) return false;\n    return palavrasAceitas.some(word =>\n      acbItem.includes(word) || word.includes(acbItem)\n    );\n  });\n}\n\n// ✅ ADICIONADO: Se não encontrou nada pelo acabamento, tenta pela Linha\nif (candidatos.length === 0 && linhaCliente) {\n  const linhaNorm = normaliza(linhaCliente);\n  candidatos = items.slice(1).filter(i => {\n    if (!i?.json?.chaveCitel) return false;\n    const acbItem = normaliza(i.json.acabamento);\n    // Verifica se o acabamento contém a linha\n    return acbItem.includes(linhaNorm);\n  });\n}\n\n// === 4) Deduplica por chaveCitel (evita POST duplicado) ===\nconst vistos = new Set();\ncandidatos = candidatos.filter(i => {\n  const k = String(i.json.chaveCitel);\n  if (vistos.has(k)) return false;\n  vistos.add(k);\n  return true;\n});\n\n// === 5) Monta saída padronizada (hashesMd5 sempre preenchido) ===\nreturn candidatos.map(i => ({\n  json: {\n    codigoCliente: \"000001\",\n    codigoEmpresa: ref.codigoEmpresa,\n    sigla: ref.sigla,\n    idPro: ref.sigla,\n    rgb: i.json.rgb,\n    hashesMd5: [String(i.json.chaveCitel)],\n    cor: i.json.cor,\n    acabamento: i.json.acabamento,\n    embalagem: i.json.embalagem,\n    codigoCor: i.json.codigoCor ?? '',\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3728,1424],"id":"50846c7c-fbf5-4466-8c31-62800fe4ef48","name":" Preparar Candidatos Finais (Filtrar e Deduplicar)1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"http://159.112.189.1:25189/V2/tintas/carregar/dados","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigoCliente\": \"00000001\",\n  \"codigoEmpresa\": \"{{ $json.codigoEmpresa }}\",\n  \"hashesMd5\":{{ JSON.stringify($json.hashesMd5) }},\n  \"idPro\": \"{{ $json.sigla }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4016,1280],"id":"426b5729-d619-4ed8-a721-d08d342e38c6","name":"API: Buscar Preços dos Candidatos1","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}},"onError":"continueErrorOutput"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[4240,1440],"id":"fcd16564-785a-46cc-a189-b5f6dabedb9c","name":"Agrupar Produtos com Seus Preços1"},{"parameters":{"jsCode":"// saída: [{ json: { mensagem } }]\n\n// === UTILS (funções auxiliares) ===\nconst up = s => String(s || '')\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .toUpperCase().trim();\n\nfunction volumeByEmbalagem(e = '') {\n  const v = up(e);\n  if (v.includes('LATA')) return '18 L';\n  if (v.includes('GALAO')) return '3,6 L';\n  if (v.includes('LITRO') || v === 'L') return '0,9 L';\n  return '';\n}\n\nfunction embalagemEsperada(volume) {\n  const v = String(volume || '').replace(',', '.').replace(/\\s+/g,'').toUpperCase();\n  if (v.startsWith('18') || v.startsWith('16'))  return 'LATA';\n  if (v.startsWith('3.6')) return 'GALAO';\n  if (v.startsWith('0.9') || v.startsWith('0.5') || v.includes('900ML')) return 'LITRO';\n  return '';\n}\n\nfunction formatarMensagemProduto(produto, volRaw, aviso = '') {\n  const volStr = volumeByEmbalagem(produto.embalagem) || produto.volume || volRaw || '';\n  const desc = `${produto.sigla} ${produto.cor} ${produto.acabamento} ${produto.embalagem} ${volStr}`.replace(/\\s+/g,' ').trim();\n  const precoBRL = produto.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n  const disponibilidade = produto.estoque > 0 ? '✅ Disponível em estoque' : '⚠️ Sob consulta';\n  let mensagem = `• ${desc}\\n💰 Preço: ${precoBRL}\\n📦 ${disponibilidade}`;\n  if (aviso) mensagem += `\\n\\n${aviso}`;\n  else mensagem += `\\n\\nPosso seguir com esse item?`;\n  return mensagem;\n}\n// === FIM UTILS ===\n\n\n// 1) Pega metadados (último item do array)\nconst meta = items[items.length - 1]?.json || {};\nconst SIGLA  = up(meta.sigla);\nconst SUPERF = up(meta.superficie || meta['superfície']);\nconst ACABPD = up(meta.acabamento || meta.acabamentoPedido);\nconst VOLRAW = meta.volume || '';\nconst CODCOR = meta.codigoCor || '';\n\n// 💥 CAPTURA DE LINHA (com limpeza completa)\nlet LINHA = up(\n  meta.linha ||\n  meta.Linha ||\n  meta.linhaProduto ||\n  meta['linha produto'] ||\n  ''\n);\n\n// remove ruídos que NÃO são linha de produto\nLINHA = LINHA\n  .replace(/(SUVINIL|TINTA|ACRILICO|ACRILICA|PAREDE|INTERNA|EXTERNA|PREMIUM)/g, ' ')\n  .replace(/\\s\\s+/g, ' ')\n  .trim();\n\nif (!LINHA || LINHA.length < 3) LINHA = '';\n\n\n// 2) Junta descrições + preços\nconst descs  = items.filter(i => Array.isArray(i.json?.hashesMd5)).map(i => i.json);\nconst prices = items.filter(i => typeof i.json?.hashMd5 === 'string').map(i => i.json);\nconst priceByHash = Object.fromEntries(prices.map(p => [p.hashMd5, p]));\n\nlet produtos = descs.map(d => {\n  const h = d.hashesMd5?.[0];\n  const p = priceByHash[h];\n  if (!p) return null;\n  return {\n    sigla: d.sigla,\n    cor: d.cor,\n    acabamento: d.acabamento,\n    embalagem: d.embalagem,\n    volume: d.volume,\n    preco: Number(p.preco1 || 0),\n    estoque: Number(p.estoqueDisponivel || 0),\n    hash: h,\n  };\n}).filter(Boolean);\n\n\n// 3) Filtra por embalagem coerente\nconst embOK = embalagemEsperada(VOLRAW);\nif (embOK) produtos = produtos.filter(p => up(p.embalagem) === embOK);\n\n\n// 💥 4) SE TEM LINHA ESPECÍFICA, PRIORIZA ELA ACIMA DE TUDO\nif (LINHA) {\n  const produtosLinha = produtos.filter(p => {\n    const acab = up(p.acabamento);\n    // verifica se contém a linha inteira OU todas as palavras da linha\n    const words = LINHA.split(' ').filter(Boolean);\n    return acab.includes(LINHA) || (words.length > 1 && words.every(w => acab.includes(w)));\n  });\n\n  if (produtosLinha.length > 0) {\n    // tem produtos na linha pedida — escolhe o melhor (com preço e estoque)\n    const comPreco = produtosLinha.filter(p => p.preco > 0);\n    \n    if (comPreco.length > 0) {\n      // ordena por estoque (maior primeiro), depois preço (menor)\n      comPreco.sort((a, b) => {\n        if (b.estoque !== a.estoque) return b.estoque - a.estoque;\n        return a.preco - b.preco;\n      });\n      \n      const escolhido = comPreco[0];\n      return [{ json: { mensagem: formatarMensagemProduto(escolhido, VOLRAW) } }];\n    } else {\n      // linha existe mas sem preço disponível\n      return [{\n        json: { mensagem: `Encontrei a linha **${meta.Linha || meta.linha}** mas está sem preço disponível no momento.\\nDeseja que um vendedor verifique?` }\n      }];\n    }\n  } else {\n    // não encontrou nenhum produto na linha pedida\n    return [{\n      json: { mensagem: `Não encontrei exatamente a linha **${meta.Linha || meta.linha}** nesta cor e volume.\\nDeseja que um vendedor verifique opções nesta mesma linha?` }\n    }];\n  }\n}\n\n\n// === A PARTIR DAQUI, SÓ EXECUTA SE NÃO TEM LINHA ESPECÍFICA ===\n\n// 5) Categoria (baseado no acabamento pedido)\nfunction catKey(acabPed) {\n  if (acabPed.includes('FOSCO') && acabPed.includes('LAV')) return 'premium_fosco_lavavel';\n  if (acabPed.includes('FOSCO')) return 'premium_fosco';\n  if (acabPed.includes('ACET')) return 'premium_acetinado';\n  if (acabPed.includes('SEMI') || acabPed.includes('BRILHO')) return 'premium_semibrilho';\n  return 'premium_fosco';\n}\nconst CAT = catKey(ACABPD);\n\n\n// 6) Prioriza TMC Inspira (se aplicável)\nconst tmcInspira = produtos.find(p => {\n  const acab = up(p.acabamento);\n  return acab.includes('TMC INSPIRA') && p.preco > 0;\n});\nif (tmcInspira) {\n  return [{ json: { mensagem: formatarMensagemProduto(tmcInspira, VOLRAW) } }];\n}\n\n\n// 7) Regras de prioridade por sigla/categoria\nconst regras = {\n  premium_fosco: {\n    SUV: ['TOQUE FOSCO COMPLETO'], \n    SHW: ['METALATEX ACRILICO FOSCO', 'NOVO METALATEX ACRILICO FOSCO'],\n    CIM: ['DECORA MATTE FO', '3 EM 1 FOSCO', 'CORAL MASTER FOSCO'],\n    TMC: ['INSPIRA FOSCO', 'TMC INSPIRA FOSCO'],\n  },\n  premium_fosco_lavavel: {\n    SUV: ['SEMPRE LIMPO'],\n    CIM: ['SUPER LAVAVEL'],\n  },\n  premium_acetinado: {\n    SUV: ['TOQUE DE SEDA', 'TOQUE SEDA'],\n    SHW: ['METALATEX ELASTIC SEMIACETINADO'],\n    CIM: ['DECORA SEDA'],\n  },\n  premium_semibrilho: {\n    SUV: ['TOQUE BRILHO'],\n    SHW: ['METALATEX ACRILICO SEMIBRILHO'],\n    CIM: ['DECORA DIAMANTE'],\n  },\n};\n\nfunction pickByPriority(sigla, cat, listaProdutos) {\n  const arr = (regras[cat] || {})[sigla] || [];\n  if (!arr.length) return null;\n\n  for (const alvo of arr) {\n    const A = up(alvo);\n    const found = listaProdutos.find(p => up(p.acabamento).includes(A) && p.preco > 0);\n    if (found) return found;\n  }\n  return null;\n}\n\nconst escolhidoPrioridade = pickByPriority(SIGLA, CAT, produtos);\nif (escolhidoPrioridade) {\n  return [{ json: { mensagem: formatarMensagemProduto(escolhidoPrioridade, VOLRAW) } }];\n}\n\n\n// 8) FALLBACK — melhor disponível\nprodutos = produtos.filter(p => p.preco > 0);\n\nif (produtos.length === 0) {\n  return [{\n    json: { mensagem: `Não encontrei produtos disponíveis com preço para este volume. Deseja verificar com um vendedor?` }\n  }];\n}\n\nfunction scoreAcabamentoFallback(acabamento) {\n  const acab = up(acabamento);\n  if (ACABPD.includes('ACET') && acab.includes('ACET')) return 500;\n  if (ACABPD.includes('FOSCO') && acab.includes('FOSCO')) return 500;\n  if (ACABPD.includes('BRILHO') && acab.includes('BRILHO')) return 500;\n  if (ACABPD.includes('SEMI') && acab.includes('SEMI')) return 500;\n  return 100;\n}\n\nprodutos.sort((a, b) => {\n  const scoreA = scoreAcabamentoFallback(a.acabamento);\n  const scoreB = scoreAcabamentoFallback(b.acabamento);\n  if (scoreB !== scoreA) return scoreB - scoreA;\n  if (b.estoque !== a.estoque) return b.estoque - a.estoque;\n  return a.preco - b.preco;\n});\n\nconst escolhidoFallback = produtos[0];\nconst aviso = '⚠️ Produto sugerido baseado em disponibilidade e melhor preço.';\nreturn [{ json: { mensagem: formatarMensagemProduto(escolhidoFallback, VOLRAW, aviso) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4464,1456],"id":"4557de13-a3bc-41dc-a6db-3ab7c7ab7c01","name":"Selecionar Melhor Preço e Montar Resposta Final1"},{"parameters":{"operation":"get","key":"api_citel_lock2","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[752,1424],"id":"b2ee8bb0-67a8-49ed-bf82-f29bc244ef8b","name":"Redis3","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e78f8c59-bf45-4169-a0aa-e8dfcf9f9bcc","leftValue":"={{ $json.propertyName }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,1424],"id":"75ac228f-6d73-46bb-9edd-623b82576ce1","name":"If1"},{"parameters":{"operation":"set","key":"api_citel_lock2","value":"={{ $execution.id }}","expire":true,"ttl":120},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1184,1408],"id":"9c6c0f0a-9fb0-4dc5-b9af-89ac6c8152ce","name":"Redis4","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1152,1616],"id":"26adcafc-beb7-4aa2-98a3-fc591a062c2a","name":"Wait1","webhookId":"c4cce23b-b575-4f19-90a5-ec79ff694139"},{"parameters":{"jsCode":"// Delay aleatório para dessincronizar\nconst delay = Math.random() * 2000;\nawait new Promise(resolve => setTimeout(resolve, delay));\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,1424],"id":"ecefa8b9-8a44-45d6-b8e7-e846a8006957","name":"Code1"},{"parameters":{"jsCode":"// 🔥 CORREÇÃO: Pega dados do trigger original, não do Redis\nconst payload = $('Início: Receber Pedido do Cliente').first().json;\n\n// 🔗 mapeamento fixo de marcas\nconst marcas = [\n  { codigoEmpresa: '179', sigla: 'CIM', nome: 'CORAL' },\n  { codigoEmpresa: '179', sigla: 'SHW', nome: 'SHERWIN WILLIAMS' },\n  { codigoEmpresa: '179', sigla: 'SUV', nome: 'SUVINIL' },\n];\n\n// 📌 aliases de marcas (apelidos → nome oficial)\nconst aliases = {\n  'tmc': 'sherwin williams',\n  'tintas mc': 'sherwin williams',\n  'sw': 'sherwin williams',\n  'sherwin': 'sherwin williams',\n  'sherwin-williams':'sherwin williams',\n  'cim': 'coral',\n  'suv': 'suvinil',\n};\n\n// 🔄 trata entrada de marca ou sigla\nlet marcaEntrada = (payload.Marca || '').toLowerCase().trim();\nif (aliases[marcaEntrada]) {\n  marcaEntrada = aliases[marcaEntrada];\n}\nconst marca = marcas.find(m =>\n  m.nome.toLowerCase() === marcaEntrada || m.sigla.toLowerCase() === marcaEntrada\n);\nif (!marca) throw new Error(`Marca '${payload.Marca}' não mapeada`);\n\n// ==========================================================\n// Normalização da cor → remove acentos, artigos e cores genéricas\n// ==========================================================\nconst normalizaCor = cor => {\n  const stop = [\n    'o ', 'a ', 'os ', 'as ', 'um ', 'uma ', 'de ', 'do ', 'da ', 'dos ', 'das ',\n    'cinza ', 'branco ', 'preto ', 'amarelo ', 'azul ', 'verde ', 'vermelho ',\n    'rosa ', 'marrom ', 'bege ', 'violeta ', 'roxo '\n  ];\n  let s = String(cor ?? '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/\\p{Diacritic}/gu, '')\n    .trim();\n  const w = stop.find(p => s.startsWith(p));\n  if (w) s = s.slice(w.length).trim();\n  return s;\n};\n\n// ==========================================================\n// Aliases de categoria → premium | standard | economica\n// ==========================================================\nconst norm = s => String(s || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/\\p{Diacritic}/gu, '')\n  .trim();\n\nconst categoriaAliases = {\n  premium: [\n    'premium', 'super premium', 'prime', 'top', 'topo', 'linha premium',\n    'superior', 'gold', 'platina', 'platinum', 'diamante'\n  ],\n  standard: [\n    'standard', 'standart', 'intermediaria', 'intermediario', 'intermediário',\n    'intermediária', 'medio', 'médio', 'media', 'média', 'padrao', 'padrão',\n    'tradicional', 'regular', 'comum', 'linha media', 'linha média'\n  ],\n  economica: [\n    'economica', 'economico', 'econômica', 'econômico', 'economy',\n    'entrada', 'basica', 'básica', 'popular', 'barata', 'mais barata',\n    'essencial', 'value', 'promo', 'oferta', 'iniciante', 'starter'\n  ],\n};\n\nfunction mapCategoria(catBruta) {\n  const c = norm(catBruta);\n\n  if (!c) return 'standard'; // default seguro\n\n  // checa por prioridade: premium → standard → economica\n  for (const alvo of categoriaAliases.premium)   if (c.includes(alvo))   return 'premium';\n  for (const alvo of categoriaAliases.standard)  if (c.includes(alvo))   return 'standard';\n  for (const alvo of categoriaAliases.economica) if (c.includes(alvo))   return 'economica';\n\n  // heurísticas simples\n  if (/(prem|top|superior)/.test(c)) return 'premium';\n  if (/(inter|medio|m[eé]dio|padr[aã]o|trad)/.test(c)) return 'standard';\n  if (/(econ|barat|b[aá]sic|popular|value|promo|oferta)/.test(c)) return 'economica';\n\n  return 'standard';\n}\n\n// ==========================================================\n// Função para converter KG para Litros (L)\n// ==========================================================\nconst converteVolumeKgParaL = (volumeInput) => {\n  if (!volumeInput) return '';\n\n  const v = String(volumeInput).toLowerCase().replace(/\\s+/g, '').replace(',', '.');\n\n  if (v.includes('kg')) {\n    if (v.startsWith('25') || v.startsWith('28')) {\n      return '18L';\n    }\n    if (v.startsWith('3.6') || v.startsWith('5') || v.startsWith('5.6')) {\n      return '3.6L';\n    }\n    if (v.startsWith('1.2') || v.startsWith('1.4') || v.startsWith('1.5')) {\n      return '0.9L';\n    }\n  }\n\n  return payload.Volume;\n};\n\n// Chama a nova função para tratar o volume\nconst volumeProcessado = converteVolumeKgParaL(payload.Volume);\n\n// Normaliza categoria com aliases\nconst categoriaProcessada = mapCategoria(payload.categoria);\n\n// ==========================================================\n// Saída final para próximo HTTP\n// ==========================================================\nreturn [\n  {\n    json: {\n      codigoEmpresa: marca.codigoEmpresa,\n      sigla: marca.sigla,\n      cor: normalizaCor(payload.Cor),\n      volume: volumeProcessado,\n      acabamento: payload.Acabamento,\n      superficie: payload['superfície'] ?? payload.superficie ?? '',\n      telefoneCliente: payload.telefoneCliente,\n      categoria: categoriaProcessada,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,1408],"id":"96813442-0418-4839-873c-aaca53da781b","name":"Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3536,1424],"id":"16efb94a-410d-41b2-9c94-4586845e061d","name":"Wait","webhookId":"dc5b86c9-93be-4219-b7e0-127e7f0fd9d7"},{"parameters":{"operation":"delete","key":"api_citel_lock2"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1888,1584],"id":"5546b76d-2bc4-4f28-b227-2698860ba889","name":"Redis","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"api_citel_lock2"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3440,1296],"id":"4b24d506-2d8b-4bb0-8bf0-73b725cc8123","name":"Redis1","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"api_citel_lock2"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4672,1296],"id":"0c752905-3aea-4591-9508-e19df5d01895","name":"Redis2","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"jsCode":"// Pega a cor que o cliente pediu (normalizada)\nconst corPedida = $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').first().json.cor;\n\n// Pega o array content da resposta da API\nconst content = items[0].json.content || [];\n\n// Função para normalizar texto\nfunction normaliza(texto) {\n  return String(texto || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n}\n\n// Função para calcular score de similaridade\nfunction calcularScore(corItem, corBusca) {\n  const itemNorm = normaliza(corItem);\n  const buscaNorm = normaliza(corBusca);\n  \n  if (itemNorm === buscaNorm) return 1000;\n  if (itemNorm.startsWith(buscaNorm + ' ') || itemNorm.startsWith(buscaNorm + '-')) return 900;\n  if (itemNorm.startsWith(buscaNorm)) return 850;\n  if (itemNorm.endsWith(' ' + buscaNorm)) return 800;\n  \n  const regex = new RegExp(`\\\\b${buscaNorm}\\\\b`);\n  if (regex.test(itemNorm)) return 700;\n  \n  if (itemNorm.includes(buscaNorm)) return 500;\n  \n  return 0;\n}\n\n// Processa e ranqueia as cores\nconst coresComScore = content.map(cor => ({\n  cor: cor.cor,\n  rgb: cor.rgb,\n  codigoCor: cor.codigoCor,\n  score: calcularScore(cor.cor, corPedida)\n}));\n\n// Filtra relevantes, ordena por score, limita a 5\nconst top5 = coresComScore\n  .filter(x => x.score > 0)\n  .sort((a, b) => {\n    if (b.score !== a.score) return b.score - a.score;\n    return a.cor.length - b.cor.length;\n  })\n  .slice(0, 5);\n\nif (top5.length === 0) {\n  throw new Error(`Nenhuma cor encontrada para \"${corPedida}\"`);\n}\n\n// IMPORTANTE: Retorna cada cor como item separado (faz o split aqui)\nreturn top5.map(cor => ({ \n  json: {\n    cor: cor.cor,\n    rgb: cor.rgb,\n    codigoCor: cor.codigoCor\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,1392],"id":"e9c836d8-6e6b-476f-941e-afe46e04a366","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"da78f47b-e1c3-438b-9a02-25b7c220f7c0","name":"codigoEmpresa","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').item.json.codigoEmpresa }}","type":"string"},{"id":"1c2cbb9e-60c1-44e2-a5cf-207fb6383d6a","name":"sigla","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').item.json.sigla }}","type":"string"},{"id":"10279454-5a60-4380-8912-2c617260b8e3","name":"cor","value":"={{ $json.cor }}","type":"string"},{"id":"7a24d52f-514e-47e4-8a3b-fbb2aa61bf03","name":"volume","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').item.json.volume }}","type":"string"},{"id":"cf085037-1bd5-4593-9da6-9f117dc85619","name":"rgb","value":"={{ $json.rgb }}","type":"string"},{"id":"6672543a-ae97-479a-939f-e461aadd6cec","name":"codigoCor","value":"={{ $json.codigoCor }}","type":"string"},{"id":"367c3974-7310-4250-8a8a-7a3742dc90ab","name":"acabamento","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').item.json.acabamento }}","type":"string"},{"id":"c703b25e-0031-4583-9b89-38f9d43a7166","name":"superficie","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').item.json.superficie }}","type":"string"},{"id":"e4116858-1d9f-4e3d-961d-f240341540af","name":"Linha","value":"={{ $('Code1').first().json.linha }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2304,1600],"id":"e65214ce-93f4-4661-ad3d-2faa0646d7bf","name":"Unir Dados do Pedido com Dados da Cor1"},{"parameters":{"url":"=http://159.112.189.1:25189/V2/tintas/embalagem/{{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1').item.json.sigla }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoCor","value":"={{ $json.codigoCor }}"},{"name":"codigoRgb","value":"={{ $json.rgb }}"},{"name":"cor","value":"={{ $json.cor }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,1392],"id":"3f03b17b-11c2-49d0-893d-d542b9cf2ff6","name":"API: Buscar Embalagens por Cor1","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}}],"connections":{"Início: Receber Pedido do Cliente":{"main":[[{"node":"Code1","type":"main","index":0}]]},"API: Buscar Variações da Cor1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Redis","type":"main","index":0}]]},"Agrupar Dados de Embalagem e Cor1":{"main":[[{"node":"Filtrar Produtos por Volume e Acabamento1","type":"main","index":0}]]},"Filtrar Produtos por Volume e Acabamento1":{"main":[[{"node":"API: Buscar Detalhes de Acabamento1","type":"main","index":0},{"node":"Agrupar Todos os Detalhes do Produto1","type":"main","index":0}]]},"API: Buscar Detalhes de Acabamento1":{"main":[[{"node":"Agrupar Todos os Detalhes do Produto1","type":"main","index":1}],[{"node":"Redis1","type":"main","index":0}]]},"Agrupar Todos os Detalhes do Produto1":{"main":[[{"node":"Wait","type":"main","index":0}]]}," Preparar Candidatos Finais (Filtrar e Deduplicar)1":{"main":[[{"node":"API: Buscar Preços dos Candidatos1","type":"main","index":0},{"node":"Agrupar Produtos com Seus Preços1","type":"main","index":0}]]},"API: Buscar Preços dos Candidatos1":{"main":[[{"node":"Agrupar Produtos com Seus Preços1","type":"main","index":1}],[{"node":"Redis2","type":"main","index":0}]]},"Agrupar Produtos com Seus Preços1":{"main":[[{"node":"Selecionar Melhor Preço e Montar Resposta Final1","type":"main","index":0}]]},"Selecionar Melhor Preço e Montar Resposta Final1":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis4","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Preparar Dados: Tratar Marca, Cor e Volume (KG→L)1":{"main":[[{"node":"API: Buscar Variações da Cor1","type":"main","index":0}]]},"Wait":{"main":[[{"node":" Preparar Candidatos Finais (Filtrar e Deduplicar)1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"API: Buscar Embalagens por Cor1","type":"main","index":0},{"node":"Unir Dados do Pedido com Dados da Cor1","type":"main","index":0}]]},"Unir Dados do Pedido com Dados da Cor1":{"main":[[{"node":"Agrupar Produtos com Seus Preços1","type":"main","index":2},{"node":"Agrupar Dados de Embalagem e Cor1","type":"main","index":1}]]},"API: Buscar Embalagens por Cor1":{"main":[[{"node":"Agrupar Dados de Embalagem e Cor1","type":"main","index":0}]]}},"authors":"Miguel Nunes","name":"Version 69015291","description":""},"tags":[{"updatedAt":"2025-10-31T13:40:20.241Z","createdAt":"2025-10-31T13:40:20.241Z","id":"uMxn0uWfEQ1aHbl6","name":"Tintasmc_Marcel"}]}