F2HrmtSI633VnM68.json
{"updatedAt":"2025-11-14T12:58:12.391Z","createdAt":"2025-11-14T12:51:57.966Z","id":"F2HrmtSI633VnM68","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"d6a453c1-51ed-4f7a-a20c-e1343a8493c7","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"91f8e6c3-90ff-4cf0-990a-966c43141114","name":"telefone ","value":"5512988112870","type":"string"},{"id":"e4b1ec02-3396-4bd8-b560-ace61dbbf966","name":"Mensagem ","value":"=Teste de produto\nBusque os seguintes itens:\n1 tinta branca Lata fosca para parede interna\n1 tinta galão para piso amarelo demarcação\n1 tinta cor valentino quartinho \n1 pincel 2\"\n1 fita crepe larga\n","type":"string"},{"id":"268c7d46-d24b-43c8-a856-c9f70fa54e0f","name":"tatuapé","value":"5511972727458","type":"string"},{"id":"7789dfed-60cc-4c96-8513-29c1a315962f","name":"Analia F","value":"5511954725014","type":"string"},{"id":"eb49bac6-a438-417b-9ef1-b636c4bb26a7","name":"Guarulhos","value":"5511999142303","type":"string"},{"id":"db19da32-09e8-4cf5-9439-e70bda5cb2c5","name":"Guedala","value":"5511915058579","type":"string"},{"id":"59a1554d-17e7-4afe-95fd-015990f37fb0","name":"mascote","value":"5511992650708","type":"string"},{"id":"1fbca41f-81c1-4d8e-9a64-d925f927abeb","name":"V andrade","value":"5511976410113","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"33d39d96-a484-40c4-acda-5a270192ce13","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json['Analia F'] }}"},{"name":"text","value":"={{ $json['Mensagem '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[544,-192],"id":"8849079f-34e9-4497-b66f-333f949b172b","name":"Envia MSG"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.Guarulhos }}"},{"name":"text","value":"={{ $json['Mensagem '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[544,-16],"id":"d0ac16e9-293f-4b10-aa47-9b00bcf6d42b","name":"Envia MSG1"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.Guedala }}"},{"name":"text","value":"={{ $json['Mensagem '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[544,176],"id":"dbbd990a-fede-4aaf-a95f-a43f7e5fdacc","name":"Envia MSG2"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json['V andrade'] }}"},{"name":"text","value":"={{ $json['Mensagem '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[544,368],"id":"cbf1e709-f120-4a0d-9e36-19bc3c3f0abb","name":"Envia MSG3"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json['tatuapé'] }}"},{"name":"text","value":"={{ $json['Mensagem '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[544,-352],"id":"ee70c21b-99a4-422e-ae1d-110d7b78bbec","name":"Envia MSG4"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Envia MSG4","type":"main","index":0},{"node":"Envia MSG","type":"main","index":0},{"node":"Envia MSG1","type":"main","index":0},{"node":"Envia MSG2","type":"main","index":0},{"node":"Envia MSG3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"898d8573-074d-44a0-92e5-63050fa942fd","triggerCount":0,"shared":[{"updatedAt":"2025-11-14T12:51:57.966Z","createdAt":"2025-11-14T12:51:57.966Z","role":"workflow:owner","workflowId":"F2HrmtSI633VnM68","projectId":"W24N0g2dDZJdiV78"}],"tags":[]}