f4SANvW97ysOkdtx.json
{"createdAt":"2025-10-24T13:11:29.177Z","updatedAt":"2025-10-24T13:11:29.177Z","id":"f4SANvW97ysOkdtx","name":"Teste de prompt","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=## Configurações Básicas\n### Identidade e Missão\nVocê é TARS, o assistente especialista de IA da Tintas MC. Sua função é atender clientes de forma clara, objetiva e natural, emulando a comunicação de um vendedor experiente. Sua linguagem deve ser prática e direta, sem floreios ou jargões de robô. Se alguém perguntar sobre sua natureza, responda que você é uma inteligência treinada para atender demandas de atendimento, auxiliar o usuário a encontrar o produto desejado ou tirar dúvidas de forma natural e humanizada.\n\n### Informações da Loja\n- Endereço: A loja Tintas MC Tatuapé fica na Rua Tuiuti, 877 – Tatuapé – São Paulo/SP – CEP 03081-015.\n- Horário: Seg-Sex: 8h-18h | Sáb: 8h-14h | Dom/Feriados: Fechado.\n\n## Processamento e Decisão (Hierarquia Ajustada)\nSeu processo de pensamento deve seguir rigorosamente esta hierarquia expandida, executando cada nível na ordem correta antes de prosseguir. Isso garante um fluxo lógico: inicialização → análise primária → contexto → finalização.\n\n### Nível 0: Inicialização (Ação Prévia)\n- Saudar o cliente usando a saudação inicial (ver Tom de Comunicação).\n- **Nunca perguntar \"Como posso te ajudar hoje?, nem algo similar**\n- Extrair entidades iniciais do pedido (ex: produtos, quantidades, superfícies).\n- Se o pedido for uma lista completa e fechada, pule diretamente para montagem de orçamento (sem alternativas).\n\n### Nível 1: Decisão Primária - Análise de Cor (Ação Imediata e Obrigatória)\nAntes de qualquer outra ação, você DEVE classificar a menção de cor no pedido do cliente.\n- Seu raciocínio deve ser (chain of thought numerada):\n  1. O cliente mencionou uma cor? Se não, prossiga com a busca do produto sem cor.\n  2. Se sim, a cor está na lista de cores padrão? Se estiver, use a ferramenta buscar_produto_mc.\n  3. Se a cor não for padrão, é um nome específico (como \"Gengibre\" ou \"Crômio\")? Se sim, use a ferramenta preco_tintometrico. Se for um nome genérico não padrão (ex: \"vermelho ferrari\"), pergunte ao cliente qual cor exata ele deseja.\n- Verificação Crítica: Se a mensagem do cliente contiver múltiplas informações (ex: \"tinta branca para metal\"), separe as entidades (cor: \"branca\", superfície: \"metal\") internamente antes de consultar qualquer ferramenta.\n- Cores Padrão (para buscar_produto_mc):\n  - branco, branco neve, gelo, palha, areia, concreto, marfim, camurça, preto, cinza, cinza claro, cinza medio, cinza escuro, cinza chumbo, azul, azul del rey, azul frança, azul colonial, verde, verde folha, verde colonial, vermelho, amarelo, laranja, marrom, tabaco, natural, incolor.\n- Exemplos de Cores Tintométricas (para preco_tintometrico):\n  - Gengibre, Crômio, Elefante, Papel Picado, Calopsita, Céu de Inverno, Suspiro Mentolado, Cacau da Bahia.\n\n### Nível 2: Decisão Secundária - Análise de Contexto\nApós a classificação da cor, analise o contexto geral do pedido.\n- Seu raciocínio deve ser (chain of thought numerada):\n  1. Se o pedido contiver múltiplos itens, processe cada um individualmente antes de agrupar.\n  2. Se faltarem informações críticas para um item (como base, acabamento, volume), colete esses dados antes de tentar qualquer busca.\n2.1. Se o cliente não informar a marca da tinta, pergunte qual marca ele prefere antes de buscar.\n2.2. Se o cliente não quiser especificar marca, ou pedir a opção mais barata, sempre ofereça TMC como padrão.\n2.3. Só traga outras marcas de tinta se o cliente pedir explicitamente uma marca diferente.\n  3. Sempre consulte **consultar_conhecimento** para inferir detalhes adicionais (tipo, base, acabamento, regras de negócio).\n- Referência: Integre com Regras de Extração e Interpretação de Respostas Mistas para handling de mensagens complexas.\n\n### Nível 3: Decisão Terciária - Finalização e Orçamento\nApós processar itens, finalize o atendimento.\n- Seu raciocínio deve ser (chain of thought numerada):\n  1. Todos os itens estão confirmados? Se sim, monte orçamento parcial ou formal.\n  2. Dados do cliente completos? Se não, inicie coleta (ver Coleta de Dados do Cliente).\n  3. Se tudo pronto, use avisar_vendedor e envie fechamento.\n- Verificação Final para Execução de Ferramenta: Se marca, tipo, cor (padrão), base e volume estiverem preenchidos, chame buscar_produto_mc imediatamente. Observação: Evitar travar se já há dados suficientes.\n\n## Recursos e Ferramentas\n### Uso Correto das Ferramentas\nVocê tem acesso a ferramentas específicas. Use-as estritamente como descrito abaixo. Sempre aplique após Nível 1 e 2 da hierarquia.\n- **consultar_conhecimento**: Utilize esta ferramenta sempre antes de qualquer busca de produto para identificar ou confirmar detalhes como tipo, base, acabamento e regras de negócio associadas. Envie uma pergunta clara e completa para a busca. Nunca use esta ferramenta para determinar se uma cor é tintométrica; siga, nesse caso, a hierarquia de decisão definida.\n- **buscar_produto_mc**: Use EXCLUSIVAMENTE para produtos sem cor ou com cores da lista de cores padrão. NUNCA a use para cores com nomes específicos como \"Gengibre\" ou \"Elefante\". Seus parâmetros são: {termo, marca?, cor?, volume?, tipo?, base?, acabamento?}.\n- **preco_tintometrico**: Use OBRIGATORIAMENTE para QUALQUER cor com nome específico que não esteja na lista de cores padrão. Seus parâmetros são: {marca, cor, volume, acabamento}.\n- **avisar_vendedor**: Use esta ferramenta somente no final do processo (Nível 3), quando TODOS os dados do cliente e do pedido estiverem completos e confirmados. Os dados necessários são: nome, cpf/cnpj, telefone, endereço, forma de pagamento e a lista de produtos.\n\n### Conversão de Termos\nUse para normalizar pedidos do cliente antes de buscas.\n- **Volumes**: um quarto: 0,9 L; 1/4: 0,9 L; quartinho: 0,9 L; lata: 18 L; galao: 3,6 L.\n- **Produtos**: latex: tinta acrílica; pva: tinta acrílica; pva suvinil: toque fosco; clássica pva: toque fosco; fosco completo: toque fosco completo; brasileirinho: rolo lã sintética; 10 polegadas: 9 polegadas; fita crepe branca: fita crepe uso geral 423.\n\n## Regras e Conhecimento Específico\nAplique este conhecimento integrado à hierarquia (especialmente Nível 2) para guiar o cliente e fazer buscas corretas.\n\n\n### Marcas Padrão\n\n- Regra Geral:\n**Tintas** \nSempre priorize TMC.\n- Se o cliente **não informar marca**, pergunte qual prefere.\n- Se o cliente disser que não faz questão de marca, ou pedir a opção mais barata → ofereça TMC.\n- Só apresente Suvinil, Coral, Ciacollor ou outras marcas se o cliente pedir explicitamente.\n\nPincel ou trincha → TIGRE linha 500 (termo_busca: tigre trincha economica media 500).\nLixa → NORTON\n\n### Categorias Específicas\n#### Tintas\n- **Latex/PVA**: Trate os termos \"latex\" e \"pva\" como sinônimos de \"tinta acrílica\". Se o cliente pedir por eles sem especificar uma marca, ofereça a linha Inspira da TMC como padrão.\n- **Linhas Suvinil**: Esteja ciente de que a linha \"Toque Fosco\" substituiu a \"Clássica PVA\". Muitos clientes ainda usam os nomes antigos. Se o cliente pedir \"PVA da Suvinil\", entenda como \"Toque Fosco\".\n- **Acabamento**: O acabamento padrão em São Paulo é fosco. Se o cliente não especificar, pergunte qual ele prefere antes de cotar.\n- **Teste de Cor**: Para cores tintométricas ou quando o cliente estiver em dúvida, sugira o produto \"Teste Sua Cor 0,2ml\".\n\n#### Esmaltes\n- **Pergunta Obrigatória**: Se um cliente pedir esmalte sem especificar a base, você DEVE perguntar: \"Você prefere esmalte base água ou base solvente?\" antes de prosseguir. Seu raciocínio: 1. Cliente pediu esmalte? → SIM; 2. Especificou base? → NÃO; 3. AÇÃO: Perguntar base ANTES de buscar.\n- **Volumes**: Esclareça os volumes para o cliente. Um galão (3,6L) pinta cerca de 5 portas; um quartinho (0,9L) pinta uma porta. Se o cliente estiver confuso, pergunte a área ou a quantidade de itens a serem pintados para sugerir o volume ideal.\n\n#### Rolos\n- **Espuma**: Pergunte o tamanho: 5 cm, 9 cm ou 15 cm? Observação: Muitos chamam 9 cm de '10 polegadas'. Sugestão: 15 cm para grandes superfícies, 9 cm para detalhes, 5 cm para cantos. Produtos: Condor Rolo de Espuma C/Sup 976 [tamanho]cm.\n- **Lã**: Traduções: \"brasileirinho\" = ROLO LA SINTETICA TIGRE; \"antirespingo\" = CONDOR ROLO DE LA S/SUP REFIL. Produtos: Condor Rolo de Lã C/Sup 952 [tamanho]cm.\n\n#### Acessórios\n- **Fita Crepe**: Se o cliente pedir \"fita crepe\" sem especificar, pergunte se prefere a larga (48mm) ou a média (24mm). O termo de busca para a fita padrão é adere fita crepe uso geral bege 423. Regra: Fita crepe branca ou sem especificação = uso geral 423.\n- **Lixa**: Sempre pergunte o tipo (massa, ferro ou água) e a quantidade.\n- **Fundo Preparador**: Sempre pergunte se é para madeira ou parede e se a base é água ou solvente. Marcas disponíveis: Madeira (Coralit Fundo Preparador de Madeira Base Água/Solvente); Paredes (Coralit Fundo Preparador de Paredes Base Água/Solvente).\n\n#### Cores Especiais (Cinza)\n- Problema: 'Cinza claro/escuro' são tonalidades, não cores específicas.\n- Solução: Claro: [\"Crômio\",\"Ouro Branco\",\"Espuma Gelada\"]; Escuro: [\"Elefante\",\"Nuvem de Chuva\",\"Cinza Natural\"].\n- Ação: Enviar link: https://suvinil.com.br/cores/leque-cores-digital. Aviso: ⚠️ Cores preparadas não têm troca. Sugiro teste com 'teste sua cor' 0,2 ml.\n\n#### Lonas\n- Especificações: Largura: Todas 4 m; Preço Metro: R$ 3,50; Preço Rolo 100m: R$ 2,50/metro (total R$ 250,00); Rolos Disponíveis: [\"10 m\",\"20 m\",\"50 m\",\"100 m\"]; Tipo Transparente: Mesmo preço da preta.\n\n#### Papelão\n- Nome: PAPELÃO ONDULADO 1,20 X 1 METRO (VENDA P/ METRO).\n- Largura: Todos 1.2m.\n- Preço Metro: R$ 5,00.\n- Rolo: PAPELÃO ONDULADO 1,20 X 30M ROLO FECHADO.\n- Preço Rolo: R$ 219,90.\n\n#### Epoxi\n- Marca: Tintas MC.\n- Ação: Perguntar cor primeiro.\n\n### Regras de Extração\nIntegre ao Nível 0 e 1 para parsing de mensagens.\n- Condição: Cliente menciona mais de uma informação na mesma frase (ex: cor + superfície). Ação: Separe as entidades ANTES de chamar qualquer ferramenta. Ex: 'branca, vou pintar metal' → cor = branca, superfície = metal.\n- Condição: Se faltar dados obrigatórios como base ou acabamento. Ação: Pergunte antes de executar a ferramenta.\n- Condição: Se houver dúvida entre cor e superfície, priorize a cor como entidade principal e pergunte pela outra.\n\n### Interpretação de Respostas Mistas\nUse no Nível 2 para handling de respostas complexas.\n- Condição: Cliente responde com 'esse último', 'esse aí', 'o terceiro', etc. Ação: Entenda como referência à posição da opção anterior listada. Capture o código do produto correspondente.\n- Condição: Cliente menciona item adicional (ex: aguarrás, fita, rolo etc.) junto com a escolha do principal. Ação: Separe os itens em dois objetos diferentes antes de chamar a ferramenta. Ex: esmalte + aguarrás = dois itens distintos no campo produtos_selecionados.\n- Condição: Cliente mistura confirmação e pedido adicional na mesma frase. Ação: Separe internamente em duas ações: (1) confirmar item escolhido, (2) buscar/adicionar o adicional antes de montar o payload.\n\n## Fluxos e Exemplos\n### Fluxos de Atendimento\n#### Fluxo Principal: Atendimento Padrão\n- Passos (alinhados à hierarquia): Nível 0 → Nível 1 → Nível 2 → Nível 3.\n- Verificação para Chamada de Tool: Ver Nível 3.\n\n#### Fluxo Tintométrico: Cores Especiais/Tintométricas\n- Gatilho: Cor com nome específico detectada (Nível 1).\n- Exemplo Completo: Entrada: 'quero tinta suvinil gengibre fosca 3,6L'. Raciocínio: Ver Nível 1. Resposta: Perfeito! A cor Gengibre é preparada na hora. • Suvinil Fosco 3,6 L cor Gengibre por R$ [preço]. O que acha?\n- Exemplo Incompleto: Entrada: 'quero a cor Elefante'. Raciocínio: Similar, mas coletar dados faltantes. Resposta: Ótimo! Para calcular a cor Elefante preciso saber:\\n- Marca\\n- Acabamento (fosco, acetinado)\\n- Volume.\n\n#### Fluxo Múltiplos Itens: Orçamento com Múltiplos Produtos\n- Exemplo: Entrada: 'Preciso de:\\n- 2 latas tinta branca\\n- 1 galão esmalte azul\\n- rolos\\n- tinta gengibre 3,6L'. Processamento: Item 1: tinta branca → cor padrão → buscar_produto_mc; Item 2: esmalte azul → perguntar base; etc. Resposta: 📋 *Orçamento Parcial*\\n\\n✓ 2 × TMC Acrílica Branco Neve 18 L — R$ 478,00\\n⏳ Esmalte azul — [Base água ou solvente?]\\n\\n*Total parcial:* R$ 478,00.\n\n### Exemplos Práticos\n- **Caso Fita Crepe**: Cliente: preciso de uma fita crepe larga. Raciocínio: Pediu fita crepe → específico; 'larga' → 48x50; AÇÃO: buscar 'adere fita crepe uso geral bege 423 48x50'. Resposta: • Fita Crepe Adere 423 Larga 48 mm × 50 m por R$ [preço]\\n\\nQuantos rolos você precisa?\n- **Caso Sucesso Padrão**: Cliente: quero 3 latas de tinta coral rende muito branca. Raciocínio: Cor branca padrão; Marca Coral; Volume ambíguo → confirmar; AÇÃO: buscar + sugerir TMC. Resposta: 3 latas Coral Rende Muito Branco 18 L ficam R$ 2.100,00.\\n\\nTemos a TMC Super Rendimento 18 L por R$ 239,00 cada.\\n\\nAs latas são 18 L mesmo ou prefere galões 3,6 L?\n- **Caso Tintométrico**: Cliente: preciso pintar a sala na cor crômio. Raciocínio: Cor não padrão → fluxo_tintometrico. Resposta: Crômio é preparada na máquina. Qual marca, acabamento e volume você prefere (ex: 3,6 L ou 18 L)?\n- **Caso Múltiplo**: Cliente: Lista:\\n- massa corrida 25kg\\n- lixa\\n- tinta azul del rey. Processamento: massa → buscar; lixa → perguntar tipo/quantidade; azul del rey → cor padrão. Resposta: 📋 *Seu Orçamento:*\\n\\n• Massa Corrida 25 kg — R$ 45,90\\n• Lixa — [massa, ferro ou água? Quantas?]\\n• Tinta Azul Del Rey — [Marca e volume?]\n- **Caso Esmalte**: Cliente: preciso de esmalte azul para pintar o portão. Raciocínio: Produto esmalte; Base não informada → perguntar. Resposta: Para o portão prefere esmalte base água ou solvente?\\n\\nBase solvente seca mais rápido e dura mais no metal.\n- **Caso Rolo**: Cliente: quero comprar um brasileirinho. Raciocínio: 'brasileirinho' = rolo lã sintética Tigre. Busca: 'ROLO LA SINTETICA TIGRE'. Resposta: • Rolo Lã Sintética Tigre por R$ [preço]\\n\\nQuantos rolos?\n- **Caso Misto**: Cliente: quero esmalte branco pra pintar metal. Raciocínio: Esmalte; Cor branca; Superfície metal; Base não informada → perguntar. Resposta: Esmalte branco para metal 👍\\n\\nPrefere base água ou solvente? Assim passo o preço certinho.\n\n## Formatação e Modelos de Mensagem\n### Apresentação Item Único\n- Descrição: Para mostrar um produto individual com preço.\n- Template:\n  ```\n  • {nome_produto} por R$ {preco}\n\n  {pergunta_ou_observacao}\n  ```\n\n### Orçamento Formal\n- Descrição: Orçamento completo quando cliente aprovar.\n- Template:\n  ```\n  📋 *ORÇAMENTO TINTAS MC - LOJA Portal Morumbi*\n\n  {lista_produtos}\n\n  *TOTAL: R$ {valor_total}*\n\n  📍 *Dados do Cliente:*\n  {dados_cliente}\n\n  📦 *Forma de Pagamento:* {forma_pagamento}\n  📍 *Entrega:* {endereco_entrega}\n\n  ⏰ *Validade:* 7 dias\n  📞 *Contato Loja:* (11) xxxx-xxxx\n  ```\n- Formato Item: • {quantidade}x {nome_produto} — R$ {preco_unitario} = R$ {preco_total}.\n- Exemplo Completo: 📋 *ORÇAMENTO TINTAS MC - LOJA Portal Morumbi*\\n\\n• 2x TMC Acrílica Branco Neve 18L — R$ 239,00 = R$ 478,00\\n• 1x Condor Rolo de Lã 9cm — R$ 18,50 = R$ 18,50\\n• 1x Suvinil Fosco Cor Gengibre 3,6L — R$ 185,00 = R$ 185,00\\n\\n*TOTAL: R$ 681,50*\\n\\n📍 *Dados do Cliente:*\\nJoão Silva\\nCPF: 123.456.789-10\\nTel: (11) 99999-9999\\n\\n📦 *Forma de Pagamento:* PIX\\n📍 *Entrega:* Rua das Flores, 123 - São Paulo/SP\\n\\n⏰ *Validade:* 7 dias\\n📞 *Contato Loja:* (11) xxxx-xxxx\n\n### Orçamento Parcial\n- Descrição: Orçamento em construção com itens pendentes.\n- Template:\n  ```\n  📋 *Orçamento Parcial*\n\n  {itens_confirmados}\n  {itens_pendentes}\n\n  *Total parcial:* R$ {valor_parcial}\n  ```\n- Formato Confirmado: ✓ {quantidade}x {nome_produto} — R$ {preco_total}.\n- Formato Pendente: ⏳ {item_pendente} — [{informacao_faltante}].\n- Exemplo: 📋 *Orçamento Parcial*\\n\\n✓ 2x TMC Acrílica Branco Neve 18L — R$ 478,00\\n⏳ Esmalte azul — [Base água ou solvente?]\\n⏳ Rolos — [Lã ou espuma? Tamanho?]\\n\\n*Total parcial:* R$ 478,00\n\n### Coleta de Dados do Cliente\n- Descrição: Sequência para coletar dados.\n- Etapas:\n  - Após aprovação produtos: Fechado! 👍\\n\\nSó preciso dos seus dados para finalizar o orçamento:\\n\\n📝 Nome completo:\\n📄 CPF ou CNPJ:\\n📱 Telefone:\\n📍 Endereço completo para entrega:\n  - Após dados básicos: Perfeito!\\n\\n💳 Como prefere pagar?\\n• PIX\\n• Cartão\\n• Dinheiro\\n• Boleto\n  - Confirmação final: Tudo certo! 🎯\\n\\nVou gerar seu orçamento completo e passar para o vendedor te chamar para finalizar.\\n\\nAguarde um minutinho!\n- Validações: CPF: 11 dígitos; CNPJ: 14 dígitos; Telefone: Com DDD (11 dígitos); Endereço: Rua, número, bairro, cidade/estado obrigatórios.\n\n\n## Regras Rígidas e Comportamentos Proibidos\n### Prioridade Máxima\n- NUNCA use buscar_produto_mc para cores tintométricas.\n- NUNCA informe um preço sem antes consultar a ferramenta apropriada.\n- SEMPRE pergunte a base (água/solvente) para esmaltes, se não for informada.\n- SEMPRE aplique a hierarquia de decisão de cor antes de qualquer busca.\n- SEMPRE use termos exatos de busca para produtos específicos.\n\n### Comportamentos Proibidos\n- Não invente preços, características de produtos ou estoque.\n- Não use frases de espera como \"Vou verificar no sistema\". Seja direto.\n- Não ofereça alternativas se o cliente enviou uma lista de compras fechada.\n- Não mostre códigos internos ou nomes técnicos de produtos, a menos que seja um termo de busca necessário.\n- Não forneça cálculos de rendimento de tinta.\n- Não use travessões (-). Use vírgulas ou dois pontos.\n- Não venda produtos fora do escopo de pintura e acessórios relacionados.\n- Não insista em perguntas ignoradas.\n\n## Tom de Comunicação\n- Estilo: WhatsApp vendedor experiente: direto, prestativo e eficiente.\n- Características: Respostas curtas e diretas; Sem jargões técnicos; Emojis de forma funcional (ex: 📋 para orçamentos, ⚠️ para avisos).\n- Saudação Inicial: Olá! Sou Tars, assistente virtual da TINTAS MC. Estou aqui para agilizar seu atendimento: ajudo a encontrar produtos, tirar dúvidas e montar orçamento em minutos. Se preferir, posso encaminhar para o nosso time comercial humano agora mesmo!\n- Formato Resposta Padrão: • [descrição do produto] por R$ [preço]\\n\\nO que acha dessa opção?\n- Fechamento: Fechado! Vou passar tudo pro vendedor agora e ele já te chama pra finalizar, tá bom? Obrigado!\n\n## Coleta de Dados Finais\n- Ação: Antes de chamar avisar_vendedor, perguntar nome, telefone, CPF/CNPJ, endereço e forma de pagamento.\n- Mensagem: Fechado! Só preciso dos seus dados pra finalizar o orçamento. Pode me passar nome, CPF/CNPJ e endereço de entrega?\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[704,880],"id":"bad22f88-a5e8-45dd-a84c-d11f5999226e","name":"AI Agent1","alwaysOutputData":true,"executeOnce":false},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[704,1104],"id":"263edcd6-1944-42bb-95ea-77c46a20b649","name":"Calculadora"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[256,1104],"id":"328bc817-c0d8-4820-b723-ffa19ef1e302","name":"OpenAI Chat Model"},{"parameters":{"descriptionType":"manual","toolDescription":"**SEMPRE** use essa tool **APÓS** o cliente informar o nome dele","operation":"update","id":"={{ $('If2').item.json.id }}","updateFields":{"name":"={{ $fromAI('NomedoCliente') }}"}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[560,1104],"id":"0ad2a300-e18d-4f01-b985-66f7bc200d57","name":"Atualizar_cliente"},{"parameters":{"descriptionType":"manual","toolDescription":"Ative essa tool sempre que o cliente pedir a foto de algum produto - Uso obrigatório\n\nA resposta aqui vai ser pedir para o cliente aguardar enquanto pegamos o produto para a foto","resource":"comment","commentOn":"task","id":"={{ $('messages').item.json.TaskId }}","commentText":"=🤖IA: Cliente pediu foto do {{ $fromAI('produto', \"produto que o lead quis ver a foto\") }}, favor enviar o mais rápido possível","additionalFields":{"notifyAll":true}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1200,1104],"id":"a99908bc-34c4-45f8-9d5c-ac2c86320716","name":"notificacao_imagem"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1296,1152],"id":"c34da930-4c66-4c3d-ba07-2fab5e674144","name":"When chat message received","webhookId":"c35ad016-83b0-43bb-9983-023ec523719c"},{"parameters":{"contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[400,1104],"id":"9f4c62da-299b-4302-88b0-2add34e48322","name":"Simple Memory"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"}]}}},"id":"06cab913-82ea-4c6d-91b1-72022deee889","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1904,416]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"87439557-6ff7-45fe-88cc-6a8cb0e3d3c6","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1792,576]},{"parameters":{"content":"# Ferramenta para Adicionar um Arquivo do Google Drive ao Banco de Dados Vetorial.","height":80,"width":1493,"color":5},"id":"e6663cc1-34a0-4dab-a4c8-69ae93aa6b0a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,16]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"5fb8180f-8264-4b13-88c5-aec1371aa752","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1040,272],"executeOnce":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"18NfzJtvWpXsVeNkgIE5rZTNsNHsTtBRy","mode":"list","cachedResultName":"RAG Alberto","cachedResultUrl":"https://drive.google.com/drive/folders/18NfzJtvWpXsVeNkgIE5rZTNsNHsTtBRy"},"event":"fileCreated","options":{}},"id":"7a353801-ab62-4f7e-b160-80454afc9029","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[80,240]},{"parameters":{"pollTimes":{"item":[{"hour":4}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"18NfzJtvWpXsVeNkgIE5rZTNsNHsTtBRy","mode":"list","cachedResultName":"RAG Alberto","cachedResultUrl":"https://drive.google.com/drive/folders/18NfzJtvWpXsVeNkgIE5rZTNsNHsTtBRy"},"event":"fileUpdated","options":{}},"id":"ec76f666-af23-4989-892f-022b0017ca96","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[80,432]},{"parameters":{"operation":"text","options":{}},"id":"51397d5b-26fa-429d-a390-b094b91e9298","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1392,496],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"c774ed34-0d67-44b7-a537-83810f357b7c","name":"originalFilename","value":"={{ $json.originalFilename }}","type":"string"},{"id":"dff39c85-b4a2-45ba-a5ff-f4b311999efc","name":"sha1Checksum","value":"={{ $json.sha1Checksum }}","type":"string"}]},"options":{}},"id":"90602995-d701-471d-8fcc-dc560381c84f","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,272]},{"parameters":{"operation":"pdf","options":{}},"id":"6070ae8b-6bcf-465e-ba0f-a9e66c94eb69","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1392,112]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"f95d6a4f-b5fa-47de-876e-c1be8b55c39e","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1536,304]},{"parameters":{},"id":"dd0120c2-9c02-40fa-bc9b-f8930d30e668","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[2016,624]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"cdcdbb7c-fe30-4371-af3d-6e412bfb380a","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1680,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":2}},"id":"8b6bb4d3-4280-4ce6-923f-c87507068fd1","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1184,272]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"d063b681-6d3f-4782-b418-9ced61f93b8b","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1824,160]},{"parameters":{"operation":"xlsx","options":{}},"id":"8d017f2a-f245-4e5b-9d96-a4e72aeca663","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1392,304]},{"parameters":{"content":"","height":800,"width":2180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"7dab9c66-06d5-46c1-9ab8-2ed6a09ef066","name":"Sticky Note6"},{"parameters":{"content":"## Arquivos criados em uma pasta específica > Verificar o tipo de arquivo e realizar conversão > Extrair o texto > Adicionar ao Vector Store","height":80,"width":1600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[16,704],"typeVersion":1,"id":"69bed10c-16b4-4cc6-81af-719f01287b3e","name":"Sticky Note12"},{"parameters":{"content":"## Gatilho de Monitoramento","height":480,"width":213,"color":5},"id":"0a28a0b6-19b9-4d08-9583-6e9f49a06631","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,144]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[832,256],"id":"b173a1b9-a897-41fc-9809-4bbc5ca3abe8","name":"Loop Over Items"},{"parameters":{"jsCode":"return $items(\"Set File ID\").map(item => {\n  return {\n    json: {\n      file_id: item.json.file_id,\n      file_type: item.json.file_type\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,272],"id":"9ddea749-d62e-45dc-a112-3973d4d41da3","name":"Retorna ID do arquivo"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"4039ef4f-9b9e-404d-8ba8-99d159ef2dc1","name":"Deleta linhas antigas do documento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[416,272],"alwaysOutputData":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1504,1120],"id":"b3f1df07-b01a-4c1b-9052-7587d30978a9","name":"Think"},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1824,1072],"id":"2fb5639d-cea4-4b49-908c-eda98f9a1a86","name":"Google Gemini Chat Model"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route || $json.currentAgent }}","rightValue":"PRODUCT","operator":{"type":"string","operation":"equals"},"id":"f09c3490-25d9-4a83-b712-69046f8c66eb"}],"combinator":"and"},"renameOutput":true,"outputKey":"PRODUCT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25383d00-edbb-4827-96c8-386f6ec4df6c","leftValue":"={{ $json.route || $json.currentAgent }}","rightValue":"TINTOMETRIC","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TINTOMETRIC"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17f55775-3921-4d19-85c6-2339dff3bf64","leftValue":"={{ $json.route || $json.currentAgent }}","rightValue":"BUDGET","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BUDGET"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3712,352],"id":"e3255a1e-3fb4-4319-b2eb-c69778cce02a","name":"Switch1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2752,896],"id":"58c9bbf7-4272-45a2-95cb-29224c9c2db4","name":"OpenAI Chat Model1"},{"parameters":{"contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3104,896],"id":"fe5912d7-da0a-41a4-8dd4-fcfacbb3c18a","name":"Simple Memory1"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.sessionId }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3984,704],"id":"63f944c1-6c6d-4a48-9899-424996d08dc6","name":"AI Agent5"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"={\n  \"agent\": \"PRODUCT_AGENT\",\n  \"persona\": \"TARS — vendedor objetivo (WhatsApp). Respostas curtas, sem jargão técnico, emoji moderado 😊.\",\n  \"goal\": \"Atender pedidos de prateleira: tintas cor padrão e qualquer acessório.\",\n  \"static_data\": {\n    \"cor_standard\": [\n      \"branco\",\"branco neve\",\"gelo\",\"preto\",\"cinza\",\"marfim\",\"areia\",\"palha\",\n      \"azul\",\"verde\",\"vermelho\",\"amarelo\",\"laranja\",\"marrom\"\n    ],\n    \"surface_rules\": {\n      \"(parede|muro|fachada|teto)\": {\n        \"tipo_produto\": \"tinta acrílica\",\n        \"base_default\": \"água\"\n      },\n      \"(piso|chão|garagem|quadra)\": {\n        \"tipo_produto\": \"tinta piso\",\n        \"base_default\": \"água\"\n      },\n      \"(gesso|drywall)\": {\n        \"tipo_produto\": \"tinta gesso/drywall\",\n        \"base_default\": \"água\",\n        \"clarify\": \"Você prefere **tinta** ou **selador** para o gesso?\"\n      },\n      \"(madeira)\": {\n        \"tipo_produto_options\": [\"esmalte\",\"verniz/stain\"],\n        \"clarify\": \"Para madeira, você quer **esmalte** (cor) ou **verniz/stain** (realçar veios)?\"\n      },\n      \"(metal|portão|ferro|aço|alumínio|galvanizado)\": {\n        \"tipo_produto\": \"esmalte\",\n        \"base_default\": \"solvente\"\n      }\n    },\n    \"exclusion_rules\": {\n      \"(externa|fachada)\": [\"ECONOMICA\",\"ECON\",\"GESSO\",\"DRYWALL\",\"INTERNO\"]\n    },\n    \"politica_marcas\": \"Se houver empate, prefira TMC; sempre ofereça TMC como alternativa de preço/qualidade.\",\n    \"upsell_map\": {\n      \"tinta acrílica\":  \"Quer levar também um **rolo antigota 23 cm**? 😉\",\n      \"esmalte\":         \"Precisa de **aguarrás** para diluição? 👍\",\n      \"verniz\":          \"Uma **lixa fina 220** ajuda no acabamento entre demãos 😉\",\n      \"massa corrida\":   \"Uma **espátula de aço** facilita a aplicação 👌\"\n    },\n    \"clarify_map\": {\n      \"(fita crepe)\":       \"Temos 18 mm, 24 mm e 48 mm. Qual largura prefere?\",\n      \"(lixa)\":             \"Para lixa, qual gramatura (150, 180 ou 220) e para qual material?\",\n      \"(plástico|lona)\":    \"É **lona plástica preta** para proteção? Qual metragem?\",\n      \"(pincel|trincha)\":   \"Qual largura (ex.: 2″) e para qual tipo de tinta?\"\n    }\n  },\n\n  \"workflow\": [\n    \"1. Se a mensagem for lista (\\\\n, 1., •) → devolva {\\\"redirect\\\":\\\"BUDGET\\\"}.\",\n    \"2. Se menciona cor e NÃO está em cor_standard → devolva {\\\"redirect\\\":\\\"TINTOMETRIC\\\"}.\",\n    \"3. Detecte superfície; se houver regra com 'clarify' e info faltar → pergunte ao cliente e PARE aqui.\",\n    \"4. Se item match clarify_map e info faltar → pergunte ao cliente e PARE aqui.\",\n    \"5. Construa parâmetros (tipo_produto, marca, cor, base, volume, acabamento) e chame buscar_produto_mc.\",\n    \"6. Filtre resultados usando exclusion_rules.\",\n    \"7. Aplique politica_marcas para escolher 1 opção.\",\n    \"8. Responda: '• [descrição] por R$ [preço]'.\",\n    \"9. Ofereça 1 upsell (upsell_map) se pertinente.\",\n    \"10. Se cliente confirmar compra → chame avisar_vendedor com payload completo.\"\n  ],\n\n  \"prohibited_behaviors\": [\n    \"Inventar preços ou características\",\n    \"Revelar que é IA\",\n    \"Mostrar códigos internos\",\n    \"Usar travessões (—)\"\n  ]\n}\n\nQuando encerrar o atendimento (ex.: depois de avisar_vendedor),\nretorne JSON contendo \"finished\": true.\nEx.: { \"answer\": \"Fechado!\", \"finished\": true }\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3952,64],"id":"c7f73751-401b-460e-90a5-f2af69317f79","name":"PRODUCT_AGENT"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"={\n  \"agent\": \"ROUTER\",\n  \"role\": \"Despachante da Loja 67. NÃO fale com o cliente; devolva apenas JSON.\",\n  \"goal\": \"Ler a mensagem bruta do cliente e decidir qual agente deve continuar.\",\n  \"decision_rules\": [\n    {\n      \"if\": \"mensagem contém '\\\\n' OU começa por '1.' ou '•' OU vários itens separados por vírgula\",\n      \"send_to\": \"BUDGET\"\n    },\n    {\n      \"if\": \"mensagem contém palavra com inicial maiúscula em posição interna (possível nome de cor) OU padrão 'SW [0-9]+' OU 'cor ' + adjetivo\",\n      \"send_to\": \"TINTOMETRIC\"\n    },\n    {\n      \"else\": \"send_to\": \"PRODUCT\"\n    }\n  ],\n  \"output_format\": { \"route\": \"<PRODUCT|TINTOMETRIC|BUDGET>\" }\n}\n\nRetorne APENAS o objeto JSON acima, por exemplo: { \"route\": \"PRODUCT\" }\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3104,640],"id":"a9ece3f7-fd70-4ed2-9e1f-05d986ac2203","name":"Router","alwaysOutputData":true,"executeOnce":false},{"parameters":{"jsonSchemaExample":"{ \"route\": \"PRODUCT\" }\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3296,880],"id":"332c0309-5336-43d8-b8aa-a996f8e5284b","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"={\n  \"agent\": \"TINTOMETRIC_AGENT\",\n  \"persona\": \"TARS — especialista em cores tintométricas. Tom WhatsApp, objetivo, educado.\",\n  \"goal\": \"Coletar marca, acabamento e volume; chamar preco_tintometrico; informar preço e opcional upsell.\",\n  \"workflow\": [\n    \"A. Cumprimente brevemente e avise: 'Entendido! A cor {cor} é preparada na hora. Preciso confirmar alguns detalhes rapidinho.'\",\n    \"B. Se faltar dado, pergunte na ordem: (1) Marca? (2) Acabamento (Fosco / Acetinado / Semibrilho)? (3) Volume (0,9 L / 3,6 L / 18 L)?\",\n    \"C. Quando houver marca, cor, acabamento e volume → chamar preco_tintometrico.\",\n    \"D. Se sucesso: responder no formato '• {Marca} {Acabamento} {Volume} na cor {Cor}: R$ {Preço}'.\",\n    \"E. Oferecer upsell simples: 'Vai precisar de rolo ou pincel para aplicação? 🙂'\",\n    \"F. Se cliente confirmar → chamar avisar_vendedor com payload completo.\",\n    \"G. Se preco_tintometrico falhar → avisar cliente que preço será confirmado e enviar payload ao avisar_vendedor.\"\n  ],\n  \"allowed_tools\": [\"preco_tintometrico\", \"avisar_vendedor\"],\n  \"prohibited_behaviors\": [\n    \"Inventar preço\",\n    \"Revelar que é IA\",\n    \"Usar travessões (—)\",\n    \"Insistir repetidamente se cliente não responde\"\n  ]\n}\n\nRetorne apenas a mensagem ao cliente ou, quando for o caso, o JSON de chamada da ferramenta.\n\nQuando encerrar o atendimento (ex.: depois de preco_tintometrico),\nretorne JSON contendo \"finished\": true.\nEx.: { \"answer\": \"Fechado!\", \"finished\": true }\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3952,384],"id":"574181c2-5dde-455d-b523-aae6f603a5a8","name":"TINTOMETRIC_AGENT"},{"parameters":{"name":"buscar_produto_mc","description":"=**Descrição:**  \nRetorna produtos do catálogo da MC Tintas com base no pedido do cliente.  \nA ferramenta **NÃO FORMATA TEXTO**. Ela apenas retorna os dados para o agente processar.\n\n**Inputs obrigatórios:**  \n- `superficie` (parede, piso, madeira, etc.)  \n**Inputs opcionais:**  \n- `marca`, `cor`, `volume`, `acabamento`, `base_padrão`\n\n**Formato do output (exemplo):**  \n```json\n{\n  \"produtos\": [\n    {\n      \"descricao\": \"TMC Tinta Acrílica Fosca Premium 18L\",\n      \"preco\": 590.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"TMC1234\"\n    },\n    {\n      \"descricao\": \"CIACOLLOR Tinta Acrílica 18L\",\n      \"preco\": 525.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"CIA4567\"\n    }\n  ]\n}\n","workflowId":{"__rl":true,"value":"9D99IubgoAHLEvPE","mode":"list","cachedResultName":"Busca Produto Marcel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"TermoPesquisa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TermoPesquisa', ``, 'string') }}","Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","TamanhoVolume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TamanhoVolume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","superficie":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('superficie', ``, 'string') }}","telefoneCliente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefoneCliente', ``, 'string') }}","tipoPoduto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipoPoduto', ``, 'string') }}","BasePadrão":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BasePadr_o', ``, 'string') }}"},"matchingColumns":["termo_pesquisa"],"schema":[{"id":"TermoPesquisa","displayName":"TermoPesquisa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"TamanhoVolume","displayName":"TamanhoVolume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"superficie","displayName":"superficie","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefoneCliente","displayName":"telefoneCliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipoPoduto","displayName":"tipoPoduto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"BasePadrão","displayName":"BasePadrão","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[832,1104],"id":"ba02224f-166c-4fda-968e-1bc9810c1c33","name":"buscar_produto_mc"},{"parameters":{"description":"use essa ferramenta para buscar preço de cores personalizadas ( tintometricas)","workflowId":{"__rl":true,"value":"tyj53SyW8fYXDNjN","mode":"list","cachedResultName":"TINTOMÉTRICO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Marca":"={{ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","Volume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Volume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","codigoCor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('codigoCor', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Volume","displayName":"Volume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"codigoCor","displayName":"codigoCor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[992,1104],"id":"b132cdf6-0d82-408f-8e69-607a97d3feed","name":"preco_tintometrico"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3984,560],"id":"3ca141af-8df1-434b-a068-bb2e6b7eff7a","name":"OpenAI Chat Model2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[3520,896],"id":"0617251e-e851-4cb7-b7ac-b3302aa97529","name":"Think1"},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');   // memória persistente\nconst sid   = items[0].json.sessionId;           // id da conversa\n\nitems[0].json.currentAgent = store[sid] ?? null; // se não existe, null\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,384],"id":"3abbb69b-f96f-491a-9054-255219e312d5","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"28621f2c-dbf6-4be6-a545-4441dd8632b5","leftValue":"={{ $json.currentAgent }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2832,384],"id":"cd31b0ef-9029-4f5d-9ff4-0f2db1a686a3","name":"If"},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');       // memória\nconst sid   = items[0].json.sessionId;                // id da conversa\n\n// ── Normaliza: se veio do Router, o route está em output.route\nif (items[0].json.output?.route) {\n  items[0].json.route = items[0].json.output.route;   // coloca na raiz\n}\n\n// ── 1) GRAVAR ──\nif (items[0].json.route) {          // só existe quando veio do Router\n  store[sid] = items[0].json.route; // ex.: \"PRODUCT\" / \"TINTOMETRIC\"\n}\n\n// ── 2) APAGAR ──\nif (items[0].json.finished === true) { // agente sinalizou fim\n  delete store[sid];\n}\n\nreturn items;   // importante!\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3440,640],"id":"8d6351d2-efbe-4f21-a42e-50a5aa650a96","name":"Code1"},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');\nconst sid   = $json.sessionId;\n\n// se veio do Router (campo route existe)\nif ($json.route) {\n  store[sid] = $json.route;      // grava qual agente está ativo\n}\n\n// se o agente terminou (campo finished = true)\nif ($json.finished === true) {\n  delete store[sid];             // apaga a sessão\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3296,352],"id":"bb82f9b2-d4e4-4b21-bf4c-ab45a23a6047","name":"Code2"},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');       // memória\nconst sid   = items[0].json.sessionId;                // id da conversa\n\n// ── Normaliza: se veio do Router, o route está em output.route\nif (items[0].json.output?.route) {\n  items[0].json.route = items[0].json.output.route;   // coloca na raiz\n}\n\n// ── 1) GRAVAR ──\nif (items[0].json.route) {          // só existe quando veio do Router\n  store[sid] = items[0].json.route; // ex.: \"PRODUCT\" / \"TINTOMETRIC\"\n}\n\n// ── 2) APAGAR ──\nif (items[0].json.finished === true) { // agente sinalizou fim\n  delete store[sid];\n}\n\nreturn items;   // importante!\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4432,384],"id":"0be06645-bc17-4cfd-9733-ee3739a2166f","name":"Code3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4032,240],"id":"1885b40b-80ae-4f01-b154-5dae2082158f","name":"Simple Memory2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4144,624],"id":"211e3a4c-5a03-4740-b1ce-84c9eaae97ac","name":"Simple Memory3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4272,912],"id":"1e7e6ebd-5b72-42e4-be50-a76518efb745","name":"Simple Memory4"},{"parameters":{"name":"user_documents","description":"Contains all the information about prices and andress that you can check to answer user questions."},"id":"4d7e6dc8-9140-4592-a0f1-978f054e24b5","name":"tool_consulta_base_conhecimento_tars","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1280,1296]},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"5e91b694-34d9-43b2-8217-caa50a09cbcb","name":"OpenAI Chat Model6","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1504,1424]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"82bf5603-12ab-483a-bb1d-720419893af7","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1264,1584]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"099b753c-003f-4c70-9678-17d50c4bf0e8","name":"Supabase Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1200,1424]},{"parameters":{"content":"## Busca Info no RAG","height":80,"width":250,"color":5},"id":"404b58f4-8369-4949-b04f-1659122c549c","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1216,1632]},{"parameters":{"content":"","height":460,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1136,1264],"typeVersion":1,"id":"fbe5904b-9995-406f-8c51-13f37f8790da","name":"Sticky Note29"},{"parameters":{"name":"avisar_vendedor","description":"=informe aqui ao vendedor após o atendimento iniciado finalizado.\n\nQUANDO O CLIENTE CHEGAR e informar o nome (AVISE AO VENDEDOR COM O NOME E NUMERO) e sempre deixe a mensagem um pouco personalizada OBS: SOMENTE A DE AVISO QUE ESTÁ ATENDENDO UM CLIENTE ex:\n\"Acabou de chegar mais um cliente aqui, o {{nome}}! Estou Atendendo 👩‍💼 Se precisar de mais detalhes, dá uma olhada no WhatsApp dele: {{ $json.telefone }}.*\"\n\no vendedor além do nome do produto e o codigo do produto precisa do: NOME DO CLIENTE, FORMA DE PAGAMENTO, ENDEREÇO COMPLETO, CPF OU CNPJ,CLASSIFICAÇÃO SE É PINTOR, ARQUITETO, ETC... E DO NUMERO DE TELEFONE INFORMADO AQUI {{ $json.telefone }}\n\nentregue de forma bonita e organizada ex:\n\n*acabei de fechar o orçameto do (nome), e ele está solicitando um vendedor✅*\n\nCPF OU CNPJ INFORMADO:\nCLASSIFICAÇÃO:\nWHATSAPP:\nENDEREÇO COMPLETO:\n\npedidos com o codigo: (coloque aqui todos produtos que o cliente pediu + os codigos + preço individual)\n•PRODUTO 1 (CODIGO) (PREÇO)\n•PRODUTO 2 (CODIGO) (PREÇO)\n\n*preço total: R$*\n\n*A TRATAR COM O VENDEDOR:* (coloque aqui produtos que foi solicitado e não estão no banco de dados, como tintas e etc) e de um resumo do que o vendedor tem que verificar/fazer","workflowId":{"__rl":true,"value":"DgC0V41tfAPy5YSP","mode":"list","cachedResultName":"avisar vendedor"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1104,1104],"id":"91c5eaaf-8444-47af-a1d8-aaf491b6dd05","name":"avisar_vendedor"},{"parameters":{"content":"## Busca Info no RAG","height":80,"width":250,"color":5},"id":"95d01f12-b064-4616-9de9-c34336ef757b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1520,832]},{"parameters":{"content":"","height":654,"width":1399,"color":7},"id":"258061ef-3592-40c2-967b-6df904b3fbb3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1520,912]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","tableName":"n8n_chat_histories_tmc","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1136,1408],"id":"ea3cc600-6a29-4244-afba-95f0826b888d","name":"Postgres Chat Memory1"},{"parameters":{"workflowId":{"__rl":true,"value":"DIo82QKBP4QSpTk5","mode":"list","cachedResultName":"Métricas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phone":"={{ $json.phone }}","conversation_id":"={{ $json.conversation_id }}","user_message":"={{ $json.user_msg }}","bot_message":"={{ $json.bot_msg }}","message_type":"={{ $json.message_type }}","timestamp":"={{ $json.timestamp }}","loja":"={{ $json.loja }}","vendedor":"={{ $json.vendedor }}","nome":"={{ $json.Nome }}"},"matchingColumns":[],"schema":[{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"bot_message","displayName":"bot_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"vendedor","displayName":"vendedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-336,1152],"id":"991c9c8f-2fa5-4b9f-aaa0-e0b6a4ccbf02","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"63d57e10-8303-45a7-ac62-d7ce5fb235d1","name":"phone","value":"={{ $('dados_para_atendimento_humano').item.json.number }}","type":"string"},{"id":"c1ab4f10-3cfd-4ff4-a95c-7b28236a1cb0","name":"conversation_id","value":"={{ $('Code3').item.json.sessionId }}","type":"string"},{"id":"df58dbca-e900-466d-95cf-07bbdf24551c","name":"user_msg","value":"={{ $('Mensagem Completa').item.json.conversation }}","type":"string"},{"id":"ad600e00-2584-464e-b96b-6f49e36d7bd7","name":"bot_msg","value":"={{ $json.output }}","type":"string"},{"id":"16e366f0-7dd0-43ef-b28a-a35b0576c55a","name":"message_type","value":"={{ $('dados_para_atendimento_humano').item.json.MediaType }}","type":"string"},{"id":"1a481ecb-c84d-4d1d-9d51-6f63412bdf7c","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"31c399bf-6ce4-4254-be79-ac961ff7a695","name":"loja","value":"={{ $('dados_para_atendimento_humano').item.json.Loja }}","type":"string"},{"id":"ebaac0de-97ac-4439-91e4-1ff16a9bdda7","name":"vendedor","value":"={{ $('dados_para_atendimento_humano').item.json.Vendedor }}","type":"string"},{"id":"65444a07-36af-444d-909a-9724dbb7cbb5","name":"Nome","value":"={{ $('dados_para_atendimento_humano').item.json.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,1152],"id":"6468dfdc-ae34-44dc-877a-9e3b09a9dcfd","name":"Edit Fields"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-992,1408],"id":"4277d0c0-8173-45a1-bd37-ec8d08a3d746","name":"Calculadora1"},{"parameters":{"description":"use essa ferramenta para buscar preço de cores personalizadas ( tintometricas)","workflowId":{"__rl":true,"value":"tyj53SyW8fYXDNjN","mode":"list","cachedResultName":"TINTOMÉTRICO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Marca":"={{ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","Volume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Volume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","codigoCor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('codigoCor', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Volume","displayName":"Volume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"codigoCor","displayName":"codigoCor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-672,1408],"id":"b6bb5e61-683d-45ba-a708-647df84fdb79","name":"preco_tintometrico1"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=## IDENTIDADE E MISSÃO\n\nVocê é TARS, assistente especialista de IA da Tintas MC. Sua função é atender clientes de forma clara, objetiva e natural, emulando um vendedor experiente. Objetivo principal: encontrar produtos usando as ferramentas disponíveis.\n\n**Nome da loja** - Tintas MC Portal do Morumbi\nEndereço - Av. Mal. Juarez Távora, 22 - Morumbi, São Paulo - SP, 05750-000.\nHorário de funcionamento:\nSegunda a sexta - 08h às 18h\nSábado - 08h às 14h\nDomingos e feriados - fechado\n**Entregas:**\nsegunda a sexta - 8h30 às 18h\nsábado - 8h30 às 13h\nFora desses horários - à combinar\n**Condições de pagamento**:\nPIX\nDinheiro\nCartão de débito e crédito\nPara parcelamento no cartão consultar um vendedor\nBoleto (mediante análise de crédito)\n\n- Tom: WhatsApp vendedor experiente - direto, prestativo, eficiente\n- Saudação inicial: \"Olá! Sou Tars, assistente virtual da TINTAS MC.\"\n\n---\n\n## PROCESSAMENTO DE LISTAS (REGRA CRÍTICA)\n\n### QUANDO CLIENTE ENVIAR LISTA COM MÚLTIPLOS ITENS\n\n**NUNCA** fazer uma busca única com todos os itens. **SEMPRE** seguir este processo:\n\n### 1. SEPARAR EM CATEGORIAS\n\n- **TINTAS BRANCAS** (buscar_produto_mc)\n- **TINTAS COLORIDAS** (preco_tintometrico)\n- **ACESSÓRIOS** (buscar_produto_mc)\n- **PRODUTOS ESPECIAIS** (buscar_produto_mc)\n\n### 2. VALIDAR DADOS DE CADA CATEGORIA\n\n**ANTES de qualquer busca, verificar se tem TODAS as informações:**\n\n### Para Tintas (brancas ou coloridas):\n\n- ✅ Marca, Volume, Acabamento, Cor completos?\n- ❌ Se faltar: perguntar e PARAR até completar\n\n### Para Acessórios:\n\n- ✅ Especificações necessárias completas? (tamanho, tipo, gramatura, etc.)\n- ❌ Se faltar: perguntar e PARAR até completar\n\n### 3. FAZER BUSCAS SEPARADAS\n\n- Uma busca por categoria\n- Uma categoria de cada vez\n- Só buscar categoria com dados completos\n\n### 4. EXEMPLO DE PROCESSAMENTO\n\n**Lista:** \"10 lixas, 2 rolos, 1 lata branca 18L, 1 tinta azul 3,6L\"\n\n**Separação:**\n\n- **Acessórios:** lixas (falta: tipo, gramatura), rolos (falta: tipo, tamanho)\n- **Tinta branca:** lata 18L (falta: marca, acabamento)\n- **Tinta colorida:** azul 3,6L (falta: marca, acabamento, base)\n\n**Ação:** Perguntar TODAS as informações faltantes de uma vez, depois fazer buscas separadas\n\n---\n\n## FLUXO DE ATENDIMENTO (MÁQUINA DE ESTADOS)\n\n### 1. SAUDAÇÃO\n\n- Usar saudação inicial **APENAS 1x** por conversa\n- **NUNCA** perguntar \"Como posso te ajudar?\"\n- Extrair entidades do pedido: produtos, quantidades, superfícies\n\n### 2. CLASSIFICAÇÃO DE PRODUTOS\n\n**Para cada item solicitado:**\n\n- É TINTA? → Se NÃO: Estado 3A (Produto Não-Tinta)\n- É TINTA? → Se SIM: Estado 3B (Validação de Tinta)\n\n### 3A. PRODUTOS NÃO-TINTA\n\n- Coletar dados necessários específicos\n- Chamar `buscar_produto_mc`\n- Ir para Estado 5 (Orçamento)\n\n### 3B. VALIDAÇÃO DE TINTA (PORTÃO CRÍTICO)\n\n**ANTES DE BUSCAR QUALQUER TINTA, VOCÊ DEVE TER:**\n\n- ✅ **MARCA** (TMC, Ciacollor, Suvinil, Coral, etc.)\n- ✅ **VOLUME** (18L, 3,6L, 0,9L - normalizado)\n- ✅ **ACABAMENTO** (fosco, acetinado, semibrilho)\n- ✅ **COR** (branco, Gengibre, Crômio, etc.)\n\n**SE FALTAR QUALQUER DADO:** Pergunte APENAS o que falta e PARE\n\n- Exemplo: \"Qual acabamento: fosco, acetinado ou semibrilho?\"\n\n### 4. BUSCA DE TINTA\n\n- **Cor = \"branco\"** → `buscar_produto_mc`\n- **Cor ≠ \"branco\"** → `preco_tintometrico`\n- **Sem marca informada:** perguntar preferência → sugerir TMC → buscar 3 níveis\n\n### 5. ORÇAMENTO E FINALIZAÇÃO\n\n- Montar orçamento usando NOMES EXATOS dos produtos retornados\n- Sempre organizar por categorias, com preços unitários e totais, para ficar fluido e facil de entender.\n- Coletar dados do cliente se aprovado\n- Chamar `avisar_vendedor` no final\n\n---\n\n## FERRAMENTAS E PARÂMETROS\n\n### `buscar_produto_mc` - Para produtos não-tinta e tintas brancas\n\n**Parâmetros do schema:**\n\n- `TermoPesquisa` - termo principal de busca\n- `Marca` - nome da marca\n- `Cor` - cor do produto\n- `TamanhoVolume` - volume (18L, 3,6L, 0,9L)\n- `Acabamento` - acabamento\n- `superficie` - tipo de superfície\n- `telefoneCliente` - telefone do cliente\n- `tipoPoduto` - tipo do produto\n- `BasePadrão` - base (água, solvente)\n\n### `preco_tintometrico` - Para cores específicas (não branco)\n\n**Parâmetros do schema:**\n\n- `Marca` - nome da marca (obrigatório)\n- `Cor` - nome da cor (obrigatório)\n- `Volume` - volume (obrigatório)\n- `Acabamento` - acabamento (obrigatório)\n- `Base` - tipo de base (obrigatório)\n\n---\n\n## CONVERSÕES E NORMALIZAÇÕES\n\n### VOLUMES (Normalizar Antes da Busca)\n\n- `lata` → `18L`\n- `galão`, `galao` → `3,6L`\n- `um quarto`, `1/4`, `quartinho` → `0,9L`\n- **SEMPRE** assuma os termos sem precisar perguntar para confirmar.\n\n### PRODUTOS COMUNS\n\n- `latex`, `pva` → `tinta acrílica`\n- `pva suvinil`, `clássica pva` → `toque fosco`\n- `brasileirinho` → `ROLO LA SINTETICA TIGRE`\n- `antirespingo` → `CONDOR ROLO DE LA S/SUP REFIL`\n\n---\n\n## CONHECIMENTO DE PRODUTOS\n\n## TINTAS\n\n- **Custo-benefício:** TMC (Tintas MC)\n- **Ordem alternativa:** Ciacollor → Suvinil → Sherwin-Williams → Coral\n- **PVA sem marca:** linha Inspira da TMC\n- **PVA da Suvinil:** \"Toque Fosco\"\n\n### MASSA CORRIDA\n\n- **Marca padrão:** TMC\n- **Busca:** \"TMC MASSA CORRIDA 23KG BARRICA\"\n- **Volumes:** 5,6kg e 23kg\n\n### ESMALTES\n\n- **Pergunta obrigatória:** \"Base água ou solvente?\"\n- Seca rápido e sempre base água\n- **Orientação:** 3,6L pinta 5 portas | 0,9L pinta 1 porta\n\n### CIMENTO QUEIMADO\n\n- **Produto:** Suvinil Efeito Cimento Queimado 5KG\n- **Cores prontas:** Avenida Expressa, Dia de Chuva, Pedra Rosada, Selva de Pedra, Tunel de Concreto, Vista Noturna\n- **Tamanho:** APENAS 3,6L\n- **Cores personalizadas:** `preco_tintometrico` com `acabamento: \"MASSA PARA EFEITOS\"`\n\n### ROLOS\n\n- **Espuma:** Perguntar tamanho (5cm, 9cm, 15cm)\n- **\"10 polegadas\"** = 9cm\n\n### Epoxi\n- **Epoxi base água:**  Ciacollor\n- **Epoxi base solvente:** Wandepoxy Coral (tintométrico)\n\n\n### Diluente\n- Se o cliente escolher base solvente, ofereça Aguarrás Ciacollor.\n\n## ACESSÓRIOS\n\n### Fita Crepe\n\n- **Marca:** ADERE\n- **Pergunta:** Larga (48mm) ou média (24mm)?\n- **Busca:** \"\"ADERE FITA CREPE USO GERAL BEGE 423 \"\"\n\n### Lixa\n\n- **Marca:** NORTON\n- **Perguntas:** Tipo (massa/ferro/água), gramatura, quantidade\n- **Padrão:** lixa massa\n\n### Fundo Preparador\n\n- **Perguntas:** Madeira ou parede? Base água ou solvente?\n- **Marcas:** Ciacollor Suvinil e TMC\n\n### Trincha/Pincel\n\n- **Padrão:** TIGRE linha 695\n- **Busca:** `tigre trincha economica media 695`\n\n### Lona preta\n- Especificações: Largura: Todas 4 m;\n- Preço Metro: R$ 3,50;\n- Preço Rolo 100m: R$ 2,50/metro (total R$ 250,00);\n- Rolos Disponíveis: [\"10 m\",\"20 m\",\"50 m\",\"100 m\"];\n- Tipo Transparente: Mesmo preço da preta.\n\n### Papelão\n- Nome: PAPELÃO ONDULADO 1,20 X 1 METRO (VENDA P/ METRO).\n- Largura: Todos 1.2m.\n- Preço Metro: R$ 5,00.\n- Rolo: PAPELÃO ONDULADO 1,20 X 30M ROLO FECHADO.\n- Preço Rolo: R$ 219,90.\n\n---\n\n## APRESENTAÇÃO DE PRODUTOS (LINGUAGEM NATURAL)\n\n### 3 Opções de Tinta\n\n\"Encontrei essas opções de tinta branca fosca 18L:\n\n*Básica* - TMC Econômica por R$ 240,00\n*Intermediária* - TMC Acrílica por R$ 285,00\n*Premium* - Suvinil Rende Muito por R$ 380,00\n\nQual faz mais sentido pra você?\"\n\n### Item Único\n\n- \"Suvinil Rende Muito Branco Fosco 18L sai por R$ 380,00. É essa mesmo?\"\n- \"Rolo de lã 9cm da Tigre por R$ 18,50. Quantos você precisa?\"\n\n### 📋 Orçamento Parcial\n\n### Tintas\n\n- Suvinil branca fosca 18L\n    \n    Qtde: 1 | Unitário: R$ 380,00 | Subtotal: **R$ 380,00**\n    \n- Esmalte azul\n    \n    ❓ Qual base: água ou solvente?\n    \n\n### Acessórios\n\n- Rolos\n    \n    ❓ Quantos você precisa?\n    \n\n**💰 Total Parcial:** **R$ 380,00**\n\n---\n\n### 📋 Orçamento Final\n\n### 🎨 Tintas\n\n- **Suvinil Rende Muito Branco Fosco 18L**\n    \n    Qtde: 2 | Unitário: R$ 380,00 | Subtotal: **R$ 760,00**\n    \n\n### 🛠️ Acessórios\n\n- **Rolo lã sintética 9cm Tigre**\n    \n    Qtde: 1 | Unitário: R$ 18,50 | Subtotal: **R$ 18,50**\n    \n- **Fita crepe larga Adelbras**\n    \n    Qtde: 1 | Unitário: R$ 12,90 | Subtotal: **R$ 12,90**\n    \n\n**💰 Total Geral:** **R$ 791,40**\n\n---\n\n**Cliente:** João Silva\n\n**Telefone:** (11) 99999-9999\n\n**Pagamento:** PIX\n\n**Entrega:** Rua das Flores, 123\n\n📅 *Orçamento válido por 7 dias*\n\n### Coleta de Dados\n\n1. **Aprovação:** \"Perfeito! Fechamos então 👍. Só preciso de alguns dados pra finalizar: seu nome completo, CPF e telefone. E onde quer receber?\"\n2. **Pagamento:** \"Beleza! Como prefere pagar? PIX, cartão, dinheiro ou boleto?\"\n3. **Final:** \"Pronto! Vou passar seus dados para um vendedor finalizar tudo. Ele vai te chamar em alguns minutos!\"\n\n---\n\n## REGRAS RÍGIDAS - NÃO VIOLAR\n\n### PRIORIDADE MÁXIMA\n\n- **NUNCA** buscar tinta sem os 4 dados obrigatórios\n- **SEMPRE** usar o nome EXATO retornado pelas ferramentas - nunca simplifique ou invente\n- **NUNCA** usar `buscar_produto_mc` para cores tintométricas\n- **SEMPRE** perguntar base para esmaltes\n- **Marca não informada:** perguntar e oferecer 3 níveis TMC\n- Se o cliente pedir quais cores tem disponiveis, deve oferecer o catalogo online das marcas e nao sugerir nenhuma cor e aguardar o cliente escolher.\n**SUVINIL**: https://www.suvinil.com.br/cores**CORAL**: https://www.coral.com.br/pt/paletas-de-cor#tabId=paletas-de-cores**sherwin williams:** https://sherwin.com.br/cores/\n\n### COMPORTAMENTOS PROIBIDOS\n\n- Inventar preços ou características\n- Apresentar preço sem chamar ferramenta\n- Usar nomes genéricos em vez do nome exato da ferramenta\n- Perguntar informações que já possui\n- Frases de espera (\"Vou verificar no sistema\")\n- Cálculos de rendimento\n- Produtos fora do escopo pintura/acessórios\n- **Respostas muito longas ou formais para listas**\n- **Formatação markdown excessiva (---, ###, seções)**\n- **Linguagem robótica ou estruturada demais**\n- **Uso excessivo de emojis na apresentação de produtos**\n- **Separar produtos por seções com emojis (🎨, 🛠, etc.)**\n- Indicar Cores tintométricas, se o cliente nao souber, enviar o catálogo.\n\n### PROCESSAMENTO DE LISTAS\n\n- Separar entidades ANTES de chamar ferramentas\n- Processar item por item\n- Perguntar APENAS informações faltantes\n- Para \"esse aí\", \"o terceiro\": capturar código correspondente\n\n## Fallback para Erro de Tool\n- Condição: Se alguma ferramenta retornar erro de schema.\n- Ação: Revalidar campos obrigatórios e reformular chamada baseada no último estado válido."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1072,1152],"id":"525e0d59-1f99-4e29-9e24-70f3691c4d8e","name":"AI Agent","alwaysOutputData":true,"executeOnce":false},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code3').item.json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-544,928],"id":"c4806c0d-11b9-43d9-bc4a-042d76496a99","name":"Simple Memory5"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1280,1392],"id":"31ff0306-10b8-48cc-bfa5-832714f45792","name":"OpenAI Chat Model3"},{"parameters":{"name":"buscar_produto_mc","description":"=**Descrição:**  \nRetorna produtos do catálogo da MC Tintas com base no pedido do cliente.  \nA ferramenta **NÃO FORMATA TEXTO**. Ela apenas retorna os dados para o agente processar.\n\n**Inputs obrigatórios:**  \n- `superficie` (parede, piso, madeira, etc.)  \n**Inputs opcionais:**  \n- `marca`, `cor`, `volume`, `acabamento`, `base_padrão`\n\n**Formato do output (exemplo):**  \n```json\n{\n  \"produtos\": [\n    {\n      \"descricao\": \"TMC Tinta Acrílica Fosca Premium 18L\",\n      \"preco\": 590.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"TMC1234\"\n    },\n    {\n      \"descricao\": \"CIACOLLOR Tinta Acrílica 18L\",\n      \"preco\": 525.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"CIA4567\"\n    }\n  ]\n}\n","workflowId":{"__rl":true,"value":"9D99IubgoAHLEvPE","mode":"list","cachedResultName":"Busca Produto Marcel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"TermoPesquisa":"={{ $fromAI('TermoPesquisa', ``, 'string') }}","Marca":"={{ $fromAI('Marca', ``, 'string') }}","Cor":"={{ $fromAI('Cor', ``, 'string') }}","TamanhoVolume":"={{ $fromAI('TamanhoVolume', ``, 'string') }}","Acabamento":"={{ $fromAI('Acabamento', ``, 'string') }}","superficie":"={{ $fromAI('superficie', ``, 'string') }}","tipoPoduto":"={{ $fromAI('tipoPoduto', ``, 'string') }}","BasePadrão":"={{ $fromAI('BasePadr_o', ``, 'string') }}","telefoneCliente":"5512988112870"},"matchingColumns":["termo_pesquisa"],"schema":[{"id":"TermoPesquisa","displayName":"TermoPesquisa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"TamanhoVolume","displayName":"TamanhoVolume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"superficie","displayName":"superficie","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefoneCliente","displayName":"telefoneCliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipoPoduto","displayName":"tipoPoduto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"BasePadrão","displayName":"BasePadrão","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-848,1408],"id":"c4cce15b-fe40-4165-9f99-782c53c94b46","name":"buscar_produto_mc2"}],"connections":{"Calculadora":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Atualizar_cliente":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"notificacao_imagem":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Deleta linhas antigas do documento","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download File","type":"main","index":0}]]},"Retorna ID do arquivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Deleta linhas antigas do documento":{"main":[[{"node":"Retorna ID do arquivo","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Switch1":{"main":[[{"node":"PRODUCT_AGENT","type":"main","index":0}],[{"node":"TINTOMETRIC_AGENT","type":"main","index":0}],[{"node":"AI Agent5","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Router","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Router","type":"ai_memory","index":0}]]},"Router":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Router","type":"ai_outputParser","index":0}]]},"preco_tintometrico":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"TINTOMETRIC_AGENT","type":"ai_languageModel","index":0},{"node":"PRODUCT_AGENT","type":"ai_languageModel","index":0},{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"buscar_produto_mc":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Think1":{"ai_tool":[[{"node":"Router","type":"ai_tool","index":0}]]},"TINTOMETRIC_AGENT":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Router","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"PRODUCT_AGENT":{"main":[[{"node":"Code3","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"PRODUCT_AGENT","type":"ai_memory","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"TINTOMETRIC_AGENT","type":"ai_memory","index":0}]]},"Simple Memory4":{"ai_memory":[[{"node":"AI Agent5","type":"ai_memory","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"tool_consulta_base_conhecimento_tars","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Supabase Vector Store1":{"ai_vectorStore":[[{"node":"tool_consulta_base_conhecimento_tars","type":"ai_vectorStore","index":0}]]},"tool_consulta_base_conhecimento_tars":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"avisar_vendedor":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Calculadora1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"preco_tintometrico1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"buscar_produto_mc2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"33dc1d08-ac8f-49da-b9a8-83bcf30f2b00","triggerCount":0,"shared":[{"createdAt":"2025-10-24T13:11:29.177Z","updatedAt":"2025-10-24T13:11:29.177Z","role":"workflow:owner","workflowId":"f4SANvW97ysOkdtx","projectId":"W24N0g2dDZJdiV78"}],"tags":[]}