HSfNfrS2Alwjyotm.json
{"updatedAt":"2026-01-17T20:44:23.749Z","createdAt":"2026-01-17T17:56:22.767Z","id":"HSfNfrS2Alwjyotm","name":"Follow-Up Inteligente - TMC","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"schedule-trigger","name":"A cada 1 hora","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-48,-16]},{"parameters":{"operation":"executeQuery","query":"-- Busca conversas abandonadas que precisam de follow-up\n-- Novos intervalos: 1h, 24h, 7d (3 tentativas)\nWITH conversas_abandonadas AS (\n  SELECT \n    f.id,\n    f.conversation_id,\n    f.phone,\n    f.nome_cliente,\n    f.loja,\n    f.ultima_msg_cliente,\n    f.ultima_msg_bot,\n    f.last_bot_message_at,\n    f.last_user_message_at,\n    f.follow_up_stage,\n    f.follow_up_1_sent_at,\n    f.follow_up_2_sent_at,\n    f.follow_up_3_sent_at,\n    f.had_quote,\n    f.ultimo_valor,\n    f.status,\n    f.is_active,\n    f.blacklisted,\n    'alberto' as cliente,\n    'TMC_Alberto' as schema_name,\n    'chat_messages' as table_name,\n    EXTRACT(EPOCH FROM (NOW() - f.last_bot_message_at))/3600 as horas_sem_resposta\n  FROM \"TMC_Alberto\".follow_up_control f\n  WHERE f.is_active = TRUE\n    AND f.status = 'ativo'\n    AND COALESCE(f.blacklisted, FALSE) = FALSE\n    AND f.last_bot_message_at IS NOT NULL\n    AND f.ultima_msg_de = 'tars'\n    AND f.follow_up_stage < 3\n    AND (\n      (f.follow_up_stage = 0 AND EXTRACT(EPOCH FROM (NOW() - f.last_bot_message_at))/3600 >= 1)\n      OR (f.follow_up_stage = 1 AND EXTRACT(EPOCH FROM (NOW() - f.follow_up_1_sent_at))/3600 >= 24)\n      OR (f.follow_up_stage = 2 AND EXTRACT(EPOCH FROM (NOW() - f.follow_up_2_sent_at))/86400 >= 7)\n    )\n  \n  UNION ALL\n  \n  SELECT \n    f.id,\n    f.conversation_id,\n    f.phone,\n    f.nome_cliente,\n    f.loja,\n    f.ultima_msg_cliente,\n    f.ultima_msg_bot,\n    f.last_bot_message_at,\n    f.last_user_message_at,\n    f.follow_up_stage,\n    f.follow_up_1_sent_at,\n    f.follow_up_2_sent_at,\n    f.follow_up_3_sent_at,\n    f.had_quote,\n    f.ultimo_valor,\n    f.status,\n    f.is_active,\n    f.blacklisted,\n    'marcel' as cliente,\n    'TMC_Marcel' as schema_name,\n    'chat_messages_tmc_marcel' as table_name,\n    EXTRACT(EPOCH FROM (NOW() - f.last_bot_message_at))/3600 as horas_sem_resposta\n  FROM \"TMC_Marcel\".follow_up_control f\n  WHERE f.is_active = TRUE\n    AND f.status = 'ativo'\n    AND COALESCE(f.blacklisted, FALSE) = FALSE\n    AND f.last_bot_message_at IS NOT NULL\n    AND f.ultima_msg_de = 'tars'\n    AND f.follow_up_stage < 3\n    AND (\n      (f.follow_up_stage = 0 AND EXTRACT(EPOCH FROM (NOW() - f.last_bot_message_at))/3600 >= 1)\n      OR (f.follow_up_stage = 1 AND EXTRACT(EPOCH FROM (NOW() - f.follow_up_1_sent_at))/3600 >= 24)\n      OR (f.follow_up_stage = 2 AND EXTRACT(EPOCH FROM (NOW() - f.follow_up_2_sent_at))/86400 >= 7)\n    )\n)\nSELECT * FROM conversas_abandonadas\nORDER BY horas_sem_resposta DESC\nLIMIT 10;","options":{}},"id":"postgres-busca","name":"Busca Conversas Abandonadas","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[176,-16],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0 || !items[0].json.id) {\n  return [];\n}\n\nreturn items;"},"id":"code-verifica","name":"Tem conversas?","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-16]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-16],"id":"da61fc15-1983-4f9d-b668-6e7ea208e906","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"=SELECT \n  created_at,\n  user_message,\n  bot_message\nFROM \"{{ $json.schema_name }}\".\"{{ $json.table_name }}\"\nWHERE conversation_id = '{{ $json.conversation_id }}'\nORDER BY created_at ASC\nLIMIT 50;","options":{}},"id":"postgres-historico","name":"Busca Historico","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,0],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Pega os dados da conversa atual do SplitInBatches\nconst conversaData = $('Loop Over Items').first().json;\nconst historico = $input.all().map(item => item.json);\n\nlet conversaFormatada = '';\nlet teveOrcamento = false;\nlet ultimoValor = null;\nlet ultimaMsgCliente = '';\n\nfor (const msg of historico) {\n  if (msg.user_message) {\n    conversaFormatada += `Cliente: ${msg.user_message}\\n`;\n    ultimaMsgCliente = msg.user_message;\n  }\n  if (msg.bot_message) {\n    conversaFormatada += `Tars: ${msg.bot_message}\\n`;\n    \n    const msgLower = msg.bot_message.toLowerCase();\n    if (msgLower.includes('r$') || \n        msgLower.includes('orcamento') || \n        msgLower.includes('total') ||\n        msgLower.includes('valor')) {\n      teveOrcamento = true;\n      \n      const valorMatch = msg.bot_message.match(/R\\$\\s*([\\d.,]+)/i);\n      if (valorMatch) {\n        ultimoValor = valorMatch[1];\n      }\n    }\n  }\n  conversaFormatada += '\\n';\n}\n\nreturn {\n  json: {\n    conversation_id: conversaData.conversation_id,\n    phone: conversaData.phone,\n    nome_cliente: conversaData.nome_cliente || 'Cliente',\n    loja: conversaData.loja,\n    cliente: conversaData.cliente,\n    schema_name: conversaData.schema_name,\n    follow_up_stage: conversaData.follow_up_stage,\n    historico_conversa: conversaFormatada.trim(),\n    ultima_msg_cliente: ultimaMsgCliente,\n    had_quote: teveOrcamento,\n    ultimo_valor: ultimoValor,\n    total_mensagens: historico.length\n  }\n};"},"id":"code-formata","name":"Formata Historico","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,0]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"Voce analisa mensagens de clientes para decidir se devemos enviar um follow-up ou nao.\n\nAnalise a ULTIMA MENSAGEM do cliente e responda APENAS com:\n- CONTINUAR - se o cliente parece ter interesse (pergunta sobre produto, pede orcamento, demonstra curiosidade)\n- PARAR - se o cliente demonstrou desinteresse, insatisfacao, pediu pra falar com atendente humano, disse que vai pensar, agradeceu e se despediu, ou qualquer sinal de que nao quer mais ser contactado\n\nExemplos de CONTINUAR:\n- \"quanto custa?\"\n- \"tem em azul?\"\n- \"me manda o pix\"\n- \"qual o prazo de entrega?\"\n- \"ok\"\n- \"sim\"\n\nExemplos de PARAR:\n- \"vou pensar e te aviso\"\n- \"obrigado, era so isso\"\n- \"nao quero mais\"\n- \"ta caro\"\n- \"deixa pra la\"\n- \"quero falar com uma pessoa\"\n- \"me passa pra um atendente\"\n- \"nao tenho interesse\"\n\nResponda APENAS com a palavra CONTINUAR ou PARAR, nada mais.","role":"system"},{"content":"=ULTIMA MENSAGEM DO CLIENTE:\n{{ $json.ultima_msg_cliente }}"}]},"options":{"maxTokens":10,"temperature":0}},"id":"openai-analisa","name":"Analisa Interesse","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1280,0],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"jsCode":"const analise = $input.first().json.message.content.trim().toUpperCase();\nconst dados = $('Formata Historico').first().json;\n\nif (analise.includes('PARAR')) {\n  return {\n    json: {\n      ...dados,\n      decisao: 'PARAR',\n      motivo: 'Cliente demonstrou desinteresse'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...dados,\n    decisao: 'CONTINUAR'\n  }\n};"},"id":"code-decisao","name":"Processa Decisao","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-continuar","leftValue":"={{ $json.decisao }}","rightValue":"CONTINUAR","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-decisao","name":"Continuar?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,0]},{"parameters":{"jsCode":"const tokens = {\n  alberto: {\n    'default': '464d243c-e664-49a0-aefa-53bb68de8bbd'\n  },\n  marcel: {\n    '199': 'ca609f35-c070-4c62-9378-0fc93224e068',\n    '037': 'e7b831ab-9d0b-4744-8d04-450dafef227e',\n    '179': '7fe60c26-d2a0-46fd-aeeb-b784808605b9',\n    'default': 'ca609f35-c070-4c62-9378-0fc93224e068'\n  }\n};\n\nconst cliente = $input.first().json.cliente;\nconst loja = $input.first().json.loja || '';\nconst codigoLoja = loja.match(/^\\d+/) ? loja.match(/^\\d+/)[0] : 'default';\n\nlet token;\nif (cliente === 'alberto') {\n  token = tokens.alberto.default;\n} else {\n  token = tokens.marcel[codigoLoja] || tokens.marcel.default;\n}\n\nreturn {\n  json: {\n    ...$input.first().json,\n    token: token,\n    codigo_loja: codigoLoja\n  }\n};"},"id":"code-token","name":"Obtem Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[1984,-96]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"Voce e o Tars, assistente de atendimento da Tintas MC. Analise o historico da conversa e crie uma mensagem de follow-up personalizada para reengajar o cliente.\n\nREGRAS:\n1. Seja breve (maximo 2-3 linhas)\n2. Seja amigavel e natural\n3. NAO use emojis em excesso (maximo 1)\n4. NAO seja insistente ou desesperado\n5. PERSONALIZE baseado no que o cliente perguntou/pediu\n6. Se houve orcamento, mencione o produto ou valor sutilmente\n7. Varie o tom baseado no estagio do follow-up\n\nESTAGIOS:\n- Stage 1 (1h apos): Leve e casual\n- Stage 2 (24h apos): Gentil, oferecendo ajuda\n- Stage 3 (7 dias apos): Despedida amigavel\n\nResponda APENAS com a mensagem de follow-up, sem explicacoes.","role":"system"},{"content":"=DADOS DO CLIENTE:\n- Nome: {{ $json.nome_cliente }}\n- Estagio do follow-up: {{ $json.follow_up_stage + 1 }} de 3\n- Teve orcamento: {{ $json.had_quote ? 'Sim' : 'Nao' }}\n- Valor mencionado: {{ $json.ultimo_valor ? 'R$ ' + $json.ultimo_valor : 'Nenhum' }}\n\nHISTORICO COMPLETO DA CONVERSA:\n{{ $json.historico_conversa }}\n\n---\nGere uma mensagem de follow-up natural e personalizada:"}]},"options":{"maxTokens":200,"temperature":0.7}},"id":"openai-gera-msg","name":"Gera Mensagem IA","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2144,-96],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Obtem Token').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"55{{ $('Obtem Token').item.json.phone }}\",\n  \"text\": \"{{ $json.message.content }}\",\n  \"delay\": 1200\n}","options":{}},"id":"http-envia-msg","name":"Envia Follow-Up","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,-96],"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE \"{{ $('Obtem Token').item.json.cliente === 'marcel' ? 'TMC_Marcel' : 'TMC_Alberto' }}\".follow_up_control\nSET \n  follow_up_stage = follow_up_stage + 1,\n  follow_up_{{ $('Obtem Token').item.json.follow_up_stage + 1 }}_sent_at = NOW(),\n  had_quote = {{ $('Obtem Token').item.json.had_quote }},\n  ultima_msg_de = 'tars',\n  status = CASE WHEN follow_up_stage + 1 >= 3 THEN 'finalizado' ELSE 'ativo' END,\n  motivo_finalizacao = CASE WHEN follow_up_stage + 1 >= 3 THEN 'follow_up_completo' ELSE NULL END,\n  updated_at = NOW()\nWHERE conversation_id = '{{ $('Obtem Token').item.json.conversation_id }}';","options":{}},"id":"postgres-atualiza","name":"Atualiza Stage","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2672,-304],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE \"{{ $json.cliente === 'marcel' ? 'TMC_Marcel' : 'TMC_Alberto' }}\".follow_up_control\nSET \n  blacklisted = TRUE,\n  status = 'blacklist',\n  motivo_finalizacao = '{{ $json.motivo }}',\n  updated_at = NOW()\nWHERE conversation_id = '{{ $json.conversation_id }}';","options":{}},"id":"postgres-blacklist","name":"Marca Blacklist","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1984,112],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"content":"## Follow-Up Inteligente TMC\n\n**Trigger:** A cada 1 hora\n**Tentativas:** 3 (1h, 24h, 7d)\n\n**Fluxo:**\n1. Busca conversas abandonadas\n2. Loop: processa uma por uma\n3. Analisa ultima msg do cliente (IA)\n4. Se interesse -> gera msg e envia\n5. Se desinteresse -> blacklist\n6. Volta pro loop ate acabar","height":320,"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-448,-176],"typeVersion":1,"id":"sticky-note-info","name":"Info"}],"connections":{"A cada 1 hora":{"main":[[{"node":"Busca Conversas Abandonadas","type":"main","index":0}]]},"Busca Conversas Abandonadas":{"main":[[{"node":"Tem conversas?","type":"main","index":0}]]},"Tem conversas?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Busca Historico","type":"main","index":0}]]},"Busca Historico":{"main":[[{"node":"Formata Historico","type":"main","index":0}]]},"Formata Historico":{"main":[[{"node":"Analisa Interesse","type":"main","index":0}]]},"Analisa Interesse":{"main":[[{"node":"Processa Decisao","type":"main","index":0}]]},"Processa Decisao":{"main":[[{"node":"Continuar?","type":"main","index":0}]]},"Continuar?":{"main":[[{"node":"Obtem Token","type":"main","index":0}],[{"node":"Marca Blacklist","type":"main","index":0}]]},"Obtem Token":{"main":[[{"node":"Gera Mensagem IA","type":"main","index":0}]]},"Gera Mensagem IA":{"main":[[{"node":"Envia Follow-Up","type":"main","index":0}]]},"Envia Follow-Up":{"main":[[{"node":"Atualiza Stage","type":"main","index":0}]]},"Atualiza Stage":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Marca Blacklist":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","timezone":"UTC","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:A cada 5 minutos":{"recurrenceRules":[]},"node:A cada 1 hora":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"8fce15f6-a59a-4250-8e2f-9a08d3145928","activeVersionId":"8fce15f6-a59a-4250-8e2f-9a08d3145928","triggerCount":1,"shared":[{"updatedAt":"2026-01-17T17:56:22.767Z","createdAt":"2026-01-17T17:56:22.767Z","role":"workflow:owner","workflowId":"HSfNfrS2Alwjyotm","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2026-01-17T20:44:23.750Z","createdAt":"2026-01-17T20:44:23.750Z","versionId":"8fce15f6-a59a-4250-8e2f-9a08d3145928","workflowId":"HSfNfrS2Alwjyotm","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"schedule-trigger","name":"A cada 1 hora","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-48,-16]},{"parameters":{"operation":"executeQuery","query":"-- Busca conversas abandonadas que precisam de follow-up\n-- Novos intervalos: 1h, 24h, 7d (3 tentativas)\nWITH conversas_abandonadas AS (\n  SELECT \n    f.id,\n    f.conversation_id,\n    f.phone,\n    f.nome_cliente,\n    f.loja,\n    f.ultima_msg_cliente,\n    f.ultima_msg_bot,\n    f.last_bot_message_at,\n    f.last_user_message_at,\n    f.follow_up_stage,\n    f.follow_up_1_sent_at,\n    f.follow_up_2_sent_at,\n    f.follow_up_3_sent_at,\n    f.had_quote,\n    f.ultimo_valor,\n    f.status,\n    f.is_active,\n    f.blacklisted,\n    'alberto' as cliente,\n    'TMC_Alberto' as schema_name,\n    'chat_messages' as table_name,\n    EXTRACT(EPOCH FROM (NOW() - f.last_bot_message_at))/3600 as horas_sem_resposta\n  FROM \"TMC_Alberto\".follow_up_control f\n  WHERE f.is_active = TRUE\n    AND f.status = 'ativo'\n    AND COALESCE(f.blacklisted, FALSE) = FALSE\n    AND f.last_bot_message_at IS NOT NULL\n    AND f.ultima_msg_de = 'tars'\n    AND f.follow_up_stage < 3\n    AND (\n      (f.follow_up_stage = 0 AND EXTRACT(EPOCH FROM (NOW() - f.last_bot_message_at))/3600 >= 1)\n      OR (f.follow_up_stage = 1 AND EXTRACT(EPOCH FROM (NOW() - f.follow_up_1_sent_at))/3600 >= 24)\n      OR (f.follow_up_stage = 2 AND EXTRACT(EPOCH FROM (NOW() - f.follow_up_2_sent_at))/86400 >= 7)\n    )\n  \n  UNION ALL\n  \n  SELECT \n    f.id,\n    f.conversation_id,\n    f.phone,\n    f.nome_cliente,\n    f.loja,\n    f.ultima_msg_cliente,\n    f.ultima_msg_bot,\n    f.last_bot_message_at,\n    f.last_user_message_at,\n    f.follow_up_stage,\n    f.follow_up_1_sent_at,\n    f.follow_up_2_sent_at,\n    f.follow_up_3_sent_at,\n    f.had_quote,\n    f.ultimo_valor,\n    f.status,\n    f.is_active,\n    f.blacklisted,\n    'marcel' as cliente,\n    'TMC_Marcel' as schema_name,\n    'chat_messages_tmc_marcel' as table_name,\n    EXTRACT(EPOCH FROM (NOW() - f.last_bot_message_at))/3600 as horas_sem_resposta\n  FROM \"TMC_Marcel\".follow_up_control f\n  WHERE f.is_active = TRUE\n    AND f.status = 'ativo'\n    AND COALESCE(f.blacklisted, FALSE) = FALSE\n    AND f.last_bot_message_at IS NOT NULL\n    AND f.ultima_msg_de = 'tars'\n    AND f.follow_up_stage < 3\n    AND (\n      (f.follow_up_stage = 0 AND EXTRACT(EPOCH FROM (NOW() - f.last_bot_message_at))/3600 >= 1)\n      OR (f.follow_up_stage = 1 AND EXTRACT(EPOCH FROM (NOW() - f.follow_up_1_sent_at))/3600 >= 24)\n      OR (f.follow_up_stage = 2 AND EXTRACT(EPOCH FROM (NOW() - f.follow_up_2_sent_at))/86400 >= 7)\n    )\n)\nSELECT * FROM conversas_abandonadas\nORDER BY horas_sem_resposta DESC\nLIMIT 10;","options":{}},"id":"postgres-busca","name":"Busca Conversas Abandonadas","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[176,-16],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0 || !items[0].json.id) {\n  return [];\n}\n\nreturn items;"},"id":"code-verifica","name":"Tem conversas?","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-16]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-16],"id":"da61fc15-1983-4f9d-b668-6e7ea208e906","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"=SELECT \n  created_at,\n  user_message,\n  bot_message\nFROM \"{{ $json.schema_name }}\".\"{{ $json.table_name }}\"\nWHERE conversation_id = '{{ $json.conversation_id }}'\nORDER BY created_at ASC\nLIMIT 50;","options":{}},"id":"postgres-historico","name":"Busca Historico","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,0],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Pega os dados da conversa atual do SplitInBatches\nconst conversaData = $('Loop Over Items').first().json;\nconst historico = $input.all().map(item => item.json);\n\nlet conversaFormatada = '';\nlet teveOrcamento = false;\nlet ultimoValor = null;\nlet ultimaMsgCliente = '';\n\nfor (const msg of historico) {\n  if (msg.user_message) {\n    conversaFormatada += `Cliente: ${msg.user_message}\\n`;\n    ultimaMsgCliente = msg.user_message;\n  }\n  if (msg.bot_message) {\n    conversaFormatada += `Tars: ${msg.bot_message}\\n`;\n    \n    const msgLower = msg.bot_message.toLowerCase();\n    if (msgLower.includes('r$') || \n        msgLower.includes('orcamento') || \n        msgLower.includes('total') ||\n        msgLower.includes('valor')) {\n      teveOrcamento = true;\n      \n      const valorMatch = msg.bot_message.match(/R\\$\\s*([\\d.,]+)/i);\n      if (valorMatch) {\n        ultimoValor = valorMatch[1];\n      }\n    }\n  }\n  conversaFormatada += '\\n';\n}\n\nreturn {\n  json: {\n    conversation_id: conversaData.conversation_id,\n    phone: conversaData.phone,\n    nome_cliente: conversaData.nome_cliente || 'Cliente',\n    loja: conversaData.loja,\n    cliente: conversaData.cliente,\n    schema_name: conversaData.schema_name,\n    follow_up_stage: conversaData.follow_up_stage,\n    historico_conversa: conversaFormatada.trim(),\n    ultima_msg_cliente: ultimaMsgCliente,\n    had_quote: teveOrcamento,\n    ultimo_valor: ultimoValor,\n    total_mensagens: historico.length\n  }\n};"},"id":"code-formata","name":"Formata Historico","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,0]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"Voce analisa mensagens de clientes para decidir se devemos enviar um follow-up ou nao.\n\nAnalise a ULTIMA MENSAGEM do cliente e responda APENAS com:\n- CONTINUAR - se o cliente parece ter interesse (pergunta sobre produto, pede orcamento, demonstra curiosidade)\n- PARAR - se o cliente demonstrou desinteresse, insatisfacao, pediu pra falar com atendente humano, disse que vai pensar, agradeceu e se despediu, ou qualquer sinal de que nao quer mais ser contactado\n\nExemplos de CONTINUAR:\n- \"quanto custa?\"\n- \"tem em azul?\"\n- \"me manda o pix\"\n- \"qual o prazo de entrega?\"\n- \"ok\"\n- \"sim\"\n\nExemplos de PARAR:\n- \"vou pensar e te aviso\"\n- \"obrigado, era so isso\"\n- \"nao quero mais\"\n- \"ta caro\"\n- \"deixa pra la\"\n- \"quero falar com uma pessoa\"\n- \"me passa pra um atendente\"\n- \"nao tenho interesse\"\n\nResponda APENAS com a palavra CONTINUAR ou PARAR, nada mais.","role":"system"},{"content":"=ULTIMA MENSAGEM DO CLIENTE:\n{{ $json.ultima_msg_cliente }}"}]},"options":{"maxTokens":10,"temperature":0}},"id":"openai-analisa","name":"Analisa Interesse","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1280,0],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"jsCode":"const analise = $input.first().json.message.content.trim().toUpperCase();\nconst dados = $('Formata Historico').first().json;\n\nif (analise.includes('PARAR')) {\n  return {\n    json: {\n      ...dados,\n      decisao: 'PARAR',\n      motivo: 'Cliente demonstrou desinteresse'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...dados,\n    decisao: 'CONTINUAR'\n  }\n};"},"id":"code-decisao","name":"Processa Decisao","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-continuar","leftValue":"={{ $json.decisao }}","rightValue":"CONTINUAR","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-decisao","name":"Continuar?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,0]},{"parameters":{"jsCode":"const tokens = {\n  alberto: {\n    'default': '464d243c-e664-49a0-aefa-53bb68de8bbd'\n  },\n  marcel: {\n    '199': 'ca609f35-c070-4c62-9378-0fc93224e068',\n    '037': 'e7b831ab-9d0b-4744-8d04-450dafef227e',\n    '179': '7fe60c26-d2a0-46fd-aeeb-b784808605b9',\n    'default': 'ca609f35-c070-4c62-9378-0fc93224e068'\n  }\n};\n\nconst cliente = $input.first().json.cliente;\nconst loja = $input.first().json.loja || '';\nconst codigoLoja = loja.match(/^\\d+/) ? loja.match(/^\\d+/)[0] : 'default';\n\nlet token;\nif (cliente === 'alberto') {\n  token = tokens.alberto.default;\n} else {\n  token = tokens.marcel[codigoLoja] || tokens.marcel.default;\n}\n\nreturn {\n  json: {\n    ...$input.first().json,\n    token: token,\n    codigo_loja: codigoLoja\n  }\n};"},"id":"code-token","name":"Obtem Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[1984,-96]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"Voce e o Tars, assistente de atendimento da Tintas MC. Analise o historico da conversa e crie uma mensagem de follow-up personalizada para reengajar o cliente.\n\nREGRAS:\n1. Seja breve (maximo 2-3 linhas)\n2. Seja amigavel e natural\n3. NAO use emojis em excesso (maximo 1)\n4. NAO seja insistente ou desesperado\n5. PERSONALIZE baseado no que o cliente perguntou/pediu\n6. Se houve orcamento, mencione o produto ou valor sutilmente\n7. Varie o tom baseado no estagio do follow-up\n\nESTAGIOS:\n- Stage 1 (1h apos): Leve e casual\n- Stage 2 (24h apos): Gentil, oferecendo ajuda\n- Stage 3 (7 dias apos): Despedida amigavel\n\nResponda APENAS com a mensagem de follow-up, sem explicacoes.","role":"system"},{"content":"=DADOS DO CLIENTE:\n- Nome: {{ $json.nome_cliente }}\n- Estagio do follow-up: {{ $json.follow_up_stage + 1 }} de 3\n- Teve orcamento: {{ $json.had_quote ? 'Sim' : 'Nao' }}\n- Valor mencionado: {{ $json.ultimo_valor ? 'R$ ' + $json.ultimo_valor : 'Nenhum' }}\n\nHISTORICO COMPLETO DA CONVERSA:\n{{ $json.historico_conversa }}\n\n---\nGere uma mensagem de follow-up natural e personalizada:"}]},"options":{"maxTokens":200,"temperature":0.7}},"id":"openai-gera-msg","name":"Gera Mensagem IA","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2144,-96],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Obtem Token').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"55{{ $('Obtem Token').item.json.phone }}\",\n  \"text\": \"{{ $json.message.content }}\",\n  \"delay\": 1200\n}","options":{}},"id":"http-envia-msg","name":"Envia Follow-Up","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,-96],"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE \"{{ $('Obtem Token').item.json.cliente === 'marcel' ? 'TMC_Marcel' : 'TMC_Alberto' }}\".follow_up_control\nSET \n  follow_up_stage = follow_up_stage + 1,\n  follow_up_{{ $('Obtem Token').item.json.follow_up_stage + 1 }}_sent_at = NOW(),\n  had_quote = {{ $('Obtem Token').item.json.had_quote }},\n  ultima_msg_de = 'tars',\n  status = CASE WHEN follow_up_stage + 1 >= 3 THEN 'finalizado' ELSE 'ativo' END,\n  motivo_finalizacao = CASE WHEN follow_up_stage + 1 >= 3 THEN 'follow_up_completo' ELSE NULL END,\n  updated_at = NOW()\nWHERE conversation_id = '{{ $('Obtem Token').item.json.conversation_id }}';","options":{}},"id":"postgres-atualiza","name":"Atualiza Stage","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2672,-304],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE \"{{ $json.cliente === 'marcel' ? 'TMC_Marcel' : 'TMC_Alberto' }}\".follow_up_control\nSET \n  blacklisted = TRUE,\n  status = 'blacklist',\n  motivo_finalizacao = '{{ $json.motivo }}',\n  updated_at = NOW()\nWHERE conversation_id = '{{ $json.conversation_id }}';","options":{}},"id":"postgres-blacklist","name":"Marca Blacklist","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1984,112],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"content":"## Follow-Up Inteligente TMC\n\n**Trigger:** A cada 1 hora\n**Tentativas:** 3 (1h, 24h, 7d)\n\n**Fluxo:**\n1. Busca conversas abandonadas\n2. Loop: processa uma por uma\n3. Analisa ultima msg do cliente (IA)\n4. Se interesse -> gera msg e envia\n5. Se desinteresse -> blacklist\n6. Volta pro loop ate acabar","height":320,"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-448,-176],"typeVersion":1,"id":"sticky-note-info","name":"Info"}],"connections":{"A cada 1 hora":{"main":[[{"node":"Busca Conversas Abandonadas","type":"main","index":0}]]},"Busca Conversas Abandonadas":{"main":[[{"node":"Tem conversas?","type":"main","index":0}]]},"Tem conversas?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Busca Historico","type":"main","index":0}]]},"Busca Historico":{"main":[[{"node":"Formata Historico","type":"main","index":0}]]},"Formata Historico":{"main":[[{"node":"Analisa Interesse","type":"main","index":0}]]},"Analisa Interesse":{"main":[[{"node":"Processa Decisao","type":"main","index":0}]]},"Processa Decisao":{"main":[[{"node":"Continuar?","type":"main","index":0}]]},"Continuar?":{"main":[[{"node":"Obtem Token","type":"main","index":0}],[{"node":"Marca Blacklist","type":"main","index":0}]]},"Obtem Token":{"main":[[{"node":"Gera Mensagem IA","type":"main","index":0}]]},"Gera Mensagem IA":{"main":[[{"node":"Envia Follow-Up","type":"main","index":0}]]},"Envia Follow-Up":{"main":[[{"node":"Atualiza Stage","type":"main","index":0}]]},"Atualiza Stage":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Marca Blacklist":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"Miguel Nunes","name":null,"description":null,"autosaved":false},"tags":[]}