ihNFqtm889YIyxOJ.json
{"updatedAt":"2025-12-12T13:37:27.870Z","createdAt":"2025-11-16T19:30:22.133Z","id":"ihNFqtm889YIyxOJ","name":"PEDIDO","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"delete","key":"={{ $('Code3').item.json.sessionId }}"},"id":"2e8c37cb-2870-43df-8385-52037aab04b0","name":"Delete Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2800,256],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $json.conversation }}","options":{"systemMessage":"=# TARS-MONITOR - Prompt de Sistema\n\n## 0) CoT Interno - Fluxo de Pensamento (NÃO EXIBIR)\n\nUse este roteiro mental antes de responder qualquer coisa.\n1. **Identificar Intenção**: O usuário quer saber de UM pedido específico ou um PANORAMA geral?\n2. **Selecionar Ferramenta**:\n   * Pedido específico → `busca_pedido_individual(codigo)`.\n   * Panorama/Erros → `analise_problemas_geral()`.\n3. **Análise Silenciosa (Mental)**:\n   * Recebeu o JSON? Verifique: Status, Observações, Valor Total e Lista de Itens.\n   * *Check de sanidade:* O valor total bate com a soma dos itens? Tem item zerado?\n4. **Definir Nível de Resposta**:\n   * **Nível 1 (Padrão):** Apenas resumo do status + erro + valor. Terminar com PERGUNTA GATILHO.\n   * **Nível 2 (Detalhe):** Apenas se o usuário respondeu \"sim\" ao gatilho. Listar itens e auditoria técnica.\n\n---\n\n## 1) Persona e Tom\n\n* **Nome:** TARS-MONITOR.\n* **Função:** Assistente de Vendas e Monitoramento de Pedidos.\n* **Plataforma:** WhatsApp.\n* **Tom:** Colega de trabalho eficiente. Direto, prestativo, levemente informal (\"tá\", \"pra\", \"beleza\").\n* **Estilo:** Conversacional. Nunca manda \"textão\" de primeira. Sempre engaja o usuário.\n\n---\n\n## 2) Regras de Formatação (CRÍTICO PARA WHATSAPP)\n\n* **NUNCA use Markdown de negrito duplo (`**texto**`).** O WhatsApp não lê.\n* **Use APENAS um asterisco (`*texto*`) para destacar códigos e valores.**\n* **Emojis:** Use com moderação para facilitar leitura (✅, ⚠️, 🔍, 💰, 📦).\n* **Listas:** Use hífens ou bolinhas simples.\n\n---\n\n## 3) Procedimento Operacional\n\n### 3.1 Busca Individual (O Pedido Específico)\nQuando o usuário perguntar \"Como está o pedido X?\":\n\n**PASSO 1: O Diagnóstico (Resposta Inicial)**\n* Chame a tool.\n* Se **RESOLVIDO**: \"O *PD XXX* tá limpo! ✅ Consta como resolvido aqui. Valor de *R$ XXX*. Precisa de algo mais?\"\n* Se **COM PROBLEMA**:\n  * Diga que está travado ⚠️.\n  * Resuma o motivo lendo `observacoes_internas`.\n  * Informe o valor total.\n  * **OBRIGATÓRIO:** Termine perguntando: *\"Quer que eu detalhe os itens pendentes?\"* ou *\"Quer conferir os valores?\"*\n\n**PASSO 2: A Autópsia (Apenas se o usuário pedir)**\n* Liste os itens principais do JSON `itens_pedido`.\n* Formato: 📦 *Item [Código]* - [Qtd] un (*R$ Unitário*).\n* Se houver anomalia (preço zero, produto inativo), alerte aqui.\n\n### 3.2 Análise Geral (O Panorama)\nQuando o usuário perguntar \"O que tem de errado hoje?\":\n\n**PASSO 1: O Radar**\n* Chame `analise_problemas_geral`.\n* Não liste tudo. Identifique **Padrões** ou **Prioridades**.\n* Ex: \"Achei *5 pedidos* travados. O mais crítico é um de *R$ 15k* por falta de limite.\"\n* **OBRIGATÓRIO:** Termine perguntando: *\"Mando a lista completa ou só os mais caros?\"*\n\n---\n\n## 4) Tratamento de Erros e Dados\n\n* **Não Invente:** Se a tool não retornar nada, diga: \"Não achei esse pedido no monitoramento. Deve estar tudo certo ou ainda não caiu no banco.\"\n* **Tratamento de Nulos:** Se `observacoes_internas` for vazio mas o status for \"COM PROBLEMA\", diga: \"Tá marcado com problema, mas sem observação cadastrada. Estranho. 🤔\"\n* **Moeda:** Sempre formate valores como *R$ 1.234,00*.\n\n---\n\n## 5) Exemplos de Interação (Few-Shot)\n\n**Usuário:** \"Vê o pedido 1181.\"\n**Assistente:** \"Opa, achei o *PD 01181* aqui. ⚠️\nEle tá travado por *pendência de materiais (areia, vacuômetro)*. O valor dele é de *R$ 1.405,60*.\n\nQuer que eu detalhe os itens pra você ver o que falta?\"\n\n**Usuário:** \"Quero sim.\"\n**Assistente:** \"Beleza, segue a lista do que tá no pedido:\n\n📦 *Item 516* - 1 un (*R$ 389,90*)\n📦 *Item 174 (Pá)* - 2 un (*R$ 99,00*)\n...\nOs valores parecem bater certinho. Ajudo em mais algum?\"\n\n**Usuário:** \"E o pedido 9999?\"\n**Assistente:** \"Hum, esse *PD 9999* não apareceu na minha busca. 🔍\nSe ele foi emitido agora, pode não ter integrado ainda. Ou então tá 100% liberado e já saiu da minha lista de alerta.\"\n\n---\n\n## 6) Instruções Finais\n\n* Mantenha a conversa fluida.\n* Lembre-se: Você é um filtro inteligente, não um leitor de banco de dados.\n* Use o *asterisco* para destacar o que importa."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1824,272],"id":"1bcc9354-a1be-48ef-8894-d4c88958b0f8","name":"AI Agent","alwaysOutputData":true,"executeOnce":false},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"gpt-5.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1488,560],"id":"c518f255-2920-415f-857b-7c585bd264bd","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code3').item.json.sessionId }}","tableName":"n8n_chat_histories_BS","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1648,560],"id":"6c081351-9c11-411f-8359-9495efa64cd8","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"06932f2d-bd17-4fc6-b817-2080a47c9720","name":"Compara Get Memory","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1424,288]},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory ').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"0695d3a4-551d-400a-b3e4-12c5c5d7fa6f","name":"Edit Fields11","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,288]},{"parameters":{},"id":"c0860670-975b-4bd6-9c4e-cc2f74642026","name":"Wait5","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,288],"webhookId":"d2608e95-2419-4f68-af29-8aa4483c7b30","disabled":true},{"parameters":{"operation":"get","key":"={{ $('Code3').item.json.sessionId }}","options":{}},"id":"817c61ca-f3dd-4e8f-a736-3de6413dbe0b","name":"Get Memory ","type":"n8n-nodes-base.redis","typeVersion":1,"position":[704,288],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Code3').item.json.sessionId }}","options":{}},"id":"01f3db00-755b-4eaa-ab16-d2d94f8a44ff","name":"Get Memory 3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1008,288],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"jsCode":"/**\n * Recebe items contendo campos Redis1 e Redis2 como strings JSON de arrays de mensagens.\n * Analisa ambos, une apenas as mensagens diferentes (sem duplicatas) e retorna uma única string.\n */\nfunction mergeUniqueMessages(items) {\n  // Obtém as strings brutas\n  const raw1 = items[0].json.Redis1;\n  const raw2 = items[0].json.Redis2;\n\n  // Função para parsear com segurança\n  function safeParse(raw) {\n    if (!raw) return [];\n    try {\n      const parsed = JSON.parse(raw);\n      return Array.isArray(parsed) ? parsed : [parsed];\n    } catch {\n      return [raw];\n    }\n  }\n\n  // Parse das duas fontes\n  const arr1 = safeParse(raw1);\n  const arr2 = safeParse(raw2);\n\n  // Une e remove duplicatas mantendo ordem de ocorrência\n  const unique = [];\n  [...arr1, ...arr2].forEach(msg => {\n    if (!unique.includes(msg)) unique.push(msg);\n  });\n\n  // Junta numa única conversa\n  const conversation = unique.join(' ');\n\n  return [{ json: { conversation } }];\n}\n\n// No n8n Function Node, basta retornar:\nreturn mergeUniqueMessages(items);\n"},"id":"d565a0e5-bbd1-4ce3-923d-0e81219df8d3","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,272]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2176,256],"id":"915d1e0d-ffa5-4e1f-b3cb-2492a2f77672","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ Boolean($('Get Dados').item.json.telefone?.trim()) }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1568,256],"id":"33e771d4-4ad6-4a0a-ada8-af7e1ddd9966","name":"If2"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-1328,704],"id":"32813101-401a-4e30-8711-6944dcb7cc18","name":"Gerar sessionID2"},{"parameters":{"tableId":"dados_cliente_bs","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('When Executed by Another Workflow').item.json.telefone }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1120,704],"id":"cab4bb47-e855-44c2-aff0-6d7210cc4bc6","name":"Supabase3","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"dados_cliente_bs","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1216,112],"id":"5cb9794e-31df-48ef-90ba-ba4159c95c4b","name":"Get Dados2","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"jsCode":"// Obtém os valores dos nós anteriores\nconst sessionid1 = $input.item.json.data;  // Do nó \"Gerar sessionID\"\nconst sessionid2 = $input.item.json.sessionid;  // Do nó \"Supabase\"\n\n// Retorna apenas o que existir, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,256],"id":"45e38408-ce91-4cdc-8a3a-7f54e4bbd060","name":"Code3"},{"parameters":{"operation":"get","tableId":"dados_cliente_bs","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1792,256],"id":"ec87c3c6-1b34-4787-8699-7f332aec8049","name":"Get Dados","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"e5789cb2-7ddb-4d87-80a0-c0d7e625510c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When Executed by Another Workflow').item.json.telefone }}"},{"name":"text","value":"={{ $('AI Agent').item.json.output }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2496,272],"id":"03e06930-5329-4d8e-96b2-26b46257aa9e","name":"HTTP Request"},{"parameters":{"operation":"push","list":"={{ $json.sessionId }}","messageData":"={{ $('Data').item.json.mensagem }}","tail":true},"id":"22b0d664-a5ed-4117-8dea-09cbad8bdde4","name":"Text Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[464,208],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $json.sessionId }}","messageData":"={{ $json.message }}","tail":true},"id":"c0bb9790-7977-4590-b31f-4bdaf0b8fbd7","name":"PDF Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[448,16],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[96,16],"id":"773e2011-9408-436d-93a4-1e820b4797cc","name":"Extract from File"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"320e4453-4773-471e-863d-a736de2fbff3","leftValue":"={{ $('Data').first().json.MediaType }}","rightValue":"DocumentMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Data').first().json.MediaType }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"77507905-2987-4aca-9840-4b989f562307","leftValue":"={{ $('Data').first().json.MediaType }}","rightValue":"=ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Data').first().json.mimetype }}","rightValue":"=audio/ogg; codecs=opus","operator":{"type":"string","operation":"contains"},"id":"839edd08-57e9-4dc3-abdd-1950e09e1572"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Data').first().json.mimetype }}","rightValue":"image/jpeg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem/jpeg"}]},"options":{}},"id":"bd3e1853-a5fc-48a3-bd6e-5204f99b2bb8","name":"ROTA Media","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-640,208]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"5da33391-eaf0-47a5-92d5-26916334f90e","name":"HTTP PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,16]},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"application/pdf"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-80,16],"id":"fcc00ed5-1a8a-4368-9286-2f64756c1526","name":"Convert to File - PDF"},{"parameters":{"assignments":{"assignments":[{"id":"0be9e760-815b-42e8-9046-26820462edd9","name":"message","value":"=<ContextoPDF>\n  <TranscricaoPDF>\n  {{ $json.text }}\n  </TranscricaoPDF>\n  </MensagemUsuario>\n    <titulodocumento>\n    {{ $json.info.Title }}\n    </titulodocumento>\n</ContextoPDF>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,16],"id":"2af5a294-9169-44cb-98db-aa955e8ff65d","name":"Normaliza"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"ab49d326-e4af-4ff4-a093-9e44633d58a5","name":"HTTP Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,368]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"a1c8b500-180f-4c1c-846b-c362887ffd8d","name":"HTTP Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,560]},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"audio.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[0,368],"id":"076e86b6-448a-4062-a016-456f96231d16","name":"Convert to File - Audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[0,560],"id":"98cc2031-a950-42b8-bac9-b14f22fa41ab","name":"Convert to File - Image"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"afc29958-708d-4d84-90f2-51bc39dac91d","name":"IA Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[256,368],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"=Extraia e normalize todos os itens, separando nome, quantidade e unidade. Organize tudo em uma lista clara e completa, sem omitir nenhum item.","inputType":"base64","options":{}},"id":"adc3b23e-e755-4832-aa05-f6945e9e49ff","name":"IA Image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[256,560],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"operation":"push","list":"={{ $json.sessionId }}","messageData":"={{ $json.text }}","tail":true},"id":"1e12de74-425c-40b3-acd3-3f7aea987722","name":"Audio Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[464,368],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $json.sessionId }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"2f357a3d-f877-4cfb-8748-91740053bedc","name":"Image Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[464,560],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f8ccd10b-1b4e-411a-bbaa-4309b3b3674c","name":"Telefone","value":"={{ $json.telefone }}","type":"string"},{"id":"fb52083d-7ecc-4500-ae99-6ac10f890eb6","name":"mensagem","value":"={{ $json.mensagem }}","type":"string"},{"id":"a35923ee-5a33-457e-865a-ec18797bdbdc","name":"MediaType","value":"={{ $json.MediaType }}","type":"string"}]},"options":{}},"id":"ef458b8d-23a0-4e52-b75b-e26f2ef4015d","name":"Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1984,256]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"e5789cb2-7ddb-4d87-80a0-c0d7e625510c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When Executed by Another Workflow').item.json.telefone }}"},{"name":"text","value":"=Acesso Negado! Solicite autorização \nVolte para o #menu"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1232,400],"id":"1f1d182c-e694-447c-a10f-b7e05ff4d5a8","name":"HTTP Request2"},{"parameters":{"descriptionType":"manual","toolDescription":"Busca dados de um pedido específico pelo código (ex: PD 1234). Entrada deve ser o código ou parte dele.","operation":"executeQuery","query":"SELECT \n    codigo_pedido, \n    status_monitoramento, \n    observacoes_internas, \n    valor_total, \n    data_criacao,\n    itens_pedido  -- AQUI ESTÁ O SEGREDO: Trazemos o JSON completo dos produtos\nFROM public.pedidos \nWHERE codigo_pedido ILIKE '%' || $1 || '%'\nLIMIT 1;","options":{"queryReplacement":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', ``, 'string') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1920,528],"id":"6bd115f8-c7b6-4f24-850b-53f72b2a6c41","name":"tool_busca_individual","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todos os pedidos que possuem problemas pendentes.","operation":"executeQuery","query":"SELECT \n    codigo_pedido, \n    observacoes_internas, \n    valor_total,\n    data_criacao,\n    itens_pedido -- Trazemos os itens para achar padrões\nFROM public.pedidos \nWHERE status_monitoramento = 'COM_PROBLEMA' \nORDER BY data_criacao DESC \nLIMIT 20;","options":{"queryReplacement":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', ``, 'string') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[2096,528],"id":"b797d3b4-9713-435e-beb1-693d5840ef8f","name":"tool_analise_geral","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"# PERSONA: TARS-SUPPORT (Analista de Pedidos Completo)\n\nVocê é um auditor técnico de pedidos. Sua função é verificar o status, as observações de erro E O CONTEÚDO dos pedidos (produtos, preços e quantidades).\n\n## 🛠️ SUAS FERRAMENTAS\n\n1. **`tool_busca_individual`**:\n   - **O QUE FAZ**: Retorna o status, o erro (se houver) e o JSON completo com a lista de produtos.\n   - **COMO USAR**: Use quando o usuário pedir detalhes de UM pedido específico.\n   - **ANÁLISE OBRIGATÓRIA**: Ao receber o retorno, você deve ler o campo `itens_pedido`. Ele contém uma lista. Cite quais produtos estão no pedido se isso ajudar a explicar o problema.\n\n2. **`tool_analise_geral`**:\n   - **O QUE FAZ**: Retorna os últimos 20 pedidos com problemas, incluindo valores e itens.\n   - **COMO ANALISAR (IMPORTANTE)**:\n     - **Não liste** os produtos de cada pedido um por um (isso polui o chat).\n     - **Priorize pelo Valor**: Destaque imediatamente se houver pedidos de alto valor travados (ex: \"Atenção: Temos um pedido de R$ 50k parado!\").\n     - **Busque Padrões**: Verifique se os pedidos travados têm produtos em comum no JSON `itens_pedido`. Se todos tiverem o mesmo item, avise: \"Parece haver um problema sistêmico com o produto X\".\n     - **Agrupe por Erro**: \"5 pedidos estão com erro de 'Cliente não cadastrado'\".\n\n## 🧠 COMO RESPONDER (PADRÃO DE ANÁLISE)\n\nQuando você buscar um pedido individual, sua resposta deve seguir esta estrutura:\n\n1. **Resumo do Status**: (Ex: \"O pedido PD 00985 está COM PROBLEMA\").\n2. **Diagnóstico do Erro**: Leia o campo `observacoes_internas` e explique o que travou o pedido.\n3. **Análise dos Itens (Raio-X)**:\n   - Liste os principais produtos encontrados no JSON `itens_pedido` (Código/ID do produto e Quantidade).\n   - Verifique se os valores unitários fazem sentido (se tiver valor zerado, alerte).\n   - Verifique se o `valor_total` do pedido bate com a soma dos itens (faça uma verificação rápida mentalmente).\n\n## 🚫 REGRAS\n- Se o campo `itens_pedido` estiver vazio ou null, avise: \"Não há itens vinculados a este pedido.\"\n- Se identificar produtos com `valorUnitario: \"0\"`, destaque isso como uma possível causa de erro.\n- Não mostre o JSON bruto para o usuário, traduza em uma lista legível.\n- Formate valores monetários como R$ (BRL)."},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,16],"id":"45a0a1ce-7a34-4ab2-9e18-d9a6f1bea2ef","name":"Code in JavaScript"}],"connections":{"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Compara Get Memory":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Compara Get Memory","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Get Memory 3","type":"main","index":0}]]},"Get Memory ":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Get Memory 3":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Data","type":"main","index":0}]]},"If2":{"main":[[{"node":"Get Dados2","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"Gerar sessionID2":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"Supabase3":{"main":[[]]},"Get Dados2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"ROTA Media","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"If2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Delete Memory1","type":"main","index":0}]]},"Text Memory":{"main":[[{"node":"Get Memory ","type":"main","index":0}]]},"PDF Memory":{"main":[[{"node":"Get Memory ","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Normaliza","type":"main","index":0}]]},"ROTA Media":{"main":[[{"node":"HTTP PDF","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"HTTP Audio","type":"main","index":0}],[{"node":"HTTP Image","type":"main","index":0}]]},"HTTP PDF":{"main":[[{"node":"Convert to File - PDF","type":"main","index":0}]]},"Convert to File - PDF":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Normaliza":{"main":[[{"node":"PDF Memory","type":"main","index":0}]]},"HTTP Audio":{"main":[[{"node":"Convert to File - Audio","type":"main","index":0}]]},"HTTP Image":{"main":[[{"node":"Convert to File - Image","type":"main","index":0}]]},"Convert to File - Audio":{"main":[[{"node":"IA Audio","type":"main","index":0}]]},"Convert to File - Image":{"main":[[{"node":"IA Image","type":"main","index":0}]]},"IA Audio":{"main":[[{"node":"Audio Memory","type":"main","index":0}]]},"IA Image":{"main":[[{"node":"Image Memory","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory ","type":"main","index":0}]]},"Image Memory":{"main":[[{"node":"Get Memory ","type":"main","index":0}]]},"Data":{"main":[[{"node":"Get Dados","type":"main","index":0}]]},"tool_busca_individual":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_analise_geral":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"telefone":"12988112870","mensagem":"verifica o pedido PD 01181","MediaType":"ExtendedTextMessage"}}]},"versionId":"35f58e8e-ee7b-4634-b4b6-b8ad5a639527","triggerCount":0,"shared":[{"updatedAt":"2025-11-16T19:30:22.133Z","createdAt":"2025-11-16T19:30:22.133Z","role":"workflow:owner","workflowId":"ihNFqtm889YIyxOJ","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"updatedAt":"2025-10-31T13:42:46.294Z","createdAt":"2025-10-31T13:42:46.294Z","id":"lp5X9BGZ8y8RWeA0","name":"Brasilsolos"}]}