IoP0EYtimpSbKGGK.json
{"createdAt":"2025-10-27T16:31:05.624Z","updatedAt":"2025-10-31T13:34:29.582Z","id":"IoP0EYtimpSbKGGK","name":"ProQuantum_UpdateLead","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"nome"},{"name":"empresa"},{"name":"cidade"},{"name":"email"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","operation":"update","tableId":"leads","filterType":"string","filterString":"=id=eq.{{ $json.lead_id }}","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $json.nome ?? null }}"},{"fieldId":"empresa","fieldValue":"={{ $json.empresa ?? null }}"},{"fieldId":"cidade","fieldValue":"={{ $json.cidade ?? null }}"},{"fieldId":"email","fieldValue":"={{ $json.email ?? null }}"},{"fieldId":"atualizado_em","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[496,352],"id":"35f449ac-1c0e-41b1-86c1-c4efa7a72899","name":"Update Lead","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"success-flag","name":"success","value":"true","type":"boolean"},{"id":"message-response","name":"message","value":"Lead atualizado com sucesso","type":"string"},{"id":"lead-id-response","name":"lead_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,352],"id":"751920a1-dba8-4f12-b043-e78c5a90e97f","name":"Format Response"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Update Lead","type":"main","index":0}]]},"Update Lead":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f0f5627e-f3c5-4444-83c1-6ef317617211","triggerCount":0,"shared":[{"createdAt":"2025-10-27T16:31:05.624Z","updatedAt":"2025-10-27T16:31:05.624Z","role":"workflow:owner","workflowId":"IoP0EYtimpSbKGGK","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"createdAt":"2025-10-31T13:33:54.737Z","updatedAt":"2025-10-31T13:33:54.737Z","id":"qtGfGiuzuUwLYUYL","name":"proQuantum"}]}