IpYEoDu4RhIIhVOM.json
{"updatedAt":"2026-03-02T11:56:22.920Z","createdAt":"2026-03-02T11:23:49.868Z","id":"IpYEoDu4RhIIhVOM","name":"DUMP_PRECOS_WORKER","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT c.empresa_id, c.nome_cliente, c.api_url, c.api_tintometrico_url, c.slug,\n  l.codigo AS codigo_loja, l.nome AS nome_loja\nFROM \"Controle_TMC\".configuracoes_cliente c\nJOIN \"Controle_TMC\".lojas l ON l.empresa_id = c.empresa_id\nWHERE c.slug = '{{ $input.first().json.slug }}'\n  AND c.ativo = true\nORDER BY l.codigo\nLIMIT 1","options":{}},"id":"pg-busca","name":"Busca Config","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[688,16],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM \"Controle_TMC\".precos_erp WHERE empresa_id = '{{ $('Busca Config').first().json.empresa_id }}'","options":{}},"id":"pg-delete","name":"Limpa Precos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,16],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"url":"={{ $('Busca Config').first().json.api_tintometrico_url || $('Busca Config').first().json.api_url }}/produtoPreco","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Busca Config').first().json.codigo_loja }}"},{"name":"numeroPagina","value":"0"},{"name":"quantidadeRegistro","value":"5000"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"http-p0","name":"HTTP Pagina 0","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,-288],"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"url":"={{ $('Busca Config').first().json.api_tintometrico_url || $('Busca Config').first().json.api_url }}/produtoPreco","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Busca Config').first().json.codigo_loja }}"},{"name":"numeroPagina","value":"1"},{"name":"quantidadeRegistro","value":"5000"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"http-p1","name":"HTTP Pagina 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,-128],"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"url":"={{ $('Busca Config').first().json.api_tintometrico_url || $('Busca Config').first().json.api_url }}/produtoPreco","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Busca Config').first().json.codigo_loja }}"},{"name":"numeroPagina","value":"2"},{"name":"quantidadeRegistro","value":"5000"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"http-p2","name":"HTTP Pagina 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,16],"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"url":"={{ $('Busca Config').first().json.api_tintometrico_url || $('Busca Config').first().json.api_url }}/produtoPreco","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Busca Config').first().json.codigo_loja }}"},{"name":"numeroPagina","value":"3"},{"name":"quantidadeRegistro","value":"5000"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"http-p3","name":"HTTP Pagina 3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,144],"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"url":"={{ $('Busca Config').first().json.api_tintometrico_url || $('Busca Config').first().json.api_url }}/produtoPreco","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Busca Config').first().json.codigo_loja }}"},{"name":"numeroPagina","value":"4"},{"name":"quantidadeRegistro","value":"5000"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"http-p4","name":"HTTP Pagina 4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,320],"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"numberInputs":5},"id":"merge-all","name":"Merge Paginas","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1600,-32]},{"parameters":{"jsCode":"const empresa_id = $('Busca Config').first().json.empresa_id;\nconst allItems = $input.all().map(i => i.json);\nconst values = [];\n\nfor (const dados of allItems) {\n  if (!dados || !dados.codigoProduto) continue;\n  const tabela1 = (dados.tabelasPrecos || []).find(t => t.codigoTabela === '1');\n  if (tabela1 && tabela1.preco !== null && tabela1.preco < 5000 && tabela1.preco > 0.01) {\n    values.push(\"('\" + empresa_id + \"', \" + dados.codigoProduto + \", \" + tabela1.preco + \")\");\n  }\n}\n\nif (values.length === 0) {\n  return [{ json: { _skip: true, count: 0 } }];\n}\n\nconst batches = [];\nconst BATCH = 500;\nfor (let i = 0; i < values.length; i += BATCH) {\n  const chunk = values.slice(i, i + BATCH);\n  batches.push({\n    json: {\n      _skip: false,\n      count: chunk.length,\n      insert_sql: 'INSERT INTO \"Controle_TMC\".precos_erp (empresa_id, codigo_produto, preco) VALUES ' + chunk.join(',')\n    }\n  });\n}\nreturn batches;"},"id":"code-processa","name":"Processa Precos","type":"n8n-nodes-base.code","typeVersion":1,"position":[1808,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f1","leftValue":"={{ $json._skip }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"filter-skip","name":"Filtra Vazios","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2016,16]},{"parameters":{"operation":"executeQuery","query":"{{ $json.insert_sql }}","options":{}},"id":"pg-insert","name":"Insere Precos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2240,16],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE \"Controle_TMC\".produtos_curva_abc p\nSET preco = e.preco, updated_at = now()\nFROM \"Controle_TMC\".precos_erp e\nWHERE e.codigo_produto = p.codigo_produto\n  AND e.empresa_id = p.empresa_id\n  AND p.empresa_id = '{{ $('Busca Config').first().json.empresa_id }}'\n  AND p.preco IS DISTINCT FROM e.preco","options":{}},"id":"pg-update","name":"Atualiza Curva ABC","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2448,16],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"id":"dfd8ceba-3213-4dbf-9ec9-457299265e21","name":"Recebe Slug","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[468,16],"parameters":{"inputSource":"passthrough"}}],"connections":{"Busca Config":{"main":[[{"node":"Limpa Precos","type":"main","index":0}]]},"Limpa Precos":{"main":[[{"node":"HTTP Pagina 0","type":"main","index":0},{"node":"HTTP Pagina 1","type":"main","index":0},{"node":"HTTP Pagina 2","type":"main","index":0},{"node":"HTTP Pagina 3","type":"main","index":0},{"node":"HTTP Pagina 4","type":"main","index":0}]]},"HTTP Pagina 0":{"main":[[{"node":"Merge Paginas","type":"main","index":0}]]},"HTTP Pagina 1":{"main":[[{"node":"Merge Paginas","type":"main","index":1}]]},"HTTP Pagina 2":{"main":[[{"node":"Merge Paginas","type":"main","index":2}]]},"HTTP Pagina 3":{"main":[[{"node":"Merge Paginas","type":"main","index":3}]]},"HTTP Pagina 4":{"main":[[{"node":"Merge Paginas","type":"main","index":4}]]},"Merge Paginas":{"main":[[{"node":"Processa Precos","type":"main","index":0}]]},"Processa Precos":{"main":[[{"node":"Filtra Vazios","type":"main","index":0}]]},"Filtra Vazios":{"main":[[{"node":"Insere Precos","type":"main","index":0}]]},"Insere Precos":{"main":[[{"node":"Atualiza Curva ABC","type":"main","index":0}]]},"Recebe Slug":{"main":[[{"node":"Busca Config","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","timezone":"UTC","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"dd0b22c6-ebe7-40f6-bfa4-d4f7d1d352bf","activeVersionId":"dd0b22c6-ebe7-40f6-bfa4-d4f7d1d352bf","triggerCount":0,"shared":[{"updatedAt":"2026-03-02T11:23:49.868Z","createdAt":"2026-03-02T11:23:49.868Z","role":"workflow:owner","workflowId":"IpYEoDu4RhIIhVOM","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2026-03-02T11:55:57.655Z","createdAt":"2026-03-02T11:51:45.814Z","versionId":"dd0b22c6-ebe7-40f6-bfa4-d4f7d1d352bf","workflowId":"IpYEoDu4RhIIhVOM","nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT c.empresa_id, c.nome_cliente, c.api_url, c.api_tintometrico_url, c.slug,\n  l.codigo AS codigo_loja, l.nome AS nome_loja\nFROM \"Controle_TMC\".configuracoes_cliente c\nJOIN \"Controle_TMC\".lojas l ON l.empresa_id = c.empresa_id\nWHERE c.slug = '{{ $input.first().json.slug }}'\n  AND c.ativo = true\nORDER BY l.codigo\nLIMIT 1","options":{}},"id":"pg-busca","name":"Busca Config","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[688,16],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM \"Controle_TMC\".precos_erp WHERE empresa_id = '{{ $('Busca Config').first().json.empresa_id }}'","options":{}},"id":"pg-delete","name":"Limpa Precos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,16],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"url":"={{ $('Busca Config').first().json.api_tintometrico_url || $('Busca Config').first().json.api_url }}/produtoPreco","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Busca Config').first().json.codigo_loja }}"},{"name":"numeroPagina","value":"0"},{"name":"quantidadeRegistro","value":"5000"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"http-p0","name":"HTTP Pagina 0","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,-288],"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"url":"={{ $('Busca Config').first().json.api_tintometrico_url || $('Busca Config').first().json.api_url }}/produtoPreco","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Busca Config').first().json.codigo_loja }}"},{"name":"numeroPagina","value":"1"},{"name":"quantidadeRegistro","value":"5000"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"http-p1","name":"HTTP Pagina 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,-128],"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"url":"={{ $('Busca Config').first().json.api_tintometrico_url || $('Busca Config').first().json.api_url }}/produtoPreco","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Busca Config').first().json.codigo_loja }}"},{"name":"numeroPagina","value":"2"},{"name":"quantidadeRegistro","value":"5000"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"http-p2","name":"HTTP Pagina 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,16],"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"url":"={{ $('Busca Config').first().json.api_tintometrico_url || $('Busca Config').first().json.api_url }}/produtoPreco","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Busca Config').first().json.codigo_loja }}"},{"name":"numeroPagina","value":"3"},{"name":"quantidadeRegistro","value":"5000"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"http-p3","name":"HTTP Pagina 3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,144],"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"url":"={{ $('Busca Config').first().json.api_tintometrico_url || $('Busca Config').first().json.api_url }}/produtoPreco","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Busca Config').first().json.codigo_loja }}"},{"name":"numeroPagina","value":"4"},{"name":"quantidadeRegistro","value":"5000"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"http-p4","name":"HTTP Pagina 4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,320],"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"numberInputs":5},"id":"merge-all","name":"Merge Paginas","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1600,-32]},{"parameters":{"jsCode":"const empresa_id = $('Busca Config').first().json.empresa_id;\nconst allItems = $input.all().map(i => i.json);\nconst values = [];\n\nfor (const dados of allItems) {\n  if (!dados || !dados.codigoProduto) continue;\n  const tabela1 = (dados.tabelasPrecos || []).find(t => t.codigoTabela === '1');\n  if (tabela1 && tabela1.preco !== null && tabela1.preco < 5000 && tabela1.preco > 0.01) {\n    values.push(\"('\" + empresa_id + \"', \" + dados.codigoProduto + \", \" + tabela1.preco + \")\");\n  }\n}\n\nif (values.length === 0) {\n  return [{ json: { _skip: true, count: 0 } }];\n}\n\nconst batches = [];\nconst BATCH = 500;\nfor (let i = 0; i < values.length; i += BATCH) {\n  const chunk = values.slice(i, i + BATCH);\n  batches.push({\n    json: {\n      _skip: false,\n      count: chunk.length,\n      insert_sql: 'INSERT INTO \"Controle_TMC\".precos_erp (empresa_id, codigo_produto, preco) VALUES ' + chunk.join(',')\n    }\n  });\n}\nreturn batches;"},"id":"code-processa","name":"Processa Precos","type":"n8n-nodes-base.code","typeVersion":1,"position":[1808,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f1","leftValue":"={{ $json._skip }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"filter-skip","name":"Filtra Vazios","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2016,16]},{"parameters":{"operation":"executeQuery","query":"{{ $json.insert_sql }}","options":{}},"id":"pg-insert","name":"Insere Precos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2240,16],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE \"Controle_TMC\".produtos_curva_abc p\nSET preco = e.preco, updated_at = now()\nFROM \"Controle_TMC\".precos_erp e\nWHERE e.codigo_produto = p.codigo_produto\n  AND e.empresa_id = p.empresa_id\n  AND p.empresa_id = '{{ $('Busca Config').first().json.empresa_id }}'\n  AND p.preco IS DISTINCT FROM e.preco","options":{}},"id":"pg-update","name":"Atualiza Curva ABC","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2448,16],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"id":"dfd8ceba-3213-4dbf-9ec9-457299265e21","name":"Recebe Slug","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[468,16],"parameters":{"inputSource":"passthrough"}}],"connections":{"Busca Config":{"main":[[{"node":"Limpa Precos","type":"main","index":0}]]},"Limpa Precos":{"main":[[{"node":"HTTP Pagina 0","type":"main","index":0},{"node":"HTTP Pagina 1","type":"main","index":0},{"node":"HTTP Pagina 2","type":"main","index":0},{"node":"HTTP Pagina 3","type":"main","index":0},{"node":"HTTP Pagina 4","type":"main","index":0}]]},"HTTP Pagina 0":{"main":[[{"node":"Merge Paginas","type":"main","index":0}]]},"HTTP Pagina 1":{"main":[[{"node":"Merge Paginas","type":"main","index":1}]]},"HTTP Pagina 2":{"main":[[{"node":"Merge Paginas","type":"main","index":2}]]},"HTTP Pagina 3":{"main":[[{"node":"Merge Paginas","type":"main","index":3}]]},"HTTP Pagina 4":{"main":[[{"node":"Merge Paginas","type":"main","index":4}]]},"Merge Paginas":{"main":[[{"node":"Processa Precos","type":"main","index":0}]]},"Processa Precos":{"main":[[{"node":"Filtra Vazios","type":"main","index":0}]]},"Filtra Vazios":{"main":[[{"node":"Insere Precos","type":"main","index":0}]]},"Insere Precos":{"main":[[{"node":"Atualiza Curva ABC","type":"main","index":0}]]},"Recebe Slug":{"main":[[{"node":"Busca Config","type":"main","index":0}]]}},"authors":"Miguel Nunes","name":"Version dd0b22c6","description":"","autosaved":false},"tags":[]}