JUpW90bc5qwfhBgL.json
{"updatedAt":"2025-12-29T17:36:19.376Z","createdAt":"2025-10-27T16:51:47.487Z","id":"JUpW90bc5qwfhBgL","name":"ProQuantum_UpdateStatus","active":true,"isArchived":false,"nodes":[{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","operation":"update","tableId":"leads","filterType":"string","filterString":"=sessionid=eq.{{ $json.lead_id }}","fieldsUi":{"fieldValues":[{"fieldId":"classificacao","fieldValue":"={{ $json.classificacao }}"},{"fieldId":"atualizado_em","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,96],"id":"15c401d3-0faf-48d4-9eae-cc952bd562df","name":"Update Status","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-quente","leftValue":"={{ $json.classificacao }}","rightValue":"quente","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-336,96],"id":"6a44ae1c-cc62-4ecc-ba38-1fd7dcbbfae0","name":"Check if Quente"},{"parameters":{"assignments":{"assignments":[{"id":"success-flag","name":"success","value":"true","type":"boolean"},{"id":"message-response","name":"message","value":"Status atualizado com sucesso","type":"string"},{"id":"classificacao-response","name":"classificacao","value":"={{ $('Update Status').item.json.classificacao }}","type":"string"},{"id":"relatorio-acionado","name":"relatorio_acionado","value":"={{ $('Update Status').item.json.classificacao === 'quente' }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,96],"id":"1d4b8999-8a03-40f0-928a-d06cc86bcbf4","name":"Format Response"},{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"classificacao"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-736,96],"id":"e458ae9d-5989-44e6-8573-13e108c03a34","name":"When Executed by Another Workflow"},{"parameters":{"url":"http://179.110.81.163:30002/ecommerce/produtos","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataInicial","value":"2020/01/25"},{"name":"dataFinal","value":"2025/06/25"},{"name":"getficha","value":"S"},{"name":"perfil","value":"1"},{"name":"pagina","value":"1"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,176],"id":"3bd08460-5960-4f16-98b1-1dd2110bb66b","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"vlxE3ucSDSmBsLgg","name":"Unnamed credential 2"}}},{"parameters":{"url":"http://179.110.81.163:30002/ecommerce/produtos","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataInicial","value":"2020/01/25"},{"name":"dataFinal","value":"2025/06/25"},{"name":"getficha","value":"S"},{"name":"perfil","value":"1"},{"name":"pagina","value":"1"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,144],"id":"1906c0f7-762a-487f-b5b7-b8961cf051af","name":"HTTP Request - Produtos Full","credentials":{"httpBasicAuth":{"id":"vlxE3ucSDSmBsLgg","name":"Unnamed credential 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"success-flag","name":"success","value":"true","type":"boolean"},{"id":"message-response","name":"message","value":"=status atualizado com sucesso para  {{ $json.classificacao }}","type":"string"},{"id":"lead-id-response","name":"lead_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,256],"id":"ace2c376-7220-48c6-888d-0e02766c3989","name":"Format Response1"},{"parameters":{"workflowId":{"__rl":true,"value":"Tam8wECwNLGW35En","mode":"list","cachedResultUrl":"/workflow/Tam8wECwNLGW35En","cachedResultName":"ProQuantum_EmitirRelatorio"},"workflowInputs":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.id }}"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-112,0],"id":"0bf7051a-caac-4ce4-9977-84290968bbcf","name":"Call 'ProQuantum_EmitirRelatorio'"}],"connections":{"Update Status":{"main":[[{"node":"Check if Quente","type":"main","index":0}]]},"Check if Quente":{"main":[[{"node":"Call 'ProQuantum_EmitirRelatorio'","type":"main","index":0}],[{"node":"Format Response1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Call 'ProQuantum_EmitirRelatorio'":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"lead_id":"1ac40d61-eb10-4fec-ab1a-2502d613330f","classificacao":"quente"}}]},"versionId":"e529a67f-4608-47c1-81c8-81ffa7da71d5","activeVersionId":"df037c4e-a2a8-44b9-95da-135d8cda9736","triggerCount":0,"shared":[{"updatedAt":"2025-10-27T16:51:47.487Z","createdAt":"2025-10-27T16:51:47.487Z","role":"workflow:owner","workflowId":"JUpW90bc5qwfhBgL","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2025-11-27T17:37:31.724Z","createdAt":"2025-11-27T17:37:31.724Z","versionId":"df037c4e-a2a8-44b9-95da-135d8cda9736","workflowId":"JUpW90bc5qwfhBgL","nodes":[{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","operation":"update","tableId":"leads","filterType":"string","filterString":"=id=eq.{{ $json.lead_id }}","fieldsUi":{"fieldValues":[{"fieldId":"classificacao","fieldValue":"={{ $json.classificacao }}"},{"fieldId":"atualizado_em","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,96],"id":"15c401d3-0faf-48d4-9eae-cc952bd562df","name":"Update Status","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-quente","leftValue":"={{ $json.classificacao }}","rightValue":"quente","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-336,96],"id":"6a44ae1c-cc62-4ecc-ba38-1fd7dcbbfae0","name":"Check if Quente"},{"parameters":{"assignments":{"assignments":[{"id":"success-flag","name":"success","value":"true","type":"boolean"},{"id":"message-response","name":"message","value":"Status atualizado com sucesso","type":"string"},{"id":"classificacao-response","name":"classificacao","value":"={{ $('Update Status').item.json.classificacao }}","type":"string"},{"id":"relatorio-acionado","name":"relatorio_acionado","value":"={{ $('Update Status').item.json.classificacao === 'quente' }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,96],"id":"1d4b8999-8a03-40f0-928a-d06cc86bcbf4","name":"Format Response"},{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"},{"name":"classificacao"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-736,96],"id":"e458ae9d-5989-44e6-8573-13e108c03a34","name":"When Executed by Another Workflow"},{"parameters":{"url":"http://179.110.81.163:30002/ecommerce/produtos","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataInicial","value":"2020/01/25"},{"name":"dataFinal","value":"2025/06/25"},{"name":"getficha","value":"S"},{"name":"perfil","value":"1"},{"name":"pagina","value":"1"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,176],"id":"3bd08460-5960-4f16-98b1-1dd2110bb66b","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"vlxE3ucSDSmBsLgg","name":"Unnamed credential 2"}}},{"parameters":{"url":"http://179.110.81.163:30002/ecommerce/produtos","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataInicial","value":"2020/01/25"},{"name":"dataFinal","value":"2025/06/25"},{"name":"getficha","value":"S"},{"name":"perfil","value":"1"},{"name":"pagina","value":"1"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,144],"id":"1906c0f7-762a-487f-b5b7-b8961cf051af","name":"HTTP Request - Produtos Full","credentials":{"httpBasicAuth":{"id":"vlxE3ucSDSmBsLgg","name":"Unnamed credential 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"success-flag","name":"success","value":"true","type":"boolean"},{"id":"message-response","name":"message","value":"=status atualizado com sucesso para  {{ $json.classificacao }}","type":"string"},{"id":"lead-id-response","name":"lead_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,256],"id":"ace2c376-7220-48c6-888d-0e02766c3989","name":"Format Response1"},{"parameters":{"workflowId":{"__rl":true,"value":"Tam8wECwNLGW35En","mode":"list","cachedResultUrl":"/workflow/Tam8wECwNLGW35En","cachedResultName":"ProQuantum_EmitirRelatorio"},"workflowInputs":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.id }}"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-112,0],"id":"0bf7051a-caac-4ce4-9977-84290968bbcf","name":"Call 'ProQuantum_EmitirRelatorio'"}],"connections":{"Update Status":{"main":[[{"node":"Check if Quente","type":"main","index":0}]]},"Check if Quente":{"main":[[{"node":"Call 'ProQuantum_EmitirRelatorio'","type":"main","index":0}],[{"node":"Format Response1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Call 'ProQuantum_EmitirRelatorio'":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-10-31T13:33:54.737Z","createdAt":"2025-10-31T13:33:54.737Z","id":"qtGfGiuzuUwLYUYL","name":"proQuantum"}]}