NGTVH0dAhph76oob.json
{"createdAt":"2025-10-20T23:39:38.627Z","updatedAt":"2025-10-31T13:56:54.830Z","id":"NGTVH0dAhph76oob","name":"TINTOMÉTRICO TESTE","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Marca"},{"name":"Cor"},{"name":"Volume"},{"name":"Acabamento"},{"name":"Base"},{"name":"superfície"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,384],"id":"af4a2ecc-0d26-4342-ba9f-32a6c7122145","name":"Início: Receber Pedido do Cliente"},{"parameters":{"url":"=http://159.112.189.1:25189/V2/tintas/cores/{{ $json.sigla }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"cor","value":"={{ $json.cor }}"},{"name":"corComRgb","value":"false"},{"name":"page","value":"0"},{"name":"size","value":"500"},{"name":"codigoEmpresa","value":"={{ $json.codigoEmpresa }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,368],"id":"4f09c6e1-f7ad-4a71-a05d-0cf232c02d7b","name":"API: Buscar Variações da Cor","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"Unnamed credential"}}},{"parameters":{"fieldToSplitOut":"content","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1600,560],"id":"c415342d-d456-40c6-a7f7-323b7b177f57","name":"Separar Resultados das Cores"},{"parameters":{"url":"=http://159.112.189.1:25189/V2/tintas/embalagem/{{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)').item.json.sigla }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoCor","value":"={{ $json.codigoCor }}"},{"name":"codigoRgb","value":"={{ $json.rgb }}"},{"name":"cor","value":"={{ $json.cor }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,368],"id":"382e2d65-34c1-4f2f-8a7f-dd98f81c37ad","name":"API: Buscar Embalagens por Cor","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"Unnamed credential"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2192,384],"id":"45807e4f-948b-4a09-b20c-f3346d78ce2f","name":"Agrupar Dados de Embalagem e Cor"},{"parameters":{"assignments":{"assignments":[{"id":"da78f47b-e1c3-438b-9a02-25b7c220f7c0","name":"codigoEmpresa","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)').item.json.codigoEmpresa }}","type":"string"},{"id":"1c2cbb9e-60c1-44e2-a5cf-207fb6383d6a","name":"sigla","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)').item.json.sigla }}","type":"string"},{"id":"10279454-5a60-4380-8912-2c617260b8e3","name":"cor","value":"={{ $json.cor }}","type":"string"},{"id":"7a24d52f-514e-47e4-8a3b-fbb2aa61bf03","name":"volume","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)').item.json.volume }}","type":"string"},{"id":"cf085037-1bd5-4593-9da6-9f117dc85619","name":"rgb","value":"={{ $json.rgb }}","type":"string"},{"id":"6672543a-ae97-479a-939f-e461aadd6cec","name":"codigoCor","value":"={{ $json.codigoCor }}","type":"string"},{"id":"367c3974-7310-4250-8a8a-7a3742dc90ab","name":"acabamento","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)').item.json.acabamento }}","type":"string"},{"id":"c703b25e-0031-4583-9b89-38f9d43a7166","name":"superficie","value":"={{ $('Preparar Dados: Tratar Marca, Cor e Volume (KG→L)').item.json.superficie }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,560],"id":"e36f92f1-7814-4aa0-842d-c4ac6a963751","name":"Unir Dados do Pedido com Dados da Cor"},{"parameters":{"jsCode":"// Função volume -> embalagem (COM NORMALIZAÇÃO CORRIGIDA)\nfunction volumeParaEmbalagemCorreta(volume) {\n  // 🔥 CORREÇÃO AQUI: remove TODOS os espaços em branco\n  const v = (volume || '').toLowerCase().replace(/\\s+/g, '').replace(',', '.');\n  \n  // REGRA 1: Litro\n  if (['0.9', '0,9', '900ml', '0.9l'].includes(v)) {\n    return 'LITRO';\n  }\n  \n  // REGRA 2: Galão\n  if (['3.6', '3,6', '3.6l', '3,6l'].includes(v)) {\n    return 'GALÃO';\n  }\n\n  // REGRA 3: Lata\n  if (['18', '18l', '18.0', '16', '16l', '16.0', '18.0l', '16.0l'].includes(v)) {\n    return 'LATA';\n  }\n  \n  return ''; // Se o volume não for nenhum dos padrões, não retorna nada.\n}\n\n// Pega o volume e acabamento que o cliente pediu\nconst volumePedido = items[0].json.volume;\nconst acabamentoEsperado = (items[0].json.acabamento || '').toLowerCase().trim();\n\n// Usa a função CORRETA para definir qual a ÚNICA embalagem esperada\nconst embalagemEsperada = volumeParaEmbalagemCorreta(volumePedido);\n\n// Filtra a lista de produtos, ignorando os dados errados da API\nconst resultado = items.filter(item => {\n  // A embalagem do item da API (ex: \"LATA\") deve ser EXATAMENTE IGUAL\n  // à embalagem correta para o volume (ex: \"LATA\" para 18L).\n  const matchEmbalagem = item.json.embalagemSimplificada === embalagemEsperada;\n\n  // A lógica de acabamento continua a mesma\n  const matchAcabamento = acabamentoEsperado\n    ? (item.json.acabamento || '').toLowerCase().includes(acabamentoEsperado)\n    : true;\n\n  return matchEmbalagem && matchAcabamento;\n});\n\n// Se, após os filtros, a lista ficar vazia, retorna um erro.\nif (resultado.length === 0) {\n  throw new Error('Nenhum produto encontrado para esse acabamento/embalagem.');\n}\n\n// Prepara os dados limpos para o próximo nó do fluxo\nconst dadosCliente = resultado.map(item => ({\n  json: {\n    codigoEmpresa: item.json.codigoEmpresa,\n    sigla: item.json.sigla,\n    cor: item.json.cor,\n    volume: item.json.volume,\n    rgb: item.json.rgb,\n    codigoCor: item.json.codigoCor,\n    acabamento: item.json.acabamento,\n    embalagem: item.json.embalagemSimplificada,\n    ordemEmbalagem: item.json.ordemEmbalagemSimplificada,\n  }\n}));\n\nreturn dadosCliente;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,384],"id":"3ddf65b8-49d9-40c8-96e6-3e4a35733eb3","name":"Filtrar Produtos por Volume e Acabamento"},{"parameters":{"url":"=http://159.112.189.1:25189/V2/tintas/acabamentos/{{ $json.sigla }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoCor","value":"={{ $json.codigoCor }}"},{"name":"codigoRgb","value":"={{ $json.rgb }}"},{"name":"cor","value":"={{ $json.cor }}"},{"name":"embalagem","value":"={{ $json.embalagem }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,256],"id":"879380c2-ef59-4d7e-bda3-22d001852ed3","name":"API: Buscar Detalhes de Acabamento","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"Unnamed credential"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3072,400],"id":"63495558-0955-49e5-9331-81aee1e55256","name":"Agrupar Todos os Detalhes do Produto"},{"parameters":{"jsCode":"// === 1) Referência e normalização ===\nconst ref = items[0]?.json || {};\nconst acabamentoCliente = ref.acabamento || '';\n\nfunction normaliza(txt) {\n  return (txt || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n}\n\n// Equivalências (bidirecional simples)\nconst equivalencias = {\n  // acetinado / sedoso\n  acetinado: ['acetinado', 'acetinada', 'seda', 'sedoso'],\n  acetinada: ['acetinado', 'acetinada', 'seda', 'sedoso'],\n  seda:      ['acetinado', 'acetinada', 'seda', 'sedoso'],\n  sedoso:    ['acetinado', 'acetinada', 'seda', 'sedoso'],\n\n  // fosco\n  fosco: ['fosco', 'matte'],\n  matte: ['fosco', 'matte'],\n\n  // brilhante\n  brilhante: ['brilho', 'brilhante'],\n  brilho:    ['brilho', 'brilhante'],\n  semibrilho: ['diamante'],\n\n  // clássica\n  classica:    ['classica', 'tradicional'],\n  tradicional: ['classica', 'tradicional'],\n};\n\nconst acbClienteNorm = normaliza(acabamentoCliente);\nconst palavrasAceitas = acbClienteNorm\n  ? (equivalencias[acbClienteNorm] || [acbClienteNorm])\n  : null; // null => não filtra por acabamento quando cliente não informou\n\n// === 2) Filtra itens válidos (descarta item 0 e quem não tem chaveCitel) ===\nlet candidatos = items.slice(1).filter(i => !!i?.json?.chaveCitel);\n\n// === 3) Aplica filtro por acabamento (somente se cliente informou algo) ===\nif (palavrasAceitas) {\n  candidatos = candidatos.filter(i => {\n    const acbItem = normaliza(i.json.acabamento);\n    if (!acbItem) return false;\n    return palavrasAceitas.some(word =>\n      acbItem.includes(word) || word.includes(acbItem)\n    );\n  });\n}\n\n// === 4) Deduplica por chaveCitel (evita POST duplicado) ===\nconst vistos = new Set();\ncandidatos = candidatos.filter(i => {\n  const k = String(i.json.chaveCitel);\n  if (vistos.has(k)) return false;\n  vistos.add(k);\n  return true;\n});\n\n// === 5) Monta saída padronizada (hashesMd5 sempre preenchido) ===\nreturn candidatos.map(i => ({\n  json: {\n    codigoCliente: \"000001\",\n    codigoEmpresa: ref.codigoEmpresa,\n    sigla: ref.sigla,\n    idPro: ref.sigla,\n    rgb: i.json.rgb,\n    hashesMd5: [String(i.json.chaveCitel)],\n    cor: i.json.cor,\n    acabamento: i.json.acabamento,\n    embalagem: i.json.embalagem,\n    codigoCor: i.json.codigoCor ?? '',\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3376,400],"id":"cdab2735-945d-4748-a438-e9d2b4c8b2ac","name":" Preparar Candidatos Finais (Filtrar e Deduplicar)","alwaysOutputData":true},{"parameters":{"method":"POST","url":"http://159.112.189.1:25189/V2/tintas/carregar/dados","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigoCliente\": \"00000001\",\n  \"codigoEmpresa\": \"{{ $json.codigoEmpresa }}\",\n  \"hashesMd5\":{{ JSON.stringify($json.hashesMd5) }},\n  \"idPro\": \"{{ $json.sigla }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3664,256],"id":"2255db97-a300-4236-9b52-780685016226","name":"API: Buscar Preços dos Candidatos","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"Unnamed credential"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3984,416],"id":"3e2818c7-fa0d-441e-8117-a56bca898398","name":"Agrupar Produtos com Seus Preços"},{"parameters":{"jsCode":"// saída: [{ json: { mensagem } }]\n\n// === UTILS (funções auxiliares) ===\nconst up = s => String(s || '')\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .toUpperCase().trim();\n\nfunction volumeByEmbalagem(e = '') {\n  const v = up(e);\n  if (v.includes('LATA')) return '18 L';\n  if (v.includes('GALAO')) return '3,6 L';\n  if (v.includes('LITRO') || v === 'L') return '0,9 L';\n  return '';\n}\n\nfunction embalagemEsperada(volume) {\n  const v = String(volume || '').replace(',', '.').replace(/\\s+/g,'').toUpperCase();\n  if (v.startsWith('18'))  return 'LATA';\n  if (v.startsWith('3.6')) return 'GALAO';\n  if (v.startsWith('0.9') || v.includes('900ML')) return 'LITRO';\n  return '';\n}\n// === FIM UTILS ===\n\n\n// 1) Pega os metadados do pedido do cliente (o último item)\nconst meta = items[items.length - 1]?.json || {};\nconst SIGLA  = up(meta.sigla);\nconst SUPERF = up(meta.superficie || meta['superfície']);\nconst ACABPD = up(meta.acabamento || meta.acabamentoPedido);\nconst VOLRAW = meta.volume || '';\nconst CODCOR = meta.codigoCor || '';\n\n// 2) Define a sub-categoria (se é premium fosco, acetinado, etc.)\nfunction catKey(acabPed) {\n  if (acabPed.includes('FOSCO') && acabPed.includes('LAV')) return 'premium_fosco_lavavel';\n  if (acabPed.includes('FOSCO')) return 'premium_fosco';\n  if (acabPed.includes('ACET')) return 'premium_acetinado';\n  if (acabPed.includes('SEMI') || acabPed.includes('BRILHO')) return 'premium_semibrilho';\n  return 'premium_fosco';\n}\nconst CAT = catKey(ACABPD);\n\n// 3) Separa descrições e preços, depois combina por hash\nconst descs  = items.filter(i => Array.isArray(i.json?.hashesMd5)).map(i => i.json);\nconst prices = items.filter(i => typeof i.json?.hashMd5 === 'string').map(i => i.json);\nconst priceByHash = Object.fromEntries(prices.map(p => [p.hashMd5, p]));\n\nlet produtos = descs.map(d => {\n  const h = d.hashesMd5?.[0];\n  const p = priceByHash[h];\n  if (!p) return null;\n  return {\n    sigla: d.sigla,\n    cor: d.cor,\n    acabamento: d.acabamento,\n    embalagem: d.embalagem,\n    volume: d.volume,\n    preco: Number(p.preco1 || 0),\n    hash: h,\n  };\n}).filter(Boolean);\n\n// 4) Filtra por embalagem coerente com o volume\nconst embOK = embalagemEsperada(VOLRAW);\nif (embOK) produtos = produtos.filter(p => up(p.embalagem) === embOK);\n\n// ✅ NOVA REGRA: Sempre prioriza TMC INSPIRA se existir nos candidatos com preço > 0\nconst tmcInspira = produtos.find(p => {\n  const acab = up(p.acabamento);\n  return acab.includes('TMC INSPIRA') && p.preco > 0;\n});\n\nif (tmcInspira) {\n  // Se encontrou TMC INSPIRA, retorna ele direto\n  const volStr = volumeByEmbalagem(tmcInspira.embalagem) || tmcInspira.volume || VOLRAW || '';\n  const desc = `${tmcInspira.sigla} ${tmcInspira.cor} ${tmcInspira.acabamento} ${tmcInspira.embalagem} ${volStr}`.replace(/\\s+/g,' ').trim();\n  const precoBRL = tmcInspira.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n  const mensagem = `• ${desc} por ${precoBRL}\\n\\nPosso seguir com esse item?`;\n  \n  return [{ json: { mensagem } }];\n}\n\n// 5) Se não encontrou TMC INSPIRA, segue com as regras normais de prioridade\nconst regras = {\n  premium_fosco: {\n    SUV: ['TOQUE FOSCO COMPLETO'], \n    SHW: ['METALATEX ACRILICO FOSCO', 'NOVO METALATEX ACRILICO FOSCO'],\n    CIM: ['DECORA MATTE FO', '3 EM 1 FOSCO', 'CORAL MASTER FOSCO'],\n    TMC: ['INSPIRA FOSCO', 'TMC INSPIRA FOSCO'],\n  },\n  premium_fosco_lavavel: {\n    SUV: ['SEMPRE LIMPO'],\n    CIM: ['SUPER LAVAVEL'],\n  },\n  premium_acetinado: {\n    SUV: ['TOQUE DE SEDA', 'TOQUE SEDA'],\n    SHW: ['METALATEX ELASTIC SEMIACETINADO'],\n    CIM: ['DECORA SEDA'],\n  },\n  premium_semibrilho: {\n    SUV: ['TOQUE BRILHO'],\n    SHW: ['METALATEX ACRILICO SEMIBRILHO'],\n    CIM: ['DECORA DIAMANTE'],\n  },\n};\n\n// 6) Função que pula produtos com preço zero\nfunction pickByPriority(sigla, cat, listaProdutos) {\n  const arr = (regras[cat] || {})[sigla] || [];\n  if (!arr.length) return null;\n\n  for (const alvo of arr) {\n    const A = up(alvo);\n\n    const found = listaProdutos.find(p => {\n        const acabamentoProduto = up(p.acabamento);\n        return acabamentoProduto.includes(A) && p.preco > 0;\n    });\n    \n    if (found) return found;\n  }\n  return null;\n}\n\nconst escolhido = pickByPriority(SIGLA, CAT, produtos);\n\n// 7) Monta a resposta final\nif (!escolhido) {\n  return [{ json: { mensagem: `Não encontrei item premium compatível (Linha/Acabamento: ${ACABPD}, Marca: ${SIGLA}) para o volume ${VOLRAW}. Quer tentar outro produto?` } }];\n}\n\nconst volStr = volumeByEmbalagem(escolhido.embalagem) || escolhido.volume || VOLRAW || '';\nconst desc = `${escolhido.sigla} ${escolhido.cor} ${escolhido.acabamento} ${escolhido.embalagem} ${volStr}`.replace(/\\s+/g,' ').trim();\nconst precoBRL = escolhido.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\nconst mensagem = `• ${desc} por ${precoBRL}\\n\\nPosso seguir com esse item?`;\n\nreturn [{ json: { mensagem } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4288,432],"id":"82c38c94-0d53-4854-8fe8-8002842d618a","name":"Selecionar Melhor Preço e Montar Resposta Final"},{"parameters":{"operation":"get","key":"api_citel_lock2","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[400,384],"id":"f79ccc36-0640-46f3-8113-c84213bbf3cf","name":"Redis","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e78f8c59-bf45-4169-a0aa-e8dfcf9f9bcc","leftValue":"={{ $json.propertyName }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,384],"id":"6f84dc43-d73e-40c4-a084-02c2b7abfd62","name":"If"},{"parameters":{"operation":"set","key":"api_citel_lock2","value":"={{ $execution.id }}","expire":true,"ttl":120},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[832,368],"id":"99ffd457-f608-477a-acbd-b8ed5bd6b2a5","name":"Redis1","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[848,480],"id":"8a3dd650-47f4-4899-9036-5cd8ee39fa66","name":"Wait","webhookId":"c4cce23b-b575-4f19-90a5-ec79ff694139"},{"parameters":{"jsCode":"// Delay aleatório para dessincronizar\nconst delay = Math.random() * 2000;\nawait new Promise(resolve => setTimeout(resolve, delay));\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,384],"id":"5015b7f8-989d-44f3-acc2-f4f1ccbb143f","name":"Code"},{"parameters":{"operation":"delete","key":"api_citel_lock2"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4528,432],"id":"4d97814b-ba6d-40f9-85b3-c7c50fc00df9","name":"Redis2","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"jsCode":"// 🔥 CORREÇÃO: Pega dados do trigger original, não do Redis\nconst payload = $('Início: Receber Pedido do Cliente').first().json;\n\n// 🔗 mapeamento fixo de marcas\nconst marcas = [\n  { codigoEmpresa: '179', sigla: 'CIM', nome: 'CORAL' },\n  { codigoEmpresa: '179', sigla: 'SHW', nome: 'SHERWIN WILLIAMS' },\n  { codigoEmpresa: '179', sigla: 'SUV', nome: 'SUVINIL' },\n];\n\n// 📌 aliases de marcas (apelidos → nome oficial)\nconst aliases = {\n  'tmc': 'sherwin williams',\n  'tintas mc': 'sherwin williams',\n  'sw': 'sherwin williams',\n  'sherwin': 'sherwin williams',\n  'sherwin-williams':'sherwin williams',\n  'cim': 'coral',\n  'suv': 'suvinil',\n};\n\n// 🔄 trata entrada de marca ou sigla\nlet marcaEntrada = (payload.Marca || '').toLowerCase().trim();\nif (aliases[marcaEntrada]) {\n  marcaEntrada = aliases[marcaEntrada];\n}\nconst marca = marcas.find(m =>\n  m.nome.toLowerCase() === marcaEntrada || m.sigla.toLowerCase() === marcaEntrada\n);\nif (!marca) throw new Error(`Marca '${payload.Marca}' não mapeada`);\n\n// 🔤 normaliza cor → remove acentos e artigos/preposições iniciais\nconst normalizaCor = cor => {\n  const stop = ['o ', 'a ', 'os ', 'as ', 'um ', 'uma ', 'de ', 'do ', 'da ', 'dos ', 'das '];\n  let s = String(cor ?? '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/\\p{Diacritic}/gu, '')\n    .trim();\n  const w = stop.find(p => s.startsWith(p));\n  if (w) s = s.slice(w.length).trim();\n  return s;\n};\n\n// ==========================================================\n// Aliases de categoria → premium | standard | economica\n// ==========================================================\nconst norm = s => String(s || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/\\p{Diacritic}/gu, '')\n  .trim();\n\nconst categoriaAliases = {\n  premium: [\n    'premium', 'super premium', 'prime', 'top', 'topo', 'linha premium',\n    'superior', 'gold', 'platina', 'platinum', 'diamante'\n  ],\n  standard: [\n    'standard', 'standart', 'intermediaria', 'intermediario', 'intermediário',\n    'intermediária', 'medio', 'médio', 'media', 'média', 'padrao', 'padrão',\n    'tradicional', 'regular', 'comum', 'linha media', 'linha média'\n  ],\n  economica: [\n    'economica', 'economico', 'econômica', 'econômico', 'economy',\n    'entrada', 'basica', 'básica', 'popular', 'barata', 'mais barata',\n    'essencial', 'value', 'promo', 'oferta', 'iniciante', 'starter'\n  ],\n};\n\nfunction mapCategoria(catBruta) {\n  const c = norm(catBruta);\n\n  if (!c) return 'standard'; // default seguro\n\n  // checa por prioridade: premium → standard → economica\n  for (const alvo of categoriaAliases.premium)   if (c.includes(alvo))   return 'premium';\n  for (const alvo of categoriaAliases.standard)  if (c.includes(alvo))   return 'standard';\n  for (const alvo of categoriaAliases.economica) if (c.includes(alvo))   return 'economica';\n\n  // heurísticas simples\n  if (/(prem|top|superior)/.test(c)) return 'premium';\n  if (/(inter|medio|m[eé]dio|padr[aã]o|trad)/.test(c)) return 'standard';\n  if (/(econ|barat|b[aá]sic|popular|value|promo|oferta)/.test(c)) return 'economica';\n\n  return 'standard';\n}\n\n// ==========================================================\n// Função para converter KG para Litros (L)\n// ==========================================================\nconst converteVolumeKgParaL = (volumeInput) => {\n  if (!volumeInput) return '';\n\n  const v = String(volumeInput).toLowerCase().replace(/\\s+/g, '').replace(',', '.');\n\n  if (v.includes('kg')) {\n    if (v.startsWith('25') || v.startsWith('28')) {\n      return '18L';\n    }\n    if (v.startsWith('3.6') || v.startsWith('5') || v.startsWith('5.6')) {\n      return '3.6L';\n    }\n    if (v.startsWith('1.2') || v.startsWith('1.4') || v.startsWith('1.5')) {\n      return '0.9L';\n    }\n  }\n\n  return payload.Volume;\n};\n\n// Chama a nova função para tratar o volume\nconst volumeProcessado = converteVolumeKgParaL(payload.Volume);\n\n// Normaliza categoria com aliases\nconst categoriaProcessada = mapCategoria(payload.categoria);\n\n// monta objeto para o próximo HTTP\nreturn [\n  {\n    json: {\n      codigoEmpresa: marca.codigoEmpresa,\n      sigla: marca.sigla,\n      cor: normalizaCor(payload.Cor),\n      volume: volumeProcessado,\n      acabamento: payload.Acabamento,\n      superficie: payload['superfície'] ?? payload.superficie ?? '',\n      telefoneCliente: payload.telefoneCliente,\n      categoria: categoriaProcessada,\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,368],"id":"63ea3e70-4854-44c5-88bc-0bd78c0baaa6","name":"Preparar Dados: Tratar Marca, Cor e Volume (KG→L)"},{"parameters":{"content":"# TINTOMÉTRICO\n","height":944,"width":4960},"type":"n8n-nodes-base.stickyNote","position":[-144,-16],"typeVersion":1,"id":"762e7918-7abd-4e6e-ba0c-c6ff3e6a52d7","name":"Sticky Note"},{"parameters":{"fieldToSplitOut":"content","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1584,368],"id":"2f5b114e-bf25-416f-99ff-229c91a942cc","name":"Separar Resultados das Cores1"}],"connections":{"Início: Receber Pedido do Cliente":{"main":[[{"node":"Code","type":"main","index":0}]]},"API: Buscar Variações da Cor":{"main":[[{"node":"Separar Resultados das Cores","type":"main","index":0},{"node":"Separar Resultados das Cores1","type":"main","index":0}]]},"Separar Resultados das Cores":{"main":[[{"node":"Unir Dados do Pedido com Dados da Cor","type":"main","index":0}]]},"API: Buscar Embalagens por Cor":{"main":[[{"node":"Agrupar Dados de Embalagem e Cor","type":"main","index":0}]]},"Agrupar Dados de Embalagem e Cor":{"main":[[{"node":"Filtrar Produtos por Volume e Acabamento","type":"main","index":0}]]},"Unir Dados do Pedido com Dados da Cor":{"main":[[{"node":"Agrupar Dados de Embalagem e Cor","type":"main","index":1},{"node":"Agrupar Produtos com Seus Preços","type":"main","index":2}]]},"Filtrar Produtos por Volume e Acabamento":{"main":[[{"node":"API: Buscar Detalhes de Acabamento","type":"main","index":0},{"node":"Agrupar Todos os Detalhes do Produto","type":"main","index":0}]]},"API: Buscar Detalhes de Acabamento":{"main":[[{"node":"Agrupar Todos os Detalhes do Produto","type":"main","index":1}]]},"Agrupar Todos os Detalhes do Produto":{"main":[[{"node":" Preparar Candidatos Finais (Filtrar e Deduplicar)","type":"main","index":0}]]}," Preparar Candidatos Finais (Filtrar e Deduplicar)":{"main":[[{"node":"API: Buscar Preços dos Candidatos","type":"main","index":0},{"node":"Agrupar Produtos com Seus Preços","type":"main","index":0}]]},"API: Buscar Preços dos Candidatos":{"main":[[{"node":"Agrupar Produtos com Seus Preços","type":"main","index":1}]]},"Agrupar Produtos com Seus Preços":{"main":[[{"node":"Selecionar Melhor Preço e Montar Resposta Final","type":"main","index":0}]]},"Selecionar Melhor Preço e Montar Resposta Final":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Redis1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Preparar Dados: Tratar Marca, Cor e Volume (KG→L)","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Code":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Preparar Dados: Tratar Marca, Cor e Volume (KG→L)":{"main":[[{"node":"API: Buscar Variações da Cor","type":"main","index":0}]]},"Separar Resultados das Cores1":{"main":[[{"node":"API: Buscar Embalagens por Cor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Início: Receber Pedido do Cliente":[{"json":{"Marca":"TMC","Cor":"Papel Picado","Volume":"3,6L","Acabamento":"fosco","Base":"água","superfície":"parede"}}]},"versionId":"92d96675-c787-41d3-94fb-cd483636f883","triggerCount":0,"shared":[{"createdAt":"2025-10-20T23:39:38.627Z","updatedAt":"2025-10-20T23:39:38.627Z","role":"workflow:owner","workflowId":"NGTVH0dAhph76oob","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"createdAt":"2025-10-31T13:56:25.486Z","updatedAt":"2025-10-31T13:56:25.486Z","id":"IhEOVV0uczzJ0cvg","name":"Pessoal"}]}