P3vm7jHssxfGevQp.json
{"updatedAt":"2026-02-10T13:40:20.593Z","createdAt":"2026-01-07T15:18:34.795Z","id":"P3vm7jHssxfGevQp","name":"COLETA FATURAMENTO FISCAL","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT * FROM \"Controle_TMC\".v_configuracoes_com_lojas WHERE ativo = true","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,400],"id":"busca-clientes","name":"Busca Clientes Ativos","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Primeiro apaga todos os dados do dia\n// Depois extrai TODOS os clientes e suas lojas em uma lista plana\nconst items = [];\n\nfor (const cliente of $input.all()) {\n  const lojas = cliente.json.lojas || [];\n  \n  // Se lojas vier como string (JSON), parsear\n  const lojasArray = typeof lojas === 'string' ? JSON.parse(lojas) : lojas;\n  \n  for (const loja of lojasArray) {\n    items.push({\n      json: {\n        // Dados do cliente\n        empresa_id: cliente.json.empresa_id,\n        nome_cliente: cliente.json.nome_cliente,\n        api_url: cliente.json.api_url,\n        \n        // Dados da loja\n        loja_id: loja.loja_id,\n        codigo_loja: loja.codigo,\n        nome_loja: loja.nome\n      }\n    });\n  }\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,400],"id":"extrai-lojas","name":"Extrai Todas as Lojas"},{"parameters":{"operation":"executeQuery","query":"-- Apaga TODOS os dados do dia antes de iniciar o loop\nDELETE FROM \"Controle_TMC\".faturamentos_fiscais\nWHERE data_faturamento = CURRENT_DATE;\n\nDELETE FROM \"Controle_TMC\".itens_faturados\nWHERE data_faturamento = CURRENT_DATE;\n\n-- Retorna dummy para não quebrar o fluxo\nSELECT 1 as ok;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[832,208],"id":"apaga-tudo-dia","name":"Apaga Tudo do Dia","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[992,400],"id":"loop-lojas","name":"Loop Lojas"},{"parameters":{"url":"={{ $('Loop Lojas').item.json.api_url }}/pedido-movimento/faturamento","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Loop Lojas').item.json.codigo_loja }}"},{"name":"data-hora","value":"={{ (() => {\n  const d = new Date()\n  d.setHours(0,0,0,0)\n  return d.toISOString()\n})() }}"},{"name":"ja-faturado","value":"true"},{"name":"page","value":"0"},{"name":"size","value":"500"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,416],"id":"busca-faturamentos","name":"Busca Faturamentos API","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"jsCode":"// Pega contexto da loja atual\nconst lojaContext = $('Loop Lojas').item.json;\nconst EMPRESA_ID = lojaContext.empresa_id;\nconst LOJA_ID = lojaContext.loja_id;\nconst CODIGO_LOJA = lojaContext.codigo_loja;\n\nconst content = $input.first().json.content;\n\nif (!content || !Array.isArray(content)) {\n  return [];\n}\n\nconst ESPECIES_FISCAIS = ['NF', 'IF', 'FF'];\nconst faturamentos = new Map();\n\nfor (const doc of content) {\n  if (!doc.jaFaturado) continue;\n\n  const itens = doc.itens || [];\n\n  for (const item of itens) {\n    const numeroFaturamento = item.numeroFaturamento?.replace(/^0+/, '');\n    const especieFaturamento = item.especieFaturamento;\n    const dataFaturamento = item.dataFaturamento;\n\n    if (!numeroFaturamento || !especieFaturamento) continue;\n    if (!ESPECIES_FISCAIS.includes(especieFaturamento)) continue;\n    if (!dataFaturamento) continue;\n\n    const key = `${CODIGO_LOJA}-${especieFaturamento}-${numeroFaturamento}`;\n\n    if (!faturamentos.has(key)) {\n      const valorContabil = doc.valorContabil || 0;\n      \n      faturamentos.set(key, {\n        empresa_id: EMPRESA_ID,\n        loja_id: LOJA_ID,\n        codigo_loja: CODIGO_LOJA,\n        numero_faturamento: numeroFaturamento,\n        especie_faturamento: especieFaturamento,\n        data_faturamento: dataFaturamento,\n        numero_documento_origem: doc.numeroDocumento?.replace(/^0+/, '') || null,\n        especie_documento_origem: doc.especieDocumento || null,\n        data_entrada_origem: doc.dataEntrada || null,\n        codigo_vendedor: doc.codigoVendedor || null,\n        nome_vendedor: doc.nomeVendedor || null,\n        codigo_cliente: doc.cliente?.codigoCliente?.replace(/^0+/, '') || null,\n        nome_cliente: doc.cliente?.nome || doc.nomeConsumidorOuCliente || null,\n        // TELEFONES DO CLIENTE (para match com leads)\n        telefone1: doc.cliente?.telefone1?.replace(/\\D/g, '') || null,\n        telefone2: doc.cliente?.telefone2?.replace(/\\D/g, '') || null,\n        telefone_celular: doc.cliente?.telefoneCelular?.replace(/\\D/g, '') || null,\n        valor_contabil: valorContabil,\n        valor_total_itens: 0,\n        valor_frete: 0,\n        quantidade_itens: 0\n      });\n    }\n\n    const fat = faturamentos.get(key);\n    fat.valor_total_itens += item.totalItem || 0;\n    fat.valor_frete += item.totalFrete || 0;\n    fat.quantidade_itens += 1;\n  }\n}\n\nconst faturamentosArray = Array.from(faturamentos.values());\n\nif (faturamentosArray.length === 0) {\n  return [{json: {_no_data: true}}];\n}\n\nreturn faturamentosArray.map(fat => ({\n  json: {\n    ...fat,\n    valor_contabil: Number(fat.valor_contabil.toFixed(2)),\n    valor_total_itens: Number(fat.valor_total_itens.toFixed(2)),\n    valor_frete: Number(fat.valor_frete.toFixed(2))\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,416],"id":"processa-deduplica","name":"Processa e Deduplica"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".faturamentos_fiscais (\n  empresa_id,\n  loja_id,\n  codigo_loja,\n  numero_faturamento,\n  especie_faturamento,\n  data_faturamento,\n  numero_documento_origem,\n  especie_documento_origem,\n  data_entrada_origem,\n  codigo_vendedor,\n  nome_vendedor,\n  codigo_cliente,\n  nome_cliente,\n  telefone1,\n  telefone2,\n  telefone_celular,\n  valor_contabil,\n  valor_total_itens,\n  valor_frete,\n  quantidade_itens\n) VALUES (\n  '{{ $json.empresa_id }}',\n  '{{ $json.loja_id }}',\n  '{{ $json.codigo_loja }}',\n  '{{ $json.numero_faturamento }}',\n  '{{ $json.especie_faturamento }}',\n  '{{ $json.data_faturamento }}',\n  {{ $json.numero_documento_origem ? \"'\" + $json.numero_documento_origem + \"'\" : 'NULL' }},\n  {{ $json.especie_documento_origem ? \"'\" + $json.especie_documento_origem + \"'\" : 'NULL' }},\n  {{ $json.data_entrada_origem ? \"'\" + $json.data_entrada_origem + \"'\" : 'NULL' }},\n  {{ $json.codigo_vendedor ? \"'\" + $json.codigo_vendedor + \"'\" : 'NULL' }},\n  {{ $json.nome_vendedor ? \"'\" + ($json.nome_vendedor || '').replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.codigo_cliente ? \"'\" + $json.codigo_cliente + \"'\" : 'NULL' }},\n  {{ $json.nome_cliente ? \"'\" + ($json.nome_cliente || '').replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.telefone1 ? \"'\" + $json.telefone1 + \"'\" : 'NULL' }},\n  {{ $json.telefone2 ? \"'\" + $json.telefone2 + \"'\" : 'NULL' }},\n  {{ $json.telefone_celular ? \"'\" + $json.telefone_celular + \"'\" : 'NULL' }},\n  {{ $json.valor_contabil }},\n  {{ $json.valor_total_itens }},\n  {{ $json.valor_frete }},\n  {{ $json.quantidade_itens }}\n)\nON CONFLICT (codigo_loja, especie_faturamento, numero_faturamento)\nDO UPDATE SET\n  valor_contabil = EXCLUDED.valor_contabil,\n  valor_total_itens = EXCLUDED.valor_total_itens,\n  valor_frete = EXCLUDED.valor_frete,\n  quantidade_itens = EXCLUDED.quantidade_itens,\n  codigo_vendedor = EXCLUDED.codigo_vendedor,\n  nome_vendedor = EXCLUDED.nome_vendedor,\n  telefone1 = EXCLUDED.telefone1,\n  telefone2 = EXCLUDED.telefone2,\n  telefone_celular = EXCLUDED.telefone_celular,\n  updated_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1728,432],"id":"insere-bd","name":"Insere Faturamento BD","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"const lojaContext = $('Loop Lojas').item.json;\nconst EMPRESA_ID = lojaContext.empresa_id;\nconst LOJA_ID = lojaContext.loja_id;\nconst CODIGO_LOJA = lojaContext.codigo_loja;\n\nconst content = $input.first().json.content;\n\nif (!content || !Array.isArray(content)) {\n  return [];\n}\n\nconst ESPECIES_FISCAIS = ['NF', 'IF', 'FF'];\nconst items = [];\n\nfor (const doc of content) {\n  if (!doc.jaFaturado) continue;\n\n  const itensArray = doc.itens || [];\n\n  for (const item of itensArray) {\n    const numeroFaturamento = item.numeroFaturamento?.replace(/^0+/, '');\n    const especieFaturamento = item.especieFaturamento;\n    const dataFaturamento = item.dataFaturamento;\n\n    if (!numeroFaturamento || !especieFaturamento) continue;\n    if (!ESPECIES_FISCAIS.includes(especieFaturamento)) continue;\n    if (!dataFaturamento) continue;\n\n    const precoDigitado = item.precoDigitado || item.precoUnitario || 0;\n    const totalCusto = item.totalCusto || 0;\n    const quantidade = item.quantidade || 1;\n    const custoUnitario = quantidade > 0 ? totalCusto / quantidade : 0;\n    const margem = precoDigitado > 0\n      ? Number(((precoDigitado - custoUnitario) / precoDigitado * 100).toFixed(2))\n      : 0;\n\n    const descricaoCompleta = item.descricaoCompleta || item.descricaoProduto || '';\n    let medidaMatch = descricaoCompleta.match(/(\\d+(?:[.,]\\d+)?)\\s*(L|KG|ML|G)\\b/i);\n    if (!medidaMatch) {\n      medidaMatch = descricaoCompleta.match(/(\\d+(?:[.,]\\d+)?)\\s*BD\\b/i);\n    }\n    \n    let unidade_medida = null;\n    if (medidaMatch) {\n      let valor = parseFloat(medidaMatch[1].replace(',', '.'));\n      const unidade = (medidaMatch[2] || 'L').toUpperCase();\n      if (unidade === 'ML') { valor = valor / 1000; unidade_medida = valor + 'L'; }\n      else if (unidade === 'G' && valor >= 100) { valor = valor / 1000; unidade_medida = valor + 'KG'; }\n      else if (unidade === 'BD' || unidade === 'L') { unidade_medida = valor + 'L'; }\n      else { unidade_medida = valor + unidade; }\n    }\n\n    const precoOriginal = item.precoOriginal || 0;\n    const precoUnitario = item.precoUnitario || 0;\n    const descontoValor = precoOriginal > precoUnitario ? Number((precoOriginal - precoUnitario).toFixed(2)) : 0;\n    const descontoPercentual = precoOriginal > 0 && descontoValor > 0 ? Number((descontoValor / precoOriginal * 100).toFixed(2)) : 0;\n\n    items.push({\n      json: {\n        empresa_id: EMPRESA_ID,\n        loja_id: LOJA_ID,\n        codigo_loja: CODIGO_LOJA,\n        numero_faturamento: numeroFaturamento,\n        especie_faturamento: especieFaturamento,\n        data_faturamento: dataFaturamento,\n        codigo_vendedor: doc.codigoVendedor || null,\n        nome_vendedor: doc.nomeVendedor || null,\n        codigo_cliente: doc.cliente?.codigoCliente?.replace(/^0+/, '') || null,\n        nome_cliente: doc.cliente?.nome || doc.nomeConsumidorOuCliente || null,\n        codigo_produto: item.codigoProduto || '',\n        descricao_produto: item.descricaoProduto || '',\n        codigo_marca: item.codigoMarca || '',\n        unidade_medida: unidade_medida,\n        quantidade: quantidade,\n        preco_unitario: precoUnitario,\n        preco_original: precoOriginal,\n        desconto_valor: descontoValor,\n        desconto_percentual: descontoPercentual,\n        margem_percentual: margem,\n        total_item: item.totalItem || 0,\n        total_frete: item.totalFrete || 0\n      }\n    });\n  }\n}\n\n\n\n// === SEQUENCIAL: diferencia itens com mesmo codigo_produto ===\nconst seqMap = new Map();\nfor (const item of items) {\n  const d = item.json;\n  const key = d.codigo_loja + '-' + d.especie_faturamento + '-' + d.numero_faturamento + '-' + d.codigo_produto;\n  const seq = (seqMap.get(key) || 0) + 1;\n  seqMap.set(key, seq);\n  d.item_seq = seq;\n}\n\nif (items.length === 0) {\n  return [{json: {_no_data: true}}];\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,640],"id":"extrai-itens-margem","name":"Extrai Itens com Margem"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".itens_faturados (\n  empresa_id,\n  loja_id,\n  codigo_loja,\n  numero_faturamento,\n  especie_faturamento,\n  data_faturamento,\n  codigo_vendedor,\n  nome_vendedor,\n  codigo_cliente,\n  nome_cliente,\n  codigo_produto,\n  descricao_produto,\n  codigo_marca,\n  unidade_medida,\n  quantidade,\n  preco_unitario,\n  preco_original,\n  total_item,\n  total_frete,\n  margem_percentual,\n  desconto_valor,\n  desconto_percentual,\n  item_seq\n) VALUES (\n  '{{ $json.empresa_id }}',\n  '{{ $json.loja_id }}',\n  '{{ $json.codigo_loja }}',\n  '{{ $json.numero_faturamento }}',\n  '{{ $json.especie_faturamento }}',\n  '{{ $json.data_faturamento }}',\n  {{ $json.codigo_vendedor ? \"'\" + $json.codigo_vendedor + \"'\" : 'NULL' }},\n  {{ $json.nome_vendedor ? \"'\" + ($json.nome_vendedor || '').replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.codigo_cliente ? \"'\" + $json.codigo_cliente + \"'\" : 'NULL' }},\n  {{ $json.nome_cliente ? \"'\" + ($json.nome_cliente || '').replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.codigo_produto }}',\n  '{{ ($json.descricao_produto || '').replace(/'/g, \"''\") }}',\n  '{{ $json.codigo_marca || '' }}',\n  {{ $json.unidade_medida ? \"'\" + $json.unidade_medida + \"'\" : 'NULL' }},\n  {{ $json.quantidade }},\n  {{ $json.preco_unitario }},\n  {{ $json.preco_original }},\n  {{ $json.total_item }},\n  {{ $json.total_frete }},\n  {{ $json.margem_percentual }},\n  {{ $json.desconto_valor }},\n  {{ $json.desconto_percentual }},\n  {{ $json.item_seq }}\n)\nON CONFLICT (codigo_loja, especie_faturamento, numero_faturamento, codigo_produto, item_seq)\nDO UPDATE SET\n  quantidade = EXCLUDED.quantidade,\n  preco_unitario = EXCLUDED.preco_unitario,\n  preco_original = EXCLUDED.preco_original,\n  total_item = EXCLUDED.total_item,\n  total_frete = EXCLUDED.total_frete,\n  margem_percentual = EXCLUDED.margem_percentual,\n  desconto_valor = EXCLUDED.desconto_valor,\n  desconto_percentual = EXCLUDED.desconto_percentual,\n  updated_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1744,656],"id":"insere-itens-bd","name":"Insere Itens BD","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[352,400],"id":"5315d03f-c9e7-401b-946e-a8fee2755902","name":"Schedule Trigger (1h)"},{"parameters":{"content":"## COLETA FATURAMENTO FISCAL\n\n**Fluxo CORRIGIDO**:\n1. Schedule/Manual → Busca Clientes\n2. Em PARALELO: Apaga Tudo do Dia + Extrai Lojas\n3. Extrai Lojas → Loop Lojas → Busca API → Processa → Insere BD\n\n**Correção**: URL da API usa `$('Loop Lojas').item.json` para pegar loja atual\n\n**v3**: Match leads → vendas (NF) no Done do Loop","height":980,"width":1940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,64],"id":"sticky-note-info","name":"Sticky Note Info"},{"parameters":{"operation":"executeQuery","query":"-- ===========================================\n-- MATCH LEADS → FATURAMENTOS (NF/IF/FF)\n-- Executa após processar todas as lojas\n-- ===========================================\n\n-- 1. INSERT todas as NF que dão match com leads na tabela leads_vendas\nINSERT INTO \"Controle_TMC\".leads_vendas (\n  lead_id,\n  telefone_match,\n  empresa_id,\n  loja_id,\n  codigo_loja,\n  numero_documento,\n  especie_documento,\n  data_venda,\n  valor,\n  codigo_cliente,\n  nome_cliente,\n  codigo_vendedor,\n  nome_vendedor\n)\nSELECT DISTINCT ON (l.id, f.codigo_loja, f.especie_faturamento, f.numero_faturamento)\n  l.id as lead_id,\n  CASE \n    WHEN l.telefone = f.telefone1 THEN f.telefone1\n    WHEN l.telefone = f.telefone2 THEN f.telefone2\n    WHEN l.telefone = f.telefone_celular THEN f.telefone_celular\n  END as telefone_match,\n  f.empresa_id,\n  f.loja_id,\n  f.codigo_loja,\n  f.numero_faturamento as numero_documento,\n  f.especie_faturamento as especie_documento,\n  (f.data_faturamento::timestamp AT TIME ZONE 'America/Sao_Paulo') as data_venda,\n  f.valor_contabil as valor,\n  f.codigo_cliente,\n  f.nome_cliente,\n  f.codigo_vendedor,\n  f.nome_vendedor\nFROM \"Controle_TMC\".leads_origem l\nJOIN \"Controle_TMC\".faturamentos_fiscais f ON (\n  l.empresa_id = f.empresa_id\n  AND l.loja_id = f.loja_id  \n  AND l.telefone IN (f.telefone1, f.telefone2, f.telefone_celular)\n)\nWHERE f.especie_faturamento IN ('NF', 'IF', 'FF')\n  AND l.telefone IS NOT NULL\n  AND l.telefone != ''\nON CONFLICT (lead_id, codigo_loja, especie_documento, numero_documento) DO NOTHING;\n\n-- 2. UPDATE leads_origem com PRIMEIRA conversão (NF) apenas se ainda não convertido\nWITH primeira_nf AS (\n  SELECT DISTINCT ON (l.id)\n    l.id as lead_id,\n    f.data_faturamento,\n    f.numero_faturamento,\n    f.valor_contabil,\n    f.codigo_cliente,\n    f.codigo_vendedor,\n    f.nome_vendedor\n  FROM \"Controle_TMC\".leads_origem l\n  JOIN \"Controle_TMC\".faturamentos_fiscais f ON (\n    l.empresa_id = f.empresa_id\n    AND l.loja_id = f.loja_id\n    AND l.telefone IN (f.telefone1, f.telefone2, f.telefone_celular)\n  )\n  WHERE l.convertido = FALSE\n    AND f.especie_faturamento IN ('NF', 'IF', 'FF')\n    AND l.telefone IS NOT NULL\n    AND l.telefone != ''\n  ORDER BY l.id, f.data_faturamento ASC\n)\nUPDATE \"Controle_TMC\".leads_origem l\nSET \n  convertido = TRUE,\n  data_conversao = pn.data_faturamento,\n  valor_primeira_venda = pn.valor_contabil,\n  numero_nota_fiscal = pn.numero_faturamento,\n  codigo_cliente_erp = pn.codigo_cliente,\n  codigo_vendedor = pn.codigo_vendedor,\n  nome_vendedor = pn.nome_vendedor,\n  updated_at = NOW()\nFROM primeira_nf pn\nWHERE l.id = pn.lead_id;\n\n-- Retorna contagem de matches\nSELECT \n  'Match NF concluído' as status,\n  (SELECT COUNT(*) FROM \"Controle_TMC\".leads_vendas WHERE especie_documento IN ('NF', 'IF', 'FF')) as total_nf_vinculadas,\n  (SELECT COUNT(*) FROM \"Controle_TMC\".leads_origem WHERE convertido = TRUE) as leads_convertidos;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1184,208],"id":"match-leads-nf","name":"Match Leads Vendas NF","executeOnce":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM \"Controle_TMC\".process_acompanhamento('{{ $('Loop Lojas').item.json.empresa_id }}'::uuid, '{{ $('Loop Lojas').item.json.codigo_loja }}')","options":{}},"name":"Insere Acompanhamento","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1952,432],"id":"e81c46b9-9443-41ca-82ab-2bad8147a59b","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"bd7fb0b0-3881-409e-93e0-4de9be57b5f3","leftValue":"={{ $json._no_data }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1536,416],"id":"b7b932e7-64af-47d6-b183-61e64efe6409","name":"Tem Faturamentos?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"931bcdaa-264c-47c7-8f2b-f3c9ee97659c","leftValue":"={{ $json._no_data }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,640],"id":"f7e7b4d8-4c07-437d-bcb6-89252da6bef4","name":"Tem Itens?"},{"parameters":{"operation":"executeQuery","query":"-- Atualiza PDs/ORs que já foram faturados mas estão com ja_faturado=false\n-- Cruza vendas_detalhadas com faturamentos_fiscais pelo numero_documento_origem\nUPDATE \"Controle_TMC\".vendas_detalhadas vd\nSET ja_faturado = true\nFROM \"Controle_TMC\".faturamentos_fiscais f\nWHERE vd.empresa_id = f.empresa_id\n  AND vd.numero_documento = f.numero_documento_origem\n  AND vd.especie_documento = f.especie_documento_origem\n  AND vd.ja_faturado = false\n  AND f.especie_faturamento IN ('NF', 'IF', 'FF');\n\n-- Retorna quantos foram atualizados\nSELECT \n  'Sincronização concluída' as status,\n  (SELECT COUNT(DISTINCT numero_documento) FROM \"Controle_TMC\".vendas_detalhadas WHERE especie_documento = 'PD' AND ja_faturado = false) as pds_pendentes,\n  (SELECT COUNT(DISTINCT numero_documento) FROM \"Controle_TMC\".vendas_detalhadas WHERE especie_documento = 'OR' AND ja_faturado = false) as ors_pendentes;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1400,208],"id":"6a802446-9690-4629-b725-0c9cc3a1dc31","name":"Atualiza PDs Faturados","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}},"executeOnce":true}],"connections":{"Busca Clientes Ativos":{"main":[[{"node":"Extrai Todas as Lojas","type":"main","index":0},{"node":"Apaga Tudo do Dia","type":"main","index":0}]]},"Extrai Todas as Lojas":{"main":[[{"node":"Loop Lojas","type":"main","index":0}]]},"Apaga Tudo do Dia":{"main":[[]]},"Loop Lojas":{"main":[[{"node":"Match Leads Vendas NF","type":"main","index":0}],[{"node":"Busca Faturamentos API","type":"main","index":0}]]},"Busca Faturamentos API":{"main":[[{"node":"Processa e Deduplica","type":"main","index":0},{"node":"Extrai Itens com Margem","type":"main","index":0}]]},"Processa e Deduplica":{"main":[[{"node":"Tem Faturamentos?","type":"main","index":0}]]},"Insere Faturamento BD":{"main":[[{"node":"Insere Acompanhamento","type":"main","index":0}]]},"Extrai Itens com Margem":{"main":[[{"node":"Tem Itens?","type":"main","index":0}]]},"Insere Itens BD":{"main":[[{"node":"Loop Lojas","type":"main","index":0}]]},"Schedule Trigger (1h)":{"main":[[{"node":"Busca Clientes Ativos","type":"main","index":0}]]},"Match Leads Vendas NF":{"main":[[{"node":"Atualiza PDs Faturados","type":"main","index":0}]]},"Insere Acompanhamento":{"main":[[{"node":"Loop Lojas","type":"main","index":0}]]},"Tem Faturamentos?":{"main":[[{"node":"Loop Lojas","type":"main","index":0}],[{"node":"Insere Faturamento BD","type":"main","index":0}]]},"Tem Itens?":{"main":[[{"node":"Loop Lojas","type":"main","index":0}],[{"node":"Insere Itens BD","type":"main","index":0}]]},"Atualiza PDs Faturados":{"main":[[]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","timezone":"UTC","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Agenda Diária 6h":{"recurrenceRules":[]},"node:Schedule Trigger (1h)":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"47a3e04f-1065-4bbe-90b1-56b4fcdabd49","activeVersionId":"47a3e04f-1065-4bbe-90b1-56b4fcdabd49","triggerCount":1,"shared":[{"updatedAt":"2026-01-07T15:18:34.795Z","createdAt":"2026-01-07T15:18:34.795Z","role":"workflow:owner","workflowId":"P3vm7jHssxfGevQp","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2026-02-10T13:40:20.597Z","createdAt":"2026-02-10T13:40:20.597Z","versionId":"47a3e04f-1065-4bbe-90b1-56b4fcdabd49","workflowId":"P3vm7jHssxfGevQp","nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT * FROM \"Controle_TMC\".v_configuracoes_com_lojas WHERE ativo = true","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,400],"id":"busca-clientes","name":"Busca Clientes Ativos","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Primeiro apaga todos os dados do dia\n// Depois extrai TODOS os clientes e suas lojas em uma lista plana\nconst items = [];\n\nfor (const cliente of $input.all()) {\n  const lojas = cliente.json.lojas || [];\n  \n  // Se lojas vier como string (JSON), parsear\n  const lojasArray = typeof lojas === 'string' ? JSON.parse(lojas) : lojas;\n  \n  for (const loja of lojasArray) {\n    items.push({\n      json: {\n        // Dados do cliente\n        empresa_id: cliente.json.empresa_id,\n        nome_cliente: cliente.json.nome_cliente,\n        api_url: cliente.json.api_url,\n        \n        // Dados da loja\n        loja_id: loja.loja_id,\n        codigo_loja: loja.codigo,\n        nome_loja: loja.nome\n      }\n    });\n  }\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,400],"id":"extrai-lojas","name":"Extrai Todas as Lojas"},{"parameters":{"operation":"executeQuery","query":"-- Apaga TODOS os dados do dia antes de iniciar o loop\nDELETE FROM \"Controle_TMC\".faturamentos_fiscais\nWHERE data_faturamento = CURRENT_DATE;\n\nDELETE FROM \"Controle_TMC\".itens_faturados\nWHERE data_faturamento = CURRENT_DATE;\n\n-- Retorna dummy para não quebrar o fluxo\nSELECT 1 as ok;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[832,208],"id":"apaga-tudo-dia","name":"Apaga Tudo do Dia","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[992,400],"id":"loop-lojas","name":"Loop Lojas"},{"parameters":{"url":"={{ $('Loop Lojas').item.json.api_url }}/pedido-movimento/faturamento","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"={{ $('Loop Lojas').item.json.codigo_loja }}"},{"name":"data-hora","value":"={{ (() => {\n  const d = new Date()\n  d.setHours(0,0,0,0)\n  return d.toISOString()\n})() }}"},{"name":"ja-faturado","value":"true"},{"name":"page","value":"0"},{"name":"size","value":"500"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,416],"id":"busca-faturamentos","name":"Busca Faturamentos API","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"jsCode":"// Pega contexto da loja atual\nconst lojaContext = $('Loop Lojas').item.json;\nconst EMPRESA_ID = lojaContext.empresa_id;\nconst LOJA_ID = lojaContext.loja_id;\nconst CODIGO_LOJA = lojaContext.codigo_loja;\n\nconst content = $input.first().json.content;\n\nif (!content || !Array.isArray(content)) {\n  return [];\n}\n\nconst ESPECIES_FISCAIS = ['NF', 'IF', 'FF'];\nconst faturamentos = new Map();\n\nfor (const doc of content) {\n  if (!doc.jaFaturado) continue;\n\n  const itens = doc.itens || [];\n\n  for (const item of itens) {\n    const numeroFaturamento = item.numeroFaturamento?.replace(/^0+/, '');\n    const especieFaturamento = item.especieFaturamento;\n    const dataFaturamento = item.dataFaturamento;\n\n    if (!numeroFaturamento || !especieFaturamento) continue;\n    if (!ESPECIES_FISCAIS.includes(especieFaturamento)) continue;\n    if (!dataFaturamento) continue;\n\n    const key = `${CODIGO_LOJA}-${especieFaturamento}-${numeroFaturamento}`;\n\n    if (!faturamentos.has(key)) {\n      const valorContabil = doc.valorContabil || 0;\n      \n      faturamentos.set(key, {\n        empresa_id: EMPRESA_ID,\n        loja_id: LOJA_ID,\n        codigo_loja: CODIGO_LOJA,\n        numero_faturamento: numeroFaturamento,\n        especie_faturamento: especieFaturamento,\n        data_faturamento: dataFaturamento,\n        numero_documento_origem: doc.numeroDocumento?.replace(/^0+/, '') || null,\n        especie_documento_origem: doc.especieDocumento || null,\n        data_entrada_origem: doc.dataEntrada || null,\n        codigo_vendedor: doc.codigoVendedor || null,\n        nome_vendedor: doc.nomeVendedor || null,\n        codigo_cliente: doc.cliente?.codigoCliente?.replace(/^0+/, '') || null,\n        nome_cliente: doc.cliente?.nome || doc.nomeConsumidorOuCliente || null,\n        // TELEFONES DO CLIENTE (para match com leads)\n        telefone1: doc.cliente?.telefone1?.replace(/\\D/g, '') || null,\n        telefone2: doc.cliente?.telefone2?.replace(/\\D/g, '') || null,\n        telefone_celular: doc.cliente?.telefoneCelular?.replace(/\\D/g, '') || null,\n        valor_contabil: valorContabil,\n        valor_total_itens: 0,\n        valor_frete: 0,\n        quantidade_itens: 0\n      });\n    }\n\n    const fat = faturamentos.get(key);\n    fat.valor_total_itens += item.totalItem || 0;\n    fat.valor_frete += item.totalFrete || 0;\n    fat.quantidade_itens += 1;\n  }\n}\n\nconst faturamentosArray = Array.from(faturamentos.values());\n\nif (faturamentosArray.length === 0) {\n  return [{json: {_no_data: true}}];\n}\n\nreturn faturamentosArray.map(fat => ({\n  json: {\n    ...fat,\n    valor_contabil: Number(fat.valor_contabil.toFixed(2)),\n    valor_total_itens: Number(fat.valor_total_itens.toFixed(2)),\n    valor_frete: Number(fat.valor_frete.toFixed(2))\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,416],"id":"processa-deduplica","name":"Processa e Deduplica"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".faturamentos_fiscais (\n  empresa_id,\n  loja_id,\n  codigo_loja,\n  numero_faturamento,\n  especie_faturamento,\n  data_faturamento,\n  numero_documento_origem,\n  especie_documento_origem,\n  data_entrada_origem,\n  codigo_vendedor,\n  nome_vendedor,\n  codigo_cliente,\n  nome_cliente,\n  telefone1,\n  telefone2,\n  telefone_celular,\n  valor_contabil,\n  valor_total_itens,\n  valor_frete,\n  quantidade_itens\n) VALUES (\n  '{{ $json.empresa_id }}',\n  '{{ $json.loja_id }}',\n  '{{ $json.codigo_loja }}',\n  '{{ $json.numero_faturamento }}',\n  '{{ $json.especie_faturamento }}',\n  '{{ $json.data_faturamento }}',\n  {{ $json.numero_documento_origem ? \"'\" + $json.numero_documento_origem + \"'\" : 'NULL' }},\n  {{ $json.especie_documento_origem ? \"'\" + $json.especie_documento_origem + \"'\" : 'NULL' }},\n  {{ $json.data_entrada_origem ? \"'\" + $json.data_entrada_origem + \"'\" : 'NULL' }},\n  {{ $json.codigo_vendedor ? \"'\" + $json.codigo_vendedor + \"'\" : 'NULL' }},\n  {{ $json.nome_vendedor ? \"'\" + ($json.nome_vendedor || '').replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.codigo_cliente ? \"'\" + $json.codigo_cliente + \"'\" : 'NULL' }},\n  {{ $json.nome_cliente ? \"'\" + ($json.nome_cliente || '').replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.telefone1 ? \"'\" + $json.telefone1 + \"'\" : 'NULL' }},\n  {{ $json.telefone2 ? \"'\" + $json.telefone2 + \"'\" : 'NULL' }},\n  {{ $json.telefone_celular ? \"'\" + $json.telefone_celular + \"'\" : 'NULL' }},\n  {{ $json.valor_contabil }},\n  {{ $json.valor_total_itens }},\n  {{ $json.valor_frete }},\n  {{ $json.quantidade_itens }}\n)\nON CONFLICT (codigo_loja, especie_faturamento, numero_faturamento)\nDO UPDATE SET\n  valor_contabil = EXCLUDED.valor_contabil,\n  valor_total_itens = EXCLUDED.valor_total_itens,\n  valor_frete = EXCLUDED.valor_frete,\n  quantidade_itens = EXCLUDED.quantidade_itens,\n  codigo_vendedor = EXCLUDED.codigo_vendedor,\n  nome_vendedor = EXCLUDED.nome_vendedor,\n  telefone1 = EXCLUDED.telefone1,\n  telefone2 = EXCLUDED.telefone2,\n  telefone_celular = EXCLUDED.telefone_celular,\n  updated_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1728,432],"id":"insere-bd","name":"Insere Faturamento BD","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"const lojaContext = $('Loop Lojas').item.json;\nconst EMPRESA_ID = lojaContext.empresa_id;\nconst LOJA_ID = lojaContext.loja_id;\nconst CODIGO_LOJA = lojaContext.codigo_loja;\n\nconst content = $input.first().json.content;\n\nif (!content || !Array.isArray(content)) {\n  return [];\n}\n\nconst ESPECIES_FISCAIS = ['NF', 'IF', 'FF'];\nconst items = [];\n\nfor (const doc of content) {\n  if (!doc.jaFaturado) continue;\n\n  const itensArray = doc.itens || [];\n\n  for (const item of itensArray) {\n    const numeroFaturamento = item.numeroFaturamento?.replace(/^0+/, '');\n    const especieFaturamento = item.especieFaturamento;\n    const dataFaturamento = item.dataFaturamento;\n\n    if (!numeroFaturamento || !especieFaturamento) continue;\n    if (!ESPECIES_FISCAIS.includes(especieFaturamento)) continue;\n    if (!dataFaturamento) continue;\n\n    const precoDigitado = item.precoDigitado || item.precoUnitario || 0;\n    const totalCusto = item.totalCusto || 0;\n    const quantidade = item.quantidade || 1;\n    const custoUnitario = quantidade > 0 ? totalCusto / quantidade : 0;\n    const margem = precoDigitado > 0\n      ? Number(((precoDigitado - custoUnitario) / precoDigitado * 100).toFixed(2))\n      : 0;\n\n    const descricaoCompleta = item.descricaoCompleta || item.descricaoProduto || '';\n    let medidaMatch = descricaoCompleta.match(/(\\d+(?:[.,]\\d+)?)\\s*(L|KG|ML|G)\\b/i);\n    if (!medidaMatch) {\n      medidaMatch = descricaoCompleta.match(/(\\d+(?:[.,]\\d+)?)\\s*BD\\b/i);\n    }\n    \n    let unidade_medida = null;\n    if (medidaMatch) {\n      let valor = parseFloat(medidaMatch[1].replace(',', '.'));\n      const unidade = (medidaMatch[2] || 'L').toUpperCase();\n      if (unidade === 'ML') { valor = valor / 1000; unidade_medida = valor + 'L'; }\n      else if (unidade === 'G' && valor >= 100) { valor = valor / 1000; unidade_medida = valor + 'KG'; }\n      else if (unidade === 'BD' || unidade === 'L') { unidade_medida = valor + 'L'; }\n      else { unidade_medida = valor + unidade; }\n    }\n\n    const precoOriginal = item.precoOriginal || 0;\n    const precoUnitario = item.precoUnitario || 0;\n    const descontoValor = precoOriginal > precoUnitario ? Number((precoOriginal - precoUnitario).toFixed(2)) : 0;\n    const descontoPercentual = precoOriginal > 0 && descontoValor > 0 ? Number((descontoValor / precoOriginal * 100).toFixed(2)) : 0;\n\n    items.push({\n      json: {\n        empresa_id: EMPRESA_ID,\n        loja_id: LOJA_ID,\n        codigo_loja: CODIGO_LOJA,\n        numero_faturamento: numeroFaturamento,\n        especie_faturamento: especieFaturamento,\n        data_faturamento: dataFaturamento,\n        codigo_vendedor: doc.codigoVendedor || null,\n        nome_vendedor: doc.nomeVendedor || null,\n        codigo_cliente: doc.cliente?.codigoCliente?.replace(/^0+/, '') || null,\n        nome_cliente: doc.cliente?.nome || doc.nomeConsumidorOuCliente || null,\n        codigo_produto: item.codigoProduto || '',\n        descricao_produto: item.descricaoProduto || '',\n        codigo_marca: item.codigoMarca || '',\n        unidade_medida: unidade_medida,\n        quantidade: quantidade,\n        preco_unitario: precoUnitario,\n        preco_original: precoOriginal,\n        desconto_valor: descontoValor,\n        desconto_percentual: descontoPercentual,\n        margem_percentual: margem,\n        total_item: item.totalItem || 0,\n        total_frete: item.totalFrete || 0\n      }\n    });\n  }\n}\n\n\n\n// === SEQUENCIAL: diferencia itens com mesmo codigo_produto ===\nconst seqMap = new Map();\nfor (const item of items) {\n  const d = item.json;\n  const key = d.codigo_loja + '-' + d.especie_faturamento + '-' + d.numero_faturamento + '-' + d.codigo_produto;\n  const seq = (seqMap.get(key) || 0) + 1;\n  seqMap.set(key, seq);\n  d.item_seq = seq;\n}\n\nif (items.length === 0) {\n  return [{json: {_no_data: true}}];\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,640],"id":"extrai-itens-margem","name":"Extrai Itens com Margem"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".itens_faturados (\n  empresa_id,\n  loja_id,\n  codigo_loja,\n  numero_faturamento,\n  especie_faturamento,\n  data_faturamento,\n  codigo_vendedor,\n  nome_vendedor,\n  codigo_cliente,\n  nome_cliente,\n  codigo_produto,\n  descricao_produto,\n  codigo_marca,\n  unidade_medida,\n  quantidade,\n  preco_unitario,\n  preco_original,\n  total_item,\n  total_frete,\n  margem_percentual,\n  desconto_valor,\n  desconto_percentual,\n  item_seq\n) VALUES (\n  '{{ $json.empresa_id }}',\n  '{{ $json.loja_id }}',\n  '{{ $json.codigo_loja }}',\n  '{{ $json.numero_faturamento }}',\n  '{{ $json.especie_faturamento }}',\n  '{{ $json.data_faturamento }}',\n  {{ $json.codigo_vendedor ? \"'\" + $json.codigo_vendedor + \"'\" : 'NULL' }},\n  {{ $json.nome_vendedor ? \"'\" + ($json.nome_vendedor || '').replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.codigo_cliente ? \"'\" + $json.codigo_cliente + \"'\" : 'NULL' }},\n  {{ $json.nome_cliente ? \"'\" + ($json.nome_cliente || '').replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.codigo_produto }}',\n  '{{ ($json.descricao_produto || '').replace(/'/g, \"''\") }}',\n  '{{ $json.codigo_marca || '' }}',\n  {{ $json.unidade_medida ? \"'\" + $json.unidade_medida + \"'\" : 'NULL' }},\n  {{ $json.quantidade }},\n  {{ $json.preco_unitario }},\n  {{ $json.preco_original }},\n  {{ $json.total_item }},\n  {{ $json.total_frete }},\n  {{ $json.margem_percentual }},\n  {{ $json.desconto_valor }},\n  {{ $json.desconto_percentual }},\n  {{ $json.item_seq }}\n)\nON CONFLICT (codigo_loja, especie_faturamento, numero_faturamento, codigo_produto, item_seq)\nDO UPDATE SET\n  quantidade = EXCLUDED.quantidade,\n  preco_unitario = EXCLUDED.preco_unitario,\n  preco_original = EXCLUDED.preco_original,\n  total_item = EXCLUDED.total_item,\n  total_frete = EXCLUDED.total_frete,\n  margem_percentual = EXCLUDED.margem_percentual,\n  desconto_valor = EXCLUDED.desconto_valor,\n  desconto_percentual = EXCLUDED.desconto_percentual,\n  updated_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1744,656],"id":"insere-itens-bd","name":"Insere Itens BD","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[352,400],"id":"5315d03f-c9e7-401b-946e-a8fee2755902","name":"Schedule Trigger (1h)"},{"parameters":{"content":"## COLETA FATURAMENTO FISCAL\n\n**Fluxo CORRIGIDO**:\n1. Schedule/Manual → Busca Clientes\n2. Em PARALELO: Apaga Tudo do Dia + Extrai Lojas\n3. Extrai Lojas → Loop Lojas → Busca API → Processa → Insere BD\n\n**Correção**: URL da API usa `$('Loop Lojas').item.json` para pegar loja atual\n\n**v3**: Match leads → vendas (NF) no Done do Loop","height":980,"width":1940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,64],"id":"sticky-note-info","name":"Sticky Note Info"},{"parameters":{"operation":"executeQuery","query":"-- ===========================================\n-- MATCH LEADS → FATURAMENTOS (NF/IF/FF)\n-- Executa após processar todas as lojas\n-- ===========================================\n\n-- 1. INSERT todas as NF que dão match com leads na tabela leads_vendas\nINSERT INTO \"Controle_TMC\".leads_vendas (\n  lead_id,\n  telefone_match,\n  empresa_id,\n  loja_id,\n  codigo_loja,\n  numero_documento,\n  especie_documento,\n  data_venda,\n  valor,\n  codigo_cliente,\n  nome_cliente,\n  codigo_vendedor,\n  nome_vendedor\n)\nSELECT DISTINCT ON (l.id, f.codigo_loja, f.especie_faturamento, f.numero_faturamento)\n  l.id as lead_id,\n  CASE \n    WHEN l.telefone = f.telefone1 THEN f.telefone1\n    WHEN l.telefone = f.telefone2 THEN f.telefone2\n    WHEN l.telefone = f.telefone_celular THEN f.telefone_celular\n  END as telefone_match,\n  f.empresa_id,\n  f.loja_id,\n  f.codigo_loja,\n  f.numero_faturamento as numero_documento,\n  f.especie_faturamento as especie_documento,\n  (f.data_faturamento::timestamp AT TIME ZONE 'America/Sao_Paulo') as data_venda,\n  f.valor_contabil as valor,\n  f.codigo_cliente,\n  f.nome_cliente,\n  f.codigo_vendedor,\n  f.nome_vendedor\nFROM \"Controle_TMC\".leads_origem l\nJOIN \"Controle_TMC\".faturamentos_fiscais f ON (\n  l.empresa_id = f.empresa_id\n  AND l.loja_id = f.loja_id  \n  AND l.telefone IN (f.telefone1, f.telefone2, f.telefone_celular)\n)\nWHERE f.especie_faturamento IN ('NF', 'IF', 'FF')\n  AND l.telefone IS NOT NULL\n  AND l.telefone != ''\nON CONFLICT (lead_id, codigo_loja, especie_documento, numero_documento) DO NOTHING;\n\n-- 2. UPDATE leads_origem com PRIMEIRA conversão (NF) apenas se ainda não convertido\nWITH primeira_nf AS (\n  SELECT DISTINCT ON (l.id)\n    l.id as lead_id,\n    f.data_faturamento,\n    f.numero_faturamento,\n    f.valor_contabil,\n    f.codigo_cliente,\n    f.codigo_vendedor,\n    f.nome_vendedor\n  FROM \"Controle_TMC\".leads_origem l\n  JOIN \"Controle_TMC\".faturamentos_fiscais f ON (\n    l.empresa_id = f.empresa_id\n    AND l.loja_id = f.loja_id\n    AND l.telefone IN (f.telefone1, f.telefone2, f.telefone_celular)\n  )\n  WHERE l.convertido = FALSE\n    AND f.especie_faturamento IN ('NF', 'IF', 'FF')\n    AND l.telefone IS NOT NULL\n    AND l.telefone != ''\n  ORDER BY l.id, f.data_faturamento ASC\n)\nUPDATE \"Controle_TMC\".leads_origem l\nSET \n  convertido = TRUE,\n  data_conversao = pn.data_faturamento,\n  valor_primeira_venda = pn.valor_contabil,\n  numero_nota_fiscal = pn.numero_faturamento,\n  codigo_cliente_erp = pn.codigo_cliente,\n  codigo_vendedor = pn.codigo_vendedor,\n  nome_vendedor = pn.nome_vendedor,\n  updated_at = NOW()\nFROM primeira_nf pn\nWHERE l.id = pn.lead_id;\n\n-- Retorna contagem de matches\nSELECT \n  'Match NF concluído' as status,\n  (SELECT COUNT(*) FROM \"Controle_TMC\".leads_vendas WHERE especie_documento IN ('NF', 'IF', 'FF')) as total_nf_vinculadas,\n  (SELECT COUNT(*) FROM \"Controle_TMC\".leads_origem WHERE convertido = TRUE) as leads_convertidos;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1184,208],"id":"match-leads-nf","name":"Match Leads Vendas NF","executeOnce":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM \"Controle_TMC\".process_acompanhamento('{{ $('Loop Lojas').item.json.empresa_id }}'::uuid, '{{ $('Loop Lojas').item.json.codigo_loja }}')","options":{}},"name":"Insere Acompanhamento","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1952,432],"id":"e81c46b9-9443-41ca-82ab-2bad8147a59b","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"bd7fb0b0-3881-409e-93e0-4de9be57b5f3","leftValue":"={{ $json._no_data }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1536,416],"id":"b7b932e7-64af-47d6-b183-61e64efe6409","name":"Tem Faturamentos?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"931bcdaa-264c-47c7-8f2b-f3c9ee97659c","leftValue":"={{ $json._no_data }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,640],"id":"f7e7b4d8-4c07-437d-bcb6-89252da6bef4","name":"Tem Itens?"},{"parameters":{"operation":"executeQuery","query":"-- Atualiza PDs/ORs que já foram faturados mas estão com ja_faturado=false\n-- Cruza vendas_detalhadas com faturamentos_fiscais pelo numero_documento_origem\nUPDATE \"Controle_TMC\".vendas_detalhadas vd\nSET ja_faturado = true\nFROM \"Controle_TMC\".faturamentos_fiscais f\nWHERE vd.empresa_id = f.empresa_id\n  AND vd.numero_documento = f.numero_documento_origem\n  AND vd.especie_documento = f.especie_documento_origem\n  AND vd.ja_faturado = false\n  AND f.especie_faturamento IN ('NF', 'IF', 'FF');\n\n-- Retorna quantos foram atualizados\nSELECT \n  'Sincronização concluída' as status,\n  (SELECT COUNT(DISTINCT numero_documento) FROM \"Controle_TMC\".vendas_detalhadas WHERE especie_documento = 'PD' AND ja_faturado = false) as pds_pendentes,\n  (SELECT COUNT(DISTINCT numero_documento) FROM \"Controle_TMC\".vendas_detalhadas WHERE especie_documento = 'OR' AND ja_faturado = false) as ors_pendentes;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1400,208],"id":"6a802446-9690-4629-b725-0c9cc3a1dc31","name":"Atualiza PDs Faturados","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}},"executeOnce":true}],"connections":{"Busca Clientes Ativos":{"main":[[{"node":"Extrai Todas as Lojas","type":"main","index":0},{"node":"Apaga Tudo do Dia","type":"main","index":0}]]},"Extrai Todas as Lojas":{"main":[[{"node":"Loop Lojas","type":"main","index":0}]]},"Apaga Tudo do Dia":{"main":[[]]},"Loop Lojas":{"main":[[{"node":"Match Leads Vendas NF","type":"main","index":0}],[{"node":"Busca Faturamentos API","type":"main","index":0}]]},"Busca Faturamentos API":{"main":[[{"node":"Processa e Deduplica","type":"main","index":0},{"node":"Extrai Itens com Margem","type":"main","index":0}]]},"Processa e Deduplica":{"main":[[{"node":"Tem Faturamentos?","type":"main","index":0}]]},"Insere Faturamento BD":{"main":[[{"node":"Insere Acompanhamento","type":"main","index":0}]]},"Extrai Itens com Margem":{"main":[[{"node":"Tem Itens?","type":"main","index":0}]]},"Insere Itens BD":{"main":[[{"node":"Loop Lojas","type":"main","index":0}]]},"Schedule Trigger (1h)":{"main":[[{"node":"Busca Clientes Ativos","type":"main","index":0}]]},"Match Leads Vendas NF":{"main":[[{"node":"Atualiza PDs Faturados","type":"main","index":0}]]},"Insere Acompanhamento":{"main":[[{"node":"Loop Lojas","type":"main","index":0}]]},"Tem Faturamentos?":{"main":[[{"node":"Loop Lojas","type":"main","index":0}],[{"node":"Insere Faturamento BD","type":"main","index":0}]]},"Tem Itens?":{"main":[[{"node":"Loop Lojas","type":"main","index":0}],[{"node":"Insere Itens BD","type":"main","index":0}]]},"Atualiza PDs Faturados":{"main":[[]]}},"authors":"Miguel Nunes","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-10-31T13:15:54.983Z","createdAt":"2025-10-31T13:15:54.983Z","id":"SA1lrqt1q8ppNIAs","name":"Tintasmc_alberto"}]}