qiEexA7ewBnAXHHO.json
{"updatedAt":"2026-02-09T16:57:17.552Z","createdAt":"2026-02-09T12:08:50.595Z","id":"qiEexA7ewBnAXHHO","name":"Classificacao Diaria - Conversas IA","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 1 * * *"}]}},"id":"a1b2c3d4-0001-0000-0000-000000000001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{},"id":"a1b2c3d4-0002-0000-0000-000000000002","name":"Trigger Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,224]},{"parameters":{"jsCode":"const SUPABASE_URL = 'https://lchlodcouurypuavszhx.supabase.co';\nconst SUPABASE_ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxjaGxvZGNvdXVyeXB1YXZzemh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYxMDY5MzgsImV4cCI6MjA2MTY4MjkzOH0.UiTAUwK_r3VCUWCBKs_UZN0WXx71yu1ByS-u_mUkE58';\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${SUPABASE_URL}/rest/v1/rpc/get_conversas_pendentes`,\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': SUPABASE_ANON_KEY,\n    'Authorization': `Bearer ${SUPABASE_ANON_KEY}`\n  },\n  body: { p_limite: 20 }\n});\n\nif (!response || response.length === 0) {\n  return [];\n}\n\nreturn response.map(c => ({ json: c }));\n"},"id":"a1b2c3d4-0003-0000-0000-000000000003","name":"Buscar Conversas Pendentes","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,112]},{"parameters":{"options":{}},"id":"a1b2c3d4-0004-0000-0000-000000000004","name":"Loop Conversas","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[560,112]},{"parameters":{"jsCode":"const OPENAI_KEY = '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';\nconst conversa = $input.first().json;\n\n// Formatar mensagens pra leitura\nconst msgs = conversa.mensagens.map(m => {\n  if (m.user !== undefined) {\n    let text = '';\n    if (m.user) text += `Cliente: ${m.user}`;\n    if (m.bot) text += `${m.user ? '\\n' : ''}TARS: ${m.bot}`;\n    return text;\n  }\n  return `${m.direcao === 'enviada' ? 'Vendedor' : 'Cliente'}: ${m.mensagem}`;\n}).filter(Boolean).join('\\n\\n');\n\nconst prompt = `Analise esta conversa de atendimento em loja de tintas via WhatsApp.\n\nConversa (${conversa.total_mensagens} mensagens, loja ${conversa.codigo_loja}):\n\n${msgs}\n\nRetorne APENAS um JSON valido (sem markdown, sem backticks):\n{\n  \"classificacao\": \"venda|orcamento|abandono|erro|consultoria|encaminhamento\",\n  \"nota\": 0-10,\n  \"resumo\": \"2-3 frases: o que o cliente queria, como foi atendido, resultado\",\n  \"tags\": [\"palavras-chave: produto, marca, cor, tipo\"],\n  \"sinais\": [\"aspectos positivos ou negativos do atendimento\"]\n}\n\nCriterios de nota:\n10: Venda fechada, cliente satisfeito, rapido e preciso\n8-9: Orcamento completo e correto, sem erros\n6-7: OK mas com oportunidades perdidas ou demora\n4-5: Problemas (lentidao, info errada, perguntas demais)\n0-3: Abandono por falha grave, alucinacao, loop\n\nClassificacoes:\n- venda: cliente confirmou compra ou forneceu dados pessoais\n- orcamento: orcamento feito mas sem confirmacao\n- abandono: cliente sumiu ou desistiu\n- erro: falha grave da IA (alucinacao, loop, info errada)\n- consultoria: pediu info/recomendacao sem intencao de compra\n- encaminhamento: transferida pro vendedor humano`;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/chat/completions',\n    headers: {\n      'Content-Type': 'application/json',\n      'Authorization': `Bearer ${OPENAI_KEY}`\n    },\n    body: {\n      model: 'gpt-4.1-mini',\n      messages: [\n        { role: 'system', content: 'Voce e um analista de qualidade de atendimento de loja de tintas. Retorne APENAS JSON valido.' },\n        { role: 'user', content: prompt }\n      ],\n      temperature: 0.3,\n      response_format: { type: 'json_object' }\n    }\n  });\n\n  const classification = JSON.parse(response.choices[0].message.content);\n\n  const lojaCliente = {\n    '199': 'marcel', '037': 'marcel', '179': 'marcel',\n    '173': 'alberto', '191': 'alberto', '131': 'alberto',\n    '132': 'alberto', '067': 'alberto'\n  };\n\n  return [{\n    json: {\n      conversation_id: conversa.conversation_id,\n      codigo_loja: conversa.codigo_loja,\n      cliente: lojaCliente[conversa.codigo_loja] || 'desconhecido',\n      mensagens: conversa.mensagens,\n      classificacao: classification.classificacao,\n      nota: classification.nota,\n      resumo: classification.resumo,\n      tags: classification.tags || [],\n      sinais: classification.sinais || [],\n      fonte: 'ia'\n    }\n  }];\n} catch (err) {\n  return [{\n    json: {\n      conversation_id: conversa.conversation_id,\n      erro: err.message,\n      status: 'falha_classificacao'\n    }\n  }];\n}\n"},"id":"a1b2c3d4-0005-0000-0000-000000000005","name":"Classificar via IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,128]},{"parameters":{"jsCode":"const SUPABASE_URL = 'https://lchlodcouurypuavszhx.supabase.co';\nconst SUPABASE_ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxjaGxvZGNvdXVyeXB1YXZzemh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYxMDY5MzgsImV4cCI6MjA2MTY4MjkzOH0.UiTAUwK_r3VCUWCBKs_UZN0WXx71yu1ByS-u_mUkE58';\n\nconst item = $input.first().json;\n\n// Skip se teve erro na classificacao\nif (item.status === 'falha_classificacao') {\n  return [{ json: { ...item, salvo: false } }];\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${SUPABASE_URL}/rest/v1/rpc/salvar_classificacao`,\n    headers: {\n      'Content-Type': 'application/json',\n      'apikey': SUPABASE_ANON_KEY,\n      'Authorization': `Bearer ${SUPABASE_ANON_KEY}`\n    },\n    body: {\n      p_conversation_id: item.conversation_id,\n      p_codigo_loja: item.codigo_loja,\n      p_cliente: item.cliente,\n      p_resumo: item.resumo,\n      p_mensagens: item.mensagens,\n      p_classificacao: item.classificacao,\n      p_nota: parseInt(item.nota),\n      p_tags: item.tags,\n      p_sinais: item.sinais,\n      p_fonte: item.fonte || 'ia'\n    }\n  });\n\n  return [{\n    json: {\n      id: response,\n      conversation_id: item.conversation_id,\n      classificacao: item.classificacao,\n      nota: item.nota,\n      salvo: true\n    }\n  }];\n} catch (err) {\n  return [{\n    json: {\n      conversation_id: item.conversation_id,\n      erro: err.message,\n      salvo: false\n    }\n  }];\n}\n"},"id":"a1b2c3d4-0006-0000-0000-000000000006","name":"Salvar Classificacao","type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,128]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Buscar Conversas Pendentes","type":"main","index":0}]]},"Trigger Manual":{"main":[[{"node":"Buscar Conversas Pendentes","type":"main","index":0}]]},"Buscar Conversas Pendentes":{"main":[[{"node":"Loop Conversas","type":"main","index":0}]]},"Loop Conversas":{"main":[[],[{"node":"Classificar via IA","type":"main","index":0}]]},"Classificar via IA":{"main":[[{"node":"Salvar Classificacao","type":"main","index":0}]]},"Salvar Classificacao":{"main":[[]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","timezone":"UTC","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"21971b43-c168-4857-893d-cf044c4cd968","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-09T12:08:50.595Z","createdAt":"2026-02-09T12:08:50.595Z","role":"workflow:owner","workflowId":"qiEexA7ewBnAXHHO","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":null,"tags":[]}