qIWmECB56eceoWzD.json
{"createdAt":"2025-10-24T13:11:53.483Z","updatedAt":"2025-10-31T13:18:27.932Z","id":"qIWmECB56eceoWzD","name":"Busca_Produto","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT \n  codigo_produto,\n  descricao,\n  preco,\n  marca,\n\n  (\n    -- Similaridade com o tipo principal\n    similarity(norm_desc, '{{ $json.tipo_principal }}') +\n\n    -- Cor\n    (CASE \n      WHEN '{{ $json.cor }}' != '' AND norm_desc ILIKE '%' || '{{ $json.cor }}' || '%' \n      THEN 0.3 ELSE 0 END) +\n\n    -- Acabamento\n    (CASE \n      WHEN '{{ $json.acabamento }}' != '' AND norm_desc ILIKE '%' || '{{ $json.acabamento }}' || '%' \n      THEN 0.2 ELSE 0 END) +\n\n    -- Tamanho (com ponto ou vírgula)\n    (CASE \n      WHEN '{{ $json.tamanho }}' != '' AND (\n        norm_desc ILIKE '%' || '{{ $json.tamanho }}' || '%' OR\n        norm_desc ILIKE '%' || replace('{{ $json.tamanho }}', '.', ',') || '%'\n      )\n      THEN 0.2 ELSE 0 END) +\n\n    -- Marca\n    (CASE \n      WHEN '{{ $json.marca }}' != '' AND norm_desc ILIKE '%' || '{{ $json.marca }}' || '%' \n      THEN 0.25 ELSE 0 END)\n\n    -- Score dinâmico gerado pelo parser\n    {{ $json.score_palavras_sql }}\n\n  ) AS score_total\n\nFROM \"TMC_Alberto\".\"produtos_filtrados_curva_abc\"\nORDER BY score_total DESC\nLIMIT 30;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-224,176],"id":"2c98e14d-3b2d-4c48-91c9-3165132e8669","name":"Cria Tabela Chat_Messages1","alwaysOutputData":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d9ddfd44-5da9-41a2-91ec-78bed4d21e2a","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1072,176],"id":"c01b0324-dcc7-4b31-a5b4-81bf12e32407","name":"Edit Fields3"},{"parameters":{"jsCode":"// 1. Captura todos os resultados SQL em um array\nconst resultadosSql = $input.all().map(item => item.json);\n\n// 2. Pega o contexto da conversa (pedido original)  \n//    vindo do node de normalização, aqui chamado \"Code1\"\nconst contextoPedido = $node['Code5'].json;\n\n// 3. Retorna o objeto direto (fora de array, para evitar que a IA ignore)\nreturn [\n  {\n    json: {\n      contexto: contextoPedido,\n      resultados: resultadosSql\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,176],"id":"b69c3830-0cd3-4e4d-9e9b-b98c0f84ade3","name":"Code10"},{"parameters":{"promptType":"define","text":"=agente: Especialista em Tintas – TARS MC\n\nobjetivo: >\n  Receber o contexto de busca do cliente (marca, superfície, volume, cor, acabamento),\n  filtrar os produtos corretos para aquela aplicação, e retornar uma lista direta e natural com 1 OPÇÃO SE ESSA FOR A CORRETA.\n\nCOMPARAR COM A INSTRUÇÃO DO RAG \n\n[contexto e resultados recebidos abaixo]\n\nContexto:\n{{ JSON.stringify($json.contexto, null, 2) }}\n\nResultados:\n{{ JSON.stringify($json.resultados, null, 2) }}\n\ninstrução_do_rag\n{{ $json.contexto.instrucao_do_rag }}","hasOutputParser":true,"options":{"systemMessage":"={\n  \"agente\": \"EspecialistaEmFiltragem_TARS\",\n  \"objetivo\": \"Sua única função é receber uma lista de produtos e o contexto do cliente para filtrar e ordenar a lista de produtos conforme as regras da MC Tintas.\",\n  \"inputs_obrigatorios\": {\n    \"contexto\": \"{{ JSON.stringify($json.contexto, null, 2) }}\",\n    \"resultados\": \"{{ JSON.stringify($json.resultados, null, 2) }}\"\n  },\n  \"logica_de_decisao_principal\": \"Analise o 'contexto' do cliente e aplique as regras de filtragem apropriadas:\",\n  \"regras_de_execucao\": [\n    {\n      \"gatilho\": \"Se o cliente especificou uma marca exata no contexto\",\n      \"acao\": \"1. Filtre a lista 'resultados' para encontrar produtos da marca especificada. 2. Ordene por relevância e preço. 3. Retorne até 3 produtos da marca solicitada.\"\n    },\n    {\n      \"gatilho\": \"Se o cliente pediu 'tinta' mas NÃO especificou marca\",\n      \"acao\": \"1. Filtre produtos de tinta apropriados para a superfície mencionada (se houver). 2. Retorne EXATAMENTE 3 itens: uma tinta com 'TMC' na descrição, uma tinta Ciacollor, e uma tinta premium (Suvinil ou Coral). 3. Ordene por: TMC, Ciacollor, Premium.\"\n    },\n    {\n      \"gatilho\": \"Se o cliente especificou um produto específico (nome completo)\",\n      \"acao\": \"1. Extraia o nome exato do produto do contexto. 2. Filtre para encontrar APENAS esse produto específico. 3. Retorne apenas o item que corresponde exatamente.\"\n    },\n    {\n      \"gatilho\": \"Se o contexto indica necessidade de clarificação (informações insuficientes)\",\n      \"acao\": \"Retorne uma lista vazia, pois é necessário fazer perguntas antes de filtrar produtos.\"\n    },\n    {\n      \"gatilho\": \"Para outros tipos de produtos (acessórios, ferramentas, etc.)\",\n      \"acao\": \"1. Filtre por categoria do produto solicitado. 2. Ordene por marca preferencial (Ciacollor, TMC primeiro). 3. Retorne até 3 produtos mais relevantes.\"\n    }\n  ],\n  \"regras_gerais_de_limpeza\": [\n    \"SEMPRE descarte produtos com estoque = 0\",\n    \"SEMPRE descarte produtos que contenham a palavra 'BASE' no nome\",\n    \"Para produtos tintométricos, marque como tal (não mostrar preço da base)\",\n    \"Considere informações de superfície do contexto (parede, portão, chão) para filtrar adequadamente\"\n  ],\n  \"logica_de_priorizacao\": {\n    \"marcas_preferenciais\": [\"TMC\", \"Ciacollor\"],\n    \"marcas_premium\": [\"Suvinil\", \"Coral\"],\n    \"criterios_ordenacao\": [\n      \"Relevância para o pedido do cliente\",\n      \"Marca preferencial\",\n      \"Disponibilidade em estoque\",\n      \"Preço (menor para maior em caso de empate)\"\n    ]\n  },\n  \"formato_de_resposta\": \"Retorne um array JSON com os objetos dos produtos filtrados e ordenados. Máximo 3 produtos. Nada mais.\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[720,176],"id":"4e48bf9e-d895-4474-9af1-4d5f1b782ad3","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[720,416],"id":"b35a0f9e-f87a-4188-b0d8-e6925429f59c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"url":"=http://159.112.189.1:25046/produtoEstoqueCodigo/{{ $json.codigo_produto }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"067"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"30f88599-d673-4f9c-a122-508a77e70d5e","name":"HTTP Request2","retryOnFail":false,"credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"Unnamed credential"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const produtosComEstoque = [];\nconst produtosComErro = [];\n\nfor (const item of items) {\n  const json = item.json;\n\n  // Se veio com erro 404\n  if (json.error && json.error.status === 404) {\n    // Captura só o código que falhou\n    const match = json.error.message.match(/Produto\\(s\\) não encontrado\\(s\\): (\\d+)/);\n    const codigo = match ? match[1] : 'desconhecido';\n\n    produtosComErro.push({\n      json: {\n        codigoProduto: codigo,\n        erro: true\n      }\n    });\n    continue;\n  }\n\n  // Produto com estoque válido\n  produtosComEstoque.push({\n    json: {\n      codigoProduto: json.codigoProduto,\n      saldoDisponivel: json.saldoDisponivel ?? 0\n    }\n  });\n}\n\nreturn produtosComEstoque; // ou use produtosComErro se quiser ver os que falharam\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,0],"id":"a161255c-0c98-47f8-81aa-a0d1bf255a3c","name":"Code"},{"parameters":{"jsCode":"return items.map(item => {\n  return {\n    json: {\n      codigo_produto: String(item.json.codigoProduto),\n      saldoDisponivel: item.json.saldoDisponivel\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,0],"id":"de482e66-b54e-4b50-b459-d6b0843cb263","name":"Code2"},{"parameters":{"jsCode":"// 1. Pega os produtos já com saldo, vindos do node Merge\nconst resultadosComSaldo = $input.all().map(item => item.json);\n\n// 2. Pega o contexto original da busca (normalizado no Code1)\nconst contextoPedido = $node['Code5'].json;\n\n// 3. Monta no formato final esperado\nreturn [\n  {\n    json: {\n      contexto: contextoPedido,\n      resultados: resultadosComSaldo\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,176],"id":"c70d1348-2fab-4b57-ba01-a3ae3d82463a","name":"Code4"},{"parameters":{"jsCode":"const entrada = items[0].json;\n\nconst resultados = entrada.resultados || entrada[0]?.resultados || [];\n\nreturn resultados.map(produto => ({\n  json: {\n    ...produto,\n    codigo_produto: String(produto.codigo_produto)\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,176],"id":"ab64c66f-5adb-419b-af80-e59c245d887c","name":"Code3"},{"parameters":{"jsCode":"return items.map(function(item) {\n  /* ---------- 1. Campos de entrada ---------- */\n  const termoOriginal = (\n    item.json.TermoPesquisa ||\n    item.json.termo ||\n    item.json.descricao ||\n    ''\n  ).toString().trim();\n\n  const termo = termoOriginal\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase();\n\n  /* ---------- 2. Listas de apoio ---------- */\n  const stopwords   = ['de','da','do','a','o','e','para','com','em','as','os','na','no','por','à','das','dos','um','uma','ao','nao','p','q','c','s'];\n  const tipos       = ['pincel','rolo','bandeja','extensor','espátula','desempenadeira','lixa','fita','bico','filtro','kit','massa','tinta','verniz','esmalte','spray','selador','removedor','thinner','diluente','resina','silicone'];\n  const formatos    = ['angular','reto','redondo','multiuso','mini','midi','maxi'];\n  const materiais   = ['cerdas','nylon','poliester','microfibra','espuma','sintetico','madeira','inox','plastico','aluminio','latao'];\n  const acabamentos = ['fosco','acetinado','semibrilho','brilho','alto brilho','textura','premium','rende+'];\n  const bases       = ['base agua','base solvente','oleo','epoxi','pu'];\n  const volumesPadrao = ['1l','3.6l','18l','400ml','500ml','900ml'];\n  const cores       = ['branco','preto','cinza','azul','vermelho','verde','amarelo','marrom','neutro','neve','algodao','neblina','palha'];\n\n  /* ---------- 3. Sinônimos ---------- */\n  const sinonimosPalavra = {\n    'polegadas': 'polegada',\n    'polegada' : 'polegada',\n    'branca'   : 'branco',\n    'vermelha' : 'vermelho',\n    'amarela'  : 'amarelo',\n    'trincha'  : 'trincha'\n  };\n\n  /* ---------- 4. Tokenização ---------- */\n  let palavras_chave = termo\n    .replace(/[^\\w\\s/\"]/g, '')\n    .split(/[\\s,;:-]+/)\n    .filter((w, i, a) => w.length > 1 && !stopwords.includes(w) && isNaN(Number(w)) && a.indexOf(w) === i)\n    .map(p => sinonimosPalavra[p] || p);\n\n  /* ---------- 5. Detecta tipo principal ---------- */\n  let tipo_principal = tipos.find(t => termo.includes(t)) || '';\n  if (!tipo_principal && termo.includes('trincha')) tipo_principal = 'pincel';\n\n  if (tipo_principal === 'pincel') {\n    if (!palavras_chave.includes('pincel'))  palavras_chave.push('pincel');\n    if (!palavras_chave.includes('trincha')) palavras_chave.push('trincha');\n  }\n\n  const formato   = formatos.find(f => termo.includes(f)) || '';\n  const material  = materiais.find(m => termo.includes(m)) || '';\n\n  /* ---------- 6. Dimensões / tamanho ---------- */\n  const matchDim = termo.match(/([0-9]+[.,]?[0-9]*)\\s*[x×]\\s*([0-9]+[.,]?[0-9]*)(?:\\s*(cm|mm))?/);\n  const dimensao = matchDim ? matchDim[1] + 'x' + matchDim[2] + (matchDim[3] || '') : '';\n\n  const matchPol = termo.match(/([0-9]+(?:[.,][0-9]+)?)\\s*(\\\"|polegadas?)/i);\n  const tamanho  = matchPol ? matchPol[1] + '\"' : '';\n\n  /* ---------- 7. Volume, cor, acabamento, base: pega do JSON antes ---------- */\n  const corJson        = (item.json.Cor || '').toString().trim().toLowerCase();\n  const volumeJson     = (item.json.TamanhoVolume || '').toString().trim().toLowerCase();\n  const acabamentoJson = (item.json.Acabamento || '').toString().trim().toLowerCase();\n  const baseJson       = (item.json.BasePadrão || '').toString().trim().toLowerCase();\n\n  /* fallback detectado no texto */\n  const volPad        = volumesPadrao.find(v => termo.includes(v)) || '';\n  const matchVol      = termo.match(/([0-9]+(?:[.,][0-9]+)?)\\s*(l|ml|litros?|kg|g)\\b/i);\n  const volumeDetect  = matchVol ? matchVol[1] + ' ' + matchVol[2] : volPad;\n\n  const termoSyn      = termo.replace(/\\bbranca\\b/g, 'branco')\n                             .replace(/\\bpreta\\b/g , 'preto')\n                             .replace(/\\bvermelha\\b/g, 'vermelho')\n                             .replace(/\\bamarela\\b/g, 'amarelo');\n  const corDetect     = cores.find(c => termoSyn.includes(c)) || '';\n\n  const acabamentoDetect = acabamentos.find(a => termo.includes(a)) || '';\n  const baseDetect       = bases.find(b => termo.includes(b))   || '';\n\n  const volumeFinal     = volumeJson     || volumeDetect;\n  const corFinal        = corJson        || corDetect;\n  const acabamentoFinal = acabamentoJson || acabamentoDetect;\n  const baseFinal       = baseJson       || baseDetect;\n\n  /* ---------- 8. Extras ---------- */\n  const extras = [];\n  if (termo.includes('kit')) extras.push('kit');\n  if (termo.includes('profissional')) extras.push('profissional');\n  if (termo.includes('premium')) extras.push('premium');\n  const extras_str = extras.join('|');\n\n  /* ---------- 9. Marca ---------- */\n  const marca = (item.json.Marca || item.json.marca || '').toString().trim().toLowerCase();\n\n  /* ---------- 10. Score SQL ---------- */\n  let score_palavras_sql = '';\n  palavras_chave.forEach(p => {\n    const safe = p.replace(/[\"']/g, '');\n    score_palavras_sql += \n      \" + (CASE WHEN unaccent(norm_desc) ILIKE CONCAT('%', unaccent('\" +\n      safe +\n      \"'), '%') THEN 0.2 ELSE 0 END)\";\n  });\n\n  if (marca) {\n    score_palavras_sql += \n      \" + (CASE WHEN unaccent(norm_desc) ILIKE CONCAT('%', unaccent('\" +\n      marca +\n      \"'), '%') THEN 0.4 ELSE 0 END)\";\n  }\n\n  const reforco_media695 = (tipo_principal === 'pincel' && marca === 'tigre');\n  if (reforco_media695) {\n    score_palavras_sql +=\n      \" + (CASE WHEN unaccent(norm_desc) ILIKE '%economica%' THEN 0.25 ELSE 0 END)\" +\n      \" + (CASE WHEN unaccent(norm_desc) ILIKE '%media%' THEN 0.25 ELSE 0 END)\" +\n      \" + (CASE WHEN norm_desc ILIKE '%695%' THEN 0.25 ELSE 0 END)\";\n  }\n\n  /* ---------- 11. Saída ---------- */\n  return {\n    json: {\n      termo: termoOriginal,\n      tipo_principal,\n      formato,\n      material,\n      dimensao,\n      tamanho,\n      volume: volumeFinal,\n      acabamento: acabamentoFinal,\n      cor: corFinal,\n      base: baseFinal,\n      extras,\n      extras_str,\n      marca,\n      superficie: (item.json.superficie || '').toString().trim().toLowerCase(),\n      score_palavras_sql\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,176],"id":"bcbfb05f-ba78-4332-9254-b06badfdf951","name":"Code5"},{"parameters":{"workflowInputs":{"values":[{"name":"TermoPesquisa"},{"name":"Marca"},{"name":"Cor"},{"name":"TamanhoVolume"},{"name":"Acabamento"},{"name":"superficie"},{"name":"telefoneCliente"},{"name":"tipoPoduto"},{"name":"BasePadrão"}]}},"id":"b9ab1cba-a731-4e60-9cc1-4979cbc14e8f","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-704,176]}],"connections":{"Cria Tabela Chat_Messages1":{"main":[[{"node":"Code10","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Code3","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code4":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Cria Tabela Chat_Messages1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"TermoPesquisa":"tinta branca","Marca":"TMC","Cor":"branco","TamanhoVolume":"18L","Acabamento":"fosco","superficie":"parede","telefoneCliente":"","tipoPoduto":"tinta","BasePadrão":""}}]},"versionId":"9570ae84-5604-4722-86ce-028bdd4ace96","triggerCount":0,"shared":[{"createdAt":"2025-10-24T13:11:53.483Z","updatedAt":"2025-10-24T13:11:53.483Z","role":"workflow:owner","workflowId":"qIWmECB56eceoWzD","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"createdAt":"2025-10-31T13:15:54.983Z","updatedAt":"2025-10-31T13:15:54.983Z","id":"SA1lrqt1q8ppNIAs","name":"Tintasmc_alberto"}]}