qt1EzxQzxuu3WW83.json
{"updatedAt":"2025-12-12T19:59:06.073Z","createdAt":"2025-11-01T18:25:02.047Z","id":"qt1EzxQzxuu3WW83","name":"Avisar vendedor Marcel","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"query"},{"name":"loja"},{"name":"telefone"}]}},"id":"74b74872-5c46-4f78-8050-c3343cc3289c","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-64,0]},{"parameters":{"assignments":{"assignments":[{"id":"a851772e-619a-4294-8f2b-6f97d3c97e85","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"159bec86-2b86-4344-8a73-97b1a9a52e90","name":"loja","value":"={{ $json.loja }}","type":"string"},{"id":"0c2de159-f526-46d6-af22-e559fe3cb8a2","name":"","value":"","type":"string"},{"id":"c3e55312-faee-4364-b576-fcd8ba29b147","name":"telefone","value":"={{ $json.telefone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,0],"id":"0cf53e51-d59f-48a2-abb6-7baec3fa2a47","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=Formate uma notificação curta usando as informações abaixo:\n• Texto base: {{ $json.query }}\n• Loja: {{ $json.loja }}\n• Telefone: {{ $json.telefone }}\n","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[336,0],"id":"bad04f6f-e04c-4e2c-83c8-41e2b0989651","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[352,160],"id":"c72ce457-f807-475f-9a4d-f6fee3f8231b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9157eb1-95b8-4552-a9db-c9f063126bcd","leftValue":"={{ $('Edit Fields').first().json.loja }}","rightValue":"=179","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Analia Franco"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ad7823ca-3c39-4d2d-9761-fc8b9f62b3fc","leftValue":"={{ $('Edit Fields').first().json.loja }}","rightValue":"199","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Guarulhos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05b7433f-81f8-401f-86a4-8e29c6ab4eda","leftValue":"={{ $('Edit Fields').first().json.loja }}","rightValue":"037","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Tatuapé"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[656,-16],"id":"348baf09-86c7-4710-989c-417eb934bd89","name":"Switch"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511957859686"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1168,-240],"id":"a3e6e5ef-ddf6-4552-8250-a20b1dca8c6d","name":"Marcel "},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511989623345"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1392,-240],"id":"0481860f-8547-4325-880f-321f6bf5cf27","name":"Igor"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511999324730"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[944,-240],"id":"5ddba031-c975-4d2c-be15-3c8c5820de28","name":"Loja Analia Franco"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511957859686"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1168,0],"id":"fcb382fb-768b-4487-a870-b48751db291d","name":"Marcel 1"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511989623345"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1408,0],"id":"2b2fc9b7-44e2-4bb4-82bb-1a10bf0bb406","name":"Igor1"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511957859686"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1168,224],"id":"ab1bda54-de64-4e04-ac26-5f535a87776e","name":"Marcel 2"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511989623345"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1408,224],"id":"28fcadc5-76db-4203-a57d-fa60405ce717","name":"Igor2"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511972695307"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[944,0],"id":"69381618-268b-4c78-a282-b40bacc984c8","name":"Loja Guarulhos"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511919076613"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[944,224],"id":"c641cc94-09ee-45cb-9c08-be005d2c0829","name":"Loja Tatuapé"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Loja Analia Franco","type":"main","index":0}],[{"node":"Loja Guarulhos","type":"main","index":0}],[{"node":"Loja Tatuapé","type":"main","index":0}]]},"Loja Analia Franco":{"main":[[{"node":"Marcel ","type":"main","index":0}]]},"Marcel 1":{"main":[[{"node":"Igor1","type":"main","index":0}]]},"Marcel ":{"main":[[{"node":"Igor","type":"main","index":0}]]},"Marcel 2":{"main":[[{"node":"Igor2","type":"main","index":0}]]},"Loja Guarulhos":{"main":[[{"node":"Marcel 1","type":"main","index":0}]]},"Loja Tatuapé":{"main":[[{"node":"Marcel 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"🎉 *ORÇAMENTO FECHADO - Miguel*\n\n📋 *DADOS:*\nCPF/CNPJ: 428.754.608-38\nWhatsApp: \nEndereço: Retirada na loja\n\n🛒 *PRODUTOS:*\n- TMC ACR PREM FOSCO INSPIRA BRANCO 18L (parede) – Cód: 19435 – R$ 439\n- LIXA MASSA A257 080 NORTON (1/4 folha) – Cód: 115 – 10 un – R$ 20\n- TIGRE TRINCHA ECONOMICA MEDIA 2\" CERDA GRIS – Cód: 9142 – 2 un – R$ 18\n\n💰 *TOTAL: R$ 477*\n💳 *Pagamento:* PIX na retirada\n\n⚠️ *A TRATAR:*\n- Sem necessidade de entrega (retirada confirmada)\n- Sem informações de WhatsApp\n- Confirmar disponibilidade dos itens na retirada","loja":"037","telefone":"12988112870"}}]},"versionId":"82131093-33b6-4982-bd69-46767ac93731","triggerCount":0,"shared":[{"updatedAt":"2025-11-01T18:25:02.047Z","createdAt":"2025-11-01T18:25:02.047Z","role":"workflow:owner","workflowId":"qt1EzxQzxuu3WW83","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"updatedAt":"2025-10-31T13:40:20.241Z","createdAt":"2025-10-31T13:40:20.241Z","id":"uMxn0uWfEQ1aHbl6","name":"Tintasmc_Marcel"}]}