rZXWK26E8E0EjdFc.json
{"updatedAt":"2026-02-04T12:54:52.456Z","createdAt":"2025-11-12T22:57:35.284Z","id":"rZXWK26E8E0EjdFc","name":"Disparo email","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[496,-176],"id":"1f11f11e-1563-42d3-b4dc-b9fd041940e0","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"0c004c63-50af-461e-8458-f89622a031e7","name":"Nome","value":"={{ $json.NOME }}","type":"string"},{"id":"19d945f8-7c47-412a-badb-0c7e4cb01456","name":"telefone","value":"={{ $json.telefone }}","type":"string"},{"id":"6d268d25-d728-42ce-8a13-3e7719f36182","name":"email_destino","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,0],"id":"e54b3df6-66ee-4b34-bac6-4fd52e4abfd1","name":"Edit Fields"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Brasil Solos - Precisão não é detalhe. É obrigação.</title>\n    <style>\n        body {\n            margin: 0;\n            padding: 0;\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background-color: #f5f5f5;\n        }\n        .email-container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n        }\n        .header-image {\n            width: 100%;\n            max-width: 600px;\n            height: auto;\n            display: block;\n        }\n        .content {\n            padding: 40px 32px;\n            color: #1a1a1a;\n        }\n        .content h1 {\n            color: #002855;\n            font-size: 22px;\n            font-weight: 600;\n            margin: 0 0 24px 0;\n            letter-spacing: -0.3px;\n        }\n        .content p {\n            font-size: 15px;\n            line-height: 1.7;\n            margin: 0 0 20px 0;\n            color: #404040;\n        }\n        .highlight {\n            color: #002855;\n            font-weight: 600;\n        }\n        \n        .statement {\n            border-left: 3px solid #002855;\n            padding: 20px 24px;\n            margin: 32px 0;\n            background-color: #fafafa;\n        }\n        .statement p {\n            font-size: 16px;\n            color: #1a1a1a;\n            margin: 0;\n            font-weight: 500;\n            line-height: 1.6;\n        }\n        \n        .cta-section {\n            text-align: center;\n            padding: 32px 0;\n            border-top: 1px solid #e5e5e5;\n            margin-top: 32px;\n        }\n        .cta-section p {\n            text-align: center;\n            margin: 0 0 20px 0;\n            color: #404040;\n            font-size: 15px;\n        }\n        .cta-button {\n            display: inline-block;\n            padding: 14px 32px;\n            background-color: #002855;\n            color: #ffffff !important;\n            text-decoration: none;\n            font-size: 14px;\n            font-weight: 600;\n            letter-spacing: 0.3px;\n        }\n        .cta-button:hover {\n            background-color: #001a3d;\n        }\n        \n        .footer {\n            background-color: #002855;\n            color: #ffffff;\n            padding: 20px 32px;\n        }\n        .footer-row {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            flex-wrap: wrap;\n            gap: 12px;\n        }\n        .footer-brand {\n            font-size: 13px;\n            font-weight: 600;\n            letter-spacing: 0.5px;\n        }\n        .footer-links a {\n            color: rgba(255,255,255,0.8);\n            text-decoration: none;\n            font-size: 12px;\n            margin-left: 16px;\n        }\n        .footer-links a:hover {\n            color: #ffffff;\n        }\n        .footer-bottom {\n            margin-top: 16px;\n            padding-top: 16px;\n            border-top: 1px solid rgba(255,255,255,0.1);\n            font-size: 11px;\n            color: rgba(255,255,255,0.5);\n        }\n        .footer-bottom a {\n            color: rgba(255,255,255,0.6);\n        }\n        \n        @media only screen and (max-width: 600px) {\n            .content {\n                padding: 32px 24px;\n            }\n            .footer-row {\n                flex-direction: column;\n                text-align: center;\n            }\n            .footer-links a {\n                margin: 0 8px;\n            }\n            .cta-button {\n                display: block;\n                text-align: center;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <img src=\"https://iili.io/fiLGAhv.jpg\" alt=\"Brasil Solos - Você é nosso diferencial\" class=\"header-image\">\n\n        <div class=\"content\">\n            <h1>Precisão não é detalhe. É obrigação.</h1>\n\n            <p>\n                A gente sabe que cada laboratório tem sua realidade, cada projeto tem suas exigências. \n                E é justamente por isso que não tratamos ninguém como \"mais um cliente\".\n            </p>\n\n            <p>\n                Na <span class=\"highlight\">Brasil Solos</span>, entendemos que o equipamento certo \n                faz diferença no seu resultado. Por isso oferecemos não só produtos de qualidade, \n                mas o suporte pra você escolher exatamente o que seu laboratório precisa.\n            </p>\n\n            <div class=\"statement\">\n                <p>\n                    Seu projeto é único. O cuidado que a gente tem com ele, também.\n                </p>\n            </div>\n\n            <p>\n                Equipamentos pra ensaios de solos, concreto e agregados — com a atenção técnica \n                que você merece e a precisão que seu trabalho exige.\n            </p>\n\n            <div class=\"cta-section\">\n                <p>Vamos conversar sobre o que seu laboratório precisa?</p>\n                <a href=\"https://wa.me/5531988633298?text=Ol%C3%A1%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20equipamentos.\" class=\"cta-button\">\n                    FALAR COM A GENTE\n                </a>\n            </div>\n        </div>\n\n        <div class=\"footer\">\n            <div class=\"footer-row\">\n                <span class=\"footer-brand\">BRASIL SOLOS</span>\n                <div class=\"footer-links\">\n                    <a href=\"https://wa.me/5531988633298\">WhatsApp</a>\n                    <a href=\"mailto:comercial@brasilsolos.com.br\">Email</a>\n                </div>\n            </div>\n            <div class=\"footer-bottom\">\n                Equipamentos para Laboratório · Solos · Concreto · Agregados\n                &nbsp;·&nbsp;\n                <a href=\"mailto:comercial@brasilsolos.com.br?subject=Descadastrar\">Descadastrar</a>\n            </div>\n        </div>\n    </div>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[736,-176],"id":"5b9d7fe5-ba54-4dfe-a709-425694520dc2","name":"HTML"},{"parameters":{"sendTo":"gustavo@gfmkt.com.br","subject":"Você não é mais um. Seu equipamento também não.","message":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[912,-176],"id":"0479ad08-1465-4278-acc3-b690927b322c","name":"Send a message","webhookId":"841cf6c9-831d-4798-a23e-d29a81b8dc83","credentials":{"gmailOAuth2":{"id":"rJOvSJUAFmiVisS7","name":"Gmail Bstech"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[896,0],"id":"88eb26ba-728f-4d97-9a8f-9f97d2f231ec","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1488,16],"id":"60b23c26-b586-4116-a0db-7d2d302b3c96","name":"Wait","webhookId":"b001ac99-f4c9-4a14-86a8-d5d241e26873"},{"parameters":{"documentId":{"__rl":true,"value":"1ZBVJpwIZRN0_O-pSq6qfuKNqOC05dlPjHpePUTI7AGQ","mode":"list","cachedResultName":"bstech disparos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZBVJpwIZRN0_O-pSq6qfuKNqOC05dlPjHpePUTI7AGQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZBVJpwIZRN0_O-pSq6qfuKNqOC05dlPjHpePUTI7AGQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Disparos"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[32,0],"id":"ce81b90d-72c4-4d6b-9af0-181cf4b391c1","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"3UnmgZHxudzIzIkI","name":"IATARS - SHEETS"}}},{"parameters":{"maxItems":1000},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[208,0],"id":"ed365554-d1a2-444c-b4c1-ed90caf049a0","name":"Limit"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ZBVJpwIZRN0_O-pSq6qfuKNqOC05dlPjHpePUTI7AGQ","mode":"list","cachedResultName":"bstech disparos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZBVJpwIZRN0_O-pSq6qfuKNqOC05dlPjHpePUTI7AGQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZBVJpwIZRN0_O-pSq6qfuKNqOC05dlPjHpePUTI7AGQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet').item.json.row_number }}","Disparos":"✅"},"matchingColumns":["row_number"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UF","displayName":"UF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTATO COMPRADOR","displayName":"CONTATO COMPRADOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CELULAR","displayName":"CELULAR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Disparos","displayName":"Disparos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1312,16],"id":"6e1b5bab-af2c-4e85-baa6-480c9841aa9e","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"3UnmgZHxudzIzIkI","name":"IATARS - SHEETS"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"HTML":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[]]},"Loop Over Items":{"main":[[],[]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"81ae44f9-069c-4275-8039-084e4c34391c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-12T22:57:35.284Z","createdAt":"2025-11-12T22:57:35.284Z","role":"workflow:owner","workflowId":"rZXWK26E8E0EjdFc","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":null,"tags":[]}