s4mRHAUYNLO4Ayng.json
{"updatedAt":"2025-12-08T18:24:27.647Z","createdAt":"2025-10-24T13:10:28.932Z","id":"s4mRHAUYNLO4Ayng","name":"avisar vendedor","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"query"},{"name":"loja"},{"name":"telefone"}]}},"id":"2f80fa4b-6de3-4044-b87e-1bde4ff65eb9","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-928,16]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511957859686"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-112,16],"id":"c05f1d0d-1c6e-4538-bfc9-d6d1ea36ab72","name":"Envia MSG1"},{"parameters":{"assignments":{"assignments":[{"id":"a851772e-619a-4294-8f2b-6f97d3c97e85","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"159bec86-2b86-4344-8a73-97b1a9a52e90","name":"loja","value":"={{ $json.loja }}","type":"string"},{"id":"c3e55312-faee-4364-b576-fcd8ba29b147","name":"telefone","value":"={{ $json.telefone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,16],"id":"ffcca663-bfae-4248-963e-55659db05cef","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=Formate uma notificação curta usando as informações abaixo:\n• Texto base: {{ $json.query }}\n• Loja: {{ $json.loja }}\n• Telefone: {{ $json.telefone }}\n","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-528,16],"id":"54ca1710-9f07-47ed-aa10-31d416393943","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-592,208],"id":"503b2091-ace5-4b61-b143-50c9078fa1b3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Envia MSG1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"query":"🎉 *ORÇAMENTO FECHADO - Miguel*\n\n📋 *DADOS:*\nCPF/CNPJ: 428.754.608-38\nWhatsApp: \nEndereço: Retirada na loja\n\n🛒 *PRODUTOS:*\n- TMC ACR PREM FOSCO INSPIRA BRANCO 18L (parede) – Cód: 19435 – R$ 439\n- LIXA MASSA A257 080 NORTON (1/4 folha) – Cód: 115 – 10 un – R$ 20\n- TIGRE TRINCHA ECONOMICA MEDIA 2\" CERDA GRIS – Cód: 9142 – 2 un – R$ 18\n\n💰 *TOTAL: R$ 477*\n💳 *Pagamento:* PIX na retirada\n\n⚠️ *A TRATAR:*\n- Sem necessidade de entrega (retirada confirmada)\n- Sem informações de WhatsApp\n- Confirmar disponibilidade dos itens na retirada","loja":"179","telefone":"12988112870"}}]},"versionId":"56c5bede-1c98-4678-89c8-e040334f0819","triggerCount":0,"shared":[{"updatedAt":"2025-10-24T13:10:28.932Z","createdAt":"2025-10-24T13:10:28.932Z","role":"workflow:owner","workflowId":"s4mRHAUYNLO4Ayng","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"updatedAt":"2025-10-31T13:15:54.983Z","createdAt":"2025-10-31T13:15:54.983Z","id":"SA1lrqt1q8ppNIAs","name":"Tintasmc_alberto"}]}