Tam8wECwNLGW35En.json
{"updatedAt":"2025-12-29T16:41:47.029Z","createdAt":"2025-10-27T20:56:05.441Z","id":"Tam8wECwNLGW35En","name":"ProQuantum_EmitirRelatorio","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,816],"id":"9c192bab-72ed-407f-bcb1-5895b2dca88c","name":"When Executed by Another Workflow"},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","operation":"get","tableId":"leads","filters":{"conditions":[{"keyName":"sessionid","keyValue":"={{ $json.lead_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[48,816],"id":"3fa36fe2-6684-4d27-91c9-a1601dd1b6d6","name":"Get Lead Data1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","operation":"get","tableId":"interacoes","filters":{"conditions":[{"keyName":"lead_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.lead_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[304,816],"id":"6229b6f7-6575-4213-aca9-4f7768eded37","name":"Get Interações1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"interacoes","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[512,816],"id":"22d5194e-28ba-4e11-b60e-6e7511ab1f60","name":"Aggregate1"},{"parameters":{"promptType":"define","text":"=Analise esta conversa de vendas e crie um resumo executivo conciso:\n\n{{ $json.interacoes.map((item, index) => \n\n  'Mensagem ' + (index + 1) + ':\\nCliente: ' + item.mensagem_cliente + '\\nTARS: ' + item.mensagem_ia + '\\n---'\n\n).join('\\n\\n') }}\n\nForneça um resumo direto e objetivo destacando:\n- Interesse principal do cliente\n- Produtos/serviços discutidos\n- Objeções ou dúvidas (se houver)\n- Avaliação do nível de prontidão para fechar negócio\n\nSeja conciso, fluido e focado em insights comerciais relevantes. Máximo 100 palavras.\n```\n\nVai gerar algo tipo:\n```\nMiguel da Tintas Nunes demonstrou forte interesse nas tintas Ciacollor, \nespecialmente focado em entrega para Campinas. Solicitou catálogo completo \npara avaliar linha de produtos. Não apresentou objeções significativas, \napenas confirmou disponibilidade de entrega local. Cliente está em estágio \navançado de consideração, demonstrando disposição clara para avançar após \nanálise do portfólio. Necessita apenas informações sobre condições comerciais \npara tomar decisão de compra.","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[736,816],"id":"e7ff0575-39d0-4f3e-9772-07d08f8b98db","name":"Basic LLM Chain1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[624,1008],"id":"b1de193c-503d-4825-b86c-a1b8b2304e4a","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"assignments":{"assignments":[{"id":"relatorio-lead-id","name":"lead_id","value":"={{ $('Get Lead Data1').item.json.id }}","type":"string"},{"id":"relatorio-nome","name":"nome","value":"={{ $('Get Lead Data1').item.json.nome ?? 'Não informado' }}","type":"string"},{"id":"relatorio-empresa","name":"empresa","value":"={{ $('Get Lead Data1').item.json.empresa ?? 'Não informado' }}","type":"string"},{"id":"relatorio-cidade","name":"cidade","value":"={{ $('Get Lead Data1').item.json.cidade ?? 'Não informado' }}","type":"string"},{"id":"relatorio-telefone","name":"telefone","value":"={{ $('Get Lead Data1').item.json.telefone ?? 'Não informado' }}","type":"string"},{"id":"relatorio-email","name":"email","value":"={{ $('Get Lead Data1').item.json.email ?? 'Não informado' }}","type":"string"},{"id":"relatorio-classificacao","name":"classificacao","value":"QUENTE 🔥","type":"string"},{"id":"relatorio-num-interacoes","name":"total_interacoes","value":"={{ $('Aggregate1').item.json.interacoes.length }}","type":"number"},{"id":"resumo-ia","name":"resumo_ia","value":"={{ $('Basic LLM Chain1').item.json.text }}","type":"string"},{"id":"relatorio-mensagem","name":"mensagem_relatorio","value":"=🔥 *LEAD QUENTE IDENTIFICADO!*\n\n*Dados do Lead:*\nNome: {{ $('Get Lead Data1').item.json.nome ?? 'Não informado' }}\nEmpresa: {{ $('Get Lead Data1').item.json.empresa ?? 'Não informado' }}\nCidade: {{ $('Get Lead Data1').item.json.cidade ?? 'Não informado' }}\nTelefone: {{ $('Get Lead Data1').item.json.telefone ?? 'Não informado' }}\nEmail: {{ $('Get Lead Data1').item.json.email ?? 'Não informado' }}\n\n*Resumo Executivo (IA):*\n\n{{ $json.text }}\n\n*Estatísticas:*\nTotal de interações: {{ $('Aggregate1').item.json.interacoes.length }}\nClassificação: QUENTE 🔥\nData: {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n\n⚠️ *AÇÃO NECESSÁRIA:* Este lead demonstrou alto interesse. Entre em contato imediatamente!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,816],"id":"f14191eb-b53b-45c0-8305-f689a6c9f8aa","name":"Build Relatório1"},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","tableId":"relatorios","fieldsUi":{"fieldValues":[{"fieldId":"lead_id","fieldValue":"={{ $json.lead_id }}"},{"fieldId":"tipo","fieldValue":"lead_quente"},{"fieldId":"conteudo","fieldValue":"={{ $json.mensagem_relatorio }}"},{"fieldId":"criado_em","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1216,816],"id":"7c368a73-c3ae-454c-82a1-be57a5447ed2","name":"Save Relatório1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"success-flag","name":"success","value":"true","type":"boolean"},{"id":"message-response","name":"message","value":"Relatório gerado e salvo com sucesso","type":"string"},{"id":"relatorio-id","name":"relatorio_id","value":"={{ $('Save Relatório1').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1584,816],"id":"706497c4-c892-4784-b3f0-14943ba95206","name":"Format Response1"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"f5d47bbc-372c-42a4-b26e-3fb6bdb89a73"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"120363420580922071@g.us"},{"name":"text","value":"={{ $json.conteudo }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1408,816],"id":"89efb419-91fd-48fe-8303-83ece535a518","name":"Envia MSG"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Lead Data1","type":"main","index":0}]]},"Get Lead Data1":{"main":[[{"node":"Get Interações1","type":"main","index":0}]]},"Get Interações1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Build Relatório1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Build Relatório1":{"main":[[{"node":"Save Relatório1","type":"main","index":0}]]},"Save Relatório1":{"main":[[{"node":"Envia MSG","type":"main","index":0}]]},"Envia MSG":{"main":[[{"node":"Format Response1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"lead_id":"ef2119cd-7255-46d0-8afe-160bc107f044"}}]},"versionId":"8c88a23c-a0f0-4b3b-907e-136e7a9b0ee2","activeVersionId":"252b3afd-f6e4-4fec-8478-5415e972fcdc","triggerCount":0,"shared":[{"updatedAt":"2025-10-27T20:56:05.441Z","createdAt":"2025-10-27T20:56:05.441Z","role":"workflow:owner","workflowId":"Tam8wECwNLGW35En","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2025-11-27T17:37:31.724Z","createdAt":"2025-11-27T17:37:31.724Z","versionId":"252b3afd-f6e4-4fec-8478-5415e972fcdc","workflowId":"Tam8wECwNLGW35En","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"lead_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,816],"id":"9c192bab-72ed-407f-bcb1-5895b2dca88c","name":"When Executed by Another Workflow"},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","operation":"get","tableId":"leads","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.lead_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[48,816],"id":"3fa36fe2-6684-4d27-91c9-a1601dd1b6d6","name":"Get Lead Data1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","operation":"get","tableId":"interacoes","filters":{"conditions":[{"keyName":"lead_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.lead_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[304,816],"id":"6229b6f7-6575-4213-aca9-4f7768eded37","name":"Get Interações1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"interacoes","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[512,816],"id":"22d5194e-28ba-4e11-b60e-6e7511ab1f60","name":"Aggregate1"},{"parameters":{"promptType":"define","text":"=Analise esta conversa de vendas e crie um resumo executivo conciso:\n\n{{ $json.interacoes.map((item, index) => \n\n  'Mensagem ' + (index + 1) + ':\\nCliente: ' + item.mensagem_cliente + '\\nTARS: ' + item.mensagem_ia + '\\n---'\n\n).join('\\n\\n') }}\n\nForneça um resumo direto e objetivo destacando:\n- Interesse principal do cliente\n- Produtos/serviços discutidos\n- Objeções ou dúvidas (se houver)\n- Avaliação do nível de prontidão para fechar negócio\n\nSeja conciso, fluido e focado em insights comerciais relevantes. Máximo 100 palavras.\n```\n\nVai gerar algo tipo:\n```\nMiguel da Tintas Nunes demonstrou forte interesse nas tintas Ciacollor, \nespecialmente focado em entrega para Campinas. Solicitou catálogo completo \npara avaliar linha de produtos. Não apresentou objeções significativas, \napenas confirmou disponibilidade de entrega local. Cliente está em estágio \navançado de consideração, demonstrando disposição clara para avançar após \nanálise do portfólio. Necessita apenas informações sobre condições comerciais \npara tomar decisão de compra.","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[736,816],"id":"e7ff0575-39d0-4f3e-9772-07d08f8b98db","name":"Basic LLM Chain1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[624,1008],"id":"b1de193c-503d-4825-b86c-a1b8b2304e4a","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"assignments":{"assignments":[{"id":"relatorio-lead-id","name":"lead_id","value":"={{ $('Get Lead Data1').item.json.id }}","type":"string"},{"id":"relatorio-nome","name":"nome","value":"={{ $('Get Lead Data1').item.json.nome ?? 'Não informado' }}","type":"string"},{"id":"relatorio-empresa","name":"empresa","value":"={{ $('Get Lead Data1').item.json.empresa ?? 'Não informado' }}","type":"string"},{"id":"relatorio-cidade","name":"cidade","value":"={{ $('Get Lead Data1').item.json.cidade ?? 'Não informado' }}","type":"string"},{"id":"relatorio-telefone","name":"telefone","value":"={{ $('Get Lead Data1').item.json.telefone ?? 'Não informado' }}","type":"string"},{"id":"relatorio-email","name":"email","value":"={{ $('Get Lead Data1').item.json.email ?? 'Não informado' }}","type":"string"},{"id":"relatorio-classificacao","name":"classificacao","value":"QUENTE 🔥","type":"string"},{"id":"relatorio-num-interacoes","name":"total_interacoes","value":"={{ $('Aggregate1').item.json.interacoes.length }}","type":"number"},{"id":"resumo-ia","name":"resumo_ia","value":"={{ $('Basic LLM Chain1').item.json.text }}","type":"string"},{"id":"relatorio-mensagem","name":"mensagem_relatorio","value":"=🔥 *LEAD QUENTE IDENTIFICADO!*\n\n*Dados do Lead:*\nNome: {{ $('Get Lead Data1').item.json.nome ?? 'Não informado' }}\nEmpresa: {{ $('Get Lead Data1').item.json.empresa ?? 'Não informado' }}\nCidade: {{ $('Get Lead Data1').item.json.cidade ?? 'Não informado' }}\nTelefone: {{ $('Get Lead Data1').item.json.telefone ?? 'Não informado' }}\nEmail: {{ $('Get Lead Data1').item.json.email ?? 'Não informado' }}\n\n*Resumo Executivo (IA):*\n\n{{ $json.text }}\n\n*Estatísticas:*\nTotal de interações: {{ $('Aggregate1').item.json.interacoes.length }}\nClassificação: QUENTE 🔥\nData: {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n\n⚠️ *AÇÃO NECESSÁRIA:* Este lead demonstrou alto interesse. Entre em contato imediatamente!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,816],"id":"f14191eb-b53b-45c0-8305-f689a6c9f8aa","name":"Build Relatório1"},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","tableId":"relatorios","fieldsUi":{"fieldValues":[{"fieldId":"lead_id","fieldValue":"={{ $json.lead_id }}"},{"fieldId":"tipo","fieldValue":"lead_quente"},{"fieldId":"conteudo","fieldValue":"={{ $json.mensagem_relatorio }}"},{"fieldId":"criado_em","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1216,816],"id":"7c368a73-c3ae-454c-82a1-be57a5447ed2","name":"Save Relatório1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"Miguel teste","remoteJid":"5512997104471@s.whatsapp.net","messageText":"={{ $json.conteudo }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1376,816],"id":"e6fc6953-9fd2-4710-b9f9-d6f3a70a24dd","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}}},{"parameters":{"assignments":{"assignments":[{"id":"success-flag","name":"success","value":"true","type":"boolean"},{"id":"message-response","name":"message","value":"Relatório gerado e salvo com sucesso","type":"string"},{"id":"relatorio-id","name":"relatorio_id","value":"={{ $('Save Relatório1').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,816],"id":"706497c4-c892-4784-b3f0-14943ba95206","name":"Format Response1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Lead Data1","type":"main","index":0}]]},"Get Lead Data1":{"main":[[{"node":"Get Interações1","type":"main","index":0}]]},"Get Interações1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Build Relatório1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Build Relatório1":{"main":[[{"node":"Save Relatório1","type":"main","index":0}]]},"Save Relatório1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Format Response1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-10-31T13:33:54.737Z","createdAt":"2025-10-31T13:33:54.737Z","id":"qtGfGiuzuUwLYUYL","name":"proQuantum"}]}