uBP1bYWI3LYOyeDi.json
{"updatedAt":"2025-11-07T13:40:43.826Z","createdAt":"2025-10-16T21:58:18.254Z","id":"uBP1bYWI3LYOyeDi","name":"Roteador","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-5296,1472],"id":"01fdd435-4a29-4454-92db-6839cb54a35e","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"f8ccd10b-1b4e-411a-bbaa-4309b3b3674c","name":"Telefone","value":"={{ $json.body.data.key.remoteJid.replace(/@.*$/, '')}}\n","type":"string"},{"id":"59c45e98-ef1f-40c7-89ee-8ad95c526a47","name":"Nome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"c549ede8-9aaa-4967-a4aa-6161b8359c88","name":"status","value":"={{ $json.body.data.status }}","type":"string"},{"id":"fb52083d-7ecc-4500-ae99-6ac10f890eb6","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"a35923ee-5a33-457e-865a-ec18797bdbdc","name":"MediaType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"52785e95-c1de-4e99-9351-5c00b66625ed","name":"APIKey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"ce712495-0c1b-4204-b906-eedeb6adaf6c","name":"fromMe","value":false,"type":"boolean"},{"id":"b02a1dc1-7701-4000-b741-64f055162c1f","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"string"},{"id":"39d5db02-688b-4acc-b948-0e33ea39367f","name":"instancia","value":"={{ $json.body.instance }}","type":"string"}]},"options":{}},"id":"b83057eb-25c3-4c72-b0ae-936ab8489b41","name":"dados_para_atendimento_humano","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5120,1472]},{"parameters":{"useCustomSchema":true,"schema":"BS_Marcelo","operation":"get","tableId":"Verificar_atendimento","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3968,1680],"id":"d288d885-81fd-4838-8edc-9b6fddc285cc","name":"Get a row1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.rota }}","rightValue":"orcamento","operator":{"type":"string","operation":"equals"},"id":"27ae88df-d70d-4845-83ff-586d22f1a4ff"}],"combinator":"and"},"renameOutput":true,"outputKey":"Orçamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b129ab39-b627-4e92-ad42-e0e9c85b63ee","leftValue":"={{ $json.rota }}","rightValue":"projeto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Projeto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83409dab-e21e-42a6-af5c-ea283a46f704","leftValue":"={{ $json.rota }}","rightValue":"nc","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Não Conformidade"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-3744,1664],"id":"ade53881-c5c9-4200-87d8-1d69a962aecc","name":"Switch"},{"parameters":{"resource":"messages-api","instanceName":"=Miguel teste","remoteJid":"={{ $('dados_para_atendimento_humano').item.json.Telefone }}","messageText":"Digite 1 para fazer um orçamento ou 2 para registrar uma não conformidade","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4432,1280],"id":"b51dadac-3714-404f-b4ba-f028d72a87a8","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}}},{"parameters":{"httpMethod":"POST","path":"BrasilSolos","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5248,1216],"id":"7d88631a-07f7-4c18-babe-2469ab409fbd","name":"Webhook","webhookId":"b1590a66-d6fd-46b5-b16b-e97cf4111c6c"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.mensagem }}","rightValue":"1","operator":{"type":"string","operation":"equals"},"id":"b2476faf-bb1c-400b-a84c-ee36356301a9"}],"combinator":"and"},"renameOutput":true,"outputKey":"orcamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"32734ef0-2d81-4ff2-84b7-cc3467b2576d","leftValue":"={{ $json.mensagem }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Não conformidade"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f321c967-f1a0-4d3b-a32d-01f5aa4071ea","leftValue":"={{ $json.mensagem }}","rightValue":"3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Projetos"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-4512,1456],"id":"01502f1a-5227-4636-a977-1432048eeaaa","name":"Switch1"},{"parameters":{"resource":"messages-api","instanceName":"=Miguel teste","remoteJid":"={{ $('dados_para_atendimento_humano').item.json.Telefone }}","messageText":"rota definida, agora você esta no sistema de orçamentos","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3744,1136],"id":"0304a9c7-f7bf-41a3-9770-012cedb310e7","name":"Enviar texto","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}}},{"parameters":{"resource":"messages-api","instanceName":"=Miguel","remoteJid":"={{ $('dados_para_atendimento_humano').item.json.Telefone }}","messageText":"rota definida, agora você esta no sistema de não conformidade","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3744,1328],"id":"5b0685a2-1291-4a3b-8f68-3cc0a016081e","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}}},{"parameters":{"useCustomSchema":true,"schema":"BS_Marcelo","operation":"update","tableId":"Verificar_atendimento","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"rota","fieldValue":"nc"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3936,1328],"id":"a5f3ce30-8e8b-4cea-b85d-270201315975","name":"Atualiza rota NC","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"BS_Marcelo","operation":"update","tableId":"Verificar_atendimento","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"rota","fieldValue":"orcamento"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3936,1136],"id":"33f43e69-453f-468d-977d-90c8124521d9","name":"Atualiza rota OR","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2768211a-31bc-4f21-a92b-fe56ef053470","leftValue":"={{ $json.mensagem }}","rightValue":"#menu","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4816,1472],"id":"d158ff64-89bc-455e-8424-be4a23723078","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"06a0f39d-d7fe-4841-9147-7b9677b5544e","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4624,1280],"id":"da55f84f-d1dc-4201-a4bb-52641023a429","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"D5xwgCduM5fXKVc9","mode":"list","cachedResultUrl":"/workflow/D5xwgCduM5fXKVc9","cachedResultName":"ORÇAMENTO"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-3408,1488],"id":"96dbadea-a91d-491d-bbba-96e743b84e80","name":"Call 'ORÇAMENTO'"},{"parameters":{"workflowId":{"__rl":true,"value":"D5xwgCduM5fXKVc9","mode":"list","cachedResultUrl":"/workflow/D5xwgCduM5fXKVc9","cachedResultName":"ORÇAMENTO"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-3408,1680],"id":"51d29439-2031-4c1b-9281-e7e8b631d64c","name":"Call 'ORÇAMENTO'1"},{"parameters":{"workflowId":{"__rl":true,"value":"D5xwgCduM5fXKVc9","mode":"list","cachedResultUrl":"/workflow/D5xwgCduM5fXKVc9","cachedResultName":"ORÇAMENTO"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-3408,1872],"id":"3b84f44f-6652-4d8f-9ab6-8027ee3f18b4","name":"Call 'ORÇAMENTO'2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dados_para_atendimento_humano","type":"main","index":0}]]},"dados_para_atendimento_humano":{"main":[[{"node":"If","type":"main","index":0}]]},"Get a row1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Call 'ORÇAMENTO'","type":"main","index":0}],[{"node":"Call 'ORÇAMENTO'1","type":"main","index":0}],[{"node":"Call 'ORÇAMENTO'2","type":"main","index":0}]]},"Webhook":{"main":[[]]},"Switch1":{"main":[[{"node":"Atualiza rota OR","type":"main","index":0}],[{"node":"Atualiza rota NC","type":"main","index":0}],[],[{"node":"Get a row1","type":"main","index":0}]]},"Enviar texto1":{"main":[[]]},"Atualiza rota NC":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Atualiza rota OR":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Disparo programado":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.iatars.com.br","user-agent":"axios/1.12.2","content-length":"1185","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"69.62.90.88","x-forwarded-host":"webhook.iatars.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"af5f5215f88e","x-real-ip":"69.62.90.88"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Miguel","data":{"key":{"remoteJid":"5512988112870@s.whatsapp.net","remoteJidAlt":"127230202142790:56@lid","fromMe":false,"id":"3FFC62B0EC44DDE1333D"},"pushName":"Miguel Nunes","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":37,"1":26,"2":174,"3":239,"4":151,"5":32,"6":164,"7":41,"8":17,"9":87},"senderTimestamp":1760292152,"recipientKeyHash":{"0":60,"1":138,"2":87,"3":252,"4":73,"5":102,"6":164,"7":28,"8":11,"9":82},"recipientTimestamp":1760362632},"deviceListMetadataVersion":2},"conversation":"tem prensa manual de concreto?"},"contextInfo":{"mentionedJid":[],"groupMentions":[],"expiration":0,"ephemeralSettingTimestamp":0,"disappearingMode":{"initiator":0}},"messageType":"conversation","messageTimestamp":1760664095,"instanceId":"b3e06c02-d442-4f18-9378-06a1a50ee176","source":"desktop"},"destination":"https://webhook.iatars.com.br/webhook/test","date_time":"2025-10-16T22:21:35.306Z","sender":"5512991104413@s.whatsapp.net","server_url":"https://alberto-evoapi.grupoinfinityoficial.com.br","apikey":"E2FCFF7BE85E-40E7-BD4B-4AC95F6B3FED"},"webhookUrl":"https://webhook.iatars.com.br/webhook/test","executionMode":"production"}}],"dados_para_atendimento_humano":[{"json":{"Telefone":"5512988112870\n","Nome":"Miguel Nunes","status":"DELIVERY_ACK","mensagem":"#menu","MediaType":"conversation","APIKey":"E2FCFF7BE85E-40E7-BD4B-4AC95F6B3FED","fromMe":"false","instancia":"Miguel"}}]},"versionId":"5e861573-94d8-4e02-90fd-c18cc94ac5d2","triggerCount":1,"shared":[{"updatedAt":"2025-10-16T21:58:18.254Z","createdAt":"2025-10-16T21:58:18.254Z","role":"workflow:owner","workflowId":"uBP1bYWI3LYOyeDi","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"updatedAt":"2025-10-31T13:42:46.294Z","createdAt":"2025-10-31T13:42:46.294Z","id":"lp5X9BGZ8y8RWeA0","name":"Brasilsolos"}]}