uBP1bYWI3LYOyeDi.json
{"createdAt":"2025-10-16T21:58:18.254Z","updatedAt":"2025-11-02T14:22:06.785Z","id":"uBP1bYWI3LYOyeDi","name":"Roteador","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"99b7543d-e884-44d9-9a12-e5a2c082692b","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-144,448],"webhookId":"a70b623a-3c73-4e71-b77b-917fa39ebb20"},{"parameters":{"content":"# CAPTAÇÃO DE CLIENTES","height":80,"width":551.2183277924504,"color":5},"id":"abdd12b5-a777-4aa9-a8d9-1fb427325a38","name":"Sticky Note30","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1072,288]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,448],"id":"f420dfef-1d02-4acd-9644-85e4431875b1","name":"If9"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[448,656],"id":"15605e38-d788-4524-83ea-71c85fe43484","name":"Gerar sessionID1"},{"parameters":{"jsCode":"// Obtém os valores dos nós anteriores\nconst sessionid1 = $input.item.json.data;  // Do nó \"Gerar sessionID\"\nconst sessionid2 = $input.item.json.sessionid;  // Do nó \"Supabase\"\n\n// Retorna apenas o que existir, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,432],"id":"609fe6fb-4137-4e1a-ac1c-cbcaccfb99a2","name":"Code"},{"parameters":{"operation":"get","tableId":"dados_cliente_bs","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Get row(s) in sheet').item.json.PHONE }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[512,432],"id":"8c44235b-76fe-4c6a-b5f0-d76b85b59cb7","name":"Get Dados1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"maxItems":50},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-672,432],"id":"9f8963f1-40c6-4f94-ab2c-75443b046df2","name":"Limit"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-448,432],"id":"37756bb8-031f-4b1f-b5b3-75e451d65abb","name":"Loop Over Items1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-176,736],"id":"5f5ce10c-b880-40d2-993e-f795856ff30a","name":"Wait4","webhookId":"15c92725-42da-4abd-a2f6-9684fa783e2b"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1g6OG5-eSXNYucGV0kFaXAs9VJF7OsHvB2MpQiQjlpg4","mode":"list","cachedResultName":"ATK BS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g6OG5-eSXNYucGV0kFaXAs9VJF7OsHvB2MpQiQjlpg4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":373081038,"mode":"list","cachedResultName":"Plan1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g6OG5-eSXNYucGV0kFaXAs9VJF7OsHvB2MpQiQjlpg4/edit#gid=373081038"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Wait1').item.json.row_number }}","ENVIADO":"❌"},"matchingColumns":["row_number"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENVIADO","displayName":"ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"227414c8-a4ec-4e41-b575-0afb0e2f4abc","name":"ERRO","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1328,224],"credentials":{"googleSheetsOAuth2Api":{"id":"3UnmgZHxudzIzIkI","name":"IATARS - SHEETS"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1g6OG5-eSXNYucGV0kFaXAs9VJF7OsHvB2MpQiQjlpg4","mode":"list","cachedResultName":"ATK BS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g6OG5-eSXNYucGV0kFaXAs9VJF7OsHvB2MpQiQjlpg4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":373081038,"mode":"list","cachedResultName":"Plan1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g6OG5-eSXNYucGV0kFaXAs9VJF7OsHvB2MpQiQjlpg4/edit#gid=373081038"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Wait1').item.json.row_number }}","ENVIADO":"✅"},"matchingColumns":["row_number"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENVIADO","displayName":"ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"f0532d59-ba39-445f-b3e2-81cdea93e7ab","name":"SUCESS","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1408,704],"credentials":{"googleSheetsOAuth2Api":{"id":"3UnmgZHxudzIzIkI","name":"IATARS - SHEETS"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":12,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1056,432],"id":"873705eb-bbe5-457e-b421-eaf01618464d","name":"Disparo programado"},{"parameters":{"documentId":{"__rl":true,"value":"1g6OG5-eSXNYucGV0kFaXAs9VJF7OsHvB2MpQiQjlpg4","mode":"list","cachedResultName":"ATK BS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g6OG5-eSXNYucGV0kFaXAs9VJF7OsHvB2MpQiQjlpg4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":373081038,"mode":"list","cachedResultName":"Plan1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g6OG5-eSXNYucGV0kFaXAs9VJF7OsHvB2MpQiQjlpg4/edit#gid=373081038"},"filtersUI":{"values":[{"lookupColumn":"ENVIADO"}]},"options":{}},"id":"1dd219a5-f82f-437b-ada5-6aea0dbe07de","name":"Get row(s) in sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-848,432],"executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"3UnmgZHxudzIzIkI","name":"IATARS - SHEETS"}}},{"parameters":{"method":"POST","url":"https://back.grupoinfinityoficial.com.br/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fgnljgl1ad6y2zn93mww4"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ String($('Wait1').item.json.TELEFONE || '').replace(/[^0-9]/g, '') + '@s.whatsapp.net' }}"},{"name":"body","value":"=🚀 Brasil Solos apresenta inovação na Concrete Show 2025\n\nA Brasil Solos, sempre atenta às inovações que o mercado de engenharia necessita, traz uma novidade exclusiva: o BS&T, um software de gestão de ruptura de corpos de prova com controle tecnológico de rastreabilidade total.\n\nEssa solução foi criada para transformar a forma como laboratórios e construtoras acompanham seus ensaios, trazendo eficiência, precisão e segurança nos processos.\n\n👉 E o melhor: sem custo de implementação.\nSeja para conhecer mais sobre o software ou sobre nossos equipamentos de laboratório, fale com nosso consultor comercial ➡️ wa.me/5516992117367\nSegue apresentação : https://drive.google.com/file/d/1OMAfStsOCRVeF1M66hKStp5GU9JU2Mh_/view?usp=sharing"},{"name":"url","value":"https://iili.io/FyVLUlI.jpg"},{"name":"url","value":"https://iili.io/FyVQDhJ.jpg"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,432],"id":"bb6c8638-777a-42b0-89ba-61caf15d6c49","name":"HTTP Request","onError":"continueErrorOutput"},{"parameters":{"tableId":"dados_cliente_bs","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Wait1').item.json.phone.replace(/ /g, '').replace(/-/g, '') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[592,656],"id":"78761cd5-749e-45b6-9e71-4ec9c423dcdb","name":"Create a row","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"dados_cliente_bs","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Get row(s) in sheet').item.json.PHONE }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[48,448],"id":"2ad19627-6968-4a11-aea2-237ea5835c87","name":"Get a row","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://back.grupoinfinityoficial.com.br/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer fgnljgl1ad6y2zn93mww4"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"body","value":"={{ $('isdoijijd').item.json.analise }}"},{"name":"number","value":"5512988112870"}]},"options":{}},"id":"99f029ea-e197-42c9-9e5d-e4c07667a00e","name":"msg privada","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0]},{"parameters":{"method":"POST","url":"https://back.grupoinfinityoficial.com.br/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer fgnljgl1ad6y2zn93mww4"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=31988633298"},{"name":"body","value":"={{ $('isdoijijd').item.json.analise }}"}]},"options":{}},"id":"5fcacd77-669b-40ca-9d6e-4042cd071407","name":"msg privada3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,224]},{"parameters":{"options":{}},"id":"914701d3-795e-4794-9a3a-3756a504652d","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-352,2208]},{"parameters":{"amount":1},"id":"139717ee-0273-41c5-9958-11e6d78ef497","name":"1 segundo1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[448,2224],"webhookId":"dd50f2b3-f3fd-46c6-9f64-66141a69fdaf"},{"parameters":{"jsCode":"// Variável de entrada, idealmente verificada\nconst inputText = $json.output;\nlet messages = [];\n\n// 1. VERIFICAÇÃO DA ENTRADA\nif (typeof inputText !== 'string') {\n  // Opção: retornar um erro ou um resultado padrão.\n  // Exemplo: retornar mensagens vazias com um erro.\n  return [{ json: { messages: [], error: \"Input text ($json.output) is not a string or is missing.\" } }];\n  // Se preferir que o script continue com uma string vazia:\n  // inputText = \"\";\n}\n\nfunction isBudget(text) {\n  // A verificação de 'text' como string já foi feita no início.\n  const orçamentoPalavras = ['orçamento', 'escolher', 'escolhas', 'fechar', 'total geral'];\n  const linhas = text.split('\\n');\n  let blocosDeProduto = 0;\n\n  for (const linha of linhas) {\n    if (linha.includes('por R$')) blocosDeProduto++;\n  }\n\n  // Compara as palavras chave em minúsculas para robustez\n  const contemPalavraChave = orçamentoPalavras.some(p => text.toLowerCase().includes(p.toLowerCase()));\n  // Verifica se \"Qual dessas você prefere?\" aparece pelo menos 2 vezes.\n  const contemPerguntaPreferenciaMultipla = (text.split('Qual dessas você prefere?').length -1) >= 2;\n\n\n  return (\n    blocosDeProduto >= 3 ||\n    contemPalavraChave ||\n    contemPerguntaPreferenciaMultipla\n  );\n}\n\nfunction dividirMensagemNatural(texto, limite = 200) {\n  // A verificação de 'texto' como string já foi feita.\n  // Se o texto estiver vazio após trim, retorna array vazio.\n  if (texto.trim().length === 0) {\n    return [];\n  }\n\n  // Divide o texto em sentenças (partes)\n  const partes = texto\n    .split(/(?<=[.!?])\\s+/g) // Divide após pontuação seguida de espaço\n    .map(p => p.trim()) // Remove espaços extras de cada parte\n    .filter(p => p.length > 0); // Remove partes vazias\n\n  const mensagensFinais = [];\n  let bufferAtual = '';\n\n  for (const parte of partes) {\n    // CASO 1: A 'parte' (sentença) sozinha já excede o limite.\n    if (parte.length > limite) {\n      // Se havia algo no buffer, adiciona-o primeiro às mensagens.\n      if (bufferAtual.length > 0) {\n        mensagensFinais.push(bufferAtual);\n        bufferAtual = ''; // Limpa o buffer\n      }\n\n      // Agora, quebra a 'parte' longa.\n      // Estratégia: quebrar por palavras.\n      let palavrasDaParte = parte.split(/\\s+/g).filter(p => p.length > 0);\n      let subParteBuffer = '';\n      for (const palavra of palavrasDaParte) {\n        // Se uma única palavra já excede o limite (e o sub-buffer está vazio)\n        if (palavra.length > limite && subParteBuffer.length === 0) {\n          mensagensFinais.push(palavra); // Adiciona a palavra longa (pode-se truncar se necessário)\n          // subParteBuffer continua vazio para a próxima palavra\n        }\n        // Tenta adicionar a palavra ao sub-buffer atual\n        else if ((subParteBuffer + (subParteBuffer ? ' ' : '') + palavra).length <= limite) {\n          subParteBuffer = (subParteBuffer + (subParteBuffer ? ' ' : '') + palavra);\n        }\n        // Não coube, então descarrega o sub-buffer e inicia um novo com a palavra atual.\n        else {\n          if (subParteBuffer.length > 0) {\n            mensagensFinais.push(subParteBuffer);\n          }\n          subParteBuffer = palavra; // Esta palavra pode ser > limite, será tratada na próxima iteração ou no push final\n        }\n      }\n      // Adiciona o que sobrou no subParteBuffer da sentença longa\n      if (subParteBuffer.length > 0) {\n        mensagensFinais.push(subParteBuffer);\n      }\n      // O buffer principal deve estar vazio aqui, pois a 'parte' longa foi totalmente processada.\n      bufferAtual = '';\n    }\n    // CASO 2: A 'parte' (sentença) NÃO excede o limite por si só.\n    else {\n      const tentativaComBuffer = (bufferAtual + (bufferAtual ? ' ' : '') + parte);\n      if (tentativaComBuffer.length <= limite) {\n        // Cabe no buffer atual ou com o buffer atual.\n        bufferAtual = tentativaComBuffer;\n      } else {\n        // Não cabe com o buffer atual. Descarrega o buffer.\n        if (bufferAtual.length > 0) {\n          mensagensFinais.push(bufferAtual);\n        }\n        // A 'parte' atual (que sabemos ser <= limite) se torna o novo buffer.\n        bufferAtual = parte;\n      }\n    }\n  }\n\n  // Adiciona o que restou no buffer no final de todas as partes.\n  if (bufferAtual.length > 0) {\n    mensagensFinais.push(bufferAtual);\n  }\n\n  return mensagensFinais;\n}\n\n// LÓGICA PRINCIPAL\nif (isBudget(inputText)) {\n  // Se for orçamento, junta tudo numa mensagem, trocando quebras de linha por espaço.\n  messages.push(inputText.replace(/\\n+/g, ' ').trim());\n} else {\n  // Senão, divide a mensagem.\n  messages = dividirMensagemNatural(inputText, 200); // Limite pode ser passado aqui se diferente do default\n}\n\nreturn [{ json: { messages } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,2208],"id":"b5d9fa00-3356-433a-b990-809eb0cca0a0","name":"Code4"},{"parameters":{"operation":"delete","key":"={{ $('Code3').item.json.sessionId }}"},"id":"cda98005-34a5-4241-9049-d21e396fd732","name":"Delete Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-80,2064],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"useCustomSchema":true,"schema":"TMC_Marcel","operation":"get","tableId":"=dados_cliente_tmc_Marcel","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Webhook EVO').item.json.body.ticket.contact.number }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-832,-192],"id":"e219246a-3323-4c55-b993-38064dd97525","name":"Get a row3","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"operation":"delete","tableId":"n8n_chat_histories_bs","filters":{"conditions":[{"keyName":"session_id","condition":"eq","keyValue":"={{ $json.sessionid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-576,-192],"id":"bfdb85a1-b225-46f7-9380-3d7c891972a6","name":"Delete a row3","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"operation":"delete","tableId":"chat_messages_bs","filters":{"conditions":[{"keyName":"conversation_id","condition":"eq","keyValue":"={{ $json.sessionid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-576,-368],"id":"0eb3bfaa-35e0-48d4-9130-ee72d2b35cee","name":"Delete a row4","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"operation":"delete","tableId":"dados_cliente_bs","filters":{"conditions":[{"keyName":"sessionid","condition":"eq","keyValue":"={{ $json.sessionid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-576,0],"id":"115907de-0f87-4ee8-9d3f-ed1bd720ec2c","name":"Delete a row5","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"jsCode":"// Gera data de hoje em formato YYYY-MM-DD (ou outro que preferir)\nconst hoje = new Date();\nconst dataFormatada = hoje.toLocaleDateString('pt-BR'); \n// exemplo: 20/08/2025\n\n// ⚙️ Coleta dos registros (mesma lógica anterior)\nconst inItems = $input.all().map(i => i.json);\nlet registros = [];\n\nif (inItems.length && inItems.every(r => r && (r.ENVIADO !== undefined) && (r.row_number !== undefined))) {\n  registros = inItems.map(r => ({\n    row: Number(r.row_number),\n    status: String(r.ENVIADO)\n  }));\n} else {\n  const c = inItems[0] || {};\n  const arr = c.lista || c.rows || c.data || c.items || c.ENVIADOS || [];\n  if (Array.isArray(arr)) {\n    registros = arr.map(r => ({\n      row: Number(r.row_number ?? r.row ?? r.id ?? r.index ?? 0),\n      status: String(r.ENVIADO ?? r.status ?? r.ok ?? '')\n    }));\n  }\n}\n\nregistros = registros\n  .filter(r => Number.isFinite(r.row))\n  .sort((a, b) => a.row - b.row);\n\nconst isSucesso = (s) => {\n  const t = String(s).toLowerCase().trim();\n  return t.includes('✅') || t.includes('✔') || t.includes('✓') ||\n         ['ok','sucesso','success','true','1','sent','enviado','done'].includes(t);\n};\n\nconst total = registros.length;\nconst okRows = registros.filter(r => isSucesso(r.status)).map(r => r.row);\nconst failRows = registros.filter(r => !isSucesso(r.status)).map(r => r.row);\n\nconst entregues = okRows.length;\nconst falhas = failRows.length;\nconst taxa = total ? Number(((entregues / total) * 100).toFixed(1)) : 0;\n\nlet longestFail = 0, current = 0, bestStart = null, currentStart = null;\nfor (const r of registros) {\n  if (!isSucesso(r.status)) {\n    current++;\n    if (current === 1) currentStart = r.row;\n    if (current > longestFail) {\n      longestFail = current;\n      bestStart = currentStart;\n    }\n  } else {\n    current = 0;\n    currentStart = null;\n  }\n}\n\n// 🗣️ Relatório com data\nconst analise = [\n  `📅 Relatório ${dataFormatada}`,\n  `📊 Processadas ${total} mensagens.`,\n  `✅ Entregues: ${entregues}`,\n  `❌ Falhas: ${falhas}`,\n  `🎯 Taxa de entrega: ${taxa}%`,\n  longestFail > 1 ? `⚠️ Maior sequência de falhas: ${longestFail} (a partir da linha ${bestStart}).` : null,\n  failRows.length ? `🔎 Revise rapidamente as linhas com falha: ${failRows.join(', ')}.` : null\n].filter(Boolean).join('\\n');\n\nreturn [\n  {\n    json: {\n      data: dataFormatada,\n      total,\n      entregues,\n      falhas,\n      taxa_entrega_pct: taxa,\n      linhas_ok: okRows,\n      linhas_falha: failRows,\n      streak_falha: { tamanho: longestFail, inicia_na_linha: bestStart },\n      analise\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,128],"id":"bf5113e4-8999-414b-9c9d-3df396e62245","name":"isdoijijd"},{"parameters":{"promptType":"define","text":"={{ $json.conversation }}","options":{"systemMessage":"=# TARS-BS - Prompt (v3.7 revisado)\n\n## 0) CoT interno - fluxo natural (não exibir ao usuário)\n\nUse como roteiro interno. Nunca exponha ao usuário.\n\n1. **Início**: quando o vendedor disser “novo orçamento”, dar boas-vindas e perguntar de forma natural: “Qual o CNPJ do cliente?”\n2. **Verificação de cliente**: chamar `Busca_cliente(cnpj)`.\n\n   * Se encontrar → salvar `id_cliente` e confirmar com o vendedor (ex.: “Cliente Teste 2 localizado — ID 4587. Confirma?”).\n   * Se não encontrar → avisar: “Sem cadastro. Posso seguir, mas não será gerado nº de pedido. Para lançar no sistema, preciso do CNPJ cadastrado.”\n3. **Abrir orçamento**: após validar CNPJ, explicar ao vendedor: “Vamos rodar de 10 em 10 itens para organizar melhor. Pode me passar a primeira lista?”\n4. **Processar itens**:\n\n   * Fluxo Conversacional (1–2 itens) ou Direto (lista maior).\n   * Para cada item: se faltar dado técnico → perguntar em linha única (não binária).\n   * Buscar com `Busca_codigo`. Se vazio → aplicar tratamento de não localizados.\n5. **Conferência com o vendedor**: a cada bloco de 10 itens, confirmar se os preços estão corretos e se podemos seguir.\n6. **Finalização de orçamento**: quando todos os itens estiverem confirmados, apresentar a proposta consolidada.\n7. **Inserção de pedido** (se cliente válido e aprovado): Montar payload JSON para `inserir_pedido` com `{codigo_produto, quantidade, cnpj_cliente}`.\n\n   * Chamar `inserir_pedido`.\n   * Receber nº do pedido → confirmar com o vendedor: “Pedido nº XXXX criado.\n8. **Encerramento**: curto, positivo, parceiro.\n\n---\n\n## 1) Persona\n\n* **Nome:** TARS-BS\n* **Função:** Copiloto de orçamentos do time comercial (cotação rápida e proposta formatada).\n* **Tom:** curto, direto, colaborativo. Frases enxutas, humanas, **sem emoticons**.\n* **Estilo:** conversa de parceiro de vendas — natural, sem parecer robô.\n* **Tiques verbais (uso parcimonioso):** “Fechado.”, “Anotado.”, “Ok.”\n\n---\n\n## 2) Princípios de Comunicação\n\n* **Sem repetição**: não repetir instruções já dadas.\n* **Inferir primeiro; perguntar só se ambíguo** (máx. 1 vez por sessão).\n* **Perguntas intencionais**: sempre pedir o dado técnico que destrava a busca.\n* **Naturalidade**: falar como colega de vendas, guiando o processo.\n* **Clareza**: uma pergunta por vez, objetiva.\n* **Não listar catálogo**: em falha, apontar só o item problemático.\n\n---\n\n## 3) Modo de Operação\n\n* **Inferência padrão:**\n\n  * Lista maior ou palavra “proposta”/“orçamento” → **Direto**.\n  * 1–2 itens avulsos ou “quanto sai” → **Conversacional**.\n* **Persistência de modo:** manter `modo_atual` até o usuário mudar.\n* **Fallback único:** se ambíguo no primeiro contato, perguntar: “Quer preços agora ou proposta final?”\n\n---\n\n## 4) Procedimento Operacional\n\n### 4.0 Verificação de Cliente\n\n* Sempre pedir o **CNPJ** no início.\n* Se cliente existir → confirmar nome e ID.\n* Se não existir → avisar que não haverá nº de pedido.\n\n### 4.1 Definir modo\n\nDefinir pelo contexto. Usar fallback se necessário.\n\n### 4.2 Modo Conversacional\n\n* Processar item a item.\n* Se precisar, pedir 1 dado técnico.\n* Buscar com `Busca_codigo`.\n* Se vazio → seguir §4.4.\n\n### 4.3 Modo Direto\n\n* Coletar lista.\n* Classificar em completos vs pendentes.\n* Pedir dados mínimos dos pendentes em bloco.\n* Buscar e consolidar.\n* Restando não localizados → listar em seção.\n\n### 4.4 Tratamento de Itens Não Localizados\n\n* Apontar só o item problemático.\n* Pedir dado mínimo.\n* Se ainda vazio → incluir no fechamento com dica.\n\n### 4.5 Finalização\n\n* Consolidar itens, serviços e totais.\n* Incluir seção de não localizados.\n* Encerrar curto.\n* Se aprovado e cliente válido → ir para criação do pedido.\n\n### 4.6 Criação do Pedido\n\n* Usar apenas `id_cliente` e lista de produtos.\n* Montar payload JSON no formato rígido abaixo e enviar para a tool `inserir_pedido`:\n\n```json\n{\n  \"id_cliente\": \"<ID retornado pela busca_cliente>\",\n  \"produtos\": [\n    {\n      \"codigo_produto\": \"<código do produto>\",\n      \"quantidade\": <número>\n    }\n  ]\n}\n```\n\n* Nunca alterar a estrutura.\n* Preencher apenas com valores confirmados na conversa.\n* Após retorno da tool com nº de pedido, confirmar com o vendedor e encerrar com mensagem motivacional curta.\n\n---\n\n## 5) Perguntas de Clarificação — Padrão\n\n* Sempre técnicas, nunca sim/não.\n* Ex.: “Capacidade em kg e resolução em g (ex.: 15 kg / 1 g)?”\n* Ex.: “Prensa manual/elétrica e diâmetro do molde (ex.: 6”)?”\n\n---\n\n## 6) Educação do Usuário\n\n* **Como especificar melhor**: instrução objetiva curta.\n* **Melhoria do modelo**: incentivo a nome técnico + futuro multimídia.\n\n---\n\n## 7) Formato de Saída Final\n\n```text\n🧾 Orçamento Gerado\n\nEquipamentos:\n1) [Nome do Item] ([Código])\n • Quantidade: [Qtd]\n • Valor unitário: R$ [Valor]\n • Valor total: R$ [Valor]\n\n---\n⚠️ Itens não localizados:\n– [Rótulo]\n  • Como especificar melhor: [dica]\n  • Melhoria do modelo: Nome técnico ajuda; suporte futuro multimídia.\n\n---\n💰 Total Geral da Proposta: R$ [Soma]\n\nPedido nº [XXXX] criado (quando aplicável).\n\n[Ajustes? Me diga só o item.]\n```\n\n---\n\n## 8) Exemplos de Interação\n\n* **Novo orçamento**: “Beleza, vamos começar. Qual o CNPJ do cliente?”\n* **Sem cadastro**: “Esse CNPJ não está no sistema. Posso seguir sem gerar nº de pedido, mas para registrar preciso de um CNPJ válido.”\n* **Cliente encontrado**: “Cliente Teste 2 localizado — ID 4587. Confirma para seguir?”\n* **Itens em bloco**: “Mande até 10 itens por vez para ficar organizado.”\n* **Conferência**: “Esses preços estão ok para seguir?”\n* **Pedido criado**: “Pedido nº 12345 criado. Boa sorte na venda! Força total.”\n\n---\n\n## 9) Notas Importantes\n\n* Sempre validar cliente primeiro.\n* Guiar o vendedor com naturalidade.\n* Nunca listar catálogo.\n* Confirmar blocos de itens.\n* Encerrar com mensagem curta e positiva.\n\n---\n\n## 10) Integração com Ferramentas\n\n* **Busca_cliente**: recebe CNPJ → retorna `{id_cliente, nome, status}`.\n* **Busca_codigo**: recebe rótulo do usuário → retorna `{código, nome_técnico, preço}`.\n* **Inserir_pedido**: recebe payload JSON `{codigo_produto, quantidade, cnpj_cliente}` → retorna nº do pedido.\n* Se vazio → aplicar tratamento de não localizados.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1168,2208],"id":"4614f63a-0e67-43f9-b9a3-0214a55473ff","name":"AI Agent","alwaysOutputData":true,"executeOnce":false},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1312,2432],"id":"1240ec8e-015f-4cba-a56f-0ef589b6e72e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"description":"utilize essa toll para buscar os produtos","workflowId":{"__rl":true,"value":"L2tXjP8G6VrvX8iE","mode":"list","cachedResultUrl":"/workflow/L2tXjP8G6VrvX8iE","cachedResultName":"busca_codigo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Item":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Item', ``, 'string') }}"},"matchingColumns":["Item"],"schema":[{"id":"Item","displayName":"Item","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-992,2432],"id":"2fd99313-00d2-440c-86df-16b4179a62e4","name":"busca_codigo"},{"parameters":{"description":"responsavel por enviar o CNPJ para o sistema e retornar com os dados do cliente","workflowId":{"__rl":true,"value":"xUaL6CRaTOFRkn61","mode":"list","cachedResultName":"BUSCA CNPJ"},"workflowInputs":{"mappingMode":"defineBelow","value":{"CNPJ":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CNPJ', ``, 'string') }}"},"matchingColumns":["CNPJ"],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-832,2432],"id":"a8246759-8adf-4ce8-8284-2805537187fa","name":"Busca_cliente1"},{"parameters":{"description":"INSERE AS INFORMAÇÕES NO ERP","workflowId":{"__rl":true,"value":"Zj712qAd1pHXja90","mode":"list","cachedResultName":"Insere pedido no ERP"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_cliente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_cliente', ``, 'string') }}","produtos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('produtos', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"id_cliente","displayName":"id_cliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"produtos","displayName":"produtos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-672,2432],"id":"d98daecf-da88-4dc8-84fd-9645ab1134d6","name":"Inserir_pedido1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('dados_para_atendimento_humano').item.json.Telefone }}","tableName":"n8n_chat_histories_BS","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1152,2432],"id":"e403491b-d684-4937-9095-242629378187","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"Postgres account"}}},{"parameters":{"jsCode":"// Obtém os valores dos nós anteriores\nconst sessionid1 = $input.item.json.data;  // Do nó \"Gerar sessionID\"\nconst sessionid2 = $input.item.json.sessionid;  // Do nó \"Supabase\"\n\n// Retorna apenas o que existir, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3760,2096],"id":"195509da-960f-49c9-8420-d488cc2e276f","name":"Code3"},{"parameters":{"operation":"get","tableId":"dados_cliente_bs","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4192,2000],"id":"5c4a0800-4bde-4848-8163-8a2d49353d30","name":"Get Dados2","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"tableId":"dados_cliente_bs","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('dados_para_atendimento_humano').item.json.number }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4096,2240],"id":"03a33362-061d-45c6-9e49-4485b7cfc115","name":"Supabase3","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-4272,2240],"id":"c0db4de7-2eec-410f-b853-9b867838d034","name":"Gerar sessionID2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4560,2112],"id":"21ba07c7-9d19-4502-b5f1-e281ed6794f8","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1040,-192],"id":"01fdd435-4a29-4454-92db-6839cb54a35e","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"push","list":"={{ $json.sessionId }}","messageData":"={{ $('dados_para_atendimento_humano').item.json.mensagem }}","tail":true},"id":"be66c1d3-6211-4227-87b1-c7108566b670","name":"Text Memory2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2576,2112],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"02149484-9745-46bc-9b12-80178844f4a1","name":"Compara Get Memory","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1632,2224]},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory ').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"8f210f01-a40a-4838-8872-da7cc4cb4921","name":"Edit Fields11","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1792,2224]},{"parameters":{},"id":"c9249832-ca82-47a6-97b6-23b10e9e1b58","name":"Wait5","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2112,2224],"webhookId":"d2608e95-2419-4f68-af29-8aa4483c7b30","disabled":true},{"parameters":{"operation":"get","key":"={{ $('Code3').item.json.sessionId }}","options":{}},"id":"7afc6771-2a4d-4643-b7a7-3ae591f883c0","name":"Get Memory ","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2272,2224],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Code3').item.json.sessionId }}","options":{}},"id":"f26341fc-5276-4d12-9278-ab5687f73bea","name":"Get Memory 3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1952,2224],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"jsCode":"/**\n * Recebe items contendo campos Redis1 e Redis2 como strings JSON de arrays de mensagens.\n * Analisa ambos, une apenas as mensagens diferentes (sem duplicatas) e retorna uma única string.\n */\nfunction mergeUniqueMessages(items) {\n  // Obtém as strings brutas\n  const raw1 = items[0].json.Redis1;\n  const raw2 = items[0].json.Redis2;\n\n  // Função para parsear com segurança\n  function safeParse(raw) {\n    if (!raw) return [];\n    try {\n      const parsed = JSON.parse(raw);\n      return Array.isArray(parsed) ? parsed : [parsed];\n    } catch {\n      return [raw];\n    }\n  }\n\n  // Parse das duas fontes\n  const arr1 = safeParse(raw1);\n  const arr2 = safeParse(raw2);\n\n  // Une e remove duplicatas mantendo ordem de ocorrência\n  const unique = [];\n  [...arr1, ...arr2].forEach(msg => {\n    if (!unique.includes(msg)) unique.push(msg);\n  });\n\n  // Junta numa única conversa\n  const conversation = unique.join(' ');\n\n  return [{ json: { conversation } }];\n}\n\n// No n8n Function Node, basta retornar:\nreturn mergeUniqueMessages(items);\n"},"id":"f07526ab-e230-41b6-8718-2ebfadadfa8e","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,2208]},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"=data","destinationKey":"=data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3120,2240],"id":"b45004bd-50da-4bbe-910a-b1a4ac5ff64b","name":"Extract from File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"37fe8b85-3c31-49e8-a411-487f9fb24420","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2784,2240],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2944,2240],"id":"b5399601-dedf-40b5-b599-e8cfd656b211","name":"Convert to File3"},{"parameters":{"operation":"push","list":"={{ $('Code5').item.json.sessionId }}","messageData":"={{ $json.text }}","tail":true},"id":"cbb26213-dc6f-4cce-980a-1117e774f5fc","name":"Audio Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2576,2240],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Code5').item.json.sessionId }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"79402c5b-d97e-4b02-a546-5ec979a601a0","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2576,2400],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"=Extraia e normalize todos os itens, separando nome, quantidade e unidade. Organize tudo em uma lista clara e completa, sem omitir nenhum item.","inputType":"base64","options":{}},"id":"db1228c4-75aa-4ec5-ab77-1d08cb970cae","name":"OpenAI6","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2784,2400],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"320e4453-4773-471e-863d-a736de2fbff3","leftValue":"={{ $('dados_para_atendimento_humano').item.json.MediaType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"77507905-2987-4aca-9840-4b989f562307","leftValue":"={{ $('dados_para_atendimento_humano').first().json.MediaType }}","rightValue":"=text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('dados_para_atendimento_humano').item.json.MediaType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.audio.mimeType }}","rightValue":"=audio/ogg; codecs=opus","operator":{"type":"string","operation":"contains"},"id":"839edd08-57e9-4dc3-abdd-1950e09e1572"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook').item.json.body.image.mimeType }}","rightValue":"image/jpeg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem/jpeg"}]},"options":{}},"id":"43adfefd-0ad4-4df8-a851-e2ebf68064f9","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3536,2048]},{"parameters":{"url":"={{ $('Webhook EVO').item.json.body.audio.audioUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F14b565a1ea3a4889a790ee3b13069c4bS"}]},"options":{}},"id":"e3f37711-d55e-4da3-b207-bab3aedca2da","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3280,2240]},{"parameters":{"url":"={{ $('Webhook EVO').item.json.body.image.imageUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F14b565a1ea3a4889a790ee3b13069c4bS"}]},"options":{}},"id":"f464b84d-4af7-4730-8592-cc755601dc92","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3280,2400]},{"parameters":{"assignments":{"assignments":[{"id":"f8ccd10b-1b4e-411a-bbaa-4309b3b3674c","name":"Telefone","value":"={{ $json.body.data.key.remoteJid.replace(/@.*$/, '')}}\n","type":"string"},{"id":"59c45e98-ef1f-40c7-89ee-8ad95c526a47","name":"Nome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"c549ede8-9aaa-4967-a4aa-6161b8359c88","name":"status","value":"={{ $json.body.data.status }}","type":"string"},{"id":"cc803d9f-a567-49a6-862b-eafb26530a5f","name":"baseUrl","value":"={{ $json.body.ticket.whatsapp.baseUrl }}","type":"string"},{"id":"fb52083d-7ecc-4500-ae99-6ac10f890eb6","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"a35923ee-5a33-457e-865a-ec18797bdbdc","name":"MediaType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"3dc8b5fc-1dd8-4ed7-9148-1c61361667e6","name":"Loja","value":"=teste","type":"string"},{"id":"52785e95-c1de-4e99-9351-5c00b66625ed","name":"APIKey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"ce712495-0c1b-4204-b906-eedeb6adaf6c","name":"fromMe","value":false,"type":"boolean"},{"id":"b02a1dc1-7701-4000-b741-64f055162c1f","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"string"},{"id":"39d5db02-688b-4acc-b948-0e33ea39367f","name":"instancia","value":"={{ $json.body.instance }}","type":"string"}]},"options":{}},"id":"b83057eb-25c3-4c72-b0ae-936ab8489b41","name":"dados_para_atendimento_humano","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4816,1488]},{"parameters":{"useCustomSchema":true,"schema":"BS_Marcelo","operation":"get","tableId":"Verificar_atendimento","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3968,1680],"id":"d288d885-81fd-4838-8edc-9b6fddc285cc","name":"Get a row1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.rota }}","rightValue":"orcamento","operator":{"type":"string","operation":"equals"},"id":"27ae88df-d70d-4845-83ff-586d22f1a4ff"}],"combinator":"and"},"renameOutput":true,"outputKey":"Orçamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b129ab39-b627-4e92-ad42-e0e9c85b63ee","leftValue":"={{ $json.rota }}","rightValue":"triagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Triagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83409dab-e21e-42a6-af5c-ea283a46f704","leftValue":"={{ $json.rota }}","rightValue":"nc","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Não Conformidade"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-3744,1664],"id":"ade53881-c5c9-4200-87d8-1d69a962aecc","name":"Switch"},{"parameters":{"resource":"messages-api","instanceName":"=Miguel teste","remoteJid":"={{ $('dados_para_atendimento_humano').item.json.Telefone }}","messageText":"Digite 1 para fazer um orçamento ou 2 para registrar uma não conformidade","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3264,1680],"id":"b51dadac-3714-404f-b4ba-f028d72a87a8","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}}},{"parameters":{"httpMethod":"POST","path":"BrasilSolos","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5024,1488],"id":"7d88631a-07f7-4c18-babe-2469ab409fbd","name":"Webhook","webhookId":"b1590a66-d6fd-46b5-b16b-e97cf4111c6c"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.mensagem }}","rightValue":"1","operator":{"type":"string","operation":"equals"},"id":"b2476faf-bb1c-400b-a84c-ee36356301a9"}],"combinator":"and"},"renameOutput":true,"outputKey":"orcamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"32734ef0-2d81-4ff2-84b7-cc3467b2576d","leftValue":"={{ $json.mensagem }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Não conformidade"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f321c967-f1a0-4d3b-a32d-01f5aa4071ea","leftValue":"={{ $json.mensagem }}","rightValue":"3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Projetos"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-4208,1456],"id":"01502f1a-5227-4636-a977-1432048eeaaa","name":"Switch1"},{"parameters":{"resource":"messages-api","instanceName":"=Miguel teste","remoteJid":"={{ $('dados_para_atendimento_humano').item.json.Telefone }}","messageText":"rota definida, agora você esta no sistema de orçamentos","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3760,1136],"id":"0304a9c7-f7bf-41a3-9770-012cedb310e7","name":"Enviar texto","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}}},{"parameters":{"resource":"messages-api","instanceName":"=Miguel","remoteJid":"={{ $('dados_para_atendimento_humano').item.json.Telefone }}","messageText":"rota definida, agora você esta no sistema de não conformidade","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3760,1472],"id":"5b0685a2-1291-4a3b-8f68-3cc0a016081e","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}}},{"parameters":{"resource":"messages-api","instanceName":"=Miguel teste","remoteJid":"={{ $('dados_para_atendimento_humano').item.json.Telefone }}","messageText":"={{ $('AI Agent').item.json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[80,2224],"id":"6a07d006-3d9f-436e-82de-173073909d12","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"Xx4jQhUhgujRIecl","name":"MIGUEL TESTE"}}},{"parameters":{"useCustomSchema":true,"schema":"BS_Marcelo","operation":"update","tableId":"Verificar_atendimento","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"rota","fieldValue":"nc"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3968,1472],"id":"a5f3ce30-8e8b-4cea-b85d-270201315975","name":"Atualiza rota NC","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"BS_Marcelo","operation":"update","tableId":"Verificar_atendimento","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"rota","fieldValue":"orcamento"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3952,1136],"id":"33f43e69-453f-468d-977d-90c8124521d9","name":"Atualiza rota OR","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2768211a-31bc-4f21-a92b-fe56ef053470","leftValue":"={{ $json.mensagem }}","rightValue":"#menu","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4608,1488],"id":"d158ff64-89bc-455e-8424-be4a23723078","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"06a0f39d-d7fe-4841-9147-7b9677b5544e","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4400,1392],"id":"da55f84f-d1dc-4201-a4bb-52641023a429","name":"Edit Fields"}],"connections":{"Wait1":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"If9":{"main":[[{"node":"Get Dados1","type":"main","index":0}],[{"node":"Gerar sessionID1","type":"main","index":0}]]},"Gerar sessionID1":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Get Dados1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"isdoijijd","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"ERRO":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"SUCESS":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Disparo programado":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Limit","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"SUCESS","type":"main","index":0}],[{"node":"ERRO","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Code","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"If9","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Delete Memory1","type":"main","index":0}],[{"node":"Enviar texto3","type":"main","index":0}]]},"1 segundo1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a row3":{"main":[[{"node":"Delete a row3","type":"main","index":0},{"node":"Delete a row4","type":"main","index":0},{"node":"Delete a row5","type":"main","index":0}]]},"isdoijijd":{"main":[[{"node":"msg privada3","type":"main","index":0},{"node":"msg privada","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code4","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"busca_codigo":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Busca_cliente1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Inserir_pedido1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Code3":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Get Dados2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Supabase3":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Gerar sessionID2":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"If2":{"main":[[{"node":"Get Dados2","type":"main","index":0}],[{"node":"Gerar sessionID2","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get a row3","type":"main","index":0}]]},"Text Memory2":{"main":[[{"node":"Get Memory ","type":"main","index":0}]]},"Compara Get Memory":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Compara Get Memory","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Get Memory 3","type":"main","index":0}]]},"Get Memory ":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Get Memory 3":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Audio Memory","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory ","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Get Memory ","type":"main","index":0}]]},"OpenAI6":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Switch2":{"main":[[],[{"node":"Text Memory2","type":"main","index":0}],[{"node":"Text Memory2","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"OpenAI6","type":"main","index":0}]]},"dados_para_atendimento_humano":{"main":[[{"node":"If","type":"main","index":0}]]},"Get a row1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Enviar texto1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"dados_para_atendimento_humano","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Atualiza rota OR","type":"main","index":0}],[{"node":"Atualiza rota NC","type":"main","index":0}],[],[{"node":"Get a row1","type":"main","index":0}]]},"Enviar texto1":{"main":[[]]},"Enviar texto3":{"main":[[{"node":"1 segundo1","type":"main","index":0}]]},"Atualiza rota NC":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Atualiza rota OR":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Disparo programado":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.iatars.com.br","user-agent":"axios/1.12.2","content-length":"1185","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"69.62.90.88","x-forwarded-host":"webhook.iatars.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"af5f5215f88e","x-real-ip":"69.62.90.88"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Miguel","data":{"key":{"remoteJid":"5512988112870@s.whatsapp.net","remoteJidAlt":"127230202142790:56@lid","fromMe":false,"id":"3FFC62B0EC44DDE1333D"},"pushName":"Miguel Nunes","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":37,"1":26,"2":174,"3":239,"4":151,"5":32,"6":164,"7":41,"8":17,"9":87},"senderTimestamp":1760292152,"recipientKeyHash":{"0":60,"1":138,"2":87,"3":252,"4":73,"5":102,"6":164,"7":28,"8":11,"9":82},"recipientTimestamp":1760362632},"deviceListMetadataVersion":2},"conversation":"tem prensa manual de concreto?"},"contextInfo":{"mentionedJid":[],"groupMentions":[],"expiration":0,"ephemeralSettingTimestamp":0,"disappearingMode":{"initiator":0}},"messageType":"conversation","messageTimestamp":1760664095,"instanceId":"b3e06c02-d442-4f18-9378-06a1a50ee176","source":"desktop"},"destination":"https://webhook.iatars.com.br/webhook/test","date_time":"2025-10-16T22:21:35.306Z","sender":"5512991104413@s.whatsapp.net","server_url":"https://alberto-evoapi.grupoinfinityoficial.com.br","apikey":"E2FCFF7BE85E-40E7-BD4B-4AC95F6B3FED"},"webhookUrl":"https://webhook.iatars.com.br/webhook/test","executionMode":"production"}}]},"versionId":"59226eeb-73cf-4128-a023-b163d561010b","triggerCount":2,"shared":[{"createdAt":"2025-10-16T21:58:18.254Z","updatedAt":"2025-10-16T21:58:18.254Z","role":"workflow:owner","workflowId":"uBP1bYWI3LYOyeDi","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"createdAt":"2025-10-31T13:42:46.294Z","updatedAt":"2025-10-31T13:42:46.294Z","id":"lp5X9BGZ8y8RWeA0","name":"Brasilsolos"}]}