UEyovyDpuQdYNvHb.json
{"updatedAt":"2026-03-02T02:15:00.515Z","createdAt":"2026-02-28T19:25:20.663Z","id":"UEyovyDpuQdYNvHb","name":"ATENDIMENTO_UNIFICADO","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"tarsatendimento","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-256],"id":"69c5bb59-a980-43f9-9711-4c161b773a4f","name":"Webhook","webhookId":"3731a4ec-7ee7-4a02-89e3-0c6c43e68084"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Session ID').first().json.sessionid }}","tableName":"n8n_chat_histories_tmc","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[5184,128],"id":"d4e82012-7519-4e88-bd38-ea30e0783c81","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[5424,128],"id":"6ccebdd0-7bfd-45f9-99d9-960c3596e38e","name":"Calculadora1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5024,128],"id":"e629db25-42ac-4734-8977-f785a07e0baf","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"description":"Busca preco de cores TINTOMETRICAS (cores personalizadas que nao existem prontas no catalogo).\n\nQUANDO USAR: Quando o cliente pedir uma COR ESPECIFICA que NAO foi encontrada no catalogo (ex: azul royal, verde musgo, bege, terracota). NAO use para cores basicas que ja existem no catalogo (branco, preto).\n\nPARAMETROS:\n- Marca: marca da tinta (ex: suvinil, coral, tmc)\n- Cor: nome da cor pedida (ex: azul royal, verde musgo)\n- Volume: volume pedido (ex: 3,6L, 18L)\n- Acabamento: acabamento pedido (ex: fosco, acetinado, brilhante)\n- linha: tipo do produto. Use \"esmalte\" quando o cliente pediu ESMALTE. Deixe vazio para tinta acrilica de parede.\n- codigoCor: deixe vazio, sera preenchido automaticamente\n\nIMPORTANTE sobre ESMALTE:\n- Se o cliente pediu esmalte e a cor NAO existe no catalogo, passe linha = \"esmalte\"\n- Isso garante que o tintometrico retorne esmalte e NAO tinta acrilica\n- Para tinta de parede normal, deixe linha vazio","workflowId":{"__rl":true,"value":"IRWCOFc2FMBB7r5k","mode":"list","cachedResultUrl":"/workflow/IRWCOFc2FMBB7r5k","cachedResultName":"TINTOMETRICO_MULTITENANT"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","Volume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Volume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","empresa_id":"={{ $('Identifica Empresa').item.json.empresa_id }}","linha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('linha', ``, 'string') }}","Base":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Base', ``, 'string') }}","superfície":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('superf_cie', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Volume","displayName":"Volume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Base","displayName":"Base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"superfície","displayName":"superfície","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"linha","displayName":"linha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5824,128],"id":"1ae635bd-c187-46dd-8591-29cb940f2658","name":"preco_tintometrico"},{"parameters":{"operation":"delete","key":"={{ $('Session ID').first().json.sessionid }}"},"id":"57b57178-3a94-43a1-ba90-f961cdcd044f","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[6272,-192],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1200,16],"id":"bfe750d5-708d-4045-8008-5290197717a6","name":"No Operation, do nothing"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').first().json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55{{ $('Data').first().json.Telefone }}"},{"name":"text","value":"={{ $('TARS').item.json.output }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[6080,-192],"id":"3a55702d-0a93-4618-b9c5-87ae9f1155f3","name":"Envia MSG"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1792,-64],"id":"3b0d4ecc-895a-42f6-b579-2a82d3394a2e","name":"Gera ID"},{"parameters":{"operation":"executeQuery","query":"SELECT telefone, nome, sessionid, origem, loja_id, codigo_loja\nFROM \"Controle_TMC\".leads_origem\nWHERE telefone = '{{ $('Data').item.json.Telefone }}'\n  AND empresa_id = '{{ $('Identifica Empresa').item.json.empresa_id }}'\n  AND loja_id = '{{ $('Mapemento de loja').item.json.loja_id }}'\nLIMIT 1","options":{}},"id":"62249611-f13f-430c-b695-e3789f93bafa","name":"Get Dados","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1920,-256],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"63d57e10-8303-45a7-ac62-d7ce5fb235d1","name":"phone","value":"={{ $('Data').first().json.Telefone }}","type":"string"},{"id":"c1ab4f10-3cfd-4ff4-a95c-7b28236a1cb0","name":"conversation_id","value":"={{ $('Session ID').first().json.sessionid }}","type":"string"},{"id":"df58dbca-e900-466d-95cf-07bbdf24551c","name":"user_msg","value":"={{ $('Mensagem Completa').first().json.conversation }}","type":"string"},{"id":"ad600e00-2584-464e-b96b-6f49e36d7bd7","name":"bot_msg","value":"={{ $json.output }}","type":"string"},{"id":"1a481ecb-c84d-4d1d-9d51-6f63412bdf7c","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"31c399bf-6ce4-4254-be79-ac961ff7a695","name":"loja","value":"={{ $('Session ID').first().json.loja_codigo }}","type":"string"},{"id":"ebaac0de-97ac-4439-91e4-1ff16a9bdda7","name":"vendedor","value":"=Tars","type":"string"},{"id":"65444a07-36af-444d-909a-9724dbb7cbb5","name":"Nome","value":"={{ $('Data').first().json.Nome }}","type":"string"},{"id":"empresa_id_1769560327017","name":"empresa_id","value":"={{ $('Identifica Empresa').first().json.empresa_id }}","type":"string"},{"id":"loja_id_prep_1769560327017","name":"loja_id","value":"={{ $('Session ID').first().json.loja_id }}","type":"string"},{"id":"msg_type_1769560327017","name":"message_type","value":"=chat","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5600,-192],"id":"07979a0a-39f4-4d3e-8176-ddeb99b72c4b","name":"Prepara para metricas"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"={{ $json.prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[5264,-192],"id":"46a2c3db-0765-4467-8159-78f0296c4823","name":"TARS","alwaysOutputData":true,"executeOnce":false},{"parameters":{"workflowId":{"__rl":true,"value":"XSJvA7pMN74d7IHm","mode":"list","cachedResultUrl":"/workflow/XSJvA7pMN74d7IHm","cachedResultName":"Salva mensagens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phone":"={{ $json.phone }}","conversation_id":"={{ $json.conversation_id }}","user_message":"={{ $json.user_msg }}","bot_message":"={{ $json.bot_msg }}","message_type":"={{ $json.message_type }}","timestamp":"={{ $json.timestamp }}","loja":"={{ $json.loja }}","vendedor":"={{ $json.vendedor }}","nome":"={{ $json.Nome }}","empresa_id":"={{ $json.empresa_id }}","loja_id":"={{ $json.loja_id }}"},"matchingColumns":[],"schema":[{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"bot_message","displayName":"bot_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"vendedor","displayName":"vendedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","type":"string","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"loja_id","displayName":"loja_id","type":"string","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5824,-192],"id":"2b7a8143-2307-4fc1-a0aa-a377f7eeb5e7","name":"Call 'Salva mensagens'"},{"parameters":{"assignments":{"assignments":[{"id":"f8ccd10b-1b4e-411a-bbaa-4309b3b3674c","name":"Telefone","value":"={{ $json.body.message.chatid.replace('@s.whatsapp.net', '').replace(/^55/, '') }}","type":"string"},{"id":"59c45e98-ef1f-40c7-89ee-8ad95c526a47","name":"Nome","value":"={{ $json.body.message.senderName }}","type":"string"},{"id":"cc803d9f-a567-49a6-862b-eafb26530a5f","name":"baseUrl","value":"={{ $json.body.BaseUrl }}","type":"string"},{"id":"fb52083d-7ecc-4500-ae99-6ac10f890eb6","name":"mensagem","value":"={{ $json.body.message.text }}","type":"string"},{"id":"a35923ee-5a33-457e-865a-ec18797bdbdc","name":"MediaType","value":"={{ $json.body.message.messageType }}","type":"string"},{"id":"52785e95-c1de-4e99-9351-5c00b66625ed","name":"mediaType","value":"={{ $json.body.message.mediaType }}","type":"string"},{"id":"b02a1dc1-7701-4000-b741-64f055162c1f","name":"fromMe","value":"={{ $json.body.message.fromMe }}","type":"string"},{"id":"39d5db02-688b-4acc-b948-0e33ea39367f","name":"instancia","value":"={{ $json.body.instanceName }}","type":"string"},{"id":"e8bf96e4-15b5-4cf5-9f82-51de6ad5aa9d","name":"Token","value":"={{ $json.body.token }}","type":"string"},{"id":"f6b9e33a-3519-4c41-972b-b764f85b0b77","name":"URL","value":"={{ $json.body.message.content.URL }}","type":"string"},{"id":"cca9b610-095e-4b95-9083-ccddcab136b5","name":"mimetype","value":"={{ $json.body.message.content.mimetype }}","type":"string"},{"id":"cb172d5c-1327-4649-92d4-5cb6fce95fce","name":"ID","value":"={{ $json.body.message.messageid }}","type":"string"},{"id":"e614329e-fdeb-49f0-b9e3-c77bd84128b1","name":"Telefone_block","value":"={{ $json.body.message.chatid.replace('@s.whatsapp.net', '').replace(/^55/, '') }}","type":"string"}]},"options":{}},"id":"94561ea4-8cec-4052-9980-760184f67bb8","name":"Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-240]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[32,-416],"id":"ea1eb1b1-c762-4ede-8869-0ddf57297ee8","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02c85aa3-873d-46a1-8e7b-4d0c7a21937e","leftValue":"={{ $json.body.message.wasSentByApi }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-176,-256],"id":"b22b3ee7-3907-49fe-a244-2b8e2610eee7","name":"Verifica MSG API"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Data').item.json.fromMe }}","rightValue":"true","operator":{"type":"string","operation":"equals"},"id":"e1111e6f-d830-4f61-ab5c-ca8673b6d6af"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Data').item.json.fromMe }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"f984f2e2-91ff-483d-98d1-7b8d94bae841","name":"Rota FromMe","type":"n8n-nodes-base.switch","typeVersion":3,"position":[800,-240]},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.telefone }}_block","options":{}},"id":"45e90239-20f7-43ca-9917-f3314811baaa","name":"Verificar Block","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1008,-224],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Data').item.json.Telefone_block }}_block","value":"true","keyType":"string","expire":true,"ttl":900},"id":"fd392ba8-976a-467d-93f2-eb4d94da4ab6","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[960,-432],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Desativada"}]},"options":{}},"id":"89e1a6a1-fed9-4796-a161-5c2091950230","name":"Rota Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1232,-224]},{"parameters":{"operation":"executeQuery","query":"SELECT telefone, nome, sessionid, origem, loja_id, codigo_loja\nFROM \"Controle_TMC\".leads_origem\nWHERE telefone = '{{ $('Data').item.json.Telefone }}'\n  AND empresa_id = '{{ $('Identifica Empresa').item.json.empresa_id }}'\n  AND loja_id = '{{ $('Mapemento de loja').item.json.loja_id }}'\nLIMIT 1","options":{}},"id":"4891ecfd-56d8-4457-925f-b6397385b059","name":"Get ID1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1392,-240],"alwaysOutputData":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ Boolean($('Get ID1').item.json.telefone?.trim()) }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,-240],"id":"bd29c922-7e06-4335-b2af-48355fcbae9e","name":"Existe?1"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".leads_origem\n  (telefone, nome, empresa_id, loja_id, codigo_loja, sessionid, origem, origem_detectada, confianca_deteccao, workflow_origem, data_primeiro_contato)\nVALUES\n  ('{{ $('Data').item.json.Telefone }}', '{{ $('Data').item.json.Nome ? $('Data').item.json.Nome.replace(/'/g, \"''\") : \"\" }}', '{{ $('Identifica Empresa').item.json.empresa_id }}', '{{ $('Mapemento de loja').item.json.loja_id }}', '{{ $('Mapemento de loja').item.json.loja_codigo }}', '{{ $('Gera ID').item.json.data }}', '{{ $('Mapemento de loja').item.json.lead_origem }}', {{ $('Mapemento de loja').item.json.lead_detectada ? \"'\" + $('Mapemento de loja').item.json.lead_detectada.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, '{{ $('Mapemento de loja').item.json.lead_confianca }}', 'ATENDIMENTO_UNIFICADO', NOW())\nON CONFLICT (telefone, empresa_id, loja_id)\nDO UPDATE SET\n  nome = COALESCE(NULLIF(EXCLUDED.nome, ''), \"Controle_TMC\".leads_origem.nome),\n  sessionid = COALESCE(EXCLUDED.sessionid, \"Controle_TMC\".leads_origem.sessionid),\n  origem = CASE\n    WHEN \"Controle_TMC\".leads_origem.confianca_deteccao = 'baixa' AND EXCLUDED.confianca_deteccao = 'alta'\n    THEN EXCLUDED.origem\n    ELSE \"Controle_TMC\".leads_origem.origem\n  END,\n  origem_detectada = CASE\n    WHEN \"Controle_TMC\".leads_origem.confianca_deteccao = 'baixa' AND EXCLUDED.confianca_deteccao = 'alta'\n    THEN EXCLUDED.origem_detectada\n    ELSE \"Controle_TMC\".leads_origem.origem_detectada\n  END,\n  confianca_deteccao = CASE\n    WHEN EXCLUDED.confianca_deteccao = 'alta'\n    THEN 'alta'\n    ELSE \"Controle_TMC\".leads_origem.confianca_deteccao\n  END\nRETURNING sessionid, telefone, loja_id, codigo_loja","options":{}},"id":"838cc3ec-255e-4d57-8a64-94eda2d756ff","name":"Cria cliente1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2032,-64],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"description":"=## avisar_vendedor - Aciona vendedor humano\n\n### Quando usar:\n\n**1. Orcamento Finalizado**\n- Colete ANTES: Nome, CPF/CNPJ, Endereco completo, Telefone, Forma de pagamento, Produtos\n\n**Mensagem:**\n🎉 *ORCAMENTO FECHADO - [Nome Cliente]*\nLOJA - {{ $('Session ID').item.json.loja_codigo }} - {{ $('Session ID').item.json.loja_nome }}\n\n📋 *DADOS:*\nCPF/CNPJ: [numero]\nWhatsApp: {{ $('Session ID').first().json.telefone }}\nEndereco: [completo]\n\n🛒 *PRODUTOS:*\n- [Produto] - Cod: [XXX] - R$ [valor]\n\n💰 *TOTAL: R$ [valor]*\n💳 *Pagamento:* [forma]\n\n⚠️ *A TRATAR:*\n[Produtos nao encontrados, observacoes, prazos]\n\n**2. Produto Nao Encontrado** - Acione informando o produto, continue o atendimento\n\n**3. Atendimento Humano Solicitado** - Acione IMEDIATAMENTE\n\n### Regras:\n- Orcamento: NUNCA acione sem todos os dados\n- Atendimento humano: acione na hora\n- Produto nao encontrado: acione na hora e continue ajudando","workflowId":{"__rl":true,"value":"e1jfS78LqkKpCkbl","mode":"list","cachedResultUrl":"/workflow/e1jfS78LqkKpCkbl","cachedResultName":"AVISAR_VENDEDOR_MULTITENANT"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}","loja":"={{ $('Session ID').first().json.loja_nome }}","telefone":"={{ $('Session ID').first().json.telefone }}","Loja_Codigo":"={{ $('Session ID').first().json.loja_codigo }}","Origem_Canal":"={{ $('Session ID').first().json.origem_canal }}","empresa_id":"={{ $('Identifica Empresa').item.json.empresa_id }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Loja_Codigo","displayName":"Loja_Codigo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Origem_Canal","displayName":"Origem_Canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5984,128],"id":"c1fdc8bb-6455-4e90-b561-ee29ec8b22fd","name":"avisar_vendedor"},{"parameters":{"workflowId":{"__rl":true,"value":"bTsiOTOg6BAZnRwK","mode":"list","cachedResultUrl":"/workflow/bTsiOTOg6BAZnRwK","cachedResultName":"CONTROLE VENDEDORES"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-176,-96],"id":"19f15911-4a38-474e-a135-2c368db679f0","name":"Controle de mensagens"},{"parameters":{"assignments":{"assignments":[{"id":"87c3a3db-d9ed-4c6f-b2b3-e62c9d094064","name":"telefone","type":"string","value":"={{ $('Data').item.json.Telefone }}"},{"id":"b8ac96e2-54a7-41f6-b222-890a8b673dec","name":"nome","type":"string","value":"={{ $('Data').item.json.Nome }}"},{"id":"9df97479-9e53-4c43-b079-a0ebf717dd0c","name":"loja_id","type":"string","value":"={{ $('Get Lojas').item.json.loja_id }}"},{"id":"7024134a-97ee-4215-a3b7-7331548f88d1","name":"loja_codigo","type":"string","value":"={{ $('Get Lojas').item.json.codigo }}"},{"id":"b3e84720-a091-48fc-92a4-5f6e4a79b997","name":"loja_nome","type":"string","value":"={{ $('Get Lojas').item.json.nome }}"},{"id":"e102ddb8-cd89-4f4b-99e0-7fe6aa5e4be7","name":"loja_endereco","type":"string","value":"={{ $('Get Lojas').item.json.endereco || '' }}"},{"id":"86291769-a69f-4d69-8392-43d41b403047","name":"loja_pix","type":"string","value":"={{ $('Get Lojas').item.json.pix || '' }}"},{"id":"bdeeeb0a-180f-4797-b0f3-e8e42ed5888f","name":"lead_origem","type":"string","value":"={{ /an[uú]ncio.*meta|no.*instagram|facebook|click.*whatsapp/i.test($('Data').item.json.mensagem || '') ? 'meta' : /google|em.*an[uú]ncio|pesquisa.*google/i.test($('Data').item.json.mensagem || '') ? 'google' : 'organico' }}"},{"id":"b43fcfea-debe-44c6-a2ff-67c21e4ff945","name":"lead_confianca","type":"string","value":"={{ $('Identifica Empresa').item.json.loja_id && String($('Identifica Empresa').item.json.loja_id) !== 'null' ? 'alta' : /ol[aá].*vi.*tintas/i.test($('Data').item.json.mensagem || '') ? 'alta' : 'baixa' }}"},{"id":"9179a869-2eb7-413d-9d95-8b52f84a1ed5","name":"lead_detectada","type":"string","value":"={{ ($('Data').item.json.mensagem || '').substring(0, 500) }}"},{"id":"a97970e2-6cfc-44a6-b793-8031db3f92e5","name":"mensagem_original","type":"string","value":"={{ $('Data').item.json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-240],"id":"3d958608-0394-418f-a4df-b8a7a2b22d57","name":"Mapemento de loja"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[6112,128],"id":"3ac7cc6d-0d14-4328-b846-972dea89d449","name":"Think"},{"parameters":{"operation":"push","list":"={{ $json.sessionid }}","messageData":"={{ $('Data').item.json.mensagem }}","tail":true},"id":"46363a5b-3bbf-4dfd-8113-c78b03b03d07","name":"Text Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3648,-304],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Session ID').item.json.sessionid }}","messageData":"={{ $json.text }}","tail":true},"id":"268c2b64-3174-4352-bcab-83800082ac06","name":"Audio Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3648,-144],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Session ID').item.json.sessionid }}","messageData":"={{ $json.message }}","tail":true},"id":"a73802c3-2510-43bf-9648-4cd4ceff6d42","name":"PDF Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3632,-496],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3280,-496],"id":"6fc6c3ac-3aa5-4920-b0f1-6025c013ef85","name":"Extract from File"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"320e4453-4773-471e-863d-a736de2fbff3","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"DocumentMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"77507905-2987-4aca-9840-4b989f562307","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"=ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Data').item.json.mimetype }}","rightValue":"=audio/ogg; codecs=opus","operator":{"type":"string","operation":"contains"},"id":"839edd08-57e9-4dc3-abdd-1950e09e1572"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Data').item.json.mimetype }}","rightValue":"image/jpeg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem/jpeg"}]},"options":{}},"id":"71028dd1-ea83-40fa-ae82-dcf8397cc1c2","name":"ROTA Media","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2608,-304]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"d00ec51b-a9ce-46c4-82ea-47e1b38bd21b","name":"HTTP PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2912,-496]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"6f5085d1-e424-48a6-a582-6338c9e3f872","name":"HTTP Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,-144]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"aee6024c-95e8-4ab5-9aa0-8f38c8e145fa","name":"HTTP Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,48]},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"audio.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3184,-144],"id":"a33333ec-eea8-4e24-b8c1-afc97f590e58","name":"Convert to File - audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3200,48],"id":"f0a67510-6a51-4cc1-a227-3b4d228d5229","name":"Convert to File - image"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"application/pdf"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3104,-496],"id":"128601e9-37a0-4b6d-b193-c6ebb353cb75","name":"Convert to File - PDF"},{"parameters":{"assignments":{"assignments":[{"id":"0be9e760-815b-42e8-9046-26820462edd9","name":"message","value":"=<ContextoPDF>\n  <TranscricaoPDF>\n  {{ $json.text }}\n  </TranscricaoPDF>\n  </MensagemUsuario>\n    <titulodocumento>\n    {{ $json.info.Title }}\n    </titulodocumento>\n</ContextoPDF>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3440,-496],"id":"5cac8cfc-ac11-492a-9f01-bec1ce34fd98","name":"Normaliza"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"5de6b9c7-18d1-42fc-a59b-562210ea048c","name":"IA Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3440,-144],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"=Extraia e normalize todos os itens, separando nome, quantidade e unidade. Organize tudo em uma lista clara e completa, sem omitir nenhum item.","inputType":"base64","options":{}},"id":"f6dc9642-f50d-4f4b-9722-5d5973bd26d1","name":"IA image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3456,48],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"operation":"push","list":"={{ $('Session ID').item.json.sessionid }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"fa538184-cf2d-474e-bc8d-0e638714f5f0","name":"Image Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3648,48],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"amount":10},"id":"63df36a6-f701-47b8-86a2-4fc3ee6d7a06","name":"Wait9","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4112,-176],"webhookId":"d2608e95-2419-4f68-af29-8aa4483c7b30"},{"parameters":{"operation":"get","key":"={{ $('Session ID').item.json.sessionid }}","options":{}},"id":"94c32c36-263f-47b3-af9f-aa54a194a7e2","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3952,-176],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Session ID').item.json.sessionid }}","options":{}},"id":"53f06487-6847-4805-a85e-3cc8f63cedbe","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4256,-176],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"1610bbcd-26ad-47d5-85db-4b4a9208a29b","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4624,-176]},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"60dc6fac-2f37-4da7-8eb7-6afd3bac8bc2","name":"Edit Fields12","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4432,-176]},{"parameters":{"assignments":{"assignments":[{"id":"625ac12b-e7fa-49c8-b0c6-74d77a6104d6","name":"conversation","type":"string","value":"={{ (() => { const raw = $json.Redis1 || $json.Redis2 || ''; try { const arr = JSON.parse(raw); return Array.isArray(arr) ? [...new Set(arr)].join(' ') : String(arr); } catch(e) { return raw; } })() }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4864,-192],"id":"1e54da28-6568-412e-9db8-d77e9f80a023","name":"Mensagem Completa"},{"parameters":{"assignments":{"assignments":[{"id":"21dbf9bd-2cbd-4a6b-9489-5dd97dfa1f23","name":"sessionid","value":"={{ $json.sessionid }}","type":"string"},{"id":"d73eae1d-137e-45d2-9ebf-6aa549c52091","name":"telefone","value":"={{ $json.telefone || $('Data').item.json.Telefone }}","type":"string"},{"id":"4d09e65a-4377-41e6-83de-ad0474ababd2","name":"origem_canal","value":"={{ $json.origem || $('Mapemento de loja').item.json.lead_origem }}","type":"string"},{"id":"34a81519-3c03-4ea8-8e7c-3d70650ea955","name":"loja_nome","value":"={{ $json.loja_nome || $('Mapemento de loja').item.json.loja_nome }}","type":"string"},{"id":"6b7e5fcd-0738-4fde-8923-7b90fe90817e","name":"loja_codigo","value":"={{ $json.codigo_loja || $('Mapemento de loja').item.json.loja_codigo }}","type":"string"},{"id":"2ce170ec-a483-4266-afef-f59e53841085","name":"loja_endereco","value":"={{ $json.loja_endereco || $('Mapemento de loja').item.json.loja_endereco }}","type":"string"},{"id":"c15bb22c-89e2-4689-8711-1c1326853605","name":"Pix_Loja","value":"={{ $json.loja_pix || $('Mapemento de loja').item.json.loja_pix }}","type":"string"},{"id":"loja_id_1769560327016","name":"loja_id","value":"={{ $json.loja_id || $('Mapemento de loja').item.json.loja_id }}","type":"string"},{"id":"16320ac4-868b-40ff-8722-79d953028da3","name":"empresa_id","value":"={{ $('Identifica Empresa').item.json.empresa_id }}","type":"string"},{"id":"0e2b3467-bc8f-41d4-827e-5435086ed9fa","name":"slug","value":"={{ $('Identifica Empresa').item.json.slug }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2288,-256],"id":"1a966273-057f-43a1-aa66-6b66f91a162a","name":"Session ID"},{"parameters":{"operation":"executeQuery","query":"SELECT iw.empresa_id, iw.loja_id, iw.codigo_loja, iw.token_uazapi,\n       cc.slug, cc.nome_cliente, cc.default_loja_id,\n       cc.api_url, cc.api_tintometrico_url, cc.api_credential_name\nFROM \"Controle_TMC\".instancias_whatsapp iw\nJOIN \"Controle_TMC\".configuracoes_cliente cc ON cc.empresa_id = iw.empresa_id\nWHERE iw.nome_instancia = '{{ $('Data').item.json.instancia }}'\n  AND iw.tipo = 'ia' AND iw.ativo = true\nLIMIT 1","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[128,-240],"id":"1aedaea7-7269-4d94-bbed-b894d79d7062","name":"Identifica Empresa","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"WITH params AS (\n  SELECT\n    NULLIF(NULLIF('{{ $('Identifica Empresa').item.json.loja_id }}', ''), 'null') as inst_loja,\n    '{{ $('Identifica Empresa').item.json.default_loja_id }}' as def_loja,\n    LOWER('{{ $('Data').item.json.mensagem }}') as msg\n)\nSELECT l.id as loja_id, l.codigo, l.nome, l.endereco, l.pix, l.telefone\nFROM \"Controle_TMC\".lojas l, params p\nWHERE l.empresa_id = '{{ $('Identifica Empresa').item.json.empresa_id }}'\n  AND l.ativo = true\nORDER BY\n  CASE\n    WHEN p.inst_loja IS NOT NULL AND l.id::text = p.inst_loja THEN 0\n    WHEN p.inst_loja IS NULL AND p.msg LIKE '%' || LOWER(l.nome) || '%' THEN 1\n    WHEN p.inst_loja IS NULL AND EXISTS (\n      SELECT 1 FROM unnest(string_to_array(LOWER(l.nome), ' ')) w\n      WHERE length(w) > 3 AND p.msg LIKE '%' || w || '%'\n    ) THEN 2\n    WHEN l.id::text = COALESCE(p.inst_loja, p.def_loja) THEN 3\n    ELSE 4\n  END\nLIMIT 1","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[288,-240],"id":"970074b2-2774-4ce5-ab79-1fb5381b860f","name":"Get Lojas","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Busca produtos no catalogo da loja COM preco. Use esta ferramenta para encontrar produtos e seus precos.\n\nCOMO USAR: Passe uma query SQL SELECT que faz JOIN entre catalogo_produtos e produtos_curva_abc.\n\nIMPORTANTE: Os valores de empresa_id e filtro de cliente (c.cliente) estao no prompt do sistema. Use-os EXATAMENTE como informados la.\n\nTEMPLATE DA QUERY:\nSELECT c.descricao, c.marca, c.descricao_venda, c.categoria, c.embalagem, c.acabamento, c.prioridade, p.preco\nFROM \"Controle_TMC\".catalogo_produtos c\nJOIN \"Controle_TMC\".produtos_curva_abc p ON c.codigo::bigint = p.codigo_produto AND p.empresa_id = '[empresa_id do prompt]'\nWHERE [filtro de cliente do prompt] AND c.ativo = true\nAND c.tags ILIKE '%TIPO%'\nAND c.acabamento = 'FOSCO'\nAND c.categoria NOT IN ('Externa', 'Emborrachada')\nAND (c.descricao ILIKE '%COR%' OR c.descricao_venda ILIKE '%COR%')\nAND [filtro de volume]\nORDER BY c.prioridade, p.preco\nLIMIT 1\n\n=== DADOS OBRIGATORIOS ===\n\nANTES de buscar, voce PRECISA ter:\n1. COR — se o cliente nao disse, pergunte: \"Qual cor voce procura?\"\n2. VOLUME — se o cliente nao disse, pergunte: \"Qual volume? (3,6L, 18L ou 0,9L)\"\nSem cor E sem volume, pergunte AMBOS antes de buscar. NUNCA busque sem esses dados.\n\nAliases de volume:\n- lata / latao = 18L\n- galao = 3,6L\n- quartinho = 0,9L\n\n=== FILTRO DE VOLUME (MUITO IMPORTANTE) ===\n\nQuando buscar 18L/lata: use (c.embalagem ILIKE '%18%' OR c.embalagem ILIKE '%20%')\n  — Coral usa balde de 20L ao inves de 18L\nQuando buscar 3,6L/galao: use (c.embalagem ILIKE '%3,6%' OR c.embalagem = '3L')\n  — TMC esmalte base agua vem em 3L\nQuando buscar 0,9L/quartinho: use (c.embalagem ILIKE '%0,9%' OR c.embalagem = '0,75L')\n  — TMC esmalte base agua vem em 0,75L\n\nSe o volume retornado for diferente do pedido (20L vs 18L, 3L vs 3,6L), apresente normalmente SEM justificar. So explique se o cliente perguntar.\n\n=== ACABAMENTO (MUITO IMPORTANTE) ===\n\nSEMPRE filtrar c.acabamento = 'FOSCO' por padrao.\nSO mude o acabamento se o cliente PEDIR EXPLICITAMENTE:\n- \"acetinado\" ou \"seda\" → c.acabamento = 'ACETINADO'\n- \"semi-acetinado\" ou \"semi-brilho\" → c.acabamento = 'SEMIACETINADO'\n- \"brilhante\" → c.acabamento = 'BRILHANTE'\nSe o cliente nao mencionar acabamento, SEMPRE use FOSCO.\n\n=== CATEGORIA (MUITO IMPORTANTE) ===\n\nSEMPRE adicionar c.categoria NOT IN ('Externa', 'Emborrachada') por padrao.\nSO remova esse filtro se o cliente pedir explicitamente:\n- \"fachada\", \"muro\", \"area externa\" → remova o NOT IN, use c.tags ILIKE '%fachada%'\n- \"emborrachada\" → remova o NOT IN, use c.tags ILIKE '%emborrachada%'\n\n=== LOGICA DE PRIORIDADE ===\n\nO campo c.prioridade define qual produto sugerir primeiro:\n  0 = carro-chefe TMC (Inspira Fosco) — usar para pedidos GENERICOS sem marca\n  1 = carro-chefe de cada marca (Suvinil Toque Fosco Completo, Coral Rende Muito, TMC outros)\n  2 = opcoes intermediarias\n  3 = opcoes economicas/basicas\n\nREGRAS DE BUSCA:\n\n1. PEDIDO GENERICO (sem marca): \"quero uma tinta branca 18L\"\n   → Template base com FOSCO + NOT IN + ORDER BY c.prioridade, p.preco LIMIT 1\n   → Vai retornar TMC Inspira Fosco (prioridade 0)\n\n2. PEDIDO COM MARCA: \"quero suvinil branca 18L\"\n   → Adicione AND c.marca ILIKE '%suvinil%' + LIMIT 1\n   → Vai retornar o carro-chefe fosco da marca (prioridade 1)\n\n3. PRODUTO ESPECIFICO (cliente sabe o nome): \"quero suvinil sempre limpo 18L\"\n   → Busque pelo NOME: AND (c.descricao ILIKE '%sempre limpo%' OR c.descricao_venda ILIKE '%sempre limpo%')\n   → NAO aplique filtro de acabamento FOSCO nem prioridade — o cliente sabe o que quer\n\n4. \"TEM MAIS BARATO?\" (apos mostrar um produto):\n   → Faca 2 buscas: carro-chefe da mesma marca (prioridade <= 1) + TMC Inspira (prioridade 0)\n   → Mostre as 2 opcoes. NAO pule direto pra tinta economica.\n   → Mencione que TMC e marca propria com otima qualidade.\n\n5. \"MAIS EM CONTA\" / \"MAIS BARATO\" (pedido generico, sem contexto anterior):\n   → ORDER BY p.preco LIMIT 3\n   → Mostre as 3 opcoes mais baratas.\n\n6. \"QUAIS OPCOES VOCES TEM?\" (quer comparar):\n   → ORDER BY c.prioridade, p.preco LIMIT 5\n   → Mostre 5 opcoes de diferentes marcas.\n\n=== CORES COM VARIACAO ===\n\nQuando a cor tem variacoes (cinza/cinza chumbo, vermelho/vermelho seguranca):\n- Traga a versao NORMAL (ex: cinza, vermelho)\n- So traga a variacao se o cliente pedir explicitamente (ex: \"cinza chumbo\")\n- Use NOT ILIKE para excluir variacoes: AND c.descricao NOT ILIKE '%chumbo%'\n\n=== ESMALTE ===\n\nEsmalte tem regras diferentes de tinta de parede:\n- Default = base agua (TMC carro-chefe)\n- Se a cor so existe em base solvente → apresente e INFORME que e base solvente\n- Esmalte com cor (cinza, azul, etc) geralmente e BRILHANTE — nao force FOSCO\n- Cores prontas no catalogo: busque normalmente com c.categoria ILIKE '%esmalte%'\n- Cor NAO encontrada no catalogo → use a ferramenta preco_tintometrico com linha = \"esmalte\"\n\n=== TINTA PISO ===\n\n- Cores de fabrica — NAO tem tintometrico\n- Se pedir \"opcoes de piso\": liste as CORES disponiveis, nao produtos individuais\n- Busque com c.categoria ILIKE '%piso%'\n- Marcas: TMC (carro-chefe) e Novacor (Sherwin-Williams)\n\n=== ACESSORIOS ===\n\nPara acessorios (rolo, pincel, trincha, bandeja, lona, fita):\n- Busque por c.descricao ILIKE direto, SEM filtro de tags/acabamento/categoria\n- NAO pergunte cor nem acabamento\n\nROLOS:\n- Parede → rolo la de carneiro. Default: 23cm\n- Metal/portao/grade/esmalte → rolo espuma. Default: 9cm\n- Se o contexto da conversa ja tem tinta de parede, infira la de carneiro sem perguntar\n\nSINONIMOS:\n- pincel = trincha\n- fita crepe larga = 48mm, media = 24mm, fina = 18mm\n\n=== DILUENTES/SOLVENTES ===\n\nBusque por c.descricao ILIKE direto (NAO por tags, pois tags misturam thinner com aguarras).\n- \"thinner\" ou \"tinner\" → c.descricao ILIKE '%thinner%'\n- \"aguarras\" ou \"agua raz\" → c.descricao ILIKE '%aguarras%'\nSo precisa de volume, sem cor/acabamento.\n\n=== MASSA / PREPARACAO ===\n\n- Busque por c.descricao ILIKE (ex: '%massa corrida%', '%selador%')\n- Volume em KG (nao litros) — pergunte \"Qual tamanho?\" generico, sem listar opcoes fixas\n- Use LIMIT 3 (volumes variam por cliente e marca)\n- Quando tiver barrica e balde do mesmo peso, barrica vem primeiro (mais barata)\n- Selador no contexto de parede = selador acrilico (nao seladora de verniz)\n\n=== LISTA DE ITENS ===\n\nQuando o cliente mandar uma LISTA de produtos:\n- Resolva o MAXIMO de itens possivel com as informacoes disponiveis\n- Agrupe as perguntas pendentes em UMA UNICA mensagem\n- Apresente os itens ja resolvidos junto com as perguntas\n\nTIPO — filtro por tags. Default: 'parede'. Troque conforme o pedido:\n  parede (default) → '%parede%'\n  mofo/banheiro → '%mofo%'\n  esmalte → use c.categoria ILIKE '%esmalte%' (nao tags)\n  verniz → '%verniz%'\n  piso → use c.categoria ILIKE '%piso%' (nao tags)\n  cimento queimado → '%cimento-queimado%'\n  spray → '%spray%'\n  epoxi → '%epoxi%'\n  fachada/externo → '%fachada%' (remova o NOT IN de categoria)\n  emborrachada → '%emborrachada%' (remova o NOT IN de categoria)\n  acessorios (rolo, pincel, fita, lixa, lona) → busque por c.descricao ILIKE\n\nREGRAS GERAIS:\n- NUNCA use \"tinta\" como termo ILIKE — tudo e tinta, nao filtra nada\n- Use as PALAVRAS EXATAS do cliente\n- Para MARCA: AND c.marca ILIKE '%coral%'\n- Para embalagem: campo usa VIRGULA (0,9L e 3,6L). Converta ponto pra virgula\n- FALLBACK DE MARCA: Se marca retornar vazio, NOVA busca SEM marca\n- Sempre inclua p.preco no SELECT\n\n=== FALLBACK OBRIGATORIO ===\nSe a query com JOIN retornar VAZIO (response vazia, array vazio, sem resultados), voce DEVE fazer uma SEGUNDA chamada com esta query de fallback direto na tabela de precos:\n\nSELECT descricao, marca, preco FROM \"Controle_TMC\".produtos_curva_abc\nWHERE empresa_id = '[empresa_id do prompt]'\nAND similarity(norm_desc, '[termo do cliente]') > 0.15\nORDER BY similarity(norm_desc, '[termo do cliente]') DESC LIMIT 3\n\nSubstitua [termo do cliente] pelo que o cliente pediu em minusculo (ex: 'massa corrida tmc', 'rolo 23cm').\nNUNCA responda \"nao encontrei\" sem ter feito essa segunda busca.","operation":"executeQuery","query":"{{ $fromAI('query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[5600,112],"id":"98b217c3-b178-4ec1-952a-89a312eb26d1","name":"buscar_catalogo_preco","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"6327fd72-1b13-42c6-a71e-830d9707660b","name":"chatInput","type":"string","value":"={{ $json.conversation }}"},{"id":"7725d91d-2ec5-41cb-9188-05b01aa01f03","name":"prompt","type":"string","value":"=# TARS v5 — Assistente de Vendas Tintas MC\n\nVoce e o TARS, vendedor virtual da Tintas MC {{ $('Session ID').item.json.loja_nome }}.\nTom: WhatsApp — direto, amigavel, sem formalidade. Portugues do Brasil.\nMensagens CURTAS. Sem markdown (nada de **, _, #, ---). CAPS pra enfase. Precos naturais: \\\"R$ 289,00\\\".\n\nEndereco: {{ $('Session ID').item.json.loja_endereco }}\nHorario: Seg-Sex 08h-18h | Sab 08h-13h | Dom/feriado: fechado\nEntrega: Seg-Sex 8h30-18h | Sab 8h30-14h\nPagamento: PIX (CNPJ {{ $('Session ID').item.json.Pix_Loja }}), Dinheiro, Debito/Credito (ate 6x, min R$150), Boleto (PJ)\nHoje: {{ $now.setLocale('pt-BR').toFormat('cccc') }}, {{ $now.toFormat('dd/MM/yyyy') }} as {{ $now.toFormat('HH:mm') }}\n\n---\n\n## FLUXO DE ATENDIMENTO\n\n1. Entenda a intencao do cliente\n\n2. Classifique e aja:\n   - Saudacao pura (\\\"oi\\\", \\\"bom dia\\\") → \\\"Oi! Sou o TARS da Tintas MC {{ $('Session ID').item.json.loja_nome }}! Me conta, o que voce precisa?\\\"\n   - Produto ESPECIFICO (\\\"Suvinil 18L\\\", \\\"anti-mofo\\\", \\\"verniz pra madeira\\\", \\\"tinta tradicional\\\") → buscar_catalogo_preco direto\n   - Pedido GENERICO (\\\"tinta pra parede\\\", \\\"tinta boa\\\", \\\"preciso de tinta\\\") → pergunte: \\\"Voce quer premium (lavavel, otima cobertura), intermediaria (bom rendimento) ou economica (menor preco)?\\\"\n   - Cor personalizada (qualquer cor que NAO seja branco) → preco_tintometrico\n   - EXCECAO Piso: SEMPRE buscar_catalogo_preco, mesmo com cor (ex: \\\"piso cinza\\\", \\\"piso vermelho\\\"). Piso e PRODUTO com cor fixa\n   - EXCECAO Cimento Queimado: primeiro buscar_catalogo_preco (temos cores prontas: Tunel de Concreto, Dia de Chuva, Selva de Pedra, etc). Se o cliente quiser cor que nao esta no catalogo → preco_tintometrico buscando como \\\"massa para efeitos\\\"\n   - Fora de escopo (encanamento, eletrica) → \\\"Trabalhamos com tintas e acessorios de pintura!\\\" Se insistir: avisar_vendedor\n   - B2B (empresa, CNPJ, qtd >5) → direto ao preco, sem perguntas basicas\n\n3. Antes de buscar, verifique:\n   - VOLUME: Se nao disse tamanho, pergunte: \\\"Qual tamanho? Lata (18L), galao (3,6L) ou quartinho (0,9L)?\\\"\n   - ESMALTE: Pergunte base antes de buscar: agua ou solvente?\n   - MAX 2 perguntas por mensagem\n\n4. Apresente resultado com confianca → pergunte se quer fechar → colete dados → avisar_vendedor\n\n---\n\n## BUSCA DE PRODUTOS (buscar_catalogo_preco)\n\nTemplate SQL:\nSELECT c.descricao, c.marca, c.descricao_venda, c.categoria, c.embalagem, c.acabamento, c.prioridade, p.preco\nFROM \\\"Controle_TMC\\\".catalogo_produtos c\nJOIN \\\"Controle_TMC\\\".produtos_curva_abc p ON c.codigo::bigint = p.codigo_produto AND p.empresa_id = '{{ $('Session ID').item.json.empresa_id }}'\nWHERE (c.cliente = '{{ $('Session ID').item.json.slug }}' OR c.cliente = 'todos') AND c.ativo = true\nAND c.tags ILIKE '%TIPO%'\nAND (outros filtros conforme pedido)\nORDER BY c.prioridade\nLIMIT 1 (use LIMIT 5 pra categorias com variantes: cimento queimado, efeito decorativo)\n\nTIPO — filtro OBRIGATORIO que define o tipo de produto. Default: 'parede'\nTROQUE conforme o pedido do cliente:\n  parede (default) → '%parede%' (branco, fosco, tradicional, premium, economica)\n  banheiro/mofo → '%mofo%'\n  esmalte → '%esmalte%'\n  verniz → '%verniz%'\n  piso → '%piso%'\n  cimento queimado → '%cimento-queimado%'\n  spray → '%spray%'\n  epoxi → '%epoxi%'\n  acessorios (rolo, pincel, fita, lixa) → REMOVA o filtro de TIPO, busque pelo nome do produto na descricao\n\nCOMO MONTAR O TERMO — extraia a PALAVRA-CHAVE do cliente. Nunca use \\\"tinta\\\" (tudo e tinta, nao filtra):\n  \\\"tinta tradicional\\\" → TIPO='parede' + tags ILIKE '%tradicional%'\n  \\\"tinta anti-mofo pra banheiro\\\" → TIPO='mofo' + tags ILIKE '%banheiro%'\n  \\\"verniz pra madeira\\\" → TIPO='verniz' + uso ILIKE '%madeira%'\n  \\\"tem mais barato?\\\" → TIPO='parede' + tags ILIKE '%barata%'\n  \\\"Coral branco fosco 0,9L\\\" → TIPO='parede' + marca ILIKE '%coral%' + acabamento + embalagem\n\nFILTROS (AND separados quando cliente especificar):\n- Marca: AND c.marca ILIKE '%coral%' (quando cliente pede marca especifica)\n- Uso: AND c.uso ILIKE '%madeira%'\n- Acabamento: AND (c.acabamento ILIKE '%fosco%' OR c.descricao ILIKE '%fosco%')\n- Volume: AND c.embalagem ILIKE '%3,6%' (sempre VIRGULA, nunca ponto)\n\nFALLBACK DE MARCA: Se a busca com marca especifica retornar vazio, faca NOVA busca SEM o filtro de marca (mantendo tipo, acabamento e volume). Isso retorna a proxima prioridade disponivel. Informe o cliente: \\\"Coral nao temos nessa configuracao, mas temos [alternativa]\\\". Se NENHUMA marca tiver naquela configuracao, informe os tamanhos disponiveis\n\nFALLBACK OBRIGATORIO (se JOIN retornar vazio, voce DEVE chamar buscar_catalogo_preco uma SEGUNDA vez com esta query):\nSELECT descricao, marca, preco FROM \\\"Controle_TMC\\\".produtos_curva_abc\nWHERE empresa_id = '{{ $('Session ID').item.json.empresa_id }}'\nAND similarity(norm_desc, 'TERMO') > 0.15\nORDER BY similarity(norm_desc, 'TERMO') DESC LIMIT 1\n\nREGRA CRITICA: Se a primeira busca retornar vazio, SEMPRE faca a segunda busca (fallback similarity). NUNCA diga ao cliente que nao encontrou sem ter feito as DUAS buscas.\\n\\nO campo tags contem sinonimos do cliente: mofo, antimofo, banheiro, barata, economica, tradicional, parede, madeira, porta, verniz, piso, lavavel, emborrachada, cimento-queimado, etc.\n\n---\n\n## TMC — MARCA PROPRIA\n\nPrioridade de marca (quando cliente nao especifica): 1.TMC → 2.Ciacollor → 3.Suvinil → 4.Sherwin-Williams → 5.Coral\n\nNa PRIMEIRA vez que oferecer TMC numa conversa, diga EXATAMENTE:\n\\\"TMC e a marca propria da Tintas MC, otimo custo-beneficio e o melhor de tudo: as tintas sao produzidas pela Sherwin-Williams, lider mundial do setor\\\"\nUse essa frase literalmente. Nao parafraseie. Depois da primeira vez, nao repita.\n\n---\n\n## OUTRAS FERRAMENTAS\n\npreco_tintometrico — cores personalizadas (NAO branco):\n- Cinza, bege, azul, verde, preto, vermelho, cores compostas\n- \\\"Ouro Branco\\\" NAO e branco → tintometrico. \\\"Branco Neve\\\" E branco → catalogo\n- NUNCA use tintometrico pra: piso, epoxi, verniz, spray. Esses sao PRODUTOS com cor fixa → buscar_catalogo_preco\n- Cimento queimado: primeiro buscar_catalogo_preco (cores prontas). So use tintometrico se o cliente quiser cor que nao tem no catalogo (busque como \\\"massa para efeitos\\\", uso interno)\n- Dados: Marca (TMC), Cor, Volume, Acabamento (Fosco), Linha (Inspira), Base (Agua, so pra esmalte)\n\navisar_vendedor — quando chamar:\n- Pedido confirmado + dados coletados (nome, CPF/CNPJ, telefone, endereco, pagamento)\n- Cliente pediu humano, 2 tentativas falharam, fora de escopo 2+ msgs, cliente irritado\n- Passe resumo completo: nome, pedido, precos cotados, preferencias, endereco\n\n---\n\n## REGRAS DO NEGOCIO\n\nVolumes: lata=18L, galao=3,6L, balde=20L, quartinho=0,9L\n\nOrcamento — formato:\n🛒 Orcamento\n• TMC Inspira Branco 18L (2) → R$ 578,00\n• TIGRE Rolo Antirrespingo 23cm (2) → R$ 58,00\nTotal: R$ 636,00\n\nFechamento: Colete nome, CPF/CNPJ, telefone, endereco (se entrega), pagamento → avisar_vendedor\n\nNUNCA invente: frete, parcelamento especial, estoque de outra loja, prazo de entrega, rendimento (m2/litro)\nNUNCA ofereça opcao mais barata se o cliente nao pediu. Quem pede mais barato e o CLIENTE, nao voce.\nNUNCA sugira alternativas que voce nao tem no catalogo. Nao pergunte \\\"quer fosco ou semibrilho?\\\" se so tem fosco. Nao abra brechas — quem pede alternativa e o CLIENTE.\nApresente o resultado com confianca e naturalidade. Nada de \\\"Quer essa?\\\" seco. Fale como vendedor de verdade: \\\"Essa aqui e otima!\\\", \\\"Te atende?\\\", \\\"Posso separar pra voce?\\\"\n\n---\n\n\n\n---\n\n## UPSELL — KIT DE PINTURA\n\nMOMENTO: Apos o cliente ACEITAR o orcamento E voce confirmar o pedido. NAO antes.\n\nPASSO 1 — Envie EXATAMENTE esta mensagem (copie literal, nao mude nada):\n\"Voce ja tem tudo pra pintura? Temos kits prontos com o essencial!\n\n🎨 Kit Basico — rolo, bandeja, fita e trincha\n🎨 Kit Completo — basico + protecao pro piso\n\nQual te interessa?\"\n\nNAO parafrase. NAO resuma. NAO mude as palavras. Envie ESSA mensagem.\n\nPASSO 2 — Quando o cliente escolher, busque os precos com buscar_catalogo_preco:\n\nKit Basico → SELECT c.descricao, p.preco FROM \"Controle_TMC\".catalogo_produtos c JOIN \"Controle_TMC\".produtos_curva_abc p ON c.codigo::bigint = p.codigo_produto AND p.empresa_id = '{{ $('Session ID').item.json.empresa_id }}' WHERE c.codigo IN ('391','18886','50057','909')\n\nKit Completo → mesma query mas WHERE c.codigo IN ('391','18886','50057','909','21002')\n\nPASSO 3 — Apresente EXATAMENTE neste formato (substitua XX pelos precos reais):\n\"🎨 Kit [Basico/Completo] de Pintura\n\nRolo la de carneiro 23cm — R$ XX,XX\nBandeja para pintura — R$ XX,XX\nFita crepe 24mm — R$ XX,XX\nTrincha 2 pol — R$ XX,XX\n[APENAS no completo: Salvabras protecao piso 20m — R$ XX,XX]\n\nTotal: R$ XX,XX\n\nQuer adicionar ao pedido?\"\n\nREGRAS:\n- SO ofereca UMA VEZ por conversa\n- Se disser que ja tem, NAO insista\n- Se pedir item avulso, venda normal sem mencionar kit\n\n---\n\n## EXEMPLOS DE ATENDIMENTO\n\nObserve a formatacao: cada produto em linha separada, com quebra de linha entre eles. Isso e WhatsApp, nao email.\n\n<exemplo>\nCliente: \\\"Tem tinta anti-mofo pra banheiro 3,6L e tinta tradicional 3,6L?\\\"\n\n[TARS chama buscar_catalogo_preco 2x: uma com tags ILIKE '%mofo%', outra com tags ILIKE '%tradicional%', ambas com embalagem ILIKE '%3,6%']\n\nTARS:\n\\\"Achei as duas pra voce!\n\nSuvinil Tetos Branco Neve 3,6L — R$ 209,00\nAntimofo, perfeita pra teto de banheiro\n\nTMC Inspira Fosco Branco 3,6L — R$ 147,00\nTradicional premium, otima cobertura\n\nTMC e a marca propria da Tintas MC, otimo custo-beneficio e o melhor de tudo: as tintas sao produzidas pela Sherwin-Williams, lider mundial do setor.\n\nQuer fechar com alguma dessas?\\\"\n</exemplo>\n\n<exemplo>\nCliente: \\\"Tem mais barato?\\\"\n\n[TARS chama buscar_catalogo_preco com NOVA busca: tags ILIKE '%barata%' AND embalagem ILIKE '%3,6%']\n\nTARS:\n\\\"Tem sim!\n\nTMC Luminova Branco 3,6L — R$ 77,00\nLinha economica, cobertura boa pro preco\n\nTe atende essa?\\\"\n</exemplo>\n\n<exemplo>\nCliente: \\\"Quero uma tinta pra parede\\\"\n\nTARS:\n\\\"Voce quer premium (lavavel, otima cobertura), intermediaria (bom rendimento) ou economica (menor preco)?\\\"\n</exemplo>\n\n<exemplo>\nCliente: \\\"Preciso de verniz pra madeira\\\"\n\n[TARS chama buscar_catalogo_preco: descricao ILIKE '%verniz%' AND uso ILIKE '%madeira%']\n\nTARS:\n\\\"Sparlack Cetol Deck Natural 3,6L — R$ 189,00\nProtege madeira contra sol e chuva\n\nQual tamanho voce precisa?\\\"\n</exemplo>\n\n<exemplo>\nCliente: \\\"Quero cimento queimado\\\"\n\n[TARS chama buscar_catalogo_preco: tags ILIKE '%cimento-queimado%' com LIMIT 5 (pra mostrar opcoes)]\n\nTARS:\n\\\"Temos varias opcoes de cimento queimado! Qual cor voce prefere?\n\nSuvinil Dia de Chuva 5KG — R$ 243,00 (cinza claro)\nSuvinil Avenida Expressa 5KG — R$ 248,00 (cinza medio)\nSuvinil Tunel de Concreto 5KG — R$ 246,00 (cinza escuro)\nSuvinil Selva de Pedra 5KG — R$ 244,00 (cinza esverdeado)\nSuvinil Pedra Rosada 5KG — R$ 261,00 (tom rosado)\nCoral Decora Efeito CQ 4,1KG — R$ 219,00\n\nSe quiser uma cor diferente dessas, consigo buscar no tintometrico tambem!\\\"\n</exemplo>\n\n<exemplo>\nCliente: \\\"Tinta piso vermelho 3,6L\\\"\n\n[TARS chama buscar_catalogo_preco: tags ILIKE '%piso%' AND c.descricao ILIKE '%vermelho%' AND c.embalagem ILIKE '%3,6%' (piso com cor e PRODUTO, nao tintometrico)]\n\nTARS:\n\\\"Novacor Piso Vermelho 3,6L — R$ XX\nPra garagem, calcada e areas externas\n\nEssa ai e otima pra esse uso! Posso separar pra voce?\\\"\n</exemplo>\n"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5072,-192],"id":"e176fa7a-ebe2-4bd3-b83d-b3e3b9ac7e1d","name":"Montar Prompt Dinamico"},{"parameters":{"model":"openai/gpt-5.2","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[4848,96],"id":"1103d63c-8ac9-423b-88f7-99dd9c319be6","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"U0NB1WEJA4JxoSOE","name":"OpenRouter account"}}}],"connections":{"Webhook":{"main":[[{"node":"Verifica MSG API","type":"main","index":0},{"node":"Controle de mensagens","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"TARS","type":"ai_memory","index":0}]]},"Calculadora1":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[]]},"preco_tintometrico":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"Envia MSG":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Gera ID":{"main":[[{"node":"Cria cliente1","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"Session ID","type":"main","index":0}]]},"Prepara para metricas":{"main":[[{"node":"Call 'Salva mensagens'","type":"main","index":0}]]},"TARS":{"main":[[{"node":"Prepara para metricas","type":"main","index":0}]]},"Call 'Salva mensagens'":{"main":[[{"node":"Envia MSG","type":"main","index":0}]]},"Data":{"main":[[{"node":"Identifica Empresa","type":"main","index":0}]]},"Verifica MSG API":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Data","type":"main","index":0}]]},"Rota FromMe":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"Verificar Block","type":"main","index":0}]]},"Verificar Block":{"main":[[{"node":"Rota Block","type":"main","index":0}]]},"Rota Block":{"main":[[{"node":"Get ID1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get ID1":{"main":[[{"node":"Existe?1","type":"main","index":0}]]},"Existe?1":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gera ID","type":"main","index":0}]]},"Cria cliente1":{"main":[[{"node":"Session ID","type":"main","index":0}]]},"avisar_vendedor":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"Mapemento de loja":{"main":[[{"node":"Rota FromMe","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"Text Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"PDF Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Normaliza","type":"main","index":0}]]},"ROTA Media":{"main":[[{"node":"HTTP PDF","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"HTTP Audio","type":"main","index":0}],[{"node":"HTTP Image","type":"main","index":0}]]},"HTTP PDF":{"main":[[{"node":"Convert to File - PDF","type":"main","index":0}]]},"HTTP Audio":{"main":[[{"node":"Convert to File - audio","type":"main","index":0}]]},"HTTP Image":{"main":[[{"node":"Convert to File - image","type":"main","index":0}]]},"Convert to File - audio":{"main":[[{"node":"IA Audio","type":"main","index":0}]]},"Convert to File - image":{"main":[[{"node":"IA image","type":"main","index":0}]]},"Convert to File - PDF":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Normaliza":{"main":[[{"node":"PDF Memory","type":"main","index":0}]]},"IA Audio":{"main":[[{"node":"Audio Memory","type":"main","index":0}]]},"IA image":{"main":[[{"node":"Image Memory","type":"main","index":0}]]},"Image Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Edit Fields12":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Session ID":{"main":[[{"node":"ROTA Media","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Montar Prompt Dinamico","type":"main","index":0}]]},"Identifica Empresa":{"main":[[{"node":"Get Lojas","type":"main","index":0}]]},"Get Lojas":{"main":[[{"node":"Mapemento de loja","type":"main","index":0}]]},"Montar Prompt Dinamico":{"main":[[{"node":"TARS","type":"main","index":0}]]},"buscar_catalogo_preco":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"TARS","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.iatars.com.br","user-agent":"uazapiGO-Webhook/1.0","content-length":"2486","accept-encoding":"gzip","content-type":"application/json","x-forwarded-for":"177.234.159.170","x-forwarded-host":"webhook.iatars.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e672fb1f77c7","x-real-ip":"177.234.159.170"},"params":{},"query":{},"body":{"BaseUrl":"https://iatars.uazapi.com","EventType":"messages","chat":{"chatbot_agentResetMemoryAt":0,"chatbot_disableUntil":0,"chatbot_lastTriggerAt":0,"chatbot_lastTrigger_id":"","id":"r87bff4e6aa5f05","image":"","imagePreview":"https://pps.whatsapp.net/v/t61.24694-24/534420438_2140441153447112_1950463020360107646_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa3wELW6mwo6Dn40_gSqg3B3yAno-_yZzNZWYwn-T3rgzqBw&oe=69AD99B1&_nc_sid=5e03e0&_nc_cat=109","lead_assignedAttendant_id":"","lead_email":"","lead_field01":"","lead_field02":"","lead_field03":"","lead_field04":"","lead_field05":"","lead_field06":"","lead_field07":"","lead_field08":"","lead_field09":"","lead_field10":"","lead_field11":"","lead_field12":"","lead_field13":"","lead_field14":"","lead_field15":"","lead_field16":"","lead_field17":"","lead_field18":"","lead_field19":"","lead_field20":"","lead_fullName":"","lead_isTicketOpen":false,"lead_kanbanOrder":0,"lead_name":"","lead_notes":"","lead_personalid":"","lead_status":"","lead_tags":[],"name":"Miguel Nunes","owner":"5511954725014","phone":"+55 12 98811-2870","wa_archived":false,"wa_chatid":"5512988112870@s.whatsapp.net","wa_chatlid":"127230202142790@lid","wa_contactName":"","wa_ephemeralExpiration":0,"wa_fastid":"5511954725014:5512988112870","wa_isBlocked":false,"wa_isGroup":false,"wa_isGroup_admin":false,"wa_isGroup_announce":false,"wa_isGroup_community":false,"wa_isGroup_member":false,"wa_isPinned":false,"wa_label":[],"wa_lastMessageSender":"5512988112870@s.whatsapp.net","wa_lastMessageTextVote":"ola","wa_lastMessageType":"Conversation","wa_lastMsgTimestamp":1772307439000,"wa_muteEndTime":0,"wa_name":"Miguel Nunes","wa_unreadCount":14},"chatSource":"updated","instanceName":"IA - Analia Franco","message":{"buttonOrListid":"","chatid":"5512988112870@s.whatsapp.net","chatlid":"","content":"ola","convertOptions":"","edited":"","fromMe":false,"groupName":"Unknown","id":"5511954725014:3EB0B225C8916EED2555FE","isGroup":false,"mediaType":"","messageTimestamp":1772307439000,"messageType":"Conversation","messageid":"3EB0B225C8916EED2555FE","owner":"5511954725014","quoted":"","reaction":"","sender":"5512988112870@s.whatsapp.net","senderName":"Miguel Nunes","sender_lid":"127230202142790@lid","sender_pn":"5512988112870@s.whatsapp.net","source":"web","status":"","text":"ola","track_id":"","track_source":"","type":"text","vote":"","wasSentByApi":false},"owner":"5511954725014","token":"7fe60c26-d2a0-46fd-aeeb-b784808605b9"},"webhookUrl":"https://webhook.iatars.com.br/webhook/tarsatendimento","executionMode":"production"}}]},"versionId":"160502ac-01bf-4b9c-b50e-6b1fcddb6d68","activeVersionId":"160502ac-01bf-4b9c-b50e-6b1fcddb6d68","triggerCount":1,"shared":[{"updatedAt":"2026-02-28T19:25:20.663Z","createdAt":"2026-02-28T19:25:20.663Z","role":"workflow:owner","workflowId":"UEyovyDpuQdYNvHb","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2026-03-02T02:15:00.517Z","createdAt":"2026-03-02T02:15:00.517Z","versionId":"160502ac-01bf-4b9c-b50e-6b1fcddb6d68","workflowId":"UEyovyDpuQdYNvHb","nodes":[{"parameters":{"httpMethod":"POST","path":"tarsatendimento","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-256],"id":"69c5bb59-a980-43f9-9711-4c161b773a4f","name":"Webhook","webhookId":"3731a4ec-7ee7-4a02-89e3-0c6c43e68084"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Session ID').first().json.sessionid }}","tableName":"n8n_chat_histories_tmc","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[5184,128],"id":"d4e82012-7519-4e88-bd38-ea30e0783c81","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[5424,128],"id":"6ccebdd0-7bfd-45f9-99d9-960c3596e38e","name":"Calculadora1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5024,128],"id":"e629db25-42ac-4734-8977-f785a07e0baf","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"description":"Busca preco de cores TINTOMETRICAS (cores personalizadas que nao existem prontas no catalogo).\n\nQUANDO USAR: Quando o cliente pedir uma COR ESPECIFICA que NAO foi encontrada no catalogo (ex: azul royal, verde musgo, bege, terracota). NAO use para cores basicas que ja existem no catalogo (branco, preto).\n\nPARAMETROS:\n- Marca: marca da tinta (ex: suvinil, coral, tmc)\n- Cor: nome da cor pedida (ex: azul royal, verde musgo)\n- Volume: volume pedido (ex: 3,6L, 18L)\n- Acabamento: acabamento pedido (ex: fosco, acetinado, brilhante)\n- linha: tipo do produto. Use \"esmalte\" quando o cliente pediu ESMALTE. Deixe vazio para tinta acrilica de parede.\n- codigoCor: deixe vazio, sera preenchido automaticamente\n\nIMPORTANTE sobre ESMALTE:\n- Se o cliente pediu esmalte e a cor NAO existe no catalogo, passe linha = \"esmalte\"\n- Isso garante que o tintometrico retorne esmalte e NAO tinta acrilica\n- Para tinta de parede normal, deixe linha vazio","workflowId":{"__rl":true,"value":"IRWCOFc2FMBB7r5k","mode":"list","cachedResultUrl":"/workflow/IRWCOFc2FMBB7r5k","cachedResultName":"TINTOMETRICO_MULTITENANT"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","Volume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Volume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","empresa_id":"={{ $('Identifica Empresa').item.json.empresa_id }}","linha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('linha', ``, 'string') }}","Base":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Base', ``, 'string') }}","superfície":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('superf_cie', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Volume","displayName":"Volume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Base","displayName":"Base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"superfície","displayName":"superfície","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"linha","displayName":"linha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5824,128],"id":"1ae635bd-c187-46dd-8591-29cb940f2658","name":"preco_tintometrico"},{"parameters":{"operation":"delete","key":"={{ $('Session ID').first().json.sessionid }}"},"id":"57b57178-3a94-43a1-ba90-f961cdcd044f","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[6272,-192],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1200,16],"id":"bfe750d5-708d-4045-8008-5290197717a6","name":"No Operation, do nothing"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').first().json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55{{ $('Data').first().json.Telefone }}"},{"name":"text","value":"={{ $('TARS').item.json.output }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[6080,-192],"id":"3a55702d-0a93-4618-b9c5-87ae9f1155f3","name":"Envia MSG"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1792,-64],"id":"3b0d4ecc-895a-42f6-b579-2a82d3394a2e","name":"Gera ID"},{"parameters":{"operation":"executeQuery","query":"SELECT telefone, nome, sessionid, origem, loja_id, codigo_loja\nFROM \"Controle_TMC\".leads_origem\nWHERE telefone = '{{ $('Data').item.json.Telefone }}'\n  AND empresa_id = '{{ $('Identifica Empresa').item.json.empresa_id }}'\n  AND loja_id = '{{ $('Mapemento de loja').item.json.loja_id }}'\nLIMIT 1","options":{}},"id":"62249611-f13f-430c-b695-e3789f93bafa","name":"Get Dados","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1920,-256],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"63d57e10-8303-45a7-ac62-d7ce5fb235d1","name":"phone","value":"={{ $('Data').first().json.Telefone }}","type":"string"},{"id":"c1ab4f10-3cfd-4ff4-a95c-7b28236a1cb0","name":"conversation_id","value":"={{ $('Session ID').first().json.sessionid }}","type":"string"},{"id":"df58dbca-e900-466d-95cf-07bbdf24551c","name":"user_msg","value":"={{ $('Mensagem Completa').first().json.conversation }}","type":"string"},{"id":"ad600e00-2584-464e-b96b-6f49e36d7bd7","name":"bot_msg","value":"={{ $json.output }}","type":"string"},{"id":"1a481ecb-c84d-4d1d-9d51-6f63412bdf7c","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"31c399bf-6ce4-4254-be79-ac961ff7a695","name":"loja","value":"={{ $('Session ID').first().json.loja_codigo }}","type":"string"},{"id":"ebaac0de-97ac-4439-91e4-1ff16a9bdda7","name":"vendedor","value":"=Tars","type":"string"},{"id":"65444a07-36af-444d-909a-9724dbb7cbb5","name":"Nome","value":"={{ $('Data').first().json.Nome }}","type":"string"},{"id":"empresa_id_1769560327017","name":"empresa_id","value":"={{ $('Identifica Empresa').first().json.empresa_id }}","type":"string"},{"id":"loja_id_prep_1769560327017","name":"loja_id","value":"={{ $('Session ID').first().json.loja_id }}","type":"string"},{"id":"msg_type_1769560327017","name":"message_type","value":"=chat","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5600,-192],"id":"07979a0a-39f4-4d3e-8176-ddeb99b72c4b","name":"Prepara para metricas"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"={{ $json.prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[5264,-192],"id":"46a2c3db-0765-4467-8159-78f0296c4823","name":"TARS","alwaysOutputData":true,"executeOnce":false},{"parameters":{"workflowId":{"__rl":true,"value":"XSJvA7pMN74d7IHm","mode":"list","cachedResultUrl":"/workflow/XSJvA7pMN74d7IHm","cachedResultName":"Salva mensagens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phone":"={{ $json.phone }}","conversation_id":"={{ $json.conversation_id }}","user_message":"={{ $json.user_msg }}","bot_message":"={{ $json.bot_msg }}","message_type":"={{ $json.message_type }}","timestamp":"={{ $json.timestamp }}","loja":"={{ $json.loja }}","vendedor":"={{ $json.vendedor }}","nome":"={{ $json.Nome }}","empresa_id":"={{ $json.empresa_id }}","loja_id":"={{ $json.loja_id }}"},"matchingColumns":[],"schema":[{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"bot_message","displayName":"bot_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"vendedor","displayName":"vendedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"empresa_id","displayName":"empresa_id","type":"string","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"loja_id","displayName":"loja_id","type":"string","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5824,-192],"id":"2b7a8143-2307-4fc1-a0aa-a377f7eeb5e7","name":"Call 'Salva mensagens'"},{"parameters":{"assignments":{"assignments":[{"id":"f8ccd10b-1b4e-411a-bbaa-4309b3b3674c","name":"Telefone","value":"={{ $json.body.message.chatid.replace('@s.whatsapp.net', '').replace(/^55/, '') }}","type":"string"},{"id":"59c45e98-ef1f-40c7-89ee-8ad95c526a47","name":"Nome","value":"={{ $json.body.message.senderName }}","type":"string"},{"id":"cc803d9f-a567-49a6-862b-eafb26530a5f","name":"baseUrl","value":"={{ $json.body.BaseUrl }}","type":"string"},{"id":"fb52083d-7ecc-4500-ae99-6ac10f890eb6","name":"mensagem","value":"={{ $json.body.message.text }}","type":"string"},{"id":"a35923ee-5a33-457e-865a-ec18797bdbdc","name":"MediaType","value":"={{ $json.body.message.messageType }}","type":"string"},{"id":"52785e95-c1de-4e99-9351-5c00b66625ed","name":"mediaType","value":"={{ $json.body.message.mediaType }}","type":"string"},{"id":"b02a1dc1-7701-4000-b741-64f055162c1f","name":"fromMe","value":"={{ $json.body.message.fromMe }}","type":"string"},{"id":"39d5db02-688b-4acc-b948-0e33ea39367f","name":"instancia","value":"={{ $json.body.instanceName }}","type":"string"},{"id":"e8bf96e4-15b5-4cf5-9f82-51de6ad5aa9d","name":"Token","value":"={{ $json.body.token }}","type":"string"},{"id":"f6b9e33a-3519-4c41-972b-b764f85b0b77","name":"URL","value":"={{ $json.body.message.content.URL }}","type":"string"},{"id":"cca9b610-095e-4b95-9083-ccddcab136b5","name":"mimetype","value":"={{ $json.body.message.content.mimetype }}","type":"string"},{"id":"cb172d5c-1327-4649-92d4-5cb6fce95fce","name":"ID","value":"={{ $json.body.message.messageid }}","type":"string"},{"id":"e614329e-fdeb-49f0-b9e3-c77bd84128b1","name":"Telefone_block","value":"={{ $json.body.message.chatid.replace('@s.whatsapp.net', '').replace(/^55/, '') }}","type":"string"}]},"options":{}},"id":"94561ea4-8cec-4052-9980-760184f67bb8","name":"Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-240]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[32,-416],"id":"ea1eb1b1-c762-4ede-8869-0ddf57297ee8","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02c85aa3-873d-46a1-8e7b-4d0c7a21937e","leftValue":"={{ $json.body.message.wasSentByApi }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-176,-256],"id":"b22b3ee7-3907-49fe-a244-2b8e2610eee7","name":"Verifica MSG API"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Data').item.json.fromMe }}","rightValue":"true","operator":{"type":"string","operation":"equals"},"id":"e1111e6f-d830-4f61-ab5c-ca8673b6d6af"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Data').item.json.fromMe }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"f984f2e2-91ff-483d-98d1-7b8d94bae841","name":"Rota FromMe","type":"n8n-nodes-base.switch","typeVersion":3,"position":[800,-240]},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.telefone }}_block","options":{}},"id":"45e90239-20f7-43ca-9917-f3314811baaa","name":"Verificar Block","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1008,-224],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Data').item.json.Telefone_block }}_block","value":"true","keyType":"string","expire":true,"ttl":900},"id":"fd392ba8-976a-467d-93f2-eb4d94da4ab6","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[960,-432],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Desativada"}]},"options":{}},"id":"89e1a6a1-fed9-4796-a161-5c2091950230","name":"Rota Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1232,-224]},{"parameters":{"operation":"executeQuery","query":"SELECT telefone, nome, sessionid, origem, loja_id, codigo_loja\nFROM \"Controle_TMC\".leads_origem\nWHERE telefone = '{{ $('Data').item.json.Telefone }}'\n  AND empresa_id = '{{ $('Identifica Empresa').item.json.empresa_id }}'\n  AND loja_id = '{{ $('Mapemento de loja').item.json.loja_id }}'\nLIMIT 1","options":{}},"id":"4891ecfd-56d8-4457-925f-b6397385b059","name":"Get ID1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1392,-240],"alwaysOutputData":true,"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ Boolean($('Get ID1').item.json.telefone?.trim()) }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,-240],"id":"bd29c922-7e06-4335-b2af-48355fcbae9e","name":"Existe?1"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".leads_origem\n  (telefone, nome, empresa_id, loja_id, codigo_loja, sessionid, origem, origem_detectada, confianca_deteccao, workflow_origem, data_primeiro_contato)\nVALUES\n  ('{{ $('Data').item.json.Telefone }}', '{{ $('Data').item.json.Nome ? $('Data').item.json.Nome.replace(/'/g, \"''\") : \"\" }}', '{{ $('Identifica Empresa').item.json.empresa_id }}', '{{ $('Mapemento de loja').item.json.loja_id }}', '{{ $('Mapemento de loja').item.json.loja_codigo }}', '{{ $('Gera ID').item.json.data }}', '{{ $('Mapemento de loja').item.json.lead_origem }}', {{ $('Mapemento de loja').item.json.lead_detectada ? \"'\" + $('Mapemento de loja').item.json.lead_detectada.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, '{{ $('Mapemento de loja').item.json.lead_confianca }}', 'ATENDIMENTO_UNIFICADO', NOW())\nON CONFLICT (telefone, empresa_id, loja_id)\nDO UPDATE SET\n  nome = COALESCE(NULLIF(EXCLUDED.nome, ''), \"Controle_TMC\".leads_origem.nome),\n  sessionid = COALESCE(EXCLUDED.sessionid, \"Controle_TMC\".leads_origem.sessionid),\n  origem = CASE\n    WHEN \"Controle_TMC\".leads_origem.confianca_deteccao = 'baixa' AND EXCLUDED.confianca_deteccao = 'alta'\n    THEN EXCLUDED.origem\n    ELSE \"Controle_TMC\".leads_origem.origem\n  END,\n  origem_detectada = CASE\n    WHEN \"Controle_TMC\".leads_origem.confianca_deteccao = 'baixa' AND EXCLUDED.confianca_deteccao = 'alta'\n    THEN EXCLUDED.origem_detectada\n    ELSE \"Controle_TMC\".leads_origem.origem_detectada\n  END,\n  confianca_deteccao = CASE\n    WHEN EXCLUDED.confianca_deteccao = 'alta'\n    THEN 'alta'\n    ELSE \"Controle_TMC\".leads_origem.confianca_deteccao\n  END\nRETURNING sessionid, telefone, loja_id, codigo_loja","options":{}},"id":"838cc3ec-255e-4d57-8a64-94eda2d756ff","name":"Cria cliente1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2032,-64],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"description":"=## avisar_vendedor - Aciona vendedor humano\n\n### Quando usar:\n\n**1. Orcamento Finalizado**\n- Colete ANTES: Nome, CPF/CNPJ, Endereco completo, Telefone, Forma de pagamento, Produtos\n\n**Mensagem:**\n🎉 *ORCAMENTO FECHADO - [Nome Cliente]*\nLOJA - {{ $('Session ID').item.json.loja_codigo }} - {{ $('Session ID').item.json.loja_nome }}\n\n📋 *DADOS:*\nCPF/CNPJ: [numero]\nWhatsApp: {{ $('Session ID').first().json.telefone }}\nEndereco: [completo]\n\n🛒 *PRODUTOS:*\n- [Produto] - Cod: [XXX] - R$ [valor]\n\n💰 *TOTAL: R$ [valor]*\n💳 *Pagamento:* [forma]\n\n⚠️ *A TRATAR:*\n[Produtos nao encontrados, observacoes, prazos]\n\n**2. Produto Nao Encontrado** - Acione informando o produto, continue o atendimento\n\n**3. Atendimento Humano Solicitado** - Acione IMEDIATAMENTE\n\n### Regras:\n- Orcamento: NUNCA acione sem todos os dados\n- Atendimento humano: acione na hora\n- Produto nao encontrado: acione na hora e continue ajudando","workflowId":{"__rl":true,"value":"e1jfS78LqkKpCkbl","mode":"list","cachedResultUrl":"/workflow/e1jfS78LqkKpCkbl","cachedResultName":"AVISAR_VENDEDOR_MULTITENANT"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}","loja":"={{ $('Session ID').first().json.loja_nome }}","telefone":"={{ $('Session ID').first().json.telefone }}","Loja_Codigo":"={{ $('Session ID').first().json.loja_codigo }}","Origem_Canal":"={{ $('Session ID').first().json.origem_canal }}","empresa_id":"={{ $('Identifica Empresa').item.json.empresa_id }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Loja_Codigo","displayName":"Loja_Codigo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Origem_Canal","displayName":"Origem_Canal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5984,128],"id":"c1fdc8bb-6455-4e90-b561-ee29ec8b22fd","name":"avisar_vendedor"},{"parameters":{"workflowId":{"__rl":true,"value":"bTsiOTOg6BAZnRwK","mode":"list","cachedResultUrl":"/workflow/bTsiOTOg6BAZnRwK","cachedResultName":"CONTROLE VENDEDORES"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-176,-96],"id":"19f15911-4a38-474e-a135-2c368db679f0","name":"Controle de mensagens"},{"parameters":{"assignments":{"assignments":[{"id":"87c3a3db-d9ed-4c6f-b2b3-e62c9d094064","name":"telefone","type":"string","value":"={{ $('Data').item.json.Telefone }}"},{"id":"b8ac96e2-54a7-41f6-b222-890a8b673dec","name":"nome","type":"string","value":"={{ $('Data').item.json.Nome }}"},{"id":"9df97479-9e53-4c43-b079-a0ebf717dd0c","name":"loja_id","type":"string","value":"={{ $('Get Lojas').item.json.loja_id }}"},{"id":"7024134a-97ee-4215-a3b7-7331548f88d1","name":"loja_codigo","type":"string","value":"={{ $('Get Lojas').item.json.codigo }}"},{"id":"b3e84720-a091-48fc-92a4-5f6e4a79b997","name":"loja_nome","type":"string","value":"={{ $('Get Lojas').item.json.nome }}"},{"id":"e102ddb8-cd89-4f4b-99e0-7fe6aa5e4be7","name":"loja_endereco","type":"string","value":"={{ $('Get Lojas').item.json.endereco || '' }}"},{"id":"86291769-a69f-4d69-8392-43d41b403047","name":"loja_pix","type":"string","value":"={{ $('Get Lojas').item.json.pix || '' }}"},{"id":"bdeeeb0a-180f-4797-b0f3-e8e42ed5888f","name":"lead_origem","type":"string","value":"={{ /an[uú]ncio.*meta|no.*instagram|facebook|click.*whatsapp/i.test($('Data').item.json.mensagem || '') ? 'meta' : /google|em.*an[uú]ncio|pesquisa.*google/i.test($('Data').item.json.mensagem || '') ? 'google' : 'organico' }}"},{"id":"b43fcfea-debe-44c6-a2ff-67c21e4ff945","name":"lead_confianca","type":"string","value":"={{ $('Identifica Empresa').item.json.loja_id && String($('Identifica Empresa').item.json.loja_id) !== 'null' ? 'alta' : /ol[aá].*vi.*tintas/i.test($('Data').item.json.mensagem || '') ? 'alta' : 'baixa' }}"},{"id":"9179a869-2eb7-413d-9d95-8b52f84a1ed5","name":"lead_detectada","type":"string","value":"={{ ($('Data').item.json.mensagem || '').substring(0, 500) }}"},{"id":"a97970e2-6cfc-44a6-b793-8031db3f92e5","name":"mensagem_original","type":"string","value":"={{ $('Data').item.json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-240],"id":"3d958608-0394-418f-a4df-b8a7a2b22d57","name":"Mapemento de loja"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[6112,128],"id":"3ac7cc6d-0d14-4328-b846-972dea89d449","name":"Think"},{"parameters":{"operation":"push","list":"={{ $json.sessionid }}","messageData":"={{ $('Data').item.json.mensagem }}","tail":true},"id":"46363a5b-3bbf-4dfd-8113-c78b03b03d07","name":"Text Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3648,-304],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Session ID').item.json.sessionid }}","messageData":"={{ $json.text }}","tail":true},"id":"268c2b64-3174-4352-bcab-83800082ac06","name":"Audio Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3648,-144],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Session ID').item.json.sessionid }}","messageData":"={{ $json.message }}","tail":true},"id":"a73802c3-2510-43bf-9648-4cd4ceff6d42","name":"PDF Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3632,-496],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3280,-496],"id":"6fc6c3ac-3aa5-4920-b0f1-6025c013ef85","name":"Extract from File"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"320e4453-4773-471e-863d-a736de2fbff3","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"DocumentMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"77507905-2987-4aca-9840-4b989f562307","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"=ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Data').item.json.mimetype }}","rightValue":"=audio/ogg; codecs=opus","operator":{"type":"string","operation":"contains"},"id":"839edd08-57e9-4dc3-abdd-1950e09e1572"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Data').item.json.mimetype }}","rightValue":"image/jpeg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem/jpeg"}]},"options":{}},"id":"71028dd1-ea83-40fa-ae82-dcf8397cc1c2","name":"ROTA Media","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2608,-304]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"d00ec51b-a9ce-46c4-82ea-47e1b38bd21b","name":"HTTP PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2912,-496]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"6f5085d1-e424-48a6-a582-6338c9e3f872","name":"HTTP Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,-144]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"aee6024c-95e8-4ab5-9aa0-8f38c8e145fa","name":"HTTP Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,48]},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"audio.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3184,-144],"id":"a33333ec-eea8-4e24-b8c1-afc97f590e58","name":"Convert to File - audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3200,48],"id":"f0a67510-6a51-4cc1-a227-3b4d228d5229","name":"Convert to File - image"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"application/pdf"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3104,-496],"id":"128601e9-37a0-4b6d-b193-c6ebb353cb75","name":"Convert to File - PDF"},{"parameters":{"assignments":{"assignments":[{"id":"0be9e760-815b-42e8-9046-26820462edd9","name":"message","value":"=<ContextoPDF>\n  <TranscricaoPDF>\n  {{ $json.text }}\n  </TranscricaoPDF>\n  </MensagemUsuario>\n    <titulodocumento>\n    {{ $json.info.Title }}\n    </titulodocumento>\n</ContextoPDF>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3440,-496],"id":"5cac8cfc-ac11-492a-9f01-bec1ce34fd98","name":"Normaliza"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"5de6b9c7-18d1-42fc-a59b-562210ea048c","name":"IA Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3440,-144],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"=Extraia e normalize todos os itens, separando nome, quantidade e unidade. Organize tudo em uma lista clara e completa, sem omitir nenhum item.","inputType":"base64","options":{}},"id":"f6dc9642-f50d-4f4b-9722-5d5973bd26d1","name":"IA image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3456,48],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"operation":"push","list":"={{ $('Session ID').item.json.sessionid }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"fa538184-cf2d-474e-bc8d-0e638714f5f0","name":"Image Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3648,48],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"amount":10},"id":"63df36a6-f701-47b8-86a2-4fc3ee6d7a06","name":"Wait9","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4112,-176],"webhookId":"d2608e95-2419-4f68-af29-8aa4483c7b30"},{"parameters":{"operation":"get","key":"={{ $('Session ID').item.json.sessionid }}","options":{}},"id":"94c32c36-263f-47b3-af9f-aa54a194a7e2","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3952,-176],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Session ID').item.json.sessionid }}","options":{}},"id":"53f06487-6847-4805-a85e-3cc8f63cedbe","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4256,-176],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"1610bbcd-26ad-47d5-85db-4b4a9208a29b","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4624,-176]},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"60dc6fac-2f37-4da7-8eb7-6afd3bac8bc2","name":"Edit Fields12","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4432,-176]},{"parameters":{"assignments":{"assignments":[{"id":"625ac12b-e7fa-49c8-b0c6-74d77a6104d6","name":"conversation","type":"string","value":"={{ (() => { const raw = $json.Redis1 || $json.Redis2 || ''; try { const arr = JSON.parse(raw); return Array.isArray(arr) ? [...new Set(arr)].join(' ') : String(arr); } catch(e) { return raw; } })() }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4864,-192],"id":"1e54da28-6568-412e-9db8-d77e9f80a023","name":"Mensagem Completa"},{"parameters":{"assignments":{"assignments":[{"id":"21dbf9bd-2cbd-4a6b-9489-5dd97dfa1f23","name":"sessionid","value":"={{ $json.sessionid }}","type":"string"},{"id":"d73eae1d-137e-45d2-9ebf-6aa549c52091","name":"telefone","value":"={{ $json.telefone || $('Data').item.json.Telefone }}","type":"string"},{"id":"4d09e65a-4377-41e6-83de-ad0474ababd2","name":"origem_canal","value":"={{ $json.origem || $('Mapemento de loja').item.json.lead_origem }}","type":"string"},{"id":"34a81519-3c03-4ea8-8e7c-3d70650ea955","name":"loja_nome","value":"={{ $json.loja_nome || $('Mapemento de loja').item.json.loja_nome }}","type":"string"},{"id":"6b7e5fcd-0738-4fde-8923-7b90fe90817e","name":"loja_codigo","value":"={{ $json.codigo_loja || $('Mapemento de loja').item.json.loja_codigo }}","type":"string"},{"id":"2ce170ec-a483-4266-afef-f59e53841085","name":"loja_endereco","value":"={{ $json.loja_endereco || $('Mapemento de loja').item.json.loja_endereco }}","type":"string"},{"id":"c15bb22c-89e2-4689-8711-1c1326853605","name":"Pix_Loja","value":"={{ $json.loja_pix || $('Mapemento de loja').item.json.loja_pix }}","type":"string"},{"id":"loja_id_1769560327016","name":"loja_id","value":"={{ $json.loja_id || $('Mapemento de loja').item.json.loja_id }}","type":"string"},{"id":"16320ac4-868b-40ff-8722-79d953028da3","name":"empresa_id","value":"={{ $('Identifica Empresa').item.json.empresa_id }}","type":"string"},{"id":"0e2b3467-bc8f-41d4-827e-5435086ed9fa","name":"slug","value":"={{ $('Identifica Empresa').item.json.slug }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2288,-256],"id":"1a966273-057f-43a1-aa66-6b66f91a162a","name":"Session ID"},{"parameters":{"operation":"executeQuery","query":"SELECT iw.empresa_id, iw.loja_id, iw.codigo_loja, iw.token_uazapi,\n       cc.slug, cc.nome_cliente, cc.default_loja_id,\n       cc.api_url, cc.api_tintometrico_url, cc.api_credential_name\nFROM \"Controle_TMC\".instancias_whatsapp iw\nJOIN \"Controle_TMC\".configuracoes_cliente cc ON cc.empresa_id = iw.empresa_id\nWHERE iw.nome_instancia = '{{ $('Data').item.json.instancia }}'\n  AND iw.tipo = 'ia' AND iw.ativo = true\nLIMIT 1","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[128,-240],"id":"1aedaea7-7269-4d94-bbed-b894d79d7062","name":"Identifica Empresa","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"WITH params AS (\n  SELECT\n    NULLIF(NULLIF('{{ $('Identifica Empresa').item.json.loja_id }}', ''), 'null') as inst_loja,\n    '{{ $('Identifica Empresa').item.json.default_loja_id }}' as def_loja,\n    LOWER('{{ $('Data').item.json.mensagem }}') as msg\n)\nSELECT l.id as loja_id, l.codigo, l.nome, l.endereco, l.pix, l.telefone\nFROM \"Controle_TMC\".lojas l, params p\nWHERE l.empresa_id = '{{ $('Identifica Empresa').item.json.empresa_id }}'\n  AND l.ativo = true\nORDER BY\n  CASE\n    WHEN p.inst_loja IS NOT NULL AND l.id::text = p.inst_loja THEN 0\n    WHEN p.inst_loja IS NULL AND p.msg LIKE '%' || LOWER(l.nome) || '%' THEN 1\n    WHEN p.inst_loja IS NULL AND EXISTS (\n      SELECT 1 FROM unnest(string_to_array(LOWER(l.nome), ' ')) w\n      WHERE length(w) > 3 AND p.msg LIKE '%' || w || '%'\n    ) THEN 2\n    WHEN l.id::text = COALESCE(p.inst_loja, p.def_loja) THEN 3\n    ELSE 4\n  END\nLIMIT 1","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[288,-240],"id":"970074b2-2774-4ce5-ab79-1fb5381b860f","name":"Get Lojas","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Busca produtos no catalogo da loja COM preco. Use esta ferramenta para encontrar produtos e seus precos.\n\nCOMO USAR: Passe uma query SQL SELECT que faz JOIN entre catalogo_produtos e produtos_curva_abc.\n\nIMPORTANTE: Os valores de empresa_id e filtro de cliente (c.cliente) estao no prompt do sistema. Use-os EXATAMENTE como informados la.\n\nTEMPLATE DA QUERY:\nSELECT c.descricao, c.marca, c.descricao_venda, c.categoria, c.embalagem, c.acabamento, c.prioridade, p.preco\nFROM \"Controle_TMC\".catalogo_produtos c\nJOIN \"Controle_TMC\".produtos_curva_abc p ON c.codigo::bigint = p.codigo_produto AND p.empresa_id = '[empresa_id do prompt]'\nWHERE [filtro de cliente do prompt] AND c.ativo = true\nAND c.tags ILIKE '%TIPO%'\nAND c.acabamento = 'FOSCO'\nAND c.categoria NOT IN ('Externa', 'Emborrachada')\nAND (c.descricao ILIKE '%COR%' OR c.descricao_venda ILIKE '%COR%')\nAND [filtro de volume]\nORDER BY c.prioridade, p.preco\nLIMIT 1\n\n=== DADOS OBRIGATORIOS ===\n\nANTES de buscar, voce PRECISA ter:\n1. COR — se o cliente nao disse, pergunte: \"Qual cor voce procura?\"\n2. VOLUME — se o cliente nao disse, pergunte: \"Qual volume? (3,6L, 18L ou 0,9L)\"\nSem cor E sem volume, pergunte AMBOS antes de buscar. NUNCA busque sem esses dados.\n\nAliases de volume:\n- lata / latao = 18L\n- galao = 3,6L\n- quartinho = 0,9L\n\n=== FILTRO DE VOLUME (MUITO IMPORTANTE) ===\n\nQuando buscar 18L/lata: use (c.embalagem ILIKE '%18%' OR c.embalagem ILIKE '%20%')\n  — Coral usa balde de 20L ao inves de 18L\nQuando buscar 3,6L/galao: use (c.embalagem ILIKE '%3,6%' OR c.embalagem = '3L')\n  — TMC esmalte base agua vem em 3L\nQuando buscar 0,9L/quartinho: use (c.embalagem ILIKE '%0,9%' OR c.embalagem = '0,75L')\n  — TMC esmalte base agua vem em 0,75L\n\nSe o volume retornado for diferente do pedido (20L vs 18L, 3L vs 3,6L), apresente normalmente SEM justificar. So explique se o cliente perguntar.\n\n=== ACABAMENTO (MUITO IMPORTANTE) ===\n\nSEMPRE filtrar c.acabamento = 'FOSCO' por padrao.\nSO mude o acabamento se o cliente PEDIR EXPLICITAMENTE:\n- \"acetinado\" ou \"seda\" → c.acabamento = 'ACETINADO'\n- \"semi-acetinado\" ou \"semi-brilho\" → c.acabamento = 'SEMIACETINADO'\n- \"brilhante\" → c.acabamento = 'BRILHANTE'\nSe o cliente nao mencionar acabamento, SEMPRE use FOSCO.\n\n=== CATEGORIA (MUITO IMPORTANTE) ===\n\nSEMPRE adicionar c.categoria NOT IN ('Externa', 'Emborrachada') por padrao.\nSO remova esse filtro se o cliente pedir explicitamente:\n- \"fachada\", \"muro\", \"area externa\" → remova o NOT IN, use c.tags ILIKE '%fachada%'\n- \"emborrachada\" → remova o NOT IN, use c.tags ILIKE '%emborrachada%'\n\n=== LOGICA DE PRIORIDADE ===\n\nO campo c.prioridade define qual produto sugerir primeiro:\n  0 = carro-chefe TMC (Inspira Fosco) — usar para pedidos GENERICOS sem marca\n  1 = carro-chefe de cada marca (Suvinil Toque Fosco Completo, Coral Rende Muito, TMC outros)\n  2 = opcoes intermediarias\n  3 = opcoes economicas/basicas\n\nREGRAS DE BUSCA:\n\n1. PEDIDO GENERICO (sem marca): \"quero uma tinta branca 18L\"\n   → Template base com FOSCO + NOT IN + ORDER BY c.prioridade, p.preco LIMIT 1\n   → Vai retornar TMC Inspira Fosco (prioridade 0)\n\n2. PEDIDO COM MARCA: \"quero suvinil branca 18L\"\n   → Adicione AND c.marca ILIKE '%suvinil%' + LIMIT 1\n   → Vai retornar o carro-chefe fosco da marca (prioridade 1)\n\n3. PRODUTO ESPECIFICO (cliente sabe o nome): \"quero suvinil sempre limpo 18L\"\n   → Busque pelo NOME: AND (c.descricao ILIKE '%sempre limpo%' OR c.descricao_venda ILIKE '%sempre limpo%')\n   → NAO aplique filtro de acabamento FOSCO nem prioridade — o cliente sabe o que quer\n\n4. \"TEM MAIS BARATO?\" (apos mostrar um produto):\n   → Faca 2 buscas: carro-chefe da mesma marca (prioridade <= 1) + TMC Inspira (prioridade 0)\n   → Mostre as 2 opcoes. NAO pule direto pra tinta economica.\n   → Mencione que TMC e marca propria com otima qualidade.\n\n5. \"MAIS EM CONTA\" / \"MAIS BARATO\" (pedido generico, sem contexto anterior):\n   → ORDER BY p.preco LIMIT 3\n   → Mostre as 3 opcoes mais baratas.\n\n6. \"QUAIS OPCOES VOCES TEM?\" (quer comparar):\n   → ORDER BY c.prioridade, p.preco LIMIT 5\n   → Mostre 5 opcoes de diferentes marcas.\n\n=== CORES COM VARIACAO ===\n\nQuando a cor tem variacoes (cinza/cinza chumbo, vermelho/vermelho seguranca):\n- Traga a versao NORMAL (ex: cinza, vermelho)\n- So traga a variacao se o cliente pedir explicitamente (ex: \"cinza chumbo\")\n- Use NOT ILIKE para excluir variacoes: AND c.descricao NOT ILIKE '%chumbo%'\n\n=== ESMALTE ===\n\nEsmalte tem regras diferentes de tinta de parede:\n- Default = base agua (TMC carro-chefe)\n- Se a cor so existe em base solvente → apresente e INFORME que e base solvente\n- Esmalte com cor (cinza, azul, etc) geralmente e BRILHANTE — nao force FOSCO\n- Cores prontas no catalogo: busque normalmente com c.categoria ILIKE '%esmalte%'\n- Cor NAO encontrada no catalogo → use a ferramenta preco_tintometrico com linha = \"esmalte\"\n\n=== TINTA PISO ===\n\n- Cores de fabrica — NAO tem tintometrico\n- Se pedir \"opcoes de piso\": liste as CORES disponiveis, nao produtos individuais\n- Busque com c.categoria ILIKE '%piso%'\n- Marcas: TMC (carro-chefe) e Novacor (Sherwin-Williams)\n\n=== ACESSORIOS ===\n\nPara acessorios (rolo, pincel, trincha, bandeja, lona, fita):\n- Busque por c.descricao ILIKE direto, SEM filtro de tags/acabamento/categoria\n- NAO pergunte cor nem acabamento\n\nROLOS:\n- Parede → rolo la de carneiro. Default: 23cm\n- Metal/portao/grade/esmalte → rolo espuma. Default: 9cm\n- Se o contexto da conversa ja tem tinta de parede, infira la de carneiro sem perguntar\n\nSINONIMOS:\n- pincel = trincha\n- fita crepe larga = 48mm, media = 24mm, fina = 18mm\n\n=== DILUENTES/SOLVENTES ===\n\nBusque por c.descricao ILIKE direto (NAO por tags, pois tags misturam thinner com aguarras).\n- \"thinner\" ou \"tinner\" → c.descricao ILIKE '%thinner%'\n- \"aguarras\" ou \"agua raz\" → c.descricao ILIKE '%aguarras%'\nSo precisa de volume, sem cor/acabamento.\n\n=== MASSA / PREPARACAO ===\n\n- Busque por c.descricao ILIKE (ex: '%massa corrida%', '%selador%')\n- Volume em KG (nao litros) — pergunte \"Qual tamanho?\" generico, sem listar opcoes fixas\n- Use LIMIT 3 (volumes variam por cliente e marca)\n- Quando tiver barrica e balde do mesmo peso, barrica vem primeiro (mais barata)\n- Selador no contexto de parede = selador acrilico (nao seladora de verniz)\n\n=== LISTA DE ITENS ===\n\nQuando o cliente mandar uma LISTA de produtos:\n- Resolva o MAXIMO de itens possivel com as informacoes disponiveis\n- Agrupe as perguntas pendentes em UMA UNICA mensagem\n- Apresente os itens ja resolvidos junto com as perguntas\n\nTIPO — filtro por tags. Default: 'parede'. Troque conforme o pedido:\n  parede (default) → '%parede%'\n  mofo/banheiro → '%mofo%'\n  esmalte → use c.categoria ILIKE '%esmalte%' (nao tags)\n  verniz → '%verniz%'\n  piso → use c.categoria ILIKE '%piso%' (nao tags)\n  cimento queimado → '%cimento-queimado%'\n  spray → '%spray%'\n  epoxi → '%epoxi%'\n  fachada/externo → '%fachada%' (remova o NOT IN de categoria)\n  emborrachada → '%emborrachada%' (remova o NOT IN de categoria)\n  acessorios (rolo, pincel, fita, lixa, lona) → busque por c.descricao ILIKE\n\nREGRAS GERAIS:\n- NUNCA use \"tinta\" como termo ILIKE — tudo e tinta, nao filtra nada\n- Use as PALAVRAS EXATAS do cliente\n- Para MARCA: AND c.marca ILIKE '%coral%'\n- Para embalagem: campo usa VIRGULA (0,9L e 3,6L). Converta ponto pra virgula\n- FALLBACK DE MARCA: Se marca retornar vazio, NOVA busca SEM marca\n- Sempre inclua p.preco no SELECT\n\n=== FALLBACK OBRIGATORIO ===\nSe a query com JOIN retornar VAZIO (response vazia, array vazio, sem resultados), voce DEVE fazer uma SEGUNDA chamada com esta query de fallback direto na tabela de precos:\n\nSELECT descricao, marca, preco FROM \"Controle_TMC\".produtos_curva_abc\nWHERE empresa_id = '[empresa_id do prompt]'\nAND similarity(norm_desc, '[termo do cliente]') > 0.15\nORDER BY similarity(norm_desc, '[termo do cliente]') DESC LIMIT 3\n\nSubstitua [termo do cliente] pelo que o cliente pediu em minusculo (ex: 'massa corrida tmc', 'rolo 23cm').\nNUNCA responda \"nao encontrei\" sem ter feito essa segunda busca.","operation":"executeQuery","query":"{{ $fromAI('query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[5600,112],"id":"98b217c3-b178-4ec1-952a-89a312eb26d1","name":"buscar_catalogo_preco","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"6327fd72-1b13-42c6-a71e-830d9707660b","name":"chatInput","type":"string","value":"={{ $json.conversation }}"},{"id":"7725d91d-2ec5-41cb-9188-05b01aa01f03","name":"prompt","type":"string","value":"=# TARS v5 — Assistente de Vendas Tintas MC\n\nVoce e o TARS, vendedor virtual da Tintas MC {{ $('Session ID').item.json.loja_nome }}.\nTom: WhatsApp — direto, amigavel, sem formalidade. Portugues do Brasil.\nMensagens CURTAS. Sem markdown (nada de **, _, #, ---). CAPS pra enfase. Precos naturais: \\\"R$ 289,00\\\".\n\nEndereco: {{ $('Session ID').item.json.loja_endereco }}\nHorario: Seg-Sex 08h-18h | Sab 08h-13h | Dom/feriado: fechado\nEntrega: Seg-Sex 8h30-18h | Sab 8h30-14h\nPagamento: PIX (CNPJ {{ $('Session ID').item.json.Pix_Loja }}), Dinheiro, Debito/Credito (ate 6x, min R$150), Boleto (PJ)\nHoje: {{ $now.setLocale('pt-BR').toFormat('cccc') }}, {{ $now.toFormat('dd/MM/yyyy') }} as {{ $now.toFormat('HH:mm') }}\n\n---\n\n## FLUXO DE ATENDIMENTO\n\n1. Entenda a intencao do cliente\n\n2. Classifique e aja:\n   - Saudacao pura (\\\"oi\\\", \\\"bom dia\\\") → \\\"Oi! Sou o TARS da Tintas MC {{ $('Session ID').item.json.loja_nome }}! Me conta, o que voce precisa?\\\"\n   - Produto ESPECIFICO (\\\"Suvinil 18L\\\", \\\"anti-mofo\\\", \\\"verniz pra madeira\\\", \\\"tinta tradicional\\\") → buscar_catalogo_preco direto\n   - Pedido GENERICO (\\\"tinta pra parede\\\", \\\"tinta boa\\\", \\\"preciso de tinta\\\") → pergunte: \\\"Voce quer premium (lavavel, otima cobertura), intermediaria (bom rendimento) ou economica (menor preco)?\\\"\n   - Cor personalizada (qualquer cor que NAO seja branco) → preco_tintometrico\n   - EXCECAO Piso: SEMPRE buscar_catalogo_preco, mesmo com cor (ex: \\\"piso cinza\\\", \\\"piso vermelho\\\"). Piso e PRODUTO com cor fixa\n   - EXCECAO Cimento Queimado: primeiro buscar_catalogo_preco (temos cores prontas: Tunel de Concreto, Dia de Chuva, Selva de Pedra, etc). Se o cliente quiser cor que nao esta no catalogo → preco_tintometrico buscando como \\\"massa para efeitos\\\"\n   - Fora de escopo (encanamento, eletrica) → \\\"Trabalhamos com tintas e acessorios de pintura!\\\" Se insistir: avisar_vendedor\n   - B2B (empresa, CNPJ, qtd >5) → direto ao preco, sem perguntas basicas\n\n3. Antes de buscar, verifique:\n   - VOLUME: Se nao disse tamanho, pergunte: \\\"Qual tamanho? Lata (18L), galao (3,6L) ou quartinho (0,9L)?\\\"\n   - ESMALTE: Pergunte base antes de buscar: agua ou solvente?\n   - MAX 2 perguntas por mensagem\n\n4. Apresente resultado com confianca → pergunte se quer fechar → colete dados → avisar_vendedor\n\n---\n\n## BUSCA DE PRODUTOS (buscar_catalogo_preco)\n\nTemplate SQL:\nSELECT c.descricao, c.marca, c.descricao_venda, c.categoria, c.embalagem, c.acabamento, c.prioridade, p.preco\nFROM \\\"Controle_TMC\\\".catalogo_produtos c\nJOIN \\\"Controle_TMC\\\".produtos_curva_abc p ON c.codigo::bigint = p.codigo_produto AND p.empresa_id = '{{ $('Session ID').item.json.empresa_id }}'\nWHERE (c.cliente = '{{ $('Session ID').item.json.slug }}' OR c.cliente = 'todos') AND c.ativo = true\nAND c.tags ILIKE '%TIPO%'\nAND (outros filtros conforme pedido)\nORDER BY c.prioridade\nLIMIT 1 (use LIMIT 5 pra categorias com variantes: cimento queimado, efeito decorativo)\n\nTIPO — filtro OBRIGATORIO que define o tipo de produto. Default: 'parede'\nTROQUE conforme o pedido do cliente:\n  parede (default) → '%parede%' (branco, fosco, tradicional, premium, economica)\n  banheiro/mofo → '%mofo%'\n  esmalte → '%esmalte%'\n  verniz → '%verniz%'\n  piso → '%piso%'\n  cimento queimado → '%cimento-queimado%'\n  spray → '%spray%'\n  epoxi → '%epoxi%'\n  acessorios (rolo, pincel, fita, lixa) → REMOVA o filtro de TIPO, busque pelo nome do produto na descricao\n\nCOMO MONTAR O TERMO — extraia a PALAVRA-CHAVE do cliente. Nunca use \\\"tinta\\\" (tudo e tinta, nao filtra):\n  \\\"tinta tradicional\\\" → TIPO='parede' + tags ILIKE '%tradicional%'\n  \\\"tinta anti-mofo pra banheiro\\\" → TIPO='mofo' + tags ILIKE '%banheiro%'\n  \\\"verniz pra madeira\\\" → TIPO='verniz' + uso ILIKE '%madeira%'\n  \\\"tem mais barato?\\\" → TIPO='parede' + tags ILIKE '%barata%'\n  \\\"Coral branco fosco 0,9L\\\" → TIPO='parede' + marca ILIKE '%coral%' + acabamento + embalagem\n\nFILTROS (AND separados quando cliente especificar):\n- Marca: AND c.marca ILIKE '%coral%' (quando cliente pede marca especifica)\n- Uso: AND c.uso ILIKE '%madeira%'\n- Acabamento: AND (c.acabamento ILIKE '%fosco%' OR c.descricao ILIKE '%fosco%')\n- Volume: AND c.embalagem ILIKE '%3,6%' (sempre VIRGULA, nunca ponto)\n\nFALLBACK DE MARCA: Se a busca com marca especifica retornar vazio, faca NOVA busca SEM o filtro de marca (mantendo tipo, acabamento e volume). Isso retorna a proxima prioridade disponivel. Informe o cliente: \\\"Coral nao temos nessa configuracao, mas temos [alternativa]\\\". Se NENHUMA marca tiver naquela configuracao, informe os tamanhos disponiveis\n\nFALLBACK OBRIGATORIO (se JOIN retornar vazio, voce DEVE chamar buscar_catalogo_preco uma SEGUNDA vez com esta query):\nSELECT descricao, marca, preco FROM \\\"Controle_TMC\\\".produtos_curva_abc\nWHERE empresa_id = '{{ $('Session ID').item.json.empresa_id }}'\nAND similarity(norm_desc, 'TERMO') > 0.15\nORDER BY similarity(norm_desc, 'TERMO') DESC LIMIT 1\n\nREGRA CRITICA: Se a primeira busca retornar vazio, SEMPRE faca a segunda busca (fallback similarity). NUNCA diga ao cliente que nao encontrou sem ter feito as DUAS buscas.\\n\\nO campo tags contem sinonimos do cliente: mofo, antimofo, banheiro, barata, economica, tradicional, parede, madeira, porta, verniz, piso, lavavel, emborrachada, cimento-queimado, etc.\n\n---\n\n## TMC — MARCA PROPRIA\n\nPrioridade de marca (quando cliente nao especifica): 1.TMC → 2.Ciacollor → 3.Suvinil → 4.Sherwin-Williams → 5.Coral\n\nNa PRIMEIRA vez que oferecer TMC numa conversa, diga EXATAMENTE:\n\\\"TMC e a marca propria da Tintas MC, otimo custo-beneficio e o melhor de tudo: as tintas sao produzidas pela Sherwin-Williams, lider mundial do setor\\\"\nUse essa frase literalmente. Nao parafraseie. Depois da primeira vez, nao repita.\n\n---\n\n## OUTRAS FERRAMENTAS\n\npreco_tintometrico — cores personalizadas (NAO branco):\n- Cinza, bege, azul, verde, preto, vermelho, cores compostas\n- \\\"Ouro Branco\\\" NAO e branco → tintometrico. \\\"Branco Neve\\\" E branco → catalogo\n- NUNCA use tintometrico pra: piso, epoxi, verniz, spray. Esses sao PRODUTOS com cor fixa → buscar_catalogo_preco\n- Cimento queimado: primeiro buscar_catalogo_preco (cores prontas). So use tintometrico se o cliente quiser cor que nao tem no catalogo (busque como \\\"massa para efeitos\\\", uso interno)\n- Dados: Marca (TMC), Cor, Volume, Acabamento (Fosco), Linha (Inspira), Base (Agua, so pra esmalte)\n\navisar_vendedor — quando chamar:\n- Pedido confirmado + dados coletados (nome, CPF/CNPJ, telefone, endereco, pagamento)\n- Cliente pediu humano, 2 tentativas falharam, fora de escopo 2+ msgs, cliente irritado\n- Passe resumo completo: nome, pedido, precos cotados, preferencias, endereco\n\n---\n\n## REGRAS DO NEGOCIO\n\nVolumes: lata=18L, galao=3,6L, balde=20L, quartinho=0,9L\n\nOrcamento — formato:\n🛒 Orcamento\n• TMC Inspira Branco 18L (2) → R$ 578,00\n• TIGRE Rolo Antirrespingo 23cm (2) → R$ 58,00\nTotal: R$ 636,00\n\nFechamento: Colete nome, CPF/CNPJ, telefone, endereco (se entrega), pagamento → avisar_vendedor\n\nNUNCA invente: frete, parcelamento especial, estoque de outra loja, prazo de entrega, rendimento (m2/litro)\nNUNCA ofereça opcao mais barata se o cliente nao pediu. Quem pede mais barato e o CLIENTE, nao voce.\nNUNCA sugira alternativas que voce nao tem no catalogo. Nao pergunte \\\"quer fosco ou semibrilho?\\\" se so tem fosco. Nao abra brechas — quem pede alternativa e o CLIENTE.\nApresente o resultado com confianca e naturalidade. Nada de \\\"Quer essa?\\\" seco. Fale como vendedor de verdade: \\\"Essa aqui e otima!\\\", \\\"Te atende?\\\", \\\"Posso separar pra voce?\\\"\n\n---\n\n\n\n---\n\n## UPSELL — KIT DE PINTURA\n\nMOMENTO: Apos o cliente ACEITAR o orcamento E voce confirmar o pedido. NAO antes.\n\nPASSO 1 — Envie EXATAMENTE esta mensagem (copie literal, nao mude nada):\n\"Voce ja tem tudo pra pintura? Temos kits prontos com o essencial!\n\n🎨 Kit Basico — rolo, bandeja, fita e trincha\n🎨 Kit Completo — basico + protecao pro piso\n\nQual te interessa?\"\n\nNAO parafrase. NAO resuma. NAO mude as palavras. Envie ESSA mensagem.\n\nPASSO 2 — Quando o cliente escolher, busque os precos com buscar_catalogo_preco:\n\nKit Basico → SELECT c.descricao, p.preco FROM \"Controle_TMC\".catalogo_produtos c JOIN \"Controle_TMC\".produtos_curva_abc p ON c.codigo::bigint = p.codigo_produto AND p.empresa_id = '{{ $('Session ID').item.json.empresa_id }}' WHERE c.codigo IN ('391','18886','50057','909')\n\nKit Completo → mesma query mas WHERE c.codigo IN ('391','18886','50057','909','21002')\n\nPASSO 3 — Apresente EXATAMENTE neste formato (substitua XX pelos precos reais):\n\"🎨 Kit [Basico/Completo] de Pintura\n\nRolo la de carneiro 23cm — R$ XX,XX\nBandeja para pintura — R$ XX,XX\nFita crepe 24mm — R$ XX,XX\nTrincha 2 pol — R$ XX,XX\n[APENAS no completo: Salvabras protecao piso 20m — R$ XX,XX]\n\nTotal: R$ XX,XX\n\nQuer adicionar ao pedido?\"\n\nREGRAS:\n- SO ofereca UMA VEZ por conversa\n- Se disser que ja tem, NAO insista\n- Se pedir item avulso, venda normal sem mencionar kit\n\n---\n\n## EXEMPLOS DE ATENDIMENTO\n\nObserve a formatacao: cada produto em linha separada, com quebra de linha entre eles. Isso e WhatsApp, nao email.\n\n<exemplo>\nCliente: \\\"Tem tinta anti-mofo pra banheiro 3,6L e tinta tradicional 3,6L?\\\"\n\n[TARS chama buscar_catalogo_preco 2x: uma com tags ILIKE '%mofo%', outra com tags ILIKE '%tradicional%', ambas com embalagem ILIKE '%3,6%']\n\nTARS:\n\\\"Achei as duas pra voce!\n\nSuvinil Tetos Branco Neve 3,6L — R$ 209,00\nAntimofo, perfeita pra teto de banheiro\n\nTMC Inspira Fosco Branco 3,6L — R$ 147,00\nTradicional premium, otima cobertura\n\nTMC e a marca propria da Tintas MC, otimo custo-beneficio e o melhor de tudo: as tintas sao produzidas pela Sherwin-Williams, lider mundial do setor.\n\nQuer fechar com alguma dessas?\\\"\n</exemplo>\n\n<exemplo>\nCliente: \\\"Tem mais barato?\\\"\n\n[TARS chama buscar_catalogo_preco com NOVA busca: tags ILIKE '%barata%' AND embalagem ILIKE '%3,6%']\n\nTARS:\n\\\"Tem sim!\n\nTMC Luminova Branco 3,6L — R$ 77,00\nLinha economica, cobertura boa pro preco\n\nTe atende essa?\\\"\n</exemplo>\n\n<exemplo>\nCliente: \\\"Quero uma tinta pra parede\\\"\n\nTARS:\n\\\"Voce quer premium (lavavel, otima cobertura), intermediaria (bom rendimento) ou economica (menor preco)?\\\"\n</exemplo>\n\n<exemplo>\nCliente: \\\"Preciso de verniz pra madeira\\\"\n\n[TARS chama buscar_catalogo_preco: descricao ILIKE '%verniz%' AND uso ILIKE '%madeira%']\n\nTARS:\n\\\"Sparlack Cetol Deck Natural 3,6L — R$ 189,00\nProtege madeira contra sol e chuva\n\nQual tamanho voce precisa?\\\"\n</exemplo>\n\n<exemplo>\nCliente: \\\"Quero cimento queimado\\\"\n\n[TARS chama buscar_catalogo_preco: tags ILIKE '%cimento-queimado%' com LIMIT 5 (pra mostrar opcoes)]\n\nTARS:\n\\\"Temos varias opcoes de cimento queimado! Qual cor voce prefere?\n\nSuvinil Dia de Chuva 5KG — R$ 243,00 (cinza claro)\nSuvinil Avenida Expressa 5KG — R$ 248,00 (cinza medio)\nSuvinil Tunel de Concreto 5KG — R$ 246,00 (cinza escuro)\nSuvinil Selva de Pedra 5KG — R$ 244,00 (cinza esverdeado)\nSuvinil Pedra Rosada 5KG — R$ 261,00 (tom rosado)\nCoral Decora Efeito CQ 4,1KG — R$ 219,00\n\nSe quiser uma cor diferente dessas, consigo buscar no tintometrico tambem!\\\"\n</exemplo>\n\n<exemplo>\nCliente: \\\"Tinta piso vermelho 3,6L\\\"\n\n[TARS chama buscar_catalogo_preco: tags ILIKE '%piso%' AND c.descricao ILIKE '%vermelho%' AND c.embalagem ILIKE '%3,6%' (piso com cor e PRODUTO, nao tintometrico)]\n\nTARS:\n\\\"Novacor Piso Vermelho 3,6L — R$ XX\nPra garagem, calcada e areas externas\n\nEssa ai e otima pra esse uso! Posso separar pra voce?\\\"\n</exemplo>\n"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5072,-192],"id":"e176fa7a-ebe2-4bd3-b83d-b3e3b9ac7e1d","name":"Montar Prompt Dinamico"},{"parameters":{"model":"openai/gpt-5.2","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[4848,96],"id":"1103d63c-8ac9-423b-88f7-99dd9c319be6","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"U0NB1WEJA4JxoSOE","name":"OpenRouter account"}}}],"connections":{"Webhook":{"main":[[{"node":"Verifica MSG API","type":"main","index":0},{"node":"Controle de mensagens","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"TARS","type":"ai_memory","index":0}]]},"Calculadora1":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[]]},"preco_tintometrico":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"Envia MSG":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Gera ID":{"main":[[{"node":"Cria cliente1","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"Session ID","type":"main","index":0}]]},"Prepara para metricas":{"main":[[{"node":"Call 'Salva mensagens'","type":"main","index":0}]]},"TARS":{"main":[[{"node":"Prepara para metricas","type":"main","index":0}]]},"Call 'Salva mensagens'":{"main":[[{"node":"Envia MSG","type":"main","index":0}]]},"Data":{"main":[[{"node":"Identifica Empresa","type":"main","index":0}]]},"Verifica MSG API":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Data","type":"main","index":0}]]},"Rota FromMe":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"Verificar Block","type":"main","index":0}]]},"Verificar Block":{"main":[[{"node":"Rota Block","type":"main","index":0}]]},"Rota Block":{"main":[[{"node":"Get ID1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get ID1":{"main":[[{"node":"Existe?1","type":"main","index":0}]]},"Existe?1":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gera ID","type":"main","index":0}]]},"Cria cliente1":{"main":[[{"node":"Session ID","type":"main","index":0}]]},"avisar_vendedor":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"Mapemento de loja":{"main":[[{"node":"Rota FromMe","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"Text Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"PDF Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Normaliza","type":"main","index":0}]]},"ROTA Media":{"main":[[{"node":"HTTP PDF","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"HTTP Audio","type":"main","index":0}],[{"node":"HTTP Image","type":"main","index":0}]]},"HTTP PDF":{"main":[[{"node":"Convert to File - PDF","type":"main","index":0}]]},"HTTP Audio":{"main":[[{"node":"Convert to File - audio","type":"main","index":0}]]},"HTTP Image":{"main":[[{"node":"Convert to File - image","type":"main","index":0}]]},"Convert to File - audio":{"main":[[{"node":"IA Audio","type":"main","index":0}]]},"Convert to File - image":{"main":[[{"node":"IA image","type":"main","index":0}]]},"Convert to File - PDF":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Normaliza":{"main":[[{"node":"PDF Memory","type":"main","index":0}]]},"IA Audio":{"main":[[{"node":"Audio Memory","type":"main","index":0}]]},"IA image":{"main":[[{"node":"Image Memory","type":"main","index":0}]]},"Image Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Edit Fields12":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Session ID":{"main":[[{"node":"ROTA Media","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Montar Prompt Dinamico","type":"main","index":0}]]},"Identifica Empresa":{"main":[[{"node":"Get Lojas","type":"main","index":0}]]},"Get Lojas":{"main":[[{"node":"Mapemento de loja","type":"main","index":0}]]},"Montar Prompt Dinamico":{"main":[[{"node":"TARS","type":"main","index":0}]]},"buscar_catalogo_preco":{"ai_tool":[[{"node":"TARS","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"TARS","type":"ai_languageModel","index":0}]]}},"authors":"Miguel Nunes","name":null,"description":null,"autosaved":false},"tags":[]}