wlrqrUlUbuEollaa.json
{"updatedAt":"2025-11-16T17:54:08.960Z","createdAt":"2025-11-15T13:54:05.762Z","id":"wlrqrUlUbuEollaa","name":"BStech Landing page","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"IABSTECH","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,160],"id":"5f0388f2-2030-4015-a600-a3fff8552926","name":"Webhook","webhookId":"531dce8e-bc67-4f3d-af80-5171f6a74058"},{"parameters":{"assignments":{"assignments":[{"id":"feb7b8df-1e29-4c75-bb5f-18058063b5af","name":"body.selectedAI","value":"={{ $json.body.selected_ai }}","type":"string"},{"id":"df11485f-26b6-44b5-8d3f-2c52a063139b","name":"body.name","value":"={{ $json.body.name }}","type":"string"},{"id":"72e1da90-8ac4-45a0-83ef-67412e6745e8","name":"body.company","value":"={{ $json.body.company }}","type":"string"},{"id":"0639fa57-2a45-4e7b-aa17-976054ffdce6","name":"body.email","value":"={{ $json.body.email }}","type":"string"},{"id":"bb14789d-67da-4122-9918-61038aa15301","name":"body.phone","value":"={{ $json.body.phone }}","type":"string"},{"id":"328bf5be-a2f6-4309-94e0-3026b8fe227c","name":"body.timestamp","value":"={{ $json.body.paid_at }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,160],"id":"1acbf105-7629-4f30-88ec-c31e482f66c8","name":"Edit Fields"},{"parameters":{"jsCode":"const name = $json.body.name;\nconst selectedAI = $json.body.selectedAI;\n\nconst message = `\nOlá, ${name}! 👋\n\nObrigado por adquirir a *${selectedAI}*.\nSeu acesso já foi registrado e, em instantes, alguém da nossa equipe entrará em contato para acompanhar os próximos passos.\n\nQualquer dúvida, estamos por aqui.\n`;\n\nreturn {\n  message\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,160],"id":"f1fceaab-26ac-4cbc-b5b6-26700155ee26","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55{{ $('Edit Fields').item.json.body.phone }}"},{"name":"text","value":"={{ $json.message }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[624,160],"id":"a36902f8-4d3a-4e8c-8fb7-7bccd57e6c2d","name":"Envia MSG"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[416,-16],"id":"bd63119d-3e4f-4c37-b0ce-b2b26942068a","name":"Wait","webhookId":"4550616b-de4d-4dcc-b4db-4465dbc989ff"},{"parameters":{"httpMethod":"POST","path":"CapituraEmail","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,-224],"id":"d6f55ba9-4e89-4d0e-ac09-0afd98acbe56","name":"Webhook1","webhookId":"87cef3f6-2ca7-45ca-a7fb-7159553d614e"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Envia MSG","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.iatars.com.br","user-agent":"Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.69.22)","content-length":"595","accept":"*/*","accept-encoding":"gzip,br","accept-language":"*","content-type":"application/json","x-forwarded-for":"56.124.99.246","x-forwarded-host":"webhook.iatars.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"af5f5215f88e","x-real-ip":"56.124.99.246"},"params":{},"query":{},"body":{"lead_id":"834241d5-9179-4de0-bbb7-54e79f175567","name":"Miguel Paulo Nunes Ribeiro Neto","email":"mnribeiro.projetos@gmail.com","company":"TARS","phone":"12988112870","selected_ai":"IA — Controle de Compactação de Solos, IA — Ensaio CBR (Índice Suporte Califórnia), IA — Moldagem de Corpos de Prova de Concreto","payment_status":"paid","payment_amount":29100,"stripe_session_id":"cs_test_b1gnDp3z1NgD41WOOZzMHzkPdgtaLlEkKhqs4lWqlfNpouJxnpQpRfgPZa","stripe_payment_id":"pi_3STkr6RWNssY8rAD1oM9klFN","customer_email":"mnribeiro.projetos@gmail.com","paid_at":"2025-11-15T14:53:44.746Z"},"webhookUrl":"https://webhook.iatars.com.br/webhook/IABSTECH","executionMode":"production"}}]},"versionId":"3a097f27-56bf-41e5-a727-b6ef4888dd5d","triggerCount":2,"shared":[{"updatedAt":"2025-11-15T13:54:05.762Z","createdAt":"2025-11-15T13:54:05.762Z","role":"workflow:owner","workflowId":"wlrqrUlUbuEollaa","projectId":"W24N0g2dDZJdiV78"}],"tags":[]}