xAlBnFFgeBUwK5NE.json
{"updatedAt":"2026-01-30T15:36:55.781Z","createdAt":"2025-11-03T17:18:07.966Z","id":"xAlBnFFgeBUwK5NE","name":"Salva Vendas BD Alberto","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"http://159.112.189.1:25049/consultapedidovenda","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"173"},{"name":"data-hora","value":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}"},{"name":"ja-faturado","value":"true"},{"name":"size","value":"500"},{"name":"especieDocumento","value":"PD"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-624,-448],"id":"37a73ac5-5075-40c0-b05a-592c2799de51","name":"Get API ","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: items[0].json com o JSON da API\n// Saída: array de { json: {...} }\n\nfunction limparTexto(s) {\n  return String(s || \"\").replace(/\\s+/g, \" \").replace(/[;]+$/g, \"\").trim();\n}\nfunction splitEmails(s) {\n  if (!s) return [];\n  return String(s).split(/[;,]/).map(x => x.trim()).filter(Boolean);\n}\nfunction limparEmail(s) {\n  const e = String(s || \"\").trim().replace(/[;]+$/g, \"\");\n  if (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e)) return \"\";\n  return e.toLowerCase();\n}\nfunction normalizePhone(s) {\n  if (!s) return \"\";\n  const digits = String(s).replace(/\\D/g, \"\");\n  if (digits.length === 10 || digits.length === 11) return digits;\n  if (digits.length === 12 || digits.length === 13) {\n    const semDDI = digits.replace(/^55/, \"\");\n    if (semDDI.length === 10 || semDDI.length === 11) return semDDI;\n  }\n  return \"\";\n}\nfunction dedup(arr) { return Array.from(new Set(arr.filter(Boolean))); }\nfunction normalizaData(s) {\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  const n = Number(s);\n  if (Number.isFinite(n)) {\n    const d = new Date(n);\n    if (!isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  return null;\n}\nfunction toNumber(v) { const n = Number(v); return Number.isFinite(n) ? n : null; }\n\nfunction formataCEP(s) {\n  const d = String(s || \"\").replace(/\\D/g, \"\");\n  if (d.length === 8) return d.slice(0,5) + \"-\" + d.slice(5);\n  return d || null;\n}\n\nfunction montarEnderecoCliente(pedido) {\n  const c = pedido?.cliente;\n  if (c) {\n    const cidadeUF = c?.cidade ? [c.cidade.nomeCidade, c.cidade.siglaEstado].filter(Boolean).join(\" \") : \"\";\n    const partes = [\n      limparTexto([c.endereco, c.numero].filter(Boolean).join(\", \")),\n      limparTexto(c.complemento),\n      limparTexto(c.bairro),\n      limparTexto(cidadeUF),\n      formataCEP(c.cep),\n    ].filter(Boolean);\n    const joined = partes.join(\", \").replace(/\\s+,/g, \",\").trim();\n    if (joined) return joined;\n  }\n  return null;\n}\n\nfunction extrairContatoSimples(pedido) {\n  const fones = dedup([\n    normalizePhone(pedido?.cliente?.telefone1),\n    normalizePhone(pedido?.cliente?.telefone2),\n    normalizePhone(pedido?.telefoneConsumidor),\n    normalizePhone(pedido?.cliente?.telefoneCelular),\n    normalizePhone(pedido?.enderecoEntrega?.telefone),\n  ]);\n  const emails = dedup([\n    ...splitEmails(pedido?.cliente?.email || \"\"),\n    ...splitEmails(pedido?.cliente?.emailNfe || \"\"),\n    ...splitEmails(pedido?.emailConsumidor || \"\"),\n  ].map(limparEmail));\n\n  return { telefone: fones[0] || null, email: emails[0] || null };\n}\n\nfunction extrairPedidos(pages) {\n  const out = [];\n  for (const pagina of pages || []) {\n    for (const pedido of (pagina?.content || [])) {\n      const { telefone, email } = extrairContatoSimples(pedido);\n      const nomeCliente = limparTexto(\n        pedido?.nomeConsumidorOuCliente ||\n        pedido?.cliente?.nome ||\n        pedido?.nomeConsumidor ||\n        pedido?.cliente?.fantasiaSobrenome ||\n        \"CONSUMIDOR\"\n      );\n      \n      // *** ADICIONADO: Captura do código do cliente ***\n      const codigoCliente = pedido?.cliente?.codigoCliente || null;\n      \n      const vendedor = limparTexto(pedido?.nomeVendedor || \"\");\n      const codigoVendedor = pedido?.codigoVendedor || null;\n      const enderecoCliente = montarEnderecoCliente(pedido);\n\n      const dataPedido =\n        normalizaData(pedido?.dataUltimaAlteracao) ||\n        normalizaData(pedido?.dataEntrega) ||\n        normalizaData(pedido?.dataEntrada) ||\n        normalizaData(pedido?.dataPrevisaoEntrega) ||\n        normalizaData(pedido?.dataOrigem) ||\n        null;\n\n      for (const item of (pedido?.itens || [])) {\n        const produto = limparTexto(item?.descricaoCompleta || item?.descricaoProduto || \"\");\n        const quantidade = toNumber(item?.quantidade) ?? 1;\n        const preco = toNumber(item?.totalItem) ?? 0;\n\n        const dataItem =\n          normalizaData(item?.dataFaturamento) ||\n          normalizaData(item?.dataEntrada) ||\n          dataPedido;\n\n        out.push({\n          numeroDocumento: String(pedido?.numeroDocumento || \"\"),\n          codigoCliente, // *** ADICIONADO aqui ***\n          nomeCliente,\n          enderecoCliente,\n          vendedor,\n          codigoVendedor,\n          produto,\n          quantidade,\n          preco,\n          data: dataItem,\n          telefone,\n          email,\n          codigoAtividade: pedido?.cliente?.codigoAtividade || null,\n          nomeVendedor: vendedor || null\n        });\n      }\n    }\n  }\n  return out;\n}\n\n// -------- entrada e retorno --------\nlet payload = items[0]?.json;\nif (payload && payload.body) payload = payload.body;\nif (payload && payload.data) payload = payload.data;\n\nconst pages = Array.isArray(payload) ? payload : [payload];\nconst rows = extrairPedidos(pages);\n\nreturn rows && rows.length ? rows.map(r => ({ json: r })) : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,-448],"id":"fa010be9-0583-43a6-832f-1aa7d39dd125","name":"Clean Data"},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: rows do Code7\n// Saída: objeto agrupado por pedido com produtos e total\nconst pedidos = {};\nfor (const item of items) {\n  const doc = item.json.numeroDocumento;\n  if (!doc) continue;\n  if (!pedidos[doc]) {\n    pedidos[doc] = {\n      numeroDocumento: doc,\n      codigoCliente: item.json.codigoCliente, // *** ADICIONADO ***\n      nomeCliente: item.json.nomeCliente,\n      enderecoCliente: item.json.enderecoCliente,\n      vendedor: item.json.vendedor,\n      codigoVendedor: item.json.codigoVendedor,\n      nomeVendedor: item.json.nomeVendedor,\n      numeroLoja: \"173\",\n      telefone: item.json.telefone,\n      email: item.json.email,\n      data: item.json.data,\n      codigoAtividade: item.json.codigoAtividade,\n      produtos: [],\n      totalPedido: 0\n    };\n  }\n  pedidos[doc].produtos.push({\n    produto: item.json.produto,\n    quantidade: item.json.quantidade,\n    preco: item.json.preco\n  });\n  pedidos[doc].totalPedido += item.json.preco;\n}\n// saída formatada\nreturn Object.values(pedidos).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,-448],"id":"2654de8c-0321-4669-aa55-97e1fa696da1","name":"Group Orders"},{"parameters":{"jsCode":"// Função para validar o telefone\nfunction telefoneValido(fone) {\n  if (!fone) return false;\n  const digits = String(fone).replace(/\\D/g, \"\");\n  // deve ter 10 ou 11 dígitos\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n  // ignora se todos os dígitos forem iguais (ex: 1111111111)\n  if (/^(\\d)\\1+$/.test(digits)) return false;\n  // ignora se número principal (sem DDD) for só de 9s (ex: 99999999 ou 999999999)\n  const numeroPrincipal = digits.length === 11 ? digits.slice(2) : digits.slice(2);\n  if (/^9{8,9}$/.test(numeroPrincipal)) return false;\n  return true;\n}\n\n// Mapeamento de código do vendedor → telefone\nconst mapaVendedores = {\n  \"011\": \"11984536811\", // Edielson Lima\n  \"010\": \"11939358619\", // Daniel\n  \"039\": \"11915058579\", // Kawan\n  \"003\": \"11939358619\"  // Renato\n};\n\nconst out = [];\n\nfor (const item of items) {\n  const p = item.json;\n  \n    // filtro 2: ignora CONSUMIDOR\n  if (!p.nomeCliente || p.nomeCliente.toUpperCase() === \"CONSUMIDOR\") continue;\n  \n  // filtro 3: ignora telefone inválido\n  if (!telefoneValido(p.telefone)) continue;\n  \n  // adiciona telefone do vendedor, se houver\n  p.telefoneVendedor = mapaVendedores[p.codigoVendedor] || null;\n  \n  // adiciona ao output\n  out.push({ json: p });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-672],"id":"3df93739-d675-4428-bd7b-6f0d6d63a5f8","name":"Filter Orders"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".pedidos_consolidados\n(empresa_id, loja_id, codigo_loja, numero_documento, codigo_cliente, nome_cliente, endereco_cliente, vendedor, codigo_vendedor, telefone_vendedor, telefone, email, data, codigo_atividade, total_pedido, produtos)\nVALUES\n(\n  '6bfc72af-fb8b-4f8a-b83c-52fb52c362a9',\n  '75be9d1d-de8c-4ba8-8860-f0b1c1612ed4',\n  '173',\n  '{{.numeroDocumento}}',\n  '{{.codigoCliente}}',\n  '{{.nomeCliente.replace(/'/g, \"''\")}}',\n  '{{.enderecoCliente.replace(/['’]/g, \"''\")}}',\n  '{{.vendedor.replace(/'/g, \"''\")}}',\n  '{{.codigoVendedor}}',\n  '{{.telefoneVendedor}}',\n  '{{.telefone}}',\n  '{{.email}}',\n  '{{.data}}',\n  '{{.codigoAtividade}}',\n  {{.totalPedido}},\n  $${{JSON.stringify(.produtos)}}$$::jsonb\n)\nON CONFLICT (empresa_id, numero_documento, codigo_loja) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[528,-672],"id":"2b1eb8aa-bcfc-4f2c-b2f5-2e86226b3d32","name":"Save DB","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: itens contendo pedidos como você já tem usado\n// Saída: analise SOMENTE do dia anterior (America/Sao_Paulo)\n// Se \"ontem\" não existir nos dados, usa a data mais recente disponível\n\nfunction to2(n) { return Math.round((n + Number.EPSILON) * 100) / 100; }\n\nfunction ensureArrayFromItems(items) {\n  if (!items?.length) return [];\n  const j0 = items[0].json;\n  if (Array.isArray(j0)) return j0; // primeiro item é o array completo\n  return items.map(i => i.json);    // caso comum: um pedido por item\n}\n\nfunction totalPedido(p) {\n  return to2((p.produtos || []).reduce((acc, it) => acc + Number(it.preco || 0), 0));\n}\n\nfunction qtdItens(p) {\n  return (p.produtos || []).reduce((acc, it) => acc + Number(it.quantidade || 0), 0);\n}\n\nfunction acum(map, key, valor) {\n  if (!map[key]) map[key] = 0;\n  map[key] += valor;\n}\n\nfunction topN(dict, n, by = 'valor') {\n  const arr = Object.entries(dict).map(([k, v]) => {\n    if (typeof v === 'number') return { nome: k, valor: v };\n    return { nome: k, valor: v.valor ?? 0, qtd: v.qtd ?? 0 };\n  });\n  arr.sort((a, b) => (b[by] ?? 0) - (a[by] ?? 0));\n  return arr.slice(0, n).map(x => ({ ...x, valor: to2(x.valor) }));\n}\n\nfunction ymdInTZ(date) {\n  // retorna YYYY-MM-DD em America/Sao_Paulo\n  const s = date.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }); // dd/mm/aaaa\n  const [dd, mm, yyyy] = s.split('/');\n  return `${yyyy}-${mm.padStart(2,'0')}-${dd.padStart(2,'0')}`;\n}\n\nconst pedidosRaw = ensureArrayFromItems(items);\n\n// normaliza pedidos\nconst pedidosOut = pedidosRaw.map(p => ({\n  numeroDocumento: p.numeroDocumento,\n  data: p.data, // já está em YYYY-MM-DD\n  vendedor: p.vendedor || null,\n  nomeCliente: p.nomeCliente,\n  telefone: p.telefone || null,\n  email: p.email || null,\n  enderecoCliente: p.enderecoCliente || null,\n  qtdProdutos: p.produtos?.length || 0,\n  qtdItens: qtdItens(p),\n  totalPedido: totalPedido(p),\n  produtos: p.produtos || []\n}));\n\n// Captura o número da loja (assumindo que todos os pedidos são da mesma loja)\nconst numeroLoja = pedidosRaw[0]?.numeroLoja || null;\n\n// determina \"ontem\" em São Paulo\nconst hojeSP = new Date();\nconst ontemSP = new Date(hojeSP.getTime() - 24*60*60*1000);\nconst dataOntem = ymdInTZ(ontemSP);\n\n// define data alvo\nconst datasDisponiveis = [...new Set(pedidosOut.map(p => p.data))].filter(Boolean).sort();\nlet dataAlvo = dataOntem;\nlet usouDataMaisRecente = false;\n\nlet pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n\n// se não há pedidos no \"ontem\", usa a última data disponível\nif (pedidosDia.length === 0 && datasDisponiveis.length > 0) {\n  dataAlvo = datasDisponiveis[datasDisponiveis.length - 1];\n  pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n  usouDataMaisRecente = true;\n}\n\n// métricas do dia\nconst faturamentoTotal = to2(pedidosDia.reduce((a, p) => a + p.totalPedido, 0));\nconst totalPedidos = pedidosDia.length;\nconst totalItens = pedidosDia.reduce((a, p) => a + p.qtdItens, 0);\nconst clientesUnicos = new Set(pedidosDia.map(p => p.nomeCliente || 'SEM NOME')).size;\nconst ticketMedio = totalPedidos ? to2(faturamentoTotal / totalPedidos) : 0;\n\n// por vendedor (dia)\nconst porVendValor = {};\nconst porVendQtd = {};\nfor (const p of pedidosDia) {\n  const vend = p.vendedor || 'SEM VENDEDOR';\n  acum(porVendValor, vend, p.totalPedido);\n  acum(porVendQtd, vend, 1);\n}\nconst porVendedor = Object.keys(porVendValor).map(v => ({\n  vendedor: v,\n  pedidos: porVendQtd[v] || 0,\n  total: to2(porVendValor[v] || 0),\n  ticketMedio: porVendQtd[v] ? to2(porVendValor[v] / porVendQtd[v]) : 0\n})).sort((a, b) => b.total - a.total);\n\n// por dia — só a data analisada\nconst porDia = [{ data: dataAlvo, total: faturamentoTotal }];\n\n// top clientes do dia\nconst clientesDict = {};\nfor (const p of pedidosDia) acum(clientesDict, p.nomeCliente || 'SEM NOME', p.totalPedido);\nconst topClientes = topN(clientesDict, 10, 'valor');\n\n// top produtos do dia\nconst prodDict = {};\nfor (const p of pedidosDia) {\n  for (const it of (p.produtos || [])) {\n    const nome = it.produto || 'SEM PRODUTO';\n    if (!prodDict[nome]) prodDict[nome] = { qtd: 0, valor: 0 };\n    prodDict[nome].qtd += Number(it.quantidade || 0);\n    prodDict[nome].valor += Number(it.preco || 0);\n  }\n}\nconst topProdutosQtd = topN(prodDict, 10, 'qtd');\nconst topProdutosValor = topN(prodDict, 10, 'valor');\n\n// pedidos atípicos no dia: > 2 x ticket médio do dia\nconst pedidosAtipicos = ticketMedio > 0\n  ? pedidosDia.filter(p => p.totalPedido > 2 * ticketMedio).map(p => p.numeroDocumento)\n  : [];\n\nconst resumo = {\n  numeroLoja,\n  dataAlvo,\n  usouDataMaisRecente,\n  faturamentoTotal,\n  totalPedidos,\n  totalItens,\n  clientesUnicos,\n  ticketMedio,\n  pedidosAtipicos\n};\n\nreturn [\n  {\n    json: {\n      analise: {\n        resumo,\n        porVendedor,\n        porDia,\n        topClientes,\n        topProdutosQtd,\n        topProdutosValor,\n        pedidos: pedidosDia\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-448],"id":"31c7718b-8224-4d94-91e7-5c672531b430","name":"Analyze Day"},{"parameters":{"promptType":"define","text":"={{ $json.analise }}","messages":{"messageValues":[{"message":"=Você é um analista de vendas. Sua saída é um relatório diário curto (até 1.200 caracteres), pronto para WhatsApp. Use apenas texto simples, títulos em negrito com *asteriscos* e bullets normais (-). Não use # nem formatação markdown. Moeda no formato R$ 1.234,56.\n\nDados de entrada: {{ $json.analise }}\n\nRegras:\n1) Identifique a data de ontem em \"porDia\". Se não houver dados de ontem, use a data mais recente e avise no início.  \n2) Considere apenas pedidos cuja data seja a do dia analisado.  \n3) Calcule: faturamento total, nº de pedidos, nº de itens, ticket médio, nº de clientes únicos.  \n\nEstrutura da saída:\n*Resumo diário – DD/MM/AAAA* Loja \"\" \nFaturamento R$ X em Y pedidos, ticket médio R$ Z, N clientes únicos.  \n\n*Vendedores*  \n- Nome: R$ total | pedidos | % participação | ticket médio R$ X  \n\n*Produtos*  \n1 frase sobre mix e concentração.  \n- Produto: qtd un – R$ total  \n(liste até 3, pegando dos tops por valor e por quantidade, sem repetir)  \n\n*Clientes*  \n1 frase com os clientes mais relevantes do dia (até 2 ou 3 nomes).  \n\n*Conclusão*  \n1 frase curta interpretando o desempenho geral (ex: concentração em vendedores, dependência de produtos, ou oportunidade).\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[192,-448],"id":"17695233-e508-4617-95d8-2fc0a743be93","name":"Format Report"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,-256],"id":"767cefa6-0490-4a95-bbbf-96242cf53797","name":"LLM Model","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"content":"# JARDIM GUEDALA\n\n","height":1056,"width":1680,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-928,-944],"typeVersion":1,"id":"024dbc20-7216-4560-88d4-1cef17384928","name":"Sticky Note1"},{"parameters":{"content":"# VILA MASCOTE\n\n","height":1056,"width":1680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-928,256],"typeVersion":1,"id":"9b700f68-fffc-4fd3-b9e2-c5f46b006f95","name":"Sticky Note3"},{"parameters":{"url":"http://159.112.189.1:25049/consultapedidovenda","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"191"},{"name":"data-hora","value":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}"},{"name":"ja-faturado","value":"true"},{"name":"size","value":"500"},{"name":"especieDocumento","value":"PD"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-688,768],"id":"6151ecfd-5836-4e65-9f01-9db72b59267b","name":"Get API 1","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: items[0].json com o JSON da API\n// Saída: array de { json: {...} }\n\nfunction limparTexto(s) {\n  return String(s || \"\").replace(/\\s+/g, \" \").replace(/[;]+$/g, \"\").trim();\n}\nfunction splitEmails(s) {\n  if (!s) return [];\n  return String(s).split(/[;,]/).map(x => x.trim()).filter(Boolean);\n}\nfunction limparEmail(s) {\n  const e = String(s || \"\").trim().replace(/[;]+$/g, \"\");\n  if (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e)) return \"\";\n  return e.toLowerCase();\n}\nfunction normalizePhone(s) {\n  if (!s) return \"\";\n  const digits = String(s).replace(/\\D/g, \"\");\n  if (digits.length === 10 || digits.length === 11) return digits;\n  if (digits.length === 12 || digits.length === 13) {\n    const semDDI = digits.replace(/^55/, \"\");\n    if (semDDI.length === 10 || semDDI.length === 11) return semDDI;\n  }\n  return \"\";\n}\nfunction dedup(arr) { return Array.from(new Set(arr.filter(Boolean))); }\nfunction normalizaData(s) {\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  const n = Number(s);\n  if (Number.isFinite(n)) {\n    const d = new Date(n);\n    if (!isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  return null;\n}\nfunction toNumber(v) { const n = Number(v); return Number.isFinite(n) ? n : null; }\n\nfunction formataCEP(s) {\n  const d = String(s || \"\").replace(/\\D/g, \"\");\n  if (d.length === 8) return d.slice(0,5) + \"-\" + d.slice(5);\n  return d || null;\n}\n\nfunction montarEnderecoCliente(pedido) {\n  const c = pedido?.cliente;\n  if (c) {\n    const cidadeUF = c?.cidade ? [c.cidade.nomeCidade, c.cidade.siglaEstado].filter(Boolean).join(\" \") : \"\";\n    const partes = [\n      limparTexto([c.endereco, c.numero].filter(Boolean).join(\", \")),\n      limparTexto(c.complemento),\n      limparTexto(c.bairro),\n      limparTexto(cidadeUF),\n      formataCEP(c.cep),\n    ].filter(Boolean);\n    const joined = partes.join(\", \").replace(/\\s+,/g, \",\").trim();\n    if (joined) return joined;\n  }\n  return null;\n}\n\nfunction extrairContatoSimples(pedido) {\n  const fones = dedup([\n    normalizePhone(pedido?.cliente?.telefone1),\n    normalizePhone(pedido?.cliente?.telefone2),\n    normalizePhone(pedido?.telefoneConsumidor),\n    normalizePhone(pedido?.cliente?.telefoneCelular),\n    normalizePhone(pedido?.enderecoEntrega?.telefone),\n  ]);\n  const emails = dedup([\n    ...splitEmails(pedido?.cliente?.email || \"\"),\n    ...splitEmails(pedido?.cliente?.emailNfe || \"\"),\n    ...splitEmails(pedido?.emailConsumidor || \"\"),\n  ].map(limparEmail));\n\n  return { telefone: fones[0] || null, email: emails[0] || null };\n}\n\nfunction extrairPedidos(pages) {\n  const out = [];\n  for (const pagina of pages || []) {\n    for (const pedido of (pagina?.content || [])) {\n      const { telefone, email } = extrairContatoSimples(pedido);\n      const nomeCliente = limparTexto(\n        pedido?.nomeConsumidorOuCliente ||\n        pedido?.cliente?.nome ||\n        pedido?.nomeConsumidor ||\n        pedido?.cliente?.fantasiaSobrenome ||\n        \"CONSUMIDOR\"\n      );\n      \n      // *** ADICIONADO: Captura do código do cliente ***\n      const codigoCliente = pedido?.cliente?.codigoCliente || null;\n      \n      const vendedor = limparTexto(pedido?.nomeVendedor || \"\");\n      const codigoVendedor = pedido?.codigoVendedor || null;\n      const enderecoCliente = montarEnderecoCliente(pedido);\n\n      const dataPedido =\n        normalizaData(pedido?.dataUltimaAlteracao) ||\n        normalizaData(pedido?.dataEntrega) ||\n        normalizaData(pedido?.dataEntrada) ||\n        normalizaData(pedido?.dataPrevisaoEntrega) ||\n        normalizaData(pedido?.dataOrigem) ||\n        null;\n\n      for (const item of (pedido?.itens || [])) {\n        const produto = limparTexto(item?.descricaoCompleta || item?.descricaoProduto || \"\");\n        const quantidade = toNumber(item?.quantidade) ?? 1;\n        const preco = toNumber(item?.totalItem) ?? 0;\n\n        const dataItem =\n          normalizaData(item?.dataFaturamento) ||\n          normalizaData(item?.dataEntrada) ||\n          dataPedido;\n\n        out.push({\n          numeroDocumento: String(pedido?.numeroDocumento || \"\"),\n          codigoCliente, // *** ADICIONADO aqui ***\n          nomeCliente,\n          enderecoCliente,\n          vendedor,\n          codigoVendedor,\n          produto,\n          quantidade,\n          preco,\n          data: dataItem,\n          telefone,\n          email,\n          codigoAtividade: pedido?.cliente?.codigoAtividade || null,\n          nomeVendedor: vendedor || null\n        });\n      }\n    }\n  }\n  return out;\n}\n\n// -------- entrada e retorno --------\nlet payload = items[0]?.json;\nif (payload && payload.body) payload = payload.body;\nif (payload && payload.data) payload = payload.data;\n\nconst pages = Array.isArray(payload) ? payload : [payload];\nconst rows = extrairPedidos(pages);\n\nreturn rows && rows.length ? rows.map(r => ({ json: r })) : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,768],"id":"7096483a-bb5f-476e-a764-663679aeba77","name":"Clean Data1"},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: rows do Code7\n// Saída: objeto agrupado por pedido com produtos e total\nconst pedidos = {};\nfor (const item of items) {\n  const doc = item.json.numeroDocumento;\n  if (!doc) continue;\n  if (!pedidos[doc]) {\n    pedidos[doc] = {\n      numeroDocumento: doc,\n      codigoCliente: item.json.codigoCliente, // *** ADICIONADO ***\n      nomeCliente: item.json.nomeCliente,\n      enderecoCliente: item.json.enderecoCliente,\n      vendedor: item.json.vendedor,\n      codigoVendedor: item.json.codigoVendedor,\n      nomeVendedor: item.json.nomeVendedor,\n      numeroLoja: \"191\",\n      telefone: item.json.telefone,\n      email: item.json.email,\n      data: item.json.data,\n      codigoAtividade: item.json.codigoAtividade,\n      produtos: [],\n      totalPedido: 0\n    };\n  }\n  pedidos[doc].produtos.push({\n    produto: item.json.produto,\n    quantidade: item.json.quantidade,\n    preco: item.json.preco\n  });\n  pedidos[doc].totalPedido += item.json.preco;\n}\n// saída formatada\nreturn Object.values(pedidos).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,768],"id":"0191f086-c7e9-405d-9368-9c548ceacc7e","name":"Group Orders1"},{"parameters":{"jsCode":"// Função para validar o telefone\nfunction telefoneValido(fone) {\n  if (!fone) return false;\n\n  const digits = String(fone).replace(/\\D/g, \"\");\n\n  // deve ter 10 ou 11 dígitos\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n\n  // ignora se todos os dígitos forem iguais (ex: 1111111111)\n  if (/^(\\d)\\1+$/.test(digits)) return false;\n\n  // ignora se número principal (sem DDD) for só de 9s (ex: 99999999 ou 999999999)\n  const numeroPrincipal = digits.length === 11 ? digits.slice(2) : digits.slice(2);\n  if (/^9{8,9}$/.test(numeroPrincipal)) return false;\n\n  return true;\n}\n\n// Mapeamento de código do vendedor → telefone\nconst mapaVendedores = {\n  \"037\": \"11992650708\", // Gustavo\n  \"038\": \"11915812726\", // Lucas\n  \"036\": \"11915812726\" // Robson\n};\n\nconst out = [];\n\nfor (const item of items) {\n  const p = item.json;\n\n  // filtro 1: ignora CONSUMIDOR\n  if (!p.nomeCliente || p.nomeCliente.toUpperCase() === \"CONSUMIDOR\") continue;\n\n  // filtro 2: ignora telefone inválido\n  if (!telefoneValido(p.telefone)) continue;\n\n  // adiciona telefone do vendedor, se houver\n  p.telefoneVendedor = mapaVendedores[p.codigoVendedor] || null;\n\n  // adiciona ao output\n  out.push({ json: p });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,544],"id":"ec6e4d8e-882f-48c8-8c1d-e72576f16bfc","name":"Filter Orders1"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".pedidos_consolidados\n(empresa_id, loja_id, codigo_loja, numero_documento, codigo_cliente, nome_cliente, endereco_cliente, vendedor, codigo_vendedor, telefone_vendedor, telefone, email, data, codigo_atividade, total_pedido, produtos)\nVALUES\n(\n  '6bfc72af-fb8b-4f8a-b83c-52fb52c362a9',\n  '25d8aa28-6da7-4af8-8325-a612624c78bb',\n  '191',\n  '{{.numeroDocumento}}',\n  '{{.codigoCliente}}',\n  '{{.nomeCliente.replace(/'/g, \"''\")}}',\n  '{{.enderecoCliente.replace(/['’]/g, \"''\")}}',\n  '{{.vendedor.replace(/'/g, \"''\")}}',\n  '{{.codigoVendedor}}',\n  '{{.telefoneVendedor}}',\n  '{{.telefone}}',\n  '{{.email}}',\n  '{{.data}}',\n  '{{.codigoAtividade}}',\n  {{.totalPedido}},\n  $${{JSON.stringify(.produtos)}}$$::jsonb\n)\nON CONFLICT (empresa_id, numero_documento, codigo_loja) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,544],"id":"35b7f90e-5367-4881-8ef7-dc7e6def0aef","name":"Save DB1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: itens contendo pedidos como você já tem usado\n// Saída: analise SOMENTE do dia anterior (America/Sao_Paulo)\n// Se \"ontem\" não existir nos dados, usa a data mais recente disponível\n\nfunction to2(n) { return Math.round((n + Number.EPSILON) * 100) / 100; }\n\nfunction ensureArrayFromItems(items) {\n  if (!items?.length) return [];\n  const j0 = items[0].json;\n  if (Array.isArray(j0)) return j0; // primeiro item é o array completo\n  return items.map(i => i.json);    // caso comum: um pedido por item\n}\n\nfunction totalPedido(p) {\n  return to2((p.produtos || []).reduce((acc, it) => acc + Number(it.preco || 0), 0));\n}\n\nfunction qtdItens(p) {\n  return (p.produtos || []).reduce((acc, it) => acc + Number(it.quantidade || 0), 0);\n}\n\nfunction acum(map, key, valor) {\n  if (!map[key]) map[key] = 0;\n  map[key] += valor;\n}\n\nfunction topN(dict, n, by = 'valor') {\n  const arr = Object.entries(dict).map(([k, v]) => {\n    if (typeof v === 'number') return { nome: k, valor: v };\n    return { nome: k, valor: v.valor ?? 0, qtd: v.qtd ?? 0 };\n  });\n  arr.sort((a, b) => (b[by] ?? 0) - (a[by] ?? 0));\n  return arr.slice(0, n).map(x => ({ ...x, valor: to2(x.valor) }));\n}\n\nfunction ymdInTZ(date) {\n  // retorna YYYY-MM-DD em America/Sao_Paulo\n  const s = date.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }); // dd/mm/aaaa\n  const [dd, mm, yyyy] = s.split('/');\n  return `${yyyy}-${mm.padStart(2,'0')}-${dd.padStart(2,'0')}`;\n}\n\nconst pedidosRaw = ensureArrayFromItems(items);\n\n// normaliza pedidos\nconst pedidosOut = pedidosRaw.map(p => ({\n  numeroDocumento: p.numeroDocumento,\n  data: p.data, // já está em YYYY-MM-DD\n  vendedor: p.vendedor || null,\n  nomeCliente: p.nomeCliente,\n  telefone: p.telefone || null,\n  email: p.email || null,\n  enderecoCliente: p.enderecoCliente || null,\n  qtdProdutos: p.produtos?.length || 0,\n  qtdItens: qtdItens(p),\n  totalPedido: totalPedido(p),\n  produtos: p.produtos || []\n}));\n\n// Captura o número da loja (assumindo que todos os pedidos são da mesma loja)\nconst numeroLoja = pedidosRaw[0]?.numeroLoja || null;\n\n// determina \"ontem\" em São Paulo\nconst hojeSP = new Date();\nconst ontemSP = new Date(hojeSP.getTime() - 24*60*60*1000);\nconst dataOntem = ymdInTZ(ontemSP);\n\n// define data alvo\nconst datasDisponiveis = [...new Set(pedidosOut.map(p => p.data))].filter(Boolean).sort();\nlet dataAlvo = dataOntem;\nlet usouDataMaisRecente = false;\n\nlet pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n\n// se não há pedidos no \"ontem\", usa a última data disponível\nif (pedidosDia.length === 0 && datasDisponiveis.length > 0) {\n  dataAlvo = datasDisponiveis[datasDisponiveis.length - 1];\n  pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n  usouDataMaisRecente = true;\n}\n\n// métricas do dia\nconst faturamentoTotal = to2(pedidosDia.reduce((a, p) => a + p.totalPedido, 0));\nconst totalPedidos = pedidosDia.length;\nconst totalItens = pedidosDia.reduce((a, p) => a + p.qtdItens, 0);\nconst clientesUnicos = new Set(pedidosDia.map(p => p.nomeCliente || 'SEM NOME')).size;\nconst ticketMedio = totalPedidos ? to2(faturamentoTotal / totalPedidos) : 0;\n\n// por vendedor (dia)\nconst porVendValor = {};\nconst porVendQtd = {};\nfor (const p of pedidosDia) {\n  const vend = p.vendedor || 'SEM VENDEDOR';\n  acum(porVendValor, vend, p.totalPedido);\n  acum(porVendQtd, vend, 1);\n}\nconst porVendedor = Object.keys(porVendValor).map(v => ({\n  vendedor: v,\n  pedidos: porVendQtd[v] || 0,\n  total: to2(porVendValor[v] || 0),\n  ticketMedio: porVendQtd[v] ? to2(porVendValor[v] / porVendQtd[v]) : 0\n})).sort((a, b) => b.total - a.total);\n\n// por dia — só a data analisada\nconst porDia = [{ data: dataAlvo, total: faturamentoTotal }];\n\n// top clientes do dia\nconst clientesDict = {};\nfor (const p of pedidosDia) acum(clientesDict, p.nomeCliente || 'SEM NOME', p.totalPedido);\nconst topClientes = topN(clientesDict, 10, 'valor');\n\n// top produtos do dia\nconst prodDict = {};\nfor (const p of pedidosDia) {\n  for (const it of (p.produtos || [])) {\n    const nome = it.produto || 'SEM PRODUTO';\n    if (!prodDict[nome]) prodDict[nome] = { qtd: 0, valor: 0 };\n    prodDict[nome].qtd += Number(it.quantidade || 0);\n    prodDict[nome].valor += Number(it.preco || 0);\n  }\n}\nconst topProdutosQtd = topN(prodDict, 10, 'qtd');\nconst topProdutosValor = topN(prodDict, 10, 'valor');\n\n// pedidos atípicos no dia: > 2 x ticket médio do dia\nconst pedidosAtipicos = ticketMedio > 0\n  ? pedidosDia.filter(p => p.totalPedido > 2 * ticketMedio).map(p => p.numeroDocumento)\n  : [];\n\nconst resumo = {\n  numeroLoja,\n  dataAlvo,\n  usouDataMaisRecente,\n  faturamentoTotal,\n  totalPedidos,\n  totalItens,\n  clientesUnicos,\n  ticketMedio,\n  pedidosAtipicos\n};\n\nreturn [\n  {\n    json: {\n      analise: {\n        resumo,\n        porVendedor,\n        porDia,\n        topClientes,\n        topProdutosQtd,\n        topProdutosValor,\n        pedidos: pedidosDia\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,768],"id":"38e70702-2e2d-4880-b009-8dc51730c35a","name":"Analyze Day1"},{"parameters":{"promptType":"define","text":"={{ $json.analise }}","messages":{"messageValues":[{"message":"=Você é um analista de vendas. Sua saída é um relatório diário curto (até 1.200 caracteres), pronto para WhatsApp. Use apenas texto simples, títulos em negrito com *asteriscos* e bullets normais (-). Não use # nem formatação markdown. Moeda no formato R$ 1.234,56.\n\nDados de entrada: {{ $json.analise }}\n\nRegras:\n1) Identifique a data de ontem em \"porDia\". Se não houver dados de ontem, use a data mais recente e avise no início.  \n2) Considere apenas pedidos cuja data seja a do dia analisado.  \n3) Calcule: faturamento total, nº de pedidos, nº de itens, ticket médio, nº de clientes únicos.  \n\nEstrutura da saída:\n*Resumo diário – DD/MM/AAAA* Loja \"\" \nFaturamento R$ X em Y pedidos, ticket médio R$ Z, N clientes únicos.  \n\n*Vendedores*  \n- Nome: R$ total | pedidos | % participação | ticket médio R$ X  \n\n*Produtos*  \n1 frase sobre mix e concentração.  \n- Produto: qtd un – R$ total  \n(liste até 3, pegando dos tops por valor e por quantidade, sem repetir)  \n\n*Clientes*  \n1 frase com os clientes mais relevantes do dia (até 2 ou 3 nomes).  \n\n*Conclusão*  \n1 frase curta interpretando o desempenho geral (ex: concentração em vendedores, dependência de produtos, ou oportunidade).\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[160,768],"id":"96080590-3d6e-4716-b249-721ae6a79129","name":"Format Report1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[48,928],"id":"5ccaa5d3-96f5-4b9c-9382-c984ebedeae3","name":"LLM Model1","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"content":"# VILA ANDRADE\n\n","height":1056,"width":1680,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-928,1424],"typeVersion":1,"id":"1f6a7dc8-f7aa-4a44-83eb-400f73a5be02","name":"Sticky Note8"},{"parameters":{"url":"http://159.112.189.1:25049/consultapedidovenda","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"132"},{"name":"data-hora","value":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}"},{"name":"ja-faturado","value":"true"},{"name":"size","value":"500"},{"name":"especieDocumento","value":"PD"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,1952],"id":"f3c81263-2e12-403d-8ed9-c224ff8ef268","name":"Get API 2","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: items[0].json com o JSON da API\n// Saída: array de { json: {...} }\n\nfunction limparTexto(s) {\n  return String(s || \"\").replace(/\\s+/g, \" \").replace(/[;]+$/g, \"\").trim();\n}\nfunction splitEmails(s) {\n  if (!s) return [];\n  return String(s).split(/[;,]/).map(x => x.trim()).filter(Boolean);\n}\nfunction limparEmail(s) {\n  const e = String(s || \"\").trim().replace(/[;]+$/g, \"\");\n  if (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e)) return \"\";\n  return e.toLowerCase();\n}\nfunction normalizePhone(s) {\n  if (!s) return \"\";\n  const digits = String(s).replace(/\\D/g, \"\");\n  if (digits.length === 10 || digits.length === 11) return digits;\n  if (digits.length === 12 || digits.length === 13) {\n    const semDDI = digits.replace(/^55/, \"\");\n    if (semDDI.length === 10 || semDDI.length === 11) return semDDI;\n  }\n  return \"\";\n}\nfunction dedup(arr) { return Array.from(new Set(arr.filter(Boolean))); }\nfunction normalizaData(s) {\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  const n = Number(s);\n  if (Number.isFinite(n)) {\n    const d = new Date(n);\n    if (!isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  return null;\n}\nfunction toNumber(v) { const n = Number(v); return Number.isFinite(n) ? n : null; }\n\nfunction formataCEP(s) {\n  const d = String(s || \"\").replace(/\\D/g, \"\");\n  if (d.length === 8) return d.slice(0,5) + \"-\" + d.slice(5);\n  return d || null;\n}\n\nfunction montarEnderecoCliente(pedido) {\n  const c = pedido?.cliente;\n  if (c) {\n    const cidadeUF = c?.cidade ? [c.cidade.nomeCidade, c.cidade.siglaEstado].filter(Boolean).join(\" \") : \"\";\n    const partes = [\n      limparTexto([c.endereco, c.numero].filter(Boolean).join(\", \")),\n      limparTexto(c.complemento),\n      limparTexto(c.bairro),\n      limparTexto(cidadeUF),\n      formataCEP(c.cep),\n    ].filter(Boolean);\n    const joined = partes.join(\", \").replace(/\\s+,/g, \",\").trim();\n    if (joined) return joined;\n  }\n  return null;\n}\n\nfunction extrairContatoSimples(pedido) {\n  const fones = dedup([\n    normalizePhone(pedido?.cliente?.telefone1),\n    normalizePhone(pedido?.cliente?.telefone2),\n    normalizePhone(pedido?.telefoneConsumidor),\n    normalizePhone(pedido?.cliente?.telefoneCelular),\n    normalizePhone(pedido?.enderecoEntrega?.telefone),\n  ]);\n  const emails = dedup([\n    ...splitEmails(pedido?.cliente?.email || \"\"),\n    ...splitEmails(pedido?.cliente?.emailNfe || \"\"),\n    ...splitEmails(pedido?.emailConsumidor || \"\"),\n  ].map(limparEmail));\n\n  return { telefone: fones[0] || null, email: emails[0] || null };\n}\n\nfunction extrairPedidos(pages) {\n  const out = [];\n  for (const pagina of pages || []) {\n    for (const pedido of (pagina?.content || [])) {\n      const { telefone, email } = extrairContatoSimples(pedido);\n      const nomeCliente = limparTexto(\n        pedido?.nomeConsumidorOuCliente ||\n        pedido?.cliente?.nome ||\n        pedido?.nomeConsumidor ||\n        pedido?.cliente?.fantasiaSobrenome ||\n        \"CONSUMIDOR\"\n      );\n      \n      // *** ADICIONADO: Captura do código do cliente ***\n      const codigoCliente = pedido?.cliente?.codigoCliente || null;\n      \n      const vendedor = limparTexto(pedido?.nomeVendedor || \"\");\n      const codigoVendedor = pedido?.codigoVendedor || null;\n      const enderecoCliente = montarEnderecoCliente(pedido);\n\n      const dataPedido =\n        normalizaData(pedido?.dataUltimaAlteracao) ||\n        normalizaData(pedido?.dataEntrega) ||\n        normalizaData(pedido?.dataEntrada) ||\n        normalizaData(pedido?.dataPrevisaoEntrega) ||\n        normalizaData(pedido?.dataOrigem) ||\n        null;\n\n      for (const item of (pedido?.itens || [])) {\n        const produto = limparTexto(item?.descricaoCompleta || item?.descricaoProduto || \"\");\n        const quantidade = toNumber(item?.quantidade) ?? 1;\n        const preco = toNumber(item?.totalItem) ?? 0;\n\n        const dataItem =\n          normalizaData(item?.dataFaturamento) ||\n          normalizaData(item?.dataEntrada) ||\n          dataPedido;\n\n        out.push({\n          numeroDocumento: String(pedido?.numeroDocumento || \"\"),\n          codigoCliente, // *** ADICIONADO aqui ***\n          nomeCliente,\n          enderecoCliente,\n          vendedor,\n          codigoVendedor,\n          produto,\n          quantidade,\n          preco,\n          data: dataItem,\n          telefone,\n          email,\n          codigoAtividade: pedido?.cliente?.codigoAtividade || null,\n          nomeVendedor: vendedor || null\n        });\n      }\n    }\n  }\n  return out;\n}\n\n// -------- entrada e retorno --------\nlet payload = items[0]?.json;\nif (payload && payload.body) payload = payload.body;\nif (payload && payload.data) payload = payload.data;\n\nconst pages = Array.isArray(payload) ? payload : [payload];\nconst rows = extrairPedidos(pages);\n\nreturn rows && rows.length ? rows.map(r => ({ json: r })) : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,1952],"id":"8a9b63c8-f2d2-47a3-9302-280111aad266","name":"Clean Data2"},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: rows do Code7\n// Saída: objeto agrupado por pedido com produtos e total\nconst pedidos = {};\nfor (const item of items) {\n  const doc = item.json.numeroDocumento;\n  if (!doc) continue;\n  if (!pedidos[doc]) {\n    pedidos[doc] = {\n      numeroDocumento: doc,\n      codigoCliente: item.json.codigoCliente, // *** ADICIONADO ***\n      nomeCliente: item.json.nomeCliente,\n      enderecoCliente: item.json.enderecoCliente,\n      vendedor: item.json.vendedor,\n      codigoVendedor: item.json.codigoVendedor,\n      nomeVendedor: item.json.nomeVendedor,\n      numeroLoja: \"132\",\n      telefone: item.json.telefone,\n      email: item.json.email,\n      data: item.json.data,\n      codigoAtividade: item.json.codigoAtividade,\n      produtos: [],\n      totalPedido: 0\n    };\n  }\n  pedidos[doc].produtos.push({\n    produto: item.json.produto,\n    quantidade: item.json.quantidade,\n    preco: item.json.preco\n  });\n  pedidos[doc].totalPedido += item.json.preco;\n}\n// saída formatada\nreturn Object.values(pedidos).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,1952],"id":"a657751f-560a-4545-8099-ca6df7861c5a","name":"Group Orders2"},{"parameters":{"jsCode":"// Função para validar o telefone\nfunction telefoneValido(fone) {\n  if (!fone) return false;\n\n  const digits = String(fone).replace(/\\D/g, \"\");\n\n  // deve ter 10 ou 11 dígitos\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n\n  // ignora se todos os dígitos forem iguais (ex: 1111111111)\n  if (/^(\\d)\\1+$/.test(digits)) return false;\n\n  // ignora se número principal (sem DDD) for só de 9s (ex: 99999999 ou 999999999)\n  const numeroPrincipal = digits.length === 11 ? digits.slice(2) : digits.slice(2);\n  if (/^9{8,9}$/.test(numeroPrincipal)) return false;\n\n  return true;\n}\n\n// Mapeamento de código do vendedor → telefone\nconst mapaVendedores = {\n  \"034\": \"11976410113\", // GUILHERME SANTOS\n  \"023\": \"11992342440\", // FLAVIO REIS\n  \"006\": \"11992886481\" // FABIO SANTOS DE OLIVEIRA\n};\n\nconst out = [];\n\nfor (const item of items) {\n  const p = item.json;\n\n  // filtro 1: ignora CONSUMIDOR\n  if (!p.nomeCliente || p.nomeCliente.toUpperCase() === \"CONSUMIDOR\") continue;\n\n  // filtro 2: ignora telefone inválido\n  if (!telefoneValido(p.telefone)) continue;\n\n  // adiciona telefone do vendedor, se houver\n  p.telefoneVendedor = mapaVendedores[p.codigoVendedor] || null;\n\n  // adiciona ao output\n  out.push({ json: p });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,1728],"id":"893b5998-43bc-4c48-9836-38da82e9234b","name":"Filter Orders2"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".pedidos_consolidados\n(empresa_id, loja_id, codigo_loja, numero_documento, codigo_cliente, nome_cliente, endereco_cliente, vendedor, codigo_vendedor, telefone_vendedor, telefone, email, data, codigo_atividade, total_pedido, produtos)\nVALUES\n(\n  '6bfc72af-fb8b-4f8a-b83c-52fb52c362a9',\n  '0699e4d8-b66d-4d26-88d7-4a1637953f8a',\n  '132',\n  '{{.numeroDocumento}}',\n  '{{.codigoCliente}}',\n  '{{.nomeCliente.replace(/'/g, \"''\")}}',\n  '{{.enderecoCliente.replace(/['’]/g, \"''\")}}',\n  '{{.vendedor.replace(/'/g, \"''\")}}',\n  '{{.codigoVendedor}}',\n  '{{.telefoneVendedor}}',\n  '{{.telefone}}',\n  '{{.email}}',\n  '{{.data}}',\n  '{{.codigoAtividade}}',\n  {{.totalPedido}},\n  $${{JSON.stringify(.produtos)}}$$::jsonb\n)\nON CONFLICT (empresa_id, numero_documento, codigo_loja) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,1728],"id":"2e357a0f-ae5f-4217-8034-f8b36d6e9415","name":"Save DB2","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: itens contendo pedidos como você já tem usado\n// Saída: analise SOMENTE do dia anterior (America/Sao_Paulo)\n// Se \"ontem\" não existir nos dados, usa a data mais recente disponível\n\nfunction to2(n) { return Math.round((n + Number.EPSILON) * 100) / 100; }\n\nfunction ensureArrayFromItems(items) {\n  if (!items?.length) return [];\n  const j0 = items[0].json;\n  if (Array.isArray(j0)) return j0; // primeiro item é o array completo\n  return items.map(i => i.json);    // caso comum: um pedido por item\n}\n\nfunction totalPedido(p) {\n  return to2((p.produtos || []).reduce((acc, it) => acc + Number(it.preco || 0), 0));\n}\n\nfunction qtdItens(p) {\n  return (p.produtos || []).reduce((acc, it) => acc + Number(it.quantidade || 0), 0);\n}\n\nfunction acum(map, key, valor) {\n  if (!map[key]) map[key] = 0;\n  map[key] += valor;\n}\n\nfunction topN(dict, n, by = 'valor') {\n  const arr = Object.entries(dict).map(([k, v]) => {\n    if (typeof v === 'number') return { nome: k, valor: v };\n    return { nome: k, valor: v.valor ?? 0, qtd: v.qtd ?? 0 };\n  });\n  arr.sort((a, b) => (b[by] ?? 0) - (a[by] ?? 0));\n  return arr.slice(0, n).map(x => ({ ...x, valor: to2(x.valor) }));\n}\n\nfunction ymdInTZ(date) {\n  // retorna YYYY-MM-DD em America/Sao_Paulo\n  const s = date.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }); // dd/mm/aaaa\n  const [dd, mm, yyyy] = s.split('/');\n  return `${yyyy}-${mm.padStart(2,'0')}-${dd.padStart(2,'0')}`;\n}\n\nconst pedidosRaw = ensureArrayFromItems(items);\n\n// normaliza pedidos\nconst pedidosOut = pedidosRaw.map(p => ({\n  numeroDocumento: p.numeroDocumento,\n  data: p.data, // já está em YYYY-MM-DD\n  vendedor: p.vendedor || null,\n  nomeCliente: p.nomeCliente,\n  telefone: p.telefone || null,\n  email: p.email || null,\n  enderecoCliente: p.enderecoCliente || null,\n  qtdProdutos: p.produtos?.length || 0,\n  qtdItens: qtdItens(p),\n  totalPedido: totalPedido(p),\n  produtos: p.produtos || []\n}));\n\n// Captura o número da loja (assumindo que todos os pedidos são da mesma loja)\nconst numeroLoja = pedidosRaw[0]?.numeroLoja || null;\n\n// determina \"ontem\" em São Paulo\nconst hojeSP = new Date();\nconst ontemSP = new Date(hojeSP.getTime() - 24*60*60*1000);\nconst dataOntem = ymdInTZ(ontemSP);\n\n// define data alvo\nconst datasDisponiveis = [...new Set(pedidosOut.map(p => p.data))].filter(Boolean).sort();\nlet dataAlvo = dataOntem;\nlet usouDataMaisRecente = false;\n\nlet pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n\n// se não há pedidos no \"ontem\", usa a última data disponível\nif (pedidosDia.length === 0 && datasDisponiveis.length > 0) {\n  dataAlvo = datasDisponiveis[datasDisponiveis.length - 1];\n  pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n  usouDataMaisRecente = true;\n}\n\n// métricas do dia\nconst faturamentoTotal = to2(pedidosDia.reduce((a, p) => a + p.totalPedido, 0));\nconst totalPedidos = pedidosDia.length;\nconst totalItens = pedidosDia.reduce((a, p) => a + p.qtdItens, 0);\nconst clientesUnicos = new Set(pedidosDia.map(p => p.nomeCliente || 'SEM NOME')).size;\nconst ticketMedio = totalPedidos ? to2(faturamentoTotal / totalPedidos) : 0;\n\n// por vendedor (dia)\nconst porVendValor = {};\nconst porVendQtd = {};\nfor (const p of pedidosDia) {\n  const vend = p.vendedor || 'SEM VENDEDOR';\n  acum(porVendValor, vend, p.totalPedido);\n  acum(porVendQtd, vend, 1);\n}\nconst porVendedor = Object.keys(porVendValor).map(v => ({\n  vendedor: v,\n  pedidos: porVendQtd[v] || 0,\n  total: to2(porVendValor[v] || 0),\n  ticketMedio: porVendQtd[v] ? to2(porVendValor[v] / porVendQtd[v]) : 0\n})).sort((a, b) => b.total - a.total);\n\n// por dia — só a data analisada\nconst porDia = [{ data: dataAlvo, total: faturamentoTotal }];\n\n// top clientes do dia\nconst clientesDict = {};\nfor (const p of pedidosDia) acum(clientesDict, p.nomeCliente || 'SEM NOME', p.totalPedido);\nconst topClientes = topN(clientesDict, 10, 'valor');\n\n// top produtos do dia\nconst prodDict = {};\nfor (const p of pedidosDia) {\n  for (const it of (p.produtos || [])) {\n    const nome = it.produto || 'SEM PRODUTO';\n    if (!prodDict[nome]) prodDict[nome] = { qtd: 0, valor: 0 };\n    prodDict[nome].qtd += Number(it.quantidade || 0);\n    prodDict[nome].valor += Number(it.preco || 0);\n  }\n}\nconst topProdutosQtd = topN(prodDict, 10, 'qtd');\nconst topProdutosValor = topN(prodDict, 10, 'valor');\n\n// pedidos atípicos no dia: > 2 x ticket médio do dia\nconst pedidosAtipicos = ticketMedio > 0\n  ? pedidosDia.filter(p => p.totalPedido > 2 * ticketMedio).map(p => p.numeroDocumento)\n  : [];\n\nconst resumo = {\n  numeroLoja,\n  dataAlvo,\n  usouDataMaisRecente,\n  faturamentoTotal,\n  totalPedidos,\n  totalItens,\n  clientesUnicos,\n  ticketMedio,\n  pedidosAtipicos\n};\n\nreturn [\n  {\n    json: {\n      analise: {\n        resumo,\n        porVendedor,\n        porDia,\n        topClientes,\n        topProdutosQtd,\n        topProdutosValor,\n        pedidos: pedidosDia\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,1952],"id":"9138171b-de2b-4436-af40-336a927a4659","name":"Analyze Day2"},{"parameters":{"promptType":"define","text":"={{ $json.analise }}","messages":{"messageValues":[{"message":"=Você é um analista de vendas. Sua saída é um relatório diário curto (até 1.200 caracteres), pronto para WhatsApp. Use apenas texto simples, títulos em negrito com *asteriscos* e bullets normais (-). Não use # nem formatação markdown. Moeda no formato R$ 1.234,56.\n\nDados de entrada: {{ $json.analise }}\n\nRegras:\n1) Identifique a data de ontem em \"porDia\". Se não houver dados de ontem, use a data mais recente e avise no início.  \n2) Considere apenas pedidos cuja data seja a do dia analisado.  \n3) Calcule: faturamento total, nº de pedidos, nº de itens, ticket médio, nº de clientes únicos.  \n\nEstrutura da saída:\n*Resumo diário – DD/MM/AAAA* Loja \"\" \nFaturamento R$ X em Y pedidos, ticket médio R$ Z, N clientes únicos.  \n\n*Vendedores*  \n- Nome: R$ total | pedidos | % participação | ticket médio R$ X  \n\n*Produtos*  \n1 frase sobre mix e concentração.  \n- Produto: qtd un – R$ total  \n(liste até 3, pegando dos tops por valor e por quantidade, sem repetir)  \n\n*Clientes*  \n1 frase com os clientes mais relevantes do dia (até 2 ou 3 nomes).  \n\n*Conclusão*  \n1 frase curta interpretando o desempenho geral (ex: concentração em vendedores, dependência de produtos, ou oportunidade).\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[208,1952],"id":"5abb1022-3a5d-4620-910b-acd453207f4e","name":"Format Report2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[96,2112],"id":"c41c7b2e-f708-4135-a2f7-9c31cc1d4cb5","name":"LLM Model2","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"url":"http://159.112.189.1:25049/consultapedidovenda","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"131"},{"name":"data-hora","value":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}"},{"name":"ja-faturado","value":"true"},{"name":"size","value":"500"},{"name":"especieDocumento","value":"PD"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,3184],"id":"83ca0bc6-6056-4c15-944d-1f69e1cb9b30","name":"Get API 3","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: items[0].json com o JSON da API\n// Saída: array de { json: {...} }\n\nfunction limparTexto(s) {\n  return String(s || \"\").replace(/\\s+/g, \" \").replace(/[;]+$/g, \"\").trim();\n}\nfunction splitEmails(s) {\n  if (!s) return [];\n  return String(s).split(/[;,]/).map(x => x.trim()).filter(Boolean);\n}\nfunction limparEmail(s) {\n  const e = String(s || \"\").trim().replace(/[;]+$/g, \"\");\n  if (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e)) return \"\";\n  return e.toLowerCase();\n}\nfunction normalizePhone(s) {\n  if (!s) return \"\";\n  const digits = String(s).replace(/\\D/g, \"\");\n  if (digits.length === 10 || digits.length === 11) return digits;\n  if (digits.length === 12 || digits.length === 13) {\n    const semDDI = digits.replace(/^55/, \"\");\n    if (semDDI.length === 10 || semDDI.length === 11) return semDDI;\n  }\n  return \"\";\n}\nfunction dedup(arr) { return Array.from(new Set(arr.filter(Boolean))); }\nfunction normalizaData(s) {\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  const n = Number(s);\n  if (Number.isFinite(n)) {\n    const d = new Date(n);\n    if (!isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  return null;\n}\nfunction toNumber(v) { const n = Number(v); return Number.isFinite(n) ? n : null; }\n\nfunction formataCEP(s) {\n  const d = String(s || \"\").replace(/\\D/g, \"\");\n  if (d.length === 8) return d.slice(0,5) + \"-\" + d.slice(5);\n  return d || null;\n}\n\nfunction montarEnderecoCliente(pedido) {\n  const c = pedido?.cliente;\n  if (c) {\n    const cidadeUF = c?.cidade ? [c.cidade.nomeCidade, c.cidade.siglaEstado].filter(Boolean).join(\" \") : \"\";\n    const partes = [\n      limparTexto([c.endereco, c.numero].filter(Boolean).join(\", \")),\n      limparTexto(c.complemento),\n      limparTexto(c.bairro),\n      limparTexto(cidadeUF),\n      formataCEP(c.cep),\n    ].filter(Boolean);\n    const joined = partes.join(\", \").replace(/\\s+,/g, \",\").trim();\n    if (joined) return joined;\n  }\n  return null;\n}\n\nfunction extrairContatoSimples(pedido) {\n  const fones = dedup([\n    normalizePhone(pedido?.cliente?.telefone1),\n    normalizePhone(pedido?.cliente?.telefone2),\n    normalizePhone(pedido?.telefoneConsumidor),\n    normalizePhone(pedido?.cliente?.telefoneCelular),\n    normalizePhone(pedido?.enderecoEntrega?.telefone),\n  ]);\n  const emails = dedup([\n    ...splitEmails(pedido?.cliente?.email || \"\"),\n    ...splitEmails(pedido?.cliente?.emailNfe || \"\"),\n    ...splitEmails(pedido?.emailConsumidor || \"\"),\n  ].map(limparEmail));\n\n  return { telefone: fones[0] || null, email: emails[0] || null };\n}\n\nfunction extrairPedidos(pages) {\n  const out = [];\n  for (const pagina of pages || []) {\n    for (const pedido of (pagina?.content || [])) {\n      const { telefone, email } = extrairContatoSimples(pedido);\n      const nomeCliente = limparTexto(\n        pedido?.nomeConsumidorOuCliente ||\n        pedido?.cliente?.nome ||\n        pedido?.nomeConsumidor ||\n        pedido?.cliente?.fantasiaSobrenome ||\n        \"CONSUMIDOR\"\n      );\n      \n      // *** ADICIONADO: Captura do código do cliente ***\n      const codigoCliente = pedido?.cliente?.codigoCliente || null;\n      \n      const vendedor = limparTexto(pedido?.nomeVendedor || \"\");\n      const codigoVendedor = pedido?.codigoVendedor || null;\n      const enderecoCliente = montarEnderecoCliente(pedido);\n\n      const dataPedido =\n        normalizaData(pedido?.dataUltimaAlteracao) ||\n        normalizaData(pedido?.dataEntrega) ||\n        normalizaData(pedido?.dataEntrada) ||\n        normalizaData(pedido?.dataPrevisaoEntrega) ||\n        normalizaData(pedido?.dataOrigem) ||\n        null;\n\n      for (const item of (pedido?.itens || [])) {\n        const produto = limparTexto(item?.descricaoCompleta || item?.descricaoProduto || \"\");\n        const quantidade = toNumber(item?.quantidade) ?? 1;\n        const preco = toNumber(item?.totalItem) ?? 0;\n\n        const dataItem =\n          normalizaData(item?.dataFaturamento) ||\n          normalizaData(item?.dataEntrada) ||\n          dataPedido;\n\n        out.push({\n          numeroDocumento: String(pedido?.numeroDocumento || \"\"),\n          codigoCliente, // *** ADICIONADO aqui ***\n          nomeCliente,\n          enderecoCliente,\n          vendedor,\n          codigoVendedor,\n          produto,\n          quantidade,\n          preco,\n          data: dataItem,\n          telefone,\n          email,\n          codigoAtividade: pedido?.cliente?.codigoAtividade || null,\n          nomeVendedor: vendedor || null\n        });\n      }\n    }\n  }\n  return out;\n}\n\n// -------- entrada e retorno --------\nlet payload = items[0]?.json;\nif (payload && payload.body) payload = payload.body;\nif (payload && payload.data) payload = payload.data;\n\nconst pages = Array.isArray(payload) ? payload : [payload];\nconst rows = extrairPedidos(pages);\n\nreturn rows && rows.length ? rows.map(r => ({ json: r })) : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,3184],"id":"b2d38e44-4686-45cf-9621-29dea964ce9a","name":"Clean Data3"},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: rows do Code7\n// Saída: objeto agrupado por pedido com produtos e total\nconst pedidos = {};\nfor (const item of items) {\n  const doc = item.json.numeroDocumento;\n  if (!doc) continue;\n  if (!pedidos[doc]) {\n    pedidos[doc] = {\n      numeroDocumento: doc,\n      codigoCliente: item.json.codigoCliente, // *** ADICIONADO ***\n      nomeCliente: item.json.nomeCliente,\n      enderecoCliente: item.json.enderecoCliente,\n      vendedor: item.json.vendedor,\n      codigoVendedor: item.json.codigoVendedor,\n      nomeVendedor: item.json.nomeVendedor,\n      numeroLoja: \"131\",\n      telefone: item.json.telefone,\n      email: item.json.email,\n      data: item.json.data,\n      codigoAtividade: item.json.codigoAtividade,\n      produtos: [],\n      totalPedido: 0\n    };\n  }\n  pedidos[doc].produtos.push({\n    produto: item.json.produto,\n    quantidade: item.json.quantidade,\n    preco: item.json.preco\n  });\n  pedidos[doc].totalPedido += item.json.preco;\n}\n// saída formatada\nreturn Object.values(pedidos).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,3184],"id":"93a52199-73e0-4df7-9484-4342a65139bd","name":"Group Orders3"},{"parameters":{"jsCode":"// Função para validar o telefone\nfunction telefoneValido(fone) {\n  if (!fone) return false;\n\n  const digits = String(fone).replace(/\\D/g, \"\");\n\n  // deve ter 10 ou 11 dígitos\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n\n  // ignora se todos os dígitos forem iguais (ex: 1111111111)\n  if (/^(\\d)\\1+$/.test(digits)) return false;\n\n  // ignora se número principal (sem DDD) for só de 9s (ex: 99999999 ou 999999999)\n  const numeroPrincipal = digits.length === 11 ? digits.slice(2) : digits.slice(2);\n  if (/^9{8,9}$/.test(numeroPrincipal)) return false;\n\n  return true;\n}\n\n// Mapeamento de código do vendedor → telefone\nconst mapaVendedores = {\n  \"018\": \"11976337074\", // DANIEL DE OLIVEIRA PEREIRA\n  \"033\": \"11992875278\", // LUAN VICTOR ROCHA\n  \"028\": \"11913123850\", // ALESSANDRO RODRIGO MAURICIO\n  \"031\": \"11913123827\" // CINTIA\n};\n\n\nconst out = [];\n\nfor (const item of items) {\n  const p = item.json;\n\n  // filtro 1: ignora CONSUMIDOR\n  if (!p.nomeCliente || p.nomeCliente.toUpperCase() === \"CONSUMIDOR\") continue;\n\n  // filtro 2: ignora telefone inválido\n  if (!telefoneValido(p.telefone)) continue;\n\n  // adiciona telefone do vendedor, se houver\n  p.telefoneVendedor = mapaVendedores[p.codigoVendedor] || null;\n\n  // adiciona ao output\n  out.push({ json: p });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,2960],"id":"df430660-23dc-4f8e-a7df-66acb5ce5218","name":"Filter Orders3"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".pedidos_consolidados\n(empresa_id, loja_id, codigo_loja, numero_documento, codigo_cliente, nome_cliente, endereco_cliente, vendedor, codigo_vendedor, telefone_vendedor, telefone, email, data, codigo_atividade, total_pedido, produtos)\nVALUES\n(\n  '6bfc72af-fb8b-4f8a-b83c-52fb52c362a9',\n  'd20cb60a-29d4-4ad6-a6fd-2a92e86d0032',\n  '131',\n  '{{.numeroDocumento}}',\n  '{{.codigoCliente}}',\n  '{{.nomeCliente.replace(/'/g, \"''\")}}',\n  '{{.enderecoCliente.replace(/['’]/g, \"''\")}}',\n  '{{.vendedor.replace(/'/g, \"''\")}}',\n  '{{.codigoVendedor}}',\n  '{{.telefoneVendedor}}',\n  '{{.telefone}}',\n  '{{.email}}',\n  '{{.data}}',\n  '{{.codigoAtividade}}',\n  {{.totalPedido}},\n  $${{JSON.stringify(.produtos)}}$$::jsonb\n)\nON CONFLICT (empresa_id, numero_documento, codigo_loja) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[528,2960],"id":"e5e142e3-852c-4091-88bc-fc2448b7acc0","name":"Save DB3","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: itens contendo pedidos como você já tem usado\n// Saída: analise SOMENTE do dia anterior (America/Sao_Paulo)\n// Se \"ontem\" não existir nos dados, usa a data mais recente disponível\n\nfunction to2(n) { return Math.round((n + Number.EPSILON) * 100) / 100; }\n\nfunction ensureArrayFromItems(items) {\n  if (!items?.length) return [];\n  const j0 = items[0].json;\n  if (Array.isArray(j0)) return j0; // primeiro item é o array completo\n  return items.map(i => i.json);    // caso comum: um pedido por item\n}\n\nfunction totalPedido(p) {\n  return to2((p.produtos || []).reduce((acc, it) => acc + Number(it.preco || 0), 0));\n}\n\nfunction qtdItens(p) {\n  return (p.produtos || []).reduce((acc, it) => acc + Number(it.quantidade || 0), 0);\n}\n\nfunction acum(map, key, valor) {\n  if (!map[key]) map[key] = 0;\n  map[key] += valor;\n}\n\nfunction topN(dict, n, by = 'valor') {\n  const arr = Object.entries(dict).map(([k, v]) => {\n    if (typeof v === 'number') return { nome: k, valor: v };\n    return { nome: k, valor: v.valor ?? 0, qtd: v.qtd ?? 0 };\n  });\n  arr.sort((a, b) => (b[by] ?? 0) - (a[by] ?? 0));\n  return arr.slice(0, n).map(x => ({ ...x, valor: to2(x.valor) }));\n}\n\nfunction ymdInTZ(date) {\n  // retorna YYYY-MM-DD em America/Sao_Paulo\n  const s = date.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }); // dd/mm/aaaa\n  const [dd, mm, yyyy] = s.split('/');\n  return `${yyyy}-${mm.padStart(2,'0')}-${dd.padStart(2,'0')}`;\n}\n\nconst pedidosRaw = ensureArrayFromItems(items);\n\n// normaliza pedidos\nconst pedidosOut = pedidosRaw.map(p => ({\n  numeroDocumento: p.numeroDocumento,\n  data: p.data, // já está em YYYY-MM-DD\n  vendedor: p.vendedor || null,\n  nomeCliente: p.nomeCliente,\n  telefone: p.telefone || null,\n  email: p.email || null,\n  enderecoCliente: p.enderecoCliente || null,\n  qtdProdutos: p.produtos?.length || 0,\n  qtdItens: qtdItens(p),\n  totalPedido: totalPedido(p),\n  produtos: p.produtos || []\n}));\n\n// Captura o número da loja (assumindo que todos os pedidos são da mesma loja)\nconst numeroLoja = pedidosRaw[0]?.numeroLoja || null;\n\n// determina \"ontem\" em São Paulo\nconst hojeSP = new Date();\nconst ontemSP = new Date(hojeSP.getTime() - 24*60*60*1000);\nconst dataOntem = ymdInTZ(ontemSP);\n\n// define data alvo\nconst datasDisponiveis = [...new Set(pedidosOut.map(p => p.data))].filter(Boolean).sort();\nlet dataAlvo = dataOntem;\nlet usouDataMaisRecente = false;\n\nlet pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n\n// se não há pedidos no \"ontem\", usa a última data disponível\nif (pedidosDia.length === 0 && datasDisponiveis.length > 0) {\n  dataAlvo = datasDisponiveis[datasDisponiveis.length - 1];\n  pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n  usouDataMaisRecente = true;\n}\n\n// métricas do dia\nconst faturamentoTotal = to2(pedidosDia.reduce((a, p) => a + p.totalPedido, 0));\nconst totalPedidos = pedidosDia.length;\nconst totalItens = pedidosDia.reduce((a, p) => a + p.qtdItens, 0);\nconst clientesUnicos = new Set(pedidosDia.map(p => p.nomeCliente || 'SEM NOME')).size;\nconst ticketMedio = totalPedidos ? to2(faturamentoTotal / totalPedidos) : 0;\n\n// por vendedor (dia)\nconst porVendValor = {};\nconst porVendQtd = {};\nfor (const p of pedidosDia) {\n  const vend = p.vendedor || 'SEM VENDEDOR';\n  acum(porVendValor, vend, p.totalPedido);\n  acum(porVendQtd, vend, 1);\n}\nconst porVendedor = Object.keys(porVendValor).map(v => ({\n  vendedor: v,\n  pedidos: porVendQtd[v] || 0,\n  total: to2(porVendValor[v] || 0),\n  ticketMedio: porVendQtd[v] ? to2(porVendValor[v] / porVendQtd[v]) : 0\n})).sort((a, b) => b.total - a.total);\n\n// por dia — só a data analisada\nconst porDia = [{ data: dataAlvo, total: faturamentoTotal }];\n\n// top clientes do dia\nconst clientesDict = {};\nfor (const p of pedidosDia) acum(clientesDict, p.nomeCliente || 'SEM NOME', p.totalPedido);\nconst topClientes = topN(clientesDict, 10, 'valor');\n\n// top produtos do dia\nconst prodDict = {};\nfor (const p of pedidosDia) {\n  for (const it of (p.produtos || [])) {\n    const nome = it.produto || 'SEM PRODUTO';\n    if (!prodDict[nome]) prodDict[nome] = { qtd: 0, valor: 0 };\n    prodDict[nome].qtd += Number(it.quantidade || 0);\n    prodDict[nome].valor += Number(it.preco || 0);\n  }\n}\nconst topProdutosQtd = topN(prodDict, 10, 'qtd');\nconst topProdutosValor = topN(prodDict, 10, 'valor');\n\n// pedidos atípicos no dia: > 2 x ticket médio do dia\nconst pedidosAtipicos = ticketMedio > 0\n  ? pedidosDia.filter(p => p.totalPedido > 2 * ticketMedio).map(p => p.numeroDocumento)\n  : [];\n\nconst resumo = {\n  numeroLoja,\n  dataAlvo,\n  usouDataMaisRecente,\n  faturamentoTotal,\n  totalPedidos,\n  totalItens,\n  clientesUnicos,\n  ticketMedio,\n  pedidosAtipicos\n};\n\nreturn [\n  {\n    json: {\n      analise: {\n        resumo,\n        porVendedor,\n        porDia,\n        topClientes,\n        topProdutosQtd,\n        topProdutosValor,\n        pedidos: pedidosDia\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,3184],"id":"28337de0-f20e-41a8-b2e3-79395106d516","name":"Analyze Day3"},{"parameters":{"promptType":"define","text":"={{ $json.analise }}","messages":{"messageValues":[{"message":"=Você é um analista de vendas. Sua saída é um relatório diário curto (até 1.200 caracteres), pronto para WhatsApp. Use apenas texto simples, títulos em negrito com *asteriscos* e bullets normais (-). Não use # nem formatação markdown. Moeda no formato R$ 1.234,56.\n\nDados de entrada: {{ $json.analise }}\n\nRegras:\n1) Identifique a data de ontem em \"porDia\". Se não houver dados de ontem, use a data mais recente e avise no início.  \n2) Considere apenas pedidos cuja data seja a do dia analisado.  \n3) Calcule: faturamento total, nº de pedidos, nº de itens, ticket médio, nº de clientes únicos.  \n\nEstrutura da saída:\n*Resumo diário – DD/MM/AAAA* Loja \"\" \nFaturamento R$ X em Y pedidos, ticket médio R$ Z, N clientes únicos.  \n\n*Vendedores*  \n- Nome: R$ total | pedidos | % participação | ticket médio R$ X  \n\n*Produtos*  \n1 frase sobre mix e concentração.  \n- Produto: qtd un – R$ total  \n(liste até 3, pegando dos tops por valor e por quantidade, sem repetir)  \n\n*Clientes*  \n1 frase com os clientes mais relevantes do dia (até 2 ou 3 nomes).  \n\n*Conclusão*  \n1 frase curta interpretando o desempenho geral (ex: concentração em vendedores, dependência de produtos, ou oportunidade).\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[192,3184],"id":"f0ac91aa-0c83-4f0b-b17e-ac2f2139f2cb","name":"Format Report3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,3344],"id":"a13eca52-0707-4482-9524-3a7befe4231c","name":"LLM Model3","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"content":"# CHACARA SANTO ANTONIO\n\n","height":1056,"width":1680},"type":"n8n-nodes-base.stickyNote","position":[-912,2672],"typeVersion":1,"id":"8114037a-5dbb-4536-a3a5-f80abab0f8b2","name":"Sticky Note"},{"parameters":{"url":"http://159.112.189.1:25049/consultapedidovenda","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"067"},{"name":"data-hora","value":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}"},{"name":"ja-faturado","value":"true"},{"name":"size","value":"500"},{"name":"especieDocumento","value":"PD"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,4400],"id":"3ac4d749-67ac-4a43-b737-8651c574031e","name":"Get API 4","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: items[0].json com o JSON da API\n// Saída: array de { json: {...} }\n\nfunction limparTexto(s) {\n  return String(s || \"\").replace(/\\s+/g, \" \").replace(/[;]+$/g, \"\").trim();\n}\nfunction splitEmails(s) {\n  if (!s) return [];\n  return String(s).split(/[;,]/).map(x => x.trim()).filter(Boolean);\n}\nfunction limparEmail(s) {\n  const e = String(s || \"\").trim().replace(/[;]+$/g, \"\");\n  if (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e)) return \"\";\n  return e.toLowerCase();\n}\nfunction normalizePhone(s) {\n  if (!s) return \"\";\n  const digits = String(s).replace(/\\D/g, \"\");\n  if (digits.length === 10 || digits.length === 11) return digits;\n  if (digits.length === 12 || digits.length === 13) {\n    const semDDI = digits.replace(/^55/, \"\");\n    if (semDDI.length === 10 || semDDI.length === 11) return semDDI;\n  }\n  return \"\";\n}\nfunction dedup(arr) { return Array.from(new Set(arr.filter(Boolean))); }\nfunction normalizaData(s) {\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  const n = Number(s);\n  if (Number.isFinite(n)) {\n    const d = new Date(n);\n    if (!isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  return null;\n}\nfunction toNumber(v) { const n = Number(v); return Number.isFinite(n) ? n : null; }\n\nfunction formataCEP(s) {\n  const d = String(s || \"\").replace(/\\D/g, \"\");\n  if (d.length === 8) return d.slice(0,5) + \"-\" + d.slice(5);\n  return d || null;\n}\n\nfunction montarEnderecoCliente(pedido) {\n  const c = pedido?.cliente;\n  if (c) {\n    const cidadeUF = c?.cidade ? [c.cidade.nomeCidade, c.cidade.siglaEstado].filter(Boolean).join(\" \") : \"\";\n    const partes = [\n      limparTexto([c.endereco, c.numero].filter(Boolean).join(\", \")),\n      limparTexto(c.complemento),\n      limparTexto(c.bairro),\n      limparTexto(cidadeUF),\n      formataCEP(c.cep),\n    ].filter(Boolean);\n    const joined = partes.join(\", \").replace(/\\s+,/g, \",\").trim();\n    if (joined) return joined;\n  }\n  return null;\n}\n\nfunction extrairContatoSimples(pedido) {\n  const fones = dedup([\n    normalizePhone(pedido?.cliente?.telefone1),\n    normalizePhone(pedido?.cliente?.telefone2),\n    normalizePhone(pedido?.telefoneConsumidor),\n    normalizePhone(pedido?.cliente?.telefoneCelular),\n    normalizePhone(pedido?.enderecoEntrega?.telefone),\n  ]);\n  const emails = dedup([\n    ...splitEmails(pedido?.cliente?.email || \"\"),\n    ...splitEmails(pedido?.cliente?.emailNfe || \"\"),\n    ...splitEmails(pedido?.emailConsumidor || \"\"),\n  ].map(limparEmail));\n\n  return { telefone: fones[0] || null, email: emails[0] || null };\n}\n\nfunction extrairPedidos(pages) {\n  const out = [];\n  for (const pagina of pages || []) {\n    for (const pedido of (pagina?.content || [])) {\n      const { telefone, email } = extrairContatoSimples(pedido);\n      const nomeCliente = limparTexto(\n        pedido?.nomeConsumidorOuCliente ||\n        pedido?.cliente?.nome ||\n        pedido?.nomeConsumidor ||\n        pedido?.cliente?.fantasiaSobrenome ||\n        \"CONSUMIDOR\"\n      );\n      \n      // *** ADICIONADO: Captura do código do cliente ***\n      const codigoCliente = pedido?.cliente?.codigoCliente || null;\n      \n      const vendedor = limparTexto(pedido?.nomeVendedor || \"\");\n      const codigoVendedor = pedido?.codigoVendedor || null;\n      const enderecoCliente = montarEnderecoCliente(pedido);\n\n      const dataPedido =\n        normalizaData(pedido?.dataUltimaAlteracao) ||\n        normalizaData(pedido?.dataEntrega) ||\n        normalizaData(pedido?.dataEntrada) ||\n        normalizaData(pedido?.dataPrevisaoEntrega) ||\n        normalizaData(pedido?.dataOrigem) ||\n        null;\n\n      for (const item of (pedido?.itens || [])) {\n        const produto = limparTexto(item?.descricaoCompleta || item?.descricaoProduto || \"\");\n        const quantidade = toNumber(item?.quantidade) ?? 1;\n        const preco = toNumber(item?.totalItem) ?? 0;\n\n        const dataItem =\n          normalizaData(item?.dataFaturamento) ||\n          normalizaData(item?.dataEntrada) ||\n          dataPedido;\n\n        out.push({\n          numeroDocumento: String(pedido?.numeroDocumento || \"\"),\n          codigoCliente, // *** ADICIONADO aqui ***\n          nomeCliente,\n          enderecoCliente,\n          vendedor,\n          codigoVendedor,\n          produto,\n          quantidade,\n          preco,\n          data: dataItem,\n          telefone,\n          email,\n          codigoAtividade: pedido?.cliente?.codigoAtividade || null,\n          nomeVendedor: vendedor || null\n        });\n      }\n    }\n  }\n  return out;\n}\n\n// -------- entrada e retorno --------\nlet payload = items[0]?.json;\nif (payload && payload.body) payload = payload.body;\nif (payload && payload.data) payload = payload.data;\n\nconst pages = Array.isArray(payload) ? payload : [payload];\nconst rows = extrairPedidos(pages);\n\nreturn rows && rows.length ? rows.map(r => ({ json: r })) : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,4400],"id":"b3232da9-4ea9-46b0-a44d-d5cc9cac55a9","name":"Clean Data4"},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: rows do Code7\n// Saída: objeto agrupado por pedido com produtos e total\nconst pedidos = {};\nfor (const item of items) {\n  const doc = item.json.numeroDocumento;\n  if (!doc) continue;\n  if (!pedidos[doc]) {\n    pedidos[doc] = {\n      numeroDocumento: doc,\n      codigoCliente: item.json.codigoCliente, // *** ADICIONADO ***\n      nomeCliente: item.json.nomeCliente,\n      enderecoCliente: item.json.enderecoCliente,\n      vendedor: item.json.vendedor,\n      codigoVendedor: item.json.codigoVendedor,\n      nomeVendedor: item.json.nomeVendedor,\n      numeroLoja: \"67\",\n      telefone: item.json.telefone,\n      email: item.json.email,\n      data: item.json.data,\n      codigoAtividade: item.json.codigoAtividade,\n      produtos: [],\n      totalPedido: 0\n    };\n  }\n  pedidos[doc].produtos.push({\n    produto: item.json.produto,\n    quantidade: item.json.quantidade,\n    preco: item.json.preco\n  });\n  pedidos[doc].totalPedido += item.json.preco;\n}\n// saída formatada\nreturn Object.values(pedidos).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,4400],"id":"ceb548a6-ac6e-46c2-830d-7d010cf01313","name":"Group Orders4"},{"parameters":{"jsCode":"// Função para validar o telefone\nfunction telefoneValido(fone) {\n  if (!fone) return false;\n\n  const digits = String(fone).replace(/\\D/g, \"\");\n\n  // deve ter 10 ou 11 dígitos\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n\n  // ignora se todos os dígitos forem iguais (ex: 1111111111)\n  if (/^(\\d)\\1+$/.test(digits)) return false;\n\n  // ignora se número principal (sem DDD) for só de 9s (ex: 99999999 ou 999999999)\n  const numeroPrincipal = digits.length === 11 ? digits.slice(2) : digits.slice(2);\n  if (/^9{8,9}$/.test(numeroPrincipal)) return false;\n\n  return true;\n}\n\n// Mapeamento de código do vendedor → telefone\nconst mapaVendedores = {\n  \"035\": \"11953140549\", // RYAN SILVA SANTOS\n  \"016\": \"11973149303\", // EDUARDO CARLOS DA SILVA\n  \"004\": \"11976415611\", // JACQUES WILLIAN SILVA LIMA\n  \"002\": \"11976406945\" // RAFAEL LIMA DOS SANTOS\n};\n\nconst out = [];\n\nfor (const item of items) {\n  const p = item.json;\n\n  // filtro 1: ignora CONSUMIDOR\n  if (!p.nomeCliente || p.nomeCliente.toUpperCase() === \"CONSUMIDOR\") continue;\n\n  // filtro 2: ignora telefone inválido\n  if (!telefoneValido(p.telefone)) continue;\n\n  // adiciona telefone do vendedor, se houver\n  p.telefoneVendedor = mapaVendedores[p.codigoVendedor] || null;\n\n  // adiciona ao output\n  out.push({ json: p });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,4176],"id":"f8457e1e-b53a-40ea-9240-4a05f02de232","name":"Filter Orders4"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".pedidos_consolidados\n(empresa_id, loja_id, codigo_loja, numero_documento, codigo_cliente, nome_cliente, endereco_cliente, vendedor, codigo_vendedor, telefone_vendedor, telefone, email, data, codigo_atividade, total_pedido, produtos)\nVALUES\n(\n  '6bfc72af-fb8b-4f8a-b83c-52fb52c362a9',\n  '3ac40de2-a41c-40ba-89a1-e9f659466460',\n  '067',\n  '{{.numeroDocumento}}',\n  '{{.codigoCliente}}',\n  '{{.nomeCliente.replace(/'/g, \"''\")}}',\n  '{{.enderecoCliente.replace(/['’]/g, \"''\")}}',\n  '{{.vendedor.replace(/'/g, \"''\")}}',\n  '{{.codigoVendedor}}',\n  '{{.telefoneVendedor}}',\n  '{{.telefone}}',\n  '{{.email}}',\n  '{{.data}}',\n  '{{.codigoAtividade}}',\n  {{.totalPedido}},\n  $${{JSON.stringify(.produtos)}}$$::jsonb\n)\nON CONFLICT (empresa_id, numero_documento, codigo_loja) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[560,4176],"id":"f1fc5665-db11-4a1e-ba59-28f3250084de","name":"Save DB4","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: itens contendo pedidos como você já tem usado\n// Saída: analise SOMENTE do dia anterior (America/Sao_Paulo)\n// Se \"ontem\" não existir nos dados, usa a data mais recente disponível\n\nfunction to2(n) { return Math.round((n + Number.EPSILON) * 100) / 100; }\n\nfunction ensureArrayFromItems(items) {\n  if (!items?.length) return [];\n  const j0 = items[0].json;\n  if (Array.isArray(j0)) return j0; // primeiro item é o array completo\n  return items.map(i => i.json);    // caso comum: um pedido por item\n}\n\nfunction totalPedido(p) {\n  return to2((p.produtos || []).reduce((acc, it) => acc + Number(it.preco || 0), 0));\n}\n\nfunction qtdItens(p) {\n  return (p.produtos || []).reduce((acc, it) => acc + Number(it.quantidade || 0), 0);\n}\n\nfunction acum(map, key, valor) {\n  if (!map[key]) map[key] = 0;\n  map[key] += valor;\n}\n\nfunction topN(dict, n, by = 'valor') {\n  const arr = Object.entries(dict).map(([k, v]) => {\n    if (typeof v === 'number') return { nome: k, valor: v };\n    return { nome: k, valor: v.valor ?? 0, qtd: v.qtd ?? 0 };\n  });\n  arr.sort((a, b) => (b[by] ?? 0) - (a[by] ?? 0));\n  return arr.slice(0, n).map(x => ({ ...x, valor: to2(x.valor) }));\n}\n\nfunction ymdInTZ(date) {\n  // retorna YYYY-MM-DD em America/Sao_Paulo\n  const s = date.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }); // dd/mm/aaaa\n  const [dd, mm, yyyy] = s.split('/');\n  return `${yyyy}-${mm.padStart(2,'0')}-${dd.padStart(2,'0')}`;\n}\n\nconst pedidosRaw = ensureArrayFromItems(items);\n\n// normaliza pedidos\nconst pedidosOut = pedidosRaw.map(p => ({\n  numeroDocumento: p.numeroDocumento,\n  data: p.data, // já está em YYYY-MM-DD\n  vendedor: p.vendedor || null,\n  nomeCliente: p.nomeCliente,\n  telefone: p.telefone || null,\n  email: p.email || null,\n  enderecoCliente: p.enderecoCliente || null,\n  qtdProdutos: p.produtos?.length || 0,\n  qtdItens: qtdItens(p),\n  totalPedido: totalPedido(p),\n  produtos: p.produtos || []\n}));\n\n// Captura o número da loja (assumindo que todos os pedidos são da mesma loja)\nconst numeroLoja = pedidosRaw[0]?.numeroLoja || null;\n\n// determina \"ontem\" em São Paulo\nconst hojeSP = new Date();\nconst ontemSP = new Date(hojeSP.getTime() - 24*60*60*1000);\nconst dataOntem = ymdInTZ(ontemSP);\n\n// define data alvo\nconst datasDisponiveis = [...new Set(pedidosOut.map(p => p.data))].filter(Boolean).sort();\nlet dataAlvo = dataOntem;\nlet usouDataMaisRecente = false;\n\nlet pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n\n// se não há pedidos no \"ontem\", usa a última data disponível\nif (pedidosDia.length === 0 && datasDisponiveis.length > 0) {\n  dataAlvo = datasDisponiveis[datasDisponiveis.length - 1];\n  pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n  usouDataMaisRecente = true;\n}\n\n// métricas do dia\nconst faturamentoTotal = to2(pedidosDia.reduce((a, p) => a + p.totalPedido, 0));\nconst totalPedidos = pedidosDia.length;\nconst totalItens = pedidosDia.reduce((a, p) => a + p.qtdItens, 0);\nconst clientesUnicos = new Set(pedidosDia.map(p => p.nomeCliente || 'SEM NOME')).size;\nconst ticketMedio = totalPedidos ? to2(faturamentoTotal / totalPedidos) : 0;\n\n// por vendedor (dia)\nconst porVendValor = {};\nconst porVendQtd = {};\nfor (const p of pedidosDia) {\n  const vend = p.vendedor || 'SEM VENDEDOR';\n  acum(porVendValor, vend, p.totalPedido);\n  acum(porVendQtd, vend, 1);\n}\nconst porVendedor = Object.keys(porVendValor).map(v => ({\n  vendedor: v,\n  pedidos: porVendQtd[v] || 0,\n  total: to2(porVendValor[v] || 0),\n  ticketMedio: porVendQtd[v] ? to2(porVendValor[v] / porVendQtd[v]) : 0\n})).sort((a, b) => b.total - a.total);\n\n// por dia — só a data analisada\nconst porDia = [{ data: dataAlvo, total: faturamentoTotal }];\n\n// top clientes do dia\nconst clientesDict = {};\nfor (const p of pedidosDia) acum(clientesDict, p.nomeCliente || 'SEM NOME', p.totalPedido);\nconst topClientes = topN(clientesDict, 10, 'valor');\n\n// top produtos do dia\nconst prodDict = {};\nfor (const p of pedidosDia) {\n  for (const it of (p.produtos || [])) {\n    const nome = it.produto || 'SEM PRODUTO';\n    if (!prodDict[nome]) prodDict[nome] = { qtd: 0, valor: 0 };\n    prodDict[nome].qtd += Number(it.quantidade || 0);\n    prodDict[nome].valor += Number(it.preco || 0);\n  }\n}\nconst topProdutosQtd = topN(prodDict, 10, 'qtd');\nconst topProdutosValor = topN(prodDict, 10, 'valor');\n\n// pedidos atípicos no dia: > 2 x ticket médio do dia\nconst pedidosAtipicos = ticketMedio > 0\n  ? pedidosDia.filter(p => p.totalPedido > 2 * ticketMedio).map(p => p.numeroDocumento)\n  : [];\n\nconst resumo = {\n  numeroLoja,\n  dataAlvo,\n  usouDataMaisRecente,\n  faturamentoTotal,\n  totalPedidos,\n  totalItens,\n  clientesUnicos,\n  ticketMedio,\n  pedidosAtipicos\n};\n\nreturn [\n  {\n    json: {\n      analise: {\n        resumo,\n        porVendedor,\n        porDia,\n        topClientes,\n        topProdutosQtd,\n        topProdutosValor,\n        pedidos: pedidosDia\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,4400],"id":"a9d4b4b7-c68b-4540-ad2c-fdd0ec7042f6","name":"Analyze Day4"},{"parameters":{"promptType":"define","text":"={{ $json.analise }}","messages":{"messageValues":[{"message":"=Você é um analista de vendas. Sua saída é um relatório diário curto (até 1.200 caracteres), pronto para WhatsApp. Use apenas texto simples, títulos em negrito com *asteriscos* e bullets normais (-). Não use # nem formatação markdown. Moeda no formato R$ 1.234,56.\n\nDados de entrada: {{ $json.analise }}\n\nRegras:\n1) Identifique a data de ontem em \"porDia\". Se não houver dados de ontem, use a data mais recente e avise no início.  \n2) Considere apenas pedidos cuja data seja a do dia analisado.  \n3) Calcule: faturamento total, nº de pedidos, nº de itens, ticket médio, nº de clientes únicos.  \n\nEstrutura da saída:\n*Resumo diário – DD/MM/AAAA* Loja \"\" \nFaturamento R$ X em Y pedidos, ticket médio R$ Z, N clientes únicos.  \n\n*Vendedores*  \n- Nome: R$ total | pedidos | % participação | ticket médio R$ X  \n\n*Produtos*  \n1 frase sobre mix e concentração.  \n- Produto: qtd un – R$ total  \n(liste até 3, pegando dos tops por valor e por quantidade, sem repetir)  \n\n*Clientes*  \n1 frase com os clientes mais relevantes do dia (até 2 ou 3 nomes).  \n\n*Conclusão*  \n1 frase curta interpretando o desempenho geral (ex: concentração em vendedores, dependência de produtos, ou oportunidade).\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[208,4400],"id":"cf1b305c-f7d2-4693-8363-1985049a9e9f","name":"Format Report4"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[208,4576],"id":"d7d47b8b-e0f9-46a6-8a23-37f6070eccb3","name":"LLM Model4","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"content":"# PORTAL MORUMBI\n\n","height":1056,"width":1728,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-912,3888],"typeVersion":1,"id":"0f5b2867-6dd1-458e-9b96-279496eca08c","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-832,4400],"id":"bd25833d-38b9-46aa-80bb-94dc82242959","name":"Vendas Portal BD"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-848,3184],"id":"9e73e2ee-ada5-48de-89fc-286a8d152413","name":"Vendas Chacara BD"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-832,1952],"id":"9dd3fcf2-c2b2-4798-98cb-7a3edb875d7d","name":"Vendas Vila A BD"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,768],"id":"c24f93ae-eb7d-45ea-99a9-6bfdb681c0c2","name":"Vendas Vila M BD"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-816,-448],"id":"0bfdef28-5024-4f45-a929-b4062c8c7416","name":"Vendas Guedala BD"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511940662846"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[544,-448],"id":"0f3dfe21-f1fb-4ef0-b1dd-a2ef673e849d","name":"Envia MSG"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511940662846"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[480,768],"id":"ceb54818-b94f-45c8-8132-10e69e87341e","name":"Envia MSG1"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511940662846"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[528,1952],"id":"f5ffba16-ddb8-4b31-b69d-c22a4a05ee22","name":"Envia MSG2"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511940662846"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[528,3184],"id":"34575937-7409-4143-aae9-e67817f89bc7","name":"Envia MSG3"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511940662846"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,4400],"id":"c41dfc64-6ed6-4ac5-beb8-6bb40ed20693","name":"Envia MSG4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"6661d59f-83c3-4e20-9522-1bc3aae0ca73","name":"AI Agent"}],"connections":{"Get API ":{"main":[[{"node":"Clean Data","type":"main","index":0}]]},"Clean Data":{"main":[[{"node":"Group Orders","type":"main","index":0}]]},"Group Orders":{"main":[[{"node":"Analyze Day","type":"main","index":0},{"node":"Filter Orders","type":"main","index":0}]]},"Filter Orders":{"main":[[{"node":"Save DB","type":"main","index":0}]]},"Analyze Day":{"main":[[{"node":"Format Report","type":"main","index":0}]]},"Format Report":{"main":[[{"node":"Envia MSG","type":"main","index":0}]]},"LLM Model":{"ai_languageModel":[[{"node":"Format Report","type":"ai_languageModel","index":0}]]},"Get API 1":{"main":[[{"node":"Clean Data1","type":"main","index":0}]]},"Clean Data1":{"main":[[{"node":"Group Orders1","type":"main","index":0}]]},"Group Orders1":{"main":[[{"node":"Analyze Day1","type":"main","index":0},{"node":"Filter Orders1","type":"main","index":0}]]},"Filter Orders1":{"main":[[{"node":"Save DB1","type":"main","index":0}]]},"Analyze Day1":{"main":[[{"node":"Format Report1","type":"main","index":0}]]},"Format Report1":{"main":[[{"node":"Envia MSG1","type":"main","index":0}]]},"LLM Model1":{"ai_languageModel":[[{"node":"Format Report1","type":"ai_languageModel","index":0}]]},"Get API 2":{"main":[[{"node":"Clean Data2","type":"main","index":0}]]},"Clean Data2":{"main":[[{"node":"Group Orders2","type":"main","index":0}]]},"Group Orders2":{"main":[[{"node":"Analyze Day2","type":"main","index":0},{"node":"Filter Orders2","type":"main","index":0}]]},"Filter Orders2":{"main":[[{"node":"Save DB2","type":"main","index":0}]]},"Analyze Day2":{"main":[[{"node":"Format Report2","type":"main","index":0}]]},"Format Report2":{"main":[[{"node":"Envia MSG2","type":"main","index":0}]]},"LLM Model2":{"ai_languageModel":[[{"node":"Format Report2","type":"ai_languageModel","index":0}]]},"Get API 3":{"main":[[{"node":"Clean Data3","type":"main","index":0}]]},"Clean Data3":{"main":[[{"node":"Group Orders3","type":"main","index":0}]]},"Group Orders3":{"main":[[{"node":"Analyze Day3","type":"main","index":0},{"node":"Filter Orders3","type":"main","index":0}]]},"Filter Orders3":{"main":[[{"node":"Save DB3","type":"main","index":0}]]},"Analyze Day3":{"main":[[{"node":"Format Report3","type":"main","index":0}]]},"Format Report3":{"main":[[{"node":"Envia MSG3","type":"main","index":0}]]},"LLM Model3":{"ai_languageModel":[[{"node":"Format Report3","type":"ai_languageModel","index":0}]]},"Get API 4":{"main":[[{"node":"Clean Data4","type":"main","index":0}]]},"Clean Data4":{"main":[[{"node":"Group Orders4","type":"main","index":0}]]},"Group Orders4":{"main":[[{"node":"Analyze Day4","type":"main","index":0},{"node":"Filter Orders4","type":"main","index":0}]]},"Filter Orders4":{"main":[[{"node":"Save DB4","type":"main","index":0}]]},"Analyze Day4":{"main":[[{"node":"Format Report4","type":"main","index":0}]]},"Format Report4":{"main":[[{"node":"Envia MSG4","type":"main","index":0}]]},"LLM Model4":{"ai_languageModel":[[{"node":"Format Report4","type":"ai_languageModel","index":0}]]},"Vendas Portal BD":{"main":[[{"node":"Get API 4","type":"main","index":0}]]},"Vendas Chacara BD":{"main":[[{"node":"Get API 3","type":"main","index":0}]]},"Vendas Vila A BD":{"main":[[{"node":"Get API 2","type":"main","index":0}]]},"Vendas Vila M BD":{"main":[[{"node":"Get API 1","type":"main","index":0}]]},"Vendas Guedala BD":{"main":[[{"node":"Get API ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Vendas Portal BD":{"recurrenceRules":[]},"node:Vendas Chacara BD":{"recurrenceRules":[]},"node:Vendas Vila A BD":{"recurrenceRules":[]},"node:Vendas Vila M BD":{"recurrenceRules":[]},"node:Vendas Guedala BD":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"3116b04a-f23c-49bd-85ae-2614d6ca86c7","activeVersionId":"3116b04a-f23c-49bd-85ae-2614d6ca86c7","triggerCount":5,"shared":[{"updatedAt":"2025-11-03T17:18:07.966Z","createdAt":"2025-11-03T17:18:07.966Z","role":"workflow:owner","workflowId":"xAlBnFFgeBUwK5NE","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2026-01-30T15:36:55.784Z","createdAt":"2026-01-30T15:36:55.784Z","versionId":"3116b04a-f23c-49bd-85ae-2614d6ca86c7","workflowId":"xAlBnFFgeBUwK5NE","nodes":[{"parameters":{"url":"http://159.112.189.1:25049/consultapedidovenda","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"173"},{"name":"data-hora","value":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}"},{"name":"ja-faturado","value":"true"},{"name":"size","value":"500"},{"name":"especieDocumento","value":"PD"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-624,-448],"id":"37a73ac5-5075-40c0-b05a-592c2799de51","name":"Get API ","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: items[0].json com o JSON da API\n// Saída: array de { json: {...} }\n\nfunction limparTexto(s) {\n  return String(s || \"\").replace(/\\s+/g, \" \").replace(/[;]+$/g, \"\").trim();\n}\nfunction splitEmails(s) {\n  if (!s) return [];\n  return String(s).split(/[;,]/).map(x => x.trim()).filter(Boolean);\n}\nfunction limparEmail(s) {\n  const e = String(s || \"\").trim().replace(/[;]+$/g, \"\");\n  if (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e)) return \"\";\n  return e.toLowerCase();\n}\nfunction normalizePhone(s) {\n  if (!s) return \"\";\n  const digits = String(s).replace(/\\D/g, \"\");\n  if (digits.length === 10 || digits.length === 11) return digits;\n  if (digits.length === 12 || digits.length === 13) {\n    const semDDI = digits.replace(/^55/, \"\");\n    if (semDDI.length === 10 || semDDI.length === 11) return semDDI;\n  }\n  return \"\";\n}\nfunction dedup(arr) { return Array.from(new Set(arr.filter(Boolean))); }\nfunction normalizaData(s) {\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  const n = Number(s);\n  if (Number.isFinite(n)) {\n    const d = new Date(n);\n    if (!isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  return null;\n}\nfunction toNumber(v) { const n = Number(v); return Number.isFinite(n) ? n : null; }\n\nfunction formataCEP(s) {\n  const d = String(s || \"\").replace(/\\D/g, \"\");\n  if (d.length === 8) return d.slice(0,5) + \"-\" + d.slice(5);\n  return d || null;\n}\n\nfunction montarEnderecoCliente(pedido) {\n  const c = pedido?.cliente;\n  if (c) {\n    const cidadeUF = c?.cidade ? [c.cidade.nomeCidade, c.cidade.siglaEstado].filter(Boolean).join(\" \") : \"\";\n    const partes = [\n      limparTexto([c.endereco, c.numero].filter(Boolean).join(\", \")),\n      limparTexto(c.complemento),\n      limparTexto(c.bairro),\n      limparTexto(cidadeUF),\n      formataCEP(c.cep),\n    ].filter(Boolean);\n    const joined = partes.join(\", \").replace(/\\s+,/g, \",\").trim();\n    if (joined) return joined;\n  }\n  return null;\n}\n\nfunction extrairContatoSimples(pedido) {\n  const fones = dedup([\n    normalizePhone(pedido?.cliente?.telefone1),\n    normalizePhone(pedido?.cliente?.telefone2),\n    normalizePhone(pedido?.telefoneConsumidor),\n    normalizePhone(pedido?.cliente?.telefoneCelular),\n    normalizePhone(pedido?.enderecoEntrega?.telefone),\n  ]);\n  const emails = dedup([\n    ...splitEmails(pedido?.cliente?.email || \"\"),\n    ...splitEmails(pedido?.cliente?.emailNfe || \"\"),\n    ...splitEmails(pedido?.emailConsumidor || \"\"),\n  ].map(limparEmail));\n\n  return { telefone: fones[0] || null, email: emails[0] || null };\n}\n\nfunction extrairPedidos(pages) {\n  const out = [];\n  for (const pagina of pages || []) {\n    for (const pedido of (pagina?.content || [])) {\n      const { telefone, email } = extrairContatoSimples(pedido);\n      const nomeCliente = limparTexto(\n        pedido?.nomeConsumidorOuCliente ||\n        pedido?.cliente?.nome ||\n        pedido?.nomeConsumidor ||\n        pedido?.cliente?.fantasiaSobrenome ||\n        \"CONSUMIDOR\"\n      );\n      \n      // *** ADICIONADO: Captura do código do cliente ***\n      const codigoCliente = pedido?.cliente?.codigoCliente || null;\n      \n      const vendedor = limparTexto(pedido?.nomeVendedor || \"\");\n      const codigoVendedor = pedido?.codigoVendedor || null;\n      const enderecoCliente = montarEnderecoCliente(pedido);\n\n      const dataPedido =\n        normalizaData(pedido?.dataUltimaAlteracao) ||\n        normalizaData(pedido?.dataEntrega) ||\n        normalizaData(pedido?.dataEntrada) ||\n        normalizaData(pedido?.dataPrevisaoEntrega) ||\n        normalizaData(pedido?.dataOrigem) ||\n        null;\n\n      for (const item of (pedido?.itens || [])) {\n        const produto = limparTexto(item?.descricaoCompleta || item?.descricaoProduto || \"\");\n        const quantidade = toNumber(item?.quantidade) ?? 1;\n        const preco = toNumber(item?.totalItem) ?? 0;\n\n        const dataItem =\n          normalizaData(item?.dataFaturamento) ||\n          normalizaData(item?.dataEntrada) ||\n          dataPedido;\n\n        out.push({\n          numeroDocumento: String(pedido?.numeroDocumento || \"\"),\n          codigoCliente, // *** ADICIONADO aqui ***\n          nomeCliente,\n          enderecoCliente,\n          vendedor,\n          codigoVendedor,\n          produto,\n          quantidade,\n          preco,\n          data: dataItem,\n          telefone,\n          email,\n          codigoAtividade: pedido?.cliente?.codigoAtividade || null,\n          nomeVendedor: vendedor || null\n        });\n      }\n    }\n  }\n  return out;\n}\n\n// -------- entrada e retorno --------\nlet payload = items[0]?.json;\nif (payload && payload.body) payload = payload.body;\nif (payload && payload.data) payload = payload.data;\n\nconst pages = Array.isArray(payload) ? payload : [payload];\nconst rows = extrairPedidos(pages);\n\nreturn rows && rows.length ? rows.map(r => ({ json: r })) : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,-448],"id":"fa010be9-0583-43a6-832f-1aa7d39dd125","name":"Clean Data"},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: rows do Code7\n// Saída: objeto agrupado por pedido com produtos e total\nconst pedidos = {};\nfor (const item of items) {\n  const doc = item.json.numeroDocumento;\n  if (!doc) continue;\n  if (!pedidos[doc]) {\n    pedidos[doc] = {\n      numeroDocumento: doc,\n      codigoCliente: item.json.codigoCliente, // *** ADICIONADO ***\n      nomeCliente: item.json.nomeCliente,\n      enderecoCliente: item.json.enderecoCliente,\n      vendedor: item.json.vendedor,\n      codigoVendedor: item.json.codigoVendedor,\n      nomeVendedor: item.json.nomeVendedor,\n      numeroLoja: \"173\",\n      telefone: item.json.telefone,\n      email: item.json.email,\n      data: item.json.data,\n      codigoAtividade: item.json.codigoAtividade,\n      produtos: [],\n      totalPedido: 0\n    };\n  }\n  pedidos[doc].produtos.push({\n    produto: item.json.produto,\n    quantidade: item.json.quantidade,\n    preco: item.json.preco\n  });\n  pedidos[doc].totalPedido += item.json.preco;\n}\n// saída formatada\nreturn Object.values(pedidos).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,-448],"id":"2654de8c-0321-4669-aa55-97e1fa696da1","name":"Group Orders"},{"parameters":{"jsCode":"// Função para validar o telefone\nfunction telefoneValido(fone) {\n  if (!fone) return false;\n  const digits = String(fone).replace(/\\D/g, \"\");\n  // deve ter 10 ou 11 dígitos\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n  // ignora se todos os dígitos forem iguais (ex: 1111111111)\n  if (/^(\\d)\\1+$/.test(digits)) return false;\n  // ignora se número principal (sem DDD) for só de 9s (ex: 99999999 ou 999999999)\n  const numeroPrincipal = digits.length === 11 ? digits.slice(2) : digits.slice(2);\n  if (/^9{8,9}$/.test(numeroPrincipal)) return false;\n  return true;\n}\n\n// Mapeamento de código do vendedor → telefone\nconst mapaVendedores = {\n  \"011\": \"11984536811\", // Edielson Lima\n  \"010\": \"11939358619\", // Daniel\n  \"039\": \"11915058579\", // Kawan\n  \"003\": \"11939358619\"  // Renato\n};\n\nconst out = [];\n\nfor (const item of items) {\n  const p = item.json;\n  \n    // filtro 2: ignora CONSUMIDOR\n  if (!p.nomeCliente || p.nomeCliente.toUpperCase() === \"CONSUMIDOR\") continue;\n  \n  // filtro 3: ignora telefone inválido\n  if (!telefoneValido(p.telefone)) continue;\n  \n  // adiciona telefone do vendedor, se houver\n  p.telefoneVendedor = mapaVendedores[p.codigoVendedor] || null;\n  \n  // adiciona ao output\n  out.push({ json: p });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-672],"id":"3df93739-d675-4428-bd7b-6f0d6d63a5f8","name":"Filter Orders"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".pedidos_consolidados\n(empresa_id, loja_id, codigo_loja, numero_documento, codigo_cliente, nome_cliente, endereco_cliente, vendedor, codigo_vendedor, telefone_vendedor, telefone, email, data, codigo_atividade, total_pedido, produtos)\nVALUES\n(\n  '6bfc72af-fb8b-4f8a-b83c-52fb52c362a9',\n  '75be9d1d-de8c-4ba8-8860-f0b1c1612ed4',\n  '173',\n  '{{.numeroDocumento}}',\n  '{{.codigoCliente}}',\n  '{{.nomeCliente.replace(/'/g, \"''\")}}',\n  '{{.enderecoCliente.replace(/['’]/g, \"''\")}}',\n  '{{.vendedor.replace(/'/g, \"''\")}}',\n  '{{.codigoVendedor}}',\n  '{{.telefoneVendedor}}',\n  '{{.telefone}}',\n  '{{.email}}',\n  '{{.data}}',\n  '{{.codigoAtividade}}',\n  {{.totalPedido}},\n  $${{JSON.stringify(.produtos)}}$$::jsonb\n)\nON CONFLICT (empresa_id, numero_documento, codigo_loja) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[528,-672],"id":"2b1eb8aa-bcfc-4f2c-b2f5-2e86226b3d32","name":"Save DB","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: itens contendo pedidos como você já tem usado\n// Saída: analise SOMENTE do dia anterior (America/Sao_Paulo)\n// Se \"ontem\" não existir nos dados, usa a data mais recente disponível\n\nfunction to2(n) { return Math.round((n + Number.EPSILON) * 100) / 100; }\n\nfunction ensureArrayFromItems(items) {\n  if (!items?.length) return [];\n  const j0 = items[0].json;\n  if (Array.isArray(j0)) return j0; // primeiro item é o array completo\n  return items.map(i => i.json);    // caso comum: um pedido por item\n}\n\nfunction totalPedido(p) {\n  return to2((p.produtos || []).reduce((acc, it) => acc + Number(it.preco || 0), 0));\n}\n\nfunction qtdItens(p) {\n  return (p.produtos || []).reduce((acc, it) => acc + Number(it.quantidade || 0), 0);\n}\n\nfunction acum(map, key, valor) {\n  if (!map[key]) map[key] = 0;\n  map[key] += valor;\n}\n\nfunction topN(dict, n, by = 'valor') {\n  const arr = Object.entries(dict).map(([k, v]) => {\n    if (typeof v === 'number') return { nome: k, valor: v };\n    return { nome: k, valor: v.valor ?? 0, qtd: v.qtd ?? 0 };\n  });\n  arr.sort((a, b) => (b[by] ?? 0) - (a[by] ?? 0));\n  return arr.slice(0, n).map(x => ({ ...x, valor: to2(x.valor) }));\n}\n\nfunction ymdInTZ(date) {\n  // retorna YYYY-MM-DD em America/Sao_Paulo\n  const s = date.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }); // dd/mm/aaaa\n  const [dd, mm, yyyy] = s.split('/');\n  return `${yyyy}-${mm.padStart(2,'0')}-${dd.padStart(2,'0')}`;\n}\n\nconst pedidosRaw = ensureArrayFromItems(items);\n\n// normaliza pedidos\nconst pedidosOut = pedidosRaw.map(p => ({\n  numeroDocumento: p.numeroDocumento,\n  data: p.data, // já está em YYYY-MM-DD\n  vendedor: p.vendedor || null,\n  nomeCliente: p.nomeCliente,\n  telefone: p.telefone || null,\n  email: p.email || null,\n  enderecoCliente: p.enderecoCliente || null,\n  qtdProdutos: p.produtos?.length || 0,\n  qtdItens: qtdItens(p),\n  totalPedido: totalPedido(p),\n  produtos: p.produtos || []\n}));\n\n// Captura o número da loja (assumindo que todos os pedidos são da mesma loja)\nconst numeroLoja = pedidosRaw[0]?.numeroLoja || null;\n\n// determina \"ontem\" em São Paulo\nconst hojeSP = new Date();\nconst ontemSP = new Date(hojeSP.getTime() - 24*60*60*1000);\nconst dataOntem = ymdInTZ(ontemSP);\n\n// define data alvo\nconst datasDisponiveis = [...new Set(pedidosOut.map(p => p.data))].filter(Boolean).sort();\nlet dataAlvo = dataOntem;\nlet usouDataMaisRecente = false;\n\nlet pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n\n// se não há pedidos no \"ontem\", usa a última data disponível\nif (pedidosDia.length === 0 && datasDisponiveis.length > 0) {\n  dataAlvo = datasDisponiveis[datasDisponiveis.length - 1];\n  pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n  usouDataMaisRecente = true;\n}\n\n// métricas do dia\nconst faturamentoTotal = to2(pedidosDia.reduce((a, p) => a + p.totalPedido, 0));\nconst totalPedidos = pedidosDia.length;\nconst totalItens = pedidosDia.reduce((a, p) => a + p.qtdItens, 0);\nconst clientesUnicos = new Set(pedidosDia.map(p => p.nomeCliente || 'SEM NOME')).size;\nconst ticketMedio = totalPedidos ? to2(faturamentoTotal / totalPedidos) : 0;\n\n// por vendedor (dia)\nconst porVendValor = {};\nconst porVendQtd = {};\nfor (const p of pedidosDia) {\n  const vend = p.vendedor || 'SEM VENDEDOR';\n  acum(porVendValor, vend, p.totalPedido);\n  acum(porVendQtd, vend, 1);\n}\nconst porVendedor = Object.keys(porVendValor).map(v => ({\n  vendedor: v,\n  pedidos: porVendQtd[v] || 0,\n  total: to2(porVendValor[v] || 0),\n  ticketMedio: porVendQtd[v] ? to2(porVendValor[v] / porVendQtd[v]) : 0\n})).sort((a, b) => b.total - a.total);\n\n// por dia — só a data analisada\nconst porDia = [{ data: dataAlvo, total: faturamentoTotal }];\n\n// top clientes do dia\nconst clientesDict = {};\nfor (const p of pedidosDia) acum(clientesDict, p.nomeCliente || 'SEM NOME', p.totalPedido);\nconst topClientes = topN(clientesDict, 10, 'valor');\n\n// top produtos do dia\nconst prodDict = {};\nfor (const p of pedidosDia) {\n  for (const it of (p.produtos || [])) {\n    const nome = it.produto || 'SEM PRODUTO';\n    if (!prodDict[nome]) prodDict[nome] = { qtd: 0, valor: 0 };\n    prodDict[nome].qtd += Number(it.quantidade || 0);\n    prodDict[nome].valor += Number(it.preco || 0);\n  }\n}\nconst topProdutosQtd = topN(prodDict, 10, 'qtd');\nconst topProdutosValor = topN(prodDict, 10, 'valor');\n\n// pedidos atípicos no dia: > 2 x ticket médio do dia\nconst pedidosAtipicos = ticketMedio > 0\n  ? pedidosDia.filter(p => p.totalPedido > 2 * ticketMedio).map(p => p.numeroDocumento)\n  : [];\n\nconst resumo = {\n  numeroLoja,\n  dataAlvo,\n  usouDataMaisRecente,\n  faturamentoTotal,\n  totalPedidos,\n  totalItens,\n  clientesUnicos,\n  ticketMedio,\n  pedidosAtipicos\n};\n\nreturn [\n  {\n    json: {\n      analise: {\n        resumo,\n        porVendedor,\n        porDia,\n        topClientes,\n        topProdutosQtd,\n        topProdutosValor,\n        pedidos: pedidosDia\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-448],"id":"31c7718b-8224-4d94-91e7-5c672531b430","name":"Analyze Day"},{"parameters":{"promptType":"define","text":"={{ $json.analise }}","messages":{"messageValues":[{"message":"=Você é um analista de vendas. Sua saída é um relatório diário curto (até 1.200 caracteres), pronto para WhatsApp. Use apenas texto simples, títulos em negrito com *asteriscos* e bullets normais (-). Não use # nem formatação markdown. Moeda no formato R$ 1.234,56.\n\nDados de entrada: {{ $json.analise }}\n\nRegras:\n1) Identifique a data de ontem em \"porDia\". Se não houver dados de ontem, use a data mais recente e avise no início.  \n2) Considere apenas pedidos cuja data seja a do dia analisado.  \n3) Calcule: faturamento total, nº de pedidos, nº de itens, ticket médio, nº de clientes únicos.  \n\nEstrutura da saída:\n*Resumo diário – DD/MM/AAAA* Loja \"\" \nFaturamento R$ X em Y pedidos, ticket médio R$ Z, N clientes únicos.  \n\n*Vendedores*  \n- Nome: R$ total | pedidos | % participação | ticket médio R$ X  \n\n*Produtos*  \n1 frase sobre mix e concentração.  \n- Produto: qtd un – R$ total  \n(liste até 3, pegando dos tops por valor e por quantidade, sem repetir)  \n\n*Clientes*  \n1 frase com os clientes mais relevantes do dia (até 2 ou 3 nomes).  \n\n*Conclusão*  \n1 frase curta interpretando o desempenho geral (ex: concentração em vendedores, dependência de produtos, ou oportunidade).\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[192,-448],"id":"17695233-e508-4617-95d8-2fc0a743be93","name":"Format Report"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,-256],"id":"767cefa6-0490-4a95-bbbf-96242cf53797","name":"LLM Model","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"content":"# JARDIM GUEDALA\n\n","height":1056,"width":1680,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-928,-944],"typeVersion":1,"id":"024dbc20-7216-4560-88d4-1cef17384928","name":"Sticky Note1"},{"parameters":{"content":"# VILA MASCOTE\n\n","height":1056,"width":1680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-928,256],"typeVersion":1,"id":"9b700f68-fffc-4fd3-b9e2-c5f46b006f95","name":"Sticky Note3"},{"parameters":{"url":"http://159.112.189.1:25049/consultapedidovenda","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"191"},{"name":"data-hora","value":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}"},{"name":"ja-faturado","value":"true"},{"name":"size","value":"500"},{"name":"especieDocumento","value":"PD"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-688,768],"id":"6151ecfd-5836-4e65-9f01-9db72b59267b","name":"Get API 1","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: items[0].json com o JSON da API\n// Saída: array de { json: {...} }\n\nfunction limparTexto(s) {\n  return String(s || \"\").replace(/\\s+/g, \" \").replace(/[;]+$/g, \"\").trim();\n}\nfunction splitEmails(s) {\n  if (!s) return [];\n  return String(s).split(/[;,]/).map(x => x.trim()).filter(Boolean);\n}\nfunction limparEmail(s) {\n  const e = String(s || \"\").trim().replace(/[;]+$/g, \"\");\n  if (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e)) return \"\";\n  return e.toLowerCase();\n}\nfunction normalizePhone(s) {\n  if (!s) return \"\";\n  const digits = String(s).replace(/\\D/g, \"\");\n  if (digits.length === 10 || digits.length === 11) return digits;\n  if (digits.length === 12 || digits.length === 13) {\n    const semDDI = digits.replace(/^55/, \"\");\n    if (semDDI.length === 10 || semDDI.length === 11) return semDDI;\n  }\n  return \"\";\n}\nfunction dedup(arr) { return Array.from(new Set(arr.filter(Boolean))); }\nfunction normalizaData(s) {\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  const n = Number(s);\n  if (Number.isFinite(n)) {\n    const d = new Date(n);\n    if (!isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  return null;\n}\nfunction toNumber(v) { const n = Number(v); return Number.isFinite(n) ? n : null; }\n\nfunction formataCEP(s) {\n  const d = String(s || \"\").replace(/\\D/g, \"\");\n  if (d.length === 8) return d.slice(0,5) + \"-\" + d.slice(5);\n  return d || null;\n}\n\nfunction montarEnderecoCliente(pedido) {\n  const c = pedido?.cliente;\n  if (c) {\n    const cidadeUF = c?.cidade ? [c.cidade.nomeCidade, c.cidade.siglaEstado].filter(Boolean).join(\" \") : \"\";\n    const partes = [\n      limparTexto([c.endereco, c.numero].filter(Boolean).join(\", \")),\n      limparTexto(c.complemento),\n      limparTexto(c.bairro),\n      limparTexto(cidadeUF),\n      formataCEP(c.cep),\n    ].filter(Boolean);\n    const joined = partes.join(\", \").replace(/\\s+,/g, \",\").trim();\n    if (joined) return joined;\n  }\n  return null;\n}\n\nfunction extrairContatoSimples(pedido) {\n  const fones = dedup([\n    normalizePhone(pedido?.cliente?.telefone1),\n    normalizePhone(pedido?.cliente?.telefone2),\n    normalizePhone(pedido?.telefoneConsumidor),\n    normalizePhone(pedido?.cliente?.telefoneCelular),\n    normalizePhone(pedido?.enderecoEntrega?.telefone),\n  ]);\n  const emails = dedup([\n    ...splitEmails(pedido?.cliente?.email || \"\"),\n    ...splitEmails(pedido?.cliente?.emailNfe || \"\"),\n    ...splitEmails(pedido?.emailConsumidor || \"\"),\n  ].map(limparEmail));\n\n  return { telefone: fones[0] || null, email: emails[0] || null };\n}\n\nfunction extrairPedidos(pages) {\n  const out = [];\n  for (const pagina of pages || []) {\n    for (const pedido of (pagina?.content || [])) {\n      const { telefone, email } = extrairContatoSimples(pedido);\n      const nomeCliente = limparTexto(\n        pedido?.nomeConsumidorOuCliente ||\n        pedido?.cliente?.nome ||\n        pedido?.nomeConsumidor ||\n        pedido?.cliente?.fantasiaSobrenome ||\n        \"CONSUMIDOR\"\n      );\n      \n      // *** ADICIONADO: Captura do código do cliente ***\n      const codigoCliente = pedido?.cliente?.codigoCliente || null;\n      \n      const vendedor = limparTexto(pedido?.nomeVendedor || \"\");\n      const codigoVendedor = pedido?.codigoVendedor || null;\n      const enderecoCliente = montarEnderecoCliente(pedido);\n\n      const dataPedido =\n        normalizaData(pedido?.dataUltimaAlteracao) ||\n        normalizaData(pedido?.dataEntrega) ||\n        normalizaData(pedido?.dataEntrada) ||\n        normalizaData(pedido?.dataPrevisaoEntrega) ||\n        normalizaData(pedido?.dataOrigem) ||\n        null;\n\n      for (const item of (pedido?.itens || [])) {\n        const produto = limparTexto(item?.descricaoCompleta || item?.descricaoProduto || \"\");\n        const quantidade = toNumber(item?.quantidade) ?? 1;\n        const preco = toNumber(item?.totalItem) ?? 0;\n\n        const dataItem =\n          normalizaData(item?.dataFaturamento) ||\n          normalizaData(item?.dataEntrada) ||\n          dataPedido;\n\n        out.push({\n          numeroDocumento: String(pedido?.numeroDocumento || \"\"),\n          codigoCliente, // *** ADICIONADO aqui ***\n          nomeCliente,\n          enderecoCliente,\n          vendedor,\n          codigoVendedor,\n          produto,\n          quantidade,\n          preco,\n          data: dataItem,\n          telefone,\n          email,\n          codigoAtividade: pedido?.cliente?.codigoAtividade || null,\n          nomeVendedor: vendedor || null\n        });\n      }\n    }\n  }\n  return out;\n}\n\n// -------- entrada e retorno --------\nlet payload = items[0]?.json;\nif (payload && payload.body) payload = payload.body;\nif (payload && payload.data) payload = payload.data;\n\nconst pages = Array.isArray(payload) ? payload : [payload];\nconst rows = extrairPedidos(pages);\n\nreturn rows && rows.length ? rows.map(r => ({ json: r })) : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,768],"id":"7096483a-bb5f-476e-a764-663679aeba77","name":"Clean Data1"},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: rows do Code7\n// Saída: objeto agrupado por pedido com produtos e total\nconst pedidos = {};\nfor (const item of items) {\n  const doc = item.json.numeroDocumento;\n  if (!doc) continue;\n  if (!pedidos[doc]) {\n    pedidos[doc] = {\n      numeroDocumento: doc,\n      codigoCliente: item.json.codigoCliente, // *** ADICIONADO ***\n      nomeCliente: item.json.nomeCliente,\n      enderecoCliente: item.json.enderecoCliente,\n      vendedor: item.json.vendedor,\n      codigoVendedor: item.json.codigoVendedor,\n      nomeVendedor: item.json.nomeVendedor,\n      numeroLoja: \"191\",\n      telefone: item.json.telefone,\n      email: item.json.email,\n      data: item.json.data,\n      codigoAtividade: item.json.codigoAtividade,\n      produtos: [],\n      totalPedido: 0\n    };\n  }\n  pedidos[doc].produtos.push({\n    produto: item.json.produto,\n    quantidade: item.json.quantidade,\n    preco: item.json.preco\n  });\n  pedidos[doc].totalPedido += item.json.preco;\n}\n// saída formatada\nreturn Object.values(pedidos).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,768],"id":"0191f086-c7e9-405d-9368-9c548ceacc7e","name":"Group Orders1"},{"parameters":{"jsCode":"// Função para validar o telefone\nfunction telefoneValido(fone) {\n  if (!fone) return false;\n\n  const digits = String(fone).replace(/\\D/g, \"\");\n\n  // deve ter 10 ou 11 dígitos\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n\n  // ignora se todos os dígitos forem iguais (ex: 1111111111)\n  if (/^(\\d)\\1+$/.test(digits)) return false;\n\n  // ignora se número principal (sem DDD) for só de 9s (ex: 99999999 ou 999999999)\n  const numeroPrincipal = digits.length === 11 ? digits.slice(2) : digits.slice(2);\n  if (/^9{8,9}$/.test(numeroPrincipal)) return false;\n\n  return true;\n}\n\n// Mapeamento de código do vendedor → telefone\nconst mapaVendedores = {\n  \"037\": \"11992650708\", // Gustavo\n  \"038\": \"11915812726\", // Lucas\n  \"036\": \"11915812726\" // Robson\n};\n\nconst out = [];\n\nfor (const item of items) {\n  const p = item.json;\n\n  // filtro 1: ignora CONSUMIDOR\n  if (!p.nomeCliente || p.nomeCliente.toUpperCase() === \"CONSUMIDOR\") continue;\n\n  // filtro 2: ignora telefone inválido\n  if (!telefoneValido(p.telefone)) continue;\n\n  // adiciona telefone do vendedor, se houver\n  p.telefoneVendedor = mapaVendedores[p.codigoVendedor] || null;\n\n  // adiciona ao output\n  out.push({ json: p });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,544],"id":"ec6e4d8e-882f-48c8-8c1d-e72576f16bfc","name":"Filter Orders1"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".pedidos_consolidados\n(empresa_id, loja_id, codigo_loja, numero_documento, codigo_cliente, nome_cliente, endereco_cliente, vendedor, codigo_vendedor, telefone_vendedor, telefone, email, data, codigo_atividade, total_pedido, produtos)\nVALUES\n(\n  '6bfc72af-fb8b-4f8a-b83c-52fb52c362a9',\n  '25d8aa28-6da7-4af8-8325-a612624c78bb',\n  '191',\n  '{{.numeroDocumento}}',\n  '{{.codigoCliente}}',\n  '{{.nomeCliente.replace(/'/g, \"''\")}}',\n  '{{.enderecoCliente.replace(/['’]/g, \"''\")}}',\n  '{{.vendedor.replace(/'/g, \"''\")}}',\n  '{{.codigoVendedor}}',\n  '{{.telefoneVendedor}}',\n  '{{.telefone}}',\n  '{{.email}}',\n  '{{.data}}',\n  '{{.codigoAtividade}}',\n  {{.totalPedido}},\n  $${{JSON.stringify(.produtos)}}$$::jsonb\n)\nON CONFLICT (empresa_id, numero_documento, codigo_loja) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,544],"id":"35b7f90e-5367-4881-8ef7-dc7e6def0aef","name":"Save DB1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: itens contendo pedidos como você já tem usado\n// Saída: analise SOMENTE do dia anterior (America/Sao_Paulo)\n// Se \"ontem\" não existir nos dados, usa a data mais recente disponível\n\nfunction to2(n) { return Math.round((n + Number.EPSILON) * 100) / 100; }\n\nfunction ensureArrayFromItems(items) {\n  if (!items?.length) return [];\n  const j0 = items[0].json;\n  if (Array.isArray(j0)) return j0; // primeiro item é o array completo\n  return items.map(i => i.json);    // caso comum: um pedido por item\n}\n\nfunction totalPedido(p) {\n  return to2((p.produtos || []).reduce((acc, it) => acc + Number(it.preco || 0), 0));\n}\n\nfunction qtdItens(p) {\n  return (p.produtos || []).reduce((acc, it) => acc + Number(it.quantidade || 0), 0);\n}\n\nfunction acum(map, key, valor) {\n  if (!map[key]) map[key] = 0;\n  map[key] += valor;\n}\n\nfunction topN(dict, n, by = 'valor') {\n  const arr = Object.entries(dict).map(([k, v]) => {\n    if (typeof v === 'number') return { nome: k, valor: v };\n    return { nome: k, valor: v.valor ?? 0, qtd: v.qtd ?? 0 };\n  });\n  arr.sort((a, b) => (b[by] ?? 0) - (a[by] ?? 0));\n  return arr.slice(0, n).map(x => ({ ...x, valor: to2(x.valor) }));\n}\n\nfunction ymdInTZ(date) {\n  // retorna YYYY-MM-DD em America/Sao_Paulo\n  const s = date.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }); // dd/mm/aaaa\n  const [dd, mm, yyyy] = s.split('/');\n  return `${yyyy}-${mm.padStart(2,'0')}-${dd.padStart(2,'0')}`;\n}\n\nconst pedidosRaw = ensureArrayFromItems(items);\n\n// normaliza pedidos\nconst pedidosOut = pedidosRaw.map(p => ({\n  numeroDocumento: p.numeroDocumento,\n  data: p.data, // já está em YYYY-MM-DD\n  vendedor: p.vendedor || null,\n  nomeCliente: p.nomeCliente,\n  telefone: p.telefone || null,\n  email: p.email || null,\n  enderecoCliente: p.enderecoCliente || null,\n  qtdProdutos: p.produtos?.length || 0,\n  qtdItens: qtdItens(p),\n  totalPedido: totalPedido(p),\n  produtos: p.produtos || []\n}));\n\n// Captura o número da loja (assumindo que todos os pedidos são da mesma loja)\nconst numeroLoja = pedidosRaw[0]?.numeroLoja || null;\n\n// determina \"ontem\" em São Paulo\nconst hojeSP = new Date();\nconst ontemSP = new Date(hojeSP.getTime() - 24*60*60*1000);\nconst dataOntem = ymdInTZ(ontemSP);\n\n// define data alvo\nconst datasDisponiveis = [...new Set(pedidosOut.map(p => p.data))].filter(Boolean).sort();\nlet dataAlvo = dataOntem;\nlet usouDataMaisRecente = false;\n\nlet pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n\n// se não há pedidos no \"ontem\", usa a última data disponível\nif (pedidosDia.length === 0 && datasDisponiveis.length > 0) {\n  dataAlvo = datasDisponiveis[datasDisponiveis.length - 1];\n  pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n  usouDataMaisRecente = true;\n}\n\n// métricas do dia\nconst faturamentoTotal = to2(pedidosDia.reduce((a, p) => a + p.totalPedido, 0));\nconst totalPedidos = pedidosDia.length;\nconst totalItens = pedidosDia.reduce((a, p) => a + p.qtdItens, 0);\nconst clientesUnicos = new Set(pedidosDia.map(p => p.nomeCliente || 'SEM NOME')).size;\nconst ticketMedio = totalPedidos ? to2(faturamentoTotal / totalPedidos) : 0;\n\n// por vendedor (dia)\nconst porVendValor = {};\nconst porVendQtd = {};\nfor (const p of pedidosDia) {\n  const vend = p.vendedor || 'SEM VENDEDOR';\n  acum(porVendValor, vend, p.totalPedido);\n  acum(porVendQtd, vend, 1);\n}\nconst porVendedor = Object.keys(porVendValor).map(v => ({\n  vendedor: v,\n  pedidos: porVendQtd[v] || 0,\n  total: to2(porVendValor[v] || 0),\n  ticketMedio: porVendQtd[v] ? to2(porVendValor[v] / porVendQtd[v]) : 0\n})).sort((a, b) => b.total - a.total);\n\n// por dia — só a data analisada\nconst porDia = [{ data: dataAlvo, total: faturamentoTotal }];\n\n// top clientes do dia\nconst clientesDict = {};\nfor (const p of pedidosDia) acum(clientesDict, p.nomeCliente || 'SEM NOME', p.totalPedido);\nconst topClientes = topN(clientesDict, 10, 'valor');\n\n// top produtos do dia\nconst prodDict = {};\nfor (const p of pedidosDia) {\n  for (const it of (p.produtos || [])) {\n    const nome = it.produto || 'SEM PRODUTO';\n    if (!prodDict[nome]) prodDict[nome] = { qtd: 0, valor: 0 };\n    prodDict[nome].qtd += Number(it.quantidade || 0);\n    prodDict[nome].valor += Number(it.preco || 0);\n  }\n}\nconst topProdutosQtd = topN(prodDict, 10, 'qtd');\nconst topProdutosValor = topN(prodDict, 10, 'valor');\n\n// pedidos atípicos no dia: > 2 x ticket médio do dia\nconst pedidosAtipicos = ticketMedio > 0\n  ? pedidosDia.filter(p => p.totalPedido > 2 * ticketMedio).map(p => p.numeroDocumento)\n  : [];\n\nconst resumo = {\n  numeroLoja,\n  dataAlvo,\n  usouDataMaisRecente,\n  faturamentoTotal,\n  totalPedidos,\n  totalItens,\n  clientesUnicos,\n  ticketMedio,\n  pedidosAtipicos\n};\n\nreturn [\n  {\n    json: {\n      analise: {\n        resumo,\n        porVendedor,\n        porDia,\n        topClientes,\n        topProdutosQtd,\n        topProdutosValor,\n        pedidos: pedidosDia\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,768],"id":"38e70702-2e2d-4880-b009-8dc51730c35a","name":"Analyze Day1"},{"parameters":{"promptType":"define","text":"={{ $json.analise }}","messages":{"messageValues":[{"message":"=Você é um analista de vendas. Sua saída é um relatório diário curto (até 1.200 caracteres), pronto para WhatsApp. Use apenas texto simples, títulos em negrito com *asteriscos* e bullets normais (-). Não use # nem formatação markdown. Moeda no formato R$ 1.234,56.\n\nDados de entrada: {{ $json.analise }}\n\nRegras:\n1) Identifique a data de ontem em \"porDia\". Se não houver dados de ontem, use a data mais recente e avise no início.  \n2) Considere apenas pedidos cuja data seja a do dia analisado.  \n3) Calcule: faturamento total, nº de pedidos, nº de itens, ticket médio, nº de clientes únicos.  \n\nEstrutura da saída:\n*Resumo diário – DD/MM/AAAA* Loja \"\" \nFaturamento R$ X em Y pedidos, ticket médio R$ Z, N clientes únicos.  \n\n*Vendedores*  \n- Nome: R$ total | pedidos | % participação | ticket médio R$ X  \n\n*Produtos*  \n1 frase sobre mix e concentração.  \n- Produto: qtd un – R$ total  \n(liste até 3, pegando dos tops por valor e por quantidade, sem repetir)  \n\n*Clientes*  \n1 frase com os clientes mais relevantes do dia (até 2 ou 3 nomes).  \n\n*Conclusão*  \n1 frase curta interpretando o desempenho geral (ex: concentração em vendedores, dependência de produtos, ou oportunidade).\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[160,768],"id":"96080590-3d6e-4716-b249-721ae6a79129","name":"Format Report1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[48,928],"id":"5ccaa5d3-96f5-4b9c-9382-c984ebedeae3","name":"LLM Model1","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"content":"# VILA ANDRADE\n\n","height":1056,"width":1680,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-928,1424],"typeVersion":1,"id":"1f6a7dc8-f7aa-4a44-83eb-400f73a5be02","name":"Sticky Note8"},{"parameters":{"url":"http://159.112.189.1:25049/consultapedidovenda","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"132"},{"name":"data-hora","value":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}"},{"name":"ja-faturado","value":"true"},{"name":"size","value":"500"},{"name":"especieDocumento","value":"PD"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,1952],"id":"f3c81263-2e12-403d-8ed9-c224ff8ef268","name":"Get API 2","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: items[0].json com o JSON da API\n// Saída: array de { json: {...} }\n\nfunction limparTexto(s) {\n  return String(s || \"\").replace(/\\s+/g, \" \").replace(/[;]+$/g, \"\").trim();\n}\nfunction splitEmails(s) {\n  if (!s) return [];\n  return String(s).split(/[;,]/).map(x => x.trim()).filter(Boolean);\n}\nfunction limparEmail(s) {\n  const e = String(s || \"\").trim().replace(/[;]+$/g, \"\");\n  if (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e)) return \"\";\n  return e.toLowerCase();\n}\nfunction normalizePhone(s) {\n  if (!s) return \"\";\n  const digits = String(s).replace(/\\D/g, \"\");\n  if (digits.length === 10 || digits.length === 11) return digits;\n  if (digits.length === 12 || digits.length === 13) {\n    const semDDI = digits.replace(/^55/, \"\");\n    if (semDDI.length === 10 || semDDI.length === 11) return semDDI;\n  }\n  return \"\";\n}\nfunction dedup(arr) { return Array.from(new Set(arr.filter(Boolean))); }\nfunction normalizaData(s) {\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  const n = Number(s);\n  if (Number.isFinite(n)) {\n    const d = new Date(n);\n    if (!isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  return null;\n}\nfunction toNumber(v) { const n = Number(v); return Number.isFinite(n) ? n : null; }\n\nfunction formataCEP(s) {\n  const d = String(s || \"\").replace(/\\D/g, \"\");\n  if (d.length === 8) return d.slice(0,5) + \"-\" + d.slice(5);\n  return d || null;\n}\n\nfunction montarEnderecoCliente(pedido) {\n  const c = pedido?.cliente;\n  if (c) {\n    const cidadeUF = c?.cidade ? [c.cidade.nomeCidade, c.cidade.siglaEstado].filter(Boolean).join(\" \") : \"\";\n    const partes = [\n      limparTexto([c.endereco, c.numero].filter(Boolean).join(\", \")),\n      limparTexto(c.complemento),\n      limparTexto(c.bairro),\n      limparTexto(cidadeUF),\n      formataCEP(c.cep),\n    ].filter(Boolean);\n    const joined = partes.join(\", \").replace(/\\s+,/g, \",\").trim();\n    if (joined) return joined;\n  }\n  return null;\n}\n\nfunction extrairContatoSimples(pedido) {\n  const fones = dedup([\n    normalizePhone(pedido?.cliente?.telefone1),\n    normalizePhone(pedido?.cliente?.telefone2),\n    normalizePhone(pedido?.telefoneConsumidor),\n    normalizePhone(pedido?.cliente?.telefoneCelular),\n    normalizePhone(pedido?.enderecoEntrega?.telefone),\n  ]);\n  const emails = dedup([\n    ...splitEmails(pedido?.cliente?.email || \"\"),\n    ...splitEmails(pedido?.cliente?.emailNfe || \"\"),\n    ...splitEmails(pedido?.emailConsumidor || \"\"),\n  ].map(limparEmail));\n\n  return { telefone: fones[0] || null, email: emails[0] || null };\n}\n\nfunction extrairPedidos(pages) {\n  const out = [];\n  for (const pagina of pages || []) {\n    for (const pedido of (pagina?.content || [])) {\n      const { telefone, email } = extrairContatoSimples(pedido);\n      const nomeCliente = limparTexto(\n        pedido?.nomeConsumidorOuCliente ||\n        pedido?.cliente?.nome ||\n        pedido?.nomeConsumidor ||\n        pedido?.cliente?.fantasiaSobrenome ||\n        \"CONSUMIDOR\"\n      );\n      \n      // *** ADICIONADO: Captura do código do cliente ***\n      const codigoCliente = pedido?.cliente?.codigoCliente || null;\n      \n      const vendedor = limparTexto(pedido?.nomeVendedor || \"\");\n      const codigoVendedor = pedido?.codigoVendedor || null;\n      const enderecoCliente = montarEnderecoCliente(pedido);\n\n      const dataPedido =\n        normalizaData(pedido?.dataUltimaAlteracao) ||\n        normalizaData(pedido?.dataEntrega) ||\n        normalizaData(pedido?.dataEntrada) ||\n        normalizaData(pedido?.dataPrevisaoEntrega) ||\n        normalizaData(pedido?.dataOrigem) ||\n        null;\n\n      for (const item of (pedido?.itens || [])) {\n        const produto = limparTexto(item?.descricaoCompleta || item?.descricaoProduto || \"\");\n        const quantidade = toNumber(item?.quantidade) ?? 1;\n        const preco = toNumber(item?.totalItem) ?? 0;\n\n        const dataItem =\n          normalizaData(item?.dataFaturamento) ||\n          normalizaData(item?.dataEntrada) ||\n          dataPedido;\n\n        out.push({\n          numeroDocumento: String(pedido?.numeroDocumento || \"\"),\n          codigoCliente, // *** ADICIONADO aqui ***\n          nomeCliente,\n          enderecoCliente,\n          vendedor,\n          codigoVendedor,\n          produto,\n          quantidade,\n          preco,\n          data: dataItem,\n          telefone,\n          email,\n          codigoAtividade: pedido?.cliente?.codigoAtividade || null,\n          nomeVendedor: vendedor || null\n        });\n      }\n    }\n  }\n  return out;\n}\n\n// -------- entrada e retorno --------\nlet payload = items[0]?.json;\nif (payload && payload.body) payload = payload.body;\nif (payload && payload.data) payload = payload.data;\n\nconst pages = Array.isArray(payload) ? payload : [payload];\nconst rows = extrairPedidos(pages);\n\nreturn rows && rows.length ? rows.map(r => ({ json: r })) : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,1952],"id":"8a9b63c8-f2d2-47a3-9302-280111aad266","name":"Clean Data2"},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: rows do Code7\n// Saída: objeto agrupado por pedido com produtos e total\nconst pedidos = {};\nfor (const item of items) {\n  const doc = item.json.numeroDocumento;\n  if (!doc) continue;\n  if (!pedidos[doc]) {\n    pedidos[doc] = {\n      numeroDocumento: doc,\n      codigoCliente: item.json.codigoCliente, // *** ADICIONADO ***\n      nomeCliente: item.json.nomeCliente,\n      enderecoCliente: item.json.enderecoCliente,\n      vendedor: item.json.vendedor,\n      codigoVendedor: item.json.codigoVendedor,\n      nomeVendedor: item.json.nomeVendedor,\n      numeroLoja: \"132\",\n      telefone: item.json.telefone,\n      email: item.json.email,\n      data: item.json.data,\n      codigoAtividade: item.json.codigoAtividade,\n      produtos: [],\n      totalPedido: 0\n    };\n  }\n  pedidos[doc].produtos.push({\n    produto: item.json.produto,\n    quantidade: item.json.quantidade,\n    preco: item.json.preco\n  });\n  pedidos[doc].totalPedido += item.json.preco;\n}\n// saída formatada\nreturn Object.values(pedidos).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,1952],"id":"a657751f-560a-4545-8099-ca6df7861c5a","name":"Group Orders2"},{"parameters":{"jsCode":"// Função para validar o telefone\nfunction telefoneValido(fone) {\n  if (!fone) return false;\n\n  const digits = String(fone).replace(/\\D/g, \"\");\n\n  // deve ter 10 ou 11 dígitos\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n\n  // ignora se todos os dígitos forem iguais (ex: 1111111111)\n  if (/^(\\d)\\1+$/.test(digits)) return false;\n\n  // ignora se número principal (sem DDD) for só de 9s (ex: 99999999 ou 999999999)\n  const numeroPrincipal = digits.length === 11 ? digits.slice(2) : digits.slice(2);\n  if (/^9{8,9}$/.test(numeroPrincipal)) return false;\n\n  return true;\n}\n\n// Mapeamento de código do vendedor → telefone\nconst mapaVendedores = {\n  \"034\": \"11976410113\", // GUILHERME SANTOS\n  \"023\": \"11992342440\", // FLAVIO REIS\n  \"006\": \"11992886481\" // FABIO SANTOS DE OLIVEIRA\n};\n\nconst out = [];\n\nfor (const item of items) {\n  const p = item.json;\n\n  // filtro 1: ignora CONSUMIDOR\n  if (!p.nomeCliente || p.nomeCliente.toUpperCase() === \"CONSUMIDOR\") continue;\n\n  // filtro 2: ignora telefone inválido\n  if (!telefoneValido(p.telefone)) continue;\n\n  // adiciona telefone do vendedor, se houver\n  p.telefoneVendedor = mapaVendedores[p.codigoVendedor] || null;\n\n  // adiciona ao output\n  out.push({ json: p });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,1728],"id":"893b5998-43bc-4c48-9836-38da82e9234b","name":"Filter Orders2"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".pedidos_consolidados\n(empresa_id, loja_id, codigo_loja, numero_documento, codigo_cliente, nome_cliente, endereco_cliente, vendedor, codigo_vendedor, telefone_vendedor, telefone, email, data, codigo_atividade, total_pedido, produtos)\nVALUES\n(\n  '6bfc72af-fb8b-4f8a-b83c-52fb52c362a9',\n  '0699e4d8-b66d-4d26-88d7-4a1637953f8a',\n  '132',\n  '{{.numeroDocumento}}',\n  '{{.codigoCliente}}',\n  '{{.nomeCliente.replace(/'/g, \"''\")}}',\n  '{{.enderecoCliente.replace(/['’]/g, \"''\")}}',\n  '{{.vendedor.replace(/'/g, \"''\")}}',\n  '{{.codigoVendedor}}',\n  '{{.telefoneVendedor}}',\n  '{{.telefone}}',\n  '{{.email}}',\n  '{{.data}}',\n  '{{.codigoAtividade}}',\n  {{.totalPedido}},\n  $${{JSON.stringify(.produtos)}}$$::jsonb\n)\nON CONFLICT (empresa_id, numero_documento, codigo_loja) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,1728],"id":"2e357a0f-ae5f-4217-8034-f8b36d6e9415","name":"Save DB2","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: itens contendo pedidos como você já tem usado\n// Saída: analise SOMENTE do dia anterior (America/Sao_Paulo)\n// Se \"ontem\" não existir nos dados, usa a data mais recente disponível\n\nfunction to2(n) { return Math.round((n + Number.EPSILON) * 100) / 100; }\n\nfunction ensureArrayFromItems(items) {\n  if (!items?.length) return [];\n  const j0 = items[0].json;\n  if (Array.isArray(j0)) return j0; // primeiro item é o array completo\n  return items.map(i => i.json);    // caso comum: um pedido por item\n}\n\nfunction totalPedido(p) {\n  return to2((p.produtos || []).reduce((acc, it) => acc + Number(it.preco || 0), 0));\n}\n\nfunction qtdItens(p) {\n  return (p.produtos || []).reduce((acc, it) => acc + Number(it.quantidade || 0), 0);\n}\n\nfunction acum(map, key, valor) {\n  if (!map[key]) map[key] = 0;\n  map[key] += valor;\n}\n\nfunction topN(dict, n, by = 'valor') {\n  const arr = Object.entries(dict).map(([k, v]) => {\n    if (typeof v === 'number') return { nome: k, valor: v };\n    return { nome: k, valor: v.valor ?? 0, qtd: v.qtd ?? 0 };\n  });\n  arr.sort((a, b) => (b[by] ?? 0) - (a[by] ?? 0));\n  return arr.slice(0, n).map(x => ({ ...x, valor: to2(x.valor) }));\n}\n\nfunction ymdInTZ(date) {\n  // retorna YYYY-MM-DD em America/Sao_Paulo\n  const s = date.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }); // dd/mm/aaaa\n  const [dd, mm, yyyy] = s.split('/');\n  return `${yyyy}-${mm.padStart(2,'0')}-${dd.padStart(2,'0')}`;\n}\n\nconst pedidosRaw = ensureArrayFromItems(items);\n\n// normaliza pedidos\nconst pedidosOut = pedidosRaw.map(p => ({\n  numeroDocumento: p.numeroDocumento,\n  data: p.data, // já está em YYYY-MM-DD\n  vendedor: p.vendedor || null,\n  nomeCliente: p.nomeCliente,\n  telefone: p.telefone || null,\n  email: p.email || null,\n  enderecoCliente: p.enderecoCliente || null,\n  qtdProdutos: p.produtos?.length || 0,\n  qtdItens: qtdItens(p),\n  totalPedido: totalPedido(p),\n  produtos: p.produtos || []\n}));\n\n// Captura o número da loja (assumindo que todos os pedidos são da mesma loja)\nconst numeroLoja = pedidosRaw[0]?.numeroLoja || null;\n\n// determina \"ontem\" em São Paulo\nconst hojeSP = new Date();\nconst ontemSP = new Date(hojeSP.getTime() - 24*60*60*1000);\nconst dataOntem = ymdInTZ(ontemSP);\n\n// define data alvo\nconst datasDisponiveis = [...new Set(pedidosOut.map(p => p.data))].filter(Boolean).sort();\nlet dataAlvo = dataOntem;\nlet usouDataMaisRecente = false;\n\nlet pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n\n// se não há pedidos no \"ontem\", usa a última data disponível\nif (pedidosDia.length === 0 && datasDisponiveis.length > 0) {\n  dataAlvo = datasDisponiveis[datasDisponiveis.length - 1];\n  pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n  usouDataMaisRecente = true;\n}\n\n// métricas do dia\nconst faturamentoTotal = to2(pedidosDia.reduce((a, p) => a + p.totalPedido, 0));\nconst totalPedidos = pedidosDia.length;\nconst totalItens = pedidosDia.reduce((a, p) => a + p.qtdItens, 0);\nconst clientesUnicos = new Set(pedidosDia.map(p => p.nomeCliente || 'SEM NOME')).size;\nconst ticketMedio = totalPedidos ? to2(faturamentoTotal / totalPedidos) : 0;\n\n// por vendedor (dia)\nconst porVendValor = {};\nconst porVendQtd = {};\nfor (const p of pedidosDia) {\n  const vend = p.vendedor || 'SEM VENDEDOR';\n  acum(porVendValor, vend, p.totalPedido);\n  acum(porVendQtd, vend, 1);\n}\nconst porVendedor = Object.keys(porVendValor).map(v => ({\n  vendedor: v,\n  pedidos: porVendQtd[v] || 0,\n  total: to2(porVendValor[v] || 0),\n  ticketMedio: porVendQtd[v] ? to2(porVendValor[v] / porVendQtd[v]) : 0\n})).sort((a, b) => b.total - a.total);\n\n// por dia — só a data analisada\nconst porDia = [{ data: dataAlvo, total: faturamentoTotal }];\n\n// top clientes do dia\nconst clientesDict = {};\nfor (const p of pedidosDia) acum(clientesDict, p.nomeCliente || 'SEM NOME', p.totalPedido);\nconst topClientes = topN(clientesDict, 10, 'valor');\n\n// top produtos do dia\nconst prodDict = {};\nfor (const p of pedidosDia) {\n  for (const it of (p.produtos || [])) {\n    const nome = it.produto || 'SEM PRODUTO';\n    if (!prodDict[nome]) prodDict[nome] = { qtd: 0, valor: 0 };\n    prodDict[nome].qtd += Number(it.quantidade || 0);\n    prodDict[nome].valor += Number(it.preco || 0);\n  }\n}\nconst topProdutosQtd = topN(prodDict, 10, 'qtd');\nconst topProdutosValor = topN(prodDict, 10, 'valor');\n\n// pedidos atípicos no dia: > 2 x ticket médio do dia\nconst pedidosAtipicos = ticketMedio > 0\n  ? pedidosDia.filter(p => p.totalPedido > 2 * ticketMedio).map(p => p.numeroDocumento)\n  : [];\n\nconst resumo = {\n  numeroLoja,\n  dataAlvo,\n  usouDataMaisRecente,\n  faturamentoTotal,\n  totalPedidos,\n  totalItens,\n  clientesUnicos,\n  ticketMedio,\n  pedidosAtipicos\n};\n\nreturn [\n  {\n    json: {\n      analise: {\n        resumo,\n        porVendedor,\n        porDia,\n        topClientes,\n        topProdutosQtd,\n        topProdutosValor,\n        pedidos: pedidosDia\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,1952],"id":"9138171b-de2b-4436-af40-336a927a4659","name":"Analyze Day2"},{"parameters":{"promptType":"define","text":"={{ $json.analise }}","messages":{"messageValues":[{"message":"=Você é um analista de vendas. Sua saída é um relatório diário curto (até 1.200 caracteres), pronto para WhatsApp. Use apenas texto simples, títulos em negrito com *asteriscos* e bullets normais (-). Não use # nem formatação markdown. Moeda no formato R$ 1.234,56.\n\nDados de entrada: {{ $json.analise }}\n\nRegras:\n1) Identifique a data de ontem em \"porDia\". Se não houver dados de ontem, use a data mais recente e avise no início.  \n2) Considere apenas pedidos cuja data seja a do dia analisado.  \n3) Calcule: faturamento total, nº de pedidos, nº de itens, ticket médio, nº de clientes únicos.  \n\nEstrutura da saída:\n*Resumo diário – DD/MM/AAAA* Loja \"\" \nFaturamento R$ X em Y pedidos, ticket médio R$ Z, N clientes únicos.  \n\n*Vendedores*  \n- Nome: R$ total | pedidos | % participação | ticket médio R$ X  \n\n*Produtos*  \n1 frase sobre mix e concentração.  \n- Produto: qtd un – R$ total  \n(liste até 3, pegando dos tops por valor e por quantidade, sem repetir)  \n\n*Clientes*  \n1 frase com os clientes mais relevantes do dia (até 2 ou 3 nomes).  \n\n*Conclusão*  \n1 frase curta interpretando o desempenho geral (ex: concentração em vendedores, dependência de produtos, ou oportunidade).\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[208,1952],"id":"5abb1022-3a5d-4620-910b-acd453207f4e","name":"Format Report2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[96,2112],"id":"c41c7b2e-f708-4135-a2f7-9c31cc1d4cb5","name":"LLM Model2","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"url":"http://159.112.189.1:25049/consultapedidovenda","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"131"},{"name":"data-hora","value":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}"},{"name":"ja-faturado","value":"true"},{"name":"size","value":"500"},{"name":"especieDocumento","value":"PD"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,3184],"id":"83ca0bc6-6056-4c15-944d-1f69e1cb9b30","name":"Get API 3","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: items[0].json com o JSON da API\n// Saída: array de { json: {...} }\n\nfunction limparTexto(s) {\n  return String(s || \"\").replace(/\\s+/g, \" \").replace(/[;]+$/g, \"\").trim();\n}\nfunction splitEmails(s) {\n  if (!s) return [];\n  return String(s).split(/[;,]/).map(x => x.trim()).filter(Boolean);\n}\nfunction limparEmail(s) {\n  const e = String(s || \"\").trim().replace(/[;]+$/g, \"\");\n  if (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e)) return \"\";\n  return e.toLowerCase();\n}\nfunction normalizePhone(s) {\n  if (!s) return \"\";\n  const digits = String(s).replace(/\\D/g, \"\");\n  if (digits.length === 10 || digits.length === 11) return digits;\n  if (digits.length === 12 || digits.length === 13) {\n    const semDDI = digits.replace(/^55/, \"\");\n    if (semDDI.length === 10 || semDDI.length === 11) return semDDI;\n  }\n  return \"\";\n}\nfunction dedup(arr) { return Array.from(new Set(arr.filter(Boolean))); }\nfunction normalizaData(s) {\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  const n = Number(s);\n  if (Number.isFinite(n)) {\n    const d = new Date(n);\n    if (!isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  return null;\n}\nfunction toNumber(v) { const n = Number(v); return Number.isFinite(n) ? n : null; }\n\nfunction formataCEP(s) {\n  const d = String(s || \"\").replace(/\\D/g, \"\");\n  if (d.length === 8) return d.slice(0,5) + \"-\" + d.slice(5);\n  return d || null;\n}\n\nfunction montarEnderecoCliente(pedido) {\n  const c = pedido?.cliente;\n  if (c) {\n    const cidadeUF = c?.cidade ? [c.cidade.nomeCidade, c.cidade.siglaEstado].filter(Boolean).join(\" \") : \"\";\n    const partes = [\n      limparTexto([c.endereco, c.numero].filter(Boolean).join(\", \")),\n      limparTexto(c.complemento),\n      limparTexto(c.bairro),\n      limparTexto(cidadeUF),\n      formataCEP(c.cep),\n    ].filter(Boolean);\n    const joined = partes.join(\", \").replace(/\\s+,/g, \",\").trim();\n    if (joined) return joined;\n  }\n  return null;\n}\n\nfunction extrairContatoSimples(pedido) {\n  const fones = dedup([\n    normalizePhone(pedido?.cliente?.telefone1),\n    normalizePhone(pedido?.cliente?.telefone2),\n    normalizePhone(pedido?.telefoneConsumidor),\n    normalizePhone(pedido?.cliente?.telefoneCelular),\n    normalizePhone(pedido?.enderecoEntrega?.telefone),\n  ]);\n  const emails = dedup([\n    ...splitEmails(pedido?.cliente?.email || \"\"),\n    ...splitEmails(pedido?.cliente?.emailNfe || \"\"),\n    ...splitEmails(pedido?.emailConsumidor || \"\"),\n  ].map(limparEmail));\n\n  return { telefone: fones[0] || null, email: emails[0] || null };\n}\n\nfunction extrairPedidos(pages) {\n  const out = [];\n  for (const pagina of pages || []) {\n    for (const pedido of (pagina?.content || [])) {\n      const { telefone, email } = extrairContatoSimples(pedido);\n      const nomeCliente = limparTexto(\n        pedido?.nomeConsumidorOuCliente ||\n        pedido?.cliente?.nome ||\n        pedido?.nomeConsumidor ||\n        pedido?.cliente?.fantasiaSobrenome ||\n        \"CONSUMIDOR\"\n      );\n      \n      // *** ADICIONADO: Captura do código do cliente ***\n      const codigoCliente = pedido?.cliente?.codigoCliente || null;\n      \n      const vendedor = limparTexto(pedido?.nomeVendedor || \"\");\n      const codigoVendedor = pedido?.codigoVendedor || null;\n      const enderecoCliente = montarEnderecoCliente(pedido);\n\n      const dataPedido =\n        normalizaData(pedido?.dataUltimaAlteracao) ||\n        normalizaData(pedido?.dataEntrega) ||\n        normalizaData(pedido?.dataEntrada) ||\n        normalizaData(pedido?.dataPrevisaoEntrega) ||\n        normalizaData(pedido?.dataOrigem) ||\n        null;\n\n      for (const item of (pedido?.itens || [])) {\n        const produto = limparTexto(item?.descricaoCompleta || item?.descricaoProduto || \"\");\n        const quantidade = toNumber(item?.quantidade) ?? 1;\n        const preco = toNumber(item?.totalItem) ?? 0;\n\n        const dataItem =\n          normalizaData(item?.dataFaturamento) ||\n          normalizaData(item?.dataEntrada) ||\n          dataPedido;\n\n        out.push({\n          numeroDocumento: String(pedido?.numeroDocumento || \"\"),\n          codigoCliente, // *** ADICIONADO aqui ***\n          nomeCliente,\n          enderecoCliente,\n          vendedor,\n          codigoVendedor,\n          produto,\n          quantidade,\n          preco,\n          data: dataItem,\n          telefone,\n          email,\n          codigoAtividade: pedido?.cliente?.codigoAtividade || null,\n          nomeVendedor: vendedor || null\n        });\n      }\n    }\n  }\n  return out;\n}\n\n// -------- entrada e retorno --------\nlet payload = items[0]?.json;\nif (payload && payload.body) payload = payload.body;\nif (payload && payload.data) payload = payload.data;\n\nconst pages = Array.isArray(payload) ? payload : [payload];\nconst rows = extrairPedidos(pages);\n\nreturn rows && rows.length ? rows.map(r => ({ json: r })) : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,3184],"id":"b2d38e44-4686-45cf-9621-29dea964ce9a","name":"Clean Data3"},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: rows do Code7\n// Saída: objeto agrupado por pedido com produtos e total\nconst pedidos = {};\nfor (const item of items) {\n  const doc = item.json.numeroDocumento;\n  if (!doc) continue;\n  if (!pedidos[doc]) {\n    pedidos[doc] = {\n      numeroDocumento: doc,\n      codigoCliente: item.json.codigoCliente, // *** ADICIONADO ***\n      nomeCliente: item.json.nomeCliente,\n      enderecoCliente: item.json.enderecoCliente,\n      vendedor: item.json.vendedor,\n      codigoVendedor: item.json.codigoVendedor,\n      nomeVendedor: item.json.nomeVendedor,\n      numeroLoja: \"131\",\n      telefone: item.json.telefone,\n      email: item.json.email,\n      data: item.json.data,\n      codigoAtividade: item.json.codigoAtividade,\n      produtos: [],\n      totalPedido: 0\n    };\n  }\n  pedidos[doc].produtos.push({\n    produto: item.json.produto,\n    quantidade: item.json.quantidade,\n    preco: item.json.preco\n  });\n  pedidos[doc].totalPedido += item.json.preco;\n}\n// saída formatada\nreturn Object.values(pedidos).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,3184],"id":"93a52199-73e0-4df7-9484-4342a65139bd","name":"Group Orders3"},{"parameters":{"jsCode":"// Função para validar o telefone\nfunction telefoneValido(fone) {\n  if (!fone) return false;\n\n  const digits = String(fone).replace(/\\D/g, \"\");\n\n  // deve ter 10 ou 11 dígitos\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n\n  // ignora se todos os dígitos forem iguais (ex: 1111111111)\n  if (/^(\\d)\\1+$/.test(digits)) return false;\n\n  // ignora se número principal (sem DDD) for só de 9s (ex: 99999999 ou 999999999)\n  const numeroPrincipal = digits.length === 11 ? digits.slice(2) : digits.slice(2);\n  if (/^9{8,9}$/.test(numeroPrincipal)) return false;\n\n  return true;\n}\n\n// Mapeamento de código do vendedor → telefone\nconst mapaVendedores = {\n  \"018\": \"11976337074\", // DANIEL DE OLIVEIRA PEREIRA\n  \"033\": \"11992875278\", // LUAN VICTOR ROCHA\n  \"028\": \"11913123850\", // ALESSANDRO RODRIGO MAURICIO\n  \"031\": \"11913123827\" // CINTIA\n};\n\n\nconst out = [];\n\nfor (const item of items) {\n  const p = item.json;\n\n  // filtro 1: ignora CONSUMIDOR\n  if (!p.nomeCliente || p.nomeCliente.toUpperCase() === \"CONSUMIDOR\") continue;\n\n  // filtro 2: ignora telefone inválido\n  if (!telefoneValido(p.telefone)) continue;\n\n  // adiciona telefone do vendedor, se houver\n  p.telefoneVendedor = mapaVendedores[p.codigoVendedor] || null;\n\n  // adiciona ao output\n  out.push({ json: p });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,2960],"id":"df430660-23dc-4f8e-a7df-66acb5ce5218","name":"Filter Orders3"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".pedidos_consolidados\n(empresa_id, loja_id, codigo_loja, numero_documento, codigo_cliente, nome_cliente, endereco_cliente, vendedor, codigo_vendedor, telefone_vendedor, telefone, email, data, codigo_atividade, total_pedido, produtos)\nVALUES\n(\n  '6bfc72af-fb8b-4f8a-b83c-52fb52c362a9',\n  'd20cb60a-29d4-4ad6-a6fd-2a92e86d0032',\n  '131',\n  '{{.numeroDocumento}}',\n  '{{.codigoCliente}}',\n  '{{.nomeCliente.replace(/'/g, \"''\")}}',\n  '{{.enderecoCliente.replace(/['’]/g, \"''\")}}',\n  '{{.vendedor.replace(/'/g, \"''\")}}',\n  '{{.codigoVendedor}}',\n  '{{.telefoneVendedor}}',\n  '{{.telefone}}',\n  '{{.email}}',\n  '{{.data}}',\n  '{{.codigoAtividade}}',\n  {{.totalPedido}},\n  $${{JSON.stringify(.produtos)}}$$::jsonb\n)\nON CONFLICT (empresa_id, numero_documento, codigo_loja) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[528,2960],"id":"e5e142e3-852c-4091-88bc-fc2448b7acc0","name":"Save DB3","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: itens contendo pedidos como você já tem usado\n// Saída: analise SOMENTE do dia anterior (America/Sao_Paulo)\n// Se \"ontem\" não existir nos dados, usa a data mais recente disponível\n\nfunction to2(n) { return Math.round((n + Number.EPSILON) * 100) / 100; }\n\nfunction ensureArrayFromItems(items) {\n  if (!items?.length) return [];\n  const j0 = items[0].json;\n  if (Array.isArray(j0)) return j0; // primeiro item é o array completo\n  return items.map(i => i.json);    // caso comum: um pedido por item\n}\n\nfunction totalPedido(p) {\n  return to2((p.produtos || []).reduce((acc, it) => acc + Number(it.preco || 0), 0));\n}\n\nfunction qtdItens(p) {\n  return (p.produtos || []).reduce((acc, it) => acc + Number(it.quantidade || 0), 0);\n}\n\nfunction acum(map, key, valor) {\n  if (!map[key]) map[key] = 0;\n  map[key] += valor;\n}\n\nfunction topN(dict, n, by = 'valor') {\n  const arr = Object.entries(dict).map(([k, v]) => {\n    if (typeof v === 'number') return { nome: k, valor: v };\n    return { nome: k, valor: v.valor ?? 0, qtd: v.qtd ?? 0 };\n  });\n  arr.sort((a, b) => (b[by] ?? 0) - (a[by] ?? 0));\n  return arr.slice(0, n).map(x => ({ ...x, valor: to2(x.valor) }));\n}\n\nfunction ymdInTZ(date) {\n  // retorna YYYY-MM-DD em America/Sao_Paulo\n  const s = date.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }); // dd/mm/aaaa\n  const [dd, mm, yyyy] = s.split('/');\n  return `${yyyy}-${mm.padStart(2,'0')}-${dd.padStart(2,'0')}`;\n}\n\nconst pedidosRaw = ensureArrayFromItems(items);\n\n// normaliza pedidos\nconst pedidosOut = pedidosRaw.map(p => ({\n  numeroDocumento: p.numeroDocumento,\n  data: p.data, // já está em YYYY-MM-DD\n  vendedor: p.vendedor || null,\n  nomeCliente: p.nomeCliente,\n  telefone: p.telefone || null,\n  email: p.email || null,\n  enderecoCliente: p.enderecoCliente || null,\n  qtdProdutos: p.produtos?.length || 0,\n  qtdItens: qtdItens(p),\n  totalPedido: totalPedido(p),\n  produtos: p.produtos || []\n}));\n\n// Captura o número da loja (assumindo que todos os pedidos são da mesma loja)\nconst numeroLoja = pedidosRaw[0]?.numeroLoja || null;\n\n// determina \"ontem\" em São Paulo\nconst hojeSP = new Date();\nconst ontemSP = new Date(hojeSP.getTime() - 24*60*60*1000);\nconst dataOntem = ymdInTZ(ontemSP);\n\n// define data alvo\nconst datasDisponiveis = [...new Set(pedidosOut.map(p => p.data))].filter(Boolean).sort();\nlet dataAlvo = dataOntem;\nlet usouDataMaisRecente = false;\n\nlet pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n\n// se não há pedidos no \"ontem\", usa a última data disponível\nif (pedidosDia.length === 0 && datasDisponiveis.length > 0) {\n  dataAlvo = datasDisponiveis[datasDisponiveis.length - 1];\n  pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n  usouDataMaisRecente = true;\n}\n\n// métricas do dia\nconst faturamentoTotal = to2(pedidosDia.reduce((a, p) => a + p.totalPedido, 0));\nconst totalPedidos = pedidosDia.length;\nconst totalItens = pedidosDia.reduce((a, p) => a + p.qtdItens, 0);\nconst clientesUnicos = new Set(pedidosDia.map(p => p.nomeCliente || 'SEM NOME')).size;\nconst ticketMedio = totalPedidos ? to2(faturamentoTotal / totalPedidos) : 0;\n\n// por vendedor (dia)\nconst porVendValor = {};\nconst porVendQtd = {};\nfor (const p of pedidosDia) {\n  const vend = p.vendedor || 'SEM VENDEDOR';\n  acum(porVendValor, vend, p.totalPedido);\n  acum(porVendQtd, vend, 1);\n}\nconst porVendedor = Object.keys(porVendValor).map(v => ({\n  vendedor: v,\n  pedidos: porVendQtd[v] || 0,\n  total: to2(porVendValor[v] || 0),\n  ticketMedio: porVendQtd[v] ? to2(porVendValor[v] / porVendQtd[v]) : 0\n})).sort((a, b) => b.total - a.total);\n\n// por dia — só a data analisada\nconst porDia = [{ data: dataAlvo, total: faturamentoTotal }];\n\n// top clientes do dia\nconst clientesDict = {};\nfor (const p of pedidosDia) acum(clientesDict, p.nomeCliente || 'SEM NOME', p.totalPedido);\nconst topClientes = topN(clientesDict, 10, 'valor');\n\n// top produtos do dia\nconst prodDict = {};\nfor (const p of pedidosDia) {\n  for (const it of (p.produtos || [])) {\n    const nome = it.produto || 'SEM PRODUTO';\n    if (!prodDict[nome]) prodDict[nome] = { qtd: 0, valor: 0 };\n    prodDict[nome].qtd += Number(it.quantidade || 0);\n    prodDict[nome].valor += Number(it.preco || 0);\n  }\n}\nconst topProdutosQtd = topN(prodDict, 10, 'qtd');\nconst topProdutosValor = topN(prodDict, 10, 'valor');\n\n// pedidos atípicos no dia: > 2 x ticket médio do dia\nconst pedidosAtipicos = ticketMedio > 0\n  ? pedidosDia.filter(p => p.totalPedido > 2 * ticketMedio).map(p => p.numeroDocumento)\n  : [];\n\nconst resumo = {\n  numeroLoja,\n  dataAlvo,\n  usouDataMaisRecente,\n  faturamentoTotal,\n  totalPedidos,\n  totalItens,\n  clientesUnicos,\n  ticketMedio,\n  pedidosAtipicos\n};\n\nreturn [\n  {\n    json: {\n      analise: {\n        resumo,\n        porVendedor,\n        porDia,\n        topClientes,\n        topProdutosQtd,\n        topProdutosValor,\n        pedidos: pedidosDia\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,3184],"id":"28337de0-f20e-41a8-b2e3-79395106d516","name":"Analyze Day3"},{"parameters":{"promptType":"define","text":"={{ $json.analise }}","messages":{"messageValues":[{"message":"=Você é um analista de vendas. Sua saída é um relatório diário curto (até 1.200 caracteres), pronto para WhatsApp. Use apenas texto simples, títulos em negrito com *asteriscos* e bullets normais (-). Não use # nem formatação markdown. Moeda no formato R$ 1.234,56.\n\nDados de entrada: {{ $json.analise }}\n\nRegras:\n1) Identifique a data de ontem em \"porDia\". Se não houver dados de ontem, use a data mais recente e avise no início.  \n2) Considere apenas pedidos cuja data seja a do dia analisado.  \n3) Calcule: faturamento total, nº de pedidos, nº de itens, ticket médio, nº de clientes únicos.  \n\nEstrutura da saída:\n*Resumo diário – DD/MM/AAAA* Loja \"\" \nFaturamento R$ X em Y pedidos, ticket médio R$ Z, N clientes únicos.  \n\n*Vendedores*  \n- Nome: R$ total | pedidos | % participação | ticket médio R$ X  \n\n*Produtos*  \n1 frase sobre mix e concentração.  \n- Produto: qtd un – R$ total  \n(liste até 3, pegando dos tops por valor e por quantidade, sem repetir)  \n\n*Clientes*  \n1 frase com os clientes mais relevantes do dia (até 2 ou 3 nomes).  \n\n*Conclusão*  \n1 frase curta interpretando o desempenho geral (ex: concentração em vendedores, dependência de produtos, ou oportunidade).\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[192,3184],"id":"f0ac91aa-0c83-4f0b-b17e-ac2f2139f2cb","name":"Format Report3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,3344],"id":"a13eca52-0707-4482-9524-3a7befe4231c","name":"LLM Model3","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"content":"# CHACARA SANTO ANTONIO\n\n","height":1056,"width":1680},"type":"n8n-nodes-base.stickyNote","position":[-912,2672],"typeVersion":1,"id":"8114037a-5dbb-4536-a3a5-f80abab0f8b2","name":"Sticky Note"},{"parameters":{"url":"http://159.112.189.1:25049/consultapedidovenda","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"codigoEmpresa","value":"067"},{"name":"data-hora","value":"={{ new Date(Date.now() - 24*60*60*1000).toISOString().slice(0,10) }}"},{"name":"ja-faturado","value":"true"},{"name":"size","value":"500"},{"name":"especieDocumento","value":"PD"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,4400],"id":"3ac4d749-67ac-4a43-b737-8651c574031e","name":"Get API 4","credentials":{"httpBasicAuth":{"id":"nwzPsMWccy17Skrp","name":"TMC"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: items[0].json com o JSON da API\n// Saída: array de { json: {...} }\n\nfunction limparTexto(s) {\n  return String(s || \"\").replace(/\\s+/g, \" \").replace(/[;]+$/g, \"\").trim();\n}\nfunction splitEmails(s) {\n  if (!s) return [];\n  return String(s).split(/[;,]/).map(x => x.trim()).filter(Boolean);\n}\nfunction limparEmail(s) {\n  const e = String(s || \"\").trim().replace(/[;]+$/g, \"\");\n  if (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(e)) return \"\";\n  return e.toLowerCase();\n}\nfunction normalizePhone(s) {\n  if (!s) return \"\";\n  const digits = String(s).replace(/\\D/g, \"\");\n  if (digits.length === 10 || digits.length === 11) return digits;\n  if (digits.length === 12 || digits.length === 13) {\n    const semDDI = digits.replace(/^55/, \"\");\n    if (semDDI.length === 10 || semDDI.length === 11) return semDDI;\n  }\n  return \"\";\n}\nfunction dedup(arr) { return Array.from(new Set(arr.filter(Boolean))); }\nfunction normalizaData(s) {\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  const n = Number(s);\n  if (Number.isFinite(n)) {\n    const d = new Date(n);\n    if (!isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  return null;\n}\nfunction toNumber(v) { const n = Number(v); return Number.isFinite(n) ? n : null; }\n\nfunction formataCEP(s) {\n  const d = String(s || \"\").replace(/\\D/g, \"\");\n  if (d.length === 8) return d.slice(0,5) + \"-\" + d.slice(5);\n  return d || null;\n}\n\nfunction montarEnderecoCliente(pedido) {\n  const c = pedido?.cliente;\n  if (c) {\n    const cidadeUF = c?.cidade ? [c.cidade.nomeCidade, c.cidade.siglaEstado].filter(Boolean).join(\" \") : \"\";\n    const partes = [\n      limparTexto([c.endereco, c.numero].filter(Boolean).join(\", \")),\n      limparTexto(c.complemento),\n      limparTexto(c.bairro),\n      limparTexto(cidadeUF),\n      formataCEP(c.cep),\n    ].filter(Boolean);\n    const joined = partes.join(\", \").replace(/\\s+,/g, \",\").trim();\n    if (joined) return joined;\n  }\n  return null;\n}\n\nfunction extrairContatoSimples(pedido) {\n  const fones = dedup([\n    normalizePhone(pedido?.cliente?.telefone1),\n    normalizePhone(pedido?.cliente?.telefone2),\n    normalizePhone(pedido?.telefoneConsumidor),\n    normalizePhone(pedido?.cliente?.telefoneCelular),\n    normalizePhone(pedido?.enderecoEntrega?.telefone),\n  ]);\n  const emails = dedup([\n    ...splitEmails(pedido?.cliente?.email || \"\"),\n    ...splitEmails(pedido?.cliente?.emailNfe || \"\"),\n    ...splitEmails(pedido?.emailConsumidor || \"\"),\n  ].map(limparEmail));\n\n  return { telefone: fones[0] || null, email: emails[0] || null };\n}\n\nfunction extrairPedidos(pages) {\n  const out = [];\n  for (const pagina of pages || []) {\n    for (const pedido of (pagina?.content || [])) {\n      const { telefone, email } = extrairContatoSimples(pedido);\n      const nomeCliente = limparTexto(\n        pedido?.nomeConsumidorOuCliente ||\n        pedido?.cliente?.nome ||\n        pedido?.nomeConsumidor ||\n        pedido?.cliente?.fantasiaSobrenome ||\n        \"CONSUMIDOR\"\n      );\n      \n      // *** ADICIONADO: Captura do código do cliente ***\n      const codigoCliente = pedido?.cliente?.codigoCliente || null;\n      \n      const vendedor = limparTexto(pedido?.nomeVendedor || \"\");\n      const codigoVendedor = pedido?.codigoVendedor || null;\n      const enderecoCliente = montarEnderecoCliente(pedido);\n\n      const dataPedido =\n        normalizaData(pedido?.dataUltimaAlteracao) ||\n        normalizaData(pedido?.dataEntrega) ||\n        normalizaData(pedido?.dataEntrada) ||\n        normalizaData(pedido?.dataPrevisaoEntrega) ||\n        normalizaData(pedido?.dataOrigem) ||\n        null;\n\n      for (const item of (pedido?.itens || [])) {\n        const produto = limparTexto(item?.descricaoCompleta || item?.descricaoProduto || \"\");\n        const quantidade = toNumber(item?.quantidade) ?? 1;\n        const preco = toNumber(item?.totalItem) ?? 0;\n\n        const dataItem =\n          normalizaData(item?.dataFaturamento) ||\n          normalizaData(item?.dataEntrada) ||\n          dataPedido;\n\n        out.push({\n          numeroDocumento: String(pedido?.numeroDocumento || \"\"),\n          codigoCliente, // *** ADICIONADO aqui ***\n          nomeCliente,\n          enderecoCliente,\n          vendedor,\n          codigoVendedor,\n          produto,\n          quantidade,\n          preco,\n          data: dataItem,\n          telefone,\n          email,\n          codigoAtividade: pedido?.cliente?.codigoAtividade || null,\n          nomeVendedor: vendedor || null\n        });\n      }\n    }\n  }\n  return out;\n}\n\n// -------- entrada e retorno --------\nlet payload = items[0]?.json;\nif (payload && payload.body) payload = payload.body;\nif (payload && payload.data) payload = payload.data;\n\nconst pages = Array.isArray(payload) ? payload : [payload];\nconst rows = extrairPedidos(pages);\n\nreturn rows && rows.length ? rows.map(r => ({ json: r })) : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,4400],"id":"b3232da9-4ea9-46b0-a44d-d5cc9cac55a9","name":"Clean Data4"},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: rows do Code7\n// Saída: objeto agrupado por pedido com produtos e total\nconst pedidos = {};\nfor (const item of items) {\n  const doc = item.json.numeroDocumento;\n  if (!doc) continue;\n  if (!pedidos[doc]) {\n    pedidos[doc] = {\n      numeroDocumento: doc,\n      codigoCliente: item.json.codigoCliente, // *** ADICIONADO ***\n      nomeCliente: item.json.nomeCliente,\n      enderecoCliente: item.json.enderecoCliente,\n      vendedor: item.json.vendedor,\n      codigoVendedor: item.json.codigoVendedor,\n      nomeVendedor: item.json.nomeVendedor,\n      numeroLoja: \"67\",\n      telefone: item.json.telefone,\n      email: item.json.email,\n      data: item.json.data,\n      codigoAtividade: item.json.codigoAtividade,\n      produtos: [],\n      totalPedido: 0\n    };\n  }\n  pedidos[doc].produtos.push({\n    produto: item.json.produto,\n    quantidade: item.json.quantidade,\n    preco: item.json.preco\n  });\n  pedidos[doc].totalPedido += item.json.preco;\n}\n// saída formatada\nreturn Object.values(pedidos).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,4400],"id":"ceb548a6-ac6e-46c2-830d-7d010cf01313","name":"Group Orders4"},{"parameters":{"jsCode":"// Função para validar o telefone\nfunction telefoneValido(fone) {\n  if (!fone) return false;\n\n  const digits = String(fone).replace(/\\D/g, \"\");\n\n  // deve ter 10 ou 11 dígitos\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n\n  // ignora se todos os dígitos forem iguais (ex: 1111111111)\n  if (/^(\\d)\\1+$/.test(digits)) return false;\n\n  // ignora se número principal (sem DDD) for só de 9s (ex: 99999999 ou 999999999)\n  const numeroPrincipal = digits.length === 11 ? digits.slice(2) : digits.slice(2);\n  if (/^9{8,9}$/.test(numeroPrincipal)) return false;\n\n  return true;\n}\n\n// Mapeamento de código do vendedor → telefone\nconst mapaVendedores = {\n  \"035\": \"11953140549\", // RYAN SILVA SANTOS\n  \"016\": \"11973149303\", // EDUARDO CARLOS DA SILVA\n  \"004\": \"11976415611\", // JACQUES WILLIAN SILVA LIMA\n  \"002\": \"11976406945\" // RAFAEL LIMA DOS SANTOS\n};\n\nconst out = [];\n\nfor (const item of items) {\n  const p = item.json;\n\n  // filtro 1: ignora CONSUMIDOR\n  if (!p.nomeCliente || p.nomeCliente.toUpperCase() === \"CONSUMIDOR\") continue;\n\n  // filtro 2: ignora telefone inválido\n  if (!telefoneValido(p.telefone)) continue;\n\n  // adiciona telefone do vendedor, se houver\n  p.telefoneVendedor = mapaVendedores[p.codigoVendedor] || null;\n\n  // adiciona ao output\n  out.push({ json: p });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,4176],"id":"f8457e1e-b53a-40ea-9240-4a05f02de232","name":"Filter Orders4"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"Controle_TMC\".pedidos_consolidados\n(empresa_id, loja_id, codigo_loja, numero_documento, codigo_cliente, nome_cliente, endereco_cliente, vendedor, codigo_vendedor, telefone_vendedor, telefone, email, data, codigo_atividade, total_pedido, produtos)\nVALUES\n(\n  '6bfc72af-fb8b-4f8a-b83c-52fb52c362a9',\n  '3ac40de2-a41c-40ba-89a1-e9f659466460',\n  '067',\n  '{{.numeroDocumento}}',\n  '{{.codigoCliente}}',\n  '{{.nomeCliente.replace(/'/g, \"''\")}}',\n  '{{.enderecoCliente.replace(/['’]/g, \"''\")}}',\n  '{{.vendedor.replace(/'/g, \"''\")}}',\n  '{{.codigoVendedor}}',\n  '{{.telefoneVendedor}}',\n  '{{.telefone}}',\n  '{{.email}}',\n  '{{.data}}',\n  '{{.codigoAtividade}}',\n  {{.totalPedido}},\n  $${{JSON.stringify(.produtos)}}$$::jsonb\n)\nON CONFLICT (empresa_id, numero_documento, codigo_loja) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[560,4176],"id":"f1fc5665-db11-4a1e-ba59-28f3250084de","name":"Save DB4","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"jsCode":"// Code node v3 — Run Once for All Items: ON\n// Entrada: itens contendo pedidos como você já tem usado\n// Saída: analise SOMENTE do dia anterior (America/Sao_Paulo)\n// Se \"ontem\" não existir nos dados, usa a data mais recente disponível\n\nfunction to2(n) { return Math.round((n + Number.EPSILON) * 100) / 100; }\n\nfunction ensureArrayFromItems(items) {\n  if (!items?.length) return [];\n  const j0 = items[0].json;\n  if (Array.isArray(j0)) return j0; // primeiro item é o array completo\n  return items.map(i => i.json);    // caso comum: um pedido por item\n}\n\nfunction totalPedido(p) {\n  return to2((p.produtos || []).reduce((acc, it) => acc + Number(it.preco || 0), 0));\n}\n\nfunction qtdItens(p) {\n  return (p.produtos || []).reduce((acc, it) => acc + Number(it.quantidade || 0), 0);\n}\n\nfunction acum(map, key, valor) {\n  if (!map[key]) map[key] = 0;\n  map[key] += valor;\n}\n\nfunction topN(dict, n, by = 'valor') {\n  const arr = Object.entries(dict).map(([k, v]) => {\n    if (typeof v === 'number') return { nome: k, valor: v };\n    return { nome: k, valor: v.valor ?? 0, qtd: v.qtd ?? 0 };\n  });\n  arr.sort((a, b) => (b[by] ?? 0) - (a[by] ?? 0));\n  return arr.slice(0, n).map(x => ({ ...x, valor: to2(x.valor) }));\n}\n\nfunction ymdInTZ(date) {\n  // retorna YYYY-MM-DD em America/Sao_Paulo\n  const s = date.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }); // dd/mm/aaaa\n  const [dd, mm, yyyy] = s.split('/');\n  return `${yyyy}-${mm.padStart(2,'0')}-${dd.padStart(2,'0')}`;\n}\n\nconst pedidosRaw = ensureArrayFromItems(items);\n\n// normaliza pedidos\nconst pedidosOut = pedidosRaw.map(p => ({\n  numeroDocumento: p.numeroDocumento,\n  data: p.data, // já está em YYYY-MM-DD\n  vendedor: p.vendedor || null,\n  nomeCliente: p.nomeCliente,\n  telefone: p.telefone || null,\n  email: p.email || null,\n  enderecoCliente: p.enderecoCliente || null,\n  qtdProdutos: p.produtos?.length || 0,\n  qtdItens: qtdItens(p),\n  totalPedido: totalPedido(p),\n  produtos: p.produtos || []\n}));\n\n// Captura o número da loja (assumindo que todos os pedidos são da mesma loja)\nconst numeroLoja = pedidosRaw[0]?.numeroLoja || null;\n\n// determina \"ontem\" em São Paulo\nconst hojeSP = new Date();\nconst ontemSP = new Date(hojeSP.getTime() - 24*60*60*1000);\nconst dataOntem = ymdInTZ(ontemSP);\n\n// define data alvo\nconst datasDisponiveis = [...new Set(pedidosOut.map(p => p.data))].filter(Boolean).sort();\nlet dataAlvo = dataOntem;\nlet usouDataMaisRecente = false;\n\nlet pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n\n// se não há pedidos no \"ontem\", usa a última data disponível\nif (pedidosDia.length === 0 && datasDisponiveis.length > 0) {\n  dataAlvo = datasDisponiveis[datasDisponiveis.length - 1];\n  pedidosDia = pedidosOut.filter(p => p.data === dataAlvo);\n  usouDataMaisRecente = true;\n}\n\n// métricas do dia\nconst faturamentoTotal = to2(pedidosDia.reduce((a, p) => a + p.totalPedido, 0));\nconst totalPedidos = pedidosDia.length;\nconst totalItens = pedidosDia.reduce((a, p) => a + p.qtdItens, 0);\nconst clientesUnicos = new Set(pedidosDia.map(p => p.nomeCliente || 'SEM NOME')).size;\nconst ticketMedio = totalPedidos ? to2(faturamentoTotal / totalPedidos) : 0;\n\n// por vendedor (dia)\nconst porVendValor = {};\nconst porVendQtd = {};\nfor (const p of pedidosDia) {\n  const vend = p.vendedor || 'SEM VENDEDOR';\n  acum(porVendValor, vend, p.totalPedido);\n  acum(porVendQtd, vend, 1);\n}\nconst porVendedor = Object.keys(porVendValor).map(v => ({\n  vendedor: v,\n  pedidos: porVendQtd[v] || 0,\n  total: to2(porVendValor[v] || 0),\n  ticketMedio: porVendQtd[v] ? to2(porVendValor[v] / porVendQtd[v]) : 0\n})).sort((a, b) => b.total - a.total);\n\n// por dia — só a data analisada\nconst porDia = [{ data: dataAlvo, total: faturamentoTotal }];\n\n// top clientes do dia\nconst clientesDict = {};\nfor (const p of pedidosDia) acum(clientesDict, p.nomeCliente || 'SEM NOME', p.totalPedido);\nconst topClientes = topN(clientesDict, 10, 'valor');\n\n// top produtos do dia\nconst prodDict = {};\nfor (const p of pedidosDia) {\n  for (const it of (p.produtos || [])) {\n    const nome = it.produto || 'SEM PRODUTO';\n    if (!prodDict[nome]) prodDict[nome] = { qtd: 0, valor: 0 };\n    prodDict[nome].qtd += Number(it.quantidade || 0);\n    prodDict[nome].valor += Number(it.preco || 0);\n  }\n}\nconst topProdutosQtd = topN(prodDict, 10, 'qtd');\nconst topProdutosValor = topN(prodDict, 10, 'valor');\n\n// pedidos atípicos no dia: > 2 x ticket médio do dia\nconst pedidosAtipicos = ticketMedio > 0\n  ? pedidosDia.filter(p => p.totalPedido > 2 * ticketMedio).map(p => p.numeroDocumento)\n  : [];\n\nconst resumo = {\n  numeroLoja,\n  dataAlvo,\n  usouDataMaisRecente,\n  faturamentoTotal,\n  totalPedidos,\n  totalItens,\n  clientesUnicos,\n  ticketMedio,\n  pedidosAtipicos\n};\n\nreturn [\n  {\n    json: {\n      analise: {\n        resumo,\n        porVendedor,\n        porDia,\n        topClientes,\n        topProdutosQtd,\n        topProdutosValor,\n        pedidos: pedidosDia\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,4400],"id":"a9d4b4b7-c68b-4540-ad2c-fdd0ec7042f6","name":"Analyze Day4"},{"parameters":{"promptType":"define","text":"={{ $json.analise }}","messages":{"messageValues":[{"message":"=Você é um analista de vendas. Sua saída é um relatório diário curto (até 1.200 caracteres), pronto para WhatsApp. Use apenas texto simples, títulos em negrito com *asteriscos* e bullets normais (-). Não use # nem formatação markdown. Moeda no formato R$ 1.234,56.\n\nDados de entrada: {{ $json.analise }}\n\nRegras:\n1) Identifique a data de ontem em \"porDia\". Se não houver dados de ontem, use a data mais recente e avise no início.  \n2) Considere apenas pedidos cuja data seja a do dia analisado.  \n3) Calcule: faturamento total, nº de pedidos, nº de itens, ticket médio, nº de clientes únicos.  \n\nEstrutura da saída:\n*Resumo diário – DD/MM/AAAA* Loja \"\" \nFaturamento R$ X em Y pedidos, ticket médio R$ Z, N clientes únicos.  \n\n*Vendedores*  \n- Nome: R$ total | pedidos | % participação | ticket médio R$ X  \n\n*Produtos*  \n1 frase sobre mix e concentração.  \n- Produto: qtd un – R$ total  \n(liste até 3, pegando dos tops por valor e por quantidade, sem repetir)  \n\n*Clientes*  \n1 frase com os clientes mais relevantes do dia (até 2 ou 3 nomes).  \n\n*Conclusão*  \n1 frase curta interpretando o desempenho geral (ex: concentração em vendedores, dependência de produtos, ou oportunidade).\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[208,4400],"id":"cf1b305c-f7d2-4693-8363-1985049a9e9f","name":"Format Report4"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[208,4576],"id":"d7d47b8b-e0f9-46a6-8a23-37f6070eccb3","name":"LLM Model4","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"content":"# PORTAL MORUMBI\n\n","height":1056,"width":1728,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-912,3888],"typeVersion":1,"id":"0f5b2867-6dd1-458e-9b96-279496eca08c","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-832,4400],"id":"bd25833d-38b9-46aa-80bb-94dc82242959","name":"Vendas Portal BD"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-848,3184],"id":"9e73e2ee-ada5-48de-89fc-286a8d152413","name":"Vendas Chacara BD"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-832,1952],"id":"9dd3fcf2-c2b2-4798-98cb-7a3edb875d7d","name":"Vendas Vila A BD"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,768],"id":"c24f93ae-eb7d-45ea-99a9-6bfdb681c0c2","name":"Vendas Vila M BD"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-816,-448],"id":"0bfdef28-5024-4f45-a929-b4062c8c7416","name":"Vendas Guedala BD"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511940662846"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[544,-448],"id":"0f3dfe21-f1fb-4ef0-b1dd-a2ef673e849d","name":"Envia MSG"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511940662846"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[480,768],"id":"ceb54818-b94f-45c8-8132-10e69e87341e","name":"Envia MSG1"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511940662846"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[528,1952],"id":"f5ffba16-ddb8-4b31-b69d-c22a4a05ee22","name":"Envia MSG2"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511940662846"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[528,3184],"id":"34575937-7409-4143-aae9-e67817f89bc7","name":"Envia MSG3"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"2ae9f4b9-0fa8-47c9-acf9-ac90a99be1e3"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511940662846"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,4400],"id":"c41dfc64-6ed6-4ac5-beb8-6bb40ed20693","name":"Envia MSG4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"6661d59f-83c3-4e20-9522-1bc3aae0ca73","name":"AI Agent"}],"connections":{"Get API ":{"main":[[{"node":"Clean Data","type":"main","index":0}]]},"Clean Data":{"main":[[{"node":"Group Orders","type":"main","index":0}]]},"Group Orders":{"main":[[{"node":"Analyze Day","type":"main","index":0},{"node":"Filter Orders","type":"main","index":0}]]},"Filter Orders":{"main":[[{"node":"Save DB","type":"main","index":0}]]},"Analyze Day":{"main":[[{"node":"Format Report","type":"main","index":0}]]},"Format Report":{"main":[[{"node":"Envia MSG","type":"main","index":0}]]},"LLM Model":{"ai_languageModel":[[{"node":"Format Report","type":"ai_languageModel","index":0}]]},"Get API 1":{"main":[[{"node":"Clean Data1","type":"main","index":0}]]},"Clean Data1":{"main":[[{"node":"Group Orders1","type":"main","index":0}]]},"Group Orders1":{"main":[[{"node":"Analyze Day1","type":"main","index":0},{"node":"Filter Orders1","type":"main","index":0}]]},"Filter Orders1":{"main":[[{"node":"Save DB1","type":"main","index":0}]]},"Analyze Day1":{"main":[[{"node":"Format Report1","type":"main","index":0}]]},"Format Report1":{"main":[[{"node":"Envia MSG1","type":"main","index":0}]]},"LLM Model1":{"ai_languageModel":[[{"node":"Format Report1","type":"ai_languageModel","index":0}]]},"Get API 2":{"main":[[{"node":"Clean Data2","type":"main","index":0}]]},"Clean Data2":{"main":[[{"node":"Group Orders2","type":"main","index":0}]]},"Group Orders2":{"main":[[{"node":"Analyze Day2","type":"main","index":0},{"node":"Filter Orders2","type":"main","index":0}]]},"Filter Orders2":{"main":[[{"node":"Save DB2","type":"main","index":0}]]},"Analyze Day2":{"main":[[{"node":"Format Report2","type":"main","index":0}]]},"Format Report2":{"main":[[{"node":"Envia MSG2","type":"main","index":0}]]},"LLM Model2":{"ai_languageModel":[[{"node":"Format Report2","type":"ai_languageModel","index":0}]]},"Get API 3":{"main":[[{"node":"Clean Data3","type":"main","index":0}]]},"Clean Data3":{"main":[[{"node":"Group Orders3","type":"main","index":0}]]},"Group Orders3":{"main":[[{"node":"Analyze Day3","type":"main","index":0},{"node":"Filter Orders3","type":"main","index":0}]]},"Filter Orders3":{"main":[[{"node":"Save DB3","type":"main","index":0}]]},"Analyze Day3":{"main":[[{"node":"Format Report3","type":"main","index":0}]]},"Format Report3":{"main":[[{"node":"Envia MSG3","type":"main","index":0}]]},"LLM Model3":{"ai_languageModel":[[{"node":"Format Report3","type":"ai_languageModel","index":0}]]},"Get API 4":{"main":[[{"node":"Clean Data4","type":"main","index":0}]]},"Clean Data4":{"main":[[{"node":"Group Orders4","type":"main","index":0}]]},"Group Orders4":{"main":[[{"node":"Analyze Day4","type":"main","index":0},{"node":"Filter Orders4","type":"main","index":0}]]},"Filter Orders4":{"main":[[{"node":"Save DB4","type":"main","index":0}]]},"Analyze Day4":{"main":[[{"node":"Format Report4","type":"main","index":0}]]},"Format Report4":{"main":[[{"node":"Envia MSG4","type":"main","index":0}]]},"LLM Model4":{"ai_languageModel":[[{"node":"Format Report4","type":"ai_languageModel","index":0}]]},"Vendas Portal BD":{"main":[[{"node":"Get API 4","type":"main","index":0}]]},"Vendas Chacara BD":{"main":[[{"node":"Get API 3","type":"main","index":0}]]},"Vendas Vila A BD":{"main":[[{"node":"Get API 2","type":"main","index":0}]]},"Vendas Vila M BD":{"main":[[{"node":"Get API 1","type":"main","index":0}]]},"Vendas Guedala BD":{"main":[[{"node":"Get API ","type":"main","index":0}]]}},"authors":"Miguel Nunes","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-10-31T13:15:54.983Z","createdAt":"2025-10-31T13:15:54.983Z","id":"SA1lrqt1q8ppNIAs","name":"Tintasmc_alberto"}]}