XSJvA7pMN74d7IHm.json
{"updatedAt":"2026-01-17T20:51:29.661Z","createdAt":"2025-10-24T13:12:17.069Z","id":"XSJvA7pMN74d7IHm","name":"Salva mensagens","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"phone\": \"string\",\n  \"nome\": \"string\",\n  \"conversation_id\": \"string\",\n  \"user_message\": \"string\",\n  \"bot_message\": \"string\",\n  \"message_type\": \"string\",\n  \"timestamp\": \"string\",\n  \"loja\": \"string\",\n  \"vendedor\": \"string\"\n}\n"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[96,112],"id":"1ab5d915-5ac6-4c6d-a6d8-c15d5d896c59","name":"When Executed by Another Workflow"},{"parameters":{"schema":{"__rl":true,"value":"TMC_Alberto","mode":"list","cachedResultName":"TMC_Alberto"},"table":{"__rl":true,"value":"chat_messages","mode":"list","cachedResultName":"chat_messages"},"columns":{"mappingMode":"defineBelow","value":{"active":true,"created_at":"={{ $json.timestamp }}","phone":"={{ $json.phone }}","conversation_id":"={{ $json.conversation_id }}","bot_message":"={{ $json.bot_message }}","user_message":"={{ $json.user_message }}","message_type":"={{ $json.message_type }}","loja":"={{ $json.loja }}","vendedor":"=TARS","updated_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bot_message","displayName":"bot_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"active","displayName":"active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"vendedor","displayName":"vendedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"resumo_interacao","displayName":"resumo_interacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,0],"id":"5cf30fd5-ea69-433c-869f-bbc25950a3b3","name":"Insert chat_messages","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"TMC_Alberto\".follow_up_control (\n    conversation_id,\n    phone,\n    nome_cliente,\n    loja,\n    ultima_msg_cliente,\n    ultima_msg_bot,\n    last_bot_message_at,\n    last_user_message_at,\n    ultima_msg_de,\n    updated_at\n) VALUES (\n    '{{ $json.conversation_id }}',\n    '{{ $json.phone }}',\n    '{{ ($json.nome || \"\").replace(/'/g, \"''\") }}',\n    '{{ $json.loja }}',\n    {{ $json.user_message ? \"'\" + $json.user_message.replace(/'/g, \"''\").replace(/\\n/g, \" \") + \"'\" : \"NULL\" }},\n    {{ $json.bot_message ? \"'\" + $json.bot_message.replace(/'/g, \"''\").replace(/\\n/g, \" \") + \"'\" : \"NULL\" }},\n    {{ $json.bot_message ? \"NOW()\" : \"NULL\" }},\n    {{ $json.user_message ? \"NOW()\" : \"NULL\" }},\n    '{{ $json.user_message ? \"cliente\" : \"tars\" }}',\n    NOW()\n)\nON CONFLICT (conversation_id) DO UPDATE SET\n    nome_cliente = COALESCE(NULLIF('{{ ($json.nome || \"\").replace(/'/g, \"''\") }}', ''), follow_up_control.nome_cliente),\n    ultima_msg_cliente = CASE WHEN {{ $json.user_message ? 'TRUE' : 'FALSE' }} THEN '{{ ($json.user_message || \"\").replace(/'/g, \"''\").replace(/\\n/g, \" \") }}' ELSE follow_up_control.ultima_msg_cliente END,\n    ultima_msg_bot = CASE WHEN {{ $json.bot_message ? 'TRUE' : 'FALSE' }} THEN '{{ ($json.bot_message || \"\").replace(/'/g, \"''\").replace(/\\n/g, \" \") }}' ELSE follow_up_control.ultima_msg_bot END,\n    last_bot_message_at = CASE WHEN {{ $json.bot_message ? 'TRUE' : 'FALSE' }} THEN NOW() ELSE follow_up_control.last_bot_message_at END,\n    last_user_message_at = CASE WHEN {{ $json.user_message ? 'TRUE' : 'FALSE' }} THEN NOW() ELSE follow_up_control.last_user_message_at END,\n    ultima_msg_de = '{{ $json.user_message ? \"cliente\" : \"tars\" }}',\n    follow_up_stage = CASE WHEN {{ $json.user_message ? 'TRUE' : 'FALSE' }} THEN 0 ELSE follow_up_control.follow_up_stage END,\n    status = CASE WHEN {{ $json.user_message ? 'TRUE' : 'FALSE' }} AND follow_up_control.status = 'finalizado' THEN 'ativo' ELSE follow_up_control.status END,\n    blacklisted = CASE WHEN {{ $json.user_message ? 'TRUE' : 'FALSE' }} THEN FALSE ELSE follow_up_control.blacklisted END,\n    updated_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,220],"id":"followup-control-upsert","name":"Upsert follow_up_control","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"content":"# SALVA MENSAGENS - ALBERTO\n\n**chat_messages** - Historico completo\n**follow_up_control** - Controle de follow-up\n\n## Nova Logica (v2):\n- ultima_msg_de: 'cliente' ou 'tars'\n- Quando cliente responde: reseta stage pra 0\n- Se tava finalizado ou blacklist: reativa\n- Quem decide se para e a IA no workflow de follow-up","height":380,"width":520,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,-100],"typeVersion":1,"id":"51182e33-dccf-4130-95a8-b697bfd3d53f","name":"Sticky Note"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Insert chat_messages","type":"main","index":0},{"node":"Upsert follow_up_control","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"phone":"5512988112870","nome":"Miguel Nunes","conversation_id":"0716ba8d-9c1e-40d3-be67-673ced590618","user_message":"Bela vista, canas sp Isso","bot_message":"Perfeito, Miguel! Já anotei: Rua Neporã, 105, Bela Vista, Canas/SP.\n\nFechado! Vou passar tudo pro vendedor agora e ele já te chama pra finalizar, tá bom? Obrigado!","message_type":"conversation","timestamp":"2025-08-26T17:32:47.919-03:00","loja":"teste"}}]},"versionId":"c6394955-7c01-48fe-b3f5-43e0dac8b039","activeVersionId":"c6394955-7c01-48fe-b3f5-43e0dac8b039","triggerCount":0,"shared":[{"updatedAt":"2025-10-24T13:12:17.069Z","createdAt":"2025-10-24T13:12:17.069Z","role":"workflow:owner","workflowId":"XSJvA7pMN74d7IHm","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2026-01-17T20:51:29.665Z","createdAt":"2026-01-17T20:51:29.665Z","versionId":"c6394955-7c01-48fe-b3f5-43e0dac8b039","workflowId":"XSJvA7pMN74d7IHm","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"phone\": \"string\",\n  \"nome\": \"string\",\n  \"conversation_id\": \"string\",\n  \"user_message\": \"string\",\n  \"bot_message\": \"string\",\n  \"message_type\": \"string\",\n  \"timestamp\": \"string\",\n  \"loja\": \"string\",\n  \"vendedor\": \"string\"\n}\n"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[96,112],"id":"1ab5d915-5ac6-4c6d-a6d8-c15d5d896c59","name":"When Executed by Another Workflow"},{"parameters":{"schema":{"__rl":true,"value":"TMC_Alberto","mode":"list","cachedResultName":"TMC_Alberto"},"table":{"__rl":true,"value":"chat_messages","mode":"list","cachedResultName":"chat_messages"},"columns":{"mappingMode":"defineBelow","value":{"active":true,"created_at":"={{ $json.timestamp }}","phone":"={{ $json.phone }}","conversation_id":"={{ $json.conversation_id }}","bot_message":"={{ $json.bot_message }}","user_message":"={{ $json.user_message }}","message_type":"={{ $json.message_type }}","loja":"={{ $json.loja }}","vendedor":"=TARS","updated_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bot_message","displayName":"bot_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"active","displayName":"active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"loja","displayName":"loja","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"vendedor","displayName":"vendedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"resumo_interacao","displayName":"resumo_interacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,0],"id":"5cf30fd5-ea69-433c-869f-bbc25950a3b3","name":"Insert chat_messages","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO \"TMC_Alberto\".follow_up_control (\n    conversation_id,\n    phone,\n    nome_cliente,\n    loja,\n    ultima_msg_cliente,\n    ultima_msg_bot,\n    last_bot_message_at,\n    last_user_message_at,\n    ultima_msg_de,\n    updated_at\n) VALUES (\n    '{{ $json.conversation_id }}',\n    '{{ $json.phone }}',\n    '{{ ($json.nome || \"\").replace(/'/g, \"''\") }}',\n    '{{ $json.loja }}',\n    {{ $json.user_message ? \"'\" + $json.user_message.replace(/'/g, \"''\").replace(/\\n/g, \" \") + \"'\" : \"NULL\" }},\n    {{ $json.bot_message ? \"'\" + $json.bot_message.replace(/'/g, \"''\").replace(/\\n/g, \" \") + \"'\" : \"NULL\" }},\n    {{ $json.bot_message ? \"NOW()\" : \"NULL\" }},\n    {{ $json.user_message ? \"NOW()\" : \"NULL\" }},\n    '{{ $json.user_message ? \"cliente\" : \"tars\" }}',\n    NOW()\n)\nON CONFLICT (conversation_id) DO UPDATE SET\n    nome_cliente = COALESCE(NULLIF('{{ ($json.nome || \"\").replace(/'/g, \"''\") }}', ''), follow_up_control.nome_cliente),\n    ultima_msg_cliente = CASE WHEN {{ $json.user_message ? 'TRUE' : 'FALSE' }} THEN '{{ ($json.user_message || \"\").replace(/'/g, \"''\").replace(/\\n/g, \" \") }}' ELSE follow_up_control.ultima_msg_cliente END,\n    ultima_msg_bot = CASE WHEN {{ $json.bot_message ? 'TRUE' : 'FALSE' }} THEN '{{ ($json.bot_message || \"\").replace(/'/g, \"''\").replace(/\\n/g, \" \") }}' ELSE follow_up_control.ultima_msg_bot END,\n    last_bot_message_at = CASE WHEN {{ $json.bot_message ? 'TRUE' : 'FALSE' }} THEN NOW() ELSE follow_up_control.last_bot_message_at END,\n    last_user_message_at = CASE WHEN {{ $json.user_message ? 'TRUE' : 'FALSE' }} THEN NOW() ELSE follow_up_control.last_user_message_at END,\n    ultima_msg_de = '{{ $json.user_message ? \"cliente\" : \"tars\" }}',\n    follow_up_stage = CASE WHEN {{ $json.user_message ? 'TRUE' : 'FALSE' }} THEN 0 ELSE follow_up_control.follow_up_stage END,\n    status = CASE WHEN {{ $json.user_message ? 'TRUE' : 'FALSE' }} AND follow_up_control.status = 'finalizado' THEN 'ativo' ELSE follow_up_control.status END,\n    blacklisted = CASE WHEN {{ $json.user_message ? 'TRUE' : 'FALSE' }} THEN FALSE ELSE follow_up_control.blacklisted END,\n    updated_at = NOW();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,220],"id":"followup-control-upsert","name":"Upsert follow_up_control","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"content":"# SALVA MENSAGENS - ALBERTO\n\n**chat_messages** - Historico completo\n**follow_up_control** - Controle de follow-up\n\n## Nova Logica (v2):\n- ultima_msg_de: 'cliente' ou 'tars'\n- Quando cliente responde: reseta stage pra 0\n- Se tava finalizado ou blacklist: reativa\n- Quem decide se para e a IA no workflow de follow-up","height":380,"width":520,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,-100],"typeVersion":1,"id":"51182e33-dccf-4130-95a8-b697bfd3d53f","name":"Sticky Note"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Insert chat_messages","type":"main","index":0},{"node":"Upsert follow_up_control","type":"main","index":0}]]}},"authors":"Miguel Nunes","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-10-31T13:15:54.983Z","createdAt":"2025-10-31T13:15:54.983Z","id":"SA1lrqt1q8ppNIAs","name":"Tintasmc_alberto"}]}