XZfmKJQsemyNVaag.json
{"updatedAt":"2026-02-25T13:49:37.403Z","createdAt":"2026-02-25T13:40:44.430Z","id":"XZfmKJQsemyNVaag","name":"[BS] Detectar Bounces Email","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 9 * * 1-5"}]}},"id":"node-trigger","name":"Cron Diario 9h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[208,0]},{"parameters":{"operation":"getAll","filters":{"readStatus":"unread","receivedAfter":"={{ $now.minus(1, \"day\").toISO() }}","sender":"mailer-daemon@googlemail.com"}},"id":"node-gmail-buscar","name":"Buscar Bounces Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[464,0],"webhookId":"936dc82b-4f8f-45ff-a0da-c7221ed26eaf","credentials":{"gmailOAuth2":{"id":"rJOvSJUAFmiVisS7","name":"Gmail Bstech"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-id","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"node-if","name":"Tem bounces?","type":"n8n-nodes-base.if","typeVersion":2,"position":[704,0]},{"parameters":{"jsCode":"// Extrair email que deu bounce do corpo da mensagem\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const text = item.json.textPlain || item.json.snippet || '';\n\n  // Padroes comuns de bounce\n  const patterns = [\n    /delivery to the following recipient[s]? failed[\\s\\S]*?([\\w.+-]+@[\\w.-]+\\.[a-z]{2,})/gi,\n    /The email account that you tried to reach does not exist[\\s\\S]*?([\\w.+-]+@[\\w.-]+\\.[a-z]{2,})/gi,\n    /Address rejected[\\s\\S]*?([\\w.+-]+@[\\w.-]+\\.[a-z]{2,})/gi,\n    /550[\\s-].*?([\\w.+-]+@[\\w.-]+\\.[a-z]{2,})/gi,\n    /Undeliverable[\\s\\S]*?([\\w.+-]+@[\\w.-]+\\.[a-z]{2,})/gi,\n    /(?:To|to):\\s*<?([\\w.+-]+@[\\w.-]+\\.[a-z]{2,})>?/g\n  ];\n\n  let bouncedEmail = null;\n\n  for (const pattern of patterns) {\n    const match = pattern.exec(text);\n    if (match && match[1]) {\n      bouncedEmail = match[1].toLowerCase();\n      break;\n    }\n  }\n\n  // Fallback: pegar do header \"To\" original da mensagem bounced\n  if (!bouncedEmail && item.json.headers) {\n    const xFailedTo = item.json.headers['X-Failed-Recipients'];\n    if (xFailedTo) {\n      bouncedEmail = xFailedTo.toLowerCase().trim();\n    }\n  }\n\n  if (bouncedEmail) {\n    results.push({ json: { email_bounce: bouncedEmail, gmail_id: item.json.id } });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { email_bounce: null } }];"},"id":"node-extrair","name":"Extrair Email Bounce","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,-16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-email","leftValue":"={{ $json.email_bounce }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"node-if2","name":"Extraiu email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1200,-16]},{"parameters":{"operation":"executeQuery","query":"UPDATE brasil_solos.disparos_email\nSET status = 'bounce'\nWHERE contato_id = (\n  SELECT id FROM brasil_solos.contatos WHERE email = $1 LIMIT 1\n)\nAND status = 'enviado'\nAND enviado_em = (\n  SELECT MAX(enviado_em) FROM brasil_solos.disparos_email\n  WHERE contato_id = (SELECT id FROM brasil_solos.contatos WHERE email = $1 LIMIT 1)\n  AND status = 'enviado'\n)","options":{"queryReplacement":"={{ [$json.email_bounce] }}"}},"id":"node-marcar-bounce","name":"Marcar Bounce no DB","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1472,-32],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ $json.gmail_id }}"},"id":"node-marcar-lido","name":"Marcar Gmail Lido","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1712,-32],"webhookId":"fb9d35da-b923-4893-b6b9-2b6f37e530ff","credentials":{"gmailOAuth2":{"id":"rJOvSJUAFmiVisS7","name":"Gmail Bstech"}}},{"parameters":{"content":"## Detectar Bounces Email\n\n**Cron**: seg-sex 9h\n**Fonte**: Gmail (mailer-daemon)\n\n**Logica**:\n1. Busca emails nao lidos do mailer-daemon (ultimas 24h)\n2. Extrai email que deu bounce do corpo\n3. UPDATE disparos_email SET status = bounce\n4. Trigger automatico no Supabase marca email_valido=false\n5. Marca a notificacao de bounce como lida no Gmail\n\n**Trigger DB**: trg_bounce_invalida_email (ja criado)","height":346,"width":592},"id":"node-sticky","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,-432]}],"connections":{"Cron Diario 9h":{"main":[[{"node":"Buscar Bounces Gmail","type":"main","index":0}]]},"Buscar Bounces Gmail":{"main":[[{"node":"Tem bounces?","type":"main","index":0}]]},"Tem bounces?":{"main":[[{"node":"Extrair Email Bounce","type":"main","index":0}],[]]},"Extrair Email Bounce":{"main":[[{"node":"Extraiu email?","type":"main","index":0}]]},"Extraiu email?":{"main":[[{"node":"Marcar Bounce no DB","type":"main","index":0}],[]]},"Marcar Bounce no DB":{"main":[[{"node":"Marcar Gmail Lido","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Cron Diario 9h":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c8c992c-75a9-409b-9900-9f8456d4f44a","activeVersionId":"3c8c992c-75a9-409b-9900-9f8456d4f44a","triggerCount":1,"shared":[{"updatedAt":"2026-02-25T13:40:44.430Z","createdAt":"2026-02-25T13:40:44.430Z","role":"workflow:owner","workflowId":"XZfmKJQsemyNVaag","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":{"updatedAt":"2026-02-25T13:49:39.774Z","createdAt":"2026-02-25T13:49:37.404Z","versionId":"3c8c992c-75a9-409b-9900-9f8456d4f44a","workflowId":"XZfmKJQsemyNVaag","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 9 * * 1-5"}]}},"id":"node-trigger","name":"Cron Diario 9h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[208,0]},{"parameters":{"operation":"getAll","filters":{"readStatus":"unread","receivedAfter":"={{ $now.minus(1, \"day\").toISO() }}","sender":"mailer-daemon@googlemail.com"}},"id":"node-gmail-buscar","name":"Buscar Bounces Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[464,0],"webhookId":"936dc82b-4f8f-45ff-a0da-c7221ed26eaf","credentials":{"gmailOAuth2":{"id":"rJOvSJUAFmiVisS7","name":"Gmail Bstech"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-id","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"node-if","name":"Tem bounces?","type":"n8n-nodes-base.if","typeVersion":2,"position":[704,0]},{"parameters":{"jsCode":"// Extrair email que deu bounce do corpo da mensagem\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const text = item.json.textPlain || item.json.snippet || '';\n\n  // Padroes comuns de bounce\n  const patterns = [\n    /delivery to the following recipient[s]? failed[\\s\\S]*?([\\w.+-]+@[\\w.-]+\\.[a-z]{2,})/gi,\n    /The email account that you tried to reach does not exist[\\s\\S]*?([\\w.+-]+@[\\w.-]+\\.[a-z]{2,})/gi,\n    /Address rejected[\\s\\S]*?([\\w.+-]+@[\\w.-]+\\.[a-z]{2,})/gi,\n    /550[\\s-].*?([\\w.+-]+@[\\w.-]+\\.[a-z]{2,})/gi,\n    /Undeliverable[\\s\\S]*?([\\w.+-]+@[\\w.-]+\\.[a-z]{2,})/gi,\n    /(?:To|to):\\s*<?([\\w.+-]+@[\\w.-]+\\.[a-z]{2,})>?/g\n  ];\n\n  let bouncedEmail = null;\n\n  for (const pattern of patterns) {\n    const match = pattern.exec(text);\n    if (match && match[1]) {\n      bouncedEmail = match[1].toLowerCase();\n      break;\n    }\n  }\n\n  // Fallback: pegar do header \"To\" original da mensagem bounced\n  if (!bouncedEmail && item.json.headers) {\n    const xFailedTo = item.json.headers['X-Failed-Recipients'];\n    if (xFailedTo) {\n      bouncedEmail = xFailedTo.toLowerCase().trim();\n    }\n  }\n\n  if (bouncedEmail) {\n    results.push({ json: { email_bounce: bouncedEmail, gmail_id: item.json.id } });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { email_bounce: null } }];"},"id":"node-extrair","name":"Extrair Email Bounce","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,-16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-email","leftValue":"={{ $json.email_bounce }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"node-if2","name":"Extraiu email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1200,-16]},{"parameters":{"operation":"executeQuery","query":"UPDATE brasil_solos.disparos_email\nSET status = 'bounce'\nWHERE contato_id = (\n  SELECT id FROM brasil_solos.contatos WHERE email = $1 LIMIT 1\n)\nAND status = 'enviado'\nAND enviado_em = (\n  SELECT MAX(enviado_em) FROM brasil_solos.disparos_email\n  WHERE contato_id = (SELECT id FROM brasil_solos.contatos WHERE email = $1 LIMIT 1)\n  AND status = 'enviado'\n)","options":{"queryReplacement":"={{ [$json.email_bounce] }}"}},"id":"node-marcar-bounce","name":"Marcar Bounce no DB","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1472,-32],"credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ $json.gmail_id }}"},"id":"node-marcar-lido","name":"Marcar Gmail Lido","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1712,-32],"webhookId":"fb9d35da-b923-4893-b6b9-2b6f37e530ff","credentials":{"gmailOAuth2":{"id":"rJOvSJUAFmiVisS7","name":"Gmail Bstech"}}},{"parameters":{"content":"## Detectar Bounces Email\n\n**Cron**: seg-sex 9h\n**Fonte**: Gmail (mailer-daemon)\n\n**Logica**:\n1. Busca emails nao lidos do mailer-daemon (ultimas 24h)\n2. Extrai email que deu bounce do corpo\n3. UPDATE disparos_email SET status = bounce\n4. Trigger automatico no Supabase marca email_valido=false\n5. Marca a notificacao de bounce como lida no Gmail\n\n**Trigger DB**: trg_bounce_invalida_email (ja criado)","height":346,"width":592},"id":"node-sticky","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,-432]}],"connections":{"Cron Diario 9h":{"main":[[{"node":"Buscar Bounces Gmail","type":"main","index":0}]]},"Buscar Bounces Gmail":{"main":[[{"node":"Tem bounces?","type":"main","index":0}]]},"Tem bounces?":{"main":[[{"node":"Extrair Email Bounce","type":"main","index":0}],[]]},"Extrair Email Bounce":{"main":[[{"node":"Extraiu email?","type":"main","index":0}]]},"Extraiu email?":{"main":[[{"node":"Marcar Bounce no DB","type":"main","index":0}],[]]},"Marcar Bounce no DB":{"main":[[{"node":"Marcar Gmail Lido","type":"main","index":0}]]}},"authors":"Miguel Nunes","name":"Version 3c8c992c","description":"","autosaved":true},"tags":[]}