ZLO7VSnje4Ev4U4c.json
{"updatedAt":"2025-11-16T22:21:13.232Z","createdAt":"2025-10-24T17:07:36.261Z","id":"ZLO7VSnje4Ev4U4c","name":"DumpSupabase","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"http://brasilsolos.nomus.com.br/brasilsolos/rest/tabelasPreco/126","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Basic aW50ZWdyYWRvcmVycDpTcjVJeklFWnZvc2FaQ0Q="}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,-1008],"id":"d455f81a-6f12-42c1-a80a-206ccc165421","name":"HTTP Request"},{"parameters":{"jsCode":"let dadosRecebidosDaAPI;\nif ($input.item && typeof $input.item.json !== 'undefined') {\n    dadosRecebidosDaAPI = $input.item.json;\n} else if ($items && $items.length > 0 && typeof $items[0].json !== 'undefined') {\n    dadosRecebidosDaAPI = $items[0].json;\n} else {\n    console.error(\"Nenhum dado JSON de entrada encontrado ou formato inesperado.\");\n    return [{ json: { erro: \"Dados de entrada não encontrados ou em formato incorreto.\" } }];\n}\n\nlet objetoPrincipal;\nif (Array.isArray(dadosRecebidosDaAPI) && dadosRecebidosDaAPI.length > 0) {\n    objetoPrincipal = dadosRecebidosDaAPI[0];\n} else if (typeof dadosRecebidosDaAPI === 'object' && dadosRecebidosDaAPI !== null && dadosRecebidosDaAPI.hasOwnProperty('itensTabelaPreco')) {\n    objetoPrincipal = dadosRecebidosDaAPI;\n} else {\n    console.error(\"Estrutura do JSON da API não reconhecida ou chave 'itensTabelaPreco' não encontrada no objeto principal.\");\n    return [{ json: { erro: \"Estrutura do JSON da API não reconhecida ou 'itensTabelaPreco' ausente.\" } }];\n}\n\nif (!objetoPrincipal || typeof objetoPrincipal.itensTabelaPreco === 'undefined' || !Array.isArray(objetoPrincipal.itensTabelaPreco)) {\n    console.error(\"'itensTabelaPreco' não é um array válido ou não foi encontrado.\");\n    return [{ json: { erro: \"'itensTabelaPreco' não encontrado ou não é um array.\" } }];\n}\n\nconst listaDeProdutosOriginal = objetoPrincipal.itensTabelaPreco;\n\nconst listaDeProdutosFinal = listaDeProdutosOriginal.map(produto => {\n    let precoTratado = null;\n    if (produto.preco && typeof produto.preco === 'string') {\n        const precoLimpo = produto.preco.replace(/\\./g, '').replace(',', '.');\n        const valorNumerico = parseFloat(precoLimpo);\n        if (!isNaN(valorNumerico)) {\n            precoTratado = valorNumerico;\n        } else {\n            console.warn(`Preço inválido \"${produto.preco}\" para produto ID: ${produto.idProduto || 'N/A'}`);\n        }\n    } else if (typeof produto.preco === 'number') {\n        precoTratado = produto.preco;\n    }\n\n    return {\n        descricaoProduto: produto.descricaoProduto || \"Sem descrição\",\n        idProduto: produto.idProduto || null,\n        nomeProduto: produto.nomeProduto || \"Sem nome\",\n        preco: precoTratado,\n        siglaUnidadeMedidaProduto: produto.siglaUnidadeMedidaProduto || \"UN\",\n        ativo: objetoPrincipal.ativo, \n        idTabela: objetoPrincipal.id  \n    };\n});\n\nreturn listaDeProdutosFinal;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,-1008],"id":"87605094-754f-4541-a2de-f328c4e348f3","name":"Code"},{"parameters":{"tableId":"produtos_tabela_preco_marcelo","fieldsUi":{"fieldValues":[{"fieldId":"id_produto","fieldValue":"={{ $json.idProduto }}"},{"fieldId":"nome_produto","fieldValue":"={{ $json.nomeProduto }}"},{"fieldId":"descricao_produto","fieldValue":"={{ $json.descricaoProduto }}"},{"fieldId":"preco","fieldValue":"={{ $json.preco }}"},{"fieldId":"sigla_unidade_medida_produto","fieldValue":"={{ $json.siglaUnidadeMedidaProduto }}"},{"fieldId":"ativo","fieldValue":"={{ $json.ativo }}"},{"fieldId":"id_tabela","fieldValue":"={{ $json.idTabela }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[400,-1024],"id":"452bfdd2-5fb3-4d1a-bdb4-9e0102c13cac","name":"Supabase","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7f58c51-04c7-4056-b701-93f2f5167ef6","leftValue":"={{ $json.ativo }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[144,-1008],"id":"d7b97c5d-6ebf-4719-9ad1-559e1ec56899","name":"If1"},{"parameters":{"url":"http://brasilsolos.nomus.com.br/brasilsolos/rest/pedidos","sendQuery":true,"queryParameters":{"parameters":[{"name":"pagina","value":"=2"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic aW50ZWdyYWRvcmVycDpTcjVJeklFWnZvc2FaQ0Q="},{}]},"options":{}},"id":"9f6d1141-f1df-4aa6-b5ce-5d4fae55f825","name":"Busca Pedidos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,-528]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-656,-352],"id":"944e1a62-1f66-4551-9b20-d1a41aca9bc6","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"http://brasilsolos.nomus.com.br/brasilsolos/rest/pedidos","sendQuery":true,"queryParameters":{"parameters":[{"name":"pagina","value":"=3"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic aW50ZWdyYWRvcmVycDpTcjVJeklFWnZvc2FaQ0Q="}]},"options":{}},"id":"67d2ad4c-7b78-48dd-8f21-f1f4084aad2d","name":"Busca Pedidos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,-352]},{"parameters":{"url":"http://brasilsolos.nomus.com.br/brasilsolos/rest/pedidos","sendQuery":true,"queryParameters":{"parameters":[{"name":"pagina","value":"=4"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic aW50ZWdyYWRvcmVycDpTcjVJeklFWnZvc2FaQ0Q="}]},"options":{}},"id":"51a4b45a-84b1-474c-8cb6-0dd7845ed3b0","name":"Busca Pedidos2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,-160]},{"parameters":{"url":"http://brasilsolos.nomus.com.br/brasilsolos/rest/pedidos","sendQuery":true,"queryParameters":{"parameters":[{"name":"pagina","value":"=1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic aW50ZWdyYWRvcmVycDpTcjVJeklFWnZvc2FaQ0Q="}]},"options":{}},"id":"9c0f1ebc-b0a1-4c19-aedd-d776ae11f798","name":"Busca Pedidos3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,-704]},{"parameters":{"url":"http://brasilsolos.nomus.com.br/brasilsolos/rest/pedidos","sendQuery":true,"queryParameters":{"parameters":[{"name":"pagina","value":"=5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic aW50ZWdyYWRvcmVycDpTcjVJeklFWnZvc2FaQ0Q="}]},"options":{}},"id":"375e12a1-0dc8-44a1-a8f3-7472e3f27de8","name":"Busca Pedidos4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,16]},{"parameters":{"jsCode":"// Pega TODOS os itens que vieram do HTTP\nconst pedidosPagina = $input.all();\n\n// Filtra só os campos que você quer\nconst pedidosFiltrados = pedidosPagina.map(item => ({\n  codigoPedido: item.json.codigoPedido,\n  dataCriacao: item.json.dataCriacao,\n  id: item.json.id,\n  idTipoPedido: item.json.idTipoPedido,\n  observacoesInternas: item.json.observacoesInternas,\n  valorTotal: item.json.valorTotal,\n  itensPedido: item.json.itensPedido\n}));\n\nreturn pedidosFiltrados.map(pedido => ({ json: pedido }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-352],"id":"79c8b94a-9ed2-403c-baae-da0b89952f25","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e241db2c-2f91-4d54-a59b-ec1e51ccb097","leftValue":"={{ $json.observacoesInternas }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,-352],"id":"4a70d7d4-3a4b-4960-8dca-171054add10d","name":"If"},{"parameters":{"operation":"executeQuery","query":"-- Tabela de pedidos com itens em JSON\nCREATE TABLE pedidos (\n  id BIGINT PRIMARY KEY,\n  codigo_pedido VARCHAR(50) NOT NULL,\n  data_criacao TIMESTAMP,\n  id_tipo_pedido INTEGER,\n  observacoes_internas TEXT,\n  valor_total DECIMAL(10,2),\n  itens_pedido JSONB,\n  created_at TIMESTAMP DEFAULT NOW(),\n  updated_at TIMESTAMP DEFAULT NOW()\n);\n\n-- Índices\nCREATE INDEX idx_pedidos_codigo ON pedidos(codigo_pedido);\nCREATE INDEX idx_pedidos_data_criacao ON pedidos(data_criacao);\n\n-- Índice GIN para buscar dentro do JSON\nCREATE INDEX idx_itens_pedido_jsonb ON pedidos USING GIN (itens_pedido);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-960,-1072],"id":"76d1bb0f-cfd1-44b5-8af7-14bc6bb74978","name":"Execute a SQL query","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[336,-400],"id":"f04f7d00-4ec1-4224-b7ea-42c102838bff","name":"Merge"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"pedidos","mode":"list","cachedResultName":"pedidos"},"deleteCommand":"delete","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-448,-352],"id":"7687d67a-2dfb-4c8b-820d-d0d1e579b3c4","name":"Delete table or rows","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"pedidos","mode":"list","cachedResultName":"pedidos"},"columns":{"mappingMode":"defineBelow","value":{"codigo_pedido":"={{ $json.codigoPedido }}","id_tipo_pedido":"={{ $json.idTipoPedido }}","valor_total":"={{ Number(String($json.valorTotal).replace(/\\./g,'').replace(',', '.')) }}","observacoes_internas":"={{ $json.observacoesInternas }}","data_criacao":"={{ $json[\"dataCriacao\"] && DateTime.fromFormat($json[\"dataCriacao\"], \"dd/MM/yyyy HH:mm:ss\").toISO() }}","itens_pedido":"={{ { \"data\": $json.itensPedido } }}"},"matchingColumns":["id"],"schema":[{"id":"codigo_pedido","displayName":"codigo_pedido","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data_criacao","displayName":"data_criacao","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"id_tipo_pedido","displayName":"id_tipo_pedido","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"observacoes_internas","displayName":"observacoes_internas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor_total","displayName":"valor_total","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"itens_pedido","displayName":"itens_pedido","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,-496],"id":"50045c0a-b74f-4545-aa1b-58daf98d1312","name":"Insert rows in a table","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Busca Pedidos":{"main":[[{"node":"Merge","type":"main","index":1}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Busca Pedidos3":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Busca Pedidos1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Busca Pedidos2":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Busca Pedidos4":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Delete table or rows":{"main":[[{"node":"Busca Pedidos3","type":"main","index":0},{"node":"Busca Pedidos","type":"main","index":0},{"node":"Busca Pedidos1","type":"main","index":0},{"node":"Busca Pedidos2","type":"main","index":0},{"node":"Busca Pedidos4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5410bb6e-d3a5-4d2f-b347-dcc5dff0cf04","triggerCount":0,"shared":[{"updatedAt":"2025-10-24T17:07:36.261Z","createdAt":"2025-10-24T17:07:36.261Z","role":"workflow:owner","workflowId":"ZLO7VSnje4Ev4U4c","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"updatedAt":"2025-10-31T13:42:46.294Z","createdAt":"2025-10-31T13:42:46.294Z","id":"lp5X9BGZ8y8RWeA0","name":"Brasilsolos"},{"updatedAt":"2025-10-24T17:07:34.368Z","createdAt":"2025-10-24T17:07:34.368Z","id":"mnEGrIo8hsJQP0Gp","name":"Dump"},{"updatedAt":"2025-10-24T17:07:34.368Z","createdAt":"2025-10-24T17:07:34.368Z","id":"wMQV96BCm8t0kkRp","name":"Dados"}]}