zsWfdZ1y8xQ9SNf1.json
{"updatedAt":"2025-11-25T18:01:19.788Z","createdAt":"2025-10-23T13:46:40.649Z","id":"zsWfdZ1y8xQ9SNf1","name":"Fluxo Principal","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"proq","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-6752,112],"id":"0a64a444-a309-4ad6-945c-a8619f79c0ba","name":"Webhook","webhookId":"101c50ac-79a4-4d80-9a01-e34922167d13"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2080,448],"id":"a2ee627e-ca71-4ed9-84b1-abe266d3d510","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","tableId":"interacoes","fieldsUi":{"fieldValues":[{"fieldId":"mensagem_cliente","fieldValue":"={{ $('Mensagem Completa1').item.json.conversation }}"},{"fieldId":"mensagem_ia","fieldValue":"={{ $('Tars').first().json.output }}\""},{"fieldId":"criado_em","fieldValue":"={{ $now }}"},{"fieldId":"lead_id","fieldValue":"={{ $('Session ID').item.json.sessionid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1248,176],"id":"dc4106ee-4d95-44e2-ba94-f21d05a7fcb7","name":"Create a row1","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"description":"Atualiza dados do lead. Use APENAS quando o cliente fornecer NOVOS dados (nome, empresa, cidade, email). NÃO use se os dados já foram coletados.\n```","workflowId":{"__rl":true,"value":"IoP0EYtimpSbKGGK","mode":"list","cachedResultUrl":"/workflow/IoP0EYtimpSbKGGK","cachedResultName":"ProQuantum_UpdateLead"},"workflowInputs":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $('Session ID').item.json.sessionid }}","nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}","empresa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('empresa', ``, 'string') }}","cidade":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cidade', ``, 'string') }}","email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}","eh_decisor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('eh_decisor', ``, 'boolean') }}","telefone":"={{ $('dados_para_atendimento_humano1').first().json.Telefone }}"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"empresa","displayName":"empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"cidade","displayName":"cidade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"eh_decisor","displayName":"eh_decisor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1568,448],"id":"44446b96-acf9-4d26-b2ba-f5cf407fbd0b","name":"update_lead"},{"parameters":{"description":"Atualiza classificação do lead. Use APENAS quando o nível de interesse MUDAR (não ficou igual). Valores: frio, curioso, interessado, quente.","workflowId":{"__rl":true,"value":"JUpW90bc5qwfhBgL","mode":"list","cachedResultUrl":"/workflow/JUpW90bc5qwfhBgL","cachedResultName":"ProQuantum_UpdateStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $('Session ID').item.json.sessionid }}","classificacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('classificacao', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"classificacao","displayName":"classificacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1728,448],"id":"b74343d4-9c94-4d99-aba2-621dd7f9412c","name":"update_status"},{"parameters":{"description":"Registra pedido. IMPORTANTE: passe produtos como array de objetos JavaScript puro, exemplo:\n\n{\n  \"lead_id\": \"uuid\",\n  \"produtos\": [{\"produto\": \"Tinta branca 18L\", \"quantidade\": 100, \"observacoes\": \"\"}]\n}\n\nNÃO stringify o campo produtos.","workflowId":{"__rl":true,"value":"WfBXhaHvrQtG3NNo","mode":"list","cachedResultUrl":"/workflow/WfBXhaHvrQtG3NNo","cachedResultName":"ProQuantum_InsertPedido"},"workflowInputs":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $('Session ID').item.json.sessionid }}","produtos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('produtos', ``, 'string') }}","status":"=pendente","encaminhado_para":"=Gerência Pro Quantum"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"produtos","displayName":"produtos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"encaminhado_para","displayName":"encaminhado_para","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1424,448],"id":"8dec6138-82ec-4c3a-ba6a-03a30a45dc04","name":"insert_pedido"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields2').first().json.sessionID }}","tableName":"=n8n_chat_histories_PQ"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1872,-144],"id":"c196cb12-5abd-4bc7-bf5b-edc0b5386f67","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","operation":"update","tableId":"leads","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Edit Fields2').first().json.sessionID }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"nome_decisor","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"},{"fieldId":"telefone_decisor","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"},{"fieldId":"email_decisor","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-1264,432],"id":"5a30e11f-6d47-45da-8fe9-3af13498410f","name":"update_decisor","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-1712,-144],"id":"eb0d05ca-4f93-4fc6-a333-0dce7951f5af","name":"Calculadora"},{"parameters":{"name":"buscar_produto_mc","description":"=**Descrição:**  \nRetorna produtos do catálogo da MC Tintas com base no pedido do cliente.  \nA ferramenta **NÃO FORMATA TEXTO**. Ela apenas retorna os dados para o agente processar.\n\n**Inputs obrigatórios:**  \n- `superficie` (parede, piso, madeira, etc.)  \n**Inputs opcionais:**  \n- `marca`, `cor`, `volume`, `acabamento`, `base_padrão`\n\n**Formato do output (exemplo):**  \n```json\n{\n  \"produtos\": [\n    {\n      \"descricao\": \"TMC Tinta Acrílica Fosca Premium 18L\",\n      \"preco\": 590.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"TMC1234\"\n    },\n    {\n      \"descricao\": \"CIACOLLOR Tinta Acrílica 18L\",\n      \"preco\": 525.00,\n      \"volume\": \"18L\",\n      \"disponibilidade\": \"sim\",\n      \"departamento\": \"tintas\",\n      \"codigo_produto\": \"CIA4567\"\n    }\n  ]\n}\n","workflowId":{"__rl":true,"value":"g99qPESpxV9QXruP","mode":"list","cachedResultUrl":"/workflow/g99qPESpxV9QXruP","cachedResultName":"Busca Produto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"TermoPesquisa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TermoPesquisa', ``, 'string') }}","Marca":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","TamanhoVolume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TamanhoVolume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","superficie":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('superficie', ``, 'string') }}","telefoneCliente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefoneCliente', ``, 'string') }}","tipoPoduto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipoPoduto', ``, 'string') }}","BasePadrão":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BasePadr_o', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"TermoPesquisa","displayName":"TermoPesquisa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"TamanhoVolume","displayName":"TamanhoVolume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"superficie","displayName":"superficie","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefoneCliente","displayName":"telefoneCliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipoPoduto","displayName":"tipoPoduto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"BasePadrão","displayName":"BasePadrão","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-1552,-144],"id":"d52b6eac-eb0d-43cb-8283-266a84826ae4","name":"buscar_produto_mc"},{"parameters":{"description":"use essa ferramenta para buscar preço de cores personalizadas ( tintometricas)","workflowId":{"__rl":true,"value":"tyj53SyW8fYXDNjN","mode":"list","cachedResultName":"TINTOMÉTRICO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Marca":"={{ $fromAI('Marca', ``, 'string') }}","Cor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cor', ``, 'string') }}","Volume":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Volume', ``, 'string') }}","Acabamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Acabamento', ``, 'string') }}","codigoCor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('codigoCor', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Cor","displayName":"Cor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Volume","displayName":"Volume","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Acabamento","displayName":"Acabamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"codigoCor","displayName":"codigoCor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1200,-144],"id":"1096926f-e4a7-4d5b-a89f-60e15c5436f6","name":"preco_tintometrico"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2064,-144],"id":"cadea696-1165-415f-98ea-3df3fdd928e4","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"name":"avisar_vendedor","description":"=informe aqui ao vendedor após o atendimento iniciado finalizado.\n\nQUANDO O CLIENTE CHEGAR e informar o nome (AVISE AO VENDEDOR COM O NOME E NUMERO) e sempre deixe a mensagem um pouco personalizada OBS: SOMENTE A DE AVISO QUE ESTÁ ATENDENDO UM CLIENTE ex:\n\"Acabou de chegar mais um cliente aqui, o {{nome}}! Estou Atendendo 👩‍💼 Se precisar de mais detalhes, dá uma olhada no WhatsApp dele: {{ $json.telefone }}.*\"\n\no vendedor além do nome do produto e o codigo do produto precisa do: NOME DO CLIENTE, FORMA DE PAGAMENTO, ENDEREÇO COMPLETO, CPF OU CNPJ,CLASSIFICAÇÃO SE É PINTOR, ARQUITETO, ETC... E DO NUMERO DE TELEFONE INFORMADO AQUI {{ $json.telefone }}\n\nentregue de forma bonita e organizada ex:\n\n*acabei de fechar o orçameto do (nome), e ele está solicitando um vendedor✅*\n\nCPF OU CNPJ INFORMADO:\nCLASSIFICAÇÃO:\nWHATSAPP:\nENDEREÇO COMPLETO:\n\npedidos com o codigo: (coloque aqui todos produtos que o cliente pediu + os codigos + preço individual)\n•PRODUTO 1 (CODIGO) (PREÇO)\n•PRODUTO 2 (CODIGO) (PREÇO)\n\n*preço total: R$*\n\n*A TRATAR COM O VENDEDOR:* (coloque aqui produtos que foi solicitado e não estão no banco de dados, como tintas e etc) e de um resumo do que o vendedor tem que verificar/fazer","workflowId":{"__rl":true,"value":"DgC0V41tfAPy5YSP","mode":"list","cachedResultName":"avisar vendedor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-1376,-144],"id":"53ae2217-525b-4252-bdca-5ea08a82623e","name":"avisar_vendedor"},{"parameters":{"assignments":{"assignments":[{"id":"63d57e10-8303-45a7-ac62-d7ce5fb235d1","name":"phone","value":"={{ $('dados_para_atendimento_humano1').first().json.Telefone }}","type":"string"},{"id":"c1ab4f10-3cfd-4ff4-a95c-7b28236a1cb0","name":"conversation_id","value":"={{ $('Edit Fields2').item.json.sessionID }}","type":"string"},{"id":"df58dbca-e900-466d-95cf-07bbdf24551c","name":"user_msg","value":"={{ $('Mensagem Completa').item.json.conversation }}","type":"string"},{"id":"ad600e00-2584-464e-b96b-6f49e36d7bd7","name":"bot_msg","value":"={{ $json.output }}","type":"string"},{"id":"16e366f0-7dd0-43ef-b28a-a35b0576c55a","name":"message_type","value":"={{ $('dados_para_atendimento_humano1').item.json.MediaType }}","type":"string"},{"id":"1a481ecb-c84d-4d1d-9d51-6f63412bdf7c","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"31c399bf-6ce4-4254-be79-ac961ff7a695","name":"loja","value":"={{ $('dados_para_atendimento_humano1').item.json.Loja }}","type":"string"},{"id":"ebaac0de-97ac-4439-91e4-1ff16a9bdda7","name":"vendedor","value":"=Gustavo","type":"string"},{"id":"65444a07-36af-444d-909a-9724dbb7cbb5","name":"Nome","value":"={{ $('dados_para_atendimento_humano1').item.json.Nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1296,-400],"id":"556dff21-13a3-463b-9185-e9c9499c2c36","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"={{ $json.conversation }}","options":{"systemMessage":"=# IDENTIDADE E MISSÃO\n\nVocê é TARS, assistente especialista de IA da Tintas MC. Sua função é atender clientes de forma clara, objetiva e natural, emulando um vendedor experiente. Objetivo principal: encontrar produtos usando as ferramentas disponíveis.\n\n**Nome da loja** - Tintas MC Vila Mascote\nEndereço - Av. Santa Catarina, 670 - Vila Alexandria, São Paulo - SP, 04635-001.\nHorário de funcionamento:\nSegunda a sexta - 08h às 18h\nSábado - 08h às 14h\nDomingos e feriados - fechado\n**Entregas:**\nsegunda a sexta - 8h30 às 18h\nsábado - 8h30 às 13h\nFora desses horários - à combinar\n**Condições de pagamento**:\nPIX\nDinheiro\nCartão de débito e crédito\nPara parcelamento no cartão consultar um vendedor\nBoleto (mediante análise de crédito)\n\n- Tom: WhatsApp vendedor experiente - direto, prestativo, eficiente\n- Saudação inicial: \"Olá! Sou Tars, Inteligencia Artificial da TINTAS MC.\"\n\n---\n\n## PROCESSAMENTO DE LISTAS (REGRA CRÍTICA)\n\n### QUANDO CLIENTE ENVIAR LISTA COM MÚLTIPLOS ITENS\n\n**NUNCA** fazer uma busca única com todos os itens. **SEMPRE** seguir este processo:\n\n### 1. SEPARAR EM CATEGORIAS\n\n- **TINTAS BRANCAS** (buscar_produto_mc)\n- **TINTAS COLORIDAS** (preco_tintometrico)\n- **ACESSÓRIOS** (buscar_produto_mc)\n- **PRODUTOS ESPECIAIS** (buscar_produto_mc)\n\n### 2. VALIDAR DADOS DE CADA CATEGORIA\n\n**ANTES de qualquer busca, verificar se tem TODAS as informações:**\n\n### Para Tintas (brancas ou coloridas):\n\n- ✅ Marca, Volume, Acabamento, Cor completos?\n- ❌ Se faltar: perguntar e PARAR até completar\n\n### Para Acessórios:\n\n- ✅ Especificações necessárias completas? (tamanho, tipo, gramatura, etc.)\n- ❌ Se faltar: perguntar e PARAR até completar\n\n### 3. FAZER BUSCAS SEPARADAS\n\n- Uma busca por categoria\n- Uma categoria de cada vez\n- Só buscar categoria com dados completos\n\n### 4. EXEMPLO DE PROCESSAMENTO\n\n**Lista:** \"10 lixas, 2 rolos, 1 lata branca 18L, 1 tinta azul 3,6L\"\n\n**Separação:**\n\n- **Acessórios:** lixas (falta: tipo, gramatura), rolos (falta: tipo, tamanho)\n- **Tinta branca:** lata 18L (falta: marca, acabamento)\n- **Tinta colorida:** azul 3,6L (falta: marca, acabamento, base)\n\n**Ação:** Perguntar TODAS as informações faltantes de uma vez, depois fazer buscas separadas\n\n---\n\n## FLUXO DE ATENDIMENTO (MÁQUINA DE ESTADOS)\n\n### 1. SAUDAÇÃO\n\n- Usar saudação inicial **APENAS 1x** por conversa\n- **NUNCA** perguntar \"Como posso te ajudar?\"\n- Extrair entidades do pedido: produtos, quantidades, superfícies\n\n### 2. CLASSIFICAÇÃO DE PRODUTOS\n\n**Para cada item solicitado:**\n\n- É TINTA? → Se NÃO: Estado 3A (Produto Não-Tinta)\n- É TINTA? → Se SIM: Estado 3B (Validação de Tinta)\n\n### 3A. PRODUTOS NÃO-TINTA\n\n- Coletar dados necessários específicos\n- Chamar `buscar_produto_mc`\n- Ir para Estado 5 (Orçamento)\n\n### 3B. VALIDAÇÃO DE TINTA (PORTÃO CRÍTICO)\n\n**ANTES DE BUSCAR QUALQUER TINTA, VOCÊ DEVE TER:**\n\n- ✅ **MARCA** (TMC, Ciacollor, Suvinil, Coral, etc.)\n- ✅ **VOLUME** (20L,18L, 3,6L, 0,9L - normalizado)\n- ✅ **ACABAMENTO** (fosco, acetinado, semibrilho)\n- ✅ **COR** (branco, Gengibre, Crômio, etc.)\n\n**SE FALTAR QUALQUER DADO:** Pergunte APENAS o que falta e PARE\n\n- Exemplo: \"Qual acabamento: fosco, acetinado ou semibrilho?\"\n\n### 4. BUSCA DE TINTA\n\n- **Cor = \"branco\"** → `buscar_produto_mc`\n- **Cor ≠ \"branco\"** → `preco_tintometrico`\n- **Sem marca informada:** perguntar preferência → sugerir TMC → buscar 3 níveis\n\n### 5. ORÇAMENTO E FINALIZAÇÃO\n\n- Montar orçamento usando NOMES EXATOS dos produtos retornados\n- Sempre organizar por categorias, com preços unitários e totais, para ficar fluido e facil de entender.\n- Coletar dados do cliente se aprovado\n- Chamar `avisar_vendedor` no final\n\n---\n\n## FERRAMENTAS E PARÂMETROS\n\n### `buscar_produto_mc` - Para produtos não-tinta e tintas brancas\n\n**Parâmetros do schema:**\n\n- `TermoPesquisa` - termo principal de busca\n- `Marca` - nome da marca\n- `Cor` - cor do produto\n- `TamanhoVolume` - volume (20L,18L, 3,6L, 0,9L)\n- `Acabamento` - acabamento\n- `superficie` - tipo de superfície\n- `telefoneCliente` - telefone do cliente\n- `tipoPoduto` - tipo do produto\n- `BasePadrão` - base (água, solvente)\n\n### `preco_tintometrico` - Para cores específicas (não branco)\n\n**Parâmetros do schema:**\n\n- `Marca` - nome da marca (obrigatório)\n- `Cor` - nome da cor (obrigatório)\n- `Volume` - volume (obrigatório)\n- `Acabamento` - acabamento (obrigatório)\n- `Base` - tipo de base (obrigatório)\n\n---\n\n## CONVERSÕES E NORMALIZAÇÕES\n\n### VOLUMES (Normalizar Antes da Busca)\n\n- `lata` → `18L`\n- `galão`, `galao` → `3,6L`\n- `um quarto`, `1/4`, `quartinho` → `0,9L`\n- `balde´→ 20L\n- **SEMPRE** assuma os termos sem precisar perguntar para confirmar.\n\n### PRODUTOS COMUNS\n\n- `latex`, `pva` → `tinta acrílica`\n- `pva suvinil`, `clássica pva` → `toque fosco`\n- `brasileirinho` → `ROLO LA SINTETICA TIGRE`\n- `antirespingo` → `CONDOR ROLO DE LA S/SUP REFIL`\n\n---\n\n## CONHECIMENTO DE PRODUTOS\n\n## TINTAS\n\n- **Custo-benefício:** TMC (Tintas MC)\n- **Ordem alternativa:** Ciacollor → Suvinil → Sherwin-Williams → Coral\n- **PVA sem marca:** linha Inspira da TMC\n- **PVA da Suvinil:** \"Toque Fosco\"\n\n### MASSA CORRIDA\n\n- **Marca padrão:** TMC\n- **Busca:** \"TMC MASSA CORRIDA 23KG BARRICA\"\n- **Volumes:** 5,6kg e 23kg\n\n### ESMALTES\n\n- **Pergunta obrigatória:** \"Base água ou solvente?\"\n- Seca rápido e sempre base água\n- **Orientação:** 3,6L pinta 5 portas | 0,9L pinta 1 porta\n\n### CIMENTO QUEIMADO\n\n- **Produto:** Suvinil Efeito Cimento Queimado 5KG\n- **Cores prontas:** Avenida Expressa, Dia de Chuva, Pedra Rosada, Selva de Pedra, Tunel de Concreto, Vista Noturna\n- **Tamanho:** APENAS 3,6L\n- **Cores personalizadas:** `preco_tintometrico` com `acabamento: \"MASSA PARA EFEITOS\"`\n\n### ROLOS\n\n- **Espuma:** Perguntar tamanho (5cm, 9cm, 15cm)\n- **\"10 polegadas\"** = 9cm\n\n### Epoxi\n- **Epoxi base água:**  Ciacollor\n- **Epoxi base solvente:** Wandepoxy Coral (tintométrico)\n\n\n### Diluente\n- Se o cliente escolher base solvente, ofereça Aguarrás Ciacollor.\n\n## ACESSÓRIOS\n\n### Fita Crepe\n\n- **Marca:** ADERE\n- **Pergunta:** Larga (48mm) ou média (24mm)?\n- **Busca:** \"\"ADERE FITA CREPE USO GERAL BEGE 423 \"\"\n\n### Lixa\n\n- **Marca:** NORTON\n- **Perguntas:** Tipo (massa/ferro/água), gramatura, quantidade\n- **Padrão:** lixa massa\n\n### Fundo Preparador\n\n- **Perguntas:** Madeira ou parede? Base água ou solvente?\n- **Marcas:** Ciacollor Suvinil e TMC\n\n### Trincha/Pincel\n\n- **Padrão:** TIGRE linha 695\n- **Busca:** `tigre trincha economica media 695`\n\n### Lona preta\n- Especificações: Largura: Todas 4 m;\n- Preço Metro: R$ 3,50;\n- Preço Rolo 100m: R$ 2,50/metro (total R$ 250,00);\n- Rolos Disponíveis: [\"10 m\",\"20 m\",\"50 m\",\"100 m\"];\n- Tipo Transparente: Mesmo preço da preta.\n\n### Papelão\n- Nome: PAPELÃO ONDULADO 1,20 X 1 METRO (VENDA P/ METRO).\n- Largura: Todos 1.2m.\n- Preço Metro: R$ 5,00.\n- Rolo: PAPELÃO ONDULADO 1,20 X 30M ROLO FECHADO.\n- Preço Rolo: R$ 219,90.\n\n---\n\n## APRESENTAÇÃO DE PRODUTOS (LINGUAGEM NATURAL)\n\n### 3 Opções de Tinta\n\n\"Encontrei essas opções de tinta branca fosca 18L:\n\n*Básica* - TMC Econômica por R$ 240,00\n*Intermediária* - TMC Acrílica por R$ 285,00\n*Premium* - Suvinil Rende Muito por R$ 380,00\n\nQual faz mais sentido pra você?\"\n\n### Item Único\n\n- \"Suvinil Rende Muito Branco Fosco 18L sai por R$ 380,00. É essa mesmo?\"\n- \"Rolo de lã 9cm da Tigre por R$ 18,50. Quantos você precisa?\"\n\n### 📋 Orçamento Parcial\n\n### Tintas\n\n- Suvinil branca fosca 18L\n    \n    Qtde: 1 | Unitário: R$ 380,00 | Subtotal: **R$ 380,00**\n    \n- Esmalte azul\n    \n    ❓ Qual base: água ou solvente?\n    \n\n### Acessórios\n\n- Rolos\n    \n    ❓ Quantos você precisa?\n    \n\n**💰 Total Parcial:** **R$ 380,00**\n\n---\n\n### 📋 Orçamento Final\n\n### 🎨 Tintas\n\n- **Suvinil Rende Muito Branco Fosco 18L**\n    \n    Qtde: 2 | Unitário: R$ 380,00 | Subtotal: **R$ 760,00**\n    \n\n### 🛠️ Acessórios\n\n- **Rolo lã sintética 9cm Tigre**\n    \n    Qtde: 1 | Unitário: R$ 18,50 | Subtotal: **R$ 18,50**\n    \n- **Fita crepe larga Adelbras**\n    \n    Qtde: 1 | Unitário: R$ 12,90 | Subtotal: **R$ 12,90**\n    \n\n**💰 Total Geral:** **R$ 791,40**\n\n---\n\n**Cliente:** João Silva\n\n**Telefone:** (11) 99999-9999\n\n**Pagamento:** PIX\n\n**Entrega:** Rua das Flores, 123\n\n📅 *Orçamento válido por 7 dias*\n\n### Coleta de Dados\n\n1. **Aprovação:** \"Perfeito! Fechamos então 👍. Só preciso de alguns dados pra finalizar: seu nome completo, CPF e telefone. E onde quer receber?\"\n2. **Pagamento:** \"Beleza! Como prefere pagar? PIX, cartão, dinheiro ou boleto?\"\n3. **Final:** \"Pronto! Vou passar seus dados para um vendedor finalizar tudo. Ele vai te chamar em alguns minutos!\"\n\n---\n\n## REGRAS RÍGIDAS - NÃO VIOLAR\n\n### PRIORIDADE MÁXIMA\n\n- **NUNCA** buscar tinta sem os 4 dados obrigatórios\n- **SEMPRE** usar o nome EXATO retornado pelas ferramentas - nunca simplifique ou invente\n- **NUNCA** usar `buscar_produto_mc` para cores tintométricas\n- **SEMPRE** perguntar base para esmaltes\n- **Marca não informada:** perguntar e oferecer 3 níveis TMC\n- Se o cliente pedir quais cores tem disponiveis, deve oferecer o catalogo online das marcas e nao sugerir nenhuma cor e aguardar o cliente escolher.\n**SUVINIL**: https://www.suvinil.com.br/cores**CORAL**: https://www.coral.com.br/pt/paletas-de-cor#tabId=paletas-de-cores**sherwin williams:** https://sherwin.com.br/cores/\n\n### COMPORTAMENTOS PROIBIDOS\n\n- Inventar preços ou características\n- Apresentar preço sem chamar ferramenta\n- Usar nomes genéricos em vez do nome exato da ferramenta\n- Perguntar informações que já possui\n- Frases de espera (\"Vou verificar no sistema\")\n- Cálculos de rendimento\n- Produtos fora do escopo pintura/acessórios\n- **Respostas muito longas ou formais para listas**\n- **Formatação markdown excessiva (---, ###, seções)**\n- **Linguagem robótica ou estruturada demais**\n- **Uso excessivo de emojis na apresentação de produtos**\n- **Separar produtos por seções com emojis (🎨, 🛠, etc.)**\n- Indicar Cores tintométricas, se o cliente nao souber, enviar o catálogo.\n\n### PROCESSAMENTO DE LISTAS\n\n- Separar entidades ANTES de chamar ferramentas\n- Processar item por item\n- Perguntar APENAS informações faltantes\n- Para \"esse aí\", \"o terceiro\": capturar código correspondente\n\n## Fallback para Erro de Tool\n- Condição: Se alguma ferramenta retornar erro de schema.\n- Ação: Revalidar campos obrigatórios e reformular chamada baseada no último estado válido."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1664,-400],"id":"5cdb68b0-9e10-48c2-8e82-62504b5d132c","name":"AI Agent1","alwaysOutputData":true,"executeOnce":false},{"parameters":{"jsCode":"/**\n * Recebe items contendo campos Redis1 e Redis2 como strings JSON de arrays de mensagens.\n * Analisa ambos, une apenas as mensagens diferentes (sem duplicatas) e retorna uma única string.\n */\nfunction mergeUniqueMessages(items) {\n  // Obtém as strings brutas\n  const raw1 = items[0].json.Redis1;\n  const raw2 = items[0].json.Redis2;\n\n  // Função para parsear com segurança\n  function safeParse(raw) {\n    if (!raw) return [];\n    try {\n      const parsed = JSON.parse(raw);\n      return Array.isArray(parsed) ? parsed : [parsed];\n    } catch {\n      return [raw];\n    }\n  }\n\n  // Parse das duas fontes\n  const arr1 = safeParse(raw1);\n  const arr2 = safeParse(raw2);\n\n  // Une e remove duplicatas mantendo ordem de ocorrência\n  const unique = [];\n  [...arr1, ...arr2].forEach(msg => {\n    if (!unique.includes(msg)) unique.push(msg);\n  });\n\n  // Junta numa única conversa\n  const conversation = unique.join(' ');\n\n  return [{ json: { conversation } }];\n}\n\n// No n8n Function Node, basta retornar:\nreturn mergeUniqueMessages(items);\n"},"id":"bb3b2c2b-aa1c-437d-9a02-f5c86216b58a","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1904,-400]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Session ID').first().json.sessionid }}","tableName":"n8n_chat_histories_tmc","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1872,448],"id":"682c1012-a7d9-44c2-a752-05293c55c06c","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"M4iKJE2QWaXY4L2F","name":"supabasepostgres"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5424,384],"id":"5b847bcb-5018-417f-a2bf-6fe2d15f7a8f","name":"No Operation, do nothing"},{"parameters":{"operation":"push","list":"={{ $json.sessionid }}","messageData":"={{ $('Data').item.json.mensagem }}","tail":true},"id":"4ef8c332-c20e-4a64-82a9-086e4ff0aef9","name":"Text Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3120,64],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Session ID').item.json.sessionid }}","messageData":"={{ $json.text }}","tail":true},"id":"9436d87f-fa3b-46ff-bb63-11600952a1d2","name":"Audio Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3120,224],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6144,-112],"id":"34e17aee-6ac2-426f-acff-a7af7dd8f85f","name":"No Operation, do nothing1"},{"parameters":{"operation":"push","list":"={{ $('Session ID').item.json.sessionid }}","messageData":"={{ $json.message }}","tail":true},"id":"04d9a815-0970-4bac-9a71-b6ee4e187483","name":"PDF Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3136,-128],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3488,-128],"id":"04a7f794-bb3f-4067-8b42-cb179b4320f0","name":"Extract from File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02c85aa3-873d-46a1-8e7b-4d0c7a21937e","leftValue":"={{ $json.body.message.wasSentByApi }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6512,112],"id":"4988750c-0b0f-40c7-b2ca-a2d8b77b4ca6","name":"Verifica msg API"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.fromMe }}","rightValue":"true","operator":{"type":"string","operation":"equals"},"id":"e1111e6f-d830-4f61-ab5c-ca8673b6d6af"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $json.fromMe }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"00a8098b-0000-475a-b7a7-855c70fd92e8","name":"ROTA 'FromMe'","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-6096,128]},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.Telefone }}_block1","options":{}},"id":"69765592-7be1-4bc2-a52e-bc18f81d0687","name":"Verifica Block","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5840,144],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Desativada"}]},"options":{}},"id":"afa5d09e-afcd-400c-93be-55d7236cc925","name":"ROTA Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-5648,144]},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","operation":"get","tableId":"leads","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Data').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5424,128],"id":"f30582eb-f2ae-48ab-8cbf-bca8e12039e9","name":"Get ID","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ Boolean($('Get ID').item.json.telefone?.trim()) }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5200,128],"id":"f7fcfcf0-1ba8-453d-aa46-2cf5b4bdb8fc","name":"Existe?"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-4944,288],"id":"cb133ea4-d122-49e7-9ea8-0149ff4b665a","name":"Gera ID"},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","tableId":"leads","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Data').item.json.Telefone }}"},{"fieldId":"criado_em","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4672,288],"id":"9c27aacb-11b8-4197-9d5a-5fc40bb3c1e4","name":"Cria cliente","credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"21dbf9bd-2cbd-4a6b-9489-5dd97dfa1f23","name":"sessionid","value":"={{ $json.sessionid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4416,112],"id":"b11af920-8154-41ed-ae72-c429514e0952","name":"Session ID"},{"parameters":{"useCustomSchema":true,"schema":"ProQuantum","operation":"get","tableId":"leads","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Data').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4816,112],"id":"dff12b56-5539-43ad-a1f9-09c8b813b92c","name":"Get Dados","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"PSMftmurua48DZ8o","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"320e4453-4773-471e-863d-a736de2fbff3","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"DocumentMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"Conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"77507905-2987-4aca-9840-4b989f562307","leftValue":"={{ $('Data').item.json.MediaType }}","rightValue":"=ExtendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Data').item.json.mimetype }}","rightValue":"=audio/ogg; codecs=opus","operator":{"type":"string","operation":"contains"},"id":"839edd08-57e9-4dc3-abdd-1950e09e1572"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Data').item.json.mimetype }}","rightValue":"image/jpeg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem/jpeg"}]},"options":{}},"id":"587663b8-1364-4fc2-bc01-19fbd5409b2b","name":"ROTA Media","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4224,64]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"56979409-93e0-4884-9bb5-63ae543b4044","name":"HTTP PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3856,-128]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"4ceed275-2853-4323-b3d5-af23cfd4c138","name":"HTTP Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3840,224]},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Data').item.json.ID }}"},{"name":"return_base64","value":"true"}]},"options":{}},"id":"b52ebebc-3888-4277-9c1e-21c944324b97","name":"HTTP Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3840,416]},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"audio.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3584,224],"id":"4d021515-5ff9-4609-ab98-69d37802a5ae","name":"Convert to File - audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3568,416],"id":"5dc60ae3-8bd1-4fef-8d9d-e8b84d362d8c","name":"Convert to File - image"},{"parameters":{"operation":"toBinary","sourceProperty":"base64Data","binaryPropertyName":"=data","options":{"fileName":"application/pdf"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3664,-128],"id":"93fb9594-6fa8-4e70-bc80-8d802c244ce7","name":"Convert to File - PDF"},{"parameters":{"assignments":{"assignments":[{"id":"0be9e760-815b-42e8-9046-26820462edd9","name":"message","value":"=<ContextoPDF>\n  <TranscricaoPDF>\n  {{ $json.text }}\n  </TranscricaoPDF>\n  </MensagemUsuario>\n    <titulodocumento>\n    {{ $json.info.Title }}\n    </titulodocumento>\n</ContextoPDF>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3328,-128],"id":"78aa9d9c-4508-4d81-8134-260b20b92904","name":"Normaliza"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"edbe4492-6cbb-4891-b56d-f3f832331d49","name":"IA Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-3328,224],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"=Extraia e normalize todos os itens, separando nome, quantidade e unidade. Organize tudo em uma lista clara e completa, sem omitir nenhum item.","inputType":"base64","options":{}},"id":"7851c51f-0061-49e7-ade8-44d909d770aa","name":"IA image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-3312,416],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"operation":"push","list":"={{ $('Session ID').item.json.sessionid }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"707c6cf7-35ac-42d7-9a71-2432f2836c60","name":"Image Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3120,416],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f8ccd10b-1b4e-411a-bbaa-4309b3b3674c","name":"Telefone","value":"={{ $json.body.message.chatid.replace('@s.whatsapp.net', '').replace(/^55/, '') }}","type":"string"},{"id":"59c45e98-ef1f-40c7-89ee-8ad95c526a47","name":"Nome","value":"={{ $json.body.message.senderName }}","type":"string"},{"id":"cc803d9f-a567-49a6-862b-eafb26530a5f","name":"baseUrl","value":"={{ $json.body.BaseUrl }}","type":"string"},{"id":"fb52083d-7ecc-4500-ae99-6ac10f890eb6","name":"mensagem","value":"={{ $json.body.message.text }}","type":"string"},{"id":"a35923ee-5a33-457e-865a-ec18797bdbdc","name":"MediaType","value":"={{ $json.body.message.messageType }}","type":"string"},{"id":"52785e95-c1de-4e99-9351-5c00b66625ed","name":"mediaType","value":"={{ $json.body.message.mediaType }}","type":"string"},{"id":"b02a1dc1-7701-4000-b741-64f055162c1f","name":"fromMe","value":"={{ $json.body.message.fromMe }}","type":"string"},{"id":"39d5db02-688b-4acc-b948-0e33ea39367f","name":"instancia","value":"={{ $json.body.instanceName }}","type":"string"},{"id":"e8bf96e4-15b5-4cf5-9f82-51de6ad5aa9d","name":"Token","value":"={{ $json.body.token }}","type":"string"},{"id":"f6b9e33a-3519-4c41-972b-b764f85b0b77","name":"URL","value":"={{ $json.body.message.content.URL }}","type":"string"},{"id":"cca9b610-095e-4b95-9083-ccddcab136b5","name":"mimetype","value":"={{ $json.body.message.content.mimetype }}","type":"string"},{"id":"cb172d5c-1327-4649-92d4-5cb6fce95fce","name":"ID","value":"={{ $json.body.message.messageid }}","type":"string"},{"id":"e614329e-fdeb-49f0-b9e3-c77bd84128b1","name":"Telefone_block","value":"={{ $json.body.chat.phone.replace(/\\D/g, '').substring(2) }}","type":"string"},{"id":"82b62dcb-586c-48cb-b49d-c6138bf30894","name":"Loja","value":"179","type":"string"}]},"options":{}},"id":"66d38e32-5d77-4355-8a40-431b269f2159","name":"Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6288,128]},{"parameters":{"operation":"set","key":"={{ $json.Telefone_block }}_block1","value":"true","keyType":"string","expire":true,"ttl":900},"id":"4dd25d61-ef2b-4740-96ff-e098aeaba0ef","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5856,-64],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{},"id":"01246eec-9539-4ed9-b16e-a7215bbca356","name":"Wait9","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2656,192],"webhookId":"d2608e95-2419-4f68-af29-8aa4483c7b30","disabled":true},{"parameters":{"operation":"get","key":"={{ $('Session ID').item.json.sessionid }}","options":{}},"id":"09e9b5d2-1bb1-4300-832f-f383ef9c20e3","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2816,192],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Session ID').item.json.sessionid }}","options":{}},"id":"70778d38-0dec-492d-89a8-834679d838b1","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2512,192],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"3cbab406-164a-42a8-bac4-33a59da531a7","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2144,192]},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"6587df92-24af-401d-8798-42797c78afb9","name":"Edit Fields12","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2336,192]},{"parameters":{"jsCode":"/**\n * Recebe items contendo campos Redis1 e Redis2 como strings JSON de arrays de mensagens.\n * Analisa ambos, une apenas as mensagens diferentes (sem duplicatas) e retorna uma única string.\n */\nfunction mergeUniqueMessages(items) {\n  // Obtém as strings brutas\n  const raw1 = items[0].json.Redis1;\n  const raw2 = items[0].json.Redis2;\n\n  // Função para parsear com segurança\n  function safeParse(raw) {\n    if (!raw) return [];\n    try {\n      const parsed = JSON.parse(raw);\n      return Array.isArray(parsed) ? parsed : [parsed];\n    } catch {\n      return [raw];\n    }\n  }\n\n  // Parse das duas fontes\n  const arr1 = safeParse(raw1);\n  const arr2 = safeParse(raw2);\n\n  // Une e remove duplicatas mantendo ordem de ocorrência\n  const unique = [];\n  [...arr1, ...arr2].forEach(msg => {\n    if (!unique.includes(msg)) unique.push(msg);\n  });\n\n  // Junta numa única conversa\n  const conversation = unique.join(' ');\n\n  return [{ json: { conversation } }];\n}\n\n// No n8n Function Node, basta retornar:\nreturn mergeUniqueMessages(items);\n"},"id":"6541eb17-e9fb-4a3d-acb2-fd9ba78ed4f0","name":"Mensagem Completa1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1840,176]},{"parameters":{"operation":"delete","key":"={{ $('Session ID').first().json.sessionid }}"},"id":"119d4f6f-a485-463e-90ac-31d2961abda0","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-144,16],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55{{ $('Data').item.json.Telefone }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-160,192],"id":"3408e7b4-5975-44b6-a6fd-7d07a81f1fd5","name":"Envia MSG"},{"parameters":{"options":{}},"id":"82e0c910-c792-44e7-9fc5-3afb4a6e8c74","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-832,352],"credentials":{"openAiApi":{"id":"FZqsvbxbSDvx1GVL","name":"Brasil Solos"}}},{"parameters":{"options":{}},"id":"2e53e47e-c7e3-4146-b5b7-a28b78c0b0a5","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-400,176]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"e939ff50-0818-4c18-aca9-53be54bac1d2","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-688,352]},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $('Tars').item.json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Jamais separe uma mensagem vazia.\n\n### Sempre que tiver um link envie ele de forma separada sem alteração\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do whatsapp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- ~tachado~ (caso seja algo que foi excluído ou alterado)\n\t\t\t- _itálico_.(extremamente raro)\n            - `link` (usar sempre em todos os links)"}]}},"id":"f68a05b3-5903-45c0-a481-ae67ad545df4","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-816,176]},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"c2a249c0-637d-4207-8f69-27a1f00767e0","name":"Split de Mensagem","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-560,176]},{"parameters":{"amount":1},"id":"b0575759-daee-48c1-b9b9-fa8b505e442b","name":"1 segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[32,192],"webhookId":"1790880a-6851-4d16-8eec-4c70e19edd89"},{"parameters":{"promptType":"define","text":"={{ $json.conversation }}","options":{"systemMessage":"=# TARS - Representante Comercial Ciacollor\n\n## Identidade\nVendedor B2B consultivo e estratégico. Foco: FECHAR negócios com lojistas de tintas.\n\n## Objetivo\n1. Identificar se é DECISOR ou GATEKEEPER\n2. Qualificar e apresentar valor\n3. Coletar dados necessários\n4. Fechar oportunidade (classificar como QUENTE)\n\n---\n\n## REGRA CRÍTICA: Perfil do Contato\n\n**PRIMEIRA PERGUNTA OBRIGATÓRIA:**\n\"Você é o proprietário ou cuida das compras?\"\n\n### Se DECISOR (dono/sócio/gerente):\n- Marcar: `eh_decisor: true`\n- Estratégia: Venda direta\n- Coletar: nome, empresa, cidade, telefone/email\n\n### Se GATEKEEPER (vendedor/atendente):\n- Marcar: `eh_decisor: false`\n- Estratégia: Rapport + captura do decisor\n- Coletar: nome do vendedor + nome_decisor + telefone_decisor/email_decisor\n\n**Técnica para gatekeeper:**\n1. Validar (\"Você está no dia a dia, conhece a realidade\")\n2. Gatilho de dor (\"Quando pintores pedem marca que não tem, perde venda?\")\n3. Solução (\"Ciacollor treina pintores, eles pedem na loja, vocês têM\")\n4. Posicionar (\"Mas fornecedor é decisão do dono, né?\")\n5. Capturar (\"Como ele se chama? Qual contato dele?\")\n\n---\n\n## Diferenciais Ciacollor\n\n**Proposta:** \"Nem sempre menor preço, mas SEMPRE melhor proposta\"\n\n1. **Logística:** CD Taboão da Serra, Frete Retira, estoque próximo\n2. **Indústria:** Preço direto da fábrica, não revenda\n3. **Pintores:** Treinamento gratuito, quando pintor pede você TEM\n4. **Linha completa:** Massas, seladores, tintas, esmaltes, texturas\n\n**Região:** SP Capital, Grande SP, ABC, Litoral Sul, Alto Tietê\n**Concorrentes:** Eucatex, Maza, Glasu, Futura, Lukscolor\n\n---\n\n## Status do Lead\n\n- **FRIO:** Pergunta genérica\n- **CURIOSO:** Perguntou sobre produtos/condições\n- **INTERESSADO:** Pediu preço/catálogo/mais detalhes\n- **QUENTE:** Confirmou interesse + TODOS os dados coletados\n\n### Checklist QUENTE (obrigatório):\n\n**Se DECISOR:**\n- ✅ Nome + Empresa + Cidade + (Telefone OU Email) + Confirmação\n\n**Se GATEKEEPER:**\n- ✅ Nome vendedor + Empresa + Cidade + Nome decisor + (Telefone OU Email decisor)\n\n---\n\n## Tools\n\n### `update_lead`\nAtualiza dados do CONTATO INICIAL (quem está conversando)\n\nCampos:\n- `nome` - quem conversa\n- `empresa` - nome da loja\n- `cidade` - cidade\n- `telefone` - se for decisor\n- `email` - se for decisor\n- `eh_decisor` - true/false\n\n### `update_decisor`\nAtualiza dados do DONO (quando gatekeeper passar)\n\nCampos:\n- `nome_decisor` - nome do dono\n- `telefone_decisor` - telefone (opcional)\n- `email_decisor` - email (opcional)\n\n**Regra:** Só usar quando `eh_decisor: false`\n\n### `update_status`\nAtualiza classificação: frio → curioso → interessado → quente\n\n### `emitir_relatorio`\nAutomático quando virar QUENTE\n\n---\n\n## Regras de Ouro\n\n1. **NUNCA** mencione que está usando tools (\"anotei\", \"registrei\")\n2. **SEMPRE** pergunte perfil na primeira mensagem\n3. **SÓ** classifique QUENTE com checklist completo\n4. **COLETE** dados de forma orgânica (não interrogatório)\n5. **CONDUZA** para fechamento quando demonstrar interesse\n6. **MOSTRE** valor antes de preço\n\n---\n\n## Objeções Rápidas\n\n**\"Já tenho fornecedor\"**\n→ \"Ideia é ser SEGUNDA OPÇÃO estratégica pra quando precisar rápido\"\n\n**\"Nunca ouvi falar\"**\n→ \"Expandindo agora na região, vantagem de entrar como parceiro diferenciado\"\n\n**\"Quanto custa?\"**\n→ \"Comercial faz proposta personalizada. Custo-benefício compensa MUITO\"\n\n**\"Não posso passar telefone do dono\"**\n→ \"Mando material pro SEU WhatsApp você repassa? Ou agendamos visita?\"\n\n---\n\n## Apresentação Inicial\n\n> Olá! Sou o TARS da Ciacollor, indústria de tintas.\n>\n> Estamos mapeando lojistas da região para parceria estratégica com desenvolvimento de pintores e condições comerciais diferenciadas.\n>\n> Você é o proprietário ou cuida das compras?\n\n---\n\n## Fluxo Resumido\n\n1. **Identificar** perfil (decisor/gatekeeper)\n2. **Qualificar** necessidades e cidade\n3. **Apresentar** diferenciais conectados à dor\n4. **Coletar** dados faltantes\n5. **Fechar** quando tiver checklist completo\n6. **Classificar** como QUENTE\n\n**Use tools em SILÊNCIO. Seja estratégico mas NATURAL. VENDA com fluidez.**\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1600,176],"id":"cab2d7d8-8685-4c40-96a5-6d23e8efc356","name":"Tars"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7c4cdb12-9452-42a6-a39a-c268bd38dce1","leftValue":"={{ $('Tars').item.json.output.length }}","rightValue":200,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1056,176],"id":"c496c2b9-d2ea-4aa0-bda1-130e225b6ba1","name":"Menos que 240 Caracteres"},{"parameters":{"method":"POST","url":"https://iatars.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"={{ $('Data').item.json.Token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55{{ $('Data').item.json.Telefone }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"delay","value":"1200"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-816,16],"id":"54d77ddd-ad52-4c7c-9b10-12846e1780a0","name":"Envia MSG1"},{"parameters":{"operation":"delete","key":"={{ $('Session ID').first().json.sessionid }}"},"id":"2aba4b0b-b726-45bb-aa17-cf7130d2663a","name":"Delete Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-608,16],"credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}}],"connections":{"Webhook":{"main":[[{"node":"Verifica msg API","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Tars","type":"ai_languageModel","index":0}]]},"update_lead":{"ai_tool":[[{"node":"Tars","type":"ai_tool","index":0}]]},"update_status":{"ai_tool":[[{"node":"Tars","type":"ai_tool","index":0}]]},"insert_pedido":{"ai_tool":[[{"node":"Tars","type":"ai_tool","index":0}]]},"Create a row1":{"main":[[{"node":"Menos que 240 Caracteres","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"update_decisor":{"ai_tool":[[{"node":"Tars","type":"ai_tool","index":0}]]},"Calculadora":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"buscar_produto_mc":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"preco_tintometrico":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"avisar_vendedor":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Tars","type":"ai_memory","index":0}]]},"Text Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"PDF Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Normaliza","type":"main","index":0}]]},"Verifica msg API":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Data","type":"main","index":0}]]},"ROTA 'FromMe'":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"Verifica Block","type":"main","index":0}]]},"Verifica Block":{"main":[[{"node":"ROTA Block","type":"main","index":0}]]},"ROTA Block":{"main":[[{"node":"Get ID","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get ID":{"main":[[{"node":"Existe?","type":"main","index":0}]]},"Existe?":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gera ID","type":"main","index":0}]]},"Gera ID":{"main":[[{"node":"Cria cliente","type":"main","index":0}]]},"Cria cliente":{"main":[[{"node":"Session ID","type":"main","index":0}]]},"Session ID":{"main":[[{"node":"ROTA Media","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"Session ID","type":"main","index":0}]]},"ROTA Media":{"main":[[{"node":"HTTP PDF","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"HTTP Audio","type":"main","index":0}],[{"node":"HTTP Image","type":"main","index":0}]]},"HTTP PDF":{"main":[[{"node":"Convert to File - PDF","type":"main","index":0}]]},"HTTP Audio":{"main":[[{"node":"Convert to File - audio","type":"main","index":0}]]},"HTTP Image":{"main":[[{"node":"Convert to File - image","type":"main","index":0}]]},"Convert to File - audio":{"main":[[{"node":"IA Audio","type":"main","index":0}]]},"Convert to File - image":{"main":[[{"node":"IA image","type":"main","index":0}]]},"Convert to File - PDF":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Normaliza":{"main":[[{"node":"PDF Memory","type":"main","index":0}]]},"IA Audio":{"main":[[{"node":"Audio Memory","type":"main","index":0}]]},"IA image":{"main":[[{"node":"Image Memory","type":"main","index":0}]]},"Image Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Data":{"main":[[{"node":"ROTA 'FromMe'","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa1","type":"main","index":0}]]},"Edit Fields12":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Mensagem Completa1":{"main":[[{"node":"Tars","type":"main","index":0}]]},"Envia MSG":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"OpenAI3":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem","type":"main","index":0}]]},"Split de Mensagem":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Delete Memory","type":"main","index":0}],[{"node":"Envia MSG","type":"main","index":0}]]},"Tars":{"main":[[{"node":"Create a row1","type":"main","index":0}]]},"Menos que 240 Caracteres":{"main":[[{"node":"Envia MSG1","type":"main","index":0}],[{"node":"Parser  Chain","type":"main","index":0}]]},"Envia MSG1":{"main":[[{"node":"Delete Memory1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.iatars.com.br","user-agent":"uazapiGO-Webhook/1.0","content-length":"2242","accept-encoding":"gzip","content-type":"application/json","x-forwarded-for":"187.45.178.254","x-forwarded-host":"webhook.iatars.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"af5f5215f88e","x-real-ip":"187.45.178.254"},"params":{},"query":{},"body":{"BaseUrl":"https://iatars.uazapi.com","EventType":"messages","chat":{"chatbot_agentResetMemoryAt":0,"chatbot_disableUntil":0,"chatbot_lastTriggerAt":0,"chatbot_lastTrigger_id":"","id":"","image":"","imagePreview":"","lead_assignedAttendant_id":"","lead_email":"","lead_field01":"","lead_field02":"","lead_field03":"","lead_field04":"","lead_field05":"","lead_field06":"","lead_field07":"","lead_field08":"","lead_field09":"","lead_field10":"","lead_field11":"","lead_field12":"","lead_field13":"","lead_field14":"","lead_field15":"","lead_field16":"","lead_field17":"","lead_field18":"","lead_field19":"","lead_field20":"","lead_fullName":"","lead_isTicketOpen":false,"lead_kanbanOrder":0,"lead_name":"","lead_notes":"","lead_personalid":"","lead_status":"","lead_tags":[],"name":"","owner":"5511939373127","phone":"","wa_archived":false,"wa_chatid":"5512988112870@s.whatsapp.net","wa_contactName":"","wa_ephemeralExpiration":0,"wa_fastid":"5511939373127:5512988112870","wa_isBlocked":false,"wa_isGroup":false,"wa_isGroup_admin":false,"wa_isGroup_announce":false,"wa_isGroup_community":false,"wa_isGroup_member":false,"wa_isPinned":false,"wa_label":[],"wa_lastMessageSender":"5512988112870@s.whatsapp.net","wa_lastMessageTextVote":"teste","wa_lastMessageType":"ExtendedTextMessage","wa_lastMsgTimestamp":1763466145000,"wa_muteEndTime":0,"wa_name":"Miguel Nunes","wa_unreadCount":1},"instanceName":"Proquantum","message":{"buttonOrListid":"","chatid":"5512988112870@s.whatsapp.net","content":{"text":"teste","contextInfo":{"expiration":0,"ephemeralSettingTimestamp":0,"disappearingMode":{"initiator":0}}},"convertOptions":"","edited":"","fromMe":false,"groupName":"Unknown","id":"5511939373127:3FCD5F632ED92C477A00","isGroup":false,"mediaType":"","messageTimestamp":1763466145000,"messageType":"ExtendedTextMessage","messageid":"3FCD5F632ED92C477A00","owner":"5511939373127","quoted":"","reaction":"","sender":"5512988112870@s.whatsapp.net","senderName":"Miguel Nunes","sender_lid":"127230202142790@lid","sender_pn":"5512988112870@s.whatsapp.net","source":"unknown","status":"","text":"teste","track_id":"","track_source":"","type":"text","vote":"","wasSentByApi":false},"owner":"5511939373127","token":"f5d47bbc-372c-42a4-b26e-3fb6bdb89a73"},"webhookUrl":"https://webhook.iatars.com.br/webhook/proq","executionMode":"production"}}]},"versionId":"9a3da7c9-b441-420d-ad87-b1988dbd09e0","triggerCount":1,"shared":[{"updatedAt":"2025-10-23T13:46:40.649Z","createdAt":"2025-10-23T13:46:40.649Z","role":"workflow:owner","workflowId":"zsWfdZ1y8xQ9SNf1","projectId":"W24N0g2dDZJdiV78"}],"tags":[{"updatedAt":"2025-10-31T13:33:54.737Z","createdAt":"2025-10-31T13:33:54.737Z","id":"qtGfGiuzuUwLYUYL","name":"proQuantum"}]}