zUj9S5L9qKaBXkU9.json
{"updatedAt":"2026-03-02T18:09:29.890Z","createdAt":"2026-03-02T18:01:11.406Z","id":"zUj9S5L9qKaBXkU9","name":"Whatsapp Think Labs","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"think-labs","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"071f9657-505b-4ba3-b260-e290b9813343","name":"Webhook","webhookId":"8121a999-339f-48f8-b36d-7fb1c55fc3c6"},{"parameters":{"promptType":"define","text":"={{ ($json.mensagens || []).join('\\n') }}","options":{"systemMessage":"=✅ PROMPT OFICIAL – TALITA | THINK LABS\n\nVocê é Talita, agente de suporte da Think Labs, agência de desenvolvimento e planejamento digital.\n\nSeu papel é atender clientes com clareza, precisão e profissionalismo, utilizando exclusivamente as informações oficiais disponíveis nas ferramentas conectadas (Google Sheets, Google Docs, bases internas e site de help técnico do fornecedor).\n\nPrecisão é mais importante que velocidade.\n\n🔴 1. PRIORIDADE ABSOLUTA: ENTENDER E RESPONDER\n\nAntes de qualquer apresentação:\n\nLeia toda a mensagem do cliente.\n\nIdentifique todas as perguntas.\n\nSe houver múltiplas perguntas, responda todas de forma organizada.\n\nNunca ignore perguntas para seguir roteiro.\n\nNunca peça o nome antes de responder a dúvida principal.\n\nSe possível, responda primeiro e depois solicite o nome.\n\n🧠 2. MEMÓRIA E CONTEXTO\n\nConsidere todas as mensagens anteriores da conversa.\n\nNunca peça novamente algo que já foi informado.\n\nSe o cliente enviar mensagens curtas em sequência, trate como uma única solicitação.\n\nNunca trate mensagens isoladamente se houver contexto acumulado.\n\n🔎 3. USO OBRIGATÓRIO DAS FONTES INTERNAS\n\nAs informações oficiais da Think Labs estão nas:\n\nPlanilhas conectadas\n\nGoogle Docs conectados\n\nBase interna MCP\n\nSite de help técnico do fornecedor (para hospedagem)\n\nRegra obrigatória:\n\nSempre que a pergunta envolver:\n\nValores\n\nPlanos\n\nPrazos\n\nRecursos técnicos\n\nEspecificações\n\nProcessos\n\nPolíticas\n\nHospedagem\n\nServidores\n\nConfigurações técnicas\n\n→ Consulte primeiro as ferramentas conectadas.\n\nNunca responda com base em conhecimento próprio.\n\nSe houver retorno da ferramenta:\n\nResponda exclusivamente com base nos dados encontrados.\n\nNunca revele a origem da informação.\n\nNunca mencione planilha, docs, MCP ou site externo.\n\nResuma em texto claro.\n\nSe listar planos, use formato numerado simples.\n\nSe NÃO houver informação na base:\n\nResponda:\n\n\"Não encontrei essa informação na base interna da Think Labs. Posso encaminhar sua solicitação para o time comercial pelo e-mail comercial@thinklabs.digital\n.\"\n\nNunca invente.\n\n🚫 4. PROIBIÇÃO ABSOLUTA DE INVENTAR\n\nÉ proibido:\n\nCriar valores\n\nCriar prazos\n\nCriar funcionalidades\n\nCriar links\n\nSupor informações\n\nCompletar lacunas sem confirmação\n\nSe a pergunta estiver incompleta:\nPeça esclarecimento antes de responder.\n\nExemplo:\n\"Você pode me informar qual serviço específico deseja verificar?\"\n\n🏢 5. ESCOPO OFICIAL DA THINK LABS\n\nA Think Labs:\n\nTrabalha apenas com WooCommerce ou desenvolvimento próprio.\n\nNão trabalha com outras plataformas de e-commerce.\n\nNão oferece serviço de redes sociais.\n\nÉ a marca atual (não mencionar Think Agency como empresa separada).\n\nNunca sugerir serviços fora desse escopo.\n\n🌐 6. REGRAS ESPECÍFICAS PARA HOSPEDAGEM E SERVIDORES\n\nSempre que a solicitação envolver hospedagem, servidor, e-mail, DNS, SSL, banco de dados ou painel:\n\nPASSO 1\n\nPerguntar primeiro o domínio do cliente.\n\nNunca fornecer instruções técnicas sem ter o domínio.\n\nPASSO 2\n\nConsultar a base interna e o site de help técnico do fornecedor.\n\nPASSO 3 – REGRA DE SUBSTITUIÇÃO OBRIGATÓRIA\n\nQuando utilizar conteúdo do site de help do fornecedor:\n\nSubstituir qualquer menção ao fornecedor por:\nImixCloud ou Think Labs (conforme contexto comercial).\n\nNunca mencionar o nome original do fornecedor.\n\nNunca enviar a URL original do site de help.\n\nAdaptar exemplos técnicos para utilizar o domínio informado pelo cliente.\n\nExemplo:\nSe o tutorial mencionar:\nusuario@seudominio.com\n\nSubstituir por:\nusuario@dominioinformado.com.br\n\nSempre usar o domínio real informado pelo cliente nas configurações e exemplos.\n\nACESSO AO PAINEL\n\nSempre informar exatamente:\n\n\"O acesso é feito pelo https://imixcloud.com.br\n.\nFaça login, clique no domínio no lado esquerdo da tela e depois em 'Painel' no lado direito. Assim abrirá a tela com o painel do servidor.\"\n\nÁrea de faturas:\nhttps://imixcloud.com.br\n\nNunca criar links adicionais.\n\nNunca alterar instruções técnicas da base, apenas substituir marca e domínio.\n\n👤 7. APRESENTAÇÃO E USO DO NOME\n\nSe for a primeira interação e ainda não souber o nome:\n\nApresente-se brevemente e peça o nome, mas sem deixar de responder a dúvida.\n\nEstrutura recomendada:\n\n\"Olá! Sou a Talita, agente de suporte da Think Labs.\nSobre sua dúvida: …\nPosso saber seu nome?\"\n\nNunca enviar mensagem apenas pedindo o nome.\n\nApós o cliente informar o nome:\n\nUse o nome nas respostas.\n\nNão usar mais saudações formais.\n\nComeçar naturalmente.\n\nExemplo:\n\"Carlos, sobre a configuração do SSL...\"\n\n📝 8. FORMATO DAS RESPOSTAS\n\nClaro e direto.\n\nEvitar textos longos desnecessários.\n\nUsar listas numeradas quando facilitar.\n\nNunca usar tabelas Markdown.\n\nNunca usar CSV ou JSON.\n\nNunca usar | ou *.\n\nNunca revelar origem dos dados.\n\nResponder como se fosse conhecimento interno oficial da Think Labs.\n\n🎯 9. TOM DE VOZ\n\nSempre:\n\nProfissional\n\nEducado\n\nAmigável\n\nLevemente leve\n\nObjetivo\n\nNunca:\n\nContar histórias pessoais\n\nFazer perguntas pessoais\n\nUsar ironia\n\nUsar gírias pesadas\n\nSair do foco profissional\n\n🔒 10. REGRA FINAL DE SEGURANÇA\n\nSe houver qualquer dúvida sobre a veracidade da informação:\n\nNão responda com suposição.\n\nInforme que a informação não foi encontrada na base interna.\n\nPrecisão sempre vem antes de completar a resposta."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2448,192],"id":"ac17efcd-a3aa-48ba-9dcf-9dade86b7fc0","name":"AI Agent"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3103e05-bcc7-4cee-abad-40eca70c14ef","leftValue":"={{ $json.MENSAGEM.Tipo_Mensagem }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto Estendido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.MENSAGEM.Tipo_Mensagem }}","rightValue":"=conversation","operator":{"type":"string","operation":"equals"},"id":"b892e0b4-293d-42e8-a0df-cb516b04f10d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edff6004-ab53-49c0-9fee-1fd94d86f485","leftValue":"={{ $json.MENSAGEM.Tipo_Mensagem }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f64a3e67-e953-427e-a9e0-143076c96db0","leftValue":"={{ $json.MENSAGEM.Tipo_Mensagem }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[608,112],"id":"6f6af6b5-c36e-4e88-a751-c900088f71db","name":"Switch"},{"parameters":{"documentId":{"__rl":true,"value":"14HrVAPipanqcXEAdJZR6NZzSHhSd5c1xvXnPhiZCsXE","mode":"list","cachedResultName":"Informações Imix Cloud","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14HrVAPipanqcXEAdJZR6NZzSHhSd5c1xvXnPhiZCsXE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Planos Cloud","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14HrVAPipanqcXEAdJZR6NZzSHhSd5c1xvXnPhiZCsXE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2608,480],"id":"1dbc867b-ebef-44e7-a246-c2c6a1d12a24","name":"Planilha Planos","credentials":{"googleSheetsOAuth2Api":{"id":"3UnmgZHxudzIzIkI","name":"IATARS - SHEETS"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1jixqGOYzo52ShP9YSFGUOlCiCy0NATgAsaY1ZyNm9dY/edit?usp=sharing"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[2816,480],"id":"89632bb9-2896-45df-bfe8-5440f701121c","name":"Doc Infos"},{"parameters":{"model":"openai/gpt-oss-safeguard-20b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[2192,480],"id":"78227822-75b0-4327-8260-a348cc1f2afa","name":"Groq Chat Model"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.Instancia }}","remoteJid":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.Quem_Enviou }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3296,48],"id":"1585f046-db4d-42f8-b050-18535ff77e9d","name":"Enviar texto"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"conteudo_principal","cssSelector":"article, .article-content, .entry-content, main, .content"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[3216,192],"id":"27806d69-1ed3-43f0-9839-b47a942f9d24","name":"HTML"},{"parameters":{"url":"https://help.hostoo.io","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3040,192],"id":"d4318e70-eb0e-4404-9dac-6c9f68ae015e","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"fae8f433-fcba-40f3-a844-38a5a156cdf1","name":"MENSAGEM.Instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"f05ef63d-4fcb-4ccb-a61b-4a98bf2d22c1","name":"MENSAGEM.ID","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"6fe47e73-1864-428d-8c41-025d44941d8b","name":"MENSAGEM.Quem_Enviou","value":"={{ $json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"301216ef-9a18-46e2-9c10-f13625ce71bd","name":"MENSAGEM.Mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"0950df2d-0102-42ec-ba98-d345f48f178e","name":"MENSAGEM.Tipo_Mensagem","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"ff5e0f16-5b57-488e-b60b-817dc94a3161","name":"MENSAGEM.Data_Hora","value":"={{\n  new Date($json.body.date_time)\n    .toLocaleString('pt-BR', {\n      timeZone: 'America/Sao_Paulo',\n      day: '2-digit',\n      month: '2-digit',\n      year: 'numeric',\n      hour: '2-digit',\n      minute: '2-digit',\n      second: '2-digit'\n    })\n    .replace(',', ' às')\n}}","type":"string"},{"id":"f33ae701-bfd1-4ffa-8f8e-0d48a2d23dd1","name":"MENSAGEM.FromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"e6f6e35a-4e3d-4beb-a1d9-0359bdab39d9","name":"CONFIG.keyl_grog_transcricao","value":"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","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,0],"id":"e27995c7-04e0-4761-853f-b03031ecaa6b","name":"Filtro Dados + Configs"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Filtro Dados + Configs').item.json.keyl_grog_transcricao }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"pt"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1088,304],"id":"cb90ee1a-b138-4e76-8af3-2a72e7ad0738","name":"HTTP Request"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.Instancia }}","messageId":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.ID }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[768,304],"id":"0a0e732e-818e-4472-8b50-dfcc4dfcf888","name":"Midia Audio 64"},{"parameters":{"amount":8},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1552,128],"id":"cf6d99a1-82e7-4d49-abc8-d9dd98435f62","name":"Time","webhookId":"8343bba1-9478-4b02-b822-1fbc810db957"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[928,304],"id":"1fa03e97-4b6f-42ac-8ddc-2680d104c35c","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"064a17a3-3679-4f64-9858-3be17d74cb03","name":"MENSAGEM.ID","value":"={{ $('Switch').item.json.MENSAGEM.ID }}","type":"string"},{"id":"5e478637-3058-466c-82b1-38779aac5d3e","name":"MENSAGEM.Instancia","value":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.Instancia }}","type":"string"},{"id":"bb755754-8323-4e3c-8f94-8dbfa64b0faa","name":"MENSAGEM.Quem_Enviou","value":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.Quem_Enviou }}","type":"string"},{"id":"537d90d2-457b-496d-8265-dfe42f2a25dd","name":"Mensagem","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1248,304],"id":"f3adb810-c58e-4b28-adc6-47d62199547f","name":"Ajuste Final Audio"},{"parameters":{"assignments":{"assignments":[{"id":"264ddd7f-38ea-4098-905a-5a7c1dd09449","name":"MENSAGEM.ID","value":"={{ $json.MENSAGEM.ID }}","type":"string"},{"id":"24640636-3fd9-4c56-98bc-bbb01fa52532","name":"MENSAGEM.Quem_Enviou","value":"={{ $json.MENSAGEM.Quem_Enviou }}","type":"string"},{"id":"1e61c95b-26ba-4053-8c06-e05c8e41b2fa","name":"MENSAGEM.Instancia","value":"={{ $json.MENSAGEM.Instancia }}","type":"string"},{"id":"399f7ffa-8353-4c6a-84cb-d2c2be68f183","name":"MENSAGEM.Mensagem","value":"={{ $json.MENSAGEM.Mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,128],"id":"63a51cf3-f3ef-4f83-93d3-55cf8390acf6","name":"Texto Padrão"},{"parameters":{"operation":"push","list":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.Quem_Enviou }}","messageData":"={{ \n  ($json.Mensagem || '') + ' ' + ($json.MENSAGEM?.Mensagem || '')\n}}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1408,128],"id":"1b9c4c6c-410a-4ea3-84f8-13e5f445684f","name":"Envia Dados","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"mensagens","key":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.Quem_Enviou }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1680,128],"id":"eae7333c-3406-41df-a720-33ad154b243c","name":"Busca Msg","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.Quem_Enviou }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2192,192],"id":"3f5e696b-9286-477f-b105-dcdce5c69969","name":"Redis","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.Quem_Enviou }}","sessionTTL":3600},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2432,480],"id":"bc91382e-e376-438c-b19b-ff1bc241a2d2","name":"Redis Chat Memory","credentials":{"redis":{"id":"eb93QKXEtpZuUane","name":"Redis account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.Instancia }}","remoteJid":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.Quem_Enviou }}","messageText":"Desculpe, esse tipo de mensagem ainda não é suportado. Por favor, envie texto ou áudio.","options_message":{"delay":1000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[768,496],"id":"c0685505-1a31-4297-a1d9-793f58afa96e","name":"Aviso Tipo Não Suportado"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cef24c36-1b75-4a22-8df9-a09473d3a12a","leftValue":"={{ $json.MENSAGEM.FromMe }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[368,0],"id":"c5976d13-90b7-4b19-8e47-602577640899","name":"Filtrar: Ignorar Mensagens Próprias"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1984,16],"id":"bc1917a5-aed9-4644-83a1-d38862f921a5","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"4bf95a07-5892-44b7-8e38-375402f0b72b","name":"MENSAGEM.Mensagem","value":"={{ $('Busca Msg').item.json.mensagens.join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1984,192],"id":"1db3b036-cd34-4024-ac17-17d9ea7f3c3b","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bd69b926-eb54-47c3-aab7-10bf88107c31","leftValue":"={{ $json.mensagens.last() }}","rightValue":"={{ $('Filtro Dados + Configs').item.json.MENSAGEM.Mensagem }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1824,128],"id":"931c8655-fc0e-4e5b-b90a-d185391c9b7a","name":"If"}],"connections":{"Webhook":{"main":[[{"node":"Filtro Dados + Configs","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Texto Padrão","type":"main","index":0}],[{"node":"Midia Audio 64","type":"main","index":0}],[],[{"node":"Aviso Tipo Não Suportado","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"Planilha Planos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Doc Infos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Filtro Dados + Configs":{"main":[[{"node":"Filtrar: Ignorar Mensagens Próprias","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Ajuste Final Audio","type":"main","index":0}]]},"Midia Audio 64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Time":{"main":[[{"node":"Busca Msg","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Ajuste Final Audio":{"main":[[{"node":"Envia Dados","type":"main","index":0}]]},"Texto Padrão":{"main":[[{"node":"Envia Dados","type":"main","index":0}]]},"Envia Dados":{"main":[[{"node":"Time","type":"main","index":0}]]},"Busca Msg":{"main":[[{"node":"If","type":"main","index":0}]]},"Redis":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Filtrar: Ignorar Mensagens Próprias":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"d9b2d97e-28ee-4ccc-9f1c-7b501bc33651","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-02T18:01:11.406Z","createdAt":"2026-03-02T18:01:11.406Z","role":"workflow:owner","workflowId":"zUj9S5L9qKaBXkU9","projectId":"W24N0g2dDZJdiV78"}],"activeVersion":null,"tags":[]}